<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>АСП</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div class="fixed_nav">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#">Консультационные услуги</a></li>
				<li><a href="#">Юридические услуги</a></li>
				<li><a href="#">Электронная сдача отчетности</a></li>
				<li><a href="#">Регистрация юридических лиц и индивидуальных предпринимателей</a></li>
				<li><a href="#">Бухгалтерский и налоговый учет</a></li>
			</ul>
		</div>
	</div>
	<header>
		<div class="main_container clearfix">
			<a href="index.html"><img src="images/logo.png" alt="Alt" class="logo"></a>
			<h1>бухгалтерские и<br> юридические услуги</h1>
			<div class="top_phone">
				<p>(3822) 33-93-53</p>
				<a href="communication.html">Связаться с нами</a>
			</div>
		</div>
	</header>
	<div class="main_nav">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#">Главная</a></li>
				<li><a href="#">ТСЖ</a></li>
				<li><a href="#">Услуги</a></li>
				<li><a href="#">Документы</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="toggle_menu">
	   			<a href="#menu" id="toggle"><span></span></a>
			</div>
		</div>
	</div>
<!-- END HEADER -->
<!-- LEFT SIDEBAR -->
	<div class="main_container clearfix">
		<ul class="breadcrumbs">
			<li><a href="index.html">Главная</a></li>
			<li><a href="index.html"> » Список ТСЖ</a></li>
			<li> » ТСЖ «Новый дом»</li>
		</ul>
		<div class="sidebar left_sidebar list_sidebar">
			<a href="#"><img src="images/banner_1.jpg" alt="Alt"></a>
			<a href="#"><img src="images/banner_2.jpg" alt="Alt"></a>
		</div>
<!-- END LEFT SIDEBAR -->
<!-- CONTENT -->
	<div class="main_content_wrapper">
		<div class="main_text first_title">
			<div class="title">ТСЖ «Новый дом»   Личный кабинет</div>
			<a href="#" class="other_links">квитанция</a>
			<table class="counter_wrap">
				<tr class="title_bg">
					<th>Счетчик</th>
					<th>№ квартиры</th>
					<th>показания</th>
				</tr>
				<tr>
					<td>Холодное водоснабжение</td>
					<td><input type="text"></td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td>Горячее водоснабжение</td>
					<td><input type="text"></td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td>Электричество</td>
					<td><input type="text"></td>
					<td><input type="text"></td>
				</tr>
			</table>
			<a href="#" class="other_links">задайте нам вопрос</a>
			<div class="paylinks">
				<a href="#"><img src="images/paylink1.png" alt="Alt"></a>
				<a href="#"><img src="images/paylink2.png" alt="Alt"></a>
				<a href="#"><img src="images/paylink3.png" alt="Alt"></a>
			</div>
		</div>
	</div>
<!-- END CONTENT -->
<!-- RIGHT SIDEBAR -->
		<div class="sidebar right_sidebar list_sidebar">
			<a href="#"><img src="images/banner_1.jpg" alt="Alt"></a>
			<a href="#"><img src="images/banner_2.jpg" alt="Alt"></a>
		</div>
	</div>
<!-- END RIGHT SIDEBAR -->
<!-- FOOTER -->
	<div class="footer_bg">
		<div class="main_container clearfix">
			<footer>
				<ul>
					<li class="title">О компании</li>
					<li><a href="#">Наши клиенты</a></li>
				</ul>
				<ul>
					<li class="title">полезные материалы</li>
					<li><a href="#">Недвижимость и земля</a></li>
					<li><a href="#">Юридические услуги</a></li>
					<li><a href="#">Регистрация юридических лиц и<br> индивидуальных предпринимателей</a></li>
					<li><a href="#">Бухгалтерский и налоговый учет</a></li>
					<li><a href="#">Суды</a></li>
				</ul>
				<ul>
					<li class="title">КОНТАКТНАЯ ИНФОРМАЦИЯ</li>
					<li>(3822) 33-93-53 </li>
					<li>г. Томск, ул. Пушкина 8</li>
				</ul>
				<div class="phone_bottom">
					<div class="title">ДЛЯ ОНЛАЙН КОНСУЛЬТАЦИИ ЗАПОЛНИТЕ ФОРМУ НИЖЕ</div>
					<form>
						<input type="text" name="name" placeholder="Ваше имя" class="bottom_input" required>
						<input type="text" name="phone" placeholder="Ваш телефон" class="bottom_input" required>
						<input type="submit" value="Перезвоните мне" class="bottom_submit">
					</form>
				</div>
			</footer>
		</div>
	</div>
<!-- END FOOTER -->
<div id="menu">
	<ul>
		<li><a href="#">Главная</a></li>
		<li><a href="#">ТСЖ</a></li>
		<li><a href="#">Услуги</a></li>
		<li><a href="#">Документы</a></li>
		<li><a href="#">Контакты</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>