<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Региональная энергетическая комиссия - департамент цен и тарифов Краснодарского края</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/jquery.mCustomScrollbar.css" rel="stylesheet">
	<link href="css/easy-responsive-tabs.css" rel="stylesheet">
	<link href="css/swiper.min.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<!-- HEADER	 -->
	<header>
		<div class="wrapper_w">
			<div class="main_container clearfix">
				<div class="logo clearfix">
					<a href="index.html" class="on_main"></a>
					<img src="images/logo.png" alt="Alt">
					<div class="logo_text">
						<div class="title">Региональная энергетическая комиссия -</div>
						<p>департамент цен и тарифов <br>
							Краснодарского края
						</p>
					</div>
				</div>
				<div class="search_wrap">
					<input type="text" class="search_input" name="search" placeholder="Поиск">
					<a href="#" class="search_button"></a>
				</div>
				<div class="clearfix clear_b"></div>
				<div class="header_right_side">
					<a href="#" title="Версия для слабовидящих" class="blind_button">Версия для слабовидящих</a>
					<a href="#" title="Контакты">Контакты</a><br>
					<a href="#" title="Версия для печати">Версия для печати</a>
					<a href="#" title="Карта сайта">Карта сайта</a>
				</div>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- MAIN NAV -->
	<div class="main_nav_bg clearfix">
		<div class="wrapper_w">
			<ul>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Электроэнергия</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Тепловая энергия</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">ТКО</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Холодное водоснабжение, водоотведение</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Газ</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Транспорт</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Медицина</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Твердое топливо</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Непроизводственная сфера</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Раскрытые информации</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">ЕИАС</span>
					</a>
				</li>
			</ul>
			<div class="toggle_menu">
				<a href="#menu" id="toggle"><span></span></a>
			</div>
		</div>
	</div>
<!-- END MAIN NAV -->
<!-- TABS -->
	<div class="tabs_wrapper">
		<div class="wrapper_w clearfix">
			<ul>
				<li><a href="#" class="active_first">Информационный центр</a></li>
				<li><a href="#">О комиссии</a></li>
				<li><a href="#">Деятельность</a></li>
				<li><a href="#" class="active">Приказы</a>
					<ul class="sub_menu">
						<li><a href="#">Онлайн-обучение</a></li>
						<li><a href="#">Очное обучение</a></li>
						<li><a href="#">Консультации по бизнесу</a></li>
						<li><a href="#">Конкурс «Молодой преприминиматель России»</a></li>
						<li><a href="#">Игровой квест для школьников</a></li>
						<li><a href="#">Конгресс «Молодые миллионеры Сибири»</a></li>
					</ul>
				</li>
				<li><a href="#">Уровни тарифов</a></li>
				<li><a href="#">Мониторинг цен</a></li>
				<li><a href="#">Контрольная деятельность</a></li>
			</ul>
		</div>
	</div>
<!-- END TABS -->
<!-- MAIN CONTENT -->
	<div class="main_content_wrap">
		<div class="wrapper_w clearfix">
			<div class="main_container clearfix">
				<div class="col_content1">
					<div class="title">Важная информация</div>
					<ul>
						<li class="clearfix"><a href="#tab1">Противодействие коррупции</a></li>
						<li class="clearfix"><a href="#tab2">В помощь предпринимателю</a></li>
						<li class="clearfix"><a href="#tab3">Оценка регулирующего воздействия</a></li>
						<li class="clearfix"><a href="#tab4">Обращения граждан</a></li>
						<li class="clearfix"><a href="#tab5">Ограничения платы граждан за <br>коммунальные услуги</a></li>
					</ul>
					<iframe width="405" height="226" src="https://www.youtube.com/embed/FJR2CSlqkJ8"  allowfullscreen></iframe>
				</div>
				<div class="col_content2">
					<div class="title"><a href="#">Новости</a></div>
					<div class="news_wrap">
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
					</div>
				</div>
				<div class="col_content3">
					<div class="border_block">
						<div class="title"><a href="#">Приказы</a></div>
						<div id="demotab">
							<ul class="resp-tabs-list hor_1 clearfix">
								<li><img src="images/tab_icon1.png" alt="">Газ</li>
								<li><img src="images/tab_icon2.png" alt="">Транспорт</li>
								<li><img src="images/tab_icon3.png" alt="">Медицина</li>
								<li><img src="images/tab_icon4.png" alt="">Твердое топливо</li>
							</ul>
							<div class="resp-tabs-container hor_1">
								<div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
								</div>
								<div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
								</div>
								<div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
								</div>
								<div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
									<div class="news_block">
										<div class="date">04.11.16</div>
										<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
				<div class="col_content4">
					<div class="swiper-container1">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="red_phone_block">
									<div class="title">Горячая линия</div>
									<p>(861) 267-54-51</p>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="red_phone_block">
									<div class="title">Горячая линия</div>
									<p>(861) 267-54-51</p>
								</div>
							</div>
						</div>
					</div>
					<div class="border_block">
					<div class="title"><img src="images/melting_icon.png" alt="Alt"><a href="#">Правление</a></div>
						<div class="brd">
							<div class="news_block">
								<div class="date">04.11.16</div>
								<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
							</div>
							<div class="news_block">
								<div class="date">04.11.16</div>
								<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
							</div>
							<div class="news_block">
								<div class="date">04.11.16</div>
								<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
							</div>
						</div>
					</div>
					<div class="border_block">
					<div class="title"><img src="images/public_icon.png" alt="Alt"><a href="#">Общественный <br>совет</a></div>
					<div class="brd">
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
						<div class="news_block">
							<div class="date">04.11.16</div>
							<p><a href="#">28 октября 2016 года состоялось очередное заседание Межотраслевого совета потребителей по вопросам деятельности естественных монополий при главе администрации (губернаторе).</a></p>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END MAIN CONTENT -->
<!-- PARTNERS -->
	<div class="partners_wrap">
		<div class="wrapper_w">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img1.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img2.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img3.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img4.png" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img5.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img1.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img2.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img3.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img4.png" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img5.jpg" alt="Alt"></a></div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
	</div>
<!-- END PARTNERS -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="main_container clearfix">
				<img src="images/rambler.png" alt="Alt">
				<div class="copyright">2008© Региональная энергетическая комиссия —департамент цен и тарифов Краснодарского края. <br><span>При перепечатке и использовании информации ссылка на источник обязательна.</span></div>
				<div class="dev">Разработано - <a href="www.tm-start.ru">ООО "Триумф-Маркетинг"</a></div>
			</div>
		</footer>
	</div>
<!-- END FOOTER -->
</div>
<div id="menu">
	<ul>
		<li><a href="#" class="ontop1">Электроэнергия</a></li>
		<li><a href="#" class="ontop2">Тепловая энергия</a></li>
		<li><a href="#" class="ontop3">ТКО</a></li>
		<li><a href="#" class="ontop4">Холодное водоснабжение,водоотведение</a></li>
		<li><a href="#" class="ontop6">Газ</a></li>
		<li><a href="#" class="ontop7">Транспорт</a></li>
		<li><a href="#" class="ontop8">Медицина</a></li>
		<li><a href="#">Твердое топливо</a></li>
		<li><a href="#">Непроизводственная сфера</a></li>
		<li><a href="#">Раскрытые информации</a></li>
		<li><a href="#">ЕИАС</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/easyResponsiveTabs.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>