<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Региональная энергетическая комиссия - департамент цен и тарифов Краснодарского края</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/jquery.mCustomScrollbar.css" rel="stylesheet">
	<link href="css/easy-responsive-tabs.css" rel="stylesheet">
	<link href="css/swiper.min.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" media="all" />
</head>
<body>
<div id="wrapper">
<!-- HEADER	 -->
	<header>
		<div class="wrapper_w">
			<div class="main_container clearfix">
				<div class="logo clearfix">
					<a href="index.html" class="on_main"></a>
					<img src="images/logo.png" alt="Alt">
					<div class="logo_text">
						<div class="title">Региональная энергетическая комиссия -</div>
						<p>департамент цен и тарифов <br>
							Краснодарского края
						</p>
					</div>
				</div>
				<div class="search_wrap">
					<input type="text" class="search_input" name="search" placeholder="Поиск">
					<a href="#" class="search_button"></a>
				</div>
				<div class="clearfix clear_b"></div>
				<div class="header_right_side">
					<a href="#" title="Версия для слабовидящих" class="blind_button">Версия для слабовидящих</a>
					<a href="#" title="Контакты">Контакты</a><br>
					<a href="#" title="Версия для печати">Версия для печати</a>
					<a href="#" title="Карта сайта">Карта сайта</a>
				</div>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- MAIN NAV -->
	<div class="main_nav_bg clearfix">
		<div class="wrapper_w">
			<ul>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Электроэнергия</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Тепловая энергия</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">ТКО</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Холодное водоснабжение, водоотведение</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Газ</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Транспорт</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Медицина</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Твердое топливо</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Непроизводственная сфера</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Раскрытые информации</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">ЕИАС</span>
					</a>
				</li>
			</ul>
			<div class="toggle_menu">
				<a href="#menu" id="toggle"><span></span></a>
			</div>
		</div>
	</div>
<!-- END MAIN NAV -->
<!-- TABS -->
	<div class="tabs_wrapper">
		<div class="wrapper_w clearfix">
			<ul>
				<li><a href="#" class="active">Информационный центр</a></li>
				<li><a href="#">О комиссии</a></li>
				<li><a href="#">Деятельность</a></li>
				<li><a href="#">Приказы</a>
					<ul class="sub_menu">
						<li><a href="#">Онлайн-обучение</a></li>
						<li><a href="#">Очное обучение</a></li>
						<li><a href="#">Консультации по бизнесу</a></li>
						<li><a href="#">Конкурс «Молодой преприминиматель России»</a></li>
						<li><a href="#">Игровой квест для школьников</a></li>
						<li><a href="#">Конгресс «Молодые миллионеры Сибири»</a></li>
					</ul>
				</li>
				<li><a href="#">Уровни тарифов</a></li>
				<li><a href="#">Мониторинг цен</a></li>
				<li><a href="#">Контрольная деятельность</a></li>
			</ul>
		</div>
	</div>
<!-- END TABS -->
<!-- MAIN CONTENT -->
	<div class="main_content_wrap gas_content">
		<div class="wrapper_w clearfix">
			<div class="main_container clearfix">
				<div class="col_content1">
					<div class="red_phone_block">
						<div class="title">Горячая линия</div>
						<p>(861) 267-54-51</p>
					</div>
					<div class="title">Информационный центр</div>
					<hr>
					<div id="demotab2">
						<ul class="resp-tabs-list hor_1 clearfix">
							<li><span>Центр</span></li>
							<li><span>Пресс-релизы</span></li>
							<li><span>Информационные письма</span></li>
							<li><span>Запросы о предоставлении <br>информации</span></li>
							<li><span>Реализация указов президента<br> РФ от 7 мая 2012 года</span></li>
							<li><span>Информирование о ЧС</span></li>
							<li><span>Опросный лист для <br>пользователей информации</span></li>
						</ul>
						<div class="resp-tabs-container hor_1">
							<div>
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
								</ul>
							</div>
							<div>
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
								</ul>
							</div>
							<div class="resp-tab-content-active"> 
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">Федеральные органы <br>исполнительной власти</a>
										<ul class="list_inside">
											<li><a href="#">ФСТ России</a></li>
											<li><a href="#">Минрегион России</a></li>
											<li><a href="#">Минэнерго России</a></li>
										</ul>
									</li>
									<li><a href="#">Органы исполнительной <br>власти Краснодарского края </a></li>
								</ul>
							</div>
							<div>
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
								</ul>
							</div>
							<div>
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
								</ul>
							</div>
							<div>
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
								</ul>
							</div>
							<div>
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="title">Важная информация</div>
					<ul>
						<li class="clearfix"><a href="#tab1">Противодействие коррупции</a></li>
						<li class="clearfix"><a href="#tab2">В помощь предпринимателю</a></li>
						<li class="clearfix"><a href="#tab3">Оценка регулирующего воздействия</a></li>
						<li class="clearfix"><a href="#tab4">Обращения граждан</a></li>
						<li class="clearfix"><a href="#tab5">Ограничения платы граждан за <br>коммунальные услуги</a></li>
					</ul>
				</div>
				<div class="col_content_x">
					<ul class="breadcrumbs">
						<li><a href="#">Главная</a><span></span></li>
						<li><a href="#">Приказы</a><span></span></li>
						<li>Общие</li>
					</ul>
					<h1>Общие</h1>
					<hr>
					<div class="info_prisma_wrap obshie-wrap">
						<div class="info_prisma_block clearfix">
							<div class="date">16 ноября 2016 г. <br>г.Краснодар</div>
							<div class="inv">№ 14/2016</div>
							<div class="clearfix"></div>
							<div class="text"><img src="images/gas_icon.png" alt="Alt"><a href="#">Об установлении предельных индексов максимально возможного изменения установленных тарифов на услуги организаций коммунального комплекса с учетом надбавок к тарифам на услуги организаций коммунального комплекса в среднем по муниципальным образованиям Краснодарского края на 2017-2019 годы</a></div>
						</div>
						<div class="info_prisma_block clearfix">
							<div class="date">09 ноября 2016 г. <br>г.Краснодар</div>
							<div class="inv">№ 13/2016</div>
							<div class="clearfix"></div>
							<div class="text"><img src="images/gas_icon.png" alt="Alt"><a href="#">О результатах проведения мониторинга выполнения производственных программ</a></div>
						</div>
						<div class="info_prisma_block clearfix">
							<div class="date">04 октября 2016 г. <br>г.Краснодар</div>
							<div class="inv">№ 132/2016</div>
							<div class="clearfix"></div>
							<div class="text"><img src="images/gas_icon.png" alt="Alt"><a href="#">Об утверждении порядка обеспечения доступа к информации о деятельности региональной энергетической комиссии — департамента цен и тарифов Краснодарского края»</a></div>
						</div>
						<div class="info_prisma_block clearfix">
							<div class="date">28 сентября 2016 г. <br>г.Краснодар</div>
							<div class="inv">№ 12/2016</div>
							<div class="clearfix"></div>
							<div class="text"><img src="images/gas_icon.png" alt="Alt"><a href="#">О внесении изменений в отдельные приказы региональной энергетической комиссии — департамента цен и тарифов Краснодарского краяя</a></div>
						</div>
						<div class="info_prisma_block clearfix">
							<div class="date">26 августа 2016 г. <br>г.Краснодар</div>
							<div class="inv">№ 102/2016</div>
							<div class="clearfix"></div>
							<div class="text"><img src="images/gas_icon.png" alt="Alt"><a href="#">Об утверждении методики прогнозирования поступлений доходов в краевой бюджет, главным администратором доходов по которым является региональная энергетическая комиссия — департамент цен и тарифов Краснодарского края</a></div>
						</div>
						<div class="info_prisma_block clearfix">
							<div class="date">10 августа 2016 г. <br>г.Краснодар</div>
							<div class="inv">№ 11/2016</div>
							<div class="clearfix"></div>
							<div class="text"><img src="images/gas_icon.png" alt="Alt"><a href="#">О результатах проведения мониторинга выполнения производственных программ</a></div>
						</div>
						<div class="info_prisma_block clearfix">
							<div class="date">29 июня 2016 г. <br>г.Краснодар</div>
							<div class="inv">№ 80/2016</div>
							<div class="clearfix"></div>
							<div class="text"><img src="images/gas_icon.png" alt="Alt"><a href="#">Об утверждении порядка принятия региональной энергетической комиссией – департаментом цен и тарифов Краснодарского края решений о признании безнадежной к взысканию задолженности по платежам в краевой бюджет и ее списанию (восстановлению)</a></div>
						</div><div class="info_prisma_block clearfix">
						<div class="date">16 мая 2016 г. <br>г.Краснодар</div>
							<div class="inv">№ 8/2016</div>
							<div class="clearfix"></div>
						<div class="text"><img src="images/gas_icon.png" alt="Alt"><a href="#">О результатах проведения мониторинга выполнения производственных программ</a></div>
					</div>
					<div class="info_prisma_block clearfix">
						<div class="date">02 декабря 2015 г. <br>г.Краснодар</div>
						<div class="inv">№ 14/2016</div>
							<div class="clearfix"></div>
						<div class="text"><img src="images/gas_icon.png" alt="Alt"><a href="#">Письмо от 28.11.2015 № 57-10346/15-05 «О расчетах за электрическую энергию»</a></div>
					</div>
					<div class="info_prisma_block clearfix">
						<div class="date">01 апреля 2016 г. <br>г.Краснодар</div>
						<div class="inv">№ 4/2016</div>
						<div class="clearfix"></div>
						<div class="text"><img src="images/gas_icon.png" alt="Alt"><a href="#">О внесении изменений в приказ региональной энергетической комиссии – департамента цен и тарифов Краснодарского края от 30.05.2008 № 6/2008-ЖКХ «О Порядке определения размера платы за жилые помещения, находящиеся в собственности Краснодарского края, для граждан, проживающих в жилых помещениях домов системы социального обслуживания населения, а также в общежитиях, если в одной комнате в общежитии проживают несколько граждан»</a></div>
					</div>
					</div>
					<div class="year_wrap">				
						<a href="#">2016</a>   
						<a href="#">2015</a>   
						<a href="#">2014</a>   
						<a href="#">2013</a>   
						<a href="#">2012</a>   
						<a href="#">2011</a>   
						<a href="#">2010</a>   
						<a href="#">2009</a>   
						<a href="#">2008</a>   
						<a href="#">2007</a>   
						<a href="#">2006</a>   
						<a href="#">2005</a>   
						<a href="#">2004</a>   
						<a href="#">2003</a>  
					</div>
					<ul class="pagination">
						<li><a href="#">1,</a></li>
						<li><a href="#" class="active">2</a></li>
					</ul>
				</div>				
			</div>
		</div>
	</div>
<!-- END MAIN CONTENT -->
<!-- PARTNERS -->
	<div class="partners_wrap">
		<div class="wrapper_w">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img1.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img2.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img3.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img4.png" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img5.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img1.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img2.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img3.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img4.png" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img5.jpg" alt="Alt"></a></div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
	</div>
<!-- END PARTNERS -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="main_container clearfix">
				<img src="images/rambler.png" alt="Alt">
				<div class="copyright">2008© Региональная энергетическая комиссия —департамент цен и тарифов Краснодарского края. <br><span>При перепечатке и использовании информации ссылка на источник обязательна.</span></div>
			</div>
		</footer>
	</div>
<!-- END FOOTER -->
</div>
<div id="menu">
	<ul>
		<li><a href="#" class="ontop1">Электроэнергия</a></li>
		<li><a href="#" class="ontop2">Тепловая энергия</a></li>
		<li><a href="#" class="ontop3">ТКО</a></li>
		<li><a href="#" class="ontop4">Холодное водоснабжение,водоотведение</a></li>
		<li><a href="#" class="ontop6">Газ</a></li>
		<li><a href="#" class="ontop7">Транспорт</a></li>
		<li><a href="#" class="ontop8">Медицина</a></li>
		<li><a href="#">Твердое топливо</a></li>
		<li><a href="#">Непроизводственная сфера</a></li>
		<li><a href="#">Раскрытые информации</a></li>
		<li><a href="#">ЕИАС</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/easyResponsiveTabs.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>