<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Региональная энергетическая комиссия - департамент цен и тарифов Краснодарского края</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/jquery.mCustomScrollbar.css" rel="stylesheet">
	<link href="css/easy-responsive-tabs.css" rel="stylesheet">
	<link href="css/swiper.min.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" media="all" />
</head>
<body>
<div id="wrapper">
<!-- HEADER	 -->
	<header>
		<div class="wrapper_w">
			<div class="main_container clearfix">
				<div class="logo clearfix">
					<a href="index.html" class="on_main"></a>
					<img src="images/logo.png" alt="Alt">
					<div class="logo_text">
						<div class="title">Региональная энергетическая комиссия -</div>
						<p>департамент цен и тарифов <br>
							Краснодарского края
						</p>
					</div>
				</div>
				<div class="search_wrap">
					<input type="text" class="search_input" name="search" placeholder="Поиск">
					<a href="#" class="search_button"></a>
				</div>
				<div class="clearfix clear_b"></div>
				<div class="header_right_side">
					<a href="#" title="Версия для слабовидящих" class="blind_button">Версия для слабовидящих</a>
					<a href="#" title="Контакты">Контакты</a><br>
					<a href="#" title="Версия для печати">Версия для печати</a>
					<a href="#" title="Карта сайта">Карта сайта</a>
				</div>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- MAIN NAV -->
	<div class="main_nav_bg clearfix">
		<div class="wrapper_w">
			<ul>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Электроэнергия</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Тепловая энергия</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">ТКО</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Холодное водоснабжение, водоотведение</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Газ</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Транспорт</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Медицина</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Твердое топливо</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Непроизводственная сфера</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">Раскрытые информации</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon_nav"></span>
						<br>
						<span class="title">ЕИАС</span>
					</a>
				</li>
			</ul>
			<div class="toggle_menu">
				<a href="#menu" id="toggle"><span></span></a>
			</div>
		</div>
	</div>
<!-- END MAIN NAV -->
<!-- TABS -->
	<div class="tabs_wrapper">
		<div class="wrapper_w clearfix">
			<ul>
				<li><a href="#" class="active">Информационный центр</a></li>
				<li><a href="#">О комиссии</a></li>
				<li><a href="#">Деятельность</a></li>
				<li><a href="#">Приказы</a>
					<ul class="sub_menu">
						<li><a href="#">Онлайн-обучение</a></li>
						<li><a href="#">Очное обучение</a></li>
						<li><a href="#">Консультации по бизнесу</a></li>
						<li><a href="#">Конкурс «Молодой преприминиматель России»</a></li>
						<li><a href="#">Игровой квест для школьников</a></li>
						<li><a href="#">Конгресс «Молодые миллионеры Сибири»</a></li>
					</ul>
				</li>
				<li><a href="#">Уровни тарифов</a></li>
				<li><a href="#">Мониторинг цен</a></li>
				<li><a href="#">Контрольная деятельность</a></li>
			</ul>
		</div>
	</div>
<!-- END TABS -->
<!-- MAIN CONTENT -->
	<div class="main_content_wrap gas_content">
		<div class="wrapper_w clearfix">
			<div class="main_container clearfix">
				<div class="col_content1">
					<div class="red_phone_block">
						<div class="title">Горячая линия</div>
						<p>(861) 267-54-51</p>
					</div>
					<div class="title">Информационный центр</div>
					<hr>
					<div id="demotab2">
						<ul class="resp-tabs-list hor_1 clearfix">
							<li><span>Центр</span></li>
							<li><span>Пресс-релизы</span></li>
							<li><span>Информационные письма</span></li>
							<li><span>Запросы о предоставлении <br>информации</span></li>
							<li><span>Реализация указов президента<br> РФ от 7 мая 2012 года</span></li>
							<li><span>Информирование о ЧС</span></li>
							<li><span>Опросный лист для <br>пользователей информации</span></li>
						</ul>
						<div class="resp-tabs-container hor_1">
							<div>
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
								</ul>
							</div>
							<div>
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
								</ul>
							</div>
							<div class="resp-tab-content-active"> 
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">Федеральные органы <br>исполнительной власти</a>
										<ul class="list_inside">
											<li><a href="#">ФСТ России</a></li>
											<li><a href="#">Минрегион России</a></li>
											<li><a href="#">Минэнерго России</a></li>
										</ul>
									</li>
									<li><a href="#">Органы исполнительной <br>власти Краснодарского края </a></li>
								</ul>
							</div>
							<div>
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
								</ul>
							</div>
							<div>
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
								</ul>
							</div>
							<div>
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
								</ul>
							</div>
							<div>
								<ul class="list_inside">
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
									<li><a href="#">РЭК-департамент</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="title">Важная информация</div>
					<ul>
						<li class="clearfix"><a href="#tab1">Противодействие коррупции</a></li>
						<li class="clearfix"><a href="#tab2">В помощь предпринимателю</a></li>
						<li class="clearfix"><a href="#tab3">Оценка регулирующего воздействия</a></li>
						<li class="clearfix"><a href="#tab4">Обращения граждан</a></li>
						<li class="clearfix"><a href="#tab5">Ограничения платы граждан за <br>коммунальные услуги</a></li>
					</ul>
				</div>
				<div class="col_content_x">
					<ul class="breadcrumbs">
						<li><a href="#">Главная</a><span></span></li>
						<li><a href="#">О комиссии</a><span></span></li>
						<li><a href="#">Кадровое обеспечение</a><span></span></li>
						<li> Порядок поступления граждан на госслужбу</li>
					</ul>
					<h1> Порядок поступления граждан на госслужбу</h1>
					<hr>
					<div class="text_page_wrap">
						<p>«Порядок поступления граждан на государственную гражданскую службу<br>
							Право на участие в конкурсе имеют граждане Российской Федерации, достигшие возраста 18 лет, владеющие государственным языком Российской Федерации и соответствующие установленным законодательством Российской Федерации и Краснодарского края о государственной гражданской службе квалификационным требованиям к вакантной должности гражданской службы.</p>

							<p>Гражданский служащий вправе на общих основаниях участвовать в конкурсе независимо от того, какую должность он замещает на период проведения конкурса.</p>

							<p>Условия прохождения гражданской службы:
								служебное (рабочее) время пятидневная рабочая неделя, ненормированный рабочий день; 
								оплата труда устанавливается Законом Краснодарского края от 12 марта 2007 года № 1204-КЗ «О денежном содержании государственных гражданских служащих Краснодарского края», иными соответствующими федеральными законами, правовыми актами Российской Федерации и Краснодарского края; 
								предоставляется ежегодный оплачиваемый отпуск с сохранением замещаемой должности гражданской службы и денежного содержания в соответствии с Федеральным законом от 27 июля 2004 года № 79-ФЗ «О государственной гражданской службе Российской Федерации»; 
								обеспечиваются надлежащие организационно-технические условия, необходимые для исполнения должностных обязанностей: оборудование служебного места средствами связи, оргтехникой, доступ к информационным системам;
								предоставляются основные государственные гарантии, указанные в статье 52 Федерального закона от 27 июля 2004 года № 79-ФЗ «О государственной гражданской службе Российской Федерации», а при определенных условиях, предусмотренных законодательством Российской Федерации и Краснодарского края, дополнительные государственные гарантии, указанные в статье 53 Федерального закона от 27 июля 2004 года № 79-ФЗ «О государственной гражданской службе Российской Федерации»; 
								в целях проверки соответствия замещаемой должности государственной гражданской службы Краснодарского края устанавливается испытательный срок;
								возможно командирование по Краснодарского краю.</p>

								<p>Гражданин Российской Федерации, изъявивший желание участвовать в конкурсе, представляет следующие документы:
									а) личное заявление на имя руководителя региональной энергетической комиссии–департамента цен и тарифов Краснодарского края;
									б) собственноручно заполненную и подписанную анкету, форма которой утверждена Правительством Российской Федерации от 26 мая 2005 года № 667-р, с приложением фотографии размером 3 х 4 см;
									в) копию паспорта или заменяющего его документа (соответствующий документ предъявляется лично по прибытии на конкурс);
									г) документы, подтверждающие необходимое профессиональное образование, квалификацию и стаж работы:</p>

									<p>копию трудовой книжки, заверенную нотариально или кадровой службой по месту работы (службы), или иные документы, подтверждающие трудовую (служебную) деятельность гражданина;
										копии документов об образовании и о квалификации, а также по желанию гражданина копии документов, подтверждающих повышение или присвоение квалификации по результатам дополнительного профессионального образования, документов о присвоении ученой степени, ученого звания, заверенные нотариально или кадровой службой по месту работы (службы);
										д) документ об отсутствии у гражданина заболевания, препятствующего поступлению на гражданскую службу или ее прохождению - заключение медицинского учреждения о наличии (отсутствии) заболевания, препятствующего поступлению на государственную гражданскую службу Российской Федерации и муниципальную службу или ее прохождению (форма № 001-ГС/у, утверждена приказом Минздравсоцразвития России от 14.12.2010 № 984н);
										е) справку о доходах, об имуществе и обязательствах имущественного характера (для претендующего на замещение должности государственной гражданской службы Краснодарского края и для его супруги (супруга) и несовершеннолетних детей гражданина Российской Федерации (форма утверждена Указом Президента Российской Федерации от 23 июня 2014 года № 460 «Об утверждении формы справки о доходах, расходах, об имуществе и обязательствах имущественного характера и внесении изменений в некоторые акты Президента Российской Федерации»);
										ж) копию военного билета для военнообязанных.
										Гражданский служащий, замещающий должность гражданской службы в ином государственном органе и изъявивший желание участвовать в конкурсе, представляет заявление на имя руководителя региональной энергетической комиссии — департамента цен и тарифов Краснодарского края и собственноручно заполненную, подписанную и заверенную кадровой службой государственного органа, в котором гражданский служащий замещает должность гражданской службы, анкету, форма которой утверждена Правительством Российской Федерации от 26 мая 2005 года № 667-р, с приложением фотографии размером 3×4 см.</p>

										<p>Гражданин (гражданский служащий) не допускается к участию в конкурсе в связи с его несоответствием квалификационным требованиям к вакантной должности гражданской службы, а также в связи с ограничениями, установленными законодательством Российской Федерации о государственной гражданской службе для поступления на гражданскую службу и ее прохождения.</p>

										<p>Поступление гражданина на государственную гражданскую службу Краснодарского края осуществляется в соответствии со статьей 13 Закона Краснодарского края от 31 мая 2005 года № 870-КЗ «О государственной гражданской службе Краснодарского края» по результатам конкурса, если иное не установлено Федеральным законом от 27 июля 2004 года № 79 «О государственной гражданской службе Российской Федерации».</p>

										<p>Для проведения конкурса на замещение вакантной должности государственной гражданской службы в региональной энергетической комиссии — департаменте цен и тарифов Краснодарского края образована конкурсная комиссия.</p>

										<p>Информация о конкурсе размещается на сайте региональной энергетической комиссии — департамента цен и тарифов Краснодарского края (www.rek23.ru), на Федеральном портале государственной службы и управленческих кадров (www.gossluzhba.gov.ru), направляется в ГКУ КК «Центр занятости населения города Краснодара».</p>

										<p>Конкурс проводится в два этапа. На первом этапе, на основании изучения представленных документов, определяется соответствие кандидата установленным квалификационным требованиям.</p>

										<p>На втором этапе оценивается уровень профессиональной подготовки кандидатов, проводятся конкурсные процедуры (тестирование и индивидуальное собеседование).</p>

										<p>Конкурс заключается в оценке профессионального уровня претендентов на замещение должности государственной гражданской службы, их соответствия установленным квалификационным требованиям к должности государственной гражданской службы.</p>

										<p>При проведении конкурса конкурсная комиссия оценивает кандидатов на основании представленных ими документов об образовании, прохождении гражданской или иной государственной службы, осуществлении другой трудовой деятельности, а также на основе выбранных конкурсных процедур: тестирование и индивидуальное собеседование.</p>

										<p>Тестовые испытания кандидатов проводятся в письменной форме. Кандидатура для замещения вакантной должности государственной гражданской службы определяется по результатам проведения конкурса открытым голосованием простым большинством голосов членов конкурсной комиссии, присутствующих на заседании.</p>

										<p>Решение конкурсной комиссии принимается в отсутствии кандидата, оформляется протоколом, после чего издается приказ региональной энергетической комиссии–департамента цен и тарифов Краснодарского края о победителях конкурса и включении в кадровый резерв (в случае, если соответствующее решение будет принято конкурсной комиссией). По результатам конкурса издается приказ о назначении победителя конкурса на вакантную должность гражданской службы и заключается служебный контракт с победителем конкурса.</p>

										<p>Сообщения о результатах конкурса направляются в письменной форме кандидатам в 7-дневный срок со дня его завершения. Информация о результатах конкурса также размещается в указанный срок на сайте региональной энергетической комиссии — департамента цен и тарифов Краснодарского края (www.rek23.ru).</p>

										<p>Документы кандидатов, участвовавших в конкурсе, могут быть им возвращены по письменному заявлению в течение трех лет со дня завершения конкурса.</p>

										<p>Дополнительную информацию можно получить по телефонам:</p>

										<p>(861) 267-08-24, 268-28-89 ежедневно, с 9.00 до 18.00 часов в рабочие дни.</p>

										<p>Нормативно-правовые документы, необходимые для подготовки к конкурсу:</p>

										<p>1. Конституция Российской Федерации. <br>
											2. Федеральный закон от 27 июля 2004 года № 79-ФЗ «О государственной гражданской службе Российской Федерации».
											3. Федеральный закон от 25 декабря 2008 года № 273-ФЗ «О противодействии коррупции».<br>
											4. Указ Президента Российской Федерации от 1 февраля 2005 года № 112 «О конкурсе на замещение вакантной должности государственной гражданской службы Российской Федерации».<br>
											5. Устав Краснодарского края.<br>
											6. Закон Краснодарского края от 31 мая 2005 года № 870-КЗ «О государственной гражданской службе Краснодарского края».<br>
											7. Положение о региональной энергетической комиссии – департаменте цен и тарифов Краснодарского края.</p>
					</div>
				</div>					
			</div>
		</div>
	</div>
<!-- END MAIN CONTENT -->
<!-- PARTNERS -->
	<div class="partners_wrap">
		<div class="wrapper_w">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img1.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img2.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img3.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img4.png" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img5.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img1.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img2.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img3.jpg" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img4.png" alt="Alt"></a></div>
					<div class="swiper-slide"><a href="#" class="partners_block"><img src="images/partners_img5.jpg" alt="Alt"></a></div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
	</div>
<!-- END PARTNERS -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="main_container clearfix">
				<img src="images/rambler.png" alt="Alt">
				<div class="copyright">2008© Региональная энергетическая комиссия —департамент цен и тарифов Краснодарского края. <br><span>При перепечатке и использовании информации ссылка на источник обязательна.</span></div>
			</div>
		</footer>
	</div>
<!-- END FOOTER -->
</div>
<div id="menu">
	<ul>
		<li><a href="#" class="ontop1">Электроэнергия</a></li>
		<li><a href="#" class="ontop2">Тепловая энергия</a></li>
		<li><a href="#" class="ontop3">ТКО</a></li>
		<li><a href="#" class="ontop4">Холодное водоснабжение,водоотведение</a></li>
		<li><a href="#" class="ontop6">Газ</a></li>
		<li><a href="#" class="ontop7">Транспорт</a></li>
		<li><a href="#" class="ontop8">Медицина</a></li>
		<li><a href="#">Твердое топливо</a></li>
		<li><a href="#">Непроизводственная сфера</a></li>
		<li><a href="#">Раскрытые информации</a></li>
		<li><a href="#">ЕИАС</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/easyResponsiveTabs.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>