<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>iFresh</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<link href="css/main.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<div class="main_nav ">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#" class="ontop1">Главная</a></li>
				<li><a href="#" class="ontop2">О нас</a></li>
				<li><a href="#" class="ontop3">Почему мы</a></li>
				<li><a href="#" class="ontop4">Видео</a></li>
				<li><a href="#" class="ontop6">Характеристики</a></li>
				<li><a href="#" class="ontop7">Вопрос/ответ</a></li>
				<li><a href="#" class="ontop8">Контакты</a></li>
			</ul>
			<div class="toggle_menu">
				<a href="#menu" id="toggle"><span></span></a>
			</div>
		</div>
	</div>
	<div class="main_container clearfix">
		<header class="clearfix some_top1" id="header">
			<div class="logo">
				<img src="images/logo.png" alt="Alt">
				<p>Компактные вентиляционные установки</p>
			</div>
			<div class="main_title">
				<p>Бесплатная доставка<br>
					Комплект фильтров на 1 год в подарок!
				</p>
				<span>Монтаж 5000 руб.</span>
			</div>
			<div class="phone_top">
				<p>+7 (812) 953-16-20</p>
				<a href="#" class="open_modal">Заказать звонок</a>
			</div>
		</header>
	</div>
	<div class="clearfix"></div>
<!-- END HEADER	 -->
<!-- MAIN SLIDER -->
	<div class="main_slider_bg clearfix">
		<div class="main_container clearfix">
			<div class="main_slider_block">
				<h1>Компактные вентиляционные установки для дома и офиса iFresh</h1>
				<h2>Впусти свежий воздух в свой дом</h2>
				<img src="images/ustanovka1.png" alt="Alt" class="mobile_img">
				<div class="main_slider_form">
					<div class="main_slider_inside">
						<form id="form2">
							<input type="text" name="name" placeholder="Ваше имя" class="top_input" required>
							<input type="text" name="phone" placeholder="Ваш телефон" class="top_input" required>
							<input type="submit" value="Заказать консультацию" class="top_submit">
							<input type="hidden" name="formData" value="Заявка с сайта Ifresh">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END MAIN SLIDER -->
<!-- NEED -->
	<div class="main_container clearfix some_top2">
		<div class="main_h1">Вам нужна вентиляция, если</div>
		<div class="need_wrap clearfix">
			<div class="need_block">
				<img src="images/need_icon1.png" alt="Alt">
				<p>Утром тяжело вставать<br> и часто болит голова</p>
			</div>
			<div class="need_block">
				<img src="images/need_icon2.png" alt="Alt">
				<p>Дети часто болеют и <br>плохо учатся</p>
			</div>
			<div class="need_block">
				<img src="images/need_icon3.png" alt="Alt">
				<p>В Вашей квартире <br>душно и влажно</p>
			</div>
		</div>
		<div class="shadow"></div>
	</div>
<!-- END NEED -->
<!-- CHANGE -->
	<div class="main_container clearfix">
		<div class="main_h1">Что изменится с появлением вентиляции в Вашем доме?
</div>
		<div class="change_wrap clearfix">
			<div class="change_block">
				<img src="images/change_icon1.png" alt="Alt">
				<p>Улучшится <br>настроение</p>
			</div>
			<div class="change_block">
				<img src="images/change_icon2.png" alt="Alt">
				<p>Улучшится <br>самочувствие</p>
			</div>
			<div class="change_block">
				<img src="images/change_icon3.png" alt="Alt">
				<p>Станет комфортно <br>дышать</p>
			</div>
			<div class="change_block">
				<img src="images/change_icon4.png" alt="Alt">
				<p>Станет комфортно<br> спать</p>
			</div>
		</div>
	</div>
<!-- END CHANGE -->
<!-- MAIN FORM -->
	<div class="main_form_bg1">
		<div class="main_container clearfix">
			<div class="main_slider_form">
				<div class="main_slider_inside">
					<form id="form3">
						<input type="text" name="name" placeholder="Ваше имя" class="top_input" required>
						<input type="text" name="phone" placeholder="Ваш телефон" class="top_input" required>
						<input type="submit" value="Заказать консультацию" class="top_submit">
						<input type="hidden" name="formData" value="Заявка с сайта Ifresh">
					</form>
				</div>
			</div>
		</div>
	</div>
<!-- END MAIN FORM -->
<!-- ADVANTAGES -->
	<div class="main_container clearfix some_top3">
		<div class="main_h1">Почему именно iFresh?</div>
		<div class="advantages_wrap clearfix">
			<div class="advantages_block">
				<img src="images/advantages_img1.jpg" alt="Alt">
				<div class="title">Чистый воздух в квартире </div>
			</div>
			<div class="advantages_block">
				<img src="images/advantages_img2.jpg" alt="Alt">
				<div class="title">Нет сквозняков</div>
			</div>
			<div class="advantages_block">
				<img src="images/advantages_img3.jpg" alt="Alt">
				<div class="title">В квартире свежо <br>и тепло</div>
			</div>
			<div class="advantages_block">
				<img src="images/advantages_img4.jpg" alt="Alt">
				<div class="title">В квартире комфортно спать</div>
			</div>
		</div>
	</div>
<!-- END ADVANTAGES -->
<!-- VIDEO -->
	<div class="video_bg some_top4">
		<div class="main_container clearfix">
			<div class="main_h1">Оцените быстрый и чистый монтаж!</div>
			<div class="video_wrap clearfix">
				<div class="video_block">
					<iframe width="470" height="276" src="https://www.youtube.com/embed/FoeQZiiAXVQ" frameborder="0" allowfullscreen></iframe>
					<div class="title">Монтаж</div>
				</div>
				<div class="video_block">
					<iframe width="470" height="276" src="https://www.youtube.com/embed/J_MPneDF5wI" frameborder="0" allowfullscreen></iframe>
					<div class="title">Об iFresh</div>
				</div>
			</div>
		</div>
	</div>
<!-- END VIDEO -->
<!-- CHARACTERISTICS -->
	<div class="main_container clearfix some_top6">
		<div class="main_h1">Характеристики</div>
		<div class="char_wrap">
			<div class="char_block clearfix char1">
				<div class="colour_block c1">
					<span>Основные характеристики</span>
				</div>
				<div class="table_block">
					<table>
						<tr>
							<td>Производитель</td>
							<td>(Россия)</td>
						</tr>
						<tr>
							<td>Модель</td>
							<td>LFU iFresh</td>
						</tr>
						<tr>
							<td>Тип размещения</td>
							<td>Внутренний</td>
						</tr>
						<tr>
							<td>Режим работы</td>
							<td>Приток</td>
						</tr>
						<tr>
							<td>Число режимов работы</td>
							<td>3</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="char_block clearfix char2">
				<div class="colour_block c2">
					<span>Физические характеристики</span>
				</div>
				<div class="table_block">
					<table>
						<tr>
							<td>Высота, мм</td>
							<td>594</td>
						</tr>
						<tr>
							<td>Ширина, мм</td>
							<td>443</td>
						</tr>
						<tr>
							<td>Глубина, мм</td>
							<td>160</td>
						</tr>
						<tr>
							<td>Вес, кг</td>
							<td>7.5</td>
						</tr>
						<tr>
							<td>Диаметр воздуховода, мм</td>
							<td>125</td>
						</tr>
						<tr>
							<td>Максимальный воздухообмен, м3/час</td>
							<td>120</td>
						</tr>
						<tr>
							<td>Минимальный воздухообмен, м3/час</td>
							<td>40</td>
						</tr>
						<tr>
							<td>Уровень шума минимум, дБ</td>
							<td>21</td>
						</tr>
						<tr>
							<td>Уровень шума максимум, дБ</td>
							<td>39</td>
						</tr>
						<tr>
							<td>Потребляемая мощность, Вт</td>
							<td>840</td>
						</tr>
						<tr>
							<td>Напряжение, В</td>
							<td>220</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="char_block clearfix char3">
				<div class="colour_block c3">
					<span>Расходники</span>
				</div>
				<div class="table_block">
					<table>
						<tr>
							<td>Угольный фильтр</td>
							<td>Да</td>
						</tr>
						<tr>
							<td>Пылевой фильтр F7</td>
							<td>Да</td>
						</tr>
						<tr>
							<td>Ресурс картриджей, мес.</td>
							<td>6</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="char_block clearfix char4">
				<div class="colour_block c4">
					<span>Функциональные особенности</span>
				</div>
				<div class="table_block">
					<table>
						<tr>
							<td>Подогрев воздуха</td>
							<td>Да</td>
						</tr>
						<tr>
							<td>Датчик загрязнения фильтра</td>
							<td>Да</td>
						</tr>
						<tr>
							<td>LCD дисплей</td>
							<td>Да</td>
						</tr>
						<tr>
							<td>Пульт ДУ</td>
							<td>Да</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="char_block clearfix char5">
				<div class="colour_block c5">
					<span>Гарантия</span>
				</div>
				<div class="table_block">
					<table>
						<tr>
							<td>Гарантия, лет</td>
							<td>2</td>
						</tr>
						<tr>
							<td>Срок службы, лет</td>
							<td>10</td>
						</tr>
						<tr>
							<td>Гарантия на монтаж, лет</td>
							<td>3</td>
						</tr>
						<tr>
							<td>Обмен и возврат, дней</td>
							<td>14</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
<!-- END CHARACTERISTICS -->
<!-- ANSWERS -->
	<div class="video_bg some_top7">
		<div class="main_container clearfix">
			<div class="main_h1">Ответы на вопросы</div>
			<section class="ac-container">
				<div class="main_a">
					<input id="ac-1" name="accordion-1" type="radio" checked />
					<label for="ac-1">Зачем нужна приточная вентиляция в квартире?</label>
					<article class="ac-small">
						<p>К сожалению, большинство застройщиков экономит на принудительной приточной вентиляции при строительстве жилых домов. Обычно делается только естественная вытяжка в кухнях и санузлах, а приток воздуха предусматривается через естественные неплотности в деревянных окнах либо специальные клапаны в стеклопакетах. Это приводит к появлению двух проблем:</p>

						<p>1. Естественная вытяжка работает плохо в связи с засорением воздушной шахты, либо установкой соседями сверху и снизу мощных вентиляторов. Бывали случаи когда воздух из вентиляционной шахты шёл наоборот в квартиру! В результате жильцы получают все запахи с соседских кухонь и санузлов. Кроме того, при плохой вентиляции в помещении перестаёт обновляться кислород, становится душно, повышается утомляемость, создаются условия для возникновения и роста плесени, развиваются различные заболевания.</p>

						<p>2. Подача воздуха через окна в любых видах приводит к химическому и шумовому загрязнению помещения. Шум через открытые при проветривании окна мешает спать и приводит к нервным расстройствам. Воздух в городах давно уже не является чистым и попадает в помещение вместе с пылью, выхлопными газами, аллергенной пыльцой растений и другими видами загрязнений. Кроме того, в холодное время года проявляются сквозняки, что приводит ещё и к простудным заболеваниям.</p>

						<p>Решить весь этот комплекс проблем поможет приточная установка iFresh. Она позволяет проветрить помещение и окружить себя чистым и свежим воздухом комфортной температуры, не открывая окна.</p>
					</article>
				</div>
				<div class="main_a">
					<input id="ac-2" name="accordion-1" type="radio" />
					<label for="ac-2">В чём отличие iFresh от конкурентов?</label>
					<article class="ac-small">
						<p>К сожалению, большинство застройщиков экономит на принудительной приточной вентиляции при строительстве жилых домов. Обычно делается только естественная вытяжка в кухнях и санузлах, а приток воздуха предусматривается через естественные неплотности в деревянных окнах либо специальные клапаны в стеклопакетах. Это приводит к появлению двух проблем:</p>

						<p>1. Естественная вытяжка работает плохо в связи с засорением воздушной шахты, либо установкой соседями сверху и снизу мощных вентиляторов. Бывали случаи когда воздух из вентиляционной шахты шёл наоборот в квартиру! В результате жильцы получают все запахи с соседских кухонь и санузлов. Кроме того, при плохой вентиляции в помещении перестаёт обновляться кислород, становится душно, повышается утомляемость, создаются условия для возникновения и роста плесени, развиваются различные заболевания.</p>

						<p>2. Подача воздуха через окна в любых видах приводит к химическому и шумовому загрязнению помещения. Шум через открытые при проветривании окна мешает спать и приводит к нервным расстройствам. Воздух в городах давно уже не является чистым и попадает в помещение вместе с пылью, выхлопными газами, аллергенной пыльцой растений и другими видами загрязнений. Кроме того, в холодное время года проявляются сквозняки, что приводит ещё и к простудным заболеваниям.</p>

						<p>Решить весь этот комплекс проблем поможет приточная установка iFresh. Она позволяет проветрить помещение и окружить себя чистым и свежим воздухом комфортной температуры, не открывая окна.</p>
					</article>
				</div>
				<div class="main_a">
					<input id="ac-3" name="accordion-1" type="radio" />
					<label for="ac-3">Какое отверстие нужно сверлить для установки iFresh?</label>
					<article class="ac-small">
						<p>К сожалению, большинство застройщиков экономит на принудительной приточной вентиляции при строительстве жилых домов. Обычно делается только естественная вытяжка в кухнях и санузлах, а приток воздуха предусматривается через естественные неплотности в деревянных окнах либо специальные клапаны в стеклопакетах. Это приводит к появлению двух проблем:</p>

						<p>1. Естественная вытяжка работает плохо в связи с засорением воздушной шахты, либо установкой соседями сверху и снизу мощных вентиляторов. Бывали случаи когда воздух из вентиляционной шахты шёл наоборот в квартиру! В результате жильцы получают все запахи с соседских кухонь и санузлов. Кроме того, при плохой вентиляции в помещении перестаёт обновляться кислород, становится душно, повышается утомляемость, создаются условия для возникновения и роста плесени, развиваются различные заболевания.</p>

						<p>2. Подача воздуха через окна в любых видах приводит к химическому и шумовому загрязнению помещения. Шум через открытые при проветривании окна мешает спать и приводит к нервным расстройствам. Воздух в городах давно уже не является чистым и попадает в помещение вместе с пылью, выхлопными газами, аллергенной пыльцой растений и другими видами загрязнений. Кроме того, в холодное время года проявляются сквозняки, что приводит ещё и к простудным заболеваниям.</p>

						<p>Решить весь этот комплекс проблем поможет приточная установка iFresh. Она позволяет проветрить помещение и окружить себя чистым и свежим воздухом комфортной температуры, не открывая окна.</p>
					</article>
				</div>
				<div class="main_a">
					<input id="ac-4" name="accordion-1" type="radio" />
					<label for="ac-4">Какова мощность нагревателя и потребляемая мощность iFresh?</label>
					<article class="ac-small">
						<p>К сожалению, большинство застройщиков экономит на принудительной приточной вентиляции при строительстве жилых домов. Обычно делается только естественная вытяжка в кухнях и санузлах, а приток воздуха предусматривается через естественные неплотности в деревянных окнах либо специальные клапаны в стеклопакетах. Это приводит к появлению двух проблем:</p>

						<p>1. Естественная вытяжка работает плохо в связи с засорением воздушной шахты, либо установкой соседями сверху и снизу мощных вентиляторов. Бывали случаи когда воздух из вентиляционной шахты шёл наоборот в квартиру! В результате жильцы получают все запахи с соседских кухонь и санузлов. Кроме того, при плохой вентиляции в помещении перестаёт обновляться кислород, становится душно, повышается утомляемость, создаются условия для возникновения и роста плесени, развиваются различные заболевания.</p>

						<p>2. Подача воздуха через окна в любых видах приводит к химическому и шумовому загрязнению помещения. Шум через открытые при проветривании окна мешает спать и приводит к нервным расстройствам. Воздух в городах давно уже не является чистым и попадает в помещение вместе с пылью, выхлопными газами, аллергенной пыльцой растений и другими видами загрязнений. Кроме того, в холодное время года проявляются сквозняки, что приводит ещё и к простудным заболеваниям.</p>

						<p>Решить весь этот комплекс проблем поможет приточная установка iFresh. Она позволяет проветрить помещение и окружить себя чистым и свежим воздухом комфортной температуры, не открывая окна.</p>
					</article>
				</div>
				<div class="main_a">
					<input id="ac-5" name="accordion-1" type="radio" />
					<label for="ac-5">Что такое керамический нагреватель? Чем он отличается от электрического?</label>
					<article class="ac-small">
						<p>К сожалению, большинство застройщиков экономит на принудительной приточной вентиляции при строительстве жилых домов. Обычно делается только естественная вытяжка в кухнях и санузлах, а приток воздуха предусматривается через естественные неплотности в деревянных окнах либо специальные клапаны в стеклопакетах. Это приводит к появлению двух проблем:</p>

						<p>1. Естественная вытяжка работает плохо в связи с засорением воздушной шахты, либо установкой соседями сверху и снизу мощных вентиляторов. Бывали случаи когда воздух из вентиляционной шахты шёл наоборот в квартиру! В результате жильцы получают все запахи с соседских кухонь и санузлов. Кроме того, при плохой вентиляции в помещении перестаёт обновляться кислород, становится душно, повышается утомляемость, создаются условия для возникновения и роста плесени, развиваются различные заболевания.</p>

						<p>2. Подача воздуха через окна в любых видах приводит к химическому и шумовому загрязнению помещения. Шум через открытые при проветривании окна мешает спать и приводит к нервным расстройствам. Воздух в городах давно уже не является чистым и попадает в помещение вместе с пылью, выхлопными газами, аллергенной пыльцой растений и другими видами загрязнений. Кроме того, в холодное время года проявляются сквозняки, что приводит ещё и к простудным заболеваниям.</p>

						<p>Решить весь этот комплекс проблем поможет приточная установка iFresh. Она позволяет проветрить помещение и окружить себя чистым и свежим воздухом комфортной температуры, не открывая окна.</p>
					</article>
				</div>
				<div class="main_a">
					<input id="ac-6" name="accordion-1" type="radio" />
					<label for="ac-6">При какой минимальной температуре на улице можно использовать iFresh?</label>
					<article class="ac-small">
						<p>К сожалению, большинство застройщиков экономит на принудительной приточной вентиляции при строительстве жилых домов. Обычно делается только естественная вытяжка в кухнях и санузлах, а приток воздуха предусматривается через естественные неплотности в деревянных окнах либо специальные клапаны в стеклопакетах. Это приводит к появлению двух проблем:</p>

						<p>1. Естественная вытяжка работает плохо в связи с засорением воздушной шахты, либо установкой соседями сверху и снизу мощных вентиляторов. Бывали случаи когда воздух из вентиляционной шахты шёл наоборот в квартиру! В результате жильцы получают все запахи с соседских кухонь и санузлов. Кроме того, при плохой вентиляции в помещении перестаёт обновляться кислород, становится душно, повышается утомляемость, создаются условия для возникновения и роста плесени, развиваются различные заболевания.</p>

						<p>2. Подача воздуха через окна в любых видах приводит к химическому и шумовому загрязнению помещения. Шум через открытые при проветривании окна мешает спать и приводит к нервным расстройствам. Воздух в городах давно уже не является чистым и попадает в помещение вместе с пылью, выхлопными газами, аллергенной пыльцой растений и другими видами загрязнений. Кроме того, в холодное время года проявляются сквозняки, что приводит ещё и к простудным заболеваниям.</p>

						<p>Решить весь этот комплекс проблем поможет приточная установка iFresh. Она позволяет проветрить помещение и окружить себя чистым и свежим воздухом комфортной температуры, не открывая окна.</p>
					</article>
				</div>
				<div class="main_a">
					<input id="ac-7" name="accordion-1" type="radio" />
					<label for="ac-7">Как часто нужно менять фильтры?</label>
					<article class="ac-small">
						<p>К сожалению, большинство застройщиков экономит на принудительной приточной вентиляции при строительстве жилых домов. Обычно делается только естественная вытяжка в кухнях и санузлах, а приток воздуха предусматривается через естественные неплотности в деревянных окнах либо специальные клапаны в стеклопакетах. Это приводит к появлению двух проблем:</p>

						<p>1. Естественная вытяжка работает плохо в связи с засорением воздушной шахты, либо установкой соседями сверху и снизу мощных вентиляторов. Бывали случаи когда воздух из вентиляционной шахты шёл наоборот в квартиру! В результате жильцы получают все запахи с соседских кухонь и санузлов. Кроме того, при плохой вентиляции в помещении перестаёт обновляться кислород, становится душно, повышается утомляемость, создаются условия для возникновения и роста плесени, развиваются различные заболевания.</p>

						<p>2. Подача воздуха через окна в любых видах приводит к химическому и шумовому загрязнению помещения. Шум через открытые при проветривании окна мешает спать и приводит к нервным расстройствам. Воздух в городах давно уже не является чистым и попадает в помещение вместе с пылью, выхлопными газами, аллергенной пыльцой растений и другими видами загрязнений. Кроме того, в холодное время года проявляются сквозняки, что приводит ещё и к простудным заболеваниям.</p>

						<p>Решить весь этот комплекс проблем поможет приточная установка iFresh. Она позволяет проветрить помещение и окружить себя чистым и свежим воздухом комфортной температуры, не открывая окна.</p>
					</article>
				</div>
				<div class="main_a">
					<input id="ac-8" name="accordion-1" type="radio" />
					<label for="ac-8">Можно ли чистить фильтры пылесосом?</label>
					<article class="ac-small">
						<p>К сожалению, большинство застройщиков экономит на принудительной приточной вентиляции при строительстве жилых домов. Обычно делается только естественная вытяжка в кухнях и санузлах, а приток воздуха предусматривается через естественные неплотности в деревянных окнах либо специальные клапаны в стеклопакетах. Это приводит к появлению двух проблем:</p>

						<p>1. Естественная вытяжка работает плохо в связи с засорением воздушной шахты, либо установкой соседями сверху и снизу мощных вентиляторов. Бывали случаи когда воздух из вентиляционной шахты шёл наоборот в квартиру! В результате жильцы получают все запахи с соседских кухонь и санузлов. Кроме того, при плохой вентиляции в помещении перестаёт обновляться кислород, становится душно, повышается утомляемость, создаются условия для возникновения и роста плесени, развиваются различные заболевания.</p>

						<p>2. Подача воздуха через окна в любых видах приводит к химическому и шумовому загрязнению помещения. Шум через открытые при проветривании окна мешает спать и приводит к нервным расстройствам. Воздух в городах давно уже не является чистым и попадает в помещение вместе с пылью, выхлопными газами, аллергенной пыльцой растений и другими видами загрязнений. Кроме того, в холодное время года проявляются сквозняки, что приводит ещё и к простудным заболеваниям.</p>

						<p>Решить весь этот комплекс проблем поможет приточная установка iFresh. Она позволяет проветрить помещение и окружить себя чистым и свежим воздухом комфортной температуры, не открывая окна.</p>
					</article>
				</div>
				<div class="main_a">
					<input id="ac-9" name="accordion-1" type="radio" />
					<label for="ac-9">Что такое HEPA фильтр и можно ли его использовать в домашней вентиляции?</label>
					<article class="ac-small">
						<p>К сожалению, большинство застройщиков экономит на принудительной приточной вентиляции при строительстве жилых домов. Обычно делается только естественная вытяжка в кухнях и санузлах, а приток воздуха предусматривается через естественные неплотности в деревянных окнах либо специальные клапаны в стеклопакетах. Это приводит к появлению двух проблем:</p>

						<p>1. Естественная вытяжка работает плохо в связи с засорением воздушной шахты, либо установкой соседями сверху и снизу мощных вентиляторов. Бывали случаи когда воздух из вентиляционной шахты шёл наоборот в квартиру! В результате жильцы получают все запахи с соседских кухонь и санузлов. Кроме того, при плохой вентиляции в помещении перестаёт обновляться кислород, становится душно, повышается утомляемость, создаются условия для возникновения и роста плесени, развиваются различные заболевания.</p>

						<p>2. Подача воздуха через окна в любых видах приводит к химическому и шумовому загрязнению помещения. Шум через открытые при проветривании окна мешает спать и приводит к нервным расстройствам. Воздух в городах давно уже не является чистым и попадает в помещение вместе с пылью, выхлопными газами, аллергенной пыльцой растений и другими видами загрязнений. Кроме того, в холодное время года проявляются сквозняки, что приводит ещё и к простудным заболеваниям.</p>

						<p>Решить весь этот комплекс проблем поможет приточная установка iFresh. Она позволяет проветрить помещение и окружить себя чистым и свежим воздухом комфортной температуры, не открывая окна.</p>
					</article>
				</div>
				<div class="main_a">
					<input id="ac-10" name="accordion-1" type="radio" />
					<label for="ac-10">Что такое двойная очистка?</label>
					<article class="ac-small">
						<p>К сожалению, большинство застройщиков экономит на принудительной приточной вентиляции при строительстве жилых домов. Обычно делается только естественная вытяжка в кухнях и санузлах, а приток воздуха предусматривается через естественные неплотности в деревянных окнах либо специальные клапаны в стеклопакетах. Это приводит к появлению двух проблем:</p>

						<p>1. Естественная вытяжка работает плохо в связи с засорением воздушной шахты, либо установкой соседями сверху и снизу мощных вентиляторов. Бывали случаи когда воздух из вентиляционной шахты шёл наоборот в квартиру! В результате жильцы получают все запахи с соседских кухонь и санузлов. Кроме того, при плохой вентиляции в помещении перестаёт обновляться кислород, становится душно, повышается утомляемость, создаются условия для возникновения и роста плесени, развиваются различные заболевания.</p>

						<p>2. Подача воздуха через окна в любых видах приводит к химическому и шумовому загрязнению помещения. Шум через открытые при проветривании окна мешает спать и приводит к нервным расстройствам. Воздух в городах давно уже не является чистым и попадает в помещение вместе с пылью, выхлопными газами, аллергенной пыльцой растений и другими видами загрязнений. Кроме того, в холодное время года проявляются сквозняки, что приводит ещё и к простудным заболеваниям.</p>

						<p>Решить весь этот комплекс проблем поможет приточная установка iFresh. Она позволяет проветрить помещение и окружить себя чистым и свежим воздухом комфортной температуры, не открывая окна.</p>
					</article>
				</div>
			</section>
		</div>
	</div>
<!-- END ANSWERS -->
<!-- MAIN FORM2 -->
	<div class="main_form_bg2">
		<div class="main_container clearfix">
			<img src="images/ustanovka2.png" alt="Alt" class="mobile_img">
			<div class="main_slider_form">
				<div class="main_slider_inside">
					<form id="form4">
						<input type="text" name="name" placeholder="Ваше имя" class="top_input" required>
						<input type="text" name="phone" placeholder="Ваш телефон" class="top_input" required>
						<input type="submit" value="Заказать консультацию" class="top_submit">
						<input type="hidden" name="formData" value="Заявка с сайта Ifresh">
					</form>
				</div>
			</div>
		</div>
	</div>
<!-- END MAIN FORM2 -->
<!-- MAP -->
	<div id="map" class="some_top8">
		<div class="main_container clearfix">
			<div class="map_inside">
				<div class="title">Как нас найти?</div>
				<p>Адрес:
					<span>наб. Обводного канала, д. 150</span>
				</p>
				<p>Телефоны:
					<span>+7 (812) 953-16-20</span>
				</p>
			</div>
		</div>
	</div>
<!-- END MAP -->
<!-- FOOTER -->
	<footer>
		<div class="main_container clearfix">
			<div class="copyright">iFresh © 2016</div>
		</div>
	</footer>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="modal_h1">Заказать звонок</div>
		<form id="form1">
			<input type="text" name="name" placeholder="Ваше имя" class="main_input" required>
			<input type="text" name="phone" placeholder="Ваш телефон" class="main_input" required>
			<input type="submit" value="Отправить" class="submit_main">
			<input type="hidden" name="formData" value="Заявка с сайта Ifresh">
		</form>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL5 -->
<div class="overlay" id="overlay5" style="display:none;"></div> 
    <div class="nonebox" id="nonebox5"> 
     <a class="box-close one" id="box-close5" href="index.html"></a>
		<center><p class="success"><span>Спасибо за заявку!</span><br>
    В ближайшее время наш<br> менеджер Вам перезвонит<br>
    <a href="index.html">Спасибо</a></p></center>
    </div> 
<!-- END MODAL5 -->
<div id="menu">
	<ul>
		<li><a href="#" class="ontop1">Главная</a></li>
		<li><a href="#" class="ontop2">О нас</a></li>
		<li><a href="#" class="ontop3">Почему мы</a></li>
		<li><a href="#" class="ontop4">Видео</a></li>
		<li><a href="#" class="ontop6">Характеристики</a></li>
		<li><a href="#" class="ontop7">Вопрос/ответ</a></li>
		<li><a href="#" class="ontop8">Контакты</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/libs.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script>
ymaps.ready(function () {
    var myMap = new ymaps.Map('map', {
            center: [59.908714, 30.269874],
            zoom: 16,
          controls: ['zoomControl']
        }, {
            searchControlProvider: 'yandex#search'
        }),
        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: 'Собственный значок метки',
            balloonContent: 'наб. Обводного канала, д. 150'
        }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: 'images//marker.png',
            // Размеры метки.
            iconImageSize: [32, 50],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-15, -15]
        });

    myMap.geoObjects.add(myPlacemark);
    myMap.behaviors.disable('scrollZoom');
});
</script>
 </body>
</html>