<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>БалтСтройКомплект</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<img src="images/logo.png" alt="Alt" class="logo">
					<div class="logo_text">Профессиоональные, <br>высококачественные<br> отделочные материалы</div>
				</div>
				<div class="col-md-3 col-md-offset-2 col-sm-4 col-xs-6">
					<div class="phone_top">
						<p>+7 (812) 336-88-01</p>
						<p>+7 (812) 496-20-62</p>
						<a href="#">Обратный звонок</a>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6">
					<div class="top-icons">
						<a href="#">
							<span>0</span>
						</a>
						<a href="#"></a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="fixed_nav">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<nav class="nav navbar-inverse" >
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>	
						</button>
					</div>
					<div class="collapse navbar-collapse" id="mainNavBar">
						<ul id="nav" class="nav navbar-nav">
							<li><a href="#">Главная</a></li>
							<li><a href="#">О компании</a></li>
							<li id="selected"><a href="#">Каталог</a></li>
							<li><a href="#">Прайс-лист</a></li>
							<li><a href="#">Акции и скидки</a></li>
							<li><a href="#">Информация</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</nav>
				</div>
			</div>
		</div>
	</div>
<!-- END HEADER	 -->
<!-- MAIN SLIDER -->
	<div class="main_slider_bg clearfix">
		<ul class="bxslider">
			<li class="first_slide">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<h1>До конца лета на весь ассортимент <span>Pinotex</span> цены снижены!</h1>
						</div>
					</div>
				</div>
			</li>
			<li class="first_slide">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<h1>До конца лета на весь ассортимент <span>Pinotex</span> цены снижены!</h1>
						</div>
					</div>
				</div>
			</li>
			<li class="first_slide">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<h1>До конца лета на весь ассортимент <span>Pinotex</span> цены снижены!</h1>
						</div>
					</div>
				</div>
			</li>
			<li class="first_slide">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<h1>До конца лета на весь ассортимент <span>Pinotex</span> цены снижены!</h1>
						</div>
					</div>
				</div>
			</li>
			<li class="first_slide">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<h1>До конца лета на весь ассортимент <span>Pinotex</span> цены снижены!</h1>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
<!-- END MAIN SLIDER -->
<!-- CATEGORY -->
	<div class="category_wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-6">
					<div class="category_block">
						<div class="title cat_title1"><a href="#">Наружные работы</a></div><br>
						<ul class="bxslider">
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img1.png" alt="Alt">
									</div>
									<a href="#">Фасадная краска</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img2.png" alt="Alt">
									</div>
									<a href="#">Фасадное<br>структурное</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img3.png" alt="Alt">
									</div>
									<a href="#">Фасадная<br>декоративная краска</a>
								</div>
							</li>
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img1.png" alt="Alt">
									</div>
									<a href="#">Фасадная краска</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img2.png" alt="Alt">
									</div>
									<a href="#">Фасадное<br>структурное</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img3.png" alt="Alt">
									</div>
									<a href="#">Фасадная<br>декоративная краска</a>
								</div>
							</li>
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img1.png" alt="Alt">
									</div>
									<a href="#">Фасадная краска</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img2.png" alt="Alt">
									</div>
									<a href="#">Фасадное<br>структурное</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img3.png" alt="Alt">
									</div>
									<a href="#">Фасадная<br>декоративная краска</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-6">
					<div class="category_block">
						<div class="title cat_title2"><a href="#">Внутренние работы</a></div><br>
						<ul class="bxslider">
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img1.png" alt="Alt">
									</div>
									<a href="#">Интерьерная<br>краска</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img2.png" alt="Alt">
									</div>
									<a href="#">Декоративное<br>покрытие</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img3.png" alt="Alt">
									</div>
									<a href="#">Структорное<br>покрытие</a>
								</div>
							</li>
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img1.png" alt="Alt">
									</div>
									<a href="#">Интерьерная<br>краска</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img2.png" alt="Alt">
									</div>
									<a href="#">Декоративное<br>покрытие</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img3.png" alt="Alt">
									</div>
									<a href="#">Структорное<br>покрытие</a>
								</div>
							</li>
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img1.png" alt="Alt">
									</div>
									<a href="#">Интерьерная<br>краска</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img2.png" alt="Alt">
									</div>
									<a href="#">Декоративное<br>покрытие</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img3.png" alt="Alt">
									</div>
									<a href="#">Структорное<br>покрытие</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-6">
					<div class="category_block">
						<div class="title cat_title3"><a href="#">Грутовки</a></div><br>
						<ul class="bxslider">
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Универсальная<br>грунтовка</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Грунтовка под<br>гладкие краски</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Грунтовка под<br>структур. покрытия</a>
								</div>
							</li>
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Универсальная<br>грунтовка</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Грунтовка под<br>гладкие краски</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Грунтовка под<br>структур. покрытия</a>
								</div>
							</li>
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Универсальная<br>грунтовка</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Грунтовка под<br>гладкие краски</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Грунтовка под<br>структур. покрытия</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-6">
					<div class="category_block">
						<div class="title cat_title4"><a href="#">Материалы для дерева</a></div><br>
						<ul class="bxslider">
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Краска для<br>дерева</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Лак для<br>дерева</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Грунтовка для<br>дерева</a>
								</div>
							</li>
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Краска для<br>дерева</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Лак для<br>дерева</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Грунтовка для<br>дерева</a>
								</div>
							</li>
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Краска для<br>дерева</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Лак для<br>дерева</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Грунтовка для<br>дерева</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-6">
					<div class="category_block">
						<div class="title cat_title5"><a href="#">Подготовительны материалы</a></div><br>
						<ul class="bxslider">
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Ангтибактериальное<br>средство</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Гидрофобизатор</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Штукатурный<br>состав</a>
								</div>
							</li>
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Ангтибактериальное<br>средство</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Гидрофобизатор</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Штукатурный<br>состав</a>
								</div>
							</li>
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Ангтибактериальное<br>средство</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Гидрофобизатор</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img4.png" alt="Alt">
									</div>
									<a href="#">Штукатурный<br>состав</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-6">
					<div class="category_block">
						<div class="title cat_title6"><a href="#">Специальные материалы</a></div><br>
						<ul class="bxslider">
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Антибактериальная<br>краска</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Антикоррозионное<br>покрытие</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Лессирующее<br>покрытие</a>
								</div>
							</li>
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Антибактериальная<br>краска</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Антикоррозионное<br>покрытие</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Лессирующее<br>покрытие</a>
								</div>
							</li>
							<li>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Антибактериальная<br>краска</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Антикоррозионное<br>покрытие</a>
								</div>
								<div class="category_item">
									<div class="img_sec">
										<img src="images/category_img5.png" alt="Alt">
									</div>
									<a href="#">Лессирующее<br>покрытие</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END CATEGORY -->
<!-- BRANDS -->
	<div class="brands_bg">	
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main_h1_wrapper">
						<div class="main_h1">Наши бренды</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="bxslider">
						<li>
							<img src="images/brand_img1.png" alt="Alt">
							<img src="images/brand_img2.png" alt="Alt">
							<img src="images/brand_img3.png" alt="Alt">
							<img src="images/brand_img4.png" alt="Alt">
						</li>
						<li>
							<img src="images/brand_img1.png" alt="Alt">
							<img src="images/brand_img2.png" alt="Alt">
							<img src="images/brand_img3.png" alt="Alt">
							<img src="images/brand_img4.png" alt="Alt">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<!-- END BRANDS -->
<!-- ABOUT -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main_h1_wrapper">
					<div class="main_h1">О компании</div>
				</div>
			</div>
		</div>
		<div class="about_text">
			<div class="row">
				<div class="col-md-9 col-sm-9">
					<p>Торгово-производственная компания БалтСтройКомплект - официальный дистрибьютор профессиональных систем лакокрасочных материалов Soframap (Софрамап), Vincent (Винсент) и Vincent Decor (Винсент Декор)  в Санкт-Петербурге и на всей территории Северо-Западного Федерального Округа.</p>
					<a href="#">Подробная информация о компании</a>
				</div>
				<div class="col-md-3 col-sm-3">
					<img src="images/about-img.jpg" alt="Alt">
				</div>
			</div>
		</div>
	</div>
<!-- END ABOUT -->
<!-- POPULAR -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main_h1_wrapper">
					<div class="main_h1">Популярные товары</div>
				</div>
			</div>
		</div>
		<div class="pop_wrap">
		<div class="row">
			<div class="col-md-3 co col-sm-3">
				<div class="popular_block">
					<img src="images/popular_img1.png" alt="Alt">
					<hr>
					<a href="#" class="title">Фасадная краска</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="popular_block">
					<img src="images/popular_img2.png" alt="Alt">
					<hr>
					<a href="#" class="title">Фасадная краска</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="popular_block">
					<img src="images/popular_img3.png" alt="Alt">
					<hr>
					<a href="#" class="title">Фасадная краска</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="popular_block">
					<img src="images/popular_img4.png" alt="Alt">
					<hr>
					<a href="#" class="title">Фасадная краска</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<div class="popular_block">
					<img src="images/popular_img4.png" alt="Alt">
					<hr>
					<a href="#" class="title">Фасадная краска</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="popular_block">
					<img src="images/popular_img1.png" alt="Alt">
					<hr>
					<a href="#" class="title">Фасадная краска</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="popular_block">
					<img src="images/popular_img2.png" alt="Alt">
					<hr>
					<a href="#" class="title">Фасадная краска</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="popular_block">
					<img src="images/popular_img3.png" alt="Alt">
					<hr>
					<a href="#" class="title">Фасадная краска</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<div class="popular_block">
					<img src="images/popular_img2.png" alt="Alt">
					<hr>
					<a href="#" class="title">Фасадная краска</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="popular_block">
					<img src="images/popular_img3.png" alt="Alt">
					<hr>
					<a href="#" class="title">Фасадная краска</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="popular_block">
					<img src="images/popular_img4.png" alt="Alt">
					<hr>
					<a href="#" class="title">Фасадная краска</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="popular_block">
					<img src="images/popular_img1.png" alt="Alt">
					<hr>
					<a href="#" class="title">Фасадная краска</a>
				</div>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col_md-12">
				<a href="#" class="show_more_pop">Посмотреть весь каталог</a>
			</div>
		</div>
	</div>
<!-- END POPULAR -->
<!-- MAIN FORM -->
	<div class="main_form_bg">	
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main_h1_wrapper">
						<div class="main_h1">Хотите стать нашим клиентом? Свяжитесь с нами прямо сейчас!</div>
					</div>
				</div>
			</div>
			<form id="form1">
				<div class="row">
					<div class="col-md-6">
						<input type="text" placeholder="Ваше имя:" class="main_input" required>
						<input type="text" placeholder="Контактный телефон или e-mail:" class="main_input" required>
						<input type="file" name="u_file" id="file-6" class="inputfile inputfile-5" data-multiple-caption="{count} files selected" multiple />
						<label for="file-6">Прикрепить файл</label>
					</div>
					<div class="col-md-6">
						<textarea name="mess" placeholder="Текст сообщения:" class="mess_area"></textarea>
						<input type="submit" value="Отправить заявку" class="main_submit">
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-md-12">
					<div class="phone_wrap">Контактный телефоны для связи: <span>+7 (812) 336-88-01</span><span class="md">|</span><span>+7 (812) 496-20-62</span></div>
				</div>
			</div>
		</div>
	</div>
<!-- END MAIN FORM -->
<!-- ABOUT US -->
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="sidebar">
					<div class="main_h1_wrapper">
						<div class="main_h1">Новости компании</div>
						</div>
						<div class="news_wrap">
							<div class="news_block clearfix">
								<img src="images/news_img1.jpg" alt="Alt">
								<div class="news_text">
									<div class="date">20 мая 2015</div>
									<a href="#">Сезонная распродажа</a>
								</div>
							</div>
							<div class="news_block clearfix">
								<img src="images/news_img2.jpg" alt="Alt">
								<div class="news_text">
									<div class="date">20 мая 2015</div>
									<a href="#">Сезонная распродажа</a>
								</div>
							</div>
							<div class="news_block clearfix">
								<img src="images/news_img3.jpg" alt="Alt">
								<div class="news_text">
									<div class="date">20 мая 2015</div>
									<a href="#">Сезонная распродажа</a>
								</div>
							</div>
							<div class="news_block clearfix">
								<img src="images/news_img4.jpg" alt="Alt">
								<div class="news_text">
									<div class="date">20 мая 2015</div>
									<a href="#">Сезонная распродажа</a>
								</div>
							</div>
							<div class="clearfix"></div>
							<a href="#" class="arhive_link">Архив новостей</a>
						</div>
						<div class="main_h1_wrapper">
						<div class="main_h1">Статьи и обзоры</div>
						</div>
						<div class="news_wrap">
							<div class="news_block clearfix">
								<img src="images/review_img1.jpg" alt="Alt">
								<div class="news_text">
									<a href="#">Выравнивание стен</a>
									<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum...</p>
								</div>
							</div>
							<div class="news_block clearfix">
								<img src="images/review_img2.jpg" alt="Alt">
								<div class="news_text">
									<a href="#">Покраска потолка</a>
									<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum...</p>
								</div>
							</div>
							<div class="news_block clearfix">
								<img src="images/review_img3.jpg" alt="Alt">
								<div class="news_text">
									<a href="#">Подбор цветовов</a>
									<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum...</p>
								</div>
							</div>
							<div class="clearfix"></div>
							<a href="#" class="arhive_link">Архив новостей</a>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-sm-6">
				<div class="about_us">
					<div class="title">Профессиональная краска: цена минимальная,
качество удивительное!</div>
					<p>Компания Балтстройкомплект является официальным партнером лучших мировых производителей лакокрасочных материалов, выпускаемых под марками Soframap, Vincent и Vincent Decor. Реализуемые ею краски в Санкт-Петербурге хорошо известны и достаточно популярны как у строителей-профессионалов, так и у тех хозяев, которым по силам произвести отделку дома самостоятельно. Балтстройкомплект обеспечивает качественной краской, цены на которую выгодно отличаются от других, весь Северо-Западный Федеральный Округ, однако сама фирма известна далеко за его пределами.</p>
					<p>Балтстройкомплект начала покорять строительно-промышленный рынок еще в далеком 1993 году и за годы своего существования не только выросла, но и укрепила свои позиции и расширила круг партнерских связей, а также прочно заняла лидерскую позицию в своей нише, продавая краски СПб. Сегодня лакокрасочные материалы, поставляемые этой фирмой, — желанный продукт, который расходится многотысячными тиражами по всей России.</p>
					<p>Балтстройкомплект является не только крупным дистрибьютором профессиональных красок, но и занимается комплексными поставками расходных материалов и оборудования, необходимого для проведения отделочных работ. Так, например, в числе наиболее востребованной продукции фирмы — коммерческий линолеум, различные декоративные и структурные покрытия.</p>
					<p>Лакокрасочные материалы от компании Балтстройкомплект — это настоящие профессиональные системы, предназначенные для решения разнообразных задач в сфере строительства. Специальная краска, цена на которую приятно удивит любого покупателя, идет напрямую от зарубежных партнеров-производителей. Она пригодна не только собственно для обеспечения строительных нужд, но и для реставрации старинных зданий (архитектурных памятников), восстановления фасадов из плитки, укрепления цоколей строений в неблагоприятных климатических зонах, а также для многого другого.</p> 
					<p>Профессиональная краска от Балтстройкомплект может быть использована не только в теплое время года, но и при минусовых температурах. При желании квалифицированные специалисты компании проведут необходимые работы, используя собственные лакокрасочные материалы, — по желанию заказчика. Балтстройкомплект предоставляет широкий спектр услуг, от ювелирной внутренней отделки до настила полов.
						<span>Профессиональная краска от Балтстройкомплект - выбор в вашу пользу!</span></p>
				</div>
			</div>
			</div>	
		</div>
		</body>
<!-- END ABOUT US -->
<!-- PORTFOLIO -->
	<div class="main_form_bg portfolio_wrap">	
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main_h1_wrapper">
						<div class="main_h1">Наши материалы на объектах</div>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="bxslider3">
						<li>					

						
							<a href="#"><img src="images/portfolio_img1.jpg" alt="Alt"></a>

						</li>
						<li>					

						
							<a href="#"><img src="images/portfolio_img2.jpg" alt="Alt"></a>

						</li>
						<li>					

						
							<a href="#"><img src="images/portfolio_img3.jpg" alt="Alt"></a>

						</li>
						<li>					

						
							<a href="#"><img src="images/portfolio_img4.jpg" alt="Alt"></a>

						</li>
						
				</ul>
			</div>
		</div>
	</div>
<!-- END PORTFOLIO -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-1 col-sm-2">
						<a href="#" class="logo_bottom"><img src="images/logo_bottom.png" alt="Alt"></a>
					</div>
					<div class="col-md-6 col-sm-5">
						<div class="logo_desc">
							<div class="title">БалтСтройКомплект</div>
							<p>Профессиоональные, высококачественные отделочные материалы</p>
							<div class="logo_description">2009-2016 © Все права защищены<a href="#">Политика конфенденцеальности.</a></div>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-1">
						<div class="bottom_call">
						<p class="bottom_phone">+7 (812) 336-88-01</p>
						<p class="bottom_phone">+7 (812) 496-20-62</p>
						<div class="bottom_links">
							<a href="#">Задать вопрос</a><a href="#">Заказать звонок</a>
						</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
<!-- END FOOTER -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.spasticNav.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>