<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>БалтСтройКомплект</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<img src="images/logo.png" alt="Alt" class="logo">
					<div class="logo_text">Профессиоональные, <br>высококачественные<br> отделочные материалы</div>
				</div>
				<div class="col-md-3 col-md-offset-2 col-sm-4 col-xs-6">
					<div class="phone_top">
						<p>+7 (812) 336-88-01</p>
						<p>+7 (812) 496-20-62</p>
						<a href="#">Обратный звонок</a>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6">
					<div class="top-icons">
						<a href="#">
							<span>0</span>
						</a>
						<a href="#"></a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="fixed_nav towar_nav">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<nav class="nav navbar-inverse" >
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>	
						</button>
					</div>
					<div class="collapse navbar-collapse" id="mainNavBar">
						<ul id="nav" class="nav navbar-nav">
							<li><a href="#">Главная</a></li>
							<li><a href="#">О компании</a></li>
							<li id="selected"><a href="#">Каталог</a></li>
							<li><a href="#">Прайс-лист</a></li>
							<li><a href="#">Акции и скидки</a></li>
							<li><a href="#">Информация</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</nav>
				</div>
			</div>
		</div>
	</div>
<!-- END HEADER	 -->
<!-- TOWAR PAGE	 -->
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-4 side_t">
				<input type="text" class="search_towar" name="search" placeholder="Поиск по каталогу">
				<div class="sidebar_towar">
					<div class="title">По применению</div>
					<div class="mini-menu">
						<ul>
							<li class="sub">
							<a href="#">Наружные работы</a>
							</li>
							<li class="sub">
								<a href="#" class="active">Внутренние работы</a>
								<ul style="height: 168px;">
									<li><a href="#">Грунтовые работы</a></li>
									<li><a href="#">Материалы для дерева</a></li>
									<li><a href="#">Подготовительные материалы</a></li>
									<li><a href="#">Специальные материалы</a></li>
								</ul>
							</li>
							<li class="sub">
								<a href="#">Интерьерная краска</a>
							</li>
							<li class="sub">
								<a href="#">Структурное покрытие</a>
							</li>
							<li class="sub">
								<a href="#">Алкидна краска</a>
							</li>
							<li class="sub">
								<a href="#">Фактурная штукатурка</a>
							</li>
							<li class="sub">
								<a href="#">Декоративное покрытие</a>
							</li>
							<li class="sub">
								<a href="#">Венецианская штукатурка</a>
							</li>
							<li class="sub">
								<a href="#">Мультиколорное покрытие</a>
							</li>
							<li class="sub">
								<a href="#">Краска для пола</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="sidebar tow_s">
					<div class="main_h1_wrapper">
						<div class="main_h1">Бренды</div>
					</div>
					<div class="brands_links">
						<ul>
							<li><a href="#">Soframap</a></li>
							<li><a href="#">Vincent</a></li>
							<li><a href="#">Vincent bois</a></li>
						</ul>
						<ul>
							<li><a href="#">Vincent Decor</a></li>
							<li><a href="#">Art Decor</a></li>
							<li><a href="#">Simple</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="slider_left">
					<div class="main_h1_wrapper">
						<div class="main_h1">Популярные товары</div>
					</div>
					<ul class="bxslider">
						<li>
							<img src="images/slider_left_img.png" alt="Alt">
							<a href="#" class="title">Vincent Royal Mat</a>
							<p>алкидная краска для внутренних<br> работ</p>
						</li>
						<li>
							
						</li>
					</ul>
				</div>
					<div class="sidebar ss_towar">
					<div class="main_h1_wrapper">
						<div class="main_h1">Новости компании</div>
						</div>
						<div class="news_wrap">
							<div class="news_block clearfix">
								<img src="images/news_img1.jpg" alt="Alt">
								<div class="news_text">
									<div class="date">20 мая 2015</div>
									<a href="#">Сезонная распродажа</a>
								</div>
							</div>
							<div class="news_block clearfix">
								<img src="images/news_img2.jpg" alt="Alt">
								<div class="news_text">
									<div class="date">20 мая 2015</div>
									<a href="#">Сезонная распродажа</a>
								</div>
							</div>
							<div class="news_block clearfix">
								<img src="images/news_img3.jpg" alt="Alt">
								<div class="news_text">
									<div class="date">20 мая 2015</div>
									<a href="#">Сезонная распродажа</a>
								</div>
							</div>
							<div class="news_block clearfix">
								<img src="images/news_img4.jpg" alt="Alt">
								<div class="news_text">
									<div class="date">20 мая 2015</div>
									<a href="#">Сезонная распродажа</a>
								</div>
							</div>
							<div class="clearfix"></div>
							<a href="#" class="arhive_link">Архив новостей</a>
						</div>
						<div class="main_h1_wrapper">
						<div class="main_h1">Статьи и обзоры</div>
						</div>
						<div class="news_wrap">
							<div class="news_block clearfix">
								<img src="images/review_img1.jpg" alt="Alt">
								<div class="news_text">
									<a href="#">Выравнивание стен</a>
									<p>По своей сути рыбатекст является альтернативой</p>
								</div>
							</div>
							<div class="news_block clearfix">
								<img src="images/review_img2.jpg" alt="Alt">
								<div class="news_text">
									<a href="#">Покраска потолка</a>
									<p>По своей сути рыбатекст является альтернативой</p>
								</div>
							</div>
							<div class="news_block clearfix">
								<img src="images/review_img3.jpg" alt="Alt">
								<div class="news_text">
									<a href="#">Подбор цветовов</a>
									<p>По своей сути рыбатекст является альтернативой</p>
								</div>
							</div>
							<div class="clearfix"></div>
							<a href="#" class="arhive_link">Архив новостей</a>
						</div>
					</div>
					<img src="images/banner.jpg" alt="Alt" class="banner">
			</div>
			<div class="col-md-9 col-sm-8">
				<div class="towar_content">
					<ul class="breadcrumbs">
						<li><a href="#">Главная</a><span>/</span></li>
						<li><a href="#">Каталог</a><span>/</span></li>
						<li><a href="#">Для внутренних работ</a><span>/</span></li>
						<li><a href="#">Интерьерная краска</a><span>/</span></li>
						<li>Vincent</li>
					</ul>
					<div class="card clearfix">
						<div class="title">Vicent Conformat / Винекс Конформат</div>
						<div class="subtitle">глубокоматовая, износостойкая краска для стен и потолков</div>
						<div class="left_s">
							<img src="images/card_img.jpg" alt="Alt" class="card_img">
							<div class="tags_wrap">
								<img src="images/tag_img.jpg" alt="Alt">
								<div class="tag">
									<div class="tag_links">
										<a href="#">Vincent</a>
										<span>/</span>
										<a href="#">Винсент</a>
									</div>
									<a href="#" class="more_tag">побробнее о бренде...</a>
								</div>
							</div>
						</div>
						<div class="right_s">
							<div class="desc"><span>Vincent Conformat</span> воднодисперсионная акриловая краска с отличной укрывистостью и адгезией, создающая дышащее покрытие.</div>
							<a href="#" class="show_more">Узнать подробнее</a>
							<div class="divider"></div>
							<ul class="first_list">
								<li><span><img src="images/icon_list1.png" alt="Alt"></span>Применение:</li>
								<li><span><img src="images/icon_list2.png" alt="Alt"></span>Основа:</li>
								<li><span><img src="images/icon_list3.png" alt="Alt"></span>Расход</li>
								<li><span><img src="images/icon_list4.png" alt="Alt"></span>Особености:</li>
							</ul>
							<ul class="sec_list">
								<li>для интерьерных работ</li>
								<li>водная основа</li>
								<li>8-10 кв.м/л</li>
								<li>морозостойкая</li>
							</ul>
							<div class="clearfix"></div>
							<div class="divider"></div>
							<ul class="first_list">
								<li><span><img src="images/icon_list5.png" alt="Alt"></span>Цена за кв.м:</li>
								<li><span><img src="images/icon_list6.png" alt="Alt"></span>Фасовка:</li>
							</ul>
							<ul class="sec_list">
								<li>от 39.30 руб.</li>
								<li>
									<a href="#">0.7</a>
									<a href="#">0.8</a>
									<a href="#">2</a>
									<a href="#">2.25</a>
									<a href="#">8.1</a>
									<a href="#">9</a>								                    
								</li>
							</ul>
						</div>
					</div>
					<div class="navigation_card">
						<a href="#">Цена</a>
						<a href="#">Описание</a>
						<a href="#">Характеристика</a>
						<a href="#">Инструкция</a>
						<a href="#">Цвета / Текстуры</a>
						<a href="#">Объем</a>
					</div>
					<table class="fist_table">
						<tr class="yellow_bg">
							<th>Товар / Объем</th>
							<th>Розничная<br>цена</th>
							<th>Цена<br>на сайте</th>
							<th>Кол-во</th>
							<th></th>
						</tr>
						<tr>
							<td>
								<img src="images/table_img.png" alt="Alt" class="table_img">
								<div class="table_img_desc">Vincent / Conformat	<br>0.7 л, база С</div>
								<a href="#" title="Описание"><img src="images/table_icon.png" alt="Alt" class="table_icon"></a>
							</td>
							<td>350, 00 руб</td>
							<td>350, 00 руб</td>
							<td>
								<input type="number" value="1" class="cols_input">
							</td>
							<td><a href="#" class="order_t">Заказать</a></td>
						</tr>
						<tr>
							<td>
								<img src="images/table_img.png" alt="Alt" class="table_img">
								<div class="table_img_desc">Vincent / Conformat	<br>0.7 л, база С</div>
								<a href="#" title="Описание"><img src="images/table_icon.png" alt="Alt" class="table_icon"></a>
							</td>
							<td>350, 00 руб</td>
							<td>350, 00 руб</td>
							<td>
								<input type="number" value="1" class="cols_input">
							</td>
							<td><a href="#" class="order_t">Заказать</a></td>
						</tr>
						<tr>
							<td>
								<img src="images/table_img.png" alt="Alt" class="table_img">
								<div class="table_img_desc">Vincent / Conformat	<br>0.7 л, база С</div>
								<a href="#" title="Описание"><img src="images/table_icon.png" alt="Alt" class="table_icon"></a>
							</td>
							<td>350, 00 руб</td>
							<td>350, 00 руб</td>
							<td>
								<input type="number" value="1" class="cols_input">
							</td>
							<td><a href="#" class="order_t">Заказать</a></td>
						</tr>
						<tr>
							<td>
								<img src="images/table_img.png" alt="Alt" class="table_img">
								<div class="table_img_desc">Vincent / Conformat	<br>0.7 л, база С</div>
								<a href="#" title="Описание"><img src="images/table_icon.png" alt="Alt" class="table_icon"></a>
							</td>
							<td>350, 00 руб</td>
							<td>350, 00 руб</td>
							<td>
								<input type="number" value="1" class="cols_input">
							</td>
							<td><a href="#" class="order_t">Заказать</a></td>
						</tr>
						<tr>
							<td>
								<img src="images/table_img.png" alt="Alt" class="table_img">
								<div class="table_img_desc">Vincent / Conformat	<br>0.7 л, база С</div>
								<a href="#" title="Описание"><img src="images/table_icon.png" alt="Alt" class="table_icon"></a>
							</td>
							<td>350, 00 руб</td>
							<td>350, 00 руб</td>
							<td>
								<input type="number" value="1" class="cols_input">
							</td>
							<td><a href="#" class="order_t">Заказать</a></td>
						</tr>
					</table>
					<div class="towar_desc">
						<div class="towar_desc_title">Подробнее описание</div>
						<p>Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Таким образом постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Разнообразный и богатый опыт укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.</p>
					</div>
					<div class="main_divider"></div>
					<div class="towar_desc_title">Техническая характеристика</div>
					<table class="second_table">
						<tr>
							<td>Внешний вид</td>
							<td>густая краска</td>
						</tr>
						<tr>
							<td>Вид высохшего слоя</td>
							<td>матовый, однородный</td>
						</tr>
						<tr>
							<td>Расход</td>
							<td>0,10 - 0,12 л/м2 на один слой: в зависимости от пористости и рельефа<br>
							основания расход может изменятся на 20-30%</td>
						</tr>
					</table>
					<a href="#" class="show_more_table">Показать полностью</a>
					<div class="main_divider"></div>
					<div class="towar_desc_title">Инструкция по нанесению</div>
					<table class="second_table">
						<tr>
							<td>Подготовка<br>основания</td>
							<td>Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Таким образом постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки существенных финансовых и административных условий.</td>
						</tr>
						<tr>
							<td>Новые и старые<br>неокрашенные<br>основания</td>
							<td>Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Таким образом постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки существенных финансовых и административных условий.</td>
						</tr>
						<tr>
							<td>Старые окрашенные<br>основания</td>
							<td>Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Таким образом постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки существенных финансовых и административных условий.</td>
						</tr>
					</table>
					<a href="#" class="show_more_table">Показать полностью</a>
					<div class="main_divider"></div>
					<div class="towar_desc_title">Цвета / текстуры</div>
					<div class="texture_wrap">
						<div class="texture_block">
							<img src="images/texture.jpg" alt="Alt">
							<div class="title">01 white <br>(каталог Tons de Bois)</div>
						</div>
						<div class="texture_block">
							<img src="images/texture.jpg" alt="Alt">
							<div class="title">01 white <br>(каталог Tons de Bois)</div>
						</div>
						<div class="texture_block">
							<img src="images/texture.jpg" alt="Alt">
							<div class="title">01 white <br>(каталог Tons de Bois)</div>
						</div>
						<div class="texture_block">
							<img src="images/texture.jpg" alt="Alt">
							<div class="title">01 white <br>(каталог Tons de Bois)</div>
						</div>
						<div class="texture_block">
							<img src="images/texture.jpg" alt="Alt">
							<div class="title">01 white <br>(каталог Tons de Bois)</div>
						</div>
						<div class="texture_block">
							<img src="images/texture.jpg" alt="Alt">
							<div class="title">01 white <br>(каталог Tons de Bois)</div>
						</div>
						<div class="texture_block">
							<img src="images/texture.jpg" alt="Alt">
							<div class="title">01 white <br>(каталог Tons de Bois)</div>
						</div>
						<div class="texture_block">
							<img src="images/texture.jpg" alt="Alt">
							<div class="title">01 white <br>(каталог Tons de Bois)</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="main_divider"></div>
					<div class="towar_desc_title">Объекты</div>
					<div class="texture_wrap">
						<div class="texture_block">
							<img src="images/obgect_img.jpg" alt="Alt">
							<div class="title">01 white <br>(каталог Tons de Bois)</div>
						</div>
						<div class="texture_block">
							<img src="images/obgect_img.jpg" alt="Alt">
							<div class="title">01 white <br>(каталог Tons de Bois)</div>
						</div>
						<div class="texture_block">
							<img src="images/obgect_img.jpg" alt="Alt">
							<div class="title">01 white <br>(каталог Tons de Bois)</div>
						</div>
						<div class="texture_block">
							<img src="images/obgect_img.jpg" alt="Alt">
							<div class="title">01 white <br>(каталог Tons de Bois)</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="main_divider"></div>
					<div class="towar_desc_title">Сопутствующие товары</div>
					<div class="accompanying_towars clearfix">
						<div class="accompanying_block">
							<img src="images/accompanying.png" alt="Alt">
							<hr>
							<a href="#" class="title">Аниза Титекс валик средняя структура 250 мм</a>
							<div class="price_a">от 360, 00 руб.</div>
						</div>
						<div class="accompanying_block">
							<img src="images/accompanying.png" alt="Alt">
							<hr>
							<a href="#" class="title">Аниза Титекс валик средняя структура 250 мм</a>
							<div class="price_a">от 360, 00 руб.</div>
						</div>
						<div class="accompanying_block">
							<img src="images/accompanying.png" alt="Alt">
							<hr>
							<a href="#" class="title">Аниза Титекс валик средняя структура 250 мм</a>
							<div class="price_a">от 360, 00 руб.</div>
						</div>
						<div class="accompanying_block">
							<img src="images/accompanying.png" alt="Alt">
							<hr>
							<a href="#" class="title">Аниза Титекс валик средняя структура 250 мм</a>
							<div class="price_a">от 360, 00 руб.</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="main_divider"></div>
					<div class="towar_desc_title">Другие товары</div>
					<div class="other_towars_wrap clearfix">
						<div class="other_towars_block clearfix">
							<div class="o_l_s clearfix">
								<img src="images/photo1.jpg" alt="Alt">
								<div class="o_l_s_desc">
									<a href="#" class="title">Vincent 12 Brillance Blanc / Винсент краска для потолков и лепнины</a>
									<span>для потолков специализированные</span>
									<p>Таким образом, Versagel является высококачественным покрытием, обладающим не только прекрасными декоративными свойствами, но и веществом, предохраняющим стены здания от влаги и других вредоносных воздействий. </p>
								</div>
							</div>
							<div class="o_l_r">
								<span>от 290.00 руб.<img src="images/basket_icon.png" alt="Alt"></span>
								<div class="clearfix"></div>
								<ul>
									<li>Основа:</li>
									<li>Расход</li>
									<li>Фасовка</li>
								</ul>
								<ul>
									<li>водная</li>
									<li>8-10 кв.м/л</li>
									<li>
									<a href="#">0.7</a>    
									<a href="#">0.8</a>    
									<a href="#">2</a>
									</li>
								</ul>
								<div class="clearfix"></div>
								<a href="#" class="more_s_t">Подробнее о товаре</a>
							</div>
						</div>
						<div class="other_towars_block clearfix">
							<div class="o_l_s clearfix">
								<img src="images/photo1.jpg" alt="Alt">
								<div class="o_l_s_desc">
									<a href="#" class="title">Vincent 12 Brillance Blanc / Винсент краска для потолков и лепнины</a>
									<span>для потолков специализированные</span>
									<p>Таким образом, Versagel является высококачественным покрытием, обладающим не только прекрасными декоративными свойствами, но и веществом, предохраняющим стены здания от влаги и других вредоносных воздействий. </p>
								</div>
							</div>
							<div class="o_l_r">
								<span>от 290.00 руб.<img src="images/basket_icon.png" alt="Alt"></span>
								<div class="clearfix"></div>
								<ul>
									<li>Основа:</li>
									<li>Расход</li>
									<li>Фасовка</li>
								</ul>
								<ul>
									<li>водная</li>
									<li>8-10 кв.м/л</li>
									<li>
									<a href="#">0.7</a>    
									<a href="#">0.8</a>    
									<a href="#">2</a>
									</li>
								</ul>
								<div class="clearfix"></div>
								<a href="#" class="more_s_t">Подробнее о товаре</a>
							</div>
						</div>
						<div class="other_towars_block clearfix">
							<div class="o_l_s clearfix">
								<img src="images/photo1.jpg" alt="Alt">
								<div class="o_l_s_desc">
									<a href="#" class="title">Vincent 12 Brillance Blanc / Винсент краска для потолков и лепнины</a>
									<span>для потолков специализированные</span>
									<p>Таким образом, Versagel является высококачественным покрытием, обладающим не только прекрасными декоративными свойствами, но и веществом, предохраняющим стены здания от влаги и других вредоносных воздействий. </p>
								</div>
							</div>
							<div class="o_l_r">
								<span>от 290.00 руб.<img src="images/basket_icon.png" alt="Alt"></span>
								<div class="clearfix"></div>
								<ul>
									<li>Основа:</li>
									<li>Расход</li>
									<li>Фасовка</li>
								</ul>
								<ul>
									<li>водная</li>
									<li>8-10 кв.м/л</li>
									<li>
									<a href="#">0.7</a>    
									<a href="#">0.8</a>    
									<a href="#">2</a>
									</li>
								</ul>
								<div class="clearfix"></div>
								<a href="#" class="more_s_t">Подробнее о товаре</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END TOWAR PAGE	 -->
<!-- MAIN FORM -->
	<div class="main_form_bg">	
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main_h1_wrapper">
						<div class="main_h1">Хотите стать нашим клиентом? Свяжитесь с нами прямо сейчас!</div>
					</div>
				</div>
			</div>
			<form id="form1">
				<div class="row">
					<div class="col-md-6">
						<input type="text" placeholder="Ваше имя:" class="main_input" required>
						<input type="text" placeholder="Контактный телефон или e-mail:" class="main_input" required>
						<input type="file" name="u_file" id="file-6" class="inputfile inputfile-5" data-multiple-caption="{count} files selected" multiple />
						<label for="file-6">Прикрепить файл</label>
					</div>
					<div class="col-md-6">
						<textarea name="mess" placeholder="Текст сообщения:" class="mess_area"></textarea>
						<input type="submit" value="Отправить заявку" class="main_submit">
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-md-12">
					<div class="phone_wrap">Контактный телефоны для связи: <span>+7 (812) 336-88-01</span><span>|</span><span>+7 (812) 496-20-62</span></div>
				</div>
			</div>
		</div>
	</div>
<!-- END MAIN FORM -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-1 col-sm-2">
						<a href="#" class="logo_bottom"><img src="images/logo_bottom.png" alt="Alt"></a>
					</div>
					<div class="col-md-6 col-sm-5">
						<div class="logo_desc">
							<div class="title">БалтСтройКомплект</div>
							<p>Профессиоональные, высококачественные отделочные материалы</p>
							<div class="logo_description">2009-2016 © Все права защищены<a href="#">Политика конфенденцеальности.</a></div>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-1">
						<div class="bottom_call">
						<p class="bottom_phone">+7 (812) 336-88-01</p>
						<p class="bottom_phone">+7 (812) 496-20-62</p>
						<div class="bottom_links">
							<a href="#">Задать вопрос</a><a href="#">Заказать звонок</a>
						</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
<!-- END FOOTER -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.spasticNav.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>