<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Ирина Неясова</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<div class="main_slider_bg">
		<header>
			<div class="main_container clearfix">
				<div class="logo">
					<img src="images/logo.png" alt="Alt">
					<div class="logo_text">Ирина <br><span>Неясова</span></div>
				</div>
				<div class="header_right_side">
					<div class="grafik">
						<span>Режим работы:</span>
						<p>с 8:00 до 22:00 с Пн по Вс</p>
					</div>
					<div class="phone_top">
						<p>Санкт-Петербург: <span>+7 (981) 954-65-85</span></p>
						<p>Санкт-Петербург: <span>+7 (921) 845-71-97</span></p>
					</div>
					<div class="clearfix"></div>
					<div class="divider"></div>
					<ul class="main_nav">
						<li><a href="#" class="ontop1">Тренинги по сервису</a></li>
						<li><a href="#" class="ontop1">Тренинги по продажам</a></li>
						<li><a href="#" class="ontop1">Тренинги по управлению</a></li>
						<li><a href="#" class="ontop4">Контакты</a></li>
					</ul>
				</div>
			</div>
		</header>
		<div class="main_container clearfix">
			<div class="slider_content clearfix">
				<div class="l_side">
					<h1>Ирина Неясова</h1>
					<h2>– тренинги и консалтинг в сфере<br> фитнеса и красоты</h2>
					<a href="#" class="open_modal">Заказать тренинг</a>
				</div>
				<div class="r_side">
					<ul class="bxslider">
						<li>
							<img src="images/slider_img.png" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img1.png" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img2.png" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img3.png" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img4.png" alt="Alt">
						</li>
					</ul>
					<a href="https://vk.com/treningneyasova" class="show_more_video" target="_blank">Больше фото смотреть здесь</a>
				</div>
			</div>
		</div>
	</div>
<!-- END HEADER	 -->
<!-- ADVANTAGES -->
	<div class="main_container clearfix some_top1 a_bg">
		<div class="main_h1">Выбери свой тренинг</div>
		<div class="advantages_wrap">
			<div class="advantages_block">
				<div class="img_s">
					<img src="images/advantages_img1.jpg" alt="Alt" class="advant_img">
					<div class="icon">
						<img src="images/advantages_icon1.png" alt="Alt">
					</div>
				</div>
				<div class="title">Сервис</div>
				<p>Тренинги по сервисности и клиентоориентированности для администраторов, менеджеров по работе с клиентами.</p>
				<p>Тренинги для руководителей по выстраиванию системы первоклассного сервиса по системе Джона Шоула</p>
			</div>
			<div class="advantages_block">
				<div class="img_s">
					<img src="images/advantages_img2.jpg" alt="Alt" class="advant_img">
					<div class="icon">
						<img src="images/advantages_icon2.png" alt="Alt">
					</div>
				</div>
				<div class="title">Продажи</div>
				<p>Тренинги для менеджеров по продажам клубных карт (в том числе, телефонные переговоры и показ Клуба), работе с клиентской базой</p>
				<p>Тренинги для руководителей отдела продаж по выстраиванию системы продаж и системы мотивации менеджеров ОП</p>
			</div>
			<div class="advantages_block">
				<div class="img_s">
					<img src="images/advantages_img3.jpg" alt="Alt" class="advant_img">
					<div class="icon">
						<img src="images/advantages_icon3.png" alt="Alt">
					</div>
				</div>
				<div class="title">Управление</div>
				<p>Тренинги для руководителей отделов и управляющих фитнес-клубом или салонов красоты:</p>
				<p>Тренинги по созданию команды и управлению ей</p>
				<p>Тренинги по постановке задача и делегированию</p>
				<p>Тренинги по тайм-менеджменту</p>
			</div>
			<div class="advantages_block">
				<div class="img_s">
					<img src="images/advantages_img4.jpg" alt="Alt" class="advant_img">
					<div class="icon">
						<img src="images/advantages_icon4.png" alt="Alt">
					</div>
				</div>
				<div class="title">Консалтинг</div>
				<p>Аудит процессов в виде контрольной закупки или тайного покупателя</p>
				<p>Полевое сопровождение после обучения</p>
				<p>Реализация или сопровождение организационных проектов</p>
				<p>Разработка стандартов обслуживания</p>
			</div>
		</div>
		<div class="clearfix"></div>
		<a href="#" class="open_modal">Заказать тренинг</a>
	</div>
<!-- END ADVANTAGES -->
<!-- VIDEO -->
	<div class="video_bg">
		<div class="main_container clearfix">
			<ul class="bxslider">
				<li>
					<iframe src="//vk.com/video_ext.php?oid=-129259020&id=456239038&hash=0fb1bac69c313204&hd=2" width="655" height="384" frameborder="0" allowfullscreen></iframe>
					<div class="title">Павел Бадыров - директор по развитию ГК Sculptors</div>
				</li>
				<li>
					<iframe src="//vk.com/video_ext.php?oid=-129259020&id=456239037&hash=ac176f6b04820103&hd=2" width="655" height="384" frameborder="0" allowfullscreen></iframe>
					<div class="title">Тренинг по продажам для тренеров ГК Sculptors</div>
				</li>
				<li>
					<iframe src="//vk.com/video_ext.php?oid=-129259020&id=456239034&hash=f640d49a06e5f7bd&hd=2" width="655" height="384" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<iframe src="//vk.com/video_ext.php?oid=-129259020&id=456239033&hash=597b551752678da5&hd=2" width="655" height="384" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<iframe src="//vk.com/video_ext.php?oid=-129259020&id=456239020&hash=a0ef86e1a9b8646a&hd=2" width="655" height="384" frameborder="0" allowfullscreen></iframe>
				</li>
			</ul>
			<a href="https://vk.com/treningneyasova" class="show_more_video" target="_blank">Больше видео смотреть здесь</a>
		</div>
	</div>
<!-- END VIDEO -->
<!-- TRENER -->
	<div class="trener_bg">
		<div class="main_container clearfix">
			<div class="trener_content">
				<div class="title">Что вы получаете, заказывая тренинг?</div>
				<p>Тренинги от эксперта-практика в фитнес-индустрии, который знает все процессы изнутри</p>
				<p>Тренинги, заточенные под Ваш фитнес-клуб или салон, с учетом специфики Ваших реалий</p>
				<p>Тренинг от сертифицированного бизнес-тренера, который точно знает, как передавать опыт, знания и встраивать навыки частникам</p>
				<p>Контрольную закупку перед тренингом или скайп-сессию (если Вы находитесь не в Санкт-Петербурге), чтобы тренинг был максимально приближен к реалиям Вашей Компании</p>
				<p>Отчет по результатам тренинга, вы будете знать степень усвоенного материала участниками и их удовлетворенность</p>
				<p>Полевое сопровождение после тренинга (если Вы находитесь в Санкт-Петербуге) или скайп-сессии с чек-листом по самостоятельному ведению постренинговой работы</p>
			</div>
		</div>
	</div>
<!-- END TRENER -->
<!-- ABOUT -->
	<div class="about_wrap">
		<div class="main_container clearfix">
			<div class="about_side">
				<div class="main_h1">О себе</div>
				<div class="about_block">
					<p>Опыт в организационном консалтинге – более 7 лет. Более 10 успешно реализованных проектов, в том числе совместно с крупнейшими консалтинговыми компаниями, такими, как BearingPoint, McKinsey & Company, Ernst & Young.</p>
					<p>Сертифицированный бизнес-тренер, НЛП-практик – совокупный опыт тренерства более 5 лет, в сфере фитнеса и красоты – более 2,5 лет</p>
					<p>Путь в фитнес индустрии начинался как хобби, через некоторое время самостоятельных занятий я прошла обучение и получила право на ведение тренировок по нескольким направлениям. Разработала и неоднократно проводила собственную программу 14-дневного курса по бодифлекс.</p>
					<p>В 2014 году была приглашена на должность Управляющей Клубом в одной из крупнейшей сети фитнес-клубов в Санкт-Петербурге, после чего в разные периоды времени занимала должности заместителя руководителя построения организации, руководителя департамента качества и, наконец, бизнес-тренера сети.</p>
					<p>Обучено более 700 сотрудников, разработано более десятка тренингов и обучений, более 250 часов полевого сопровождения, коучинговых сессий. </p>
					<p>Средний показатель усвоения материала участниками тренинга по результатам контрольных листов – 93%;</p> 

				</div>
			</div>
			<div class="sert_side">
				<div class="col1">
					<a href="images/sert_img1.jpg" class="fancybox"><img src="images/sert_img1.jpg" alt="Alt"></a>
					<a href="images/sert_img2.jpg" class="fancybox"><img src="images/sert_img2.jpg" alt="Alt"></a>
					<a href="images/sert_img3.jpg" class="fancybox"><img src="images/sert_img3.jpg" alt="Alt"></a>
				</div>
				<div class="col2">
					<a href="images/sert_img4.jpg" class="fancybox"><img src="images/sert_img4.jpg" alt="Alt"></a>
					<a href="https://vk.com/treningneyasova" class="grey_link" target="_blank">Больше <br>сертификатов</a>
				</div>
			</div>
		</div>
	</div>
<!-- END ABOUT -->
<!-- MAIN FORM -->
	<div class="main_form_bg">
		<div class="main_container clearfix">
			<div class="title">Форма обратной связи</div>
			<form id="form1">
				<input type="text" name="name" placeholder="Ваше имя:" class="main_input" required>
				<input type="text" name="mail" placeholder="Ваш e-mail:" class="main_input" required>
				<input type="text" name="phone" placeholder="Ваш телефон:" class="main_input" required>
				<input type="submit" value="Свяжитесь со мной" class="main_submit">
			</form>
		</div>
	</div>
<!-- END MAIN FORM -->
<!-- REVIEWS -->
	<div class="video_bg review_bg">
		<div class="main_container clearfix">
			<div class="main_h1">Отзывы клиентов</div>
			<div class="review_wrap">
				<ul class="bxslider">
				<li>
					<div class="review_cont">
						<div class="review_block">
							<p>"За время работы бизнес тренером Неясовой И. было проведено множество полезных и эффективных тренингов с персоналом ,администраторами, менеджерами по работе с клиентами, менеджерами по продажам, тренерским составом. Ирина составляет и проводит самые разнообразные тренинги на любую необходимую и ,что особенно важно, заданную тематику.</p>
							<p>Тренинги по работе с конфликтными клиентами, тренинги по сервисной работе, тренинги по продажам, тренинги по личностному росту и многие другие. Результатом ее работы всегда были довольны и участники тренингов и управляющие .Работа проводилась в игровом формате с учебными пособиями ,заданиями на дом и отработкой на местах. Следствием являлись : увеличение продаж, повышение сервисного обслуживания, четкое понимание важности и целесообразности своих действий в рабочем процессе, благодарные отзывы клиентов в клубах о повышении уровня обслуживания и форматах общения с клиентами.</p>
							<p>С Ириной приятно работать и как с очень позитивным, умным человеком с широким кругозором, глубокими знаниями и отличным чувством юмора. Ирина хорошо чувствует людей, умеет найти к каждому индивидуальный подход, дать путь к самовыражению и решению именно тех проблем, которые необходимы в каждом конкретном случае.</p> 
							<p>С удовольствием и благодарностью рекомендовала бы Ирину, как замечательного специалиста и надеюсь работать с ней в дальнейшем."</p>
							<div class="review_avtor clearfix">
								<img src="images/review_photo1.png" alt="Alt">
								<div class="review_text">
									<div class="title">Светлана Ларина    <span>|</span>    <span>антикризисный управляющий</span></div>
									<a href="#">https://vk.com/loooy</a>
								</div>
							</div>
						</div>
						</div>
					</li>
					<li>
						<div class="review_cont">
						<div class="review_block">
						<p>Ирина,здравствуйте! Я вам очень благодарна за тренинг "Первый шаг или продажные тараканы")))Это у меня были проблемы с саморекламой в соц.сетях,если помните)Я с помощью ваших советов,смогла преодолеть её!И в первый же день,выложив несколько фото с работы,получила,не только десятки ответов,но и звонки с просьбами о тренировках!!!! Причем,подтверждая,то что вы говорили,эти люди даже не знали,где я работаю и как давно,хотя знали меня много лет)))!!!</p>
						<p>Если возможно пришлите пожалуйста фото с проблемы с саморекламой в соц.сетях(если помните)Я с помощью ваших советов,смогла преодолеть её!И в первый же день,выложив несколько фото с работы,получила,не только десятки ответов,но и звонки с просьбами о тренировках!!!! Причем,подтверждая,то что вы говорили,эти люди даже не знали,где я работаю и как давно,хотя знали меня много лет)))!!!</p>
						<p>Если возможно пришлите пожалуйста фото с тренинга)Он был 16 ноября.Спасибо.На каждом тренинге узнаю что-то новое)Понятие конверсии узнала только на вашем)))</p>
							<div class="review_avtor clearfix">
								<img src="images/review_photo.png" alt="Alt">
								<div class="review_text">
									<div class="title">Елизавета Гилко    <span>|</span>    <span>Персональный тренер</span></div>
									<a href="https://vk.com/id929677" target="_blank">https://vk.com/id929677</a>
								</div>
							</div>
						</div>
						</div>
					</li>
					<li>
					<div class="review_cont">
						<div class="review_block">
						<p>Ирина,здравствуйте!!!Только закончила работу..и очень хотела Вас поблагодарить за тренинг,мы с Ольгой были недолго,но нам очень понравилось,и в работе уже практикуем,то чему научились за столь короткое время. Просто глоток свежего воздуха,как-то легче стало общаться с людьми,легче понять ,что они хотят от нас!!Спасибо Вам огромное еще раз!Огромная благодарность от инструкторов групповых программ Sculptors на Купчино!!Очень бы хотелось посещать Ваши тренинги!</p>
							<div class="review_avtor clearfix">
								<img src="images/review_photo2.jpg" alt="Alt">
								<div class="review_text">
									<div class="title">Екатерина Зверева    <span>|</span>    <span>Персональный тренер</span></div>
									<a href="https://vk.com/id929677" target="_blank">https://vk.com/album-129259020_237943013</a>
								</div>
							</div>
						</div>
						</div>
					</li>
				</ul>

			</div>
			<a href="https://vk.com/treningneyasova" class="show_more_video" target="_blank">Больше отзывов смотреть здесь</a>
		</div>
	</div>
<!-- END REVIEWS -->
<!-- FOOTER -->
	<div class="footer_bg some_top4">
		<div class="main_container clearfix">
			<div class="logo">
				<img src="images/logo.png" alt="Alt">
				<div class="logo_text">Ирина <br><span>Неясова</span></div>
			</div>
			<div class="header_right_side">
				<div class="grafik">
					<span>Режим работы:</span>
					<p>с 8:00 до 22:00 с Пн по Вс</p>
				</div>
				<div class="phone_top">
					<p>Санкт-Петербург: <span>+7 (981) 954-65-85</span></p>
					<p>Санкт-Петербург: <span>+7 (921) 845-71-97</span></p>
				</div>
			</div>
			<div class="footer_right">
				<div class="social_wrap">
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
				</div>
				<a href="#" class="order open_modal">Заказать тренинг</a>
			</div>
		</div>
	</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="title">Заказать тренинг</div>
		<form id="form1">
			<input type="text" name="name" placeholder="Ваше имя" class="modal_input" required>
			<input type="text" name="phone" placeholder="Ваш телефон" class="modal_input tel_phone" required>
			<input type="text" name="mail" placeholder="Ваш e-mail" class="modal_input" required>
			<input type="submit" value="Записаться" class="modal_submit">
			<input type="hidden" name="formData" value="Заявка с сайта">
		</form>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL5 -->
<div class="overlay" id="overlay5" style="display:none;"></div> 
    <div class="nonebox" id="nonebox5"> 
     <a class="box-close one" id="box-close5" href="index.html"></a>
		<center><p class="success"><span>Спасибо за заявку!</span><br>
    В ближайшее время<br> мы свяжемся с Вами<br>
    <a href="index.html">Спасибо</a></p></center>
    </div> 
<!-- END MODAL5 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>