<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Lortexeco</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
<div id="wrapper">
	<header>
		<div class="main_container clearfix">
			<a href="#" class="logo">
				<img src="images/logo.png" alt="Alt">
			</a>
			<div class="header_right">
				<div class="call"><span>+7 (499) 123-0506</span><a href="#" class="open_modal">Перезвоните мне</a></div>
				<div class="sec_row">
					<div class="search_field">
						<form>
							<input type="text" name="search" placeholder="Поиск..." class="search_input" required>
							<input type="submit" class="search-button">
						</form>
					</div>
					<a href="#" class="basket">Корзина (1)</a>
				</div>
			</div>
		</div>
	</header>
	<div class="main_nav clearfix">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#">Каталог</a>
					<ul class="sub_menu">
						<li><a href="#">Флис <span>(23)</span></a></li>
				<li><a href="#">Габардин <span>(12)</span></a></li>
				<li><a href="#">Курточные ткани <span>(34)</span></a></li>
				<li><a href="#">Ткание детские <span>(7)</span></a></li>
				<li><a href="#">Велсофт <span>(4)</span></a></li>
				<li><a href="#">Сетка трикотажная <span>(22)</span></a></li>
				<li><a href="#">Оксфорд <span>(67)</span></a></li>
				<li><a href="#">ТиСи (смесовые ткани, Т/С) <span>(85)</span></a></li>
				<li><a href="#">Дублированные ткани <span>(9)</span></a></li>
				<li><a href="#">Алова <span>(38)</span></a></li>
				<li><a href="#">100% коттон <span>(33)</span></a></li>
				<li><a href="#">Ткани с антистатичсекой углеродной нитью <span>(4)</span></a></li>
				<li><a href="#">Трикотаж (полиэфирное трикотажное полотно) <span>(23)</span></a></li>
					</ul>
				</li>
				<li><a href="#">о компании</a></li>
				<li><a href="#">Оплата</a></li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="toggle_menu">
				<a href="#menu" id="toggle"><span></span></a>
			</div>
			<a href="#" class="order open_modal2">Заказать образцы тканей</a>
		</div>
	</div>
<!-- END HEADER	 -->
<!-- MAIN CONTENT -->
	<div class="main_container clearfix cart_page">
		<div class="main_content_wrapper">
			<div class="cart_content">
				<ul class="breadcrumbs">
					<li><a href="#">Главная</a><span>›</span></li>
					<li><a href="#">Каталог</a><span>›</span></li>
					<li><a href="#">ОКСФОРД</a><span>›</span></li>
					<li>Ткань Оксфорд,210D,принт Круги (фуксия)</li>
				</ul>
				<div class="main_h1">Ткань Оксфорд,210D,принт Круги (фуксия)
				<span></span>
				</div>
				<div class="cart_info clearfix">
					<div class="l-side">
						<ul class="bxslider3">
							<li>
								<img src="images/cart_img.jpg" alt="Alt">
							</li>
							<li>
								<img src="images/cart_img.jpg" alt="Alt">
							</li>
							<li>
								<img src="images/cart_img.jpg" alt="Alt">
							</li>
							<li>
								<img src="images/cart_img.jpg" alt="Alt">
							</li>
						</ul>
						<div class="bx-pager clearfix">
							<a href="" data-slide-index="0"><img src="images/cart_img.jpg" alt="Alt"></a>
							<a href="" data-slide-index="1"><img src="images/cart_img.jpg" alt="Alt"></a>
							<a href="" data-slide-index="2"><img src="images/cart_img.jpg" alt="Alt"></a>
							<a href="" data-slide-index="3"><img src="images/cart_img.jpg" alt="Alt"></a>
						</div>
					</div>
					<div class="r-side">
						<div class="char">
							<span>В наличии</span>
							<span>Только оптом</span>
							<span>Код: Оксф. "Круги" фуксия</span>
						</div>
						<ul>
							<li><span>Состав:</span> 100% ПЭ</li>
							<li><span>Плотность:</span> 110 г.м2</li>
							<li><span>Отделка:</span> PU 1000, ВО, ВТРЗ</li>
							<li><span>Ширина:</span> 150 см</li>
						</ul>
						<p>Ткань Оксфорд 210D принт. Используется для изготовления верхней детской мужской и женской одежды, головных уборов, обуви, детских качелей, стульчиков, шезлонгов, кукольных колясок, рюкзачков, детских автокресел, пеналов, сумок, пляжных сумок и зонтов, лежаков, санок-ватрушек, палаток, папок, фартуков, развивающих ковриков, бескаркасной мебели (пуфики, кресла-груши и т.п.) </p>
						<div class="cart_price clearfix">
							<span>96,26 руб./пог.м</span><a href="#">в корзину</a>
						</div>
						<div class="clearfix"></div>
						<div class="tags_wrap">
							<a href="#">Условия оплаты и доставки</a>
							<a href="#">График работы</a>
							<a href="#">Адрес и контакты</a>      
						</div>
					</div>
				</div>
			</div>
			<div class="table_cart">
				<div class="title">Характеристики</div>
				<table>
					<tr class="custom_bg">
						<td>Страна производитель</td>
						<td>Китай</td>
					</tr>
					<tr>
						<td>Состав</td>
						<td>100% ПЭ</td>
					</tr>
					<tr class="custom_bg">
						<td>Отделка ткани</td>
						<td>Принт</td>
					</tr>
					<tr>
						<td>Вес</td>
						<td>110г/м2 г/м2</td>
					</tr>
					<tr class="custom_bg">
						<td>Ширина</td>
						<td>150 см</td>
					</tr>
				</table>
			</div>
			<div class="clearfix"></div>
			<div class="main_h1">похожите ткани<span></span></div>
			<div class="new_wrap">
				<div class="new_block">
					<img src="images/new_img1.jpg" alt="Alt">
					<hr>
					<a href="#" class="title">ТиСи сорочка 65/35, КМФ С-20 (Желтый камыш)</a>
					<div class="col">115 г/м2</div>
					<div class="price">64,15 руб./пог.м</div>
					<div class="desc">
						<span>В наличии</span>
						<span>Только оптом</span>
					</div>
				</div>
				<div class="new_block">
					<img src="images/new_img2.jpg" alt="Alt">
					<hr>
					<a href="#" class="title">ТиСи сорочка 65/35, КМФ С-20 (Желтый камыш)</a>
					<div class="col">115 г/м2</div>
					<div class="price">64,15 руб./пог.м</div>
					<div class="desc">
						<span>В наличии</span>
						<span>Только оптом</span>
					</div>
				</div>
				<div class="new_block">
					<img src="images/new_img3.jpg" alt="Alt">
					<hr>
					<a href="#" class="title">ТиСи сорочка 65/35, КМФ С-20 (Желтый камыш)</a>
					<div class="col">115 г/м2</div>
					<div class="price">64,15 руб./пог.м</div>
					<div class="desc">
						<span>В наличии</span>
						<span>Только оптом</span>
					</div>
				</div>
				<div class="new_block">
					<img src="images/new_img4.jpg" alt="Alt">
					<hr>
					<a href="#" class="title">ТиСи сорочка 65/35, КМФ С-20 (Желтый камыш)</a>
					<div class="col">115 г/м2</div>
					<div class="price">64,15 руб./пог.м</div>
					<div class="desc">
						<span>В наличии</span>
						<span>Только оптом</span>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END MAIN CONTENT -->
<!-- FOOTER -->
	<div class="footer_bg">
		<div class="main_container clearfix">
			<div class="lists_wrap">
				<ul>
					<li><a href="#">каталог</a></li>
					<li><a href="#">Курточные ткани</a></li>
					<li><a href="#">Камуфлированные ткани</a></li>
					<li><a href="#">Ткани для активного отдыха</a></li>
					<li><a href="#">Ткани для спецодежды</a></li>
					<li><a href="#">Прикладные ткани</a></li>
					<li><a href="#">ХБткани</a></li>
					<li><a href="#">Распродажа ткани</a></li>
					<li><a href="#">НОВИНКИ</a></li>
				</ul>
				<ul>
					<li><a href="#">Компания</a></li>
					<li><a href="#">О компании</a></li>
					<li><a href="#">Доставка</a></li>
					<li><a href="#">Оплата</a></li>
					<li><a href="#">Скидки</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Статьи</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<ul>
					<li><a href="#">поддержка</a></li>
					<li><a href="#">Доставка и оплата</a></li>
					<li><a href="#">Пункт самовывоза</a></li>
					<li><a href="#">Информация</a></li> 
					<li><a href="#">Ткани на заказ</a></li>
					<li><a href="#">Ткани оптом</a></li>
				</ul>
				<ul>
					<li><a href="#">КОНТАКТЫ</a></li>
					<li>ЛОРТЭКС ЭКО</li>
					<li>Офис: 2-ой Рощинский проезд, д.8, оф.602;</li>
					<li><a href="#" class="g_link">Схема проезда</a></li>
					<li>Склад: 2-й Котляковский пер.,д.1, стр.6, подьезд<br>  2., Москва, 115419, Россия</li>
					<li><a href="#" class="g_link">Схема проезда</a></li>
					<li>Телефон: +7 (499) 123-0506</li>
					<li>Email: <a href="#" class="m_link">mail@lortexeco.com</a></li>
				</ul>
			</div>
			<footer>
				<div class="copyright">2004-2016 © Lortexeco. Все права защищены</div>
			</footer>
		</div>
	</div>
</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
	<div class="overlay" id="overlay" style="display:none;"></div> 
	<div class="nonebox" id="nonebox"> 
		<a class="box-close one" id="box-close" href="#"></a>
		<div class="title">Обратный звонок</div>
		<form id="from1">
			<input type="text" name="name" placeholder="Ваше имя" class="modal_input" required="">
			<input type="text" name="phone" placeholder="Ваш телефон" class="modal_input" required="">
			<input type="submit" value="Перезвонить мне" class="modal_submit">
		</form>
	</div> 
<!-- END MODAL1 -->
<!-- MODAL2 -->
	<div class="overlay" id="overlay2" style="display:none;"></div> 
	<div class="nonebox" id="nonebox2"> 
		<a class="box-close one" id="box-close2" href="#"></a>
		<div class="title">Заказать образцы тканей</div>
		<form id="from1">
			<input type="text" name="name" placeholder="Ваше имя" class="modal_input" required="">
			<input type="text" name="mail" placeholder="Ваш e-mail" class="modal_input" required="">
			<textarea name="mess" class="modal_mess" placeholder="Ваши комментарии"></textarea>
			<input type="submit" value="отправить заявку" class="modal_submit">
		</form>
	</div> 
<!-- END MODAL2 -->
<div id="menu">
	<ul>
		<li><a href="#">Каталог</a></li>
		<li><a href="#">о компании</a></li>
		<li><a href="#">Оплата</a></li>
		<li><a href="#">Доставка</a></li>
		<li><a href="#">Контакты</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
 </body>
</html>