<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Стоматолог и Я</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div id="wrapper">
	<header>
		<div class="main_container clearfix">
			<div class="logo">
				<img src="images/logo.jpg" alt="Alt">
				<div class="logo_text">Выгодное и удобное лечение без боли</div>
			</div>
			<div class="phone_top">
				<p>8 800 222 33 22</p>
				<a href="#" class="call_top open_modal">ЗАКАЗАТЬ ЗВОНОК</a>
			</div>
			<!-- <div class="clearfix"></div> -->
			<div class="toggle_menu">
		    <a href="#menu" id="toggle"><span></span></a>	
			</div>
		</div>
		<div id="top_nav">
			<div class="main_container clearfix">
				<ul>
					<li class="active"><a href="#" class="scrollto1">Наши услуги</a></li>
					<li><a href="#" class="scrollto2">почему нас рекомендуют</a></li>
					<li><a href="#" class="scrollto3">клиника</a></li>
					<li><a href="#" class="scrollto4">наши врачи</a></li>
					<li><a href="#" class="scrollto5">отзывы</a></li>
					<li><a href="#" class="scrollto6">контакты</a></li>
				</ul>
			</div>
		</div>
		<nav id="nav-wrap">
 			<div id="menu-icon" class="active"></div>
		 
		<ul id="nav">
			<li class="active"><a href="#" class="scrollto1">Наши услуги</a></li>
			<li><a href="#" class="scrollto2">почему нас рекомендуют</a></li>
			<li><a href="#" class="scrollto3">клиника</a></li>
			<li><a href="#" class="scrollto4">наши врачи</a></li>
			<li><a href="#" class="scrollto5">отзывы</a></li>
			<li><a href="#" class="scrollto6">контакты</a></li>
			<li class="hidden_on_tablet"><a href="#" class="scrollto6">контакты</a></li>
		</ul>
		 
		</nav>
	</header>
<!-- END HEADER -->
<!-- MAIN SLIDER -->
	<div class="main_slider_bg">
	  <ul class="bxslider6">
	  <li class="first-slide">
	  	<div class="main_container clearfix">
	  		<div class="slider_desc">
	  			<div class="main_title">Установите<br>
				светооттверждающую<br>
				пломбу<br>
				всего за</div>
				<span>500 руб.</span>
				<p>* запишитесь на прием и узнайте когда счастливый день<br>
				(срок до 31августа)</p>
			</div>
	  	</div>
	  </li>
	  <li class="second-slide">
	  	<div class="main_container clearfix">
	  		<div class="slider_desc">
	  			<div class="main_title">Новые зубы доступнее,<br>
				чем когда либо!<br>
				Установка импланта<br>
				с пожизненной гарантией<br>
				всего ЗА</div>
				<span>14.000 руб.</span>
			</div>
	  	</div>
	  </li>
	  <li class="third-slide">
	  	<div class="main_container clearfix">
	  		<div class="slider_desc">
	  			<div class="main_title">До конца лета вы можете<br>
				установить брекетную систему<br>
				с возможностью рассрочки<br>
				и бесплатным сервисом<br>
				во время ношения</div>
				<p>*оставьте заявку на консультацию и узнайте подробности</p>
			</div>
	  	</div>
	  </li>	
	</ul>
	</div>
<!-- END MAIN SLIDER -->
<!-- BLUE BLOCK -->
			<div class="blue_block_bg">
			<div class="main_container clearfix">
				<div class="blue_block_text">Не терпите боль, запишитесь на прием прямо сейчас!</div>
				<a href="#" class="blue_block_button open_modal">ЗАКАЗАТЬ ЗВОНОК</a>
			</div>
		</div>
<!-- END BLUE BLOCK -->
<!-- USLUGI -->
	<div class="main_container clearfix" id="scrollto1">
		<div class="h1">НАШИ УСЛУГИ</div>
		<div class="services_wrap clearfix">
			
			<div class="services_block hidden_mobile">
				<div class="services_img">
					<div class="services_title">ТЕРАПИЯ</div>
					<img src="images/services_img3.jpg" alt="Alt">
				</div>
				<div class="services_text">Общая терапия. Лечение: кариеса, пульпита, периодонтита</div>
				<a href="#" class="services_button open_modal2">ПОДРОБНЕЕ</a>
			</div>
			<div class="services_block hidden_mobile">
				<div class="services_img">
					<div class="services_title">ИМПЛАНТАЦИЯ</div>
					<img src="images/services_img2.jpg" alt="Alt">
				</div>
				<div class="services_text">Замещение при частичной или полной потере зубов</div>
				<a href="#" class="services_button open_modal3">ПОДРОБНЕЕ</a>
			</div>
			<div class="services_block hidden_mobile">
				<div class="services_img">
					<div class="services_title">Ортодонтия</div>
					<img src="images/services_img1.jpg" alt="Alt">
				</div>
				<div class="services_text">Полное исправление кривизны зубов и прикуса</div>
				<a href="#" class="services_button open_modal4">ПОДРОБНЕЕ</a>
			</div>
			<ul class="bxslider5">
				<li>
					<div class="services_block">
						<div class="services_img">
							<div class="services_title">ТЕРАПИЯ</div>
							<img src="images/services_img3.jpg" alt="Alt">
						</div>
						<div class="services_text">Общая терапия. Лечение: кариеса, пульпита, периодонтита</div>
						<a href="#" class="services_button open_modal2">ПОДРОБНЕЕ</a>
					</div>
				</li>
				<li>
					<div class="services_block">
						<div class="services_img">
							<div class="services_title">ИМПЛАНТАЦИЯ</div>
							<img src="images/services_img2.jpg" alt="Alt">
						</div>
						<div class="services_text">Замещение при частичной или полной потере зубов</div>
						<a href="#" class="services_button open_modal3">ПОДРОБНЕЕ</a>
					</div>
				</li>
				<li>
					<div class="services_block">
						<div class="services_img">
							<div class="services_title">Ортодонтия</div>
							<img src="images/services_img1.jpg" alt="Alt">
						</div>
						<div class="services_text">Полное исправление кривизны зубов и прикуса</div>
						<a href="#" class="services_button open_modal4">ПОДРОБНЕЕ</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
<!-- END USLUGI -->
<!-- BLUE BLOCK -->
		<div class="blue_block_bg">
			<div class="main_container clearfix">
				<div class="blue_block_text">Запишитесь  к врачу на нашем сайте и получите скидку <span>3%</span></div>
				<a href="#" class="blue_block_button open_modal">ЗАКАЗАТЬ ЗВОНОК</a>
			</div>
		</div>
	</div>
<!-- END BLUE BLOCK -->
<!-- ADVANTAGES -->
	<div class="advantages_bg" id="scrollto2">
		<div class="main_container clearfix">
			<div class="h1_white">Почему нас рекомендуют родственникам и друзьяМ</div>
			<div class="advantages_wrap clearfix">
				<div class="advantages_block">
					<img src="images/advantages_img1.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Наши профессионалы с опытом работы не менее 10.000 часов</div>
						<p>Наша клиника имеет лицензию. Наши врачи постоянно обучаются что позволяет предоставлять вам высокотехнологичную помощь</p>
					</div>
				</div>
				<div class="advantages_block">
					<img src="images/advantages_img2.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Наши цены в среднем на 30% дешевле чем в Ростове-на-Дону</div>
						<p>У вас очевидное приемущество лечите зубы значительно дешевле без потери качества</p>
					</div>
				</div>
				<div class="advantages_block">
					<img src="images/advantages_img3.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Мы одни из немногих кто дает гарантию на свои работы</div>
						<p>Мы отвечаем за качество наших услуг, что позволяет на некоторые виды лечения давать пожизненную гарантию</p>
					</div>
				</div>
				<div class="advantages_block">
					<img src="images/advantages_img4.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Мы работаем честно</div>
						<p>Вам предоставляется лечение только после четко согласованного с вами  плана лечения так же мы всегда заводим историю вашего лечения что позволит вам знать как именно лечились зубы</p>
					</div>
				</div>
				<div class="advantages_block">
					<img src="images/advantages_img5.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Мы используем передовое оборудование в каждой клинике</div>
						<p>Все наши клиники снабжены всем необходимым оборудованием что позволяет вам получать только качественную помощь в одном мест</p>
					</div>
				</div>
				<div class="advantages_block">
					<img src="images/advantages_img6.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Мы всегда идем на встречу нашим клиентам</div>
						<p>Пациенты с острой болью принимаются без очереди, к нетранспортабельным клиентам возможен выезд на дом</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END ADVANTAGES -->
<!-- FACTS -->
	<div class="facts_wrap" id="scrollto3">
		<div class="main_container clearfix">
			<div class="h1">Немного фактов о нашей клинике</div>
			<ul class="bxslider">
				<li>
					<a href="images/slider_img1_big.jpg" class="fancybox">
						<img src="images/slider_img1.png" alt="Alt">
					</a>
					<a href="images/slider_img2_big.jpg" class="fancybox hidden_mobile">
						<img src="images/slider_img2.png" alt="Alt">
					</a>
					<a href="images/slider_img3_big.jpg" class="fancybox hidden_mobile">
						<img src="images/slider_img3.png" alt="Alt">
					</a>
				</li>
				<li>
					<a href="images/slider_img1_big.jpg" class="fancybox hidden_mobile">
						<img src="images/slider_img1.png" alt="Alt">
					</a>
					<a href="images/slider_img2_big.jpg" class="fancybox hidden_mobile">
						<img src="images/slider_img2.png" alt="Alt">
					</a>
					<a href="images/slider_img3_big.jpg" class="fancybox">
						<img src="images/slider_img3.png" alt="Alt">
					</a>
				</li>
				<li>
					<a href="images/slider_img1_big.jpg" class="fancybox hidden_mobile">
						<img src="images/slider_img1.png" alt="Alt">
					</a>
					<a href="images/slider_img2_big.jpg" class="fancybox hidden_mobile">
						<img src="images/slider_img2.png" alt="Alt">
					</a>
					<a href="images/slider_img3_big.jpg" class="fancybox">
						<img src="images/slider_img3.png" alt="Alt">
					</a>
				</li>
			</ul>
			<div class="clearfix"></div>
			<div class="facts_block">
				<img src="images/facts_icon1.png" alt="Alt">
				<div class="facts_text">Мы используем только стерильные инструменты. Врач вскрывает при вас  новый  пакет с  инструментами</div>
			</div>
			<div class="facts_block">
				<img src="images/facts_icon2.png" alt="Alt">
				<div class="facts_text">Наш персонал всегда осведомлен о новой информации  и ответит на интересующие вопросы</div>
			</div>
			<div class="facts_block">
				<img src="images/facts_icon3.png" alt="Alt">
				<div class="facts_text">Комфортная зона ожидания как для взрослых так и для детей</div>
			</div>
			<div class="facts_block">
				<img src="images/facts_icon4.png" alt="Alt">
				<div class="facts_text">Используем только анестезию высокого качества вы будете уверенны в том что вам не будет больно</div>
			</div>
		</div>
	</div>
<!-- END FACTS -->
<!-- BLUE BLOCK -->
		<div class="blue_block_bg">
			<div class="main_container clearfix">
				<div class="blue_block_text">Запишитесь  к врачу на нашем сайте и получите скидку <span>3%</span></div>
				<a href="#" class="blue_block_button open_modal">ЗАКАЗАТЬ ЗВОНОК</a>
			</div>
		</div>
	</div>
<!-- END BLUE BLOCK -->
<!-- DOCTORS -->
	<div class="main_container clearfix" id="scrollto4">
		<div class="h1">наши врачи</div>
		<div class="doctors_wrap">
			<ul class="bxslider">
				<li>
					<div class="doctors_block">
						<img src="images/doctor_img1.jpg" alt="Alt">
						<div class="title">Радиевский Владислав Иванович</div>
						<p>Главный врач.<br> Стоматолог-ортопед, хирург, пародонтолог</p>
					</div>
					<div class="doctors_block hidden_mobile">
						<img src="images/doctor_img2.jpg" alt="Alt">
						<div class="title">Агильдина Наталья Валентиновна</div>
						<p>Стоматолог-терапевт</p>
					</div>
					<div class="doctors_block hidden_mobile">
						<img src="images/doctor_img1.jpg" alt="Alt">
						<div class="title">Радиевский Владислав Иванович</div>
						<p>Главный врач.<br> Стоматолог-ортопед, хирург, пародонтолог</p>
					</div>
					<div class="doctors_block hidden_on_tablet hidden_mobile">
						<img src="images/doctor_img2.jpg" alt="Alt">
						<div class="title">Агильдина Наталья Валентиновна</div>
						<p>Стоматолог-терапевт</p>
					</div>
				</li>
				<li>
					<div class="doctors_block hidden_mobile">
						<img src="images/doctor_img1.jpg" alt="Alt">
						<div class="title">Радиевский Владислав Иванович</div>
						<p>Главный врач.<br> Стоматолог-ортопед, хирург, пародонтолог</p>
					</div>
					<div class="doctors_block">
						<img src="images/doctor_img2.jpg" alt="Alt">
						<div class="title">Агильдина Наталья Валентиновна</div>
						<p>Стоматолог-терапевт</p>
					</div>
					<div class="doctors_block hidden_mobile">
						<img src="images/doctor_img1.jpg" alt="Alt">
						<div class="title">Радиевский Владислав Иванович</div>
						<p>Главный врач.<br> Стоматолог-ортопед, хирург, пародонтолог</p>
					</div>
					<div class="doctors_block hidden_on_tablet hidden_mobile">
						<img src="images/doctor_img2.jpg" alt="Alt">
						<div class="title">Агильдина Наталья Валентиновна</div>
						<p>Стоматолог-терапевт</p>
					</div>
				</li>
				<li>
					<div class="doctors_block hidden_mobile">
						<img src="images/doctor_img1.jpg" alt="Alt">
						<div class="title">Радиевский Владислав Иванович</div>
						<p>Главный врач.<br> Стоматолог-ортопед, хирург, пародонтолог</p>
					</div>
					<div class="doctors_block hidden_mobile">
						<img src="images/doctor_img2.jpg" alt="Alt">
						<div class="title">Агильдина Наталья Валентиновна</div>
						<p>Стоматолог-терапевт</p>
					</div>
					<div class="doctors_block">
						<img src="images/doctor_img1.jpg" alt="Alt">
						<div class="title">Радиевский Владислав Иванович</div>
						<p>Главный врач.<br> Стоматолог-ортопед, хирург, пародонтолог</p>
					</div>
					<div class="doctors_block hidden_on_tablet hidden_mobile">
						<img src="images/doctor_img2.jpg" alt="Alt">
						<div class="title">Агильдина Наталья Валентиновна</div>
						<p>Стоматолог-терапевт</p>
					</div>
				</li>

			</ul>
		</div>
	</div>
<!-- END DOCTORS -->
<!-- REVIEWS -->
	<div class="reviews_bg" id="scrollto5">
		<div class="main_container clearfix">
			<div class="h1_white">ОТЗЫВЫ НАШИХ КЛИЕНТОВ</div>
			<div class="reviews_wrap">
				<ul class="bxslider3">
					<li>
						<iframe width="466" height="310" src="https://www.youtube.com/embed/YqLXTPn563w" frameborder="0" allowfullscreen></iframe>
						<div class="review_text">
							<div class="name">Романова Наталья Владимировна</div>
							<div class="target"><span>Исправление прикуса</span> (24.04.2016)</div>
							<p>В стоматологической клинике “Стоматолог и Я” мне была проведена операция по вживлению импланта и установке коронки на него. Проведенная работа  привела меня в восторг. Профессионализм, индивидуальный подход, просчитанная и грамотная работа привела к к успешному решению моей проблемы. Моя особая благодарность доктору Виталию Сергеевичу. Стоматологию я буду рекомендовать всем своим близким людям, поскольку уверена в мастерстве работающих здесь врачей. Спасибо большое за мою улыбку! Желаю Вам успехов, благополучия и всего самого наилучшего!</p>
						</div>
					</li>
					<li>
						<iframe width="466" height="310" src="https://www.youtube.com/embed/YqLXTPn563w" frameborder="0" allowfullscreen></iframe>
						<div class="review_text">
							<div class="name">Романова Наталья Владимировна</div>
							<div class="target"><span>Исправление прикуса</span> (24.04.2016)</div>
							<p>В стоматологической клинике “Стоматолог и Я” мне была проведена операция по вживлению импланта и установке коронки на него. Проведенная работа  привела меня в восторг. Профессионализм, индивидуальный подход, просчитанная и грамотная работа привела к к успешному решению моей проблемы. Моя особая благодарность доктору Виталию Сергеевичу. Стоматологию я буду рекомендовать всем своим близким людям, поскольку уверена в мастерстве работающих здесь врачей. Спасибо большое за мою улыбку! Желаю Вам успехов, благополучия и всего самого наилучшего!</p>
						</div>
					</li>
					<li>
						<iframe width="466" height="310" src="https://www.youtube.com/embed/YqLXTPn563w" frameborder="0" allowfullscreen></iframe>
						<div class="review_text">
							<div class="name">Романова Наталья Владимировна</div>
							<div class="target"><span>Исправление прикуса</span> (24.04.2016)</div>
							<p>В стоматологической клинике “Стоматолог и Я” мне была проведена операция по вживлению импланта и установке коронки на него. Проведенная работа  привела меня в восторг. Профессионализм, индивидуальный подход, просчитанная и грамотная работа привела к к успешному решению моей проблемы. Моя особая благодарность доктору Виталию Сергеевичу. Стоматологию я буду рекомендовать всем своим близким людям, поскольку уверена в мастерстве работающих здесь врачей. Спасибо большое за мою улыбку! Желаю Вам успехов, благополучия и всего самого наилучшего!</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END REVIEWS -->
<!-- FOOTER -->
	<div class="footer_bg" id="scrollto6">
		<div class="main_container clearfix">
			<div class="left_footer_block">
				<img src="images/logo_white.png" alt="Alt">
				<div class="address_bottom">Санкт-Петербург,  ул. Школьная 8<br>ИНН 402817194284,  ОГРН 316402700068022</div>
				<div class="phone_bottom">8 (495) 940 98 20</div>
				<a href="#" class="button_bottom open_modal">записаться на прием</a>
				<div class="clearfix"></div>
				<a href="politics.html" class="conf clearfix" target="_blank">политика конфиденциальности</a>
			</div>
		</div>
		<div id="map">
		</div>
	</div>
<!-- END FOOTER -->
</div>
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="modal_h1">Записаться на прием</div>
		<div class="modal_h2">Заполните форму и наш администратор свяжется с вами в течении 5 минут</div>
		<form id="form1">
			<input type="text" name="name" placeholder="Имя" class="main_input" required>
			<input type="text" name="phone" placeholder="Телефон*" class="main_input" required>
			<input type="submit" value="ЗАПИСАТЬСЯ" class="submit_main">
			<input type="hidden" name="formData" value="Заявка с сайта">
		</form>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL2 -->
<div class="overlay2" id="overlay2" style="display:none;"></div> 
    <div class="nonebox2" id="nonebox2"> 
     <a class="box-close one custom_close" id="box-close2" href="#"></a>
		<div class="slider_modal">
		<ul class="bxslider2">
				<li>
					<img src="images/big_img1.jpg" alt="Alt">
				</li>
				<li>
					<img src="images/big_img1.jpg" alt="Alt">
				</li>
				<li>
					<img src="images/big_img1.jpg" alt="Alt">
				</li>
			</ul>
			<div class="bx-pager">
				<ul class="nav">
					<li><a href="" data-slide-index="0"><img src="images/thumb1.jpg" alt="Alt"></a></li>
					<li><a href="" data-slide-index="1"><img src="images/thumb2.jpg" alt="Alt"></a></li>
					<li><a href="" data-slide-index="2"><img src="images/thumb3.jpg" alt="Alt"></a></li>
				</ul>
			</div>
		</div>
		<div class="slider_text">
			<div class="title">КОМПЛЕКСНОЕ ЛЕЧЕНИЕ ЗУБОВ</div>
			<p>Для комплексного лечения зубов мы используем передовые методы лечения , что позволяет нам проводить  лечение 
			максимально качественно и безболезненно</p>
			<ul class="hidden_mobile">
				<li>Лечение без боли </li>
				<li>Внеочередная помощь при острой боли</li>
				<li>Лечение строго по согласованному плану</li>
				<li>Мы даем гарантию и несем ответственность</li>
			</ul>
			<div class="form_inside_title">Не терпите боль , запишитесь на прием и начните лечение уже сегодня!</div>
			<form d="form2">
				<input type="text" name="phone" placeholder="Телефон*" class="phone_inside">
				<input type="submit" value="записаться" class="submit_inside">
				<input type="hidden" name="formData" value="Заявка с сайта">
			</form>
		</div>
    </div> 
<!-- END MODAL2 -->
<!-- MODAL3 -->
<div class="overlay2" id="overlay3" style="display:none;"></div> 
    <div class="nonebox2" id="nonebox3"> 
     <a class="box-close one custom_close" id="box-close3" href="#"></a>
		<div class="slider_modal">
		<ul class="bxslider2">
				<li>
					<img src="images/big_img2.jpg" alt="Alt">
				</li>
				<li>
					<img src="images/big_img2.jpg" alt="Alt">
				</li>
				<li>
					<img src="images/big_img2.jpg" alt="Alt">
				</li>
			</ul>
			<div class="bx-pager">
				<ul class="nav">
					<li><a href="" data-slide-index="0"><img src="images/thumb4.jpg" alt="Alt"></a></li>
					<li><a href="" data-slide-index="1"><img src="images/thumb5.jpg" alt="Alt"></a></li>
					<li><a href="" data-slide-index="2"><img src="images/thumb6.jpg" alt="Alt"></a></li>
				</ul>
			</div>
		</div>
		<div class="slider_text">
			<div class="title">Имплантация</div>
			<p>Наша клиника имеет лицензию на проведение лечения , наши врачи имеют сертификаты и большой опыт что позволяет вам получить качественный сервис в одном месте</p>
			<ul class="hidden_mobile">
				<li>Имплантация без боли</li>
				<li>Цена зафиксирована на время лечения</li>
				<li>Несколько вариантов имплантации</li>
				<li>Пожизненная гарантия</li>
			</ul>
			<div class="form_inside_title">Не откладывайте в долгий ящик то, что можно сделать сегодня, запишитесь.</div>
			<form id="form3">
				<input type="text" name="phone" placeholder="Телефон*" class="phone_inside">
				<input type="submit" value="записаться" class="submit_inside">
				<input type="hidden" name="formData" value="Заявка с сайта">
			</form>
		</div>
    </div> 
<!-- END MODAL3 -->
<!-- MODAL4 -->
<div class="overlay2" id="overlay4" style="display:none;"></div> 
    <div class="nonebox2" id="nonebox4"> 
     <a class="box-close one custom_close" id="box-close4" href="#"></a>
		<div class="slider_modal">
		<ul class="bxslider2">
				<li>
					<img src="images/big_img3.jpg" alt="Alt">
				</li>
				<li>
					<img src="images/big_img3.jpg" alt="Alt">
				</li>
				<li>
					<img src="images/big_img3.jpg" alt="Alt">
				</li>
			</ul>
			<div class="bx-pager">
				<ul class="nav">
					<li><a href="" data-slide-index="0"><img src="images/thumb7.jpg" alt="Alt"></a></li>
					<li><a href="" data-slide-index="1"><img src="images/thumb8.jpg" alt="Alt"></a></li>
					<li><a href="" data-slide-index="2"><img src="images/thumb9.jpg" alt="Alt"></a></li>
				</ul>
			</div>
		</div>
		<div class="slider_text">
			<div class="title">Ортодонтия</div>
			<p>Наша клиника использует только наиболее комфортные и эффективные методы исправления кривизны зубов и  исправления прикуса </p>
			<ul class="hidden_mobile">
				<li>Бесплатный сервис брекетов на время лечения</li>
				<li>Есть возможность лечения в рассрочка</li>
				<li>Несколько вариантов установки брекетов</li>
				<li>Только проверенные брекетные системы </li>
			</ul>
			<div class="form_inside_title">Сделайте первый шаг к Сногсшибательной улыбке уже сегодня. Запишитесь на прием</div>
			<form id="form4">
				<input type="text" name="phone" placeholder="Телефон*" class="phone_inside">
				<input type="submit" value="записаться" class="submit_inside">
				<input type="hidden" name="formData" value="Заявка с сайта">
			</form>
		</div>
    </div> 
<!-- END MODAL4 -->
<!-- MODAL5 -->
<div class="overlay" id="overlay5" style="display:none;"></div> 
    <div class="nonebox" id="nonebox5"> 
     <a class="box-close one" id="box-close5" href="index.html"></a>
		<center><p class="success"><span>Спасибо за заявку!</span><br>
    В ближайшее время наш<br> менеджер Вам перезвонит<br>
    <a href="index.html">Спасибо</a></p></center>
    </div> 
<!-- END MODAL5 -->
<div id="menu">
	  <ul>
		<li class="bottom_link"><a href="#" class="scrollto1">Наши услуги</a></li>
		<li class="bottom_link"><a href="#" class="scrollto2">почему нас рекомендуют</a></li>
		<li class="bottom_link"><a href="#" class="scrollto3">клиника</a></li>
		<li class="bottom_link"><a href="#" class="scrollto4">наши врачи</a></li>
		<li class="bottom_link"><a href="#" class="scrollto5">отзывы</a></li>
		<li class="bottom_link"><a href="#" class="scrollto6">контакты</a></li>
	  </ul>
	  <div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/ajax_form.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/ajax_form.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/script.js"></script>
<script>
ymaps.ready(function () {
    var myMap = new ymaps.Map('map', {
            center: [59.98832, 30.293509],
            zoom: 16,
          controls: ['zoomControl']
        }, {
            searchControlProvider: 'yandex#search'
        }),
        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: 'Собственный значок метки',
            balloonContent: 'САНКТ-ПЕТЕРБУРГ, УЛ. ШКОЛЬНАЯ 8'
        }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: 'images//marker.png',
            // Размеры метки.
            iconImageSize: [300, 30],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-15, -15]
        });

    myMap.geoObjects.add(myPlacemark);
    myMap.behaviors.disable('scrollZoom');
});
</script>
<script>
var h_hght = 85; // высота шапки
var h_mrg = 0;    // отступ когда шапка уже не видна
                 
$(function(){
 
    var elem = $('#top_nav');
    var top = $(this).scrollTop();
     
    if(top > h_hght){
        elem.css('top', h_mrg);
    }           
     
    $(window).scroll(function(){
        top = $(this).scrollTop();
         
        if (top+h_mrg < h_hght) {
            elem.css('top', (h_hght-top));
        } else {
            elem.css('top', h_mrg);
        }
    });
 
});
</script>
<script type="text/javascript">
jQuery(document).ready(function($){
 
/* prepend menu icon */

 
/* toggle nav */
$("#menu-icon").on("click", function(){
$("#nav").slideToggle();
$(this).toggleClass("active");
});
 
});
</script>
 </body>
</html>