<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>ПОЛИТИКА ЗАЩИТЫ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЕЙ САЙТА</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
</head>
<body>
<div class="conf_wrap">		
<div class="title">ПОЛИТИКА ЗАЩИТЫ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЕЙ САЙТА</div>
<p><span>1. Общие положения</span></p>
<p>1.1. Настоящая Политика определяет порядок обработки и защиты компании «Стоматолог и Я» информации о физических лицах

(далее – Пользователи), которая может быть получена «Стоматолог и Я» при использовании Пользователем услуг,

предоставляемых посредством сайта http://</p>
<p>1.2. Цель настоящей Политики – обеспечить защиту информации о Пользователях, включая полученные персональные данные, от несанкционированного доступа и разглашения.</p>
<p>1.3. Отношения, имеющие отношение к сбору, хранению, распространению и защите информации, предоставляемой Пользователем, регулируются настоящей Политикой, иными официальными документами «Стоматолог и Я» и действующим законодательством Российской Федерации.</p>
<p>1.4. Регистрируясь на Сайте и используя Сайт и Сервисы, Пользователь выражает свое полное согласие с условиями настоящей Политики.</p>
<p>1.5. В случае несогласии с условиями настоящей Политики, Пользователи должен воздержаться от использования Сайта и/или каких-либо Сервисов, доступных при использовании Сайта.</p>
 
<p><span>2. Цели сбора и обработки персональной информации пользователей</span></p>
 
<p>2.1. Обработка персональных данных Пользователя производится в соответствии с законодательством Российской Федерации. Персональные данные Пользователя, переданные «Стоматолог и Я», обрабатываются с целью:
идентификации стороны в рамках соглашений и договоров с «Стоматолог и Я»;
предоставления Пользователю услуг;
таргетирования рекламных материалов;
проверки, исследования и анализа данных, дающих возможность поддерживать, разрабатывать и улучшать Сервисы и разделы Сайта;
проведения статистических и иных исследований на основе обезличенных данных.</p>
 
<p><span>3. Условия обработки персональной информации предоставленной Пользователем и ее передачи третьим лицам</span></p>
 
<p>3.1. «Стоматолог и Я» принимает все необходимые меры для защиты персональных данных Пользователя от случайного доступа, изменения, раскрытия, блокирования, уничтожения, неправомерных действий.</p>
<p>3.2. «Стоматолог и Я» вправе передать персональные данные Пользователя только тем работникам, подрядчикам и аффилированным лицам, которым эта информация необходима для оказания услуги пользователю или обеспечения функционирования Сайта и Сервисов.</p>
<p>3.3. «Стоматолог и Я» вправе использовать предоставленную Пользователем информацию, в том числе персональные данные, в целях обеспечения соблюдения требований действующего законодательства Российской Федерации (в том числе в целях предупреждения и/или пресечения незаконных и/или противоправных действий Пользователей). Раскрытие предоставленной Пользователем информации может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, а также в иных предусмотренных законодательством Российской Федерации случаях.</p>
 
<p><span>4. Пользование Сайтом и Сервисами</span></p>
 
<p>4.1. Используя Сайт и Сервисы, пользователь подтверждает, что:
обладает правами, позволяющими ему осуществлять регистрацию и использовать Услуги сайта;
указывает достоверную информацию о себе в необходимых объемах для пользования Услугами Сайта. Обязательные для заполнения поля помечены специальным образом, иная информация предоставляется Пользователем по его усмотрению;
осознает, что информация на Сайте, размещаемая Пользователем о себе, может стать доступной для третьих лиц, может быть скопирована и распространена ими;
согласен с настоящей Политикой и принимает все указанные в ней права и обязанности. Письменным согласием Пользователя является проставление галочки под ссылкой на данную Политику. Оно дает «Стоматолог и Я» право на сбор, хранение, обработку и передачу третьим лицам персональных данных, предоставляемых Пользователем.</p>
<p>4.2. «Стоматолог и Я» не проверяет достоверность полученной информации, кроме ряда случаев, когда такая проверка необходима для исполнения обязательств по предоставлению Услуги Пользователю.</p>
 
<p><span>5. В рамках настоящей Политики под «персональной информацией Пользователя» понимаются:</span></p>
 
<p>5.1. Данные, которые пользователь сообщает самостоятельно при пользовании Сайтом и Сервисами. Информация, которая входит в данные, но не ограничивается ими: имя, фамилия, пол, номер мобильного телефона, адрес электронной почты, семейное положение, дата рождения, родной город, домашний адрес, информация об образовании, о роде деятельности.</p>
<p>5.2. Данные, передающиеся Сервисам в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения. В том числе IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), время доступа, адрес запрашиваемой страницы.</p>
<p>5.3 Иная информация о Пользователе, сбор и/или предоставление которой определено в Регулирующих документах отдельных Сервисов «Стоматолог и Я».</p>
 
<p><span>6. Изменение Политики конфиденциальности. Применимое законодательство</span></p>
 
<p>6.1. «Стоматолог и Я» имеет право вносить изменения в настоящую Политику конфиденциальности. После внесения изменений в последней редакции указывается дата обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики.</p>
<p>6.2. К настоящей Политике и отношениям между Пользователем и «Стоматолог и Я» возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.</p>
 
<p><span>7. Обратная связь. Вопросы и предложения</span></p>
 
<p>7.1. Все предложения или вопросы по поводу настоящей Политики следует сообщать в Службу поддержки «Стоматолог и Я».</p>

</div>
<script src="js/jquery.min.js"></script>
<script src="js/script.js"></script>
  </body>
</html>