<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Гражданское общество Хабаровска</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<div id="wrapper">
	<header>
		<div class="main_container clearfix">
			<img src="images/logo.png" alt="Alt" class="logo">
			<div class="title">Гражданское общество Хабаровска</div>
			<img src="images/logo_top_right.png" alt="Alt" class="logo_top_right">
		</div>
		<div class="fixed_nav">
			<div class="main_container clearfix">
				<ul>
					<li><a href="#">Многонациональный город</a></li>
					<li><a href="#">НКО</a></li>
					<li><a href="#">Общественные советы</a></li>
					<li><a href="#">Ресурсный центр НКО</a></li>
					<li><a href="#">Аналитика и экспертиза</a></li>
					<li><a href="#">Гранты</a></li>
					<li><a href="#"><img src="images/eye.png" alt="Alt"></a></li>
				</ul>
				<div class="toggle_menu">
						<a href="#menu" id="toggle"><span></span></a>
					</div>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- MAIN CONTENT -->
		<div class="main_container clearfix card_wrap">
			<ul class="breadcrumbs">
				<li><a href="#">Главная</a><span>»</span></li>
				<li><a href="#">Информационное сопровождение</a><span>»</span></li>
				<li><a href="#">Статьи</a><span>»</span></li>
				<li>Заседание Общественного совета Хабаровска</li>
			</ul>
			<h1>Заседание Общественного совета Хабаровска</h1>
			<div class="page_inside_content clearfix">
				<div class="left_side">
					<ul class="bxslider3">
						<li>
							<img src="images/card_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/card_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/card_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/card_img.jpg" alt="Alt">
						</li>
					</ul>
					<div class="bx-pager clearfix">
					<a href="#" data-slide-index="0"><img src="images/thumb.jpg" alt="Alt"></a>
					<a href="#" data-slide-index="1"><img src="images/thumb.jpg" alt="Alt"></a>
					<a href="#" data-slide-index="2"><img src="images/thumb.jpg" alt="Alt"></a>
					<a href="#" data-slide-index="3"><img src="images/thumb.jpg" alt="Alt"></a>
					</div>
					<div class="slider_text">Источник пресс-служба Администрации города Хабаровска		
					</div>
					<div class="slider_text">Поделиться новостью:
						<div class="social_wrap">
							<a href="#"><img src="images/facebook.png" alt="Alt"></a>
							<a href="#"><img src="images/twitter.png" alt="Alt"></a>
							<a href="#"><img src="images/google plus.png" alt="Alt"></a>
							<a href="#"><img src="images/linkedin.png" alt="Alt"></a>
						</div>
					</div>
				</div>
				<div class="right_side">
					<div class="print">
						<a href="#"><img src="images/print.png" alt="">Версия для печати</a>
						<a href="#"><img src="images/mail.png" alt="">Отправить другу</a>
					</div>
					<hr>
					<p>В нем приняли участие представители общественности, администрации города. В рамках заседания было рассмотрено три вопроса.</p>
					<p>Один из них – обсуждение мероприятий проекта «Народной программы» Хабаровского края на период 2016 - 2020 гг.</p>
					<p>Большой интерес вызвал и второй вопрос – проблема содержания и ремонта ветхого фонда в городе. Выслушав информацию, представленную управлением ЖКХ и управлением жилищного фонда и приватизации жилья, члены совета решили подготовить и направить обращение депутатам Законодательной думы Хабаровского края. В нем они намерены заострить внимание на проблемах содержания и ремонта домов с большим процентом износа, а также на необходимости разработки соответствующих федеральной и краевой программ. </p>
					<p>В повестке дня был также вопрос «Осуществление общественного контроля в Хабаровске: механизмы реализации, создание инспекций при Общественном совете». Здесь предстоит большая работа – необходимо разработать и принять постановление администрации города «Об общественном контроле в городе Хабаровске»; создать инспекции по общественному контролю при Общественном совете города; разработать план работы на IV квартал 2016 г.</p>
					<p>Участники заседания Совета обсудили и утвердили пилотную стратегию дальнейшего развития общественного контроля в городе. Определены два направления, где возможно, в первую очередь, организовать общественный контроль – это жилищно-коммунальное хозяйство и здравоохранение.</p>
				</div>
				<a href="#" class="comeback">Возврат к списку</a>
			</div>
		</div>
<!-- END MAIN CONTENT -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="main_container clearfix">
				<div class="footer_bottom_block">
					<div class="footer_title">Гражданское общество <br>Хабаровска</div>
					<div class="copyright">© 2016 Проект Администрации<br>города Хабаровска</div>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Рубрикатор</div>
					<ul>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Анонсы</a></li>
						<li><a href="#">Фотоматериалы</a></li>
						<li><a href="#">Видеоматериалы</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Некоммерческие организации</div>
					<ul>
						<li><a href="#">Ресурсный центр НКО</a></li>
						<li><a href="#">База НКО</a></li>
						<li><a href="#">Законодательство для НКО</a></li>
						<li><a href="#">Грантовые программы</a></li>
						<li><a href="#">Конкурсы, проекты</a></li>
					</ul>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Консультации</div>
					<ul>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Обратная связь</a></li>
						<li><a href="#">Правила размещения<br> информации</a></li>
					</ul>
					<input type="text" placeholder="Поиск по сайту" class="search_input">
				</div>
			</div>
		</footer>
	</div>
	</div>
<!-- END FOOTER -->
<div id="menu">
	<ul>
		<li><a href="#">Многонациональный город</a></li>
		<li><a href="#">НКО</a></li>
		<li><a href="#">Общественные советы</a></li>
		<li><a href="#">Ресурсный центр НКО</a></li>
		<li><a href="#">Аналитика и экспертиза</a></li>
		<li><a href="#">Гранты</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>