<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Гражданское общество Хабаровска</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<div id="wrapper">
	<header>
		<div class="main_container clearfix">
			<img src="images/logo.png" alt="Alt" class="logo">
			<div class="title">Гражданское общество Хабаровска</div>
			<img src="images/logo_top_right.png" alt="Alt" class="logo_top_right">
		</div>
		<div class="fixed_nav">
			<div class="main_container clearfix">
				<ul>
					<li><a href="#">Многонациональный город</a>
						<ul class="sub_menu">
							<li><a href="#">НКО</a></li>
							<li><a href="#">Общественные советы</a></li>
							<li><a href="#">Ресурсный центр НКО</a></li>
							<li><a href="#">Аналитика и экспертиза</a></li>
							<li><a href="#">Гранты</a></li>
						</ul>
					</li>
					<li><a href="#">НКО</a></li>
					<li><a href="#">Общественные советы</a></li>
					<li><a href="#">Ресурсный центр НКО</a></li>
					<li><a href="#">Аналитика и экспертиза</a></li>
					<li><a href="#">Гранты</a></li>
					<li><a href="#"><img src="images/eye.png" alt="Alt"></a></li>
				</ul>
				<div class="toggle_menu">
						<a href="#menu" id="toggle"><span></span></a>
					</div>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- MAIN SLIDER -->
	<div class="main_container clearfix">
		<div class="main_slider_wrapper">
			<ul class="bxslider">
				<li class="first_slide"></li>
				<li class="second_slide"></li>
				<li class="third_slide"></li>
			</ul>
		</div>
	</div>
<!-- END MAIN SLIDER -->
<!-- MAIN CONTENT -->
	<div class="main_content_wrapper">
		<div class="main_container clearfix">
			<div class="nav_links clearfix">
				<a href="#">Фотогалерея</a>
				<a href="#">Видеогалерея</a>
				<a href="#">Электронная запись<br><span>на консультацию по созданию НКО</span></a>
			</div>
			<div class="clearfix"></div>
			<div class="news_section clearfix">
				<h2>Новости</h2>
				<div class="korpus clearfix">
					<input type="radio" name="odin" checked="checked" id="vkl1"/>
					<label for="vkl1">В Хабаровском крае стартовал фестиваль «Кухня без границ» - 2016 </label>
					<input type="radio" name="odin" id="vkl2"/>
					<label for="vkl2">В Хабаровском крае стартовал фестиваль «Кухня без границ» - 2016 </label>
					<input type="radio" name="odin" id="vkl3"/>
					<label for="vkl3">В Хабаровском крае стартовал фестиваль «Кухня без границ» - 2016 </label>
					<input type="radio" name="odin" id="vkl4"/>
					<label for="vkl4">В Хабаровском крае стартовал фестиваль «Кухня без границ» - 2016 </label>
					<div>
						<img src="images/news_img.jpg" alt="Alt">
						<div class="news_title">В Хабаровском крае стартовал фестиваль «Кухня без границ» - 2016 </div>
					</div>
					<div>
						<img src="images/news_img.jpg" alt="Alt">
						<div class="news_title">Вторая вкладка </div>
					</div>
					<div>
						<img src="images/news_img.jpg" alt="Alt">
						<div class="news_title">Третья вкладка</div>
					</div>
					<div>
						<img src="images/news_img.jpg" alt="Alt">
						<div class="news_title">Четвертая вкладка</div>
					</div>
				</div>
				<a href="#" class="arhive">Архив новостей</a>
			</div>
			<div class="clearfix"></div>
			<div class="events_wrap clearfix">
				<div class="announcement_wrap clearfix">
					<h2>Анонсы событий</h2>
					<div class="announcement_block">
						<div class="title">
							<p>Состоится фестиваль НКО «Добрый Хабаровск»</p>
							<a href="#">Побробнее »</a>
						</div>
						<img src="images/announcement.jpg" alt="Alt">
					</div>
					<div class="announcement_block">
						<div class="title">
							<p>Состоится фестиваль НКО «Добрый Хабаровск»</p>
							<a href="#">Побробнее »</a>
						</div>
						<img src="images/announcement.jpg" alt="Alt">
					</div>
					<div class="announcement_block">
						<div class="title">
							<p>Состоится фестиваль НКО «Добрый Хабаровск»</p>
							<a href="#">Побробнее »</a>
						</div>
						<img src="images/announcement.jpg" alt="Alt">
					</div>
					<div class="announcement_block">
						<div class="title">
							<p>Состоится фестиваль НКО «Добрый Хабаровск»</p>
							<a href="#">Побробнее »</a>
						</div>
						<img src="images/announcement.jpg" alt="Alt">
					</div>
				</div>
				<div class="think_wrap clearfix">
					<h2>Экспертное мнение</h2>
					<div class="think_block clearfix">
						<img src="images/expert.jpg" alt="Alt">
						<div class="think_text">
							<div class="title">Мэр города Хабаровска:</div>
							<p>Александр Николаевич Соколов</p>
							<a href="#">«Взаимодействие власти и городского сообщества»</a>
						</div>
					</div>
					<div class="quote">
						<span>17 сентября 2016</span>
						<p>Сегодня наша задача заключается в объединении усилий городской, региональной, федеральной власти и некоммерческих организаций города Хабаровска в решении тех наболевших вопросов, которые бы позволяли не только рассуждать о проблемах, но и вырабатывать пути их решения. Мы должны не просто объединять усилия, но и самое главное – содействовать гражданским инициативам, предоставлять ресурс для формирования гражданского общества и активной позиции жителей нашего города. Сегодня наша задача заключается в объединении усилий городской, региональной, федеральной власти и некоммерческих организаций города</p>
						<a href="#">Побробнее »</a>
					</div>
				</div>
			</div>
			<div class="banners">
				<img src="images/banner1.jpg" alt="Alt">
				<img src="images/banner2.jpg" alt="Alt">
			</div>
			<div class="clearfix"></div>
			<div class="society_wrap clearfix">
				<h2>Гражданское общество в цифрах</h2>
				<div class="society_block">
					<div class="title">220</div>
					<p>НКО зарегистрировано на территории города</p>
				</div>
				<div class="society_block">
					<div class="title">180</div>
					<p>НКО зарегистрировано на территории города</p>
				</div>
				<div class="society_block">
					<div class="title">315</div>
					<p>НКО зарегистрировано на территории города</p>
				</div>
				<div class="society_block">
					<div class="title">102</div>
					<p>НКО зарегистрировано на территории города</p>
				</div>
				<div class="society_block">
					<div class="title">475</div>
					<p>НКО зарегистрировано на территории города</p>
				</div>
				<div class="society_block">
					<div class="title">938</div>
					<p>НКО зарегистрировано на территории города</p>
				</div>
			</div>
		</div>
	</div>
<!-- END MAIN CONTENT -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="main_container clearfix">
				<div class="footer_bottom_block">
					<div class="footer_title">Гражданское общество <br>Хабаровска</div>
					<div class="copyright">© 2016 Проект Администрации<br>города Хабаровска</div>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Рубрикатор</div>
					<ul>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Анонсы</a></li>
						<li><a href="#">Фотоматериалы</a></li>
						<li><a href="#">Видеоматериалы</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Некоммерческие организации</div>
					<ul>
						<li><a href="#">Ресурсный центр НКО</a></li>
						<li><a href="#">База НКО</a></li>
						<li><a href="#">Законодательство для НКО</a></li>
						<li><a href="#">Грантовые программы</a></li>
						<li><a href="#">Конкурсы, проекты</a></li>
					</ul>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Консультации</div>
					<ul>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Обратная связь</a></li>
						<li><a href="#">Правила размещения<br> информации</a></li>
					</ul>
					<input type="text" placeholder="Поиск по сайту" class="search_input">
				</div>
			</div>
		</footer>
	</div>
	</div>
<!-- END FOOTER -->
<div id="menu">
	<ul>
		<li><a href="#">Многонациональный город</a></li>
		<li><a href="#">НКО</a></li>
		<li><a href="#">Общественные советы</a></li>
		<li><a href="#">Ресурсный центр НКО</a></li>
		<li><a href="#">Аналитика и экспертиза</a></li>
		<li><a href="#">Гранты</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>