<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Гражданское общество Хабаровска</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<div id="wrapper">
	<header>
		<div class="main_container clearfix">
			<img src="images/logo.png" alt="Alt" class="logo">
			<div class="title">Гражданское общество Хабаровска</div>
			<img src="images/logo_top_right.png" alt="Alt" class="logo_top_right">
		</div>
		<div class="fixed_nav">
			<div class="main_container clearfix">
				<ul>
					<li><a href="#">Многонациональный город</a></li>
					<li><a href="#">НКО</a></li>
					<li><a href="#">Общественные советы</a></li>
					<li><a href="#">Ресурсный центр НКО</a></li>
					<li><a href="#">Аналитика и экспертиза</a></li>
					<li><a href="#">Гранты</a></li>
					<li><a href="#"><img src="images/eye.png" alt="Alt"></a></li>
				</ul>
				<div class="toggle_menu">
						<a href="#menu" id="toggle"><span></span></a>
					</div>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- MAIN CONTENT -->
		<div class="main_container clearfix nko_wrap">
			<ul class="breadcrumbs">
				<li><a href="#">Главная</a><span>»</span></li>
				<li><a href="#">Общественные организации</a><span>»</span></li>
				<li>База НКО</li>
			</ul>
			<h2>БАЗА НКО</h2>
			<div class="nko_subtitle">По данным Управления Министерства юстиции по Хабаровскому краю и ЕАО, представленным в марте 2015 года в городе Хабаровске зарегистрировано 1562 некоммерческих организаций.</div>
			<input type="text" class="search_input" placeholder="Поиск">
			<a href="#" class="download_nko">Скачать полный перечень некоммерческих организаций</a>
			<div class="clearfix"></div>
			<div class="page_inside_content clearfix">
				<div class="nko_block clearfix">
					<img src="images/nko_img1.jpg" alt="Alt">
					<div class="nko_info">
						<div class="title"><a href="#">Автономная некоммерческая организация «Культурно-творческое объединение Выездной театр «УЛЫБКА»</a></div>
						<table>
						<col class="col1">
										<col class="col2">
							<tr>
								<td>Руководитель:</td>
								<td>Панкратова Татьяна Юрьевна</td>
							</tr>
							<tr>
								<td>Телефон:</td>
								<td>52-88-20, 53-42-79</td>
							</tr>
							<tr>
								<td>Адрес:</td>
								<td>г. Хабаровск, ул. Палубная, 17</td>
							</tr>
							<tr>
								<td>Дата основания:</td>
								<td>27 июня 2012 года</td>
							</tr>
							<tr>
								<td>E-mail:</td>
								<td>Tatyana.Pankratova@gmail.com</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="nko_block clearfix">
					<img src="images/nko_img2.jpg" alt="Alt">
					<div class="nko_info">
						<div class="title"><a href="#">Автономная некоммерческая организация «Дальневосточные социологические исследования»</a></div>
						<table>
						<col class="col1">
										<col class="col2">
							<tr>
								<td>Руководитель:</td>
								<td>Байков Николай Михайлович</td>
							</tr>
							<tr>
								<td>Телефон:</td>
								<td>61-12-45</td>
							</tr>
							<tr>
								<td>Адрес:</td>
								<td>г. Хабаровск, ул. Истомина, д. 23, оф. 1.</td>
							</tr>
							<tr>
								<td>Дата основания:</td>
								<td>27 июня 2012 года</td>
							</tr>
							<tr>
								<td>E-mail:</td>
								<td>solestan@narod.ru</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="nko_block clearfix">
					<img src="images/nko_img3.jpg" alt="Alt">
					<div class="nko_info">
						<div class="title"><a href="#">Автономная некоммерческая организация «Профилактика негативных явлений в молодежной среде»</a></div>
						<table>
						<col class="col1">
										<col class="col2">
							<tr>
								<td>Руководитель:</td>
								<td>Байков Николай Михайлович</td>
							</tr>
							<tr>
								<td>Телефон:</td>
								<td>61-12-45</td>
							</tr>
							<tr>
								<td>Адрес:</td>
								<td>г. Хабаровск, ул. Истомина, д. 23, оф. 1.</td>
							</tr>
							<tr>
								<td>Дата основания:</td>
								<td>27 июня 2012 года</td>
							</tr>
							<tr>
								<td>E-mail:</td>
								<td>solestan@narod.ru</td>
							</tr>
						</table>
					</div>
				</div>
				<a href="#" class="comeback">Весь список НКО взаимодействующих с администрацией города (на 01.01.2016)</a>
			</div>
			<ul class="pagination">
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#" class="active">4</a></li>
					<li>...</li>
					<li><a href="#">7</a></li>
					<li><a href="#">8</a></li>
					<li><a href="#">9</a></li>
				</ul>
		</div>
<!-- END MAIN CONTENT -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="main_container clearfix">
				<div class="footer_bottom_block">
					<div class="footer_title">Гражданское общество <br>Хабаровска</div>
					<div class="copyright">© 2016 Проект Администрации<br>города Хабаровска</div>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Рубрикатор</div>
					<ul>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Анонсы</a></li>
						<li><a href="#">Фотоматериалы</a></li>
						<li><a href="#">Видеоматериалы</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Некоммерческие организации</div>
					<ul>
						<li><a href="#">Ресурсный центр НКО</a></li>
						<li><a href="#">База НКО</a></li>
						<li><a href="#">Законодательство для НКО</a></li>
						<li><a href="#">Грантовые программы</a></li>
						<li><a href="#">Конкурсы, проекты</a></li>
					</ul>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Консультации</div>
					<ul>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Обратная связь</a></li>
						<li><a href="#">Правила размещения<br> информации</a></li>
					</ul>
					<input type="text" placeholder="Поиск по сайту" class="search_input">
				</div>
			</div>
		</footer>
	</div>
	</div>
<!-- END FOOTER -->
<div id="menu">
	<ul>
		<li><a href="#">Многонациональный город</a></li>
		<li><a href="#">НКО</a></li>
		<li><a href="#">Общественные советы</a></li>
		<li><a href="#">Ресурсный центр НКО</a></li>
		<li><a href="#">Аналитика и экспертиза</a></li>
		<li><a href="#">Гранты</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>