<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Гражданское общество Хабаровска</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<div id="wrapper">
	<header>
		<div class="main_container clearfix">
			<img src="images/logo.png" alt="Alt" class="logo">
			<div class="title">Гражданское общество Хабаровска</div>
			<img src="images/logo_top_right.png" alt="Alt" class="logo_top_right">
		</div>
		<div class="fixed_nav">
			<div class="main_container clearfix">
				<ul>
					<li><a href="#">Многонациональный город</a></li>
					<li><a href="#">НКО</a></li>
					<li><a href="#">Общественные советы</a></li>
					<li><a href="#">Ресурсный центр НКО</a></li>
					<li><a href="#">Аналитика и экспертиза</a></li>
					<li><a href="#">Гранты</a></li>
					<li><a href="#"><img src="images/eye.png" alt="Alt"></a></li>
				</ul>
				<div class="toggle_menu">
						<a href="#menu" id="toggle"><span></span></a>
					</div>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- MAIN CONTENT -->
		<div class="main_container clearfix projects">
			<ul class="breadcrumbs">
				<li><a href="#">Главная</a><span>»</span></li>
				<li><a href="#">Информационное сопровождение</a><span>»</span></li>
				<li><a href="#">Статьи</a><span>»</span></li>
				<li>Заседание Общественного совета Хабаровска</li>
			</ul>
			<div class="related_news">
				<div class="related_title">Похожие статьи</div>
				<div class="page_inside_content">
					<div class="related_wrap clearfix">
						<div class="related_block clearfix">
							<img src="images/related_img1.jpg" alt="Alt">
							<div class="related_subtitle">Проект «Точка возврата»</div>
							<div class="related_text">Проект «Точка возврата» начал свою реализацию в сентябре 2015 года. Именно тогда АНО «Центр информационной поддержки развития Хабаровского края «Гражданские медиа» получила муниципальный грант на создание пяти фильмов.</div>
							<div class="related_link">Побробнее »</div>
						</div>
						<div class="related_block clearfix">
							<img src="images/related_img2.jpg" alt="Alt">
							<div class="related_subtitle">Проект «Аутентичные традиции города Хабаровска: Нанайские сказки»</div>
							<div class="related_text">Как родился наш проект? В результате опроса, проведенного среди хабаровских учителей литературы, оказалось, что в школах Хабаровска есть большая потребность в изданиях коренных малочисленных народов Приамурья</div>
							<div class="related_link">Побробнее »</div>
						</div>
						<div class="related_block clearfix">
							<img src="images/related_img3.jpg" alt="Alt">
							<div class="related_subtitle">Проект «Страницы воинской славы города Хабаровска»</div>
							<div class="related_text">Проект «Страницы воинской славы города Хабаровска» реализован негосударственным учреждением дополнительного образования «Центр военно-патриотического воспитания «Взлёт».</div>
							<div class="related_link">Побробнее »</div>
						</div>
						<div class="related_block clearfix">
							<img src="images/related_img4.jpg" alt="Alt">
							<div class="related_subtitle">Фестиваль национальных традиций, посвященный Дню матери</div>
							<div class="related_text">Проект «Фестиваль национальных традиций, посвященный Дню матери», был представлен автономной некоммерческой организацией «Центр межнационального сотрудничества «Дружба без границ»</div>
							<div class="related_link">Побробнее »</div>
						</div>
						<div class="related_block clearfix">
							<img src="images/related_img1.jpg" alt="Alt">
							<div class="related_subtitle">Проект «Точка возврата»</div>
							<div class="related_text">Проект «Точка возврата» начал свою реализацию в сентябре 2015 года. Именно тогда АНО «Центр информационной поддержки развития Хабаровского края «Гражданские медиа» получила муниципальный грант на создание пяти фильмов.</div>
							<div class="related_link">Побробнее »</div>
						</div>
						<div class="related_block clearfix">
							<img src="images/related_img2.jpg" alt="Alt">
							<div class="related_subtitle">Проект «Аутентичные традиции города Хабаровска: Нанайские сказки»</div>
							<div class="related_text">Как родился наш проект? В результате опроса, проведенного среди хабаровских учителей литературы, оказалось, что в школах Хабаровска есть большая потребность в изданиях коренных малочисленных народов Приамурья</div>
							<div class="related_link">Побробнее »</div>
						</div>
						<div class="related_block clearfix">
							<img src="images/related_img3.jpg" alt="Alt">
							<div class="related_subtitle">Проект «Страницы воинской славы города Хабаровска»</div>
							<div class="related_text">Проект «Страницы воинской славы города Хабаровска» реализован негосударственным учреждением дополнительного образования «Центр военно-патриотического воспитания «Взлёт».</div>
							<div class="related_link">Побробнее »</div>
						</div>
						<div class="related_block clearfix">
							<img src="images/related_img4.jpg" alt="Alt">
							<div class="related_subtitle">Фестиваль национальных традиций, посвященный Дню матери</div>
							<div class="related_text">Проект «Фестиваль национальных традиций, посвященный Дню матери», был представлен автономной некоммерческой организацией «Центр межнационального сотрудничества «Дружба без границ»</div>
							<div class="related_link">Побробнее »</div>
						</div>
					</div>
				</div>
				<ul class="pagination">
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#" class="active">4</a></li>
					<li>...</li>
					<li><a href="#">7</a></li>
					<li><a href="#">8</a></li>
					<li><a href="#">9</a></li>
				</ul>
			</div>
		</div>
<!-- END MAIN CONTENT -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="main_container clearfix">
				<div class="footer_bottom_block">
					<div class="footer_title">Гражданское общество <br>Хабаровска</div>
					<div class="copyright">© 2016 Проект Администрации<br>города Хабаровска</div>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Рубрикатор</div>
					<ul>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Анонсы</a></li>
						<li><a href="#">Фотоматериалы</a></li>
						<li><a href="#">Видеоматериалы</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Некоммерческие организации</div>
					<ul>
						<li><a href="#">Ресурсный центр НКО</a></li>
						<li><a href="#">База НКО</a></li>
						<li><a href="#">Законодательство для НКО</a></li>
						<li><a href="#">Грантовые программы</a></li>
						<li><a href="#">Конкурсы, проекты</a></li>
					</ul>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Консультации</div>
					<ul>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Обратная связь</a></li>
						<li><a href="#">Правила размещения<br> информации</a></li>
					</ul>
					<input type="text" placeholder="Поиск по сайту" class="search_input">
				</div>
			</div>
		</footer>
	</div>
	</div>
<!-- END FOOTER -->
<div id="menu">
	<ul>
		<li><a href="#">Многонациональный город</a></li>
		<li><a href="#">НКО</a></li>
		<li><a href="#">Общественные советы</a></li>
		<li><a href="#">Ресурсный центр НКО</a></li>
		<li><a href="#">Аналитика и экспертиза</a></li>
		<li><a href="#">Гранты</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>