<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Гражданское общество Хабаровска</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/jquery.countdown.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<div id="wrapper">
	<header>
		<div class="main_container clearfix">
			<img src="images/logo.png" alt="Alt" class="logo">
			<div class="title">Гражданское общество Хабаровска</div>
			<img src="images/logo_top_right.png" alt="Alt" class="logo_top_right">
		</div>
		<div class="fixed_nav">
			<div class="main_container clearfix">
				<ul>
					<li><a href="#">Многонациональный город</a></li>
					<li><a href="#">НКО</a></li>
					<li><a href="#">Общественные советы</a></li>
					<li><a href="#">Ресурсный центр НКО</a></li>
					<li><a href="#">Аналитика и экспертиза</a></li>
					<li><a href="#">Гранты</a></li>
					<li><a href="#"><img src="images/eye.png" alt="Alt"></a></li>
				</ul>
				<div class="toggle_menu">
						<a href="#menu" id="toggle"><span></span></a>
					</div>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- MAIN CONTENT -->
		<div class="main_container clearfix projects">
			<ul class="breadcrumbs">
				<li><a href="#">Главная</a><span>»</span></li>
				<li><a href="#">Многонациональный город</a><span>»</span></li>
				<li>Конкурсы</li>
			</ul>
			<div class="tabs_comp">
				<h2>Конкурсы</h2>
				<div class="korpus1 clearfix">
					<input type="radio" name="odin" checked="checked" id="vkl1"/>
					<label for="vkl1">2016</label>
					<input type="radio" name="odin" id="vkl2"/>
					<label for="vkl2">2015</label>
					<input type="radio" name="odin" id="vkl3"/>
					<label for="vkl3">2014</label>
					<input type="radio" name="odin" id="vkl4"/>
					<label for="vkl4">2013</label>
					<div class="clearfix">
						<div class="tab_block clearfix">
							<div class="img_side">
								<img src="images/gerb.png" alt="Alt">
								<div class="title">ГРАНТЫ ННО</div>
								<span>№68-рп 2016</span>
							</div>
							<div class="info_tab">
								<div class="date">04.07.2016</div>
								<p>Первый конкурс 2016 года - Поддержка ННО, участвующих в развитии институтов гражданского общества и реализующих социально значимые проекты и проекты в сфере защиты прав и свобод человека и гражданина</p>
								<p>в соответствии с Распоряжением Президента РФ №68-рп от 05.04.2016</p>
								<span>Операторы конкурса:</span>
								<div class="operators_wrap">
									<img src="images/op_img1.png" alt="Alt">
									<img src="images/op_img2.png" alt="Alt">
									<img src="images/op_img3.png" alt="Alt">
									<img src="images/op_img4.png" alt="Alt">
									<img src="images/op_img5.png" alt="Alt">
									<img src="images/op_img6.png" alt="Alt">
									<img src="images/op_img7.png" alt="Alt">
									<img src="images/op_img8.png" alt="Alt">
									<img src="images/op_img9.png" alt="Alt">
								</div>
							</div>
							<div class="r_side">
								<div class="title">Конкурс завершен</div>
								<a href="#">Смотреть результаты</a>
								<span>подана 3981 заявка, отобрано 499 заявок</span>
							</div>
						</div>
						<div class="tab_block clearfix">
							<div class="img_side">
								<img src="images/gerb.png" alt="Alt">
								<div class="title">ГРАНТЫ ННО</div>
								<span>№68-рп 2016</span>
							</div>
							<div class="info_tab">
								<div class="date">04.07.2016</div>
								<p>Первый конкурс 2016 года - Поддержка ННО, участвующих в развитии институтов гражданского общества и реализующих социально значимые проекты и проекты в сфере защиты прав и свобод человека и гражданина</p>
								<p>в соответствии с Распоряжением Президента РФ №68-рп от 05.04.2016</p>
								<span>Операторы конкурса:</span>
								<div class="operators_wrap">
									<img src="images/op_img1.png" alt="Alt">
									<img src="images/op_img2.png" alt="Alt">
									<img src="images/op_img3.png" alt="Alt">
									<img src="images/op_img4.png" alt="Alt">
									<img src="images/op_img5.png" alt="Alt">
									<img src="images/op_img6.png" alt="Alt">
									<img src="images/op_img7.png" alt="Alt">
									<img src="images/op_img8.png" alt="Alt">
									<img src="images/op_img9.png" alt="Alt">
								</div>
							</div>
							<div class="r_side">
								<div class="title">Конкурс завершен</div>
								<a href="#">Смотреть результаты</a>
								<span>подана 3981 заявка, отобрано 499 заявок</span>
							</div>
						</div>
						<div class="tab_block clearfix">
							<div class="img_side">
								<img src="images/gerb.png" alt="Alt">
								<div class="title">ГРАНТЫ ННО</div>
								<span>№68-рп 2016</span>
							</div>
							<div class="info_tab">
								<div class="date">04.07.2016</div>
								<p>Первый конкурс 2016 года - Поддержка ННО, участвующих в развитии институтов гражданского общества и реализующих социально значимые проекты и проекты в сфере защиты прав и свобод человека и гражданина</p>
								<p>в соответствии с Распоряжением Президента РФ №68-рп от 05.04.2016</p>
								<span>Операторы конкурса:</span>
								<div class="operators_wrap">
									<img src="images/op_img1.png" alt="Alt">
									<img src="images/op_img2.png" alt="Alt">
									<img src="images/op_img3.png" alt="Alt">
									<img src="images/op_img4.png" alt="Alt">
									<img src="images/op_img5.png" alt="Alt">
									<img src="images/op_img6.png" alt="Alt">
									<img src="images/op_img7.png" alt="Alt">
									<img src="images/op_img8.png" alt="Alt">
									<img src="images/op_img9.png" alt="Alt">
								</div>
							</div>
							<div class="r_side">
								<span>подано 3981 заявок</span>
								<div id="padZeroes" class="countdown"></div>
								<a href="#" class="send_z">Подать заявку</a>
								<span>подано 3981 заявок</span>
							</div>
						</div>

					</div>
					<div class="clearfix">
						2
					</div>
					<div class="clearfix">
						3
					</div>
					<div class="clearfix">
						4
					</div>
				</div>
			</div>
		</div>
<!-- END MAIN CONTENT -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="main_container clearfix">
				<div class="footer_bottom_block">
					<div class="footer_title">Гражданское общество <br>Хабаровска</div>
					<div class="copyright">© 2016 Проект Администрации<br>города Хабаровска</div>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Рубрикатор</div>
					<ul>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Анонсы</a></li>
						<li><a href="#">Фотоматериалы</a></li>
						<li><a href="#">Видеоматериалы</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Некоммерческие организации</div>
					<ul>
						<li><a href="#">Ресурсный центр НКО</a></li>
						<li><a href="#">База НКО</a></li>
						<li><a href="#">Законодательство для НКО</a></li>
						<li><a href="#">Грантовые программы</a></li>
						<li><a href="#">Конкурсы, проекты</a></li>
					</ul>
				</div>
				<div class="footer_bottom_block">
					<div class="title_list">Консультации</div>
					<ul>
						<li><a href="#">Карта сайта</a></li>
						<li><a href="#">Обратная связь</a></li>
						<li><a href="#">Правила размещения<br> информации</a></li>
					</ul>
					<input type="text" placeholder="Поиск по сайту" class="search_input">
				</div>
			</div>
		</footer>
	</div>
	</div>
<!-- END FOOTER -->
<div id="menu">
	<ul>
		<li><a href="#">Многонациональный город</a></li>
		<li><a href="#">НКО</a></li>
		<li><a href="#">Общественные советы</a></li>
		<li><a href="#">Ресурсный центр НКО</a></li>
		<li><a href="#">Аналитика и экспертиза</a></li>
		<li><a href="#">Гранты</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/jquery.plugin.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/jquery.countdown-ru.js"></script>
<script src="js/script.js"></script>
 </body>
</html>