<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Мотомастерская</title>
  <link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
  <link href="css/jquery.bxslider.css" rel="stylesheet">
  <link href="css/lightslider.css" rel="stylesheet">


</head>
<body >
<!-- HEADER -->
  <div id="wrapper" >
    <div id="header" class="clearfix">
      <img src="images/logo.png" height="108" width="244" alt="" class="logo">
      <div class="text_center">Тюнинг, техническое обслуживание и ремонт мототехники</div>
      <div class="righside">
        <img src="images/icon_phone.png" height="23" width="24" alt="">
        <div class="phone">8 (800) 765-43-21</div>
        </div>
        <div class="righside">
        <img src="images/icon_phone.png" height="23" width="24" alt="">
        <div class="phone">8 (800) 765-43-21</div>
        </div>
        <div class="righside">
        <img src="images/adress.png" height="24" width="21" alt="">
        <div class="adress">г. Москва  ул. Лесная, д. 5</div>
        </div>
      </div>
<!-- END HEADER -->
<!-- MENU -->      
    <ul id="nav">​
    <li class="main_li">​<a href="#" class="hsubs">​Главная</a>​
    <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 2</a>​</li>​
            <li>​<a href="#">​Submenu 3</a>​</li>​
            <li>​<a href="#">​Submenu 4</a>​</li>​
            <li>​<a href="#">​Submenu 5</a>​</li>​
        </ul>​</li>​
    <li class="main_li">​<a class="hsubs" href="#">​Каталог</a>​
        <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 2</a>​</li>​
            <li>​<a href="#">​Submenu 3</a>​</li>​
            <li>​<a href="#">​Submenu 4</a>​</li>​
            <li>​<a href="#">​Submenu 5</a>​</li>​
        </ul>​
    </li>​
    <li class="main_li">​<a class="hsubs" href="#">​Услуги</a>​
        <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
        </ul>​
    </li>​
    <li class="main_li">​<a class="hsubs" href="#">​Статьи</a>​
        <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
        </ul>​
    </li>​
    <li class="main_li last">​<a class="hsubs" href="#">​Контакты</a>​
        <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
        </ul>​
    </li>​
    <div id="lavalamp">​</div>​
</ul>​
      <!-- <ul id="nav">
                <li><a href="index.html">Главная</a></li>
                <img src="images/icon_tire.png" height="18" width="18" alt="">
                <li><a class="hsubs" href="catalog.html#openModal1">Каталог</a>
                  <ul class="subs">
                        <li>Кап.ремонт двигателя</li>
                        <li>Чистка и настройка карбюратора</li>
                        <li>Чистка выхлопных систем</li>
                        <li>Замена масел</li>
                        <li>Восстановление техники после ДТП</li>
                        <li>Сварочные работы</li>
                        <li>Пайка пластика</li>
                        <li>Токарные работы</li>
                    </ul>  
                </li>
                <img src="images/icon_tire.png" height="18" width="18" alt="">
                <li><a class="hsubs" href="#">Услуги</a>
                    <ul class="subs">
                        <li>Кап.ремонт двигателя</li>
                        <li>Чистка и настройка карбюратора</li>
                        <li>Чистка выхлопных систем</li>
                        <li>Замена масел</li>
                        <li>Восстановление техники после ДТП</li>
                        <li>Сварочные работы</li>
                        <li>Пайка пластика</li>
                        <li>Токарные работы</li>
                    </ul>
                </li>
                <img src="images/icon_tire.png" height="18" width="18" alt="">
                <li><a class="hsubs" href="#">Статьи</a>
                    
                </li>
                <img src="images/icon_tire.png" height="18" width="18" alt="">
                <li><a class="hsubs" href="teh-page.html">Контакты</a>
                   
                </li>
                
                <div class="lavalamp"></div>
                <div id="fire"></div>
            </ul> -->
<!-- END MENU --> 
<!-- SLIDER-->
   <div id="container_catalog">
    <a href="#openModal1" class="modal1"></a>
    <a href="#openModal2" class="modal2"></a>
    <a href="#openModal3" class="modal3"></a>
    <a href="#openModal4" class="modal4"></a>
    <a href="#openModal5" class="modal5"></a>
    <a href="#openModal6" class="modal6"></a>
    <a href="#openModal7" class="modal7"></a>
    <a href="#openModal8" class="modal8"></a>
    <a href="#openModal9" class="modal9"></a>
    <a href="#openModal10" class="modal10"></a>
     <div id="openModal1" class="modalDialog1">
  <div>
    <a href="#close" title="Кликните чтобы закрыть окно" class="close1"></a>  <a href="#openModal1" class="modal1_none"></a>
    <a href="#openModal2" class="modal2"></a>
    <a href="#openModal3" class="modal3"></a>
    <a href="#openModal4" class="modal4"></a>
    <a href="#openModal5" class="modal5"></a>
    <a href="#openModal6" class="modal6"></a>
    <a href="#openModal7" class="modal7"></a>
    <a href="#openModal8" class="modal8"></a>
    <a href="#openModal9" class="modal9"></a>
    <a href="#openModal10" class="modal10"></a>
    <div class="title_modal">руль</div>
    <ul class="sub_menu">
      <li><a href="#" class="sub_links">Подкатегория 1</a></li>
      <li><a href="#" class="sub_links">Подкатегория 2</a></li>
      <li><a href="#" class="sub_links">Подкатегория 3</a></li>
      <li><a href="#" class="sub_links">Подкатегория 4</a></li>
    </ul>   
  
  </div>
</div>
<div id="openModal2" class="modalDialog2">
  <div>
    <a href="#close" title="Кликните чтобы закрыть окно" class="close2"></a>  <a href="#openModal1" class="modal1"></a>
    <a href="#openModal2" class="modal2_none"></a>
    <a href="#openModal3" class="modal3"></a>
    <a href="#openModal4" class="modal4"></a>
    <a href="#openModal5" class="modal5"></a>
    <a href="#openModal6" class="modal6"></a>
    <a href="#openModal7" class="modal7"></a>
    <a href="#openModal8" class="modal8"></a>
    <a href="#openModal9" class="modal9"></a>
    <a href="#openModal10" class="modal10"></a>   
     <div class="title_modal1">фара</div>
     <ul class="sub_menu1">
      <li><a href="#" class="sub_links">Подкатегория 1</a></li>
      <li><a href="#" class="sub_links">Подкатегория 2</a></li>
      <li><a href="#" class="sub_links">Подкатегория 3</a></li>
      <li><a href="#" class="sub_links">Подкатегория 4</a></li>
    </ul>  
  </div>
</div>
<div id="openModal3" class="modalDialog3">
  <div>
    <a href="#close" title="Кликните чтобы закрыть окно" class="close3"></a>  <a href="#openModal1" class="modal1"></a>
    <a href="#openModal2" class="modal2"></a>
    <a href="#openModal3" class="modal3_none"></a>
    <a href="#openModal4" class="modal4"></a>
    <a href="#openModal5" class="modal5"></a>
    <a href="#openModal6" class="modal6"></a>
    <a href="#openModal7" class="modal7"></a>
    <a href="#openModal8" class="modal8"></a>
    <a href="#openModal9" class="modal9"></a>
    <a href="#openModal10" class="modal10"></a>   
    <div class="title_modal2">Рулевая колонка</div> 
    <ul class="sub_menu2">
      <li><a href="#" class="sub_links">Подкатегория 1</a></li>
      <li><a href="#" class="sub_links">Подкатегория 2</a></li>
      <li><a href="#" class="sub_links">Подкатегория 3</a></li>
      <li><a href="#" class="sub_links">Подкатегория 4</a></li>
    </ul> 
  </div>
</div>
<div id="openModal4" class="modalDialog4">
  <div>
    <a href="#close" title="Кликните чтобы закрыть окно" class="close4"></a>  <a href="#openModal1" class="modal1"></a>
    <a href="#openModal2" class="modal2"></a>
    <a href="#openModal3" class="modal3"></a>
    <a href="#openModal4" class="modal4_none"></a>
    <a href="#openModal5" class="modal5"></a>
    <a href="#openModal6" class="modal6"></a>
    <a href="#openModal7" class="modal7"></a>
    <a href="#openModal8" class="modal8"></a>
    <a href="#openModal9" class="modal9"></a>
    <a href="#openModal10" class="modal10"></a>   
    <div class="title_modal3">Переднее колесо</div>
    <ul class="sub_menu3">
      <li><a href="#" class="sub_links">Подкатегория 1</a></li>
      <li><a href="#" class="sub_links">Подкатегория 2</a></li>
      <li><a href="#" class="sub_links">Подкатегория 3</a></li>
      <li><a href="#" class="sub_links">Подкатегория 4</a></li>
    </ul>  
  </div>
</div>
<div id="openModal5" class="modalDialog5">
  <div>
    <a href="#close" title="Кликните чтобы закрыть окно" class="close5"></a>  <a href="#openModal1" class="modal1"></a>
    <a href="#openModal2" class="modal2"></a>
    <a href="#openModal3" class="modal3"></a>
    <a href="#openModal4" class="modal4"></a>
    <a href="#openModal5" class="modal5_none"></a>
    <a href="#openModal6" class="modal6"></a>
    <a href="#openModal7" class="modal7"></a>
    <a href="#openModal8" class="modal8"></a>
    <a href="#openModal9" class="modal9"></a>
    <a href="#openModal10" class="modal10"></a>
    <div class="title_modal4">Бензобак</div>    
    <ul class="sub_menu4">
      <li><a href="#" class="sub_links">Подкатегория 1</a></li>
      <li><a href="#" class="sub_links">Подкатегория 2</a></li>
      <li><a href="#" class="sub_links">Подкатегория 3</a></li>
      <li><a href="#" class="sub_links">Подкатегория 4</a></li>
    </ul> 
  </div>
</div>
<div id="openModal6" class="modalDialog6">
  <div>
    <a href="#close" title="Кликните чтобы закрыть окно" class="close6"></a>  <a href="#openModal1" class="modal1"></a>
    <a href="#openModal2" class="modal2"></a>
    <a href="#openModal3" class="modal3"></a>
    <a href="#openModal4" class="modal4"></a>
    <a href="#openModal5" class="modal5"></a>
    <a href="#openModal6" class="modal6_none"></a>
    <a href="#openModal7" class="modal7"></a>
    <a href="#openModal8" class="modal8"></a>
    <a href="#openModal9" class="modal9"></a>
    <a href="#openModal10" class="modal10"></a>   
    <div class="title_modal5">Двигатель</div>
    <ul class="sub_menu5">
      <li><a href="#" class="sub_links">Подкатегория 1</a></li>
      <li><a href="#" class="sub_links">Подкатегория 2</a></li>
      <li><a href="#" class="sub_links">Подкатегория 3</a></li>
      <li><a href="#" class="sub_links">Подкатегория 4</a></li>
    </ul>  
  </div>
</div>
<div id="openModal7" class="modalDialog7">
  <div>
    <a href="#close" title="Кликните чтобы закрыть окно" class="close7"></a>  <a href="#openModal1" class="modal1"></a>
    <a href="#openModal2" class="modal2"></a>
    <a href="#openModal3" class="modal3"></a>
    <a href="#openModal4" class="modal4"></a>
    <a href="#openModal5" class="modal5"></a>
    <a href="#openModal6" class="modal6"></a>
    <a href="#openModal7" class="modal7_none"></a>
    <a href="#openModal8" class="modal8"></a>
    <a href="#openModal9" class="modal9"></a>
    <a href="#openModal10" class="modal10"></a>   
    <div class="title_modal6">сиденье</div>
     <ul class="sub_menu6">
      <li><a href="#" class="sub_links">Подкатегория 1</a></li>
      <li><a href="#" class="sub_links">Подкатегория 2</a></li>
    </ul> 
  </div>
</div>
<div id="openModal8" class="modalDialog8">
  <div>
    <a href="#close" title="Кликните чтобы закрыть окно" class="close8"></a>  <a href="#openModal1" class="modal1"></a>
    <a href="#openModal2" class="modal2"></a>
    <a href="#openModal3" class="modal3"></a>
    <a href="#openModal4" class="modal4"></a>
    <a href="#openModal5" class="modal5"></a>
    <a href="#openModal6" class="modal6"></a>
    <a href="#openModal7" class="modal7"></a>
    <a href="#openModal8" class="modal8_none"></a>
    <a href="#openModal9" class="modal9"></a>
    <a href="#openModal10" class="modal10"></a>   
    <div class="title_modal7">Трансмиссионный узел<br>
и область маятника</div>
<ul class="sub_menu7">
      <li><a href="#" class="sub_links">Подкатегория 1</a></li>
      <li><a href="#" class="sub_links">Подкатегория 2</a></li>
      <li><a href="#" class="sub_links">Подкатегория 3</a></li>
      <li><a href="#" class="sub_links">Подкатегория 4</a></li>
    </ul>  
  </div>
</div>
<div id="openModal9" class="modalDialog9">
  <div>
    <a href="#close" title="Кликните чтобы закрыть окно" class="close9"></a>  <a href="#openModal1" class="modal1"></a>
    <a href="#openModal2" class="modal2"></a>
    <a href="#openModal3" class="modal3"></a>
    <a href="#openModal4" class="modal4"></a>
    <a href="#openModal5" class="modal5"></a>
    <a href="#openModal6" class="modal6"></a>
    <a href="#openModal7" class="modal7"></a>
    <a href="#openModal8" class="modal8"></a>
    <a href="#openModal9" class="modal9_none"></a>
    <a href="#openModal10" class="modal10"></a>   
    <div class="title_modal8">заднее колесо</div>
    <ul class="sub_menu8">
      <li><a href="#" class="sub_links">Подкатегория 1</a></li>
      <li><a href="#" class="sub_links">Подкатегория 2</a></li>
      <li><a href="#" class="sub_links">Подкатегория 3</a></li>
      <li><a href="#" class="sub_links">Подкатегория 4</a></li>
    </ul>  
  </div>
</div>
<div id="openModal10" class="modalDialog10">
  <div>
    <a href="#close" title="Кликните чтобы закрыть окно" class="close10"></a>  <a href="#openModal1" class="modal1"></a>
    <a href="#openModal2" class="modal2"></a>
    <a href="#openModal3" class="modal3"></a>
    <a href="#openModal4" class="modal4"></a>
    <a href="#openModal5" class="modal5"></a>
    <a href="#openModal6" class="modal6"></a>
    <a href="#openModal7" class="modal7"></a>
    <a href="#openModal8" class="modal8"></a>
    <a href="#openModal9" class="modal9"></a>
    <a href="#openModal10" class="modal10_none"></a>   
    <div class="title_modal9">задние габариты</div>
    <ul class="sub_menu9">
      <li><a href="#" class="sub_links">Подкатегория 1</a></li>
      <li><a href="#" class="sub_links">Подкатегория 2</a></li>
      <li><a href="#" class="sub_links">Подкатегория 3</a></li>
    </ul>  
  </div>
</div>
   </div>
<!-- END SLIDER-->
<!-- CONTENT -->
  <div id="main_content" class="clearfix">
      <div class="left_partt">
      <div class="h1">О компании</div>
      <div class="top1">Уважаемые владельцы мототехники!</div>
      <div class="catalog_text">В городе Москва организовали сервисное обслуживание мототехники под названием "МОТОГАРАНТ", в которой вы можете провести необходимое техническое обслуживание, вашего двухколёсного друга. В нашем сервисе вы можете получить необходимые консультации, техническую помощь по правильной эксплуатации техники, выполнить необходимый ремонт, в случае необходимости, а также выполнить консервацию и расконсервацию техники в периоды подготовки к сезонному хранинию или эксплуатации.</div>
      <img src="images/small_bike.jpg" height="181" width="223" alt="">
       <div class="some">
       <div class="h2">Уважаемые владельцы мототехники!</div>
       <p>В городе Москва организовали сервисное обслуживание мототехники под названием "МОТОГАРАНТ", в которой вы можете провести необходимое техническое обслуживание, вашего двухколёсного друга. В нашем сервисе вы можете получить необходимые консультации, техническую помощь по правильной эксплуатации техники, выполнить необходимый ремонт, в случае необходимости, а также выполнить консервацию и расконсервацию техники в периоды подготовки к сезонному хранинию или эксплуатации. </p>
       </div>
       <div class="table">
        <img src="images/divider1png.png" height="352" width="1" alt="">
       <div class="grey">
         <div class="title_table">Заголовок №1</div>
         <div class="title_table1">Заголовок №2</div>
       </div>
       <div class="white">
         <div class="ltext">Ванная: (220 л.)</div>
         <div class="rtext1">225</div>
       </div>
       <div class="grey">
         <div class="ltext">Раковина: (30 л.)</div>
         <div class="rtext">1 950</div>
       </div>
       <div class="white">
         <div class="ltext">Биде: (20 л.)</div>
         <div class="rtext1">225</div>
       </div>
       <div class="grey">
         <div class="ltext">Джакузи стандартная: (400 л.)</div>
         <div class="rtext">1 950</div>
       </div>
       <div class="white">
         <div class="ltext">Джакузи угловая: (450 л.)</div>
         <div class="rtext1">225</div>
       </div>
       <div class="grey">
         <div class="ltext">Стиральная машина: (50 л.)</div>
         <div class="rtext">1 950</div>
       </div>
       <div class="white">
         <div class="ltext">Посудомоечная машина: (50 л.)</div>
         <div class="rtext1">225</div>
       </div>
       <div class="grey">
         <div class="ltext">Унитаз: (20 л.)</div>
         <div class="rtext1">1 950</div>
       </div>
       <div class="white">
         <div class="ltext">Душ: (100 л.)</div>
         <div class="rtext1">225</div>
       </div>
       <div class="grey">
         <div class="ltext">Прочее: (л.)</div>
         <div class="rtext1">1 950</div>
       </div>
       </div>
      
      </div>
      <div class="right_part">
        <img src="images/divider.png" height="604" width="1" alt="">
        <div class="h1_right">Новости</div>
        <img src="images/news_img.jpg" height="75" width="100" alt="" class="news_img">
        <p>19 августа 2015</p>
        <div class="text_news">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. </div>
        <a href="">подробнее »</a>
        <img src="images/news_img.jpg" height="75" width="100" alt="" class="news_img">
        <p>19 августа 2015</p>
        <div class="text_news">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. </div>
        <a href="">подробнее »</a>
        <img src="images/news_img.jpg" height="75" width="100" alt="" class="news_img">
        <p>19 августа 2015</p>
        <div class="text_news">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. </div>
        <a href="">подробнее »</a>
      </div>
      
    
  </div>
<!-- END CONTENT -->
  
  </div>
  <footer style="margin-top:50px;">
    <div class="footer_container clearfix">
      <div class="social ">
      <a href="" class="twitter"></a>
      <a href="" class="vk"></a>
      <a href="" class="facebook"></a>
      <a href="" class="ok"></a>
      <div class="center_links">
      <a href="" class="first_link"></a>
      <a href="" class="second_link"></a>
      <a href="" class="third_link"></a>
      </div>
      </div>
      <div class="right_footer">
      <img src="images/icon_phone_white.png" height="23" width="24" alt="">
      <div class="phone1">8 (800) 765-43-21</div>
      <img src="images/icon_phone_white.png" height="23" width="24" alt="">
      <div class="phone1">8 (800) 765-43-21</div>   
      <img src="images/adress_white.png" height="24" width="21" alt="">
      <div class="adress1">г. Москва  ул. Лесная, д. 5</div>
    </div>  

       <div class="footer_text">
        © 2013 - 2015 Компания Мотогарант<br>
        Все права защищены.
      </div>
    </div>
  </footer>
<!-- OVERLAY -->

<!-- END OVERLAY -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.carouFredSel-5.2.3-packed.js"></script>
<script src="js/lightslider.js"></script>
<script src="js/galleria-1.4.2.min.js"></script>
<script src="js/script.js"></script>
 <script type="text/javascript">
    $('#lightSlider').lightSlider({
    gallery: true,
    item: 1,
    loop:true,
    slideMargin: 0,
    thumbItem: 9
});
</script>
  </body>
</html>