<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Мотомастерская</title>
  <link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
  <link href="css/jquery.bxslider.css" rel="stylesheet">
  <link href="css/lightslider.css" rel="stylesheet">


</head>
<body >
<!-- HEADER -->
  <div id="wrapper" >
    <div id="header" class="clearfix">
      <img src="images/logo.png" height="108" width="244" alt="" class="logo">
      <div class="text_center">Тюнинг, техническое обслуживание и ремонт мототехники</div>
      <div class="righside">
        <img src="images/icon_phone.png" height="23" width="24" alt="">
        <div class="phone">8 (800) 765-43-21</div>
        </div>
        <div class="righside">
        <img src="images/icon_phone.png" height="23" width="24" alt="">
        <div class="phone">8 (800) 765-43-21</div>
        </div>
        <div class="righside">
        <img src="images/adress.png" height="24" width="21" alt="">
        <div class="adress">г. Москва  ул. Лесная, д. 5</div>
        </div>
      </div>
<!-- END HEADER -->
<!-- MENU -->      
    <ul id="nav">​
    <li class="main_li">​<a href="#" class="hsubs">​Главная</a>​
    <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 2</a>​</li>​
            <li>​<a href="#">​Submenu 3</a>​</li>​
            <li>​<a href="#">​Submenu 4</a>​</li>​
            <li>​<a href="#">​Submenu 5</a>​</li>​
        </ul>​</li>​
    <li class="main_li">​<a class="hsubs" href="#">​Каталог</a>​
        <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 2</a>​</li>​
            <li>​<a href="#">​Submenu 3</a>​</li>​
            <li>​<a href="#">​Submenu 4</a>​</li>​
            <li>​<a href="#">​Submenu 5</a>​</li>​
        </ul>​
    </li>​
    <li class="main_li">​<a class="hsubs" href="#">​Услуги</a>​
        <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
        </ul>​
    </li>​
    <li class="main_li">​<a class="hsubs" href="#">​Статьи</a>​
        <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
        </ul>​
    </li>​
    <li class="main_li last">​<a class="hsubs" href="#">​Контакты</a>​
        <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
        </ul>​
    </li>​
    <div id="lavalamp">​</div>​
</ul>​
      <!-- <ul id="nav">
                <li><a href="index.html">Главная</a></li>
                <img src="images/icon_tire.png" height="18" width="18" alt="">
                <li><a class="hsubs" href="catalog.html#openModal1">Каталог</a>
                  <ul class="subs">
                        <li>Кап.ремонт двигателя</li>
                        <li>Чистка и настройка карбюратора</li>
                        <li>Чистка выхлопных систем</li>
                        <li>Замена масел</li>
                        <li>Восстановление техники после ДТП</li>
                        <li>Сварочные работы</li>
                        <li>Пайка пластика</li>
                        <li>Токарные работы</li>
                    </ul>  
                </li>
                <img src="images/icon_tire.png" height="18" width="18" alt="">
                <li><a class="hsubs" href="#">Услуги</a>
                    <ul class="subs">
                        <li>Кап.ремонт двигателя</li>
                        <li>Чистка и настройка карбюратора</li>
                        <li>Чистка выхлопных систем</li>
                        <li>Замена масел</li>
                        <li>Восстановление техники после ДТП</li>
                        <li>Сварочные работы</li>
                        <li>Пайка пластика</li>
                        <li>Токарные работы</li>
                    </ul>
                </li>
                <img src="images/icon_tire.png" height="18" width="18" alt="">
                <li><a class="hsubs" href="#">Статьи</a>
                    
                </li>
                <img src="images/icon_tire.png" height="18" width="18" alt="">
                <li><a class="hsubs" href="teh-page.html">Контакты</a>
                   
                </li>
                
                <div class="lavalamp"></div>
                <div id="fire"></div>
            </ul> -->
<!-- END MENU --> 
<!-- SLIDER-->
    <ul class="bxslider">
  <li><img src="images/pic1.jpg" /></li>
  <li><img src="images/pic2.jpg" /></li>
  <li><img src="images/pic3.jpg" /></li>
  <li><img src="images/pic4.jpg" /></li>
  <li><img src="images/pic5.jpg" /></li>
  <li><img src="images/pic6.jpg" /></li>
  </ul>
<!-- END SLIDER-->
<!-- CONTENT -->
  <div id="main_content" class="clearfix">
      <div class="left_part">
      <div class="h1">О компании</div>
      <div class="top">Уважаемые владельцы мототехники!</div>
      <p>В городе Москва организовали сервисное обслуживание мототехники под названием "МОТОГАРАНТ", в которой вы можете провести необходимое техническое обслуживание, вашего двухколёсного друга. В нашем сервисе вы можете получить необходимые консультации, техническую помощь по правильной эксплуатации техники, выполнить необходимый ремонт, в случае необходимости, а также выполнить консервацию и расконсервацию техники в периоды подготовки к сезонному хранинию или эксплуатации.</p>
      <div class="h1">КАКИЕ УСЛУГИ МЫ ВАМ МОЖЕМ ПРЕДЛОЖИТЬ</div>
      <ul id="list">
        <li><a href="#" class="services">Полный капитальный ремонт двигателей любой сложности.</a></li>
        <li><a href="#" class="services">Чистка и настройка "синхронизация" карбюраторов.</a></li>
        <li><a href="#" class="services">Чистка и восстановление выхлопных систем.</a></li>
        <li><a href="#" class="services">Замена росходных материалов и Т.О. "масла, фильтра, тормозные колодки, свечи, и т.д.".</a></li>
        <li><a href="#" class="services">Чистка прокачка, и востановление тормозной системы.</a></li>
        <li><a href="#" class="services">Восстановления мототехники после ДТП и не значительных падений.</a></li>
        <li><a href="#" class="services">Пайка-восстановление пластика.</a></li>
        <li><a href="#" class="services">Сварочные работы.</a></li>
        <li><a href="#"class="services">Токарные работы и т.д...</a></li>
      </ul>
      </div>
      <div class="right_part">
        <img src="images/divider.png" height="604" width="1" alt="">
        <div class="h1_right">Новости</div>
        <img src="images/news_img.jpg" height="75" width="100" alt="" class="news_img">
        <p>19 августа 2015</p>
        <div class="text_news">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. </div>
        <a href="">подробнее »</a>
        <img src="images/news_img.jpg" height="75" width="100" alt="" class="news_img">
        <p>19 августа 2015</p>
        <div class="text_news">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. </div>
        <a href="">подробнее »</a>
        <img src="images/news_img.jpg" height="75" width="100" alt="" class="news_img">
        <p>19 августа 2015</p>
        <div class="text_news">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. </div>
        <a href="">подробнее »</a>
      </div>
      <hr>
      <div class="h1">галерея</div>
    <div id="carousel">
        <ul>
          <li>
            <a href="#openModal"><img src="images/img1.jpg" alt="" /><a href="#openModal" class="description">Токарные работы и т.д...</a></a>
          </li>
          <li>
            <a href="#openModal"><img src="images/img2.jpg" alt="" /><a href="#openModal" class="description">Капитальный ремонт двигателя</a></a></li>
          <li>
            <a href="#openModal"><img src="images/img3.jpg" alt="" /><a href="#openModal" class="description">Востановление тормозной...</a></a></li>
          <li>
            <a href="#openModal"><img src="images/img1.jpg" alt="" /><a href="#openModal" class="description">Токарные работы и т.д...</a></a></li>
          <li>
            <a href="#openModal"><img src="images/img2.jpg" alt="" /><a href="#openModal" class="description">Капитальный ремонт двигателя</a></a></li>
          <li>
            <a href="#openModal"><img src="images/img3.jpg" alt="" /><a href="#openModal" class="description">Востановление тормозной...</a></a></li>          
        </ul>
        <div class="clearfix"></div>
        <a id="prev" class="prev" href="#">&lt;</a>
        <a id="next" class="next" href="#">&gt;</a>
        <div id="pager" class="pager"></div>
      </div>
  </div>
<!-- END CONTENT -->
  
  </div>
  <footer>
    <div class="footer_container clearfix">
      <div class="social ">
      <a href="" class="twitter"></a>
      <a href="" class="vk"></a>
      <a href="" class="facebook"></a>
      <a href="" class="ok"></a>
      <div class="center_links">
      <a href="" class="first_link"></a>
      <a href="" class="second_link"></a>
      <a href="" class="third_link"></a>
      </div>
      </div>
      <div class="right_footer">
      <img src="images/icon_phone_white.png" height="23" width="24" alt="">
      <div class="phone1">8 (800) 765-43-21</div>
      <img src="images/icon_phone_white.png" height="23" width="24" alt="">
      <div class="phone1">8 (800) 765-43-21</div>   
      <img src="images/adress_white.png" height="24" width="21" alt="">
      <div class="adress1">г. Москва  ул. Лесная, д. 5</div>
    </div>  

       <div class="footer_text">
        © 2013 - 2015 Компания Мотогарант<br>
        Все права защищены.
      </div>
    </div>
  </footer>
<!-- OVERLAY -->
<div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Закрыть" class="close"></a>
     <div class="slider_container">
     <div class="slider">
  <input type="radio" name="slide_switch" id="id1"/>
  <label for="id1">
    <img src="images/carousel.jpg" width="74"/>
  </label>
  <img src="images/carousel.jpg"/>
  
  <!--Lets show the second image by default on page load-->
  <input type="radio" name="slide_switch" id="id2" checked="checked"/>
  <label for="id2">
    <img src="images/carousel.jpg" width="74"/>
  </label>
  <img src="images/carousel.jpg"/>
  
  <input type="radio" name="slide_switch" id="id3"/>
  <label for="id3">
    <img src="images/carousel.jpg" width="74"/>
  </label>
  <img src="images/carousel.jpg"/>
  
  <input type="radio" name="slide_switch" id="id4"/>
  <label for="id4">
    <img src="images/carousel.jpg" width="74"/>
  </label>
  <img src="images/carousel.jpg"/>
  
  <input type="radio" name="slide_switch" id="id5"/>
  <label for="id5">
    <img src="images/carousel.jpg" width="74"/>
  </label>
  <img src="images/carousel.jpg"/>
   <input type="radio" name="slide_switch" id="id6"/>
  <label for="id6">
    <img src="images/carousel.jpg" width="74"/>
  </label>
  <img src="images/carousel.jpg"/>
  <input type="radio" name="slide_switch" id="id7"/>
  <label for="id7">
    <img src="images/carousel.jpg" width="74"/>
  </label>
  <img src="images/carousel.jpg"/>
 
  
</div>
</div>
     <div class="modal_container">
     <div class="h11">Токарные работы ит.д...</div>
     <p class="text_inside">Вы просматриваете страницу изображения №250292 (Z750R, Z750R 2011, Naked, мото, Kawasaki, мотоциклы, moto, motorcycle, motorbike) в ее оригинальном разрешении 2560x1600. Для того чтобы скачать оригинал изображения, просто нажмите на кнопку выше "Скачать оригинал", или проделайте следующие действия:</p>
     <p class="text_inside">Нажмите правой кнопкой мыши на изображение</p>
     <p class="text_inside">В появившемся (контекстном) меню, выбирете пункт "сохранить картинку как"</p>
     <p class="text_inside">Вы просматриваете страницу изображения №250292 (Z750R, Z750R 2011, Naked, мото, Kawasaki, мотоциклы, moto, motorcycle, motorbike) в ее оригинальном разрешении 2560x1600.</p>
     </div> 
  
  </div>
</div>
<!-- END OVERLAY -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.carouFredSel-5.2.3-packed.js"></script>
<script src="js/lightslider.js"></script>
<script src="js/galleria-1.4.2.min.js"></script>
<script src="js/script.js"></script>
 <script type="text/javascript">
    $('#lightSlider').lightSlider({
    gallery: true,
    item: 1,
    loop:true,
    slideMargin: 0,
    thumbItem: 9
});
</script>
  </body>
</html>