<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Мотомастерская</title>
  <link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
  <link href="css/jquery.bxslider.css" rel="stylesheet">


</head>
<body >
<!-- HEADER -->
  <div id="wrapper" >
    <div id="header" class="clearfix">
      <img src="images/logo.png" height="108" width="244" alt="" class="logo">
      <div class="text_center">Тюнинг, техническое обслуживание и ремонт мототехники</div>
      <div class="righside">
        <img src="images/icon_phone.png" height="23" width="24" alt="">
        <div class="phone">8 (800) 765-43-21</div>
        </div>
        <div class="righside">
        <img src="images/icon_phone.png" height="23" width="24" alt="">
        <div class="phone">8 (800) 765-43-21</div>
        </div>
        <div class="righside">
        <img src="images/adress.png" height="24" width="21" alt="">
        <div class="adress">г. Москва  ул. Лесная, д. 5</div>
        </div>
      </div>
<!-- END HEADER -->
<!-- MENU -->      
    <ul id="nav">​
    <li class="main_li">​<a href="#" class="hsubs">​Главная</a>​
    <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 2</a>​</li>​
            <li>​<a href="#">​Submenu 3</a>​</li>​
            <li>​<a href="#">​Submenu 4</a>​</li>​
            <li>​<a href="#">​Submenu 5</a>​</li>​
        </ul>​</li>​
    <li class="main_li">​<a class="hsubs" href="#">​Каталог</a>​
        <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 2</a>​</li>​
            <li>​<a href="#">​Submenu 3</a>​</li>​
            <li>​<a href="#">​Submenu 4</a>​</li>​
            <li>​<a href="#">​Submenu 5</a>​</li>​
        </ul>​
    </li>​
    <li class="main_li">​<a class="hsubs" href="#">​Услуги</a>​
        <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
        </ul>​
    </li>​
    <li class="main_li">​<a class="hsubs" href="#">​Статьи</a>​
        <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
        </ul>​
    </li>​
    <li class="main_li last">​<a class="hsubs" href="#">​Контакты</a>​
        <ul class="subs">​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
            <li>​<a href="#">​Submenu 1</a>​</li>​
        </ul>​
    </li>​
    <div id="lavalamp">​</div>​
</ul>​
      <!-- <ul id="nav">
                <li><a href="index.html">Главная</a></li>
                <img src="images/icon_tire.png" height="18" width="18" alt="">
                <li><a class="hsubs" href="catalog.html#openModal1">Каталог</a>
                  <ul class="subs">
                        <li>Кап.ремонт двигателя</li>
                        <li>Чистка и настройка карбюратора</li>
                        <li>Чистка выхлопных систем</li>
                        <li>Замена масел</li>
                        <li>Восстановление техники после ДТП</li>
                        <li>Сварочные работы</li>
                        <li>Пайка пластика</li>
                        <li>Токарные работы</li>
                    </ul>  
                </li>
                <img src="images/icon_tire.png" height="18" width="18" alt="">
                <li><a class="hsubs" href="#">Услуги</a>
                    <ul class="subs">
                        <li>Кап.ремонт двигателя</li>
                        <li>Чистка и настройка карбюратора</li>
                        <li>Чистка выхлопных систем</li>
                        <li>Замена масел</li>
                        <li>Восстановление техники после ДТП</li>
                        <li>Сварочные работы</li>
                        <li>Пайка пластика</li>
                        <li>Токарные работы</li>
                    </ul>
                </li>
                <img src="images/icon_tire.png" height="18" width="18" alt="">
                <li><a class="hsubs" href="#">Статьи</a>
                    
                </li>
                <img src="images/icon_tire.png" height="18" width="18" alt="">
                <li><a class="hsubs" href="teh-page.html">Контакты</a>
                   
                </li>
                
                <div class="lavalamp"></div>
                <div id="fire"></div>
            </ul> -->
<!-- END MENU --> 
    <ul class="bxslider">
  <li><img src="images/pic1.jpg" /></li>
  <li><img src="images/pic2.jpg" /></li>
  <li><img src="images/pic3.jpg" /></li>
  <li><img src="images/pic4.jpg" /></li>
  <li><img src="images/pic5.jpg" /></li>
  <li><img src="images/pic6.jpg" /></li>
  </ul>
<!-- END SLIDER-->
<!-- CONTENT -->
  <div id="main_content" class="clearfix">
      <div class="left_part1">
      <div class="title">Какая-то форма для чего удгодно</div>
      <p>Заполните эту форму, и будет Вам счастье )</p>
      <form action="">
      <input type="text" name="text" class="second_input" placeholder="Введите текст"><br>
      <div class="checkbox">
      <input id="check1" type="checkbox" name="check" value="check1">
      <label for="check1">Выбрано</label>
      
    </div>
      <input type="textarea" id="textarea" placeholder="Оставьте свой комментарий к вашему заказу
">
   <div id="custom_select">
    <div id="current_option" data-value="">
        <span>Переднее колесо
</span>
        <b><img src="images/select_arrow.png"/></b>
    </div>
        <ul id="custom_options">
            <li data-value="">Переднее колесо</li>
            <li data-value="1">Переднее колесо</li>
            <li data-value="2">Переднее колесо</li>
            <li data-value="3">Переднее колесо</li>
            <li data-value="4">Переднее колесо</li>
        </ul>
</div>
      
      <a href="" class="one">Оставить заявку</a>
      <a href="" class="two"></a>
      <a href="" class="three"></a>
      </form>
      </div>
      <div class="right_part">
        <img src="images/divider.png" height="604" width="1" alt="">
        <div class="h1_right">Новости</div>
        <img src="images/news_img.jpg" height="75" width="100" alt="" class="news_img">
        <p>19 августа 2015</p>
        <div class="text_news">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. </div>
        <a href="">подробнее »</a>
        <img src="images/news_img.jpg" height="75" width="100" alt="" class="news_img">
        <p>19 августа 2015</p>
        <div class="text_news">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. </div>
        <a href="">подробнее »</a>
        <img src="images/news_img.jpg" height="75" width="100" alt="" class="news_img">
        <p>19 августа 2015</p>
        <div class="text_news">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. </div>
        <a href="">подробнее »</a>
      </div>
      
      
  </div>
<!-- END CONTENT -->
  
  </div>
  <footer style="margin-top:50px;">
    <div class="footer_container clearfix">
      <div class="social ">
      <a href="" class="twitter"></a>
      <a href="" class="vk"></a>
      <a href="" class="facebook"></a>
      <a href="" class="ok"></a>
      <div class="center_links">
      <a href="" class="first_link"></a>
      <a href="" class="second_link"></a>
      <a href="" class="third_link"></a>
      </div>
      </div>
      <div class="right_footer">
      <img src="images/icon_phone_white.png" height="23" width="24" alt="">
      <div class="phone1">8 (800) 765-43-21</div>
      <img src="images/icon_phone_white.png" height="23" width="24" alt="">
      <div class="phone1">8 (800) 765-43-21</div>   
      <img src="images/adress_white.png" height="24" width="21" alt="">
      <div class="adress1">г. Москва  ул. Лесная, д. 5</div>
    </div>  

       <div class="footer_text">
        © 2013 - 2015 Компания Мотогарант<br>
        Все права защищены.
      </div>
    </div>
  </footer>
<!-- END OVERLAY -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
  </body>
</html>