<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Жареное Пареное</title>
  <link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/main_slider.css" rel="stylesheet" >
    <link rel="stylesheet" href="css/calculator.css"> 

<body >
<!-- HEADER -->
	<div class="header">
		<div class="container clearfix">
			<div class="left_part clearfix">
				<img src="images/icon_delivery.png" height="22" width="36" alt="" class="icon_delivery">
				<a href="">Доставка</a>
				<ul class="left_menu">
					<li><a href="" class="about_click">О нас</a></li>
					<li><a href="" class="advatages">Наши услуги</a></li>
				</ul>
			</div>
			<div class="center">
				<img src="images/logo.png" height="126" width="251" alt="">
				<div class="center_text">Услуги личных<br> <span>Шеф-поваров</span>
				известных</div>
			</div>
			<div class="right_part">
				<img src="images/icon_phone.png" height="22" width="20" alt=""class="icon_phone">
				<a href="">8 906 219 58 36</a>
				<ul class="right_menu">
					<li><a href="" class="feedback">Как это работает</a></li>
					<li><a href="" class="events_click">События</a></li>
				</ul>	
			</div>
			<div class="center_text1" >ресторанов Калининграда</div>
			<a href="" class="order click">Заказать Шеф повара</a>
			<div class="slogan">Мы не просто готовим - мы творим еду для Вас!</div>
		</div>		
	</div>
<!-- END HEADER -->
<!-- SERVICES -->
	<div id="services" class="clearfix">
		<div class="container clearfix">
			<div class="h1">Наши услуги</div>
			<div class="left_block">
				<img src="images/img1.jpg" height="215" width="450" alt="">
				<div class="h2">Корпоративные услуги</div>
				<p>Если Вы хотите достичь в деятельности Вашей компании, предприятия или учреждения,еще более высокого результата, то одним из секретов этого является -</p>
				<a href="" class="more click1">Подробнее</a>
				<a href="" class="zakas click">Заказать</a>
			</div>
			<div class="right_block">
				<img src="images/img2.jpg" height="215" width="450" alt="">
				<div class="h2">Корпоративные услуги</div>
				<p>Эксклюзивные торты, божественные пирожные, восхитительные конфеты, незабываемые десерты и наивкуснейшие пироги на любой вкус и праздник. К любому</p>
				<a href="" class="more click1">Подробнее</a>
				<a href="" class="zakas click">Заказать</a>
			</div>
			<div class="bottom_block">
				<img src="images/img3.jpg" height="215" width="940" alt="">
				<div class="h2">Выездное обслуживание</div>
				<p>В деятельность проекта «Жареное. Пареное.» входит также выездное обслуживание. По духу, характеру, обстановке вы можете выбрать формат обслуживания. Это может быть весьма распространенный выездной Фуршет, легкий Кофе-Брейк или шикарный Банкет.</p>
				<div class="center_buttons">
				<a href="" class="more click1">Подробнее</a>
				<a href="" class="zakas click">Заказать</a>
				</div>	
			</div>
			<div class="left_block">
				<img src="images/img4.jpg" height="215" width="450" alt="">
				<div class="h2">Декор</div>
				<p>Очень часто мы хотим изменить, то к чему мы привыкли. Хотя бы на время. Проекту «Жареное. Пареное.» это под силу. Если Вы решили помимо нашего шеф-повара</p>
				<a href="" class="more click1">Подробнее</a>
				<a href="" class="zakas click">Заказать</a>
			</div>
			<div class="right_block">
				<img src="images/img5.jpg" height="215" width="450" alt="">
				<div class="h2">Праздники</div>
				<p>Согласитесь, что такие события как свадьбы, дни рождения, светские рауты, выпускные, праздники, связанные с Вашей профессиональной деятельностью и другие должны быть</p>
				<a href="" class="more click1">Подробнее</a>
				<a href="" class="zakas click">Заказать</a>
			</div>
			<div class="bottom_block">
				<img src="images/img6.jpg" height="215" width="940" alt="">
				<div class="h2">Вечеринки</div>
				<p>Встречи с друзьями, девичники должны быть крутыми, яркими, каждый раз необычными!Чтобы это получилось, не откажите себе в удовольствии увидеть то, что Вас удивит, порадует. Наши шефы будут креативными профи, которых Вы запомните. Их сеты, закуски сделают вечеринку еще вкуснее</p>
				<div class="center_buttons">
				<a href="" class="more click1">Подробнее</a>
				<a href="" class="zakas click">Заказать</a>
				</div>	
			</div>
			<div class="left_block">
				<img src="images/img7.jpg" height="215" width="450" alt="">
				<div class="h2">Ужин на двоих</div>
				<p>Романтический вечер или просто ужин вдвоём, всегда приносил свои плоды… Представьте, он не просто в ресторане, он без доставки сомнительной еды на дом! Он в</p>
				<a href="" class="more click1">Подробнее</a>
				<a href="" class="zakas click">Заказать</a>
			</div>
			<div class="right_block">
				<img src="images/img8.jpg" height="215" width="450" alt="">
				<div class="h2">Семейный ужин</div>
				<p>Вы любите собираться семьёй, но не хватает времени на приготовление любимых блюд? Чтобы ничего не отвлекало вас от удовольствия общения с близкими людьми,</p>
				<a href="" class="more click1">Подробнее</a>
				<a href="" class="zakas click">Заказать</a>
			</div>
			<div class="bottom_block">
				<img src="images/img9.jpg" height="215" width="940" alt="">
				<div class="h2">Специальное питание</div>
				<p>Мы - то, что едим! Специальное питание, разработанное в тандеме с врачом-диетологом и шефом, сделает Вас здоровым, красивым и стройным человеком! Исходя из Ваших предпочтений, мы создадим индивидуальное меню. Вы научитесь сами, с помощью нашего шеф-повара, готовить его для себя. Всё приготовление будет на Ваших глазах, где пожелаете!</p>
				<div class="center_buttons">
				<a href="" class="more click1">Подробнее</a>
				<a href="" class="zakas click">Заказать</a>
				</div>	
			</div>
			<div class="left_block">
				<img src="images/img10.jpg" height="215" width="450" alt="">
				<div class="h2">Мастер­класс</div>
				<p>Вы хотите совершенствоваться в приготовлении еды? Проект «Жареное. Пареное.» поможет Вам в этом! Наш шеф-повар изменит Ваше представление о приготовлении</p>
				<a href="" class="more click1">Подробнее</a>
				<a href="" class="zakas click">Заказать</a>
			</div>
			<div class="right_block">
				<img src="images/img11.jpg" height="215" width="450" alt="">
				<div class="h2">Обучение</div>
				<p>Представьте! Вы попробовали в одном из ресторанов нашего прекрасного Калининграда блюдо, которое не оставило Вас равнодушным! И вы захотели научиться</p>
				<a href="" class="more click1">Подробнее</a>
				<a href="" class="zakas click">Заказать</a>
			</div>
			<div class="bottom_block">
				<img src="images/img12.jpg" height="215" width="940" alt="">
				<div class="h2">Разработка меню и рецептов</div>
				<p>Мы предлагаем Вам услуги по обновлению меню в Вашем ресторане. Когда другие стоят на месте – Вы должны двигаться вперёд! Новое меню от наших шефов, позволит обратить на себя внимание новых клиентов. Разработка рецептов,  а также фото-рецептов входит в нашу деятельность.</p>
				<div class="center_buttons">
				<a href="" class="more click1">Подробнее</a>
				<a href="" class="zakas click">Заказать</a>
				</div>	
			</div>
		</div>
	</div>
<!-- END SERVICES -->
<!-- HOW IT WORKS -->
	<div class="work_bg" id="containerv">
		<div class="container clearfix">
			<div class="work_h1">Как это работает</div>
			<div class="first_img">
				<img src="images/1.png" height="234" width="274" alt="">
				<p>У Вас намечается мероприятие, звоните:</p>
				<span>8 906 219 58 36</span>
			</div>
			<div class="second_img">
				<img src="images/2.png" height="233" width="274" alt="">
				<p>Или оставляете заявку на<br> нашем сайте, указываете намечающееся мероприятие, и<br> мы Вам перезвоним.</p>
			</div>
			<div class="third_img">
				<img src="images/3.png" height="234" width="274" alt="">
				<p>Затем по вместе составленному меню мы покупаем продукты в проверенном нами месте.</p>
			</div>
			<div class="four_img">
				<img src="images/4.png" height="233" width="274" alt="">
				<p>Приезжаем, готовим, сервируем, украшаем для Вас стол и помещение и оставляем море положительных эмоций.</p>
			</div>
			<div class="five_img">
				<img src="images/5.png" height="234" width="274" alt="">
				<p>После своей работы кухня, стол<br> и помещение останутся в<br> чистоте и порядке.</p>
			</div>
			<div class="six_img">
				<img src="images/6.png" height="234" width="274" alt="">
				<p>Каждый клиент получает<br> карту со скидкой на<br> следующий заказ.</p>
			</div>
			<div class="work_h1">Оставьте заявку прямо сейчас</div>
			<form id="form1">
				<input type="text" name="name" placeholder="Ваше имя" class="name_input">
				<input type="text" name="phone" placeholder="Ваш телефон" class="phone_input">
				<input type="submit" class="submit">
				<input type="hidden" name="formData" value="Заявка с сайта">
			</form>
		</div>	
	</div>
<!-- END HOW IT WORKS -->
<!-- CHEFS -->
	<div class="services">
		<div class="slider-block ">
    		<div id="slider2" class="sliderwrapper">
        
            	<div class="contentdiv">
                	<div class="big_img">
                	<img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
            	</div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>
                <div class="contentdiv">
                    <div class="big_img">
                    <img src="images/chef.jpg" height="531" width="372"></div>
                <br/>
                <h2>Наши Шеф-повара</h2>
                <br/>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img1">
                <p class="quote">
                    Главный успех ресторатора заключается в умении делать людей счастливыми
                </p>
                <img src="images/quote.png" height="12" width="12" alt="" class="quote_img2">
                <p class="caption">
                    <strong>Макс Триштон</strong>
                </p>
                <br/>
                <a href="#"
                   class="more1 click"
                   >Заказать повара</a>
                </div>

            	                                             
    		</div>
		</div>
<div id="paginate-slider2" class="pagination clearfix">      
	<a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef_small.jpg"
                    width="90" height="90" alt=""></a>
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef1_small.jpg"
                    width="90" height="90" alt=""></a>
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef2_small.jpg"
                    width="90" height="90" alt=""></a> 
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef_small.jpg"
                    width="90" height="90" alt=""></a>
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef1_small.jpg"
                    width="90" height="90" alt=""></a>
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef2_small.jpg"
                    width="90" height="90" alt=""></a>
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef_small.jpg"
                    width="90" height="90" alt=""></a>
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef1_small.jpg"
                    width="90" height="90" alt=""></a>
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef2_small.jpg"
                    width="90" height="90" alt=""></a> 
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef_small.jpg"
                    width="90" height="90" alt=""></a>
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef1_small.jpg"
                    width="90" height="90" alt=""></a>
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef2_small.jpg"
                    width="90" height="90" alt=""></a>
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef_small.jpg"
                    width="90" height="90" alt=""></a>
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef1_small.jpg"
                    width="90" height="90" alt=""></a>
    <a href="#" class="toc" 
             data-dark="false"><img
                    src="images/chef2_small.jpg"
                    width="90" height="90" alt=""></a>                   	  

    <a href="#" class="prev"></a>
    <a href="#" class="next"></a>
</div>


	</div>
<!-- END CHEFS -->
<!-- CALCULATOR -->
    <div class="bg_calc">
        <div class="container clearfix">
            <div class="h1_calc">Условный калькулятор</div>
            <div class="h2_calc">Наш калькулятор позволит Вам приблизительно рассчитать бюджет мероприятия.</div>
            <p>Вы выбираете количество гостей, уровень блюд, от чего будет зависеть примерный перечень продуктов, который также<br> может повлиять на итоговую стоимость. А также<br> не забывайте указать наличие дисконтной карты. Мы покупаем продукты, освобождая Вас от лишних хлопот, а Вы затем оплачиваете их по чеку.</p>
            <img src="images/bg_calc.jpg" height="411" width="588" alt="">
        </div> 
    </div>
  
 <div class="container clearfix">
        <div class="text clearfix">
    <div class="calculator">

        <label>Количество гостей:</label>
        <input id="persons"
               type="text"
               data-slider="true"
               data-slider-range="1,7"
               data-slider-step="1"
               data-slider-snap="true"
               data-slider-highlight="true"

               >

        <ul class="value-7 clearfix">
            <li>1</li>
            <li>2</li>
            <li>4</li>
            <li>6</li>
            <li>8</li>
            <li>15</li>
            <li>20</li>
        </ul>

        <label>Уровень блюд:</label>
        <input id="level"
               type="text"
               data-slider="true"
               data-slider-range="1,3"
               data-slider-step="1"
               data-slider-snap="true"
               data-slider-highlight="true"
               data-slider-theme="volume">

        <ul class="value-3 clearfix">
            <li>Простой</li>
            <li>Средний</li>
            <li>Сложный</li>
        </ul>

        <label>Выбор продуктов:</label>
        <input id="products" type="text"
               data-slider="true"
               data-slider-range="1,4"
               data-slider-step="1"
               data-slider-snap="true"
               data-slider-highlight="true"
               data-slider-theme="volume1">

        <ul class="value-4 clearfix">
            <li>Вегетарианское меню</li>
            <li>Рыба<br>или мясо</li>
            <li>Рыба, мясо, морепродукты</li>
            <li>Экстра</li>
        </ul>
    </div>

    <div class="calc-right">
        <div class="price"><span>Итого:</span> <span id="total">13 890</span> руб.</div>
        <a href="#" class="order-btn click">Сделать заказ</a>
    </div>
</div>
    </div>
<!-- END CALCULATOR -->
<!-- DELIVERY -->
<div class="container clearfix">
        <div class="delivery">
            <div class="h1">Доставка</div>
            <p>После того как Вы выбрали у нас ЛЮБОЕ блюдо или торт, выпечку - мы доставляем его к Вам. Если не знаете, что выбрать – мы посоветуем.</p>
            <div class="h2_delivery">Мы гарантируем:</div>
            <p>Каждый шеф-повар готовит в своем ресторане и естественно с соблюдением всех санитарных норм и правил, затем фотографирует и мы Вам вместе с Заказом предоставляем этот фотоотчет.</p>
            <div class="h2_delivery">Условия доставки:</div>
            <p>Бесплатная доставка в пределах г. Калининграда при минимальной сумме заказа – 350 рублей. За пределами – отдельная договоренность..</p>
            <div class="h2_delivery">Работаем с 07:00 до 22:00.</div>
            <a href="">С правилами оказания услуг по приготовлению и доставке блюд по заказам клиентов Вы можете ознакомиться здесь</a>

        </div>  
    </div>
    <hr>
<!-- END DELIVERY -->
<!-- EVENTS -->
<div class="container clearfix" id="events_click">
    <div class="h1">События</div>
    <div class="left_event">
     <img src="images/event1.jpg" height="365" width="280" alt="">
     <div class="h2">Заголовок</div>
     <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
     <a href="" class="more2">Подробнее</a>   
    </div>
    <div class="center_event">
       <img src="images/event2.jpg" height="365" width="280" alt="">
       <div class="h2">Заголовок</div>
       <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
       <a href="" class="more2">Подробнее</a>    
    </div>
    <div class="right_event">
        <img src="images/event3.jpg" height="365" width="280" alt="">
        <div class="h2">Заголовок</div>
        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.</p>
        <a href="" class="more2">Подробнее</a>   
    </div>
</div>
<!-- END EVENTS -->
<!-- FOOTER -->
<footer>
    <div class="container clearfix">
        <div class="footer_left">
        <p>© 2015 персональныйшефповар.рф</p>
        <img src="images/logo_small.png" height="94" width="177" alt="">
        </div>
        <div class="footer_right">
        <p>Звоните нам:</p>
        <span>8 906 219 58 36</span>
        <div class="social">Мы в соц. сетях:</div>
        <a href="" class="google"></a>
        <a href="" class="instagram"></a>
        <a href="" class="vk"></a>
        <a href="" class="facebbok"></a>
        <a href="" class="twitter"></a>
       <div class="last">
         <div class="right1">Пишите нам:</div>
        <a href="" class="mail_link">Shefpovar39@yandex.ru</a>
        <div class="right1">Поделиться:</div>
        <img src="images/soc.png" height="24" width="224" alt="" class="soc">
        </div> 
        </div>
    </div>   
</footer>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#">закрыть</a>
         <div class="modal_h1">Отправить заявку</div>
         <form id="form1">
             <div class="inputblock">
             <div class="descrption_input">Дата:</div>
             <input type="text" class="data" name="data">
             </div>
             <div class="inputblock">
             <div class="descrption_input">Мероприятие:</div>
             <select name="corp" id="">
                 <option value="Корпоративные услуги1">Корпоративные услуги1</option>
                 <option value="Корпоративные услуги2">Корпоративные услуги2</option>
                 <option value="Корпоративные услуги3">Корпоративные услуги3</option>
                 <option value="Корпоративные услуги4">Корпоративные услуги4</option>
                 <option value="Корпоративные услуги5">Корпоративные услуги5</option>
                 <option value="Корпоративные услуги6">Корпоративные услуги6</option>
                 <option value="Корпоративные услуги7">Корпоративные услуг7</option>
                 <option value="Корпоративные услуги8">Корпоративные услуг8</option>
             </select>
             </div>
             <div class="inputblock">
             <div class="descrption_input">Кол-во гостей:</div>
             <input type="text" class="data2" name="quantity">
             </div>
             <div class="inputblock">
             <div class="descrption_input">Ваше имя:</div>
             <input type="text" class="data3" name="name">
             </div>
             <div class="inputblock">
             <div class="descrption_input">Ваш телефон:</div>
             <input type="text" class="data4" name="phone">
             </div>
             <div class="inputblock">
             <div class="descrption_input">Ваш Email:</div>
             <input type="text" class="data5" name="mail">
             </div>
             <div class="inputblock">
             <div class="descrption_input">Комментарий:</div>
             <input type="textarea" class="data6" name="comment">
             </div>
        <input type="submit" class="submit_main" value="Подтвердить заказ">
        <input type="hidden" name="formData" value="Заявка с сайта">
         </form>   
        </div> 
<!-- END MODAL1 -->
<!-- MODAL2 -->
<a href="" title="Кликните чтобы закрыть"><div class="overlay1 " id="overlay1" style="display:none;" alt="Кликните чтобы закрыть"></div></a> 
        <div class="nonebox1" id="nonebox1"> 
         <a class="box-close1" id="box-close1" href="#"></a>
         <img src="images/modal2.jpg" alt="">
          <div class="container_nonebox">
          <div class="h2_nonebox">Выездное обслуживание</div>
          <p>В деятельность проекта «Жареное. Пареное.» входит также выездное обслуживание. По духу, характеру, обстановке вы можете выбрать формат обслуживания. Это может быть весьма распространенный выездной Фуршет, легкий Кофе-Брейк или шикарный Банкет.</p>
          <p><span>Выездной Фуршет</span> применим для разнообразных праздников, событий и мероприятий.Свадьбы, конференции, презентации, корпоративные праздники, юбилеи. Его особенностью являются большое количество одно порционных закусок на разный вкус, свободная, не сковывающая обстановка и самообслуживание. Фуршет от проекта «Жареное. Пареное.» - это разнообразие в выборе блюд и закусок, декорирование под определенную стилистику места его проведения.</p>
          <p><span>Кофе-Брейк</span> – необходимая часть отдыха в перерывах между серьёзными тренингами и семинарами, важными собраниями, конференциями или совещаниями. Это возможность восстановить силы, настроиться на мероприятие, обсудить всё в кулуарах. Меню Кофе-Брейка разнообразное. С утра это может быть горячая выпечка, фрукты, а чуть позже речь может идти и о более существенном… Также не мало важную роль в выборе меню играет время года.</p>
          <p><span>Выездной Банкет</span> сравним с рестораном. А вот с каким рестораном это решать вам! С проектом «Жареное. Пареное.» банкет будет сравним только с самым лучший рестораном.Мы поставим необходимую мебель,  шатры, натянем навесы, украсим помещение и блюда, организуем эффектную их подачу лично нашим Шеф-поваром. По желанию, Вас порадуют красивым танцем, песнями, развлекут юмористы, которые адресно придумают шутки. Банкет – это ответственное мероприятие, которое Вы можете доверить нам.</p>
          <a href="" class="zakas3 click">Заказать</a>
          </div>
        </div> 
<!-- END MODAL2 -->
<div id="scrollup" class="about_click">
<img src="images/up_st.png" alt="arrow" class="first">
<h4>Наверх</h4>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/IPohN3QvwyMQ6ecPI8aFhm9lHXNfWdLeKlmqNLKudcv.js"></script>
<script src="js/NL48PvRBp5poBhWinpOM6SjE9kFkbsUlaAVdkiA8omQ.js"></script>
<script src="js/kjFNFDZOGht7ht1ICKw5GOVI6ZgPuJmBlufFkk9R8AB.js"></script>
<script src="js/SmoothScroll.js"></script> 
<script src="js/scrollup.js"></script>
<script src="js/ajax_form.js"></script>
<script src="js/script.js"></script>
<script>
    $("#my-input").simpleSlider();
</script>
<script>
            jQuery("[data-slider]")
                    .bind("slider:ready slider:changed", function (event, data) {
                        var pdata = [1, 2, 4, 6, 8, 15, 20];
                        var ldata = [18750, 25000, 37500];
                        var prdata = [875, 1375, 1750, 2500];

                        var persons = pdata[ parseInt($("#persons").val()) - 1];
                        var products = prdata[ parseInt($("#products").val()) - 1];
                        var level = ldata[ parseInt($("#level").val()) - 1];

                        var lambda = 2;
                        if (persons <= 2) {
                            lambda = 0.6;
                        } else if (persons == 4) {
                            lambda = 0.8;
                        } else if (persons == 6 || persons == 8) {
                            lambda = 1;
                        } else if (persons == 15) {
                            lambda = 1.5;
                        }

                        $("#total").html(persons * products + level * lambda);
                    });
        </script>
        <script>
        $('.click').click(function(e){ 
    e.preventDefault(); 
         $('.overlay').fadeIn('fast',function(){ 
             $('.nonebox').animate({'top':'50%'},500); 
         });
     });

     $('.box-close.one').click(function(e){ // êëèêàåì ïî ýëåìåíòó êîòîðûé âñ¸ ýòî áóäåò çàêðûâàòü
      e.preventDefault(); 
         $('.nonebox').animate({'top':'-1100px'},500,function(){ // óáèðàåì íàø áëîê
             $('.overlay').fadeOut('fast'); // è òåïåðü óáèðàåì îâåðëýé
         });

     });
     $('.click1').click(function(e){ 
    e.preventDefault(); 
         $('.overlay1').fadeIn('fast',function(){ 
             $('.nonebox1').animate({'top':'50%'},500); 
         });
     });

     $('.overlay1').click(function(e){ // êëèêàåì ïî ýëåìåíòó êîòîðûé âñ¸ ýòî áóäåò çàêðûâàòü
      e.preventDefault(); 
         $('.nonebox1').animate({'top':'-1100px'},500,function(){ // óáèðàåì íàø áëîê
             $('.overlay1').fadeOut('fast'); // è òåïåðü óáèðàåì îâåðëýé
         });

     });
     </script>
     <script type="text/javascript">
    var s = skrollr.init();
    </script>
  </body>
</html>