<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Silver</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<!-- HEADER	 -->
	<div class="menu_top clearfix">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#">О ресторане</a></li>
				<li><a href="#">Меню</a></li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Акции</a></li>
				<li><a href="#">Фотогалерея</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="toggle_menu">
				<a href="#menu" id="toggle"><span></span></a>
			</div>
			<div class="social_wrap">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
			<a href="#" class="basket_button">Корзина (15)</a>			
		</div>
	</div>
	<header>
		<div class="main_container clearfix">
			<div class="header_col">
				<div class="time_wrap">
					<p>ВС-ЧТ: с 11:00 до 23:00</p>
					<p>ПТ, СБ: с 11:00 до 05:00</p>
					<p>ПТ, ВС: караоке с 23:00 до 02:00</p>
				</div>
			</div>
			<div class="header_col">
				<img src="images/logo.png" alt="Alt" class="logo">
			</div>
			<div class="header_col">
				<div class="phone_bottom">
					<p>Телефон доставки</p>
					<div class="p_d">+38 (097) <span>634-29-29</span></div>
				</div>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- CATALOG -->
	<div class="main_bg_catalog">
		<div class="main_container clearfix">
			<div class="l_side">
				<h1>Напитки</h1>
				<hr>
				<h3>Блюда по настоящим<br> кулинарным рецептам!</h3>
				<img src="images/car.png" alt="Alt" class="delivery">
			</div>
		</div>
	</div>
	<div class="main_container clearfix">
		<div class="catalog_wrap">
			<div class="tabs">
				<div class="korpus clearfix">
					<input type="radio" name="odin" checked="checked" id="vkl1"/>
					<label for="vkl1">Ролы</label>
					<input type="radio" name="odin" id="vkl2"/>
					<label for="vkl2">Горячие блюда</label>
					<input type="radio" name="odin" id="vkl3"/>
					<label for="vkl3">Салаты</label>
					<input type="radio" name="odin" id="vkl4"/>
					<label for="vkl4">Закуски</label>
					<input type="radio" name="odin" id="vkl5"/>
					<label for="vkl5">Десерты</label>
					<input type="radio" name="odin" id="vkl6"/>
					<label for="vkl6">Напитки</label>
					<div class="cat_wrap clearfix">
						<div class="catalog_block">
							<img src="images/catalog_img1.png" alt="Alt">
							<div class="title">Стейк свинной на кости</div>
							<p>свинная отбивная на кости, соус барбекю, зелень, картофель кубиком</p>
							<div class="price clearfix">
								<span>200 грамм</span>
								<span>85 грн</span>
							</div>
							<div class="clearfix"></div>
							<a href="#">В корзину</a>
						</div>
						<div class="catalog_block">
							<img src="images/catalog_img2.png" alt="Alt">
							<div class="title">Стейк лосося со спаржей и с.Папричи</div>
							<p>лосось, спаржевая фасоль, соус папричи</p>
							<div class="price clearfix">
								<span>200 грамм</span>
								<span>190 грн</span>
							</div>
							<div class="clearfix"></div>
							<a href="#">В корзину</a>
						</div>
						<div class="catalog_block">
							<img src="images/catalog_img1.png" alt="Alt">
							<div class="title">Стейк свинной на кости</div>
							<p>свинная отбивная на кости, соус барбекю, зелень, картофель кубиком</p>
							<div class="price clearfix">
								<span>200 грамм</span>
								<span>85 грн</span>
							</div>
							<div class="clearfix"></div>
							<a href="#">В корзину</a>
						</div>
						<div class="catalog_block">
							<img src="images/catalog_img2.png" alt="Alt">
							<div class="title">Стейк лосося со спаржей и с.Папричи</div>
							<p>лосось, спаржевая фасоль, соус папричи</p>
							<div class="price clearfix">
								<span>200 грамм</span>
								<span>190 грн</span>
							</div>
							<div class="clearfix"></div>
							<a href="#">В корзину</a>
						</div>
						<div class="catalog_block">
							<img src="images/catalog_img1.png" alt="Alt">
							<div class="title">Стейк свинной на кости</div>
							<p>свинная отбивная на кости, соус барбекю, зелень, картофель кубиком</p>
							<div class="price clearfix">
								<span>200 грамм</span>
								<span>85 грн</span>
							</div>
							<div class="clearfix"></div>
							<a href="#">В корзину</a>
						</div>
						<div class="catalog_block">
							<img src="images/catalog_img2.png" alt="Alt">
							<div class="title">Стейк лосося со спаржей и с.Папричи</div>
							<p>лосось, спаржевая фасоль, соус папричи</p>
							<div class="price clearfix">
								<span>200 грамм</span>
								<span>190 грн</span>
							</div>
							<div class="clearfix"></div>
							<a href="#">В корзину</a>
						</div>
						<div class="catalog_block">
							<img src="images/catalog_img1.png" alt="Alt">
							<div class="title">Стейк свинной на кости</div>
							<p>свинная отбивная на кости, соус барбекю, зелень, картофель кубиком</p>
							<div class="price clearfix">
								<span>200 грамм</span>
								<span>85 грн</span>
							</div>
							<div class="clearfix"></div>
							<a href="#">В корзину</a>
						</div>
						<div class="catalog_block">
							<img src="images/catalog_img2.png" alt="Alt">
							<div class="title">Стейк лосося со спаржей и с.Папричи</div>
							<p>лосось, спаржевая фасоль, соус папричи</p>
							<div class="price clearfix">
								<span>200 грамм</span>
								<span>190 грн</span>
							</div>
							<div class="clearfix"></div>
							<a href="#">В корзину</a>
						</div>
						<div class="catalog_block">
							<img src="images/catalog_img1.png" alt="Alt">
							<div class="title">Стейк свинной на кости</div>
							<p>свинная отбивная на кости, соус барбекю, зелень, картофель кубиком</p>
							<div class="price clearfix">
								<span>200 грамм</span>
								<span>85 грн</span>
							</div>
							<div class="clearfix"></div>
							<a href="#">В корзину</a>
						</div>
						<div class="catalog_block">
							<img src="images/catalog_img2.png" alt="Alt">
							<div class="title">Стейк лосося со спаржей и с.Папричи</div>
							<p>лосось, спаржевая фасоль, соус папричи</p>
							<div class="price clearfix">
								<span>200 грамм</span>
								<span>190 грн</span>
							</div>
							<div class="clearfix"></div>
							<a href="#">В корзину</a>
						</div>
						<div class="catalog_block">
							<img src="images/catalog_img1.png" alt="Alt">
							<div class="title">Стейк свинной на кости</div>
							<p>свинная отбивная на кости, соус барбекю, зелень, картофель кубиком</p>
							<div class="price clearfix">
								<span>200 грамм</span>
								<span>85 грн</span>
							</div>
							<div class="clearfix"></div>
							<a href="#">В корзину</a>
						</div>
						<div class="catalog_block">
							<img src="images/catalog_img2.png" alt="Alt">
							<div class="title">Стейк лосося со спаржей и с.Папричи</div>
							<p>лосось, спаржевая фасоль, соус папричи</p>
							<div class="price clearfix">
								<span>200 грамм</span>
								<span>190 грн</span>
							</div>
							<div class="clearfix"></div>
							<a href="#">В корзину</a>
						</div>
					</div>
					<div class="cat_wrap clearfix">
						2
					</div>
					<div class="cat_wrap clearfix">
						3
					</div>
					<div class="cat_wrap clearfix">
						4
					</div>
					<div class="cat_wrap clearfix">
						5
					</div>
					<div class="cat_wrap clearfix">
						6
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END CATALOG -->
<!-- FOOTER -->
	<div class="footer_bg">
		<div class="main_container clearfix">
			<footer>
				<div class="footer_col">
					<img src="images/logo_bottom.png" alt="Alt">
					<div class="copyright">Silver © 2016 Все права защищены</div>
				</div>
				<div class="footer_col">
					<ul>
						<li><a href="#">О ресторане</a></li>
						<li><a href="#">Меню</a></li>
						<li><a href="#">Доставка</a></li>
					</ul>
					<ul>
						<li><a href="#">Акции</a></li>
						<li><a href="#">Фотогалерея</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="footer_col">
					<div class="phone_bottom">
						<p>Телефон доставки</p>
						<div class="p_d">+38 (097) <span>634-29-29</span></div>
						<p>Ежедневно с 11:00 до 23:00</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<hr>
				<div class="development">Разработка концепции дизайна <br>и создание сайта — <a href="http://pixwhite.com/"  target="_blank">«Студия PixWhite»</a></div>
				<div class="social_wrap">
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
				</div>
			</footer>
		</div>
	</div>
</div>
<!-- END FOOTER -->
	<div id="menu">
		<ul>
			<li><a href="#">О ресторане</a></li>
			<li><a href="#">Меню</a></li>
			<li><a href="#">Доставка</a></li>
			<li><a href="#">Акции</a></li>
			<li><a href="#">Фотогалерея</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		<div class="close">×</div>
	</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>