<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Silver</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<!-- HEADER	 -->
	<div class="menu_top clearfix">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#">О ресторане</a></li>
				<li><a href="#">Меню</a></li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Акции</a></li>
				<li><a href="#">Фотогалерея</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="toggle_menu">
				<a href="#menu" id="toggle"><span></span></a>
			</div>
			<div class="social_wrap">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
			<a href="#" class="basket_button">Корзина (15)</a>			
		</div>
	</div>
	<header>
		<div class="main_container clearfix">
			<div class="header_col">
				<div class="time_wrap">
					<p>ВС-ЧТ: с 11:00 до 23:00</p>
					<p>ПТ, СБ: с 11:00 до 05:00</p>
					<p>ПТ, ВС: караоке с 23:00 до 02:00</p>
				</div>
			</div>
			<div class="header_col">
				<img src="images/logo.png" alt="Alt" class="logo">
			</div>
			<div class="header_col">
				<div class="phone_bottom">
					<p>Телефон доставки</p>
					<div class="p_d">+38 (097) <span>634-29-29</span></div>
				</div>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- PHOTO PAGE -->
	<div class="main_container clearfix">
		<ul class="breadcrumbs">
			<li><a href="#">Главная</a><span>/</span></li>
			<li>Контакты</li>
		</ul>
		<div class="content_h1">Контакты</div>
		<div class="map_wrap">
			<p><span>Адрес:</span>улица Медицинская, 2-г</p>
			<p><span>Телефон:</span>+380 (97) 634-29-29</p>
		</div>
	</div>
<!-- END PHOTO PAGE -->
	<div id="map"></div>
<!-- FOOTER -->
	<div class="footer_bg">
		<div class="main_container clearfix">
			<footer>
				<div class="footer_col">
					<img src="images/logo_bottom.png" alt="Alt">
					<div class="copyright">Silver © 2016 Все права защищены</div>
				</div>
				<div class="footer_col">
					<ul>
						<li><a href="#">О ресторане</a></li>
						<li><a href="#">Меню</a></li>
						<li><a href="#">Доставка</a></li>
					</ul>
					<ul>
						<li><a href="#">Акции</a></li>
						<li><a href="#">Фотогалерея</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="footer_col">
					<div class="phone_bottom">
						<p>Телефон доставки</p>
						<div class="p_d">+38 (097) <span>634-29-29</span></div>
						<p>Ежедневно с 11:00 до 23:00</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<hr>
				<div class="development">Разработка концепции дизайна <br>и создание сайта — <a href="http://pixwhite.com/"  target="_blank">«Студия PixWhite»</a></div>
				<div class="social_wrap">
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
				</div>
			</footer>
		</div>
	</div>
</div>
<!-- END FOOTER -->
	<div id="menu">
		<ul>
			<li><a href="#">О ресторане</a></li>
			<li><a href="#">Меню</a></li>
			<li><a href="#">Доставка</a></li>
			<li><a href="#">Акции</a></li>
			<li><a href="#">Фотогалерея</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		<div class="close">×</div>
	</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/script.js"></script>
<script>
ymaps.ready(function () {
    var myMap = new ymaps.Map('map', {
            center: [48.514976, 34.605611],
            zoom: 16,
          controls: ['zoomControl']
        }, {
            searchControlProvider: 'yandex#search'
        }),
        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: 'Собственный значок метки',
            balloonContent: 'улица Медицинская, 2-г'
        }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: 'images//marker.png',
            // Размеры метки.
            iconImageSize: [48, 68],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-15, -15]
        });

    myMap.geoObjects.add(myPlacemark);
    myMap.behaviors.disable('scrollZoom');
});
</script>
 </body>
</html>