<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Silver</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<!-- HEADER	 -->
	<div class="menu_top clearfix">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#">О ресторане</a></li>
				<li><a href="#">Меню</a></li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Акции</a></li>
				<li><a href="#">Фотогалерея</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="toggle_menu">
				<a href="#menu" id="toggle"><span></span></a>
			</div>
			<div class="social_wrap">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
			<a href="#" class="basket_button">Корзина (15)</a>			
		</div>
	</div>
	<header>
		<div class="main_container clearfix">
			<div class="header_col">
				<div class="time_wrap">
					<p>ВС-ЧТ: с 11:00 до 23:00</p>
					<p>ПТ, СБ: с 11:00 до 05:00</p>
					<p>ПТ, ВС: караоке с 23:00 до 02:00</p>
				</div>
			</div>
			<div class="header_col">
				<img src="images/logo.png" alt="Alt" class="logo">
			</div>
			<div class="header_col">
				<div class="phone_bottom">
					<p>Телефон доставки</p>
					<div class="p_d">+38 (097) <span>634-29-29</span></div>
				</div>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- MAIN SLIDER -->
	<div class="main_slider_bg clearfix">
		<ul class="bxslider">
			<li class="first-slide">
				<div class="main_container clearfix">
					<div class="l_side">
						<h1>Новое</h1>
						<h2>суши<span></span>меню</h2>
						<hr>
						<h3>Блюда по настоящим<br> японским рецептам!</h3>
						<img src="images/car.png" alt="Alt" class="delivery">
					</div>
				</div>
			</li>
			<li class="first-slide">
				<div class="main_container clearfix">
					<div class="l_side">
						<h1>Новое</h1>
						<h2>суши<span></span>меню</h2>
						<hr>
						<h3>Блюда по настоящим<br> японским рецептам!</h3>
						<img src="images/car.png" alt="Alt" class="delivery">
					</div>
				</div>
			</li>
		</ul>
	</div>
<!-- END MAIN SLIDER -->
<!-- ABOUT US -->
	<div class="about_us_wrap clearfix">
		<div class="main_container clearfix">
			<div class="left_side">
				<img src="images/logo_black.png" alt="Alt">
				<hr>
				<p>Что- то новое,  яркое, изысканное и впечатляющее<br> - все это о Silver restaurant & karaoke.</p>
				<p>Мы рады принять каждого гостя в уютной<br> атмосфере красоты и спокойствия. Ординарный<br> блюда удивят каждого своей неординарной<br> подачей.</p>
			</div>
			<div class="right_side">
				<img src="images/window_img.png" alt="Alt">
			</div>
		</div>
	</div>
<!-- END ABOUT US -->
<!-- ASORTIMENT -->
	<div class="asortiment_bg">
		<div class="main_container clearfix">
			<div class="asortiment_block">
				<a href="#">
					<img src="images/asortiment_img1.png" alt="Alt">
					<p>Роллы</p>
				</a>
			</div>
			<div class="asortiment_block">
				<a href="#">
					<img src="images/asortiment_img2.png" alt="Alt">
					<p>Горячие блюда</p>
				</a>
			</div>
			<div class="asortiment_block">
				<a href="#">
					<img src="images/asortiment_img3.png" alt="Alt">
					<p>Салаты</p>
				</a>
			</div>
			<div class="asortiment_block">
				<a href="#">
					<img src="images/asortiment_img4.png" alt="Alt">
					<p>Закуски</p>
				</a>
			</div>
			<div class="asortiment_block">
				<a href="#">
					<img src="images/asortiment_img5.png" alt="Alt">
					<p>Десерты</p>
				</a>
			</div>
			<div class="asortiment_block">
				<a href="#">
					<img src="images/asortiment_img6.png" alt="Alt">
					<p>Напитки</p>
				</a>
			</div>
		</div>
	</div>
<!-- END ASORTIMENT -->
<!-- PHOTO GALLERY -->
	<div class="photo-wrap">
		<div class="main_container clearfix">
			<div class="main_h1">Фотогалерея мероприятий</div>
			<div class="gallery_slider">
				<ul class="bxslider1">
					<li>
						<div class="photo_block">
							<img src="images/gallery_photo1.png" alt="Alt">
							<div class="title">Детский праздник (25 сентября)</div>
						</div>
					</li>
					<li>
						<div class="photo_block">
							<img src="images/gallery_photo2.png" alt="Alt">
							<div class="title">PerfectWedding (24 сентября)</div>
						</div>
					</li>
					<li>
						<div class="photo_block">
							<img src="images/gallery_photo3.png" alt="Alt">
							<div class="title">День рождения ресторана "Silver"</div>
						</div>
					</li>
				</ul>
				<a href="#" class="show_more_photo">Смотреть все фотоотчеты</a>
			</div>
		</div>
	</div>
<!-- END PHOTO GALLERY -->
<!-- NEWS -->
	<div class="news_bg">
		<div class="main_container clearfix">
			<div class="main_h1">Последние новости</div>
			<div class="gallery_slider">
				<ul class="bxslider1">
					<li>
						<div class="photo_block">
							<img src="images/news_img1.jpg" alt="Alt">
							<div class="date">1 октября 2016</div>
							<p>Приглашаем всех желающих на<br> первую вечеринку октября<br> "Октобер dance"</p>
							<a href="#">Подробнее</a>
						</div>
					</li>
					<li>
						<div class="photo_block">
							<img src="images/news_img2.jpg" alt="Alt">
							<div class="date">29 сентября 2016</div>
							<p>Ресторан\Караоке Silver<br> продолжает серию детских<br> праздников "Kids Time"</p>
							<a href="#">Подробнее</a>
						</div>
					</li>
					<li>
						<div class="photo_block">
							<img src="images/news_img3.jpg" alt="Alt">
							<div class="date">29 сентября 2016</div>
							<p>Ресторан #Silver приготовил еще<br> один сюрприз для любителей<br> вкусной и свежей еды</p>
							<a href="#">Подробнее</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END NEWS -->
<!-- FOOTER -->
	<div class="footer_bg">
		<div class="main_container clearfix">
			<footer>
				<div class="footer_col">
					<img src="images/logo_bottom.png" alt="Alt">
					<div class="copyright">Silver © 2016 Все права защищены</div>
				</div>
				<div class="footer_col">
					<ul>
						<li><a href="#">О ресторане</a></li>
						<li><a href="#">Меню</a></li>
						<li><a href="#">Доставка</a></li>
					</ul>
					<ul>
						<li><a href="#">Акции</a></li>
						<li><a href="#">Фотогалерея</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="footer_col">
					<div class="phone_bottom">
						<p>Телефон доставки</p>
						<div class="p_d">+38 (097) <span>634-29-29</span></div>
						<p>Ежедневно с 11:00 до 23:00</p>
					</div>
				</div>
				<div class="clearfix"></div>
				<hr>
				<div class="development">Разработка концепции дизайна <br>и создание сайта — <a href="http://pixwhite.com/"  target="_blank">«Студия PixWhite»</a></div>
				<div class="social_wrap">
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
				</div>
			</footer>
		</div>
	</div>
</div>
<!-- END FOOTER -->
	<div id="menu">
		<ul>
			<li><a href="#">О ресторане</a></li>
			<li><a href="#">Меню</a></li>
			<li><a href="#">Доставка</a></li>
			<li><a href="#">Акции</a></li>
			<li><a href="#">Фотогалерея</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		<div class="close">×</div>
	</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>