<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Парк Кирова</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div class="main_container clearfix">
		<header class="clearfix">
			<a href="index.html"><img src="images/logo-top.png" alt="Alt" class="logo"></a>
			<a href="#" class="weather"><img src="images/weather.png
				" alt="Alt"></a>
				<ul>
					<li class="pr_link"><a href="#" class="rainbow">Мой парк</a>
						<ul class="sub_menu">
							<li><a href="#">Новости</a></li>
							<li><a href="#">История парка</a></li>
							<li><a href="#">Будущее парка</a></li>
							<li><a href="#">Фото и видеоальбом</a></li>
							<li><a href="#">Парк Онлайн</a></li>
							<li><a href="#">Газета “Парк”</a></li>
							<li><a href="#">Отзывы</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</li>
					<li><a href="#" class="rainbow">Афиша</a></li>
					<li><a href="#" class="rainbow">Развлечение и<br> услуги</a></li>
					<li><a href="#" class="rainbow">Кафе и<br> рестораны</a></li>
					<li><a href="#" class="rainbow">Спорт</a></li>
					<li><a href="#" class="rainbow">Детям</a></li>
					<li><a href="#" class="rainbow">Людям элегантного<br> возраста</a></li>
					<li><a href="#" class="rainbow">Объекты и<br> карта парка</a></li>
					<li class="pr_link sec_pr"><a href="#">Организаторам<br> мероприятий</a>
						<ul class="sub_menu">
							<li><a href="#">Информация для спонсоров и арендаторов</a></li>
							<li><a href="#">Корпоративные мероприятия и свадьбы</a></li>
							<li><a href="#">Уличные музыканты</a></li>
							<li><a href="#">Площадка для проведения мероприятий</a></li>
							<li><a href="#">Правила поведения мероприятий</a></li>
						</ul>
					</li>
				</ul>
				<div class="clearfix"></div>
				<div class="divider clearfix"></div>
		</header>
	</div>
<!-- END HEADER -->
<!-- LOGO SECTION -->
	<div class="main_container clearfix">
		<a href="index.html" class="main_logo"><img src="images/2.gif" alt="Alt"></a>
		<div class="s_cont">
		<form id="search" action="#" method="post">
			<div id="input"><input type="text" name="search-terms" id="search-terms" placeholder="Поиск"></div>
			<div id="label"><label for="search-terms" id="search-label">search</label></div>

		</form>
		</div>
	</div>
<!-- END LOGO SECTION -->
<!-- MAIN CONTENT -->
	<div class="main_container clearfix">
		<div class="main_content_wrap">
			<div class="col_content1">
				<div class="russia_block">
					<div class="title">День единства <br>России</div>
					<a href="#" class="buy">Купить билеты</a>
					<a href="#" class="link">www.parkkirova.ru</a>
					<div class="date">04.11.2016 <br>в 13:00</div>
				</div>
			</div>
			<div class="col_content1">
				<img src="images/weather_img.jpg" alt="Alt">
			</div>
			<div class="col_content1">
				<div class="balet_block">
					<img src="images/balet_img.jpg" alt="Alt">
					<a href="#" class="link_title">Гала-концерт Городского конкурса “Таланты Левобережья-16”</a>
				</div>
			</div>
			<div class="col_conten2">
				<img src="images/photo_p.jpg" alt="Alt">
				<a href="#" class="link_title">У нас появился новый ЗООПАРК “В гостях у<br> сказки"</a>
				<div class="main_date">04.11.2016 <br>в 13:00</div>
			</div>
			<div class="snow_man">
				<img src="images/snow-man.png" alt="Alt">
				<a href="#" class="snow_man_title">Слепить самого <br>большого снеговика</a>
			</div>
			<div class="col_content1 mr_zero">
				<div class="balet_block">
					<img src="images/people.jpg" alt="Alt">
					<a href="#" class="link_title">Путешествие в страну Зимних<br> знаний</a>
					<a href="#" class="camera"><img src="images/camera.png" alt="Alt"></a>
				</div>
			</div>
			<div class="clearfix"></div>
			<a href="#" class="show_more">Показать еще</a>
		</div>
	</div>
<!-- END MAIN CONTENT -->
<!-- NEWS -->
	<div class="main_container clearfix">
		<div class="news_bg">
			<div class="news_title">Наши новости</div>
			<div class="news_divider"></div>
			<div class="news_block clearfix">
				<div class="date"><span>28</span> <br>ноября <br>2016</div>
				<div class="news_text"><p>Олимпийские чемпионы Татьяна Волосожар и Максим Траньков открыли зимний сезон</p>
					<p>В минувшую субботу в парке «Сокольники» официально открыли зимний сезон. Первыми на «Лёд» вышли Олимпийские призеры — в этом году с приветственным словом для гостей выступили фигуристы Татьяна Волосожар и Максим Траньков.</p>
				</div>
			</div>
			<div class="news_block clearfix">
				<div class="date"><span>28</span> <br>ноября <br>2016</div>
				<div class="news_text"><p>Олимпийские чемпионы Татьяна Волосожар и Максим Траньков открыли зимний сезон</p>
					<p>В минувшую субботу в парке «Сокольники» официально открыли зимний сезон. Первыми на «Лёд» вышли Олимпийские призеры — в этом году с приветственным словом для гостей выступили фигуристы Татьяна Волосожар и Максим Траньков.</p>
				</div>
			</div>
			<div class="news_block clearfix">
				<div class="date"><span>28</span> <br>ноября <br>2016</div>
				<div class="news_text"><p>Олимпийские чемпионы Татьяна Волосожар и Максим Траньков открыли зимний сезон</p>
					<p>В минувшую субботу в парке «Сокольники» официально открыли зимний сезон. Первыми на «Лёд» вышли Олимпийские призеры — в этом году с приветственным словом для гостей выступили фигуристы Татьяна Волосожар и Максим Траньков.</p>
				</div>
			</div>
			<div class="news_block clearfix">
				<div class="date"><span>28</span> <br>ноября <br>2016</div>
				<div class="news_text"><p>Олимпийские чемпионы Татьяна Волосожар и Максим Траньков открыли зимний сезон</p>
					<p>В минувшую субботу в парке «Сокольники» официально открыли зимний сезон. Первыми на «Лёд» вышли Олимпийские призеры — в этом году с приветственным словом для гостей выступили фигуристы Татьяна Волосожар и Максим Траньков.</p>
				</div>
			</div>
			<div class="news_block clearfix">
				<div class="date"><span>28</span> <br>ноября <br>2016</div>
				<div class="news_text"><p>Олимпийские чемпионы Татьяна Волосожар и Максим Траньков открыли зимний сезон</p>
					<p>В минувшую субботу в парке «Сокольники» официально открыли зимний сезон. Первыми на «Лёд» вышли Олимпийские призеры — в этом году с приветственным словом для гостей выступили фигуристы Татьяна Волосожар и Максим Траньков.</p>
				</div>
			</div>
			<a href="news.html" class="all_news">Все новости</a>
		</div>
	</div>
<!-- END NEWS -->
<!-- MAIN FORM -->
	<div class="main_container clearfix">
		<div class="main_form">
			<div class="title">Подпишитесь на рассылку и узнавайте обо всем первым</div>
			<form id="form1">
				<input type="e-mail" name="mail" placeholder="Введите свой e-mail:" class="main_input" required>
				<input type="submit" value="Подписаться" class="main_submit">
			</form>
		</div>
	</div>
<!-- END MAIN FORM -->
<!-- GALLERY -->
	<div class="main_container clearfix">
		<div class="gallery_wrap clearfix">
			<a href="#"><img src="images/gallery_img1.jpg" alt="Alt"></a>
			<a href="#"><img src="images/gallery_img2.jpg" alt="Alt"></a>
			<a href="#"><img src="images/gallery_img3.jpg" alt="Alt"></a>
			<a href="#"><img src="images/gallery_img4.jpg" alt="Alt"></a>
			<a href="#"><img src="images/gallery_img5.jpg" alt="Alt"></a>
			<a href="#"><img src="images/gallery_img3.jpg" alt="Alt"></a>
			<a href="#"><img src="images/gallery_img1.jpg" alt="Alt"></a>
			<a href="#"><img src="images/gallery_img2.jpg" alt="Alt"></a>
			<a href="#"><img src="images/gallery_img5.jpg" alt="Alt"></a>
			<a href="#"><img src="images/gallery_img4.jpg" alt="Alt"></a>
		</div>
	</div>
<!-- END GALLERY -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="main_container clearfix">
				<div class="copyright">© 2016 МБУК «ПКиО им. С. М. Кирова». Новосибирск, ул. Станиславского, 10</div>
			</div>
		</footer>
	</div>
<!-- END FOOTER -->
<div class="social">
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>