<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Парк Кирова</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div class="main_container clearfix">
		<header class="clearfix">
			<a href="index.html"><img src="images/logo-top.png" alt="Alt" class="logo"></a>
			<a href="#" class="weather"><img src="images/weather.png
				" alt="Alt"></a>
				<ul>
					<li class="pr_link"><a href="#">Мой парк</a>
						<ul class="sub_menu">
							<li><a href="#">Новости</a></li>
							<li><a href="#">История парка</a></li>
							<li><a href="#">Будущее парка</a></li>
							<li><a href="#">Фото и видеоальбом</a></li>
							<li><a href="#">Парк Онлайн</a></li>
							<li><a href="#">Газета “Парк”</a></li>
							<li><a href="#">Отзывы</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</li>
					<li><a href="#">Афиша</a></li>
					<li><a href="#">Развлечение и<br> услуги</a></li>
					<li><a href="#">Кафе и<br> рестораны</a></li>
					<li><a href="#">Спорт</a></li>
					<li><a href="#">Детям</a></li>
					<li><a href="#">Людям элегантного<br> возраста</a></li>
					<li><a href="#">Объекты и<br> карта парка</a></li>
					<li class="pr_link sec_pr"><a href="#">Организаторам<br> мероприятий</a>
						<ul class="sub_menu">
							<li><a href="#">Информация для спонсоров и арендаторов</a></li>
							<li><a href="#">Корпоративные мероприятия и свадьбы</a></li>
							<li><a href="#">Уличные музыканты</a></li>
							<li><a href="#">Площадка для проведения мероприятий</a></li>
							<li><a href="#">Правила поведения мероприятий</a></li>
						</ul>
					</li>
				</ul>
				<div class="clearfix"></div>
				<div class="divider clearfix"></div>
		</header>
	</div>
<!-- END HEADER -->
<!-- PAGE INSIDE -->
	<div class="main_container clearfix">
		<h1 class="main_h1">Парк культуры и отдыха им.С.М.Кирова</h1>
		<div class="main_divider"></div>
		<div class="main_tabs">
			<div class="korpus clearfix">
				<input type="radio" name="odin" checked="checked" id="vkl1"/>
				<label for="vkl1">Новости</label>
				<input type="radio" name="odin" id="vkl2"/>
				<label for="vkl2">История парка</label>
				<input type="radio" name="odin" id="vkl3"/>
				<label for="vkl3">Будущее парка</label>
				<input type="radio" name="odin" id="vkl4"/>
				<label for="vkl4">Фото и видеофайлы</label>
				<input type="radio" name="odin" id="vkl5"/>
				<label for="vkl5">Парк онлайн</label>
				<input type="radio" name="odin" id="vkl6"/>
				<label for="vkl6">Газета “Парк”</label>
				<input type="radio" name="odin" id="vkl7"/>
				<label for="vkl7">Отзывы</label>
				<input type="radio" name="odin" id="vkl8"/>
				<label for="vkl8">Контакты</label>
				<div>
					<div class="tab_title">Новости</div>
					<div class="news_inside_wrap clearfix">
						<div class="news_inside_block clearfix">
							<div class="img_s">
								<img src="images/news_inside_img1.jpg" alt="Alt">
								<div class="date_inside">28 ноября 2016</div>
							</div>
							<div class="text_s">
								<div class="title">Гости парка могут согреться у костровых точек</div>
								<p>Гости парка могут согреться у костровых точек</p>
								<p>Недавно в парке «Сокольники» вновь появились костровые точки. Их на территории две: на Главной и Песочной аллеях. Костровая точка представляет собой чугунный огнеупорный каркас, внутри которого горит пламя.</p>
							</div>
						</div>
						<div class="news_inside_block clearfix">
							<div class="img_s">
								<img src="images/news_inside_img2.jpg" alt="Alt">
								<div class="date_inside">28 ноября 2016</div>
							</div>
							<div class="text_s">
								<div class="title">Гости парка могут согреться у костровых точек</div>
								<p>Гости парка могут согреться у костровых точек</p>
								<p>Недавно в парке «Сокольники» вновь появились костровые точки. Их на территории две: на Главной и Песочной аллеях. Костровая точка представляет собой чугунный огнеупорный каркас, внутри которого горит пламя.</p>
							</div>
						</div>
						<div class="news_inside_block clearfix">
							<div class="img_s">
								<img src="images/news_inside_img1.jpg" alt="Alt">
								<div class="date_inside">28 ноября 2016</div>
							</div>
							<div class="text_s">
								<div class="title">Гости парка могут согреться у костровых точек</div>
								<p>Гости парка могут согреться у костровых точек</p>
								<p>Недавно в парке «Сокольники» вновь появились костровые точки. Их на территории две: на Главной и Песочной аллеях. Костровая точка представляет собой чугунный огнеупорный каркас, внутри которого горит пламя.</p>
							</div>
						</div>
						<div class="news_inside_block clearfix">
							<div class="img_s">
								<img src="images/news_inside_img2.jpg" alt="Alt">
								<div class="date_inside">28 ноября 2016</div>
							</div>
							<div class="text_s">
								<div class="title">Гости парка могут согреться у костровых точек</div>
								<p>Гости парка могут согреться у костровых точек</p>
								<p>Недавно в парке «Сокольники» вновь появились костровые точки. Их на территории две: на Главной и Песочной аллеях. Костровая точка представляет собой чугунный огнеупорный каркас, внутри которого горит пламя.</p>
							</div>
						</div>
						<div class="news_inside_block clearfix">
							<div class="img_s">
								<img src="images/news_inside_img2.jpg" alt="Alt">
								<div class="date_inside">28 ноября 2016</div>
							</div>
							<div class="text_s">
								<div class="title">Гости парка могут согреться у костровых точек</div>
								<p>Гости парка могут согреться у костровых точек</p>
								<p>Недавно в парке «Сокольники» вновь появились костровые точки. Их на территории две: на Главной и Песочной аллеях. Костровая точка представляет собой чугунный огнеупорный каркас, внутри которого горит пламя.</p>
							</div>
						</div>
					</div>
					<div class="main_divider"></div>
					<ul class="breadcrums">
						<li><a href="#" class="active">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
				<div>
					<div class="tab_title">История парка</div>
				</div>
				<div>
					<div class="tab_title">Будущее парка</div>
				</div>
				<div>
					<div class="tab_title">Фото и видеофайлы</div>
				</div>
				<div>
					<div class="tab_title">Парк онлайн</div>
				</div>
				<div>
					<div class="tab_title">Газета “Парк”</div>
				</div>
				<div>
					<div class="tab_title">Отзывы</div>
				</div>
				<div>
					<div class="tab_title">Контакты</div>
				</div>
			</div>
		</div>
	</div>
<!-- END PAGE INSIDE -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="main_container clearfix">
				<div class="copyright">© 2016 МБУК «ПКиО им. С. М. Кирова». Новосибирск, ул. Станиславского, 10</div>
			</div>
		</footer>
	</div>
<!-- END FOOTER -->
<div class="social">
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
	<a href="#"></a>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>