<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Загранпаспорт срочно</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<!-- HEADER -->
	<header>
			<div class="header_wrap">
				<a href="index.html"><div class="logo"></div></a>
				<div class="main_container clearfix">
				<ul id="nav" class="menu flex">
					<li id="selected"><a href="#">загранпаспорт<br> на 5 лет</a></li>
					<li><a href="#">загранпаспорт<br> на 10 лет</a></li>
					<li><a href="#">загранпаспорт<br> ребенку</a></li>
					<li><a href="#">загранпаспорт<br> иногородним</a></li>
					<li class="other"><a href="#">прочее</a>
						<ul class="sub">
							<li><a href="">Информация 1</a></li>
							<li><a href="">Информация 2</a></li>
							<li><a href="">Информация 3</a></li>
						</ul>
					</li>
					<li><a href="#">Сроки и цены</a></li>
					<li><a href="#">контакты</a></li>
				</ul>
				<div class="toggle_menu">
				    <a href="#menu" id="toggle"><span></span></a>
				</div>
				</div>
				<div class="phone_top">
				<span>8 (495) 220 38 84</span>
				<p>Время работы: 11:00 - 19:00; ПН-ПТ<br> м.Китай-Гарод, Лубянский пр-д, 25</p>
				</div>
		</div>
	</header>
<!-- END HEADER -->
<!-- CATALOG -->
<div class="catalog_wrap">
	<div class="main_container clearfix">
		<div class="zapis_wrap clearfix">
			<div class="tab_content">
				<img src="images/catalog_img.jpg" alt="Alt" class="catalog_img">
				<div class="cat_t">
				<h2 class="title_content">Заголовок</h2>
		  		<h3 class="subtitle">Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.)</h3>
				</div>
				<div class="clearfix"></div>
		  		<h4 class="list_title">Подача заявления и получение </h4>
		  		<ul>
		  			<li>Загранпаспорта осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</li>
		  			<li>Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.</li>
		  		</ul>
		  		<p><span>Подача заявления и получение загранпаспорта</span> осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</p>
		  	</div>
		  	<div class="tab_content">
				<img src="images/catalog_img.jpg" alt="Alt" class="catalog_img">
				<h2 class="title_content">Заголовок</h2>
		  		<h3 class="subtitle">Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.)</h3>
		  		<h4 class="list_title">Подача заявления и получение </h4>
		  		<ul>
		  			<li>Загранпаспорта осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</li>
		  			<li>Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.</li>
		  		</ul>
		  		<p><span>Подача заявления и получение загранпаспорта</span> осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</p>
		  	</div>
		  	<div class="tab_content">
				<img src="images/catalog_img.jpg" alt="Alt" class="catalog_img">
				<h2 class="title_content">Заголовок</h2>
		  		<h3 class="subtitle">Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.)</h3>
		  		<h4 class="list_title">Подача заявления и получение </h4>
		  		<ul>
		  			<li>Загранпаспорта осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</li>
		  			<li>Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.</li>
		  		</ul>
		  		<p><span>Подача заявления и получение загранпаспорта</span> осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</p>
		  	</div>
		  	<div class="tab_content">
				<img src="images/catalog_img.jpg" alt="Alt" class="catalog_img">
				<h2 class="title_content">Заголовок</h2>
		  		<h3 class="subtitle">Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.)</h3>
		  		<h4 class="list_title">Подача заявления и получение </h4>
		  		<ul>
		  			<li>Загранпаспорта осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</li>
		  			<li>Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.</li>
		  		</ul>
		  		<p><span>Подача заявления и получение загранпаспорта</span> осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</p>
		  	</div>
		  	<div class="tab_content">
				<img src="images/catalog_img.jpg" alt="Alt" class="catalog_img">
				<div class="cat_t">
				<h2 class="title_content">Заголовок</h2>
		  		<h3 class="subtitle">Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.)</h3>
				</div>
				<div class="clearfix"></div>
		  		<h4 class="list_title">Подача заявления и получение </h4>
		  		<ul>
		  			<li>Загранпаспорта осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</li>
		  			<li>Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.</li>
		  		</ul>
		  		<p><span>Подача заявления и получение загранпаспорта</span> осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</p>
		  	</div>
		  	<div class="tab_content">
				<img src="images/catalog_img.jpg" alt="Alt" class="catalog_img">
				<h2 class="title_content">Заголовок</h2>
		  		<h3 class="subtitle">Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.)</h3>
		  		<h4 class="list_title">Подача заявления и получение </h4>
		  		<ul>
		  			<li>Загранпаспорта осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</li>
		  			<li>Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.</li>
		  		</ul>
		  		<p><span>Подача заявления и получение загранпаспорта</span> осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</p>
		  	</div>
		  	<div class="tab_content">
				<img src="images/catalog_img.jpg" alt="Alt" class="catalog_img">
				<h2 class="title_content">Заголовок</h2>
		  		<h3 class="subtitle">Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.)</h3>
		  		<h4 class="list_title">Подача заявления и получение </h4>
		  		<ul>
		  			<li>Загранпаспорта осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</li>
		  			<li>Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.</li>
		  		</ul>
		  		<p><span>Подача заявления и получение загранпаспорта</span> осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</p>
		  	</div>
		  	<div class="tab_content">
				<img src="images/catalog_img.jpg" alt="Alt" class="catalog_img">
				<h2 class="title_content">Заголовок</h2>
		  		<h3 class="subtitle">Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.)</h3>
		  		<h4 class="list_title">Подача заявления и получение </h4>
		  		<ul>
		  			<li>Загранпаспорта осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</li>
		  			<li>Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.</li>
		  		</ul>
		  		<p><span>Подача заявления и получение загранпаспорта</span> осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</p>
		  	</div>
		  	<div class="tab_content">
				<img src="images/catalog_img.jpg" alt="Alt" class="catalog_img">
				<h2 class="title_content">Заголовок</h2>
		  		<h3 class="subtitle">Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.)</h3>
		  		<h4 class="list_title">Подача заявления и получение </h4>
		  		<ul>
		  			<li>Загранпаспорта осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</li>
		  			<li>Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.</li>
		  		</ul>
		  		<p><span>Подача заявления и получение загранпаспорта</span> осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</p>
		  	</div>
		  	<div class="tab_content">
				<img src="images/catalog_img.jpg" alt="Alt" class="catalog_img">
				<h2 class="title_content">Заголовок</h2>
		  		<h3 class="subtitle">Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.)</h3>
		  		<h4 class="list_title">Подача заявления и получение </h4>
		  		<ul>
		  			<li>Загранпаспорта осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</li>
		  			<li>Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.</li>
		  		</ul>
		  		<p><span>Подача заявления и получение загранпаспорта</span> осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</p>
		  	</div>
		  	<ul class="pagination">
		  		<li><a href="#">&lt;&lt;</a></li>
		  		<li><a href="#">&lt;</a></li>
		  		<li><a href="#">1</a></li>
		  		<li><a href="#">2</a></li>
		  		<li class="active"><a href="#">3</a></li>
		  		<li>...</li>
		  		<li><a href="#">23</a></li>
		  		<li><a href="#">24</a></li>
		  		<li><a href="#">25</a></li>
		  		<li><a href="#">></a></li>
		  		<li><a href="#">>></a></li>
		  	</ul>
		</div>
	</div>
</div>
<!-- END CATALOG -->
<!-- FOOTER -->
	<footer>
		<div class="main_container clearfix">
			<div class="phone_bottom">
				<span>8 (495) 220 38 84</span>
				<p>Остались вопросы? Звоните!</p>
			</div>
			<div class="social">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
			<div class="clearfix"></div>
			<div class="bottom_block">
				<div class="title">информация:</div>
				<ul>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Вопросы и ответы</a></li>
					<li><a href="#">Online- проверка</a></li>
					<li><a href="#">Документы</a></li>
					<li><a href="#">Анкеты</a></li>
				</ul>
			</div>
			<div class="bottom_block">
				<div class="title">Услуги:</div>
				<ul>
					<li><a href="#">Ускорение</a></li>
					<li><a href="#">Заммена</a></li>
					<li><a href="#">Заполнение анкет</a></li>
				</ul>
			</div>
			<div class="bottom_block">
				<div class="title">Загранпаспорт за:</div>
				<div class="days_link_wrap">
					<a href="#" class="open_modal">2 дня</a>
					<a href="#" class="open_modal">3 дня</a>
					<a href="#" class="open_modal">4 дня</a>
					<a href="#" class="open_modal">5 дней</a><br>
					<a href="#" class="open_modal">6 дней</a>
					<a href="#" class="open_modal">7 дней</a>
					<a href="#" class="open_modal">8 дней</a>
					<a href="#" class="open_modal">9 дней</a><br>
					<a href="#" class="open_modal">10 дней</a>
					<a href="#" class="open_modal">11 дней</a>
					<a href="#" class="open_modal">12 дней</a>
					<a href="#" class="open_modal">13 дней</a>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="copyright">© 2006 - 2016, получение загранпаспорта в Москве с zagrannik.org.</div>
		</div>
	</footer>
<!-- END FOOTER -->
</div>
<div id="menu">
	  <ul>
	    	<li><a href="#">загранпаспорт на 5 лет</a></li>
			<li><a href="#">загранпаспорт на 10 лет</a></li>
			<li><a href="#">загранпаспорт ребенку</a></li>
			<li><a href="#">загранпаспорт иногородним</a></li>
			<li><a href="#">прочее</a></li>
			<li><a href="#">Сроки и цены</a></li>
			<li><a href="#">контакты</a></li>
	  </ul>
	  <div class="close">×</div>
</div>
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="title">Форма обратной связи</div>
		<form>
			<input type="text" name="name" placeholder="Имя" class="modal_input" required>
			<input type="text" name="phone" placeholder="Телефон" class="modal_input" required>
			<input type="text" name="mail" placeholder="Эл. почта" class="modal_input" required>
			<textarea name="mess" placeholder="Задайте свой вопрос" class="modal_input  text_input"></textarea>
			<button type="submit" value="Оставить заявку" class="modal_submit">Оставить заявку</button>
		</form>
    </div> 
<!-- END MODAL1 -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.spasticNav.js"></script>
<script type="text/javascript" src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript">
    $('#nav').spasticNav();
</script>
<script>
var h_hght = 515; // высота шапки
var h_mrg = 88;    // отступ когда шапка уже не видна
                 
$(function(){
 
    var elem = $('.page_nav');
    var top = $(this).scrollTop();
     
    if(top > h_hght){
        elem.css('top', h_mrg);
    }           
     
    $(window).scroll(function(){
        top = $(this).scrollTop();
         
        if (top+h_mrg < h_hght) {
            elem.css('top', (h_hght-top));
        } else {
            elem.css('top', h_mrg);
        }
    });
 
});
</script>
 </body>
</html>