<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Загранпаспорт срочно</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<!-- HEADER -->
	<header>
			<div class="header_wrap">
				<a href="index.html"><div class="logo"></div></a>
				<div class="main_container clearfix">
				<ul id="nav" class="menu flex">
					<li id="selected"><a href="#">загранпаспорт<br> на 5 лет</a></li>
					<li><a href="#">загранпаспорт<br> на 10 лет</a></li>
					<li><a href="#">загранпаспорт<br> ребенку</a></li>
					<li><a href="#">загранпаспорт<br> иногородним</a></li>
					<li class="other"><a href="#">прочее</a>
						<ul class="sub">
							<li><a href="#">Информация 1</a></li>
							<li><a href="#">Информация 2</a></li>
							<li><a href="#">Информация 3</a></li>
						</ul>
					</li>
					<li><a href="#">Сроки и цены</a></li>
					<li><a href="#">контакты</a></li>
				</ul>
				<div class="toggle_menu">
				    <a href="#menu" id="toggle"><span></span></a>
				</div>
				</div>
				<div class="phone_top">
				<span>8 (495) 220 38 84</span>
				<p>Время работы: 11:00 - 19:00; ПН-ПТ<br> м.Китай-Гарод, Лубянский пр-д, 25</p>
				</div>
		</div>
	</header>
<!-- END HEADER -->
<!-- MAIN SLIDER -->
	<div class="main_slider_bg">
		<div class="main_container clearfix">
			<div class="main_slider_text">
				<h1>Загранпаспорт срочно!</h1>
				<div class="subtitle">Помощь в оформлении загранпаспорта в Москве
				для граждан Российской Федерации в короткие сроки!</div>
				<a href="#" class="main_slider_button open_modal">Оставить заявку</a>
			</div>
			<img src="images/men1.png" alt="Alt" class="man_photo">
		</div>
	</div>
<!-- END MAIN SLIDER -->
<!-- TABS -->
<div class="clearfix"></div>
<div class="tabs_wrap">
<div class="page_nav">
	<div class="main_container clearfix">
		<ul>
			<li class="active scrollto1"><a href="#">информация</a></li>
			<li class="scrollto2"><a href="#">Цены</a></li>
			<li class="scrollto3"><a href="#">документы</a></li>
		</ul>
	</div>
</div>
	<div class="main_container clearfix" id="scrollto1">
		  	<div class="tab_content">

		  		<div class="subtitle">Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.</div>
		  		<div class="list_title">Подача заявления и получение </div>
		  		<ul>
		  			<li>Загранпаспорта осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</li>
		  			<li>Загранпаспорт (общегражданский заграничный паспорт (ОЗП), в народе к документу часто применяются такие названия как «загранник» или «загран») — документ удостоверяющий личность гражданина Российской Федерации за границей.</li>
		  		</ul>
		  		<p><span>Подача заявления и получение загранпаспорта</span> осуществляется по месту постоянной прописки или фактического пребывания в паспортном столе (УФМС). Срок проверки заявлений составляет от 30 до 120 дней при условии, что на гражданина не был оформлен допуск к сведениям особой важности или совершенно секретным сведениям, отнесенным к государственной тайне.</p>
		  	</div>
	</div>
</div>
<!-- END TABS -->
<!-- CHOSE YOUR PASSPORT -->
	<div class="choose_bg">
		<div class="main_container clearfix">
			<img src="images/girl.png" alt="Alt" class="girl">
			<div class="choose_text">
				<div class="title">Какой вам нужен загранпаспорт?</div>
				<a href="#"  class="open_modal">На 5 лет</a><a href="#" class="open_modal">На 10 лет</a>
			</div>
		</div>
	</div>
<!-- END CHOSE YOUR PASSPORT -->
<!-- HELP -->
	<div class="main_container clearfix" id="scrollto2">
		<div class="main_page_title">ПОМОЩЬ В ОФОРМЛЕНИИ ЗАГРАНПАСПОРТА на 10 лет</div>
		<div class="korpus1">
		  <input type="radio" name="dva" checked="checked" id="vkl11"/>
		  <label for="vkl11">взрослым</label>
		  <input type="radio" name="dva" id="vkl22"/>
		  <label for="vkl22">детям от 14 до 18</label>
		  <input type="radio" name="dva" id="vkl33"/>
		  <label for="vkl33">детям до 14</label>
		  <div>
		  	<div class="table_wrap">
		  		<div class="title">биометрический ЗАГРАНИЧНЫЙ ПАСПОРТ НА 10 ЛЕТ ВЗРОСЛЫМ</div>
		  		<div class="red_divider"></div>
		  		<table>
		  			<tr>
		  				<th>Сроки указаны в рабочих днях (р.д.)</th>
		  				<th>Постоянная регистрация в Москве<br> или области</th>
		  				<th>Для жителей регионов РФ или не<br> имеющих прописки</th>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  		</table>
		  		<div class="gosposhlina">
		  			Госпошлина 3 500 рублей в стоимость не входит
		  		</div>
		  		<div class="table_list">
		  			<div class="title_title">ВОЗМОЖНЫЕ ДОПОЛНИТЕЛЬНЫЕ РАСХОДЫ:</div>
		  			<ul>
		  				<li>2000 рублей - курьерские услуги;</li>
		  				<li>2000-4000 рублей - запрос на легальность приобретения гражданства, если место рождения не РФ.</li>
		  			</ul>
		  			<div class="title_title">СПИСОК ДОКУМЕНТОВ:</div>
		  			<ul>
		  				<li>паспорт заявителя;</li>
		  				<li>действующий загранпаспорт если Вы получали его ранее;</li>
		  				<li>действующий загранпаспорт если Вы получали его ранее;</li>
		  				<li>копия или оригинал трудовой книжки если она у Вас есть;</li>
		  				<li>действующий загранпаспорт если Вы получали его ранее;</li>
		  				<li>свидетельство о рождении для лиц до 18 лет;</li>
		  				<li>военный билет или справка формы №32 для мужчин от 18 до 27 лет.</li>
		  			</ul>
		  			<p>С документов снимаются копии, оригиналы сразу же возвращаются</p>
		  			<div class="title_title">СПИСОК ДОКУМЕНТОВ:</div>
		  			<ul>
		  				<li>отсчет сроков начинается на следующий день после подачи документов в отделение фмс</li>
		  			</ul>
		  		</div>
		  	</div>
		  </div>
		  <div>
		  	<div class="table_wrap">
		  		<div class="title">биометрический ЗАГРАНИЧНЫЙ ПАСПОРТ НА 10 ЛЕТ детям от 14 до 18</div>
		  		<div class="red_divider"></div>
		  		<table>
		  			<tr>
		  				<th>Сроки указаны в рабочих днях (р.д.)</th>
		  				<th>Постоянная регистрация в Москве<br> или области</th>
		  				<th>Для жителей регионов РФ или не<br> имеющих прописки</th>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  		</table>
		  		<div class="gosposhlina">
		  			Госпошлина 3 500 рублей в стоимость не входит
		  		</div>
		  		<div class="table_list">
		  			<div class="title_title">ВОЗМОЖНЫЕ ДОПОЛНИТЕЛЬНЫЕ РАСХОДЫ:</div>
		  			<ul>
		  				<li>2000 рублей - курьерские услуги;</li>
		  				<li>2000-4000 рублей - запрос на легальность приобретения гражданства, если место рождения не РФ.</li>
		  			</ul>
		  			<div class="title_title">СПИСОК ДОКУМЕНТОВ:</div>
		  			<ul>
		  				<li>паспорт заявителя;</li>
		  				<li>действующий загранпаспорт если Вы получали его ранее;</li>
		  				<li>действующий загранпаспорт если Вы получали его ранее;</li>
		  				<li>копия или оригинал трудовой книжки если она у Вас есть;</li>
		  				<li>действующий загранпаспорт если Вы получали его ранее;</li>
		  				<li>свидетельство о рождении для лиц до 18 лет;</li>
		  				<li>военный билет или справка формы №32 для мужчин от 18 до 27 лет.</li>
		  			</ul>
		  			<p>С документов снимаются копии, оригиналы сразу же возвращаются</p>
		  			<div class="title_title">СПИСОК ДОКУМЕНТОВ:</div>
		  			<ul>
		  				<li>отсчет сроков начинается на следующий день после подачи документов в отделение фмс</li>
		  			</ul>
		  		</div>
		  	</div>
		  </div>
		  <div>
		  	<div class="table_wrap">
		  		<div class="title">биометрический ЗАГРАНИЧНЫЙ ПАСПОРТ НА 10 ЛЕТ  детям до 14</div>
		  		<div class="red_divider"></div>
		  		<table>
		  			<tr>
		  				<th>Сроки указаны в рабочих днях (р.д.)</th>
		  				<th>Постоянная регистрация в Москве<br> или области</th>
		  				<th>Для жителей регионов РФ или не<br> имеющих прописки</th>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr class="grey_bg">
		  				<td>1 рабочий день</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  			<tr>
		  				<td>2 рабочих дня</td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  				<td>3 597 600 <img src="images/rubl.png" alt="Alt"></td>
		  			</tr>
		  		</table>
		  		<div class="gosposhlina">
		  			Госпошлина 3 500 рублей в стоимость не входит
		  		</div>
		  		<div class="table_list">
		  			<div class="title_title">ВОЗМОЖНЫЕ ДОПОЛНИТЕЛЬНЫЕ РАСХОДЫ:</div>
		  			<ul>
		  				<li>2000 рублей - курьерские услуги;</li>
		  				<li>2000-4000 рублей - запрос на легальность приобретения гражданства, если место рождения не РФ.</li>
		  			</ul>
		  			<div class="title_title">СПИСОК ДОКУМЕНТОВ:</div>
		  			<ul>
		  				<li>паспорт заявителя;</li>
		  				<li>действующий загранпаспорт если Вы получали его ранее;</li>
		  				<li>действующий загранпаспорт если Вы получали его ранее;</li>
		  				<li>копия или оригинал трудовой книжки если она у Вас есть;</li>
		  				<li>действующий загранпаспорт если Вы получали его ранее;</li>
		  				<li>свидетельство о рождении для лиц до 18 лет;</li>
		  				<li>военный билет или справка формы №32 для мужчин от 18 до 27 лет.</li>
		  			</ul>
		  			<p>С документов снимаются копии, оригиналы сразу же возвращаются</p>
		  			<div class="title_title">СПИСОК ДОКУМЕНТОВ:</div>
		  			<ul>
		  				<li>отсчет сроков начинается на следующий день после подачи документов в отделение фмс</li>
		  			</ul>
		  		</div>
		  	</div>
		  </div>
		</div>
	</div>
<!-- END HELP -->
<!-- ANKETS -->
	<div class="ankets_bg" id="scrollto3">
		<div class="main_container clearfix">
			<div class="main_page_title">Анкеты</div>
			<div class="ankets_block">
				<img src="images/icon_pdf.png" alt="Alt">
				<a href="#">Анкета 1</a>
			</div>
			<div class="ankets_block">
				<img src="images/icon_pdf.png" alt="Alt">
				<a href="#">Анкета 2</a>
			</div>
			<div class="ankets_block">
				<img src="images/icon_word.png" alt="Alt">
				<a href="#">Анкета 3</a>
			</div>
			<div class="ankets_block">
				<img src="images/icon_word.png" alt="Alt">
				<a href="#">Анкета 4</a>
			</div>
		</div>
	</div>
<!-- END ANKETS -->
<!-- MAIN FORM -->
	<div class="main_container clearfix">
		<div class="main_page_title">задайте вопрос специалисту или оставьте отзыв</div>
		<div class="form_bg">
			<div class="form_title">форма обратной связи</div>
			<form>
				<input type="text" name="name" placeholder="ФИО*" class="fio_input" required>
				<input type="text" name="phone" placeholder="Мобильный телефон" class="input_2nd" required>
				<input type="text" name="mail" placeholder="Электронная почта" class="input_2nd" required>
				<textarea name="mess" placeholder="Задайте свой вопрос" class="textarea"></textarea>
				<hr>
				<img src="images/capture.jpg" alt="Alt" class="capture_img">
				<input type="text" name="capture" placeholder="Введите код" class="capture_input">
				<button type="submit" value="отправить" class="main_submit">отправить</button>
			</form>
		</div>
	</div>
<!-- END MAIN FORM -->
<!-- NEWS -->
	<div class="main_container clearfix">
		<div class="news_h1">Новости</div>
		<div class="news_wrap clearfix">
			<div class="news_block">
			   <a href="#" class="click_on_news"></a>
				<img src="images/news_img1.jpg" alt="Alt">
				<p>Слепой текст камер флагмантских смартфонов</p>
			</div>
			<div class="news_block">
				<a href="#" class="click_on_news"></a>
				<img src="images/news_img2.jpg" alt="Alt">
				<p>Слепой текст камер флагмантских смартфонов</p>
			</div>
			<div class="news_block">
				<a href="#" class="click_on_news"></a>
				<img src="images/news_img3.jpg" alt="Alt">
				<p>Слепой текст камер флагмантских смартфонов</p>
			</div>
		</div>
	</div>
<!-- END NEWS -->
<!-- FOOTER -->
	<footer>
		<div class="main_container clearfix">
			<div class="phone_bottom">
				<span>8 (495) 220 38 84</span>
				<p>Остались вопросы? Звоните!</p>
			</div>
			<div class="social">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
			<div class="clearfix"></div>
			<div class="bottom_block">
				<div class="title">информация:</div>
				<ul>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Вопросы и ответы</a></li>
					<li><a href="#">Online- проверка</a></li>
					<li><a href="#">Документы</a></li>
					<li><a href="#">Анкеты</a></li>
				</ul>
			</div>
			<div class="bottom_block">
				<div class="title">Услуги:</div>
				<ul>
					<li><a href="#">Ускорение</a></li>
					<li><a href="#">Заммена</a></li>
					<li><a href="#">Заполнение анкет</a></li>
				</ul>
			</div>
			<div class="bottom_block">
				<div class="title">Загранпаспорт за:</div>
				<div class="days_link_wrap">
					<a href="#" class="open_modal">2 дня</a>
					<a href="#" class="open_modal">3 дня</a>
					<a href="#" class="open_modal">4 дня</a>
					<a href="#" class="open_modal">5 дней</a><br>
					<a href="#" class="open_modal">6 дней</a>
					<a href="#" class="open_modal">7 дней</a>
					<a href="#" class="open_modal">8 дней</a>
					<a href="#" class="open_modal">9 дней</a><br>
					<a href="#" class="open_modal">10 дней</a>
					<a href="#" class="open_modal">11 дней</a>
					<a href="#" class="open_modal">12 дней</a>
					<a href="#" class="open_modal">13 дней</a>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="copyright">© 2006 - 2016, получение загранпаспорта в Москве с zagrannik.org.</div>
		</div>
	</footer>
<!-- END FOOTER -->
</div>
<div id="menu">
	  <ul>
	    	<li><a href="#">загранпаспорт на 5 лет</a></li>
			<li><a href="#">загранпаспорт на 10 лет</a></li>
			<li><a href="#">загранпаспорт ребенку</a></li>
			<li><a href="#">загранпаспорт иногородним</a></li>
			<li><a href="#">прочее</a></li>
			<li><a href="#">Сроки и цены</a></li>
			<li><a href="#">контакты</a></li>
	  </ul>
	  <div class="close">×</div>
</div>
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="title">Форма обратной связи</div>
		<form>
			<input type="text" name="name" placeholder="Имя" class="modal_input" required>
			<input type="text" name="phone" placeholder="Телефон" class="modal_input" required>
			<input type="text" name="mail" placeholder="Эл. почта" class="modal_input" required>
			<textarea name="mess" placeholder="Задайте свой вопрос" class="modal_input  text_input"></textarea>
			<button type="submit" value="Оставить заявку" class="modal_submit">Оставить заявку</button>
		</form>
    </div> 
<!-- END MODAL1 -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.spasticNav.js"></script>
<script type="text/javascript" src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript">
    $('#nav').spasticNav();
</script>
<script>
var h_hght = 515; // высота шапки
var h_mrg = 88;    // отступ когда шапка уже не видна
                 
$(function(){
 
    var elem = $('.page_nav');
    var top = $(this).scrollTop();
     
    if(top > h_hght){
        elem.css('top', h_mrg);
    }           
     
    $(window).scroll(function(){
        top = $(this).scrollTop();
         
        if (top+h_mrg < h_hght) {
            elem.css('top', (h_hght-top));
        } else {
            elem.css('top', h_mrg);
        }
    });
 
});
</script>
 </body>
</html>