<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>ЛесДомТорг</title>
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<!-- HEADER -->
	<div class="fixed_nav">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><a href="#">Проекты и цены</a></li>
						<li><a href="#">Акции и скидки</a></li>
						<li><a href="#">Дом в кредит</a></li>
						<li><a href="#">Отзывы клиентов</a></li>
						<li><a href="#">Фото объектов</a></li>
						<li><a href="#">Информация</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
					<div class="toggle_menu">
						<a href="#menu" id="toggle"><span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="title_top">
						<h1>Деревянные дома и бани от
							производителей с гарантией!</h1>
							<a href="#" class="header_link">Подробнее о компании</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-3 col-xs-12">
						<img src="images/logo.png" alt="Alt" class="logo">
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="phone_top">
							<p><span>В Москве: </span>+ 7 (495) 150-00-83</p>
							<p><span>В Санкт-Петербурге: </span>+ 7 (812) 425-33-15</p>
							<a href="#" class="header_link open_modal">Обратный звонок</a>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="col-md-12">
						<img src="images/shadow.png" alt="Alt" class="shadow">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 main_nav_wrap">
						<div class="main_nav_block">
							<div class="number">149</div>
							<img src="images/main_nav_img1.png" alt="Alt">
							<div class="link_block">
								<a href="#">Дома из бруса</a>
							</div>
						</div>
						<div class="main_nav_block">
							<div class="number">20</div>
							<img src="images/main_nav_img2.png" alt="Alt">
							<div class="link_block">
								<a href="#">Коттеджи из бруса</a>
							</div>
						</div>
						<div class="main_nav_block">
							<div class="number">149</div>
							<img src="images/main_nav_img3.png" alt="Alt">
							<div class="link_block">
								<a href="#">Каркасные дома</a>
							</div>
						</div>
						<div class="main_nav_block">
							<div class="number">15</div>
							<img src="images/main_nav_img4.png" alt="Alt">
							<div class="link_block">
								<a href="#">Щитовые дома</a>
							</div>
						</div>
						<div class="main_nav_block">
							<div class="number">48</div>
							<img src="images/main_nav_img5.png" alt="Alt">
							<div class="link_block">
								<a href="#">Бани из бруса</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
<!-- END HEADER	-->
<!-- MAIN SLIDER -->
	<div class="main_slider_wrap">
		<ul class="bxslider">
			<li class="first_slide">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="title">При покупке дома или Бани из бруса РОЙКИ<br>
							в окна и двери <span>бесплатно!!!</span></div>
							<a href="#">Подробнее</a>
						</div>
					</div>
				</div>
			</li>
			<li class="first_slide">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="title">При покупке дома или Бани из бруса РОЙКИ<br>
							в окна и двери <span>бесплатно!!!</span></div>
							<a href="#">Подробнее</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
<!-- END MAIN SLIDER -->
<!-- ABOUT -->
	<div class="about_wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img src="images/logo.png" alt="Alt" class="about_logo">
					<div class="about_title">Деревянные дома и бани от<br>
						производителя</div>
					</div>
					<div class="col-md-8">
						<div class="about_text">
							<p>Компания «ЛесДомТорг» - занимаеться проектированием, производством непосредственно строительством загородных домов, коттеджей, бань из дерева и современных стоительных материалов.</p>
							<p>Наша компания образована в 2011 году путем отделения от компании, занимающейся продажей и строительством деревянных домов с 2004 года и слиянием с предприятием по производству пиломатериалов, существующим на данном рынке с 2007 года. </p>
							<p>Все сотрудники компании, работающие в офисах, на производстве, а также все наши строительные бригады, являются высококвалифицированными специалистами с богатым опытом работы в сфере деревянного домостроения и производства строганого и обрезного пиломатериала из древесины хвойных пород.</p>
							<a href="#">Подробнее о компании</a>
						</div>
					</div>
				</div>
		</div>
	</div>		
<!-- END ABOUT -->
<!-- ADVANTAGES -->
	<div class="advantages_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main_h1">Наши преимущества</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-6">
					<div class="advantages_block f_block1">
						<div class="circle">

						</div>
						<div class="title"><a href="#">Собственный проектный отдел</a></div>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="advantages_block f_block2">
						<div class="circle">

						</div>
						<div class="title"><a href="#">Собственное производство</a></div>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="advantages_block f_block3">
						<div class="circle">

						</div>
						<div class="title"><a href="#">Контроль качества</a></div>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="advantages_block f_block4">
						<div class="circle">

						</div>
						<div class="title"><a href="#">Подарки и<br> скидки</a></div>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="advantages_block f_block5">
						<div class="circle">

						</div>
						<div class="title"><a href="#">Строительство в кредит</a></div>
					</div>
				</div>
				<div class="col-md-2 col-sm-6">
					<div class="advantages_block f_block6">
						<div class="circle">

						</div>
						<div class="title"><a href="#">Работаем с материнским капиталом</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END ADVANTAGES -->
<!-- TOP SELL AND ACORDEON -->
	<div class="top_sell_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main_h1">БЕСТСЕЛЛЕРЫ ПРОДАЖ</div>
				</div>
			</div>
			<div class="top_sell_slider">
				<div class="row">
					<ul class="bxslider1">
						<li>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img1.jpg" alt="Alt">
									<div class="title">Дом из бруса 9х8 «Охотник-1»</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img2.jpg" alt="Alt">
									<div class="title">Каркасно-щитовой дом 10х10 «Радонеж»</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img3.jpg" alt="Alt">
									<div class="title">Каркасно-щитовой дом 10х10 «Радонеж-1»</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img4.jpg" alt="Alt">
									<div class="title">Дом из бруса 9х8 «Охотник-2»</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img1.jpg" alt="Alt">
									<div class="title">Дом из бруса 9х8 «Охотник-1»</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img2.jpg" alt="Alt">
									<div class="title">Каркасно-щитовой дом 10х10 «Радонеж»</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img3.jpg" alt="Alt">
									<div class="title">Каркасно-щитовой дом 10х10 «Радонеж-1»</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img4.jpg" alt="Alt">
									<div class="title">Дом из бруса 9х8 «Охотник-2»</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img src="images/shadow.png" alt="Alt" class="shadow">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="acordeon_wrap">
						<div class="acordeon_content">
							<div id="acordeon" class="panel-group">
								<div class="panel panel-default">
									<div class="panel-heading bt1" data-toggle="collapse" data-parent="#acordeon" data-target="#collapse-1">
										<div class="panel-title bt">
											<a href="#collapse-1" data-parent="#acordeon" data-toggle="collapse" class="accordion-toggle">Почему стоит построить деревянный дом?</a>
										</div>
									</div>
									<div id="collapse-1" class="panel-collapse collapse in">
										<div class="panel-body">
											<ul class="acordeon_block">
												<li>
													<div class="title">Экологичность</div>
													<p>Дерево на данный момент является самым экологически чистым материалом для строительства. Деревянные дома и бани способны самостоятельно регулировать внутренний микроклимат. Дерево дышит, за сутки во внутренних помещениях может сменяться до 40% кислорода. Все материалы, используемые при строительстве, имеют сертификаты соответствия и разрешения на применения.</p>
												</li>
												<li>
													<div class="title">Низкая стоимость</div>
													<p>Стоимость производства изделий и пиломатериалов из древесины хвойных пород ниже аналогичных по свойствам материалов. Стоимость строительных работ из дерева значительно ниже аналогичных, например кирпича или монолитных конструкций. Приобретение деревянных домов и бань от компании-производителя позволяет значительно сэкономить на дополнительной оплате услуг компаний-посредников.</p>
												</li>
												<li>
													<div class="title">Короткие сроки строительства</div>
													<p>Для строительства деревянных домов и бань используется полностью готовый для сборки материал, который постоянно есть в наличие на складе. Дерево легко поддается обработке и подгоняется под необходимый размер. Многолетним опытом работы и высоким профессионализмом наших строителей это позволяет сократить срок возведения до нескольких недель.</p>
												</li>
												<li>
													<div class="title">Отделка не требуется</div>
													<p>Строганые материалы, применяемые в строительстве нашей компанией для всех домов и бань, высокого качества обработки, после окончания строительных работ не требуют внутренней и внешней отделки. Все наши проекты мы выполняем «под ключ», и Вы можете заезжать сразу после сдачи объекта. К косметическим видам работ относятся только конопатка и покраска, которые также могут выполнить наши специалисты.</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading bt1" data-toggle="collapse" data-parent="#acordeon" data-target="#collapse-2">
										<div class="panel-title bt">
											<a href="#collapse-2" data-parent="#acordeon" data-toggle="collapse" class="accordion-toggle">Почему стоит доверить строительство именно нам?</a>
										</div>
									</div>
									<div id="collapse-2" class="panel-collapse collapse">
										<div class="panel-body">
										<ul class="acordeon_block">
												<li>
													<div class="title">Экологичность</div>
													<p>Дерево на данный момент является самым экологически чистым материалом для строительства. Деревянные дома и бани способны самостоятельно регулировать внутренний микроклимат. Дерево дышит, за сутки во внутренних помещениях может сменяться до 40% кислорода. Все материалы, используемые при строительстве, имеют сертификаты соответствия и разрешения на применения.</p>
												</li>
												<li>
													<div class="title">Низкая стоимость</div>
													<p>Стоимость производства изделий и пиломатериалов из древесины хвойных пород ниже аналогичных по свойствам материалов. Стоимость строительных работ из дерева значительно ниже аналогичных, например кирпича или монолитных конструкций. Приобретение деревянных домов и бань от компании-производителя позволяет значительно сэкономить на дополнительной оплате услуг компаний-посредников.</p>
												</li>
												<li>
													<div class="title">Короткие сроки строительства</div>
													<p>Для строительства деревянных домов и бань используется полностью готовый для сборки материал, который постоянно есть в наличие на складе. Дерево легко поддается обработке и подгоняется под необходимый размер. Многолетним опытом работы и высоким профессионализмом наших строителей это позволяет сократить срок возведения до нескольких недель.</p>
												</li>
												<li>
													<div class="title">Отделка не требуется</div>
													<p>Строганые материалы, применяемые в строительстве нашей компанией для всех домов и бань, высокого качества обработки, после окончания строительных работ не требуют внутренней и внешней отделки. Все наши проекты мы выполняем «под ключ», и Вы можете заезжать сразу после сдачи объекта. К косметическим видам работ относятся только конопатка и покраска, которые также могут выполнить наши специалисты.</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading bt1" data-toggle="collapse" data-parent="#acordeon" data-target="#collapse-3">
										<div class="panel-title bt">
											<a href="#collapse-3" data-parent="#acordeon" data-toggle="collapse" class="accordion-toggle">Как мы работаем?</a>
										</div>
									</div>
									<div id="collapse-3" class="panel-collapse collapse">
										<div class="panel-body">
										<ul class="acordeon_block">
												<li>
													<div class="title">Экологичность</div>
													<p>Дерево на данный момент является самым экологически чистым материалом для строительства. Деревянные дома и бани способны самостоятельно регулировать внутренний микроклимат. Дерево дышит, за сутки во внутренних помещениях может сменяться до 40% кислорода. Все материалы, используемые при строительстве, имеют сертификаты соответствия и разрешения на применения.</p>
												</li>
												<li>
													<div class="title">Низкая стоимость</div>
													<p>Стоимость производства изделий и пиломатериалов из древесины хвойных пород ниже аналогичных по свойствам материалов. Стоимость строительных работ из дерева значительно ниже аналогичных, например кирпича или монолитных конструкций. Приобретение деревянных домов и бань от компании-производителя позволяет значительно сэкономить на дополнительной оплате услуг компаний-посредников.</p>
												</li>
												<li>
													<div class="title">Короткие сроки строительства</div>
													<p>Для строительства деревянных домов и бань используется полностью готовый для сборки материал, который постоянно есть в наличие на складе. Дерево легко поддается обработке и подгоняется под необходимый размер. Многолетним опытом работы и высоким профессионализмом наших строителей это позволяет сократить срок возведения до нескольких недель.</p>
												</li>
												<li>
													<div class="title">Отделка не требуется</div>
													<p>Строганые материалы, применяемые в строительстве нашей компанией для всех домов и бань, высокого качества обработки, после окончания строительных работ не требуют внутренней и внешней отделки. Все наши проекты мы выполняем «под ключ», и Вы можете заезжать сразу после сдачи объекта. К косметическим видам работ относятся только конопатка и покраска, которые также могут выполнить наши специалисты.</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END TOP SELL AND ACORDEON -->
<!-- QUESTIONS -->
	<div class="questions_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main_h1">Есть вопросы? Задайте их нашим специалистам
					прямо сейчас!</div>
				</div>
			</div>
			<form id="form1">
				<div class="row">
					<div class="col-md-6">
						<input type="text" name="name" placeholder="Ваше имя:" class="main_input" required>
						<input type="text" name="phone" placeholder="Контактный телефон или e-mail:" class="main_input" required>
					</div>
					<div class="col-md-6">
						<textarea name="mess" placeholder="Что вас интересует:" class="textarea"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input type="submit" value="Задать вопрос" class="main_submit">
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-md-12">
					<div class="questions_divider"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
				<div class="questions_desc">Так же получить ответы на все интересующие вопросы Вы можете при звонке в или личном визите к нам в выставочные центры и офисы.</div>
				<ul class="questions_desc_links">
					<li><a href="#">Адреса офисов и выстовочных центров</a><span>|</span></li>
					<li><a href="#">Ответы на часто задаваемые вопросы</a></li>
				</ul>
				</div>
				<div class="col-md-4">
					<div class="desc_phone">
						<p><span>В Москве: </span>+ 7 (495) 150-00-83</p>
						<p><span>В Санкт-Петербурге: </span>+ 7 (812) 425-33-15</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END QUESTIONS -->
<!-- OUR WORKS -->
	<div class="top_sell_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main_h1">НАШИ РАБОТЫ</div>
				</div>
			</div>
			<div class="top_sell_slider">
				<div class="row">
					<ul class="bxslider1">
						<li>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img1.jpg" alt="Alt">
									<div class="title">Дом из бруса 9х8 «Охотник-1»</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img2.jpg" alt="Alt">
									<div class="title">Каркасно-щитовой дом 10х10 «Радонеж»</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img3.jpg" alt="Alt">
									<div class="title">Каркасно-щитовой дом 10х10 «Радонеж-1»</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img4.jpg" alt="Alt">
									<div class="title">Дом из бруса 9х8 «Охотник-2»</div>
								</div>
							</div>
						</li>
						<li>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img1.jpg" alt="Alt">
									<div class="title">Дом из бруса 9х8 «Охотник-1»</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img2.jpg" alt="Alt">
									<div class="title">Каркасно-щитовой дом 10х10 «Радонеж»</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img3.jpg" alt="Alt">
									<div class="title">Каркасно-щитовой дом 10х10 «Радонеж-1»</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="top_sell_block">
									<img src="images/top_sell_img4.jpg" alt="Alt">
									<div class="title">Дом из бруса 9х8 «Охотник-2»</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a href="#" class="more_button">Перейти в галлерею работ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END OUR WORKS -->
<!-- REVIEWS -->
	<div class="reviews_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main_h1">Реальные отзывы клиентов</div>
				</div>
			</div>
			<div class="top_sell_slider review_slider">
				<div class="row">
					<ul class="bxslider1">
						<li>
							<div class="col-md-3 col-sm-6">
								<div class="review_block">
									<a href="#"><img src="images/review_img.jpg" alt="Alt"></a>
									<a href="#"><div class="who">Клиент: Падута Андрей<br> Владимирович</div></a>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="review_block">
									<a href="#"><img src="images/review_img.jpg" alt="Alt"></a>
									<a href="#"><div class="who">Клиент: Падута Андрей<br> Владимирович</div></a>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="review_block">
									<a href="#"><img src="images/review_img.jpg" alt="Alt"></a>
									<a href="#"><div class="who">Клиент: Падута Андрей<br> Владимирович</div></a>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="review_block">
									<a href="#"><img src="images/review_img.jpg" alt="Alt"></a>
									<a href="#"><div class="who">Клиент: Падута Андрей<br> Владимирович</div></a>
								</div>
							</div>
						</li>
						<li>
							<div class="col-md-3 col-sm-6">
								<div class="review_block">
									<a href="#"><img src="images/review_img.jpg" alt="Alt"></a>
									<a href="#"><div class="who">Клиент: Падута Андрей<br> Владимирович</div></a>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="review_block">
									<a href="#"><img src="images/review_img.jpg" alt="Alt"></a>
									<a href="#"><div class="who">Клиент: Падута Андрей<br> Владимирович</div></a>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="review_block">
									<a href="#"><img src="images/review_img.jpg" alt="Alt"></a>
									<a href="#"><div class="who">Клиент: Падута Андрей<br> Владимирович</div></a>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="review_block">
									<a href="#"><img src="images/review_img.jpg" alt="Alt"></a>
									<a href="#"><div class="who">Клиент: Падута Андрей<br> Владимирович</div></a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="more_reviews">Посмотреть все отзывы клиентов</a>
				</div>
			</div>
		</div>
	</div>
<!-- END REVIEWS -->
<!-- NEWS -->
<div class="news_wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="title">Новости компании</div>
				<div class="news_block clearfix">
					<a href="#"><img src="images/news_img.jpg" alt="Alt"></a>
					<div class="news_text">
						<a href="#"><div class="news_title">С Днем России! Скидки в честь праздника весь июнь!</div></a>
						<div class="date">08 мая 2016</div>
					</div>
				</div>
				<div class="news_block clearfix">
					<a href="#"><img src="images/news_img.jpg" alt="Alt"></a>
					<div class="news_text">
						<a href="#"><div class="news_title">С Днем России! Скидки в честь праздника весь июнь!</div></a>
						<div class="date">08 мая 2016</div>
					</div>
				</div>
				<div class="news_block clearfix">
					<a href="#"><img src="images/news_img.jpg" alt="Alt"></a>
					<div class="news_text">
						<a href="#"><div class="news_title">С Днем России! Скидки в честь праздника весь июнь!</div></a>
						<div class="date">08 мая 2016</div>
					</div>
				</div>
				<div class="news_block clearfix">
					<a href="#"><img src="images/news_img.jpg" alt="Alt"></a>
					<div class="news_text">
						<a href="#"><div class="news_title">С Днем России! Скидки в честь праздника весь июнь!</div></a>
						<div class="date">08 мая 2016</div>
					</div>
				</div>
				<img src="images/icon_arvive.png" alt="Alt"><a href="#" class="arhive_link">Архив новостей</a>
			</div>
			<div class="col-md-6">
				<div class="title">СТАТЬИ И ОБЗОРЫ</div>
				<div class="news_block clearfix">
					<a href="#"><img src="images/news_img2.jpg" alt="Alt"></a>
					<div class="news_text">
						<a href="#"><div class="news_title">Покраска дома из дерева</div></a>
						<div class="date">08 мая 2016</div>
					</div>
				</div>
				<div class="news_block clearfix">
					<a href="#"><img src="images/news_img3.jpg" alt="Alt"></a>
					<div class="news_text">
						<a href="#"><div class="news_title">Как провести размежевание земельного участка</div></a>
						<div class="date">08 мая 2016</div>
					</div>
				</div>
				<div class="news_block clearfix">
					<a href="#"><img src="images/news_img2.jpg" alt="Alt"></a>
					<div class="news_text">
						<a href="#"><div class="news_title">Покраска дома из дерева</div></a>
						<div class="date">08 мая 2016</div>
					</div>
				</div>
				<div class="news_block clearfix">
					<a href="#"><img src="images/news_img3.jpg" alt="Alt"></a>
					<div class="news_text">
						<a href="#"><div class="news_title">Как провести размежевание земельного участка</div></a>
						<div class="date">08 мая 2016</div>
					</div>
				</div>
				<img src="images/icon_arvive.png" alt="Alt"><a href="#" class="arhive_link">Архив статей</a>
			</div>
		</div>
	</div>
</div>
<!-- END NEWS -->
<!-- FOOTER -->
	<footer>
		<div class="footer_nav_bg">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<input type="text" name="search" placeholder="Поиск по сайту" class="search_input">
						<div class="contacts_block">
							<div class="title">Контакты в Москве и Москвовской обл.</div>
							<p>Телефон: 8 (495) 150-00-83</p>
							<p>E-mail: <a href="#">lesdomtorg@mail.ru</a></p>
						</div>
						<div class="contacts_block">
							<div class="title">Контакты в Москве и Москвовской обл.</div>
							<p>Телефон: 8 (495) 150-00-83</p>
							<p>E-mail: <a href="#">lesdomtorg@mail.ru</a></p>
						</div>
						<div class="contacts_block">
							<div class="title">Контакты в Москве и Москвовской обл.</div>
							<p>Телефон: 8 (495) 150-00-83</p>
							<p>E-mail: <a href="#">lesdomtorg@mail.ru</a></p>
						</div>
					</div>
					<div class="col-md-3 c_list">
						<div class="footer_list">
							<div class="title"><a href="#">О компании</a></div>
							<ul>
								<li><a href="#">Наше производство</a></li>
								<li><a href="#">Наши преимущества</a></li>
								<li><a href="#">Сертификаты на материалы</a></li>
								<li><a href="#">Реквизиты</a></li>
								<li><a href="#">Вакансии</a></li>
							</ul>
						</div>
						<div class="footer_list">
							<div class="title"><a href="#">Каталог проектов</a></div>
							<ul>
								<li><a href="#">Брусовые дома</a></li>
								<li><a href="#">Коттеджи из брусаа</a></li>
								<li><a href="#">Каркасно-щитовые дома</a></li>
								<li><a href="#">Щитовые дома</a></li>
								<li><a href="#">Бани из бруса</a></li>
								<li><a href="#">Фундаменты</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-1 r_list">
						<div class="footer_list">
							<div class="title"><a href="#">Строительство в кредит</a></div>
						</div>
						<div class="footer_list">
							<div class="title"><a href="#">Акции и скидки</a></div>
						</div>
						<div class="footer_list">
							<div class="title"><a href="#">Отзывы клиентов</a></div>
						</div>
						<div class="footer_list">
							<div class="title"><a href="#">Галерея объектов</a></div>
						</div>
						<div class="footer_list">
							<div class="title"><a href="#">Информация</a></div>
							<ul>
								<li><a href="#">Индивидуальное строительство</a></li>
								<li><a href="#">Часто задаваемые вопросы</a></li>
								<li><a href="#">Оплата и доставка</a></li>
								<li><a href="#">Словарь терминов</a></li>
								<li><a href="#">Новости компании</a></li>
								<li><a href="#">Статьи и обзоры</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_main_bg">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="images/logo_bottom.png" alt="Alt" class="logo_bottom">
						<div class="logo_botttom_text">
							<div class="title">ООО «ЛесДомТорг»</div>
							<p>109387, Москва, Тихорецкий бульвар, дом 1, строение 2А<br>
2011 - 2016 © Все права защищены. </p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="phone_top">
							<p><span>В Москве: </span>+ 7 (495) 150-00-83</p>
							<p><span>В Санкт-Петербурге: </span>+ 7 (812) 425-33-15</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>	
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="title">Обратный звонок</div>
		<form id="form2">
			<input type="text" name="name" placeholder="Ваше имя:" class="modal_input" required>
			<input type="text" name="phone" placeholder="Контактный телефон:" class="modal_input" required>
			<input type="submit" value="Заказать звонок" class="modal_submit">
		</form>
    </div> 
<!-- END MODAL1 -->
<div id="menu">
	<ul>
		<li><a href="#">Проекты и цены</a></li>
		<li><a href="#">Акции и скидки</a></li>
		<li><a href="#">Дом в кредит</a></li>
		<li><a href="#">Отзывы клиентов</a></li>
		<li><a href="#">Фото объектов</a></li>
		<li><a href="#">Информация</a></li>
		<li><a href="#">Контакты</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nstSlider.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/easyResponsiveTabs.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>