<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>ЛесДомТорг</title>
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link href="css/jquery.nstSlider.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<!-- HEADER -->
	<div class="fixed_nav">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><a href="#">Проекты и цены</a></li>
						<li><a href="#">Акции и скидки</a></li>
						<li><a href="#">Дом в кредит</a></li>
						<li><a href="#">Отзывы клиентов</a></li>
						<li><a href="#">Фото объектов</a></li>
						<li><a href="#">Информация</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
					<div class="toggle_menu">
						<a href="#menu" id="toggle"><span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="title_top">
						<h1>Деревянные дома и бани от
							производителей с гарантией!</h1>
							<a href="#" class="header_link">Подробнее о компании</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-3 col-xs-12">
						<img src="images/logo.png" alt="Alt" class="logo">
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="phone_top">
							<p><span>В Москве: </span>+ 7 (495) 150-00-83</p>
							<p><span>В Санкт-Петербурге: </span>+ 7 (812) 425-33-15</p>
							<a href="#" class="header_link open_modal">Обратный звонок</a>
						</div>
					</div>	
				</div>
			</div>
			<div class="header_insiide_bg inside_p">
				<div class="container">
					<div class="row">
						<div class="col-md-12 main_nav_wrap">
							<div class="main_nav_block">
								<div class="number">149</div>
								<img src="images/main_nav_img1.png" alt="Alt">
								<div class="link_block">
									<a href="#">Дома из бруса</a>
								</div>
							</div>
							<div class="main_nav_block">
								<div class="number">20</div>
								<img src="images/main_nav_img2.png" alt="Alt">
								<div class="link_block">
									<a href="#">Коттеджи из бруса</a>
								</div>
							</div>
							<div class="main_nav_block">
								<div class="number">149</div>
								<img src="images/main_nav_img3.png" alt="Alt">
								<div class="link_block">
									<a href="#">Каркасные дома</a>
								</div>
							</div>
							<div class="main_nav_block">
								<div class="number">15</div>
								<img src="images/main_nav_img4.png" alt="Alt">
								<div class="link_block">
									<a href="#">Щитовые дома</a>
								</div>
							</div>
							<div class="main_nav_block">
								<div class="number">48</div>
								<img src="images/main_nav_img5.png" alt="Alt">
								<div class="link_block">
									<a href="#">Бани из бруса</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
<!-- END HEADER	-->
<!-- CATALOG PAGE -->
	<div class="catalog_page_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="left_sidebar inside_p">
						<input type="text" class="search2" placeholder="Поиск проекта" name="search2">
						<ul class="left_nav">
							<li class="active"><a href="#">Проекты брусовых домов</a></li>
							<li><a href="#">Проекты коттеджей из бруса</a></li>
							<li><a href="#">Проекты каркасных домов</a></li>
							<li><a href="#">Проекты щитовых домов</a></li>
							<li><a href="#">Проекты бань из бруса</a></li>
						</ul>
						<div class="news_left_wrapper clearfix">
							<div class="sidebar_title calc_title">Брусовой дом подбор
							по параметрам</div>
							<form>
								<div class="value-title">Терасса:</div>
								<div class="checkbox_wrap fll">
									<input type="checkbox" id="1vds"/>
									<label for="1vds">Есть (78)</label>
								</div>
								<div class="checkbox_wrap flr">
									<input type="checkbox" id="2vds"/>
									<label for="2vds">Нет (78)</label>
								</div>
								<div class="clearfix"></div>
								<div class="value-title">Веранда:</div>
								<div class="checkbox_wrap fll">
									<input type="checkbox" id="3vds"/>
									<label for="3vds">Есть (78)</label>
								</div>
								<div class="checkbox_wrap flr">
									<input type="checkbox" id="4vds"/>
									<label for="4vds">Нет (78)</label>
								</div>
								<div class="clearfix"></div>
								<div class="value-title">Эркер:</div>
								<div class="checkbox_wrap fll">
									<input type="checkbox" id="5vds"/>
									<label for="5vds">Есть (78)</label>
								</div>
								<div class="checkbox_wrap flr">
									<input type="checkbox" id="6vds"/>
									<label for="6vds">Нет (78)</label>
								</div>
								<div class="clearfix"></div>
								<div class="value-title">Крыльцо:</div>
								<div class="checkbox_wrap fll">
									<input type="checkbox" id="7vds"/>
									<label for="7vds">Есть (78)</label>
								</div>
								<div class="checkbox_wrap flr">
									<input type="checkbox" id="8vds"/>
									<label for="8vds">Нет (78)</label>
								</div>
								<div class="clearfix"></div>
								<div class="value-title">Габариты:</div>
								<select name="dimensions" id="dimensions">
									<option value="">Выбрать</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
								</select>
								<div class="value-title">Общая площадь</div>
								<div class="range_value">от 31 до 208 м2</div>
								<div class="nstSlider" data-range_min="0" data-range_max="100"
								data-cur_min="31"  data-cur_max="90">

									<div class="highlightPanel"></div>
									<div class="bar"></div>
									<div class="leftGrip"></div>
									<div class="rightGrip"></div>
								</div>
								<div class="value-title">Стоимость:</div>
								<div class="range_value">от 360 000 до 1 586 000 руб.</div>
								<div class="nstSlider" data-range_min="0" data-range_max="100"
								data-cur_min="10"  data-cur_max="90">

									<div class="highlightPanel"></div>
									<div class="bar"></div>
									<div class="leftGrip"></div>
									<div class="rightGrip"></div>
								</div>
								<a href="#" class="reset_button">Сбросить фильтр</a>
							</form>
						</div>
						<div class="sidebar_title">Акции и скидки</div>
						<div class="action_left_block">
							<img src="images/action_l_img.jpg" alt="Alt">
							<a href="#">Скидка в размере 10% на свайно-винтовой фундамент</a>
						</div>
						<div class="action_left_block">
							<img src="images/action_l_img.jpg" alt="Alt">
							<a href="#">Скидка в размере 10% на свайно-винтовой фундамент</a>
						</div>
						<div class="action_left_block">
							<img src="images/action_l_img.jpg" alt="Alt">
							<a href="#">Скидка в размере 10% на свайно-винтовой фундамент</a>
						</div>
						<div class="action_left_block">
							<img src="images/action_l_img.jpg" alt="Alt">
							<a href="#">Скидка в размере 10% на свайно-винтовой фундамент</a>
						</div>
						<div class="clearfix"></div>
						<div class="sidebar_divider"></div>
						<div class="sidebar_title">Наши работы</div>
						<div class="sidebar_slider">
							<ul class="bxslider2">
								<li>
									<div class="our_work_block">
										<img src="images/our_w_img.jpg" alt="Alt">
										<div class="title">Дом из бруса 9х8<br>«Охотник-1»</div>
									</div>
								</li>
								<li>
									<div class="our_work_block">
										<img src="images/our_w_img.jpg" alt="Alt">
										<div class="title">Дом из бруса 9х8<br>«Охотник-1»</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="sidebar_divider"></div>
						<div class="sidebar_title">Отзывы клиентов</div>
						<div class="sidebar_slider review_left">
							<ul class="bxslider2">
								<li>
									<div class="review_left_block">
										<a href="#"><img src="images/review_img.jpg" alt="Alt"></a>
										<div class="title"><a href="#">Клиент: Падута Андрей Владимирович</a></div>
									</div>
								</li>
								<li>
									<div class="review_left_block">
										<a href="#"><img src="images/review_img.jpg" alt="Alt"></a>
										<div class="title"><a href="#">Клиент: Падута Андрей Владимирович</a></div>
									</div>
								</li>
							</ul>
						</div>
						<div class="news_left_wrapper">
							<div class="sidebar_title">Новости нашей компании</div>
							<div class="news_left_block">
								<a href="#"><p>С Днем России! Скидки в честь праздника весь июнь!</p></a>
								<div class="date">08 мая 2016</div>
							</div>
							<div class="news_left_block">
								<a href="#"><p>С Днем России! Скидки в честь праздника весь июнь!</p></a>
								<div class="date">08 мая 2016</div>
							</div>
							<div class="news_left_block">
								<a href="#"><p>С Днем России! Скидки в честь праздника весь июнь!</p></a>
								<div class="date">08 мая 2016</div>
							</div>
							<img src="images/icon_arvive.png" alt="Alt"><a href="#" class="arhive_link">Архив новостей</a>
							<div class="sidebar_divider"></div>
							<div class="sidebar_title">Статьи и обзоры</div>
							<div class="news_left_block">
								<a href="#"><p>С Днем России! Скидки в честь праздника весь июнь!</p></a>
								<div class="date">08 мая 2016</div>
							</div>
							<div class="news_left_block">
								<a href="#"><p>С Днем России! Скидки в честь праздника весь июнь!</p></a>
								<div class="date">08 мая 2016</div>
							</div>
							<div class="news_left_block">
								<a href="#"><p>С Днем России! Скидки в честь праздника весь июнь!</p></a>
								<div class="date">08 мая 2016</div>
							</div>
							<img src="images/icon_arvive.png" alt="Alt"><a href="#" class="arhive_link">Архив статей</a>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<div class="main_content">
						<div class="breadcrumbs">
							<ul>
								<li><a href="#">Главная</a></li>
								<li><span>></span><a href="#">Каталог</a></li>
								<li><span>></span>Дома из бруса</li>
							</ul>
						</div>
						<div class="main_title">Брусовые дома</div>
						<div class="content_description">Строительство деревянных домов и бань под ключ является основным направлением деятельности нашей компании. Мы строим дома и бани из профилированного бруса, каркасно-щитовые дома, щитовые дома.</div>
						<div class="content_title">Зкакав у нас услугу строительства объекта под ключ Вы получаете ряд преимуществ:</div>
						<ul class="content_list">
							<li>Исключается участие посредников, что сокращает время и затраты на реализацию всего проекта;</li>
							<li>Возможность внесения любых изменений или создание индивидуального проекта;</li>
							<li>Контроль всех стадий реализации проекта через персоонального менеджера;</li>
							<li>Над вашим проектом работают только профессиональные сотрудники нашей компании;</li>
							<li>Скидки и подарки от нашей компании.</li>
						</ul>
						<div class="sidebar_divider"></div>
						<h2>Типовые проекты</h2>
						<div class="type_project_wrapper">
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
							<div class="type_project_block">
								<div class="title"><a href="#">Каркасно-щитовой дом 10х10 «Радонеж»</a></div>
								<a href="#" class="img_link"><img src="images/type_img.jpg" alt="Alt"></a>
								<div class="inf_wrap clearfix">
									<span class="inf1">Общая площадь:</span>
									<span class="inf2">98,4 м2</span>
									<div class="clearfix"></div>
									<span class="inf1">Цена:</span>
									<span class="inf2">от 1 000 000 руб.</span>
									<div class="clearfix"></div>
									<span class="inf1"><img src="images/starsl.png" alt="Alt"></span>
									<span class="crossline_price">1 000 000 руб.</span>
								</div>
								<div class="bottom_red_block">
									<p>5</p>
									<p>22</p>
									<a href="#">подробнее</a>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<ul class="pagination">
							<li><a href="#"><</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">10</a></li>
							<li><a href="#">20</a></li>
							<li><a href="#">30</a></li>
							<li><a href="#">></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>	
	</div>
<!-- END CATALOG PAGE -->
<!-- QUESTIONS -->
	<div class="questions_bg content_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main_h1">Затрудняетесь с выбором, возникли вопросы,<br>
						или не нашли подходящий проект?</div>
				</div>
				<div class="col-md-12">
					<div class="main_h2">Получите бесплатную консультацию, ответ на все возникшие вопросы прямо сейчас!</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-md-offset-2">
					<a href="#" class="consultation_button">Получите консультацию</a>
				</div>
				<div class="col-md-7">
					<a href="#" class="more_consultation">Подробнее об индивидуальном стоительстве</a>
				</div>
			</div>
		</div>
	</div>
<!-- END QUESTIONS -->
<!-- MAIN TEXT2 -->
	<div class="main_text2_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img src="images/text2_img.png" alt="" class="text2_img">
				</div>
				<div class="col-md-8">
					<div class="main_text2_title">Строительство домов «под ключ»</div>
					<p class="main_text2-text">Компания «ЛесДомТорг» имеет большой опыт деревянного домостроения. Мы возводим дома и коттеджи уже много лет, реализовав за это время большое количество самых разнообразных проектов. У нас вы можете заказать дом из профилированного бруса для постоянного или сезонного проживания.</p>
				</div>
			</div>
			<div class="main_text2_second_text">
				<div class="row">
					<div class="col-md-8">
						<div class="main_text2_title">Строительство домов «под ключ»</div>
						<ul>
							<li>полный производственный цикл, начиная от составления проекта, изготовления материала, заканчивая возведением;</li>
							<li>разнообразные проекты домов, а также – возможность индивидуального проектирования;</li>
							<li>изготовление бруса на современном оборудовании с точным соблюдением технологии;</li>
							<li>использование только качественной древесины;</li>
							<li>выполнение всех работ силами высококвалифицированных специалистов с большим опытом.</li>
							<p class="main_text2-text">Наша компания обеспечивает качественное, оперативное строительство. Мы самостоятельно разрабатываем проекты, что дает возможность полностью учитывать все пожелания и требования заказчика.</p>
							<p class="main_text2-text">Наличие собственной производственной базы позволяет гарантировать безупречное качество материала, минимальные сроки возведения объекта, низкие цены для клиентов.</p>
						</ul>
					</div>
					<div class="col-md-4">
						<img src="images/text2_img2.png" alt="Alt" class="text2_img">
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END MAIN TEXT2 -->
<!-- FOOTER -->
	<footer>
		<div class="footer_nav_bg">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<input type="text" name="search" placeholder="Поиск по сайту" class="search_input">
						<div class="contacts_block">
							<div class="title">Контакты в Москве и Москвовской обл.</div>
							<p>Телефон: 8 (495) 150-00-83</p>
							<p>E-mail: <a href="#">lesdomtorg@mail.ru</a></p>
						</div>
						<div class="contacts_block">
							<div class="title">Контакты в Москве и Москвовской обл.</div>
							<p>Телефон: 8 (495) 150-00-83</p>
							<p>E-mail: <a href="#">lesdomtorg@mail.ru</a></p>
						</div>
						<div class="contacts_block">
							<div class="title">Контакты в Москве и Москвовской обл.</div>
							<p>Телефон: 8 (495) 150-00-83</p>
							<p>E-mail: <a href="#">lesdomtorg@mail.ru</a></p>
						</div>
					</div>
					<div class="col-md-3 c_list">
						<div class="footer_list">
							<div class="title"><a href="#">О компании</a></div>
							<ul>
								<li><a href="#">Наше производство</a></li>
								<li><a href="#">Наши преимущества</a></li>
								<li><a href="#">Сертификаты на материалы</a></li>
								<li><a href="#">Реквизиты</a></li>
								<li><a href="#">Вакансии</a></li>
							</ul>
						</div>
						<div class="footer_list">
							<div class="title"><a href="#">Каталог проектов</a></div>
							<ul>
								<li><a href="#">Брусовые дома</a></li>
								<li><a href="#">Коттеджи из брусаа</a></li>
								<li><a href="#">Каркасно-щитовые дома</a></li>
								<li><a href="#">Щитовые дома</a></li>
								<li><a href="#">Бани из бруса</a></li>
								<li><a href="#">Фундаменты</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-md-offset-1 r_list">
						<div class="footer_list">
							<div class="title"><a href="#">Строительство в кредит</a></div>
						</div>
						<div class="footer_list">
							<div class="title"><a href="#">Акции и скидки</a></div>
						</div>
						<div class="footer_list">
							<div class="title"><a href="#">Отзывы клиентов</a></div>
						</div>
						<div class="footer_list">
							<div class="title"><a href="#">Галерея объектов</a></div>
						</div>
						<div class="footer_list">
							<div class="title"><a href="#">Информация</a></div>
							<ul>
								<li><a href="#">Индивидуальное строительство</a></li>
								<li><a href="#">Часто задаваемые вопросы</a></li>
								<li><a href="#">Оплата и доставка</a></li>
								<li><a href="#">Словарь терминов</a></li>
								<li><a href="#">Новости компании</a></li>
								<li><a href="#">Статьи и обзоры</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_main_bg">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="images/logo_bottom.png" alt="Alt" class="logo_bottom">
						<div class="logo_botttom_text">
							<div class="title">ООО «ЛесДомТорг»</div>
							<p>109387, Москва, Тихорецкий бульвар, дом 1, строение 2А<br>
2011 - 2016 © Все права защищены. </p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="phone_top">
							<p><span>В Москве: </span>+ 7 (495) 150-00-83</p>
							<p><span>В Санкт-Петербурге: </span>+ 7 (812) 425-33-15</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>	
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="title">Обратный звонок</div>
		<form id="form2">
			<input type="text" name="name" placeholder="Ваше имя:" class="modal_input" required>
			<input type="text" name="phone" placeholder="Контактный телефон:" class="modal_input" required>
			<input type="submit" value="Заказать звонок" class="modal_submit">
		</form>
    </div> 
<!-- END MODAL1 -->
<div id="menu">
	<ul>
		<li><a href="#">Проекты и цены</a></li>
		<li><a href="#">Акции и скидки</a></li>
		<li><a href="#">Дом в кредит</a></li>
		<li><a href="#">Отзывы клиентов</a></li>
		<li><a href="#">Фото объектов</a></li>
		<li><a href="#">Информация</a></li>
		<li><a href="#">Контакты</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nstSlider.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/easyResponsiveTabs.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>