<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Станки Кузнец</title>
  <link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
  <link href="css/jquery.bxslider.css" rel="stylesheet">
  <link href="css/lightslider.css" rel="stylesheet">
  <!-- Yandex.Metrika counter --> 
  <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter33842674 = new Ya.Metrika({ id:33842674, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/33842674" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
 </head> 
<body >
  <div class="main_container clearfix">
<!-- HEADER -->
    <div class="logo" id="head">
      <div class="logoh1">Станки для ковки</div>
      <div class="logoh2">"УНИВЕРСАЛ"</div>
    </div>
    <div class="center_title">Станки для изготовления кованных:
    елементов из профильной трубы и 
    полнотелого квадрата</div>
    <div>
      <div class="phone">8 (903) 066-22-45</div>
      <a href="" class="mail">cheb.mash@mail.ru</a>
      <a href="" class="button">Обратный звонок</a>
    </div>
  </div>
<!-- END HEADER -->
<!-- MENU -->
  <div class="menu_bg">
    <div class="main_container clearfix">
    <ul id="menu">
      <li><a href="" >Главная</a></li>
      <li><a href="" class="advatages">Каталог</a></li>
      <li><a href="" class="feedback">Как заказать?</a></li>
      <li><a href="" class="contacts">Контакты</a></li>
    </ul>
  </div>
  </div>
<!-- END MENU -->
<!-- SLIDER -->
<div class="slider_bg">
  <div class="main_container clearfix">
  <ul class="bxslider">
    <li><img src="images/slider_img1.jpg" height="442" width="538"/></li>
    <li><img src="images/slider_img2.jpg" height="442" width="538"/></li>
    <li><img src="images/slider_img3.jpg" height="442" width="538"/></li>
    <li><img src="images/slider_img4.jpg" height="442" width="538"/></li>
    <li><img src="images/slider_img5.jpg" height="442" width="538"/></li>
  </ul>
  <div id="form">
  <form id="form4" onsubmit="refr();">
    <div class="formh1">Что бы получить<br>
  видео-работы станка,<br>
  заполните данную форму</div>
    <input type="text" name="name" class="name_input" placeholder="Ваше имя" required>
    <input type="text" name="phone" class="phone_input" placeholder="Ваш телефон" required>
    <input type="text" name="mail" class="mail_input" placeholder="Ваш e-mail">
    <input type="textarea" name="mess" class="textarea_input" placeholder="Ваше сообщение">
    <input type="submit" id="send_button" name="submit" value="Отправить">
    <input type="hidden" name="formData" value="Заявка с сайта">
  </form>
  </div>
  </div> 
</div>
<!-- END SLIDER -->
<!-- CATALOG -->
<div class="main_container clearfix" id="advatages">
  <div class="h1">Каталог оборудования</div>
  <div class="left_part">
    <div class="h2">Станок для изготовления элементов ковки "Универсал"</div>
    <p>Данный станок предназначен для изготовления гусиной лапки, декоративное продавливание профильной трубы (по желанию заказчика может комплектоваться и другими модулями: </p>
    <ul class="spisok">
      <li>1.Изготовление хомутной полосы,</li>
      <li>2.Изготовление колец 100 мм,</li>
      <li>3.Изготовление шишек,</li>
      <li>4.Изготовление различных улиток, завитков, бубликов и т. д.,</li>
      <li>5.Продольное скручивание квадрата.</li>
    </ul>
    <p>Обрабатываемый материал: профильная труба от 10*10 до 20*20, полнотелый квадрат до 12 мм.<br>
    Станок изготавливается как на 220 так и на 380 вольт.
    Достоинством данного станка является то что при помощи данного станка можно изготавливать изделия художественной ковки из профильной трубы.<br>
    Эл. двигатель 2,2 - 3 кВт. На выходе через редуктор 10 - 15 оборотов.</p>
    <div class="blur clearfix">
      <div class="item">Базовая комплектация станка:</div>
      <ul>
      <li>1.Основной силовой агрегат (рама, редуктор, эектродвигатель, Электрика).</li>
      <li>2.Блок для изготовления гусиной лапки 2 рисунка.</li>
      <li>3.Ролики для декоративного продавливания профильной трубы 15*15</li>
    </ul>
    <div class="price">Цена базовой комплектации <span>80 000 руб.</span></div>
    </div>
  </div>
  <div class="right_part">
    <div class="demo" >
    <ul class="lightSlider">
 
   <li data-thumb="images/carousel1.jpg">
    <img src="images/carousel_main.jpg" /> 
  </li>  
    <li data-thumb="images/carousel1-1.jpg"> 
    <img src="images/carousel_main1-1.jpg" />
  </li>
     <li data-thumb="images/carousel1-2.jpg">
    <img src="images/carousel_main1-2.jpg" /> 
  </li>
    <li data-thumb="images/carousel1-3.jpg">
    <img src="images/carousel_main1-3.jpg" />
  </li>   
</ul>
</div>
<div class="blur clearfix">
      <div class="item">Дополнительно к станку можно приобрести:</div>
      <ul>
      <li>1.Ролики для декоративной прокатки профтрубы10*10. </li>
      <li>2.Ролики для изготовления хомутной полосы. </li>
      <li>3.Модуль для изготовления колец диаметром 100 мм.</li>
      <li>4.Модуль для продольного скручивания квадрата и изготовления шишек.</li>
      <li>5.Модуль для изготовления улиток, завитков, бубликов.</li>
    </ul>
    <p>8 улиток в комплекте, среди них 2 улитки для обратных завитков.</p>
    <div class="price">Цена станка в полной комплектации <span>110 000 руб.</span></div>
    </div>
  </div>

  <div class="buy_button">
    <a href="#" class="buy">Заказать</a>
  </div>
</div>
<hr>
<div class="main_container clearfix">
  <div class="left_part">
  <div class="demo" >
    <ul class="lightSlider">
 
   <li data-thumb="images/carousel2.jpg">
    <img src="images/carousel_main2.jpg" /> 
  </li>  
    <li data-thumb="images/carousel2-1.jpg"> 
    <img src="images/carousel_main2-1.jpg" />
  </li>
     <li data-thumb="images/carousel2-2.jpg">
    <img src="images/carousel_main2-2.jpg" /> 
  </li>
    <li data-thumb="images/carousel2-3.jpg">
    <img src="images/carousel_main2-3.jpg" />
  </li>   
</ul>
</div>
  </div>
  <div class="right_part clearfix">
    <div class="h2_1">Блок для изготовления гусиной лапки и подготовки профильной трубы</div>
    <p>Данный блок предназначен для изготовления гусиных лапок на полнотелом квадрате до 12 мм и профильной трубы до 15 мм.
    Все валы и ролики из высокопрочной и износостойкой стали 40Х с термообработкой до 43-46 единиц.
    В стандартной комплектации идут ролики для подготовки профильной трубы 15*15</p>
    <div class="price2">Цена стандартной комплектации <span>22 000 руб.</span></div>
    <div class="blur_small clearfix">
      <div class="item1">Дополнительно можно приобрести:</div> 
      <div class="text_blur">Ролики для подготовки профильной трубы 10*10.</div>
      <div class="price1">Цена <span>3 000 руб.</span> комплект.</div>
      <div class="text_blur">Ролики для изготовления хомутной полосы.</div>
      <div class="price1">Цена <span>3 000 руб.</span> комплект.</div>
    </div>
  </div>

  <div class="buy_button">
    <a href="#" class="buy">Заказать</a>
  </div>
</div>
<hr>
<div class="main_container clearfix">
  <div class="left_part">
    <div class="h2_1">Станок для изготовления гусиной лапки</div>
    <p>Данный станок предназначен для изготовления гусиных лапок на полнотелом квадрате до 12 мм и профильной трубы до 15 мм.
    Все валы и ролики из высокопрочной и износостойкой стали 40Х с термообработкой до 43-46 единиц. Эл. двигатель 2,2 - 3 кВт. На выходе через редуктор 10 - 15 оборотов. Станок изготавливается как на 220 так и на 380 вольт. В стандартной комплектации идут ролики для подготовки профильной трубы 15*155</p>
    <div class="price2">Цена стандартной комплектации <span>80 000 руб.</span></div>
    <div class="blur_small clearfix">
      <div class="item1">Дополнительно можно приобрести:</div> 
      <div class="text_blur">Ролики для подготовки профильной трубы 10*10.</div>
      <div class="price1">Цена <span>3 000 руб.</span> комплект.</div>
      <div class="text_blur">Ролики для изготовления хомутной полосы.</div>
      <div class="price1">Цена <span>3 000 руб.</span> комплект.</div>
    </div>
  </div>
  <div class="right_part clearfix">
    <div class="demo" >
    <ul class="lightSlider">
 
   <li data-thumb="images/carousel3.jpg">
    <img src="images/carousel_main3.jpg" /> 
  </li>  
    <li data-thumb="images/carousel3-1.jpg"> 
    <img src="images/carousel_main3-1.jpg" />
  </li>
     <li data-thumb="images/carousel3-2.jpg">
    <img src="images/carousel_main3-2.jpg" /> 
  </li>
    <li data-thumb="images/carousel3-3.jpg">
    <img src="images/carousel_main3-3.jpg" />
  </li>   
</ul>
</div>
  </div>

  <div class="buy_button">
    <a href="#" class="buy">Заказать</a>
  </div>
</div>
<hr>
<div class="main_container clearfix">
  <div class="left_part">
  <div class="demo" >
    <ul class="lightSlider">
 
   <li data-thumb="images/carousel4.jpg">
    <img src="images/carousel_main4.jpg" /> 
  </li>  
    <li data-thumb="images/carousel4-1.jpg"> 
    <img src="images/carousel_main4-1.jpg" />
  </li>
     <li data-thumb="images/carousel4-2.jpg">
    <img src="images/carousel_main4-2.jpg" /> 
  </li> 
</ul>
</div>
  </div>
  <div class="right_part clearfix">
    <div class="h2_1">Ручной станок для изготовления завитков и бубликов</div>
    <p>Данное приспособление предназначено для изготовления различных елементов художественной ковки.<br>А именно:</p>
    <ul class="subs_item">
      <li>- бублики;</li>
      <li>- доллар;</li>
      <li>- запятую;</li>
      <li>- мега валюту</li>
    </ul>
    <p>На данном станке можно работать, с полнотелым квадратом, с профильной трубой, с полосой, с катанкой.</p>
  </div>

  <div class="buy_button">
    <a href="#" class="buy">Заказать</a>
  </div>
</div>
<hr>
<div class="main_container clearfix">
  <div class="left_part">
    <div class="h2_1">Станок “Витая Труба”</div>
    <p>Станок "Витая Труба" предназначен для нанесения рисунка косичка прямого и перекрёстного видов на металлические трубы различных диаметров и толщиной стенки до 3 мм. Рисунок наносится способом холодного вдавливания, косичкой с трех сторон на круглую трубу.</p>
    <div class="tech">Технические характеристики:</div>
    <p>Диаметр прокатываемой трубы 21.3-108 мм<br>
    Толщина стенки прокатываемой трубы 1,5 – 3 мм<br>
    Направление вращения валов реверсивное<br> 
    Угол подъема витка 0, 30, 45, 60 градусов(как для накатки трубы в виде “каната”, так и для перекресной навивки)<br>
    Мощность эл/двигателя 3*0.75 КВт (2.2 кВт)<br>
    Ток питания сети 380/220 В переменный</p>
    <div class="price2">Цена <span>220 т. Р.</span></div>
    
  </div>
  <div class="right_part clearfix">
    <div class="demo" >
    <ul class="lightSlider">
 
   <li data-thumb="images/carousel5.jpg">
    <img src="images/carousel_main5.jpg" /> 
  </li>  
    <li data-thumb="images/carousel5-1.jpg"> 
    <img src="images/carousel_main5-1.jpg" />
  </li>  
</ul>
</div>
  </div>

  <div class="buy_button">
    <a href="#" class="buy">Заказать</a>
  </div>
</div>
<hr>

<!-- END CATALOG -->
<!-- ORDER -->
<div class="bg_order">
<div class="main_container clearfix" id="containerv">
  <div class="title_order">Как заказать?</div>
  <div class="left_order">
  <img src="images/icon_order1.png" height="121" width="120" alt="" class="icon1">
  <img src="images/icon_order2.png" height="121" width="120" alt="" class="icon2">
  <img src="images/icon_order3.png" height="121" width="120" alt="" class="icon3">
  <img src="images/arrow_order1.png" height="61" width="152" alt="" class="arrow1">
  <img src="images/arrow_order2.png" height="56" width="55" alt="" class="arrow2">
  <img src="images/arrow_order3.png" height="49" width="59" alt="" class="arrow3">
  <div class="text1">1. Оставьте заявку или<br>
  позвоните нам</div>
  <div class="text2">2. Мы свяжемся с Вами<br>
  для для уточнения заказа</div>
  <div class="text3">3. Мы доставим Вам<br>
  станок в любой<br>
  населенный пункт Росии<br>
  с помощью услуг<br>
  транспортных компаний</div>
  </div>
  <div class="right_order">
    
  <form id="form3" onsubmit="refr();">
    <div class="formh1">Форма для заявки</div>
    <input type="text" name="name" class="name_input" placeholder="Ваше имя" required>
    <input type="text" name="phone" class="phone_input" placeholder="Ваш телефон" required>
    <input type="text" name="mail" class="mail_input" placeholder="Ваш e-mail">
    <input type="textarea" name="mess" class="textarea_input" placeholder="Ваше сообщение">
    <input type="submit" id="send_button1" name="submit" value="Отправить">
    <input type="hidden" name="formData" value="Заявка с сайта">
  </form>
  </div>
</div>
</div>
<!-- END ORDER -->
<!-- CONTACT -->
<div class="main_container clearfix" id="contacts">
  <div class="h1">Контакты</div>
  <div class="adress_text"><span>Адрес:</span> г. Чебоксары, пр-т И. Яковлева 35</div>
  <div class="reqvizit">Реквизиты:</div>
  <div class="reqvizit1">Полное наименование компании:</div>
  <div class="info_pp">Индивидуальный Предприниматель Мартынов Вячеслав Алексеевич</div>
  <div class="reqvizit1">Регистрационная информация:</div>
  <div class="left_info_company">
  <div class="info_company"><span>ИНН: </span>211800713702</div>
  <div class="info_company"><span>Банк получателя: </span>Чувашский РФ ОАО «Россельхозбанк»</div>
  <div class="info_company"><span>Расчетный счет: </span>40802810711090000100
</div>
  </div>
  <div class="right_info_company">
<div class="info_company"><span>Корреспондентский счет: </span>30101810600000000752</div>
  <div class="info_company"><span>БИК: </span>049706752</div>
  <div class="info_company"><span>ОГРН  </span>315213800000245
</div>
</div>
</div>
<!-- END CONTACT -->
<!-- YANDEX MAP -->
<div id="map">
  </div>
<!-- END YANDEX MAP -->
<!-- FOOTER -->
<div class="main_container clearfix footer">
<!-- HEADER -->
    <div class="logo">
      <div class="logoh1">Станки для ковки</div>
      <div class="logoh2">"УНИВЕРСАЛ"</div>
    </div>
    <div class="center_title">Станки для изготовления кованных:
    елементов из профильной трубы и 
    полнотелого квадрата</div>
    <div>
      <div class="phone">8 (903) 066-22-45</div>
      <a href="" class="mail">cheb.mash@mail.ru</a>
      <a href="" class="button">Обратный звонок</a>
    </div>
    
  </div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#"></a>
         <form  id="form1" onsubmit="refr();">
          <div class="modal_h1">Обратный звонок</div>
        <input type="text" name="name" class="name_input1" placeholder="Ваше имя" required>
        <input type="text" name="phone" class="phone_input1" placeholder="Ваш телефон" required>
    <input type="submit" id="send_button2" name="submit" value="Заказать">
    <input type="hidden" name="formData" value="Заявка с сайта">
  </form>   
        </div> 
<!-- END MODAL1 -->
<!-- MODAL2 -->
<div class="overlay1" id="overlay1" style="display:none;"></div> 
        <div class="nonebox1" id="nonebox1"> 
         <a class="box-close one" id="box-close1" href="#"></a>
         <form id="form2" onsubmit="refr();">
          <div class="modal_h1">Заказ оборудования</div>
        <input type="text" name="name" class="name_input1" placeholder="Ваше имя" required>
        <input type="text" name="phone" class="phone_input1" placeholder="Ваш телефон" required>
        <input type="text" name="mail" class="mail_input1" placeholder="Ваш e-mail">
    <input type="textarea" name="mess" class="textarea_input1" placeholder="Ваше сообщение">
    <input type="submit" id="send_button2" name="submit" value="Заказать">
    <input type="hidden" name="formData" value="Заявка с сайта">
  </form>   
        </div> 
<!-- END MODAL2 -->
<!-- MODAL3 -->
<div class="overlay2" id="overlay2" style="display:none;"></div> 
        <div class="nonebox2" id="nonebox2"> 
         <a class="box-close one" id="box-close2" href="#"></a>
         <div class="succes">Ваша заявка получена,<br>
наш менеджер свяжется с<br>
Вами в ближайшее время.</div>
           
        </div> 
<!-- END MODAL3 -->
<div id="scrollup">
<img src="images/up_st.png" alt="arrow" class="first">
<h4>Наверх</h4>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/lightslider.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/ajax_form.js"></script>
<script src="js/scrollup.js"></script>
<script src="js/script.js"></script>
<script>
ymaps.ready(function () {
    var myMap = new ymaps.Map('map', {
            center: [56.079608, 47.267024],
            zoom: 16,
          controls: ['zoomControl']
        }, {
            searchControlProvider: 'yandex#search'
        }),
        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: 'Собственный значок метки',
            balloonContent: 'проезд Серебрякова, 14бс5 '
        }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: 'images//marker.png',
            // Размеры метки.
            iconImageSize: [300, 30],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-15, -15]
        });

    myMap.geoObjects.add(myPlacemark);
    myMap.behaviors.disable('scrollZoom');
});
</script>
<script>
function refr()
{setTimeout("document.location.reload()", 3000);
}
</script>
  </body>
</html>