<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Стильные очки HDCRAFTER</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/flipclock.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div class="header_bg">
		<div class="main_conatiner clearfix">
			<header>
				<div class="logo">hdcrafter</div>
				<div class="phone_top">
					<p>8(918)007-58-62</p>
					<a href="#" class="open_modal">Заказать звонок</a>
				</div>
			</header>
			<div class="clearfix"></div>
			<h1>Стильные очки<span>HDCRAFTER</span></h1>
			<div class="red_divider"></div>
			<ul class="nav">
				<li class="click1"><a href="#">мужские</a></li>
				<li class="click2"><a href="#">женские</a></li>
				<li class="click3"><a href="#">акция</a></li>
				<li class="click4"><a href="#">доставка и оплата</a></li>
				<li class="click5"><a href="#">отзывы</a></li>
				<li class="click6"><a href="#">оптом</a></li>
				<li class="click7"><a href="#">контакты</a></li>
			</ul>
			<div class="form_bg">
				<div class="title"><span>акция!</span> Оставьте заявку<br> сейчас и получите</div>
				<div class="subtitle">флешку-кредитку<br> на 16гб в <span>подарок</span></div>
				<div class="clock_title">до конца акции осталось:</div>
				<div class="your-clock"></div>
				<form id="form1">
					<input type="text" name="name" placeholder="Ваше имя:" class="main_input" required>
					<input type="text" name="phone" placeholder="Ваш телефон:" class="main_input" required>
					<input type="submit" value="Оставить заявку" class="main_submit">
				</form>
			</div>
		</div>
	</div>
<!-- END HEADER -->
<!-- COLLECTION -->
	<div class="collection_bg">
		<div class="main_conatiner clearfix">
			<div class="collection_title" id="click1">Мужская коллекция</div>
			<div class="collection_wrapper clearfix">
				<div class="collection_block">
					<div class="title">Luxury brand design Vintage </div>
					<div class="price">$7.93<span>$79.30</span></div>
					<ul class="bxslider">
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
					</ul>
					<a href="#" class="buy_now">Подробнее</a>
				</div>
				<div class="collection_block">
					<div class="title">Luxury brand design Vintage </div>
					<div class="price">$7.93<span>$79.30</span></div>
					<ul class="bxslider">
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
					</ul>
					<a href="#" class="buy_now">Подробнее</a>
				</div>
				<div class="collection_block">
					<div class="title">Luxury brand design Vintage </div>
					<div class="price">$7.93<span>$79.30</span></div>
					<ul class="bxslider">
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
					</ul>
					<a href="#" class="buy_now">Подробнее</a>
				</div>
			</div>
			<div class="collection_title" id="click2">Женская коллекцияя</div>
			<div class="collection_wrapper clearfix">
				<div class="collection_block">
					<div class="title">Luxury brand design Vintage </div>
					<div class="price">$7.93<span>$79.30</span></div>
					<ul class="bxslider">
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
					</ul>
					<a href="#" class="buy_now">Подробнее</a>
				</div>
				<div class="collection_block">
					<div class="title">Luxury brand design Vintage </div>
					<div class="price">$7.93<span>$79.30</span></div>
					<ul class="bxslider">
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
					</ul>
					<a href="#" class="buy_now">Подробнее</a>
				</div>
				<div class="collection_block">
					<div class="title">Luxury brand design Vintage </div>
					<div class="price">$7.93<span>$79.30</span></div>
					<ul class="bxslider">
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
						<li>
							<img src="images/slider_img.jpg" alt="Alt">
						</li>
					</ul>
					<a href="#" class="buy_now">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
<!-- END COLLECTION -->
<!-- ACTION -->
	<div class="main_conatiner clearfix action_big" id="click3">
		<div class="form_bg action_bg">
				<div class="title"><span>акция!</span> Оставьте заявку<br> сейчас и получите</div>
				<div class="subtitle">флешку-кредитку<br> на 16гб в <span>подарок</span></div>
				<div class="clock_title">до конца акции осталось:</div>
				<div class="your-clock2"></div>
				<form id="form1">
					<input type="text" name="name" placeholder="Ваше имя:" class="main_input" required>
					<input type="text" name="phone" placeholder="Ваш телефон:" class="main_input" required>
					<input type="submit" value="Оставить заявку" class="main_submit">
				</form>
		</div>
	</div>
<!-- END ACTION -->
<!-- DELIVERY -->
	<div class="delivery_bg" id="click4">
		<div class="main_conatiner clearfix">
			<div class="h1">доставка и оплата</div>
			<div class="delivery_wrap clearfix">
				<div class="delivery_block">
					<img src="images/delivery_icon1.png" alt="Alt">
					<p>Вы оставляете заявку</p>
				</div>
				<div class="delivery_block">
					<img src="images/delivery_icon2.png" alt="Alt">
					<p>Наш менеджер связывается с Вами</p>
				</div>
				<div class="delivery_block">
					<img src="images/delivery_icon3.png" alt="Alt">
					<p>уточняем детали и высылаем Вам заказ в любую точку России</p>
				</div>
			</div>
		</div>
	</div>
<!-- END DELIVERY -->
<!-- WHY -->
	<div class="main_conatiner clearfix why_w">
		<div class="h1">несколько причин купить очки HDcrafter</div>
		<div class="why_wrapper clearfix">
			<div class="why_block">
				<img src="images/why_img1.jpg" alt="Alt">
				<p>Это отличный подарок на любой праздник</p>
			</div>
			<div class="why_block">
				<img src="images/why_img2.jpg" alt="Alt">
				<p>защитят ваши глаза от палящего летнего солнца</p>
			</div>
			<div class="why_block">
				<img src="images/why_img3.jpg" alt="Alt">
				<p>очки HDcrafter это<br> стиль | мода | статус</p>
			</div>
		</div>
	</div>
<!-- END WHY -->
<!-- OPT -->
	<div class="opt_wrap" id="click6">
		<div class="main_conatiner clearfix action_big">
			<div class="form_bg action_bg">
					<div class="title">для оптовых клиентов у нас действуют специальные<br> условия</div>
					<div class="subtitle">оставьте заявку чтобы узнать подробнее</div>
					<form id="form1">
						<input type="text" name="name" placeholder="Ваше имя:" class="main_input" required>
						<input type="text" name="phone" placeholder="Ваш телефон:" class="main_input" required>
						<input type="submit" value="Оставить заявку" class="main_submit">
					</form>
			</div>
		</div>
	</div>
<!-- END OPT -->
<!-- REVIEWS -->
	<div class="review_wrap" id="click5">
		<div class="main_conatiner clearfix">
			<div class="h1">отзывы</div>
			<ul class="bxslider1">
				<li>
					<div class="review_block">
						<img src="images/review_img.jpg" alt="Alt">
					</div>
				</li>
				<li>
					
				</li>
			</ul>
			<a href="#" class="post_review" target="_blank">Добавить отзыв</a>
		</div>
	</div>
<!-- END REVIEWS -->
<!-- CONTACT -->
	<div class="contact_bg" id="click7">
		<div class="main_conatiner clearfix">
			<div class="h1">наши контакты</div>
			<div class="contact_wrap clearfix">
				<div class="left_side">
					<ul>
						<li>адрес:</li>
						<li>г. Сочи, ул. Навагинская 9Д</li>
						<li>ТД “Атриум” офис 430</li>
					</ul>
					<ul>
						<li>Контакты:</li>
						<li>тел. 8 (918) 007-58-62</li>
						<li>email. info@hdcrafter.ru</li>
					</ul>
				</div>
				<div class="right_side">
					<div class="bottom_form_bg clearfix">
						<div class="title">отправить нам сообщение</div>
						<form id="form1">
							<input type="text" name="name" placeholder="Ваше имя:" class="input_bottom" required>
							<input type="text" name="mail" placeholder="Ваш email:" class="input_bottom" required>
							<textarea name="mess" placeholder="Пожалуйста, введите своё сообщение здесь:" class="bottom_textarea"></textarea>
							<input type="submit" value="Отправить" class="bottom_submit">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END CONTACT -->
<!-- FOOTER -->
	<div class="footer_bg">
		<div class="main_conatiner clearfix">
			<footer>
					<div class="logo">hdcrafter</div>
					<div class="phone_top">
						<p>8(918)007-58-62</p>
						<a href="#" class="open_modal">Заказать звонок</a>
					</div>
					<div class="clearfix"></div>
					<div class="copyright">© 2016. www.hdcrafter.ru Все права защищены</div>
			</footer>
		</div>
	</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="title">Заказать звонок</div>
						<form id="form1">
							<input type="text" name="name" placeholder="Ваше имя:" class="input_bottom" required>
							<input type="text" name="phone" placeholder="Ваш телефон:" class="input_bottom" required>
							<input type="submit" value="Отправить" class="bottom_submit">
						</form>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL2 -->
<div class="overlay" id="overlay2" style="display:none;"></div> 
    <div class="nonebox" id="nonebox2"> 
     <a class="box-close one" id="box-close2" href="#"></a>
     	<div class="title">оформление заказа</div>
     	<div class="item_wrap clearfix">
     		<img src="images/item_img.jpg" alt="Alt" class="main_img">
     		<div class="right_side clearfix">
     			<ul>
     				<li><span class="type">Тип:</span>Мужские</li>
     				<li><span class="type">Цвет:</span>
     				<div class="colours_wrap">
     					<a href="#"></a>
     					<a href="#" class="active"></a>
     					<a href="#"></a>
     				</div>
     				</li>
     				<li><span class="type">Тип стекол:</span>Поляризованные
     				<img src="images/qsr.png" title="Поляризационная поверхность – это материал, покрытый тонкой защитной пленкой. Идеально для водителей. Устраняют такие зрительные помехи, как блики от лобового стекла, приборной панели, мокрого асфальта и даже слепящего света фар. Очки позволяют без проблем видеть все объекты на дороге, даже в самый солнечный день. К тому же, специалисты доказали, что поляризационные очки значительно повышают реакцию водителя

Преимущества

+ Антибликовые
+ Защищают от яркого света
+ Обеспечивают идеальную видимость в автомобиле
" alt="Alt"></li>
     				<li><span class="type">Материал стекол:</span>Поликарбонатa <img src="images/qsr.png" title="Специалисты рекомендуют использовать солнцезащитные очки с поликарбонатными линзами , которые имеют многослойную систему фильтрации и 100% защищают от ультрафиолетового излучения.

Преимущества поликарбоната

+ Легкий вес
+ Ударопрочность
+ Устойчив к ударам и падениям" alt="Alt"></li>
     				<li><span class="type">Количество:</span>
     				<div class="col_wrap clearfix">
     				<span class="minus">-</span>
					<input type="text" value="1" size="5" class="input_plus" />
					
						<span class="plus">+</span>
	     			</div>
	     			</li>
	     			<li><span class="type">Обычная цена:</span><span class="crossline_price">590 руб.</span></li>
	     			<li><span class="type">Цена по акции:</span>
	     			<input type="text" class="red" value="1990" size="1" onKeyDown="this.size=this.value.length">
	     			<span class="red_span">руб.</span></li>
     			</ul>
     			<div class="clearfix"></div>
     			<a href="#" class="buy">Подробнее</a>
     		</div>
     	</div>
    </div> 
<!-- END MODAL2 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/flipclock.min.js"></script>
<script src="js/script.js"></script>
 </body>
</html>