<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Интернет-магазин пиротехники и фейерверков, праздничных салютов: купить, опт | Компания «Пироопт»</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
 	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
    <link href="css/jquery-ui-1.8.16.custom.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
</head>
<body >
<!-- MENU -->
<div class="top_menu_bg">
	<div class="main_container clearfix">
		 <ul>
            
            <li><a href="#">Программа для видео</a></li>
            <li><a href="#">Скидки</a></li>
            <li><a href="#">Наш прайс-лист</a></li>
            <li><a href="#">Контакты</a></li>
             <li><a href="#">Печать на шарах</a></li>
             <li><a href="#">Фейерверк шоу</a></li>
        </ul>
        <div id="welcome">
             <a rel="nofollow" href="#">Войти</a> / 
             <a rel="nofollow" href="#">Зарегистрироваться</a>                    
        </div>
    </div>
</div>
<!-- END MENU -->
<!-- HEADER -->
<header>
    <div id="header">
	<div class="main_container clearfix">
		<div id="main-logo">
			<img itemprop="logo" src="images/logo.gif" title="Пироопт Фейерверки и Салюты оптом и в розницу. Профессиональный запуск" alt="Пироопт Фейерверки и Салюты оптом и в розницу. Профессиональный запуск"/>
	    </div>
        <div class="slogan">
            <span>Выбирете любой подходящий город для Вас:</span>
            <div class="slogan-img"></div>
        </div>
        <div class="address">
            <span>Москва</span>
            <span>ул. Перовская д.67</span>
            <span><a href="http://pyroopt.ru/adresa-i-informatciia.html">Другие города</a></span>
        </div>
        <div class="numbers">
            <span>8-800-775-92-97</span>
            <span>8-495-125-22-97</span>
            <span>info@pyroopt.ru</span>
            <a href="#">Заказать звонок</a>
        </div>
        <div class="cart-search">
            <div class="bascet">
                <div id="cart">
                    <div class="heading">
                        <a href="#"><span id="cart-total" class="full">2 шт. - 5200,00 Р</span></a>
                    </div>      
                    <div class="content">
                        <div class="cart-up-arrow"></div>
                    </div>
                </div>            
            </div>
            <div id="search">
                <p>
                    <input type="text" name="search" placeholder="Поиск"
                           value=""/>
                </p>

                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    </div>
</header>
<div class="main_container clearfix">
    <div id="menu">
        <ul class="clearfix">
            <li><a href="http://pyroopt.ru/batarei-salyutov">Батареи салютов</a></li>
            <li><a href="http://pyroopt.ru/petardu">Петарды</a></li>
            <li><a href="http://pyroopt.ru/letayushhie-fejerverki">Летающие фейерверки</a></li>
            <li><a href="http://pyroopt.ru/raketu">Ракеты</a></li>
            <li><a href="http://pyroopt.ru/rimskie-svechi">Римские свечи</a></li>
            <li><a href="http://pyroopt.ru/fontanu">Фонтаны</a></li>
        </ul>
    </div>
    </div>
</div>  
<!-- END HEADER -->
<!-- BIG CALCULATOR -->
    <div class="main_container clearfix">
        <div class="h1">РАСЧИТАТЬ СТОИМОСТЬ</div>
        <div class="calculator_wrapper clearfix">
            <form action="upload.php" method="POST" enctype="multipart/form-data">
                <div class="preview_block">
                    <div class="title_preview">LOGO</div>
                </div>
                <div class="chose_block">
                    <div class="chose_title">Выберите цвет шара</div>
                    <div class="buttons_wrap clearfix">
                        <button type="button" class="a_btn1 active_r" value="Белый"></button>
                        <button type="button" class="a_btn2" value="Голубой"></button>
                        <button type="button" class="a_btn3" value="Розовый"></button>
                        <button type="button" class="a_btn4" value="Фиолетовый"></button>
                        <button type="button" class="a_btn5" value="Малиновый"></button>
                        <button type="button" class="a_btn6" value="Сливовый"></button>
                        <button type="button" class="a_btn7" value="Синий"></button>
                        <button type="button" class="a_btn8" value="Зелёный"></button>
                        <button type="button" class="a_btn9" value="Желтый"></button>
                        <button type="button" class="a_btn10" value="Красный"></button>
                        <button type="button" class="a_btn11" value="Оранжевый"></button>
                        <button type="button" class="a_btn12" value="Тёмно-зелёный"></button>
                        <button type="button" class="a_btn13" value="Черный"></button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="chose_title">Выберите цвет краски</div>
                    <div class="color_wrap clearfix">
                    	<button type="button" class="c_btn1" value="Cиний"></button>
                    	<button type="button" class="c_btn2" value="Зелёный"></button>
                    	<button type="button" class="c_btn3" value="Красный"></button>
                    	<button type="button" class="c_btn4" value="Желтый"></button>
                    	<button type="button" class="c_btn5" value="Розовый"></button>
                    	<button type="button" class="c_btn6" value="Черный"></button>
                    	<button type="button" class="c_btn7 active_r" value="белый"></button>
                    </div>
                </div>

            
       <div class="clearfix"></div> 
      <div class="main_inputs_wrapper">
      <div class="input_text_wrapper">
	      <label for="amount">
	      <div class="main_text">Тираж</div>
	      </label>
	      <label for="city">
	      	<div class="main_text">Ваш город</div>
	      </label>
	       <label>
	      	<div class="main_text">Телефон</div>
	      </label>
	       <label >
	      	<div class="main_text">E-mail</div>
	      </label>
	      <label for="deliveryType">
	      	<div class="main_text">Доставка: </div>
	      </label>
      </div> 
      <div class="input_send_wrapper">
	      <div class="ui-widget">
	          <input class="js-input" value="100" id="amount" onblur="myFunction()" name="tirazh" /> 
	     </div>
	      <div class="ui-widget">
	          <input id="city" name="city" />
	      </div>
	      <div class="ui-widget">
	          <input type="text" name="phone" required/>
	      </div>
	       <div class="ui-widget">
	          <input type="text" name="mail" required/>
	      </div>
	      <div class="ui-widget">
	          <select size="1" class="js-selected">
	            <option selected value="10">До склада</option>
                <option value="11">До двери</option>
	            <option value="Самовывоз">Самовывоз</option>
	          </select>
	      </div>
       </div>
       <div class="textarea_wrapper">
       		<div class="main_text">Оставить комментарий</div>
       		<textarea name="mess" id="" cols="30" rows="10"></textarea>
       		<div class="main_text">Прикрепить файл</div>
       				<input type="file" name="u_file" id="file-6" class="inputfile inputfile-5" data-multiple-caption="{count} files selected" multiple />
					<label for="file-6"><figure><img src="images/note.png" alt="Пироопт"></figure> <span class="filespan"></span></label>
       </div>
		<div class="clearfix"></div>	
        <div class="chosen" id="raz">
            <span>Вы выбрали: </span><br>
            <span>Количество: </span><div id="tirazh">100</div> шаров<br>
            <span>Цвет: </span><div id="colorball"><input type="text" value="Белый" id="some" name="colorball"></div><br>
            <span>Цвет логотипа: </span><div id="colorball1"><input type="text" value="Белый" id="some" name="colorlogo"></div><br>
            <span>Цена: </span><div id="sosna"></div>
        </div>
	    <div class="clearfix"></div>
	    <code id="testArea">
		</code>
        <code id="resArea">
        </code>
        <div class="clearfix"></div>
        <div class="main_buttons_wrap">
        <div class="js-button">
	    	<div class="click_calculate" id="Save">Рассчитать</div>
	 	 </div>
         <button type="submit" class="main_submit">Отправить заявку</button>
         <input type="hidden" name="formData" value="Заявка с сайта PYROOPT.RU">
        </div>
        </form>
                <form action="" id="cdek" method="GET" />
        <!-- Версия API -->
        <input name="version" value="1.0" hidden />
        <!-- Планируемая дата доставки (ГГГГ-ММ-ДД) -->
        <input name="dateExecute" value="2016-02-29" hidden />      
        <!-- Город-отправитель, Москва -->      
        <input name="senderCityId" value="270" hidden />
        <!-- Город-получатель -->
        <input name="receiverCityId" id="receiverCityId" value="" hidden />
        <!-- id тарифа, Посылка склад-дверь -->
        <input name="tariffId" value="137" hidden />
        <!-- режим доставки, склад-дверь -->
        <!-- <input name="modeId" value="3" hidden /> -->
        <!-- Вес места, кг.  -->
        <input class="js-weight" name="goods[0].weight" value="0.1" hidden />
        <!-- Длина места, см. -->
        <input class="js-length" name="goods[0].length" value="10" hidden />
        <!-- Ширина места, см. -->
        <input class="js-width" name="goods[0].width" value="10" hidden />
        <!-- Высота места, см. -->
        <input class="js-height" name="goods[0].height" value="10" hidden />
        </form>
		</div>
</div>
</div>

<!-- END BIG CALCULATOR -->
<!-- PROMO -->
<div class="bg_orange promo">
    <div class="main_container clearfix">
        <div class="h1 white_title">ПЕЧАТЬ НА ШАРАХ ОТ КОМПАНИИ ПИРООПТ</div>
        <div class="h2_white">Печать фотографий на шарах!</div>
        <p>Мы ради предложить Вам новую услугу, которая по цене такая же как<br> и обычная печать логотипов на шарах!</p>
    </div>
</div>
<!-- END PROMO -->
<!-- SALE! -->
    <div class="main_container clearfix">
        <img src="images/banner.jpg" alt="Пироопт" class="banner_big">
    </div>
<!-- END SALE! -->
<!-- ADVANTAGES -->
<div class="bg_orange advantages">
    <div class="main_container clearfix">
        <div class="h1 white_title">НАШИ ПРЕИМУЩЕСТВА</div>
        <div class="cilcles_wrapper">
            <div class="circles_block">
                <img src="images/circle1.png" alt="Пироопт">
                <p>Изготовления от 1 часа</p>
            </div>
            <div class="circles_block">
                <img src="images/circle2.png" alt="Пироопт">
                <p>Бесплатное создание макетов</p>
            </div>
            <div class="circles_block">
                <img src="images/circle3.png" alt="Пироопт">
                <p>Собственное производство</p>
            </div>
            <div class="circles_block">
                <img src="images/circle4.png" alt="Пироопт">
                <p>Соблюдение сроков</p>
            </div>
            <div class="circles_block">
                <img src="images/circle5.png" alt="Пироопт">
                <p>Контроль качества</p>
            </div>
            <div class="circles_block">
                <img src="images/circle6.png" alt="Пироопт">
                <p>Современное и точное оборудование</p>
            </div>
            <div class="circles_block">
                <img src="images/circle7.png" alt="Пироопт">
                <p>Индивидуальный менеджер</p>
            </div>
            <div class="circles_block">
                <img src="images/circle8.png" alt="Пироопт">
                <p>Профессиональная команда</p>
            </div>
        </div>
    </div>
</div>
<!-- END ADVANTAGES -->
<!-- PRICE -->
    <div class="main_container clearfix">
        <div class="h1">НАШИ ЦЕНЫ</div>
        <div class="table_wrapper">
            <table>
           <tr>
            <th>Тираж</th>
            <th>Цена за 1 шар</th>
            <th>Цена за партию</th>
            <th>Бонус</th>
           </tr>
           <tr><td>100</td><td>14,99</td><td>14,99</td><td>20%</td></tr>
           <tr class="another_bg"><td>500</td><td>6,99</td><td>34,99</td><td>16%</td></tr>
           <tr><td>1000</td><td>6,59</td><td>65,99</td><td>16%</td></tr>
           <tr class="another_bg"><td>5000</td><td>3,89</td><td>194,99</td><td>9%</td></tr>
           <tr><td>10000</td><td>3,5</td><td>350,00</td><td>8%</td></tr>
        </table>
        <table class="second_table">
           <tr>
            <th>Тираж</th>
            <th>Палочки для шариков</th>
            <th>Гелий для шариков</th>
            <th>Бонус</th>
           </tr>
           <tr><td>100</td><td>8</td><td>18</td><td>5</td></tr>
           <tr class="another_bg"><td>500</td><td>7</td><td>15</td><td>4,5</td></tr>
           <tr><td>1000</td><td>6</td><td>13</td><td>4</td></tr>
           <tr class="another_bg"><td>5000</td><td>5</td><td>12</td><td>3,5</td></tr>
           <tr><td>10000</td><td>4</td><td>11</td><td>3</td></tr>
        </table>
        <p>*Все цены указаны в рублях с учетом работы и материалов<br>
        Раздача шаров считается индивидуально</p>
        </div>
        <div class="right_side_wrapper">
            <div class="clearfix"></div>
            <div class="right_side_title">Как воспользоваться бонусом</div>
            <div class="oval_block">
                <span>1</span><p>Использовать его как скидуку при заказе</p>
            </div>
            <div class="oval_block">
                <span>2</span><p>Вы можете получить их наличными как агентское вознаграждение</p>
            </div>
            <div class="oval_block">
                <span>3</span><p>Бонусы копятся, поэтому вы можете их накопить и получить бесплатно целый заказ</p>
            </div>
            <div class="right_side_desc">
            <div class="right_side_secondtitle">Для постоянных клиентов действуют дополнительныескидки</div>
            <p>Поинтересующим вопросам обращайтесь по телефонам <span>8-800-775-92-97</span> (звонок бесплатный) <span>8-495-125-22-97</span> или присылайте письма на почту <a href="#">info@pyroopt.ru</a></p>
            <div class="info1">Печать с 2-х сторон; Шары 12 дюймов (30 см); Без дополнительных сборов и оплат;</div>
            <div class="info2">Цены действительны с 01.03.2016 по 31.12.2016</div>
            </div>
        </div>
    </div>
<!-- END PRICE -->
<!-- HOW ORDER -->
<div class="bg_orange order">
    <div class="main_container clearfix">
        <div class="h1 white_title">КАК СДЕЛАТЬ ЗАКАЗ</div>
        <img src="images/icons-set.png" alt="Пироопт">
        <p>Присылаете нам Ваш логотип</p>
        <p>Согласуем детали заказа</p>
        <p>Производите оплату</p>
        <p>Получаете Ваш заказ</p>
        <div class="clearfix"></div>
        <span>Логотипы высылайте на почту <a href="#">info@pyroopt.ru</a>, а также укажите цвета шаров, цвет краски, тираж, количество сторон и свои контакты. Оплата наличными, по карте, через расчетный счет, яндекс деньги. Срок производства от 1 часа.</span>
    </div>
</div>
<!-- END HOW ORDER -->
<!-- PORTFOLIO -->
<div class="main_container clearfix">
        <div class="h1">ПРИМЕРЫ НАШИХ РАБОТ</div>
        <ul class="bxslider">
            <li>
            <a class="fancybox-button" rel="fancybox-button" href="images/previewimg1.jpg" title="">
                <img src="images/slider_img1.jpg" alt="Пироопт" class="slide_main">
            </a>
             <a class="fancybox-button" rel="fancybox-button" href="images/previewimg2.jpg" title="">
                <img src="images/slider_img2.jpg" alt="Пироопт" class="slide_main">
            </a><a class="fancybox-button" rel="fancybox-button" href="images/previewimg3.jpg" title="">
                <img src="images/slider_img3.jpg" alt="Пироопт" class="slide_main">
            </a><a class="fancybox-button" rel="fancybox-button" href="images/previewimg4.jpg" title="">
                <img src="images/slider_img4.jpg" alt="Пироопт" class="slide_main mr0">
            </a>
            </li>
            <li>
               <a class="fancybox-button" rel="fancybox-button" href="images/previewimg5.jpg" title="">
                <img src="images/slider_img5.jpg" alt="Пироопт" class="slide_main">
            </a>
             <a class="fancybox-button" rel="fancybox-button" href="images/previewimg6.jpg" title="">
                <img src="images/slider_img6.jpg" alt="Пироопт" class="slide_main">
            </a><a class="fancybox-button" rel="fancybox-button" href="images/previewimg7.jpg" title="">
                <img src="images/slider_img7.jpg" alt="Пироопт" class="slide_main">
            </a><a class="fancybox-button" rel="fancybox-button" href="images/previewimg8.jpg" title="">
                <img src="images/slider_img8.jpg" alt="Пироопт" class="slide_main mr0">
            </a>
            </li>
        </ul>
 </div>       
<!-- END PORTFOLIO -->
<!-- FOOTER -->
<div id="footer">
<div id="powered">
<!-- Language -->
</div>
<!--start-->
<div class="foot clearfix">
    <div class="container clearfix">
    <div class="column">
   <!-- <h3>Информация</h3>-->
    <ul>
            <li><a href="http://pyroopt.ru/skidki.html">Скидки</a></li>
            <li><a href="http://pyroopt.ru/delivery-information.html">Законодательство</a></li>
            <li><a href="http://pyroopt.ru/feierverki.html">Фейерверки</a></li>
          </ul>
  </div>
    <div class="column">
    <!--<h3>Поддержка</h3>-->
    <ul>
      <li><a href="http://pyroopt.ru/contact">Контакты</a></li>
      <li><a href="http://pyroopt.ru/request-return">Возврат товара</a></li>
      <li><a href="http://pyroopt.ru/sitemap">Карта сайта</a></li>
    </ul>
  </div>
  <div class="column">
   <!-- <h3>Дополнительно</h3>-->
    <ul>
      <li><a href="http://pyroopt.ru/brands">Производители</a></li>
      <li><a href="http://pyroopt.ru/voucher">Подарочные сертификаты</a></li>
      <li><a href="http://pyroopt.ru/affiliates">Партнерская программа</a></li>
      <li><a href="http://pyroopt.ru/special">Акции</a></li>
    </ul>
  </div>
  <div class="column">
   <!-- <h3>Личный Кабинет</h3>-->
    <ul>
      <li><a href="http://pyroopt.ru/my-account">Личный Кабинет</a></li>
      <li><a href="http://pyroopt.ru/order-history">История заказов</a></li>
      <li><a href="http://pyroopt.ru/wishlist">Заметки</a></li>
      <li><a href="http://pyroopt.ru/newsletter">Подписка</a></li>
    </ul>
  </div>
    <div class="column">
        <div class="number company">
            <span>8-800-775-92-97</span>
            <span>8-495-125-22-97</span>
            <span>info@pyroopt.ru</span>
        </div>
    </div>
    </div>
</div>
<div class="copy"> Пироопт Фейерверки и Салюты оптом и в розницу. Профессиональный запуск &copy; 2016 Работает на <a href="http://www.brocart.net" target="_blank">BROcart</a></div>
</div><!--end-->
<div class="layout">
    <!--start layout -->            
    <div id="footer_bottom">
        <!--start footer-bottom -->             
         
                        
            </div>

<!-- ENDFOOTER -->              
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery-ui-1.8.16.custom.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript">
			/**
			 * автокомплит
			 * подтягиваем список городов ajax`ом, данные jsonp в зависмости от введённых символов
			 */
			$(function() {

				var json = {};

				json.senderCityId = 172;
				json.goods = [];
				json.goods[0] = {};

				$("#city").autocomplete({
					source : function(request, response) {
						$.ajax({
							url : "http://api.cdek.ru/city/getListByTerm/jsonp.php?callback=?",
							dataType : "jsonp",
							data : {
								q : function() {
									return $("#city").val()
								},
								name_startsWith : function() {
									return $("#city").val()
								}
							},
							success : function(data) {
								//console.log(data);
								response($.map(data.geonames, function(item) {
									return {
										label : item.name,
										value : item.name,
										id : item.id
									}
								}));
							}
						});
					},
					minLength : 1,
					select : function(event, ui) {
					//	console.log(ui);
						$('#receiverCityId').val(ui.item.id);
					}
				});

				/**
				 * ajax-запрос на сервер для получения информации по доставке
				 */


				$('.js-button').on('click',function() {

					var amount = $('#amount').val() - $('#amount').val() % 100;

					if(amount < 100) amount = 100;

					$('#amount').val(amount);

					json.version = '1.0';
					json.receiverCityId = $('#receiverCityId').val();
					json.tariffId = $('.js-selected option:selected').val() || 10;
					json.goods[0].weight = parseFloat((amount/100 * 0.35).toFixed(1)); //кг
					json.goods[0].volume = amount/100 * 0.001; //м3

					var formDataJson = JSON.stringify(json);
					 console.log(JSON.stringify(json));
					//document.getElementById('testArea').innerHTML = 'Отправляемые данные: <br />' + JSON.stringify(json, null, '\t');

					$.ajax({
						url : 'http://api.edostavka.ru/calculator/calculate_price_by_jsonp.php',
						jsonp : 'callback',
						data : {
							"json" : formDataJson
						},
						type : 'GET',
						dataType : "jsonp",
						success : function(data) {
						    console.log(data);
						    if(data.hasOwnProperty("result")) {
								document.getElementById('resArea').innerHTML = 'Цена доставки: ' + data.result.price + 'руб.<br/>Срок доставки: ' + data.result.deliveryPeriodMin + ' - ' + data.result.deliveryPeriodMax + 'дн. ' + '<br/>Планируемая дата доставки: c ' + data.result.deliveryDateMin + ' по ' + data.result.deliveryDateMax + '.&nbsp;';
							} else {
								for(var key in data["error"]) {

									document.getElementById('resArea').innerHTML = data["error"][key].text + '<br /><br />';
								}
							}
						}
					});
					return false;
				});
			});

		</script>
		<script>
			var inputs = document.querySelectorAll( '.inputfile' );
Array.prototype.forEach.call( inputs, function( input )
{
	var label	 = input.nextElementSibling,
		labelVal = label.innerHTML;

	input.addEventListener( 'change', function( e )
	{
		var fileName = '';
		if( this.files && this.files.length > 1 )
			fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
		else
			fileName = e.target.value.split( '\\' ).pop();

		if( fileName )
			label.querySelector( 'span' ).innerHTML = fileName;
		else
			label.innerHTML = labelVal;
	});
});
		</script>
<script>
			function myFunction()
			{

			var x = document.getElementById("amount");
			var div = document.getElementById('tirazh');
			div.innerHTML = x.value;    

			}
</script>
<script>
    var button = document.querySelectorAll('.buttons_wrap [type="button"]');
for (var i = 0; i < button.length; i++) {
  button[i].addEventListener('click', raz, false);
}
function raz() {
  document.querySelector('#colorball [type="text"]').value = this.value;
}
</script>
<script>
    var button = document.querySelectorAll('.color_wrap [type="button"]');
for (var i = 0; i < button.length; i++) {
  button[i].addEventListener('click', raz, false);
}
function raz() {
  document.querySelector('#colorball1 [type="text"]').value = this.value;
}
</script>
<script>
    $(document).ready(function () {
    var footage = 0,
    sosna = $('#sosna')

$('#amount').on('keyup', function(){
    footage0 = $('#amount').val().replace(/,/,'.');
    footage = footage0 * 1;
    if(!isNaN(footage)){
        
        var formula = '',
        mozhno = 0;
        if(footage <= 99){
        sosna.html('неверный формат');
        }
        if(footage >= 100 && footage <= 400){
            formula = 1499;
            formula2 = 0;
            mozhno = 1;
        }
        if(footage >= 500 && footage <= 900){
            formula = 1499;
            formula2 = 2000;
            mozhno = 1;
        }
        if(footage >= 1000 && footage <= 4900){
            formula = 1499;
            formula2 = 5100;
            mozhno = 1;
        }
        if(footage >= 5000 && footage <= 9900){
            formula = 1499;
            formula2 = 18000;
            mozhno = 1;
        }
        if(footage >= 10000 && footage <= 100000){
            formula = 1499;
            formula2 = 33501;
            mozhno = 1;
        }
        if(mozhno == 1){
        sosna.html((1499 + formula2 ).toFixed(0) + '<span class="rubley"> р.</span>');
        } else {
        sosna.html('Заказ кратно 100 шарам !');    
        }
    } else {
        sosna.html('неверный формат');
    }
});
})
</script>
<script>
window.onclick = function onclickRadio() {
  var nameRadio = document.getElementsByName('tabs');
  for (var i = 0; i < nameRadio.length; i++) {
    if (nameRadio[i].type === 'radio' && nameRadio[i].checked) {
        rezultatRadio = $('#amount').val().replace(/,/,'.');       
    }
    if(rezultatRadio >= 100 && rezultatRadio <= 400){
            formula = 1499 + (rezultatRadio * 5);
    }
    if(rezultatRadio>= 500 && rezultatRadio <= 900){
            formula = 3499 + (rezultatRadio * 3);
        }
    if(rezultatRadio>= 1000 && rezultatRadio <= 4900){
            formula = 6599 + (rezultatRadio * 1.5);
        }
    if(rezultatRadio>= 5000 && rezultatRadio <= 9900){
            formula = 19499 + (rezultatRadio * 1.5);
        }
    if(rezultatRadio>= 10000 && rezultatRadio <= 10000){
            formula = 35000 + (rezultatRadio * 2);
        }
  }
  document.getElementById('sosna').innerHTML = formula + '<span class="rubley"> р.</span>';
}
</script>
  </body>
</html>