<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>РАДДЕНТ</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/fav_0.ico">	
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
<div class="top_wrap dbp">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li>Санкт-Петербург, ул. Школьная д.8 </li>
					<li>Станция метро "Черная Речка"</li>
					<li>Пн-Пт с 10:00 до 21:30; Сб-Вс с 10:00 до 20:00</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
					<a href="index.html"><img src="images/logo.png" alt="РАДДЕНT" class="logo"></a>
			</div>
			<div class="col-md-6 col-sm-6 dbm">
					<input type="search" class="search_input" onblur='if(this.value=="") this.value="Поиск по сайту"'  onfocus='if(this.value=="Поиск по сайту") this.value=""' value="Поиск по сайту">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="phone_block">
					<p>+7 (812) 952-05-38</p>
					<a href="#" class="button">Записаться<span class="dbp">на прием</span></a>
				</div>	
			</div>
		</div>
	</div>
</header>	
<!-- END HEADER -->
<!-- MENU -->
<div id="fixed">
	<div class="menu_bg" data-spy="affix" data-offset-top="150" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="nav navbar-inverse" >
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>	
							</button>
						</div>
						<div class="collapse navbar-collapse" id="mainNavBar">
							<ul class="nav navbar-nav ">
								<li><a href="#" class="active">О нас</a></li>
								<li><a href="uslugi.html">Услуги</a></li>
								<li><a href="doktor.html">Врачи</a></li>
								<li><a href="sale.html">Акции</a></li>
								<li><a href="price.html">Цены</a></li>
								<li><a href="price.html">Наши работы</a></li>
								<li><a href="review.html">Отзывы</a></li>
								<li><a href="contact.html">Контакты</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MENU -->
<!-- ABOUT US-->
<div class="place_wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<div class="breadcrumbs">
				<a href="index.html">Главная </a><p>» О нас</p>
			</div>
			</div>
		</div>
		<hr class="some_hr">	
		<div class="row">
			<div class="col-md-8">
				<div class="ab_title">О нас</div>
				<div class="text_ab">
					<div class="dir">Главный врач клиники — Радиевский Владислав Иванович.</div>
					<p>Высокое качество работ подтверждается гарантией, которую мы предоставляем: 5 лет.</p>
					<p>С нашими работами многие люди живут уже 10 и более лет и не испытывают проблем.</p>
					<p>Медицинский персонал клиники «Раддент» подбирался очень тщательно. Все врачи и ассистенты- высококвалифицированные специалисты, преданные своему делу. Зубные техники, с которыми сотрудничает наша клиника, точны и ответственны.</p>
					<p>В клинике безопасное рентгеновское оборудование с высокочувствительным сканирующим устройством “Digora”.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form_wrap">
					<form action="">
						<div class="form_title">Записаться на прием</div>
						<input type="text" class="place_input" name="name" placeholder="Ваше имя:">
						<input type="text" class="place_input" name="phone" placeholder="Ваш телефон:">
						<button type="submit" class="send_place">Записаться на прием</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- OBORUDOVANIE -->
<div class="ob_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>Мы уделяем повышенное внимание стерилизации инструментов.</p>
				<span>Все оборудование новое от ведущих производителей (Германия, Италия, Швейцария).</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<img src="images/ob1.jpg" alt="РАДДЕНT">
			</div>
			<div class="col-md-4 col-sm-4">
				<img src="images/ob2.jpg" alt="РАДДЕНT" class="mlimg">
			</div>
			<div class="col-md-4 col-sm-4">
				<img src="images/ob3.jpg" alt="РАДДЕНT" class="mlimg">
			</div>
		</div>
	</div>
</div>
<!-- END OBORUDOVANIE -->
<!-- ADMINISTRATORS -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="adm_title">В нашей клинике Вас встретят приветливые администраторы.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img src="images/adm_photo1.jpg" alt="РАДДЕНT" class="admphoto">
				<p class="adm_name">Андрианова Екатерина</p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img src="images/adm_photo2.jpg" alt="РАДДЕНT" class="admphoto">
				<p class="adm_name">Журавлёва Светлана</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<div class="resp">С уважением, главный врач клиники «Раддент»<br>
				<span>РАДИЕВСКИЙ ВЛАДИСЛАВ ИВАНОВИЧ</span></div>
			</div>
		</div>
	</div>	
<!-- END ADMINISTRATORS -->
<!-- END ABOUT US-->
<!-- MAP -->
<div id="googleMap"></div>
<!-- END MAP -->
<!-- FOOTER -->
<div class="footer_bg">
	<div class="container">
		<div class="row dbp">
			<div class="col-md-12">
				<ul class="menu_bottom">
					<li><a href="#">О нас</a></li>
					<li><a href="#">Услуги</a></li>
					<li><a href="#">Врачи</a></li>
					<li><a href="#">Акции</a></li>
					<li><a href="#">Цены</a></li>
					<li><a href="#">Наши работы</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="copyright">
					<p>© 2010-2016 Все права принадлежат<br> клинике "Раддент"</p>
					<a href="#" class="vk"></a>
					<a href="#" class="facebook"></a>
					<a href="#" class="youtube"></a>
					<a href="#" class="twitter"></a>
					<a href="#" class="instagram"></a>
				</div>
			</div>
			<div class="col-md-4 dbp">
				<div class="adress">
					<p>Санкт-Петербург, ул. Школьная д.8</p>
					<p>Станция метро "Черная Речка"</p>
					<p>Пн-Пт с 10:00 до 21:30; Сб-Вс с 10:00 до 20:00</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="phone_block">
					<p>+7 (812) 952-05-38</p>
					<a href="#" class="button">Записаться на прием</a>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#"></a>
  			<form id="form3" action="mail.php" method="post">
  				<div class="modal_h1">Записаться на прием</div>
				<input type="text" name="name" class="main_input" placeholder="Имя:" required>
				<input type="text" name="phone" class="main_input" placeholder="Номер телефона" required>
				<button type="submit" class="sendbutton">Записаться на прием</button>
				<input type="hidden" name="formData" value="Заявка с сайта">
			</form>
        </div> 
<!-- END MODAL1 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize()
{
  var mapProp = {
    center: new google.maps.LatLng(59.988303,30.293886),
    zoom:18,
    disableDefaultUI:true,
    scrollwheel: false,    
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
  </body>
</html>