<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>РАДДЕНТ</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/fav_0.ico">	
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
<div class="top_wrap dbp">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li>Санкт-Петербург, ул. Школьная д.8 </li>
					<li>Станция метро "Черная Речка"</li>
					<li>Пн-Пт с 10:00 до 21:30; Сб-Вс с 10:00 до 20:00</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
					<a href="index.html"><img src="images/logo.png" alt="РАДДЕНT" class="logo"></a>
			</div>
			<div class="col-md-6 col-sm-6 dbm">
					<input type="search" class="search_input" onblur='if(this.value=="") this.value="Поиск по сайту"'  onfocus='if(this.value=="Поиск по сайту") this.value=""' value="Поиск по сайту">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="phone_block">
					<p>+7 (812) 952-05-38</p>
					<a href="#" class="button">Записаться<span class="dbp">на прием</span></a>
				</div>	
			</div>
		</div>
	</div>
</header>	
<!-- END HEADER -->
<!-- MENU -->
<div id="fixed">
	<div class="menu_bg" data-spy="affix" data-offset-top="150" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="nav navbar-inverse" >
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>	
							</button>
						</div>
						<div class="collapse navbar-collapse" id="mainNavBar">
							<ul class="nav navbar-nav ">
								<li><a href="about_us.html">О нас</a></li>
								<li><a href="uslugi.html" class="active">Услуги</a></li>
								<li><a href="doktor.html">Врачи</a></li>
								<li><a href="sale.html">Акции</a></li>
								<li><a href="price.html">Цены</a></li>
								<li><a href="work.html">Наши работы</a></li>
								<li><a href="review.html">Отзывы</a></li>
								<li><a href="contact.html">Контакты</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MENU -->
<!-- IMPLANTATION -->
<div class="contact_wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<div class="breadcrumbs">
				<a href="index.html">Главная </a><p>&nbsp;»&nbsp;</p><a href="uslugi.html">&nbsp;Услуги</a><p>&nbsp;»&nbsp;&nbsp;Имплантация</p>
			</div>
			</div>
		</div>
		<hr class="some_hr">	
		<div class="row">
			<div class="col-md-12">
				<div class="ab_title">Имплантация</div>
			</div>
		</div>	
			<div class="row">
				<div class="col-md-8">
					<div class="imp_title">Что это такое?</div>
					<div class="text_place">
					<p>На сегодняшний день имплантация уже не является диковинкой. Это одно из самых удачных направлений в стоматологии, которое успешно развивается в мире около 40 лет, а в России - около 20 лет.</p>
					<p>Чтобы установить имплантат, достаточно простого амбулаторного приёма. При соблюдении правил гигиены и отсутствии абсолютных противопоказаний срок службы имплантатов не ограничен! Для изготовления имплантатов компании-производители используют титан. Он биоинертный , обладает максимальной приживаемостью, не вызывает аллергических реакций.</p>
					<p>Имплантат представляет собой искусственный корень зуба, на который впоследствии устанавливается коронка – это видимая, наддесневая часть зуба.</p>
					<p>Для восстановления дефекта зубного ряда установить имплантат можно как при отсутствии одного зуба, так и при отсутствии всех зубов. Также они используются и для усиления фиксации съёмных протезов.</p>
				</div>
				</div>
				<div class="col-md-4">
					<div class="implant_bg">
						
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="video_bg">
	<div class="container">
		<div class="row">
		<iframe src="https://www.youtube.com/embed/xeYqU9CVxg0" frameborder="0" allowfullscreen class="youtube_video"></iframe>
		</div>
	</div>
</div>	
<!-- END IMPLANTATION-->
<!-- NUANCE -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="n_title">Нюансы, которые могут быть интересны пациенту</div>
				<div class="tooth_list">
				<p>После установки имплантата нужно выждать время около 3-х месяцев для того, чтобы произошло созревание кости вокруг имплантата, после чего на него устанавливается постоянная коронка. Другими словами, имплантат должен срастись с костью, или, “прижиться”. Срастается он более прочно и неподвижно, нежели свой собственный зуб. Плотное срастание происходит благодаря поверхности имплантата, которая имеет микрорельеф. Костная ткань за 3 месяца плотно окутывает поставленный имплантат, повторяя микрорельеф.</p>
				<p>На скорость интеграции с костью в том числе влияет плотность костной ткани в том месте, куда установили имплантат. Всего выделяют четыре типа костной ткани - от плотной до мягкой. Невысокая плотность может быть обусловлена наследственностью, возрастом , заболеваниями или отсутствием нагрузки на данный участок кости, если зуб удалили на этом участке несколько лет назад. <br>
				Однако неблагоприятный мягкий тип кости переходит в плотный после<img src="images/photo_list.jpg" alt="РАДДЕНT"> установки имплантата, поскольку кость получает правильную нагрузку. Совсем мягкий тип кости встречается редко. </p>
				<p>В течение всего времени с момента установки имплантата до начала протезирования имплантат находится под десной и никак себя не проявляет - не вызывает ощущений и не виден во рту.</p>
				<p>Перед постановкой коронки к имплантату прикручивается стандартная титановая деталь, так называемый формирователь десны, величиной 3-5 мм - для того, чтобы десна “обняла” формирователь так же, как она будет “обнимать” будущую коронку. Формирователь стоит во рту 2-3 недели до момента изготовления коронки. Он гладкий, не вызывает дискомфорта у пациента и не заметен для окружающих, если речь идёт о боковых зубах.</p>
				<p>В случае, если мы работаем с зубами, которые видны при улыбке, современные технологии позволяют сразу после имплантации изготовить временную коронку до момента установки постоянной, и окружающие не заметят изменений в вашей внешности, ваша улыбка не пострадает.</p>
			</div>
		</div>
	</div>
			<hr>
		<div class="row">
			<div class="col-md-12">
				<div class="n_title">Что выбрать: имплантат или мост?</div>
				<span class="example">Приведем несколько аргументов в пользу установки имплантатов.</span>
				<div class="tooth_list next_list">
					<p>Чтобы изготовить мостовидный протез, необходимо обработать соседние зубы, убрав с каждого из них определённое количество эмали и дентина, иначе говоря, обточить. И это нужно сделать только ради того, чтобы создать опору для отсутствующего зуба или двух зубов. Зачастую эти рядом стоящие зубы абсолютно здоровые и ни в чём не виноваты. Хотя при установке мостовидного протеза и соблюдается принцип “не навреди”, и обработанные зубы не разрушаются под коронками, но всё же проводятся манипуляции, которых можно избежать, если установить имплантат.</p>
					<p>Ресурс устойчивости зубов со временем может снизиться пропорционально длине мостовидного протеза. Это происходит из-за того, что опорные зубы, несущие на себе мостовидный протез, получают нагрузку, не прописанную им от природы, выполняя кроме своей работы, ещё и работу зубов, которых на них повесили. Разумеется, опорные зубы могут и не потерять ресурс в течение десятилетий, но зачем рисковать, если есть прекрасная возможность поставить имплантаты?</p>
					<p>Участок костной ткани, в котором находился ранее удалённый зуб (или зубы), со временем атрофируется без нагрузки подобно тому, как атрофируется любой орган от бездействия.Через несколько лет, если на этом месте придётся установить имплантаты по причинам,описанным в пункте 2, это может потребовать больше времени (вместо стандартных 3-х месяцев - до года и более) и получиться дороже. Это притом, что соседние зубы-то уже обточены - обидно. Если имплантат стоит на этом участке, костная ткань получает нагрузку, и атрофии не происходит.</p>
					<p>Однако бывают ситуации, в которых необходима именно установка моста. Мостовидные протезы очень удобны, при правильном и аккуратном изготовлении служат десятки лет, не причиняя никакого дискомфорта пациенту, и зубы под ними не разрушаются, вопреки распространённому мнению. В любом случае мы стараемся найти индивидуальный подход к каждому пациенту, учитывая особенности его организма.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="n_title smaller_f">Что выбрать: имплантат или мост?</div>
				<div class="imp_text">Когда пациент встаёт перед дилеммой - имплантат или съёмный протез, то тут выбор ещё более очевиден, так как помимо той же атрофии костной ткани под съёмным протезом, человек получает значительные неудобства, снижающие эффективность жевания и качество жизни. Даже при безукоризненном выполнении съёмного протезирования, оно никогда близко не сравнится с несъёмным протезированием на имплантатах.</div>
				<div class="n_title smaller_f">Чем рискует пациент при неприживлении имплантата?</div>
				<div class="imp_text">По статистике процент так называемой приживаемости современных имплантатов составляет 98%. Поскольку мы имеем в виду не приживление как таковое, а просто срастание с костью, то риск заключается только в том, что имплантат просто может не срастись с ней, или не “приклеиться” к кости. В этом случае никакого вреда для здоровья не происходит.</div>
				<div class="imp_text">Мы производим повторную установку имплантата бесплатно - в тех редких случаях, когда он не прирос к кости, тем самым делая успех имплантации 100%-ным.</div>
				<div class="n_title smaller_f">Степень сложности имплантации</div>
				<div class="imp_text">Когда имеется недостаток костной ткани от природы или вследствие её значительной атрофии, то в этом случае нужно специально наращивать костную ткань, чтобы создать её объём, необходимый для фиксации имплантата. Высокий профессионализм и большой клинический опыт наших специалистов позволяет проводить имплантацию даже в самых сложных случаях и без дискомфорта для пациента.</div>
			</div>
		</div>	

</div>
<!-- END NUANCE -->
<!-- DREAM SMILE -->
<div class="smile_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">Как получить улыбку мечты?</div>
			</div>
		</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="smile_block">
						<img src="images/photo_smile.jpg" alt="РАДДЕНT">
						<div class="smile_title">Запись по телефону</div>
						<div class="smile_text">Администратор ответит на вопросы, проконсультирует по ценам и подберет для Вас удобное время записи на прием. </div>
						<div class="price_smile">
							<p><img src="images/icon_time.png" alt="РАДДЕНT">3-5 минут</p>
							<p><img src="images/icon_price.png" alt="РАДДЕНT">Бесплатно</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="smile_block">
						<img src="images/photo_smile1.jpg" alt="РАДДЕНT">
						<div class="smile_title">Первичная консультация</div>
						<div class="smile_text">Врач выслушает Ваши жалобы и пожелания, ответит на Ваши вопросы. Проведет осмотр и даст рекомендации для дальнейшего обследования и лечения.</div>
						<div class="price_smile">
							<p><img src="images/icon_time.png" alt="РАДДЕНT">15-40 минут</p>
							<p><img src="images/icon_price.png" alt="РАДДЕНT">400 руб.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="smile_block">
						<img src="images/photo_smile2.jpg" alt="РАДДЕНT">
						<div class="smile_title">Лечение</div>
						<div class="smile_text">Перед началом лечения врач расскажет Вам о планируемых манипуляциях, их продолжительности, предупредит о возможном дискомфорте и ограничениях во время и после приема. Проведет назначенные процедуры и лечение, даст рекомендации и при необходимости назначит дату повторного посещения кабинета.</div>
						<div class="price_smile">
							<p><img src="images/icon_time.png" alt="РАДДЕНT">От 40 минут</p>
							<p><img src="images/icon_price.png" alt="РАДДЕНT">От 2500 руб.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END DREAM SMILE -->
<!-- FORM CONSULTATION -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="imp_form_bg">
				<div class="imp_form_bg_title">Записаться на прием</div>
				<form action="">
					<input type="text" placeholder="Ваше имя:" class="imp_input">
					<input type="text" placeholder="Ваш телефон:" class="imp_input">
					<input type="submit" value="Записаться на прием" class="sumbit_imp">
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END FORM CONSULTATION -->
<!-- PRICE TABLE -->
<div class="prices_bg">
	<div class="container">
		<div class="row">
				<div class="col-md-12">
					<div class="h1_main">Наши цены</div>
				</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<table>
					<tr>
						<td>Консультация<span>*</span></td>
						<td align="center">400 руб</td>
					</tr>
					<tr class="other_bg">
						<td>Расширенная консультация* (составление плана лечения, анализ Компьютерной томограммы)</td>
						<td align="center">1 000 руб</td>
					</tr>
					<tr>
						<td>Установка имплантата Adin (Израиль)</td>
						<td align="center">21 500 руб</td>
					</tr>
					<tr class="other_bg">
						<td>Имплантация системы Adin (Израиль) "под ключ" (с коронкой)</td>
						<td align="center">40 600 руб</td>
					</tr>
					<tr>
						<td>Установка имплантата MIS C1 (Израиль)</td>
						<td align="center">23 800 руб</td>
					</tr>
					<tr class="other_bg">
						<td>Имлантация системы MIS С1 (Израиль) "под ключ" (с коронкой)</td>
						<td align="center">44 000 руб</td>
					</tr>
					<tr>
						<td>Установка имплантата MIS Seven (Израиль)</td>
						<td align="center">22 300 руб</td>
					</tr>
					<tr class="other_bg">
						<td>Имплантация системы MIS Seven (Израиль) "под ключ" (с коронкой)</td>
						<td align="center">42 800 руб</td>
					</tr>
					<tr>
						<td style="width: 75%;">Поднятие дна гайморовой пазухи (открытый синус-лифтинг)</td>
						<td align="center">17 500 - 25 000 руб</td>
					</tr>
					<tr class="other_bg">
						<td>Пересадка костного трансплантата</td>
						<td align="center">19 600 - 27 600  руб</td>
					</tr>
	        	</table>
	        	<p><span>*</span>Если пациент остаётся лечиться, то стоимость консультации вычитается из стоимости лечения.</p>	
			</div>
		</div>
	</div>
</div>
<!-- END PRICE TABLE -->
<!-- PLACE -->
<div class="place_wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">Лечение зубов в Петербурге</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="text_place">
					<p>Мы приветствуем вас на сайте стоматологической клиники «Раддент» Организатором клиники «Раддент» является думающий, ответственный врач-стоматолог с 15-летним стажем работы, он же – главный врач клиники Радиевский Владислав Иванович (подробнее в разделе «Наши Специалисты»).</p>
					<p>Стоматология — его призвание. Некоторые из работ Владислава Ивановича можно увидеть в разделе «Примеры работ». Мы не жалеем времени для пациента ради того, чтобы получить действительно качественный результат.</p>
					<p>У главного врача клиники «Раддент» Радиевского В.И. ювелирное исполнение ортопедических работ (протезирование), гарантирующее сохранность ваших зубов под коронками, винирами, вкладками, реставрациями и т.д. в течение очень долгих лет. Это значит, что вам не будут грозить такие побочные эффекты, как, например, воспаление десны вокруг коронок, неприятный запах, застревание пищи между зубами или под коронками. При этом все работы красивые и удобные.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form_wrap">
					<form action="">
						<div class="form_title">Записаться на прием</div>
						<input type="text" class="place_input" name="name" placeholder="Ваше имя:">
						<input type="text" class="place_input" name="phone" placeholder="Ваш телефон:">
						<button type="submit" class="send_place">Записаться на прием</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END PLACE -->
<!-- PHOTO CLINIC -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">Фотографии нашей клиники</div>
			</div>
		</div>
	</div>
	<div class="clinic_wrap">
		<div class="clinic_block">
			<img src="images/photo_clinic1.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic2.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic3.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic4.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic5.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic6.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic7.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic8.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>

	</div>
<!-- END PHOTO CLINIC -->
<!-- MAP -->
<div id="googleMap"></div>
<!-- END MAP -->
<!-- FOOTER -->
<div class="footer_bg">
	<div class="container">
		<div class="row dbp">
			<div class="col-md-12">
				<ul class="menu_bottom">
					<li><a href="#">О нас</a></li>
					<li><a href="#">Услуги</a></li>
					<li><a href="#">Врачи</a></li>
					<li><a href="#">Акции</a></li>
					<li><a href="#">Цены</a></li>
					<li><a href="#">Наши работы</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="copyright">
					<p>© 2010-2016 Все права принадлежат<br> клинике "Раддент"</p>
					<a href="#" class="vk"></a>
					<a href="#" class="facebook"></a>
					<a href="#" class="youtube"></a>
					<a href="#" class="twitter"></a>
					<a href="#" class="instagram"></a>
				</div>
			</div>
			<div class="col-md-4 dbp">
				<div class="adress">
					<p>Санкт-Петербург, ул. Школьная д.8</p>
					<p>Станция метро "Черная Речка"</p>
					<p>Пн-Пт с 10:00 до 21:30; Сб-Вс с 10:00 до 20:00</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="phone_block">
					<p>+7 (812) 952-05-38</p>
					<a href="#" class="button">Записаться на прием</a>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#"></a>
  			<form id="form3" action="mail.php" method="post">
  				<div class="modal_h1">Записаться на прием</div>
				<input type="text" name="name" class="main_input" placeholder="Имя:" required>
				<input type="text" name="phone" class="main_input" placeholder="Номер телефона" required>
				<button type="submit" class="sendbutton">Записаться на прием</button>
				<input type="hidden" name="formData" value="Заявка с сайта">
			</form>
        </div> 
<!-- END MODAL1 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize()
{
  var mapProp = {
    center: new google.maps.LatLng(59.988303,30.293886),
    zoom:18,
    disableDefaultUI:true,
    scrollwheel: false,    
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
  </body>
</html>