<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>РАДДЕНТ</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/fav_0.ico">	
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
<div class="top_wrap dbp">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li>Санкт-Петербург, ул. Школьная д.8 </li>
					<li>Станция метро "Черная Речка"</li>
					<li>Пн-Пт с 10:00 до 21:30; Сб-Вс с 10:00 до 20:00</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
					<a href="index.html"><img src="images/logo.png" alt="РАДДЕН" class="logo"></a>
			</div>
			<div class="col-md-6 col-sm-6 dbm">
					<input type="search" class="search_input" onblur='if(this.value=="") this.value="Поиск по сайту"'  onfocus='if(this.value=="Поиск по сайту") this.value=""' value="Поиск по сайту">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="phone_block">
					<p>+7 (812) 952-05-38</p>
					<a href="#" class="button">Записаться<span class="dbp">на прием</span></a>
				</div>	
			</div>
		</div>
	</div>
</header>	
<!-- END HEADER -->
<!-- MENU -->
<div id="fixed">
	<div class="menu_bg" data-spy="affix" data-offset-top="150" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="nav navbar-inverse" >
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>	
							</button>
						</div>
						<div class="collapse navbar-collapse" id="mainNavBar">
							<ul class="nav navbar-nav ">
								<li><a href="about_us.html">О нас</a></li>
								<li><a href="uslugi.html">Услуги</a></li>
								<li><a href="doktor.html">Врачи</a></li>
								<li><a href="sale.html">Акции</a></li>
								<li><a href="price.html">Цены</a></li>
								<li><a href="work.html">Наши работы</a></li>
								<li><a href="review.html">Отзывы</a></li>
								<li><a href="contact.html">Контакты</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MENU -->
<!-- MAIN_PHOTO -->
<div class="main_photo_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-7 col-xs-12">
				<div class="man_text_block">
					<span>Радиевский Владислав Иванович, главный врач клиники «Раддент»
					стоматолог-ортопед, <br class="dbmobile">хирург-имплантолог</span>
					<h1>Я отвечаю за качество</h1>
					<p class="dbm">Ювелирное исполнение ортопедических работ (протезирование), гарантирующее сохранность ваших зубов под коронками, винирами, вкладками, реставрациями и т.д. в течение очень долгих лет.</p>
				</div>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12">
				<img src="images/man.png" alt="Радиевский" class="doctor_main_photo">
			</div>
		</div>
	</div>
</div>
<!-- END MAIN_PHOTO -->
<!-- SERVICES -->
<div class="circles_wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">Наши услуги</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<a href="#" class="circle_block icon1">Терапевтическая стоматология</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="implantation.html" class="circle_block icon2">Имплантация</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#" class="circle_block icon3">Ортодонтия</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#" class="circle_block icon4">Отбеливание</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<a href="#" class="circle_block icon5">Пародонтология</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#" class="circle_block icon6">Протезирование</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#" class="circle_block icon7">Гигиена полости рта</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#" class="circle_block icon8">Хирургическая стоматология</a>
			</div>
		</div>
	</div>
</div>
<!-- EDND SERVICES -->
<!-- WORKS -->
<div class="works_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">Наши работы</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tabs">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a href="#tab-1" data-toggle="tab">Все</a></li>
						<li><a href="#tab-2" data-toggle="tab">Терапевтические</a></li>
						<li><a href="#tab-3" data-toggle="tab">Хирургические</a></li>
						<li><a href="#tab-4" data-toggle="tab">Отбеливание</a></li>
					</ul>
				</div>
				<div class="tab-content">
						<div class="tab-pane active" id="tab-1">
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img2.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img3.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>							
						</div>	
						<div class="tab-pane" id="tab-2">
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img2.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img3.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>	
						</div>
						<div class="tab-pane" id="tab-3">
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img2.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img3.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>	
						</div>
						<div class="tab-pane" id="tab-4">
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img2.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img3.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>
							<div class="img_block">
							<img src="images/tab_img1.jpg" alt="РАДДЕНТ" class="main_tab_img">
							<div class="hover_info">
								<img src="images/zoom_big_img.png" alt="РАДДЕНТ">
								<div class="portfolio_info">У пациента произошёл отлом коронковой части верхнего резца.</div>
								<a href="">Подробнее</a>
							</div>
							</div>	
						</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<!-- END WORKS -->
<!-- PLACE -->
<div class="place_wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">Лечение зубов в Петербурге</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="text_place">
					<p>Мы приветствуем вас на сайте стоматологической клиники «Раддент» Организатором клиники «Раддент» является думающий, ответственный врач-стоматолог с 15-летним стажем работы, он же – главный врач клиники Радиевский Владислав Иванович (подробнее в разделе «Наши Специалисты»).</p>
					<p>Стоматология — его призвание. Некоторые из работ Владислава Ивановича можно увидеть в разделе «Примеры работ». Мы не жалеем времени для пациента ради того, чтобы получить действительно качественный результат.</p>
					<p>У главного врача клиники «Раддент» Радиевского В.И. ювелирное исполнение ортопедических работ (протезирование), гарантирующее сохранность ваших зубов под коронками, винирами, вкладками, реставрациями и т.д. в течение очень долгих лет. Это значит, что вам не будут грозить такие побочные эффекты, как, например, воспаление десны вокруг коронок, неприятный запах, застревание пищи между зубами или под коронками. При этом все работы красивые и удобные.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form_wrap">
					<form action="">
						<div class="form_title">Записаться на прием</div>
						<input type="text" class="place_input" name="name" placeholder="Ваше имя:">
						<input type="text" class="place_input" name="phone" placeholder="Ваш телефон:">
						<button type="submit" class="send_place">Записаться на прием</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END PLACE -->
<!-- DOCTORS -->
<div class="works_bg doc">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="h1_main">Наши врачи</div>
				<div class="doctors_wrap">
					<div id="myCarousel" class="carousel slide section_h1">
						<!-- Индикаторы слайдов -->
							<!-- Слайды -->
							<div class="carousel-inner">
								<div class="item active">
									<img src="images/doctor_photo1.png" alt="РАДДЕНТ">
									<div class="title_slider">Радиевский Владислав Иванович</div>
									<p>Главный врач. Стоматолог-ортопед,хирург, пародонтолог</p>
								</div>
								<div class="item">
									<img src="images/doctor_photo1.png" alt="РАДДЕНТ">
									<div class="title_slider">Радиевский Владислав Иванович</div>
									<p>Главный врач. Стоматолог-ортопед,хирург, пародонтолог</p>
								</div>
								<div class="item">
									<img src="images/doctor_photo1.png" alt="РАДДЕНТ">
									<div class="title_slider">Радиевский Владислав Иванович</div>
									<p>Главный врач. Стоматолог-ортопед,хирург, пародонтолог</p>
								</div>
								<div class="item">
									<img src="images/doctor_photo1.png" alt="РАДДЕНТ">
									<div class="title_slider">Радиевский Владислав Иванович</div>
									<p>Главный врач. Стоматолог-ортопед,хирург, пародонтолог</p>
								</div>
								<div class="item">
									<img src="images/doctor_photo1.png" alt="РАДДЕНТ">
									<div class="title_slider">Радиевский Владислав Иванович</div>
									<p>Главный врач. Стоматолог-ортопед,хирург, пародонтолог</p>
								</div>		
						</div>
						<!-- ARROWS -->
						<a href="#myCarousel" class="left-carousel-control vps1" data-slide="prev">
						</a>
						<a href="#myCarousel" class="right-carousel-control vps1" data-slide="next">
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="acordeon_wrap">
					<div class="acordeon_content">
						<div class="h1_main">Наши статьи</div>
						<div id="acordeon" class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading bt1 active">
									<div class="panel-title bt">
										<a href="#collapse-1" data-parent="#acordeon" data-toggle="collapse" class="accordion-toggle">Подробнее о кариесе</a>
									</div>
								</div>
								<div id="collapse-1" class="panel-collapse collapse in">
									<div class="panel-body">

										<p><img src="images/acordeon_igm1.jpg" alt="РАДДЕНТ" class="left_img">Поможет сохранить здоровье зубов, закрепит результаты лечения у стоматолога!
										Данная система поможет скомпенсировать недостаток фтора в питьевой воде. Как известно, во многих регионах России есть этот недостаток, и Санкт-Петербург - не исключение.<br>
										Мы предлагаем вам пройти курс профилактики кариеса, укрепить ваши зубы при помощи комплексной профилактической системы “Dental Resources” (пр-во США).</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="panel-title">
										<a href="#collapse-2" data-parent="#acordeon"  data-toggle="collapse" class="accordion-toggle">Профилактическая система Dental Resources</a>
									</div>
								</div>
								<div id="collapse-2" class="panel-collapse collapse">
									<div class="panel-body">
										<p><img src="images/acordeon_igm1.jpg" alt="РАДДЕНТ" class="left_img">Поможет сохранить здоровье зубов, закрепит результаты лечения у стоматолога!
										Данная система поможет скомпенсировать недостаток фтора в питьевой воде. Как известно, во многих регионах России есть этот недостаток, и Санкт-Петербург - не исключение.<br>
										Мы предлагаем вам пройти курс профилактики кариеса, укрепить ваши зубы при помощи комплексной профилактической системы “Dental Resources” (пр-во США).</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="panel-title">
										<a href="#collapse-3" data-parent="#acordeon"  data-toggle="collapse" class="accordion-toggle">Занимательная терапевтическая стоматология</a>
									</div>
								</div>
								<div id="collapse-3" class="panel-collapse collapse">
									<div class="panel-body">
										<p><img src="images/acordeon_igm1.jpg" alt="РАДДЕНТ" class="left_img">Поможет сохранить здоровье зубов, закрепит результаты лечения у стоматолога!
										Данная система поможет скомпенсировать недостаток фтора в питьевой воде. Как известно, во многих регионах России есть этот недостаток, и Санкт-Петербург - не исключение.<br>
										Мы предлагаем вам пройти курс профилактики кариеса, укрепить ваши зубы при помощи комплексной профилактической системы “Dental Resources” (пр-во США).</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END DOCTORS -->
<!-- ADVICES -->
<div class="advices_wrap">
	<div class="container"> 
		<div class="row">
			<div class="col-md-7">
				<div class="h1_main">Наши советы</div>
				<ul>
					<li>У вас не хватает одного или нескольких зубов?<span>Имплантация-прекрасное решение проблемы! Имплантация - прекрасное решение проблемы</span></li>
					<li>Страдаете от повышенной чувствительности зубов?<span>Прочтите нашу статью и узнайте как избавить себя от этой неприятности.</span></li>
					<li>Хотите иметь цвет зубов светлее, чем ваш естественный?<span>Добро пожаловать к нам! Аппаратное отбеливание - эффективный и безопасный способ сделать ваши зубы белее!</span></li>
				</ul>
			</div>
			<div class="col-md-5 dbp">
				<img src="images/girl.jpg" alt="РАДДЕНТ">
			</div>
		</div>
	</div>
	<div class="advices_bg"></div>
</div>
<!-- END ADVICES -->
<!-- PHOTO CLINIC -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">Фотографии нашей клиники</div>
			</div>
		</div>
	</div>
	<div class="clinic_wrap">
		<div class="clinic_block">
			<img src="images/photo_clinic1.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic2.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic3.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic4.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic5.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic6.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic7.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>
		<div class="clinic_block">
			<img src="images/photo_clinic8.jpg" alt="РАДДЕНТ" class="main_clinic_photo">
			<div class="hover_info">
				<img src="images/zoom_large.png" alt="РАДДЕНТ">
			</div>
		</div>

	</div>
<!-- END PHOTO CLINIC -->
<!-- REVIEWS -->
<div class="reviews_bg clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">Отзывы довольных клиентов</div>
				<div id="myCarousel2" class="carousel slide section_h1">
						<!-- Индикаторы слайдов -->
							<!-- Слайды -->
							<div class="carousel-inner">
								<div class="item active">
									<img src="images/photo_slider2.png" alt="РАДДЕНТ">
									<div class="title_slider2">Серафима Велижанина</div>
									<p>Наталья Валентиновна прекрасный специалист и просто удивительный человек! Атмосфера во время приема действительно на столько приятная и комфортная, что я даже засыпала в стоматологическом кресле. В Радденте 3 года назад ставила коронку, и год назад удаляла все восьмерки! Осталась очень довольна, как самой клиникой, так и работой Натальи Валентиновны. Все прошло практически безболезненно, хотя...  <a href="#">Подробнее...</a></p>
								</div>
								<div class="item">
									<img src="images/photo_slider2.png" alt="РАДДЕНТ">
									<div class="title_slider2">Серафима Велижанина</div>
									<p>Наталья Валентиновна прекрасный специалист и просто удивительный человек! Атмосфера во время приема действительно на столько приятная и комфортная, что я даже засыпала в стоматологическом кресле. В Радденте 3 года назад ставила коронку, и год назад удаляла все восьмерки! Осталась очень довольна, как самой клиникой, так и работой Натальи Валентиновны. Все прошло практически безболезненно, хотя...  <a href="#">Подробнее...</a></p>
								</div>
								<div class="item">
									<img src="images/photo_slider2.png" alt="РАДДЕНТ">
									<div class="title_slider2">Серафима Велижанина</div>
									<p>Наталья Валентиновна прекрасный специалист и просто удивительный человек! Атмосфера во время приема действительно на столько приятная и комфортная, что я даже засыпала в стоматологическом кресле. В Радденте 3 года назад ставила коронку, и год назад удаляла все восьмерки! Осталась очень довольна, как самой клиникой, так и работой Натальи Валентиновны. Все прошло практически безболезненно, хотя...  <a href="#">Подробнее...</a></p>
								</div>
								<div class="item">
									<img src="images/photo_slider2.png" alt="РАДДЕНТ">
									<div class="title_slider2">Серафима Велижанина</div>
									<p>Наталья Валентиновна прекрасный специалист и просто удивительный человек! Атмосфера во время приема действительно на столько приятная и комфортная, что я даже засыпала в стоматологическом кресле. В Радденте 3 года назад ставила коронку, и год назад удаляла все восьмерки! Осталась очень довольна, как самой клиникой, так и работой Натальи Валентиновны. Все прошло практически безболезненно, хотя...  <a href="#">Подробнее...</a></p>
								</div>
								<div class="item">
									<img src="images/photo_slider2.png" alt="РАДДЕНТ">
									<div class="title_slider2">Серафима Велижанина</div>
									<p>Наталья Валентиновна прекрасный специалист и просто удивительный человек! Атмосфера во время приема действительно на столько приятная и комфортная, что я даже засыпала в стоматологическом кресле. В Радденте 3 года назад ставила коронку, и год назад удаляла все восьмерки! Осталась очень довольна, как самой клиникой, так и работой Натальи Валентиновны. Все прошло практически безболезненно, хотя...  <a href="#">Подробнее...</a></p>
								</div>		
						</div>
						<!-- ARROWS -->
						<a href="#myCarousel2" class="left-carousel-control vps1" data-slide="prev">
						</a>
						<a href="#myCarousel2" class="right-carousel-control vps1" data-slide="next">
						</a>
					</div>
			</div>
		</div>
	</div>
</div>
<!-- END REVIEWS -->
<!-- MAP -->
<div id="googleMap"></div>
<!-- END MAP -->
<!-- FOOTER -->
<div class="footer_bg">
	<div class="container">
		<div class="row dbp">
			<div class="col-md-12">
				<ul class="menu_bottom">
					<li><a href="#">О нас</a></li>
					<li><a href="#">Услуги</a></li>
					<li><a href="#">Врачи</a></li>
					<li><a href="#">Акции</a></li>
					<li><a href="#">Цены</a></li>
					<li><a href="#">Наши работы</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="copyright">
					<p>© 2010-2016 Все права принадлежат<br> клинике "Раддент"</p>
					<a href="#" class="vk"></a>
					<a href="#" class="facebook"></a>
					<a href="#" class="youtube"></a>
					<a href="#" class="twitter"></a>
					<a href="#" class="instagram"></a>
				</div>
			</div>
			<div class="col-md-4 dbp">
				<div class="adress">
					<p>Санкт-Петербург, ул. Школьная д.8</p>
					<p>Станция метро "Черная Речка"</p>
					<p>Пн-Пт с 10:00 до 21:30; Сб-Вс с 10:00 до 20:00</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="phone_block">
					<p>+7 (812) 952-05-38</p>
					<a href="#" class="button">Записаться на прием</a>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#"></a>
  			<form id="form3" action="mail.php" method="post">
  				<div class="modal_h1">Записаться на прием</div>
				<input type="text" name="name" class="main_input" placeholder="Имя:" required>
				<input type="text" name="phone" class="main_input" placeholder="Номер телефона" required>
				<button type="submit" class="sendbutton">Записаться на прием</button>
				<input type="hidden" name="formData" value="Заявка с сайта">
			</form>
        </div> 
<!-- END MODAL1 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize()
{
  var mapProp = {
    center: new google.maps.LatLng(59.988303,30.293886),
    zoom:18,
    disableDefaultUI:true,
    scrollwheel: false,    
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
  </body>
</html>