<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>РАДДЕНТ</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/fav_0.ico">	
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link href="css/flipclock.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
<div class="top_wrap dbp">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li>Санкт-Петербург, ул. Школьная д.8 </li>
					<li>Станция метро "Черная Речка"</li>
					<li>Пн-Пт с 10:00 до 21:30; Сб-Вс с 10:00 до 20:00</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
					<a href="index.html"><img src="images/logo.png" alt="РАДДЕНT" class="logo"></a>
			</div>
			<div class="col-md-6 col-sm-6 dbm">
					<input type="search" class="search_input" onblur='if(this.value=="") this.value="Поиск по сайту"'  onfocus='if(this.value=="Поиск по сайту") this.value=""' value="Поиск по сайту">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="phone_block">
					<p>+7 (812) 952-05-38</p>
					<a href="#" class="button">Записаться<span class="dbp">на прием</span></a>
				</div>	
			</div>
		</div>
	</div>
</header>	
<!-- END HEADER -->
<!-- MENU -->
<div id="fixed">
	<div class="menu_bg" data-spy="affix" data-offset-top="150" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="nav navbar-inverse" >
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>	
							</button>
						</div>
						<div class="collapse navbar-collapse" id="mainNavBar">
							<ul class="nav navbar-nav ">
								<li><a href="about_us.html">О нас</a></li>
								<li><a href="uslugi.html">Услуги</a></li>
								<li><a href="doktor.html">Врачи</a></li>
								<li><a href="sale.html">Акции</a></li>
								<li><a href="price.html">Цены</a></li>
								<li><a href="work.html" class="active">Наши работы</a></li>
								<li><a href="review.html">Отзывы</a></li>
								<li><a href="contact.html">Контакты</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MENU -->
<!-- CONTACT -->
<div class="works_bg">
	<div class="contact_wrap pdnone">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				<div class="breadcrumbs">
					<a href="index.html">Главная </a><p>» Наши работы</p>
				</div>
				</div>
			</div>
			<hr class="some_hr">	
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="ab_title">Наши работы</div>
				</div>
			</div>
			<div class="row">
			<div class="filter_wrap clearfix">
				<div class="col-md-2 col-sm-2"><a href="#" class="active">Все</a></div>
				<div class="col-md-3 col-sm-3"><a href="#">Терапевтические</a></div>
				<div class="col-md-3 col-sm-3"><a href="#">Хирургические</a></div>
				<div class="col-md-2 col-sm-2"><a href="#">Отбеливание</a></div>
			</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img1.jpg" alt="РАДДЕНT">
						<img src="images/work_img2.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>У пациента произошёл отлом коронковой части верхнего резца.</p>
						<span>Проведенные работы</span>
						<p>Из-за ненадёжности корня принято решение удалить корень и поставить в то же посещение имплантат. Через 3 месяца на имплантат установили металлокерамическую реставрацию. В течение 3-х месяцев пациент ходил с временной реставрацией, которую изготовили сразу после имплантации.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img3.jpg" alt="РАДДЕНT">
						<img src="images/work_img4.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>Пациент пришёл несколько лет назад с множественным кариозным поражением зубов и выраженной патологической стираемостью эмали.</p>
						<span>Проведенные работы</span>
						<p>Были установлены металлокерамические реставрации на все зубы (28 штук).Фотографии до лечения не сохранились. Данные фото-спустя 4 года после лечения</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img5.jpg" alt="РАДДЕНT">
						<img src="images/work_img6.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>Пациент-девочка в возрасте 11 лет. На фото-2 зуба с кариесом. Это постоянный, большой коренной и молочный зубы.</p>
						<span>Проведенные работы</span>
						<p>Проведено лечение кариеса постоянного коренного зуба материалом Estellite PA2 (Япония) , а также удаление молочного зуба, на смену которого быстро пришёл постоянный.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img7.jpg" alt="РАДДЕНT">
						<img src="images/work_img8.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>Пациент с кариесом на верхнем шестом зубе слева..</p>
						<span>Проведенные работы</span>
						<p>Проведено плановое лечение кариеса с использованием материала Filtek P60 (США).</p>
					</div>
				</div>
			</div>
			<div class="row dbm">
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img9.jpg" alt="РАДДЕНT">
						<img src="images/work_img10.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>Пациента не устраивал внешний вид верхних четырёх передних зубов. </p>
						<span>Проведенные работы</span>
						<p>Были установлены виниры из прессованной керамики E-max, а также проведено хирургическое лечение пародонтальных карманов на данных зубах. Пациенту также объяснена необходимость плановой санации полости рта, лечения и протезирования остальных зубов.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img11.jpg" alt="РАДДЕНT">
						<img src="images/work_img12.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>У пациента отсутствовало 2 зуба на нижней челюсти справа. Это зубы "7" и "6".</p>
						<span>Проведенные работы</span>
						<p>Были установлены 2 имплантата системы MIS (Израиль). Спустя 3 
месяца на них изготовлены металлокерамические реставрации. Пациент с удовольствием жуёт любую пищу без ограничений и очень доволен, что не выбрал альтернативный способ замещения дефекта-съёмный протез.</p>
					</div>
				</div>
			</div>
			<div class="row dbm">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="works_block">
						<img src="images/work_img13.jpg" alt="РАДДЕНT">
						<img src="images/work_img14.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>Пациент обратился с полным отсутствием зубов на верхней челюсти и с частичным-на нижней. До этого он носил съёмные протезы.</p>
						<span>Проведенные работы</span>
						<p>Были установлены 8 имплантатов на верхней челюсти, причём одномоментно 6, а спустя 3 месяца, справа-ещё 2. Один из имплантатов был установлен с одномоментным открытым синус-лифтингом (поднятием дна гайморовой пазухи).На нижней челюсти установлены 5 имплантатов. Заключительным этапом стало изготовление металлокерамических реставраций и реставраций на основе диоксида циркония.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="works_block">
						<img src="images/work_img15.jpg" alt="РАДДЕНT">
						<img src="images/work_img16.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>Пациент обратился в 2007 году с крайней степенью стираемости твёрдых тканей зубов и всевозможными деформациями и смещениями зубного ряда.</p>
						<span>Проведенные работы</span>
						<p>Из-за ненадёжности корня принято решение удалить корень и поставить в то же посещение имплантат. Через 3 месяца на имплантат установили металлокерамическую реставрацию. В течение 3-х месяцев пациент ходил с временной реставрацией, которую изготовили сразу после имплантации.</p>
					</div>
				</div>
			</div>
			<div class="row dbm">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="works_block">
						<img src="images/work_img17.jpg" alt="РАДДЕНT">
						<img src="images/work_img18.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>Пациента не устраивал внешний вид зубов</p>
						<span>Проведенные работы</span>
						<p>Были изготовлены 20 виниров. Женщина призналась, что помолодела на 10 лет. Вместо 48 стало 38</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="works_block">
						<img src="images/work_img19.jpg" alt="РАДДЕНT">
						<img src="images/work_img20.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>Неудовлетворительный внешний вид верхнего центрального резца..</p>
						<span>Проведенные работы</span>
						<p>Изготовлена коронка на диоксиде циркония.</p>
					</div>
				</div>
			</div>
			<div class="row dbm">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="works_block">
						<img src="images/work_img21.jpg" alt="РАДДЕНT">
						<img src="images/work_img22.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>Пациент был не доволен внешним видом зубов и испытывал неудобства при жевании по причине стираемости эмали.</p>
						<span>Проведенные работы</span>
						<p>Было изготовлено 27 керамических реставраций на основе диоксида циркония. Цвет был выбран самый светлый из возможных. В процессе работы ни один зуб не депульпировали(не удаляли нерв).</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img23.jpg" alt="РАДДЕНT">
						<img src="images/work_img24.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>Девушка была не довольна внешним видом передних зубов</p>
						<span>Проведенные работы</span>
						<p>Была проведена работа по изготовлению и установке керамических коронок на основе диоксида циркония в количестве 9 штук.</p>
					</div>
				</div>
			</div>
			<div class="row dbm">
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img25.jpg" alt="РАДДЕНT">
						<img src="images/work_img26.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>У пациента были незначительные сколы эмали двух верхних центральных резцов</p>
						<span>Проведенные работы</span>
						<p>Режущие края резцов были восстановлены светоотверждаемым пломбировочным материалом</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img27.jpg" alt="РАДДЕНT">
						<img src="images/work_img28.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>Пациента не устраивал внешний вид верхних передних зубов</p>
						<span>Проведенные работы</span>
						<p>Центральные зубы были ранее депульпированы. На них установили керамические реставрации на основе диоксида циркония. На боковых резцах реставрации не нуждались в замене, их просто заполировали.</p>
					</div>
				</div>
			</div>
			<div class="row dbm">
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img29.jpg" alt="РАДДЕНT">
						<img src="images/work_img30.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>У девушки на верхних зубах были дефектные пломбы. Это 4-е и 5-е зубы с обеих сторон, а также резцы..</p>
						<span>Проведенные работы</span>
						<p>После лечения каналов данных зубов и обработки их под циркониевые вкладки изготовили сразу же временные коронки для того, чтобы не снижалось качество жизни пациента.
Спустя 10 дней установили циркониевые коронки на данные зубы.</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img31.jpg" alt="РАДДЕНT">
						<img src="images/work_img32.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>Девушку не устраивали внешний вид верхних центральных зубов и щель между ними (диастема). Зубы были депульпированы ещё в детстве.</p>
						<span>Проведенные работы</span>
						<p>Обработали верхние центральные зубы под циркониевые вкладки и сразу же изготовили временные коронки, чтобы не страдал внешний вид.
На изготовленные циркониевые вкладки установили циркониевые коронки. Пациенту объяснена необходимость ортодонтического лечения с помощью брекет-системы.</p>
					</div>
				</div>
			</div>
			<div class="row dbm">
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img33.jpg" alt="РАДДЕНT">
						<img src="images/work_img34.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>У пациента была повышенная стираемость эмали, чувствительность зубов от холодного, горячего, кислого. Также его не устраивал внешний вид зубов.</p>
						<span>Проведенные работы</span>
						<p>Были установлены 28 одиночных циркониевых коронок Prettau. Благодаря деликатной обработке зубов, ни один зуб не пришлось депульпировать (удалять нерв).</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="works_block">
						<img src="images/work_img35.jpg" alt="РАДДЕНT">
						<img src="images/work_img36.jpg" alt="РАДДЕНT">
						<span>Проблема</span>
						<p>У мужчины был эстетический дефект верхних передних зубов, а также повышенная стираемость эмали и отсутствие нескольких боковых зубов.</p>
						<span>Проведенные работы</span>
						<p>Восстановлены циркониевыми коронками Prettau верхние передние зубы. Установлены имплантаты в области боковых зубов. На имплантаты тоже установлены циркониевые коронки Prettau. К пациенту вернулись жевательная эффективность на 100% и эстетический вид верхних зубов. На нижних передних зубах просто провели гигиеническую чистку (сняли налёт). Пациент решил не восстанавливать нижние передние зубы коронками из-за повышенной стираемости эмали, так как экстренных показаний к этому нет. Стираемость эмали теперь заметно приостановится или совсем прекратится за счёт того, что появились жевательные зубы. Верхние передние зубы обработали под циркониевые коронки деликатно и щадяще. Благодаря этому зубы не пришлось депульпировать (удалять нерв).</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</div>
<!-- MAP -->
<div id="googleMap"></div>
<!-- END MAP -->
<!-- FOOTER -->
<div class="footer_bg">
	<div class="container">
		<div class="row dbp">
			<div class="col-md-12">
				<ul class="menu_bottom">
					<li><a href="#">О нас</a></li>
					<li><a href="#">Услуги</a></li>
					<li><a href="#">Врачи</a></li>
					<li><a href="#">Акции</a></li>
					<li><a href="#">Цены</a></li>
					<li><a href="#">Наши работы</a></li>
					<li><a href="#">Отзывы</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="copyright">
					<p>© 2010-2016 Все права принадлежат<br> клинике "Раддент"</p>
					<a href="#" class="vk"></a>
					<a href="#" class="facebook"></a>
					<a href="#" class="youtube"></a>
					<a href="#" class="twitter"></a>
					<a href="#" class="instagram"></a>
				</div>
			</div>
			<div class="col-md-4 dbp">
				<div class="adress">
					<p>Санкт-Петербург, ул. Школьная д.8</p>
					<p>Станция метро "Черная Речка"</p>
					<p>Пн-Пт с 10:00 до 21:30; Сб-Вс с 10:00 до 20:00</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="phone_block">
					<p>+7 (812) 952-05-38</p>
					<a href="#" class="button">Записаться на прием</a>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#"></a>
  			<form id="form3" action="mail.php" method="post">
  				<div class="modal_h1">Записаться на прием</div>
				<input type="text" name="name" class="main_input" placeholder="Имя:" required>
				<input type="text" name="phone" class="main_input" placeholder="Номер телефона" required>
				<button type="submit" class="sendbutton">Записаться на прием</button>
				<input type="hidden" name="formData" value="Заявка с сайта">
			</form>
        </div> 
<!-- END MODAL1 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/flipclock.min.js"></script>
<script src="js/script.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize()
{
  var mapProp = {
    center: new google.maps.LatLng(59.988303,30.293886),
    zoom:18,
    disableDefaultUI:true,
    scrollwheel: false,    
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script>
	var clock = $('.your-clock').FlipClock({
// ... your options here
	clockFace: 'TwentyFourHourClock'
});
</script>
<script>
	var clock = $('.your-clock1').FlipClock({
// ... your options here
	clockFace: 'TwentyFourHourClock'
});
</script>
  </body>
</html>