<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>MOBFAN.ORG</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
<div class="header_bg">
	<div class="main_container clearfix">
		<header class="clearfix">
			<a href="index.html"><img src="images/logo.png" alt="MOBFAN.ORG"></a>
			<nav>
				<li><a href="list_games.html">Игры</a></li>
				<li><a href="#">Программы</a></li>
				<li><a href="#">Живые обои</a></li>
				<li><a href="#">Картинки</a></li>
				<li><a href="#">Для iPhone</a></li>
			</nav>
			<div class="toggle_menu">
	    <a href="#menu" id="toggle"><span></span></a>	
		</div>
		</header>
	</div>
</div>
<!-- END HEADER -->
<!-- SEARCH -->
	<div class="main_container clearfix">
		<div class="search_block_wrap">
			<input type="text" class="search_input" onblur='if(this.value=="") this.value="Введите название"'  onfocus='if(this.value=="Введите название") this.value=""' value="Введите название">
			<button type="button">Найти</button>
			<p class="dbm">Вас интересуют игры на Андроид  для того что бы скоротать время, для детей, или что бы сразиться в сетевых баталиях на вашем телефоне или планшете? И, возможно,  заинтересуют полезные и обслуживающие программы? Все это и многое другое вы можете  прямо сейчас бесплатно скачать без регистрации и смс. Портал «Mobfan.org» с радостью поможет избежать необходимости совершать множество бесполезных операций и ждать что бы получить требуемый apk файл.</p>
			<img src="images/rozetka.jpg" alt="MOBFAN.ORG" class="rozetka dbd">
		</div>	
<!-- END SEARCH -->
<!-- REKLAMA -->
	<div class="banner_wrap dbm">
		<img src="images/banner.jpg" alt="MOBFAN.ORG">
	</div>
<!-- END REKLAMA -->
<!-- NAVIGATION BUTTONS -->
	<div class="buttons_wrap clearfix">
		<a href="#" class="buttons_block">
			<img src="images/icon1.png" alt="MOBFAN.ORG">
			<p>Игры</p>
		</a>
		<a href="#" class="buttons_block">
			<img src="images/icon2.png" alt="MOBFAN.ORG">
			<p>Программы</p>
		</a>
		<a href="#" class="buttons_block">
			<img src="images/icon3.png" alt="MOBFAN.ORG">
			<p>Живые обои</p>
		</a>
		<a href="#" class="buttons_block">
			<img src="images/icon4.png" alt="MOBFAN.ORG">
			<p>Картинки</p>
		</a>
		<a href="#" class="buttons_block">
			<img src="images/icon5.png" alt="MOBFAN.ORG">
			<p>Для iPhone</p>
		</a>
	</div>
<!-- END NAVIGATION BUTTONS -->
<!-- NEW GAMES -->
<div class="left_side_block">
	<div class="new_games_wrap">
		<div class="title_wrap">
			<img src="images/icon_title1.png" alt="MOBFAN.ORG">
			<p>Новые игры</p>
		</div>
		<div class="game_block">
			<a href="#"><img src="images/game_img1.jpg" alt="MOBFAN.ORG" class="main_game_img">
			<div class="game_descrpiption">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">RPG</a>
				<a href="#" class="type">Action</a>
			<a href="#" class="title_link"><div class="title_game">Shadow Quest RPG</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
				<p>Карточная ролевая игра с глубокой веткой усовершенствований.</p>
			</div>
			</div>
		</div>
		<div class="game_block dbm">
			<a href="#"><img src="images/game_img2.jpg" alt="MOBFAN.ORG" class="main_game_img"></a>
			<div class="game_descrpiption">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">Спортивные</a>
			<a href="#" class="title_link"><div class="title_game">Pool Billiard Master & Snooker</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
				<p>Реалистичный бильярд с различными вариация игры..</p>
			</div>
			</div>
		</div>
		<div class="game_block">
			<a href="#"><img src="images/game_img3.jpg" alt="MOBFAN.ORG" class="main_game_img"></a>
			<div class="game_descrpiption">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">RPG</a>
			<a href="#" class="title_link"><div class="title_game">War of Heroes:<br> Origin of Chaos</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
				<p>Одиночная стратегия со<br> своими плюсами и минусами.</p>
			</div>
			</div>
		</div>
		<div class="game_block dbm">
			<a href="#"><img src="images/game_img4.jpg" alt="MOBFAN.ORG" class="main_game_img"></a>
			<div class="game_descrpiption">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">Action</a>
			<a href="#" class="title_link"><div class="title_game">Infiltrator</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
				<p>Управляйте небольшим космическим кораблем и отстреливайтесь от дронов.</p>
			</div>
			</div>
		</div>
		<div class="game_block">
			<a href="#"><img src="images/game_img5.jpg" alt="MOBFAN.ORG" class="main_game_img"></a>
			<div class="game_descrpiption">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">Аркады</a>
			<a href="#" class="title_link"><div class="title_game">Dash Reaction: Игра на реакцию</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
				<p>Хардкорный платформер в котором вам предстоит проверить свою реакцию.</p>
			</div>
			</div>
		</div>
		<div class="game_block dbm">
			<a href="#"><img src="images/game_img6.jpg" alt="MOBFAN.ORG" class="main_game_img"></a>
			<div class="game_descrpiption">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">Action</a>
			<a href="#" class="title_link"><div class="title_game">Legendary Warrior</div>	</a>
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
				<p>Помогите отважному герою сразиться с толпами врагов и монстров.</p>
			</div>
			</div>
		</div>
	</div>
	<img src="images/rozetka.jpg" alt="MOBFAN.ORG" class="rozetka dbd">
	<div class="clearfix"></div>
<!-- END NEW GAMES -->
<!-- NEW IMAGES -->
	<div class="new_img_wrap">
		<div class="title_wrap">
			<img src="images/icon_title2.png" alt="MOBFAN.ORG">
			<p>Новые картинки</p>
		</div>
		<div class="img_small_wrapper clearfix">
			<a href="#"><img src="images/new_img1.jpg" alt="MOBFAN.ORG"></a>
			<a href="#"><img src="images/new_img2.jpg" alt="MOBFAN.ORG"></a>	
			<a href="#"><img src="images/new_img3.jpg" alt="MOBFAN.ORG"></a>	
			<a href="#"><img src="images/new_img4.jpg" alt="MOBFAN.ORG"></a>	
			<a href="#" class="dbm"><img src="images/new_img5.jpg" alt="MOBFAN.ORG"></a>	
			<a href="#" class="dbm"><img src="images/new_img6.jpg" alt="MOBFAN.ORG"></a>	
			<a href="#" class="dbm"><img src="images/new_img7.jpg" alt="MOBFAN.ORG"></a>	
			<a href="#" class="dbm"><img src="images/new_img8.jpg" alt="MOBFAN.ORG"></a>	
			<a href="#" class="dbm"><img src="images/new_img9.jpg" alt="MOBFAN.ORG"></a>	
			<a href="#" class="db"><img src="images/new_img10.jpg" alt="MOBFAN.ORG"></a>
		</div>
		<div class="clearfix"></div>
		<hr>
	</div>
	<img src="images/rozetka.jpg" alt="MOBFAN.ORG" class="rozetka dbd">
</div>
<!-- END NEW IMAGES -->
<!-- SIDEBAR -->
	<div class="sidebar_wrap dbm">
		<div class="poster">
			<div class="title_poster">
				<span>AC/DC</span>
				<p>Слушай сейчас!</p>
				<a href="#" class="play"><img src="images/play.png" alt="MOBFAN.ORG"></a>
			</div>
		</div>
		<hr>
		<div class="tags_title">popular tags</div>
		<a href="#" class="tag">Samsung</a>
		<a href="#" class="tag">LG</a>
		<a href="#" class="tag">Lenovo</a>
		<a href="#" class="tag">Huawei</a>
		<a href="#" class="tag">Funny Pics</a>
		<a href="#" class="tag">Lenovo</a>
		<hr>
	</div>
	<div class="clearfix"></div>
<!-- END SIDEBAR -->
<!-- ABOUT -->
	<p class="about">Все для Android: вы найдете на нашем сайте <a href="#">Mobfan.org</a><br>
	С развитием мобильных устройств возникла необходимость создания операционной системы, которая позволила бы расширить возможности работы с устройствами до уровня работы с ПК. Так появились мобильные ОС, в том числе ОС Android – одна из самых популярных м мире. А с возникновением мобильных операционных систем разработчики начали создавать различные приложения для них. Сегодня существует буквально все для Android, от игр, до приложения по работе с документами.</p>
</div>
<!-- END ABOUT -->
<!-- FOOTER -->
<div class="footer_bg">
	<div class="main_container clearfix">
		<footer class="clearfix">
			<img src="images/logo.png" alt="MOBFAN.ORG" class="dbm">
			<div class="copy">
				<a href="#">Оставить пожелания и замечания</a>
				<p>Copyrights © 2010-2016. Mobfan.org</p>
			</div>
			<div class="social">
				<a href="#" class="facebook"></a>
				<a href="#" class="vk"></a>
				<a href="#" class="mail"></a>
				<a href="#" class="yandex"></a>
			</div>
		</footer>
	</div>
</div>
<!-- END FOOTER -->
<div id="menu">
	  <ul>
	    <li><a href="info.html">Игры</a></li>
	    <li><a href="portfolio.html">Программы</a></li>
	    <li><a href="uslugi.html">Живые обои</a></li>
	    <li><a href="contacts.html">Картинки</a></li>
	    <li><a href="contacts.html">Для iPhone</a></li>
	  </ul>
	  <div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/script.js"></script>
  </body>
</html>