<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>MOBFAN.ORG</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
<div class="header_bg">
	<div class="main_container clearfix">
		<header class="clearfix">
			<a href="index.html"><img src="images/logo.png" alt="MOBFAN.ORG"></a>
			<nav>
				<li><a href="list_games.html">Игры</a></li>
				<li><a href="#">Программы</a></li>
				<li><a href="#">Живые обои</a></li>
				<li><a href="#">Картинки</a></li>
				<li><a href="#">Для iPhone</a></li>
			</nav>
			<div class="toggle_menu">
	    <a href="#menu" id="toggle"><span></span></a>	
		</div>
		</header>
	</div>
</div>
<!-- END HEADER -->
<!-- SEARCH -->
	<div class="main_container clearfix">
		<div class="search_block_wrap">
			<input type="text" class="search_input" onblur='if(this.value=="") this.value="Введите название"'  onfocus='if(this.value=="Введите название") this.value=""' value="Введите название">
			<button type="button">Найти</button>
			<p class="dbm">Вас интересуют игры на Андроид  для того что бы скоротать время, для детей, или что бы сразиться в сетевых баталиях на вашем телефоне или планшете? И, возможно,  заинтересуют полезные и обслуживающие программы? Все это и многое другое вы можете  прямо сейчас бесплатно скачать без регистрации и смс. Портал «Mobfan.org» с радостью поможет избежать необходимости совершать множество бесполезных операций и ждать что бы получить требуемый apk файл.</p>
			<img src="images/rozetka.jpg" alt="MOBFAN.ORG" class="rozetka dbd">
		</div>	
<!-- END SEARCH -->
<!-- REKLAMA -->
	<div class="banner_wrap dbm">
		<img src="images/banner.jpg" alt="MOBFAN.ORG">
	</div>
<!-- END REKLAMA -->
<!-- NEW GAMES -->
<div class="left_side_block">
	<div class="new_games_wrap">
		<div class="title_wrap">
			<img src="images/icon_title2.png" alt="MOBFAN.ORG">
			<h1>Игры для Android</h1>
		</div>
		<div class="new_images_wr">
			<div class="filter">
				<a href="#" class="active">Все</a>
				<a href="#">Новые</a>
				<a href="#">Обновленные</a>
				<a href="#">Ваш выбор</a>
				<a href="#">Самые просматриваемые</a>
			</div>
					</div>
			<hr>
		<div class="big_game_wrap clearfix">
			<a href="#"><img src="images/big_game_img1.jpg" alt="MOBFAN.ORG" class="bigimg"></a>
			<div class="big_desc">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">RPG</a>
				<a href="#" class="type">Action</a>
			<a href="#" class="title_link"><div class="title_game">Shadow Quest RPG</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
			</div>
			<p>Карточная ролевая игра с глубокой веткой усовершенствований.</p>
				<p class="views">Просмотров:<span>   125</span></p>
			<a href="#" class="dnw_btn db">Скачать</a>
			</div>
			<div class="clearfix"></div>
			<a href="#" class="dnw_btn" id="dbdisplay">Скачать</a>
		</div>
		<hr>
		<div class="big_game_wrap clearfix">
			<a href="#"><img src="images/big_game_img2.jpg" alt="MOBFAN.ORG" class="bigimg"></a>
			<div class="big_desc">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">RPG</a>
			<a href="#" class="title_link"><div class="title_game">War of Heroes: Origin of Chaos</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
			</div>
			<p>Одиночная стратегия со своими плюсами и минусами.</p>
				<p class="views">Просмотров:<span>   125</span></p>
			<a href="#" class="dnw_btn db">Скачать</a>
			</div>
			<div class="clearfix"></div>
			<a href="#" class="dnw_btn" id="dbdisplay">Скачать</a>
			</div>
		</div>
		<hr>
		<div class="big_game_wrap clearfix">
			<a href="#"><img src="images/big_game_img3.jpg" alt="MOBFAN.ORG" class="bigimg"></a>
			<div class="big_desc">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">Аркады</a>
			<a href="#" class="title_link"><div class="title_game">Dash Reaction: Игра на реакцию</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
			</div>
			<p>Хардкорный платформер в котором вам предстоит проверить свою реакцию.</p>
				<p class="views">Просмотров:<span>   125</span></p>
			<a href="#" class="dnw_btn db">Скачать</a>
			</div>
			<div class="clearfix"></div>
			<a href="#" class="dnw_btn" id="dbdisplay">Скачать</a>
			</div>

		<hr class="dbm">
		<div class="big_game_wrap clearfix dbm">
			<a href="#"><img src="images/big_game_img4.jpg" alt="MOBFAN.ORG" class="bigimg"></a>
			<div class="big_desc">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">Стратегии</a>
			<a href="#" class="title_link"><div class="title_game">War Saga:Heroes Rising</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
			</div>
			<p>Увлекательная онлайн стратегия, в которой вам предстоит возвысить свое поднебесное царство.</p>
				<p class="views">Просмотров:<span>   125</span></p>
			<a href="#" class="dnw_btn db">Скачать</a>
			</div>
			<div class="clearfix"></div>
			<a href="#" class="dnw_btn" id="dbdisplay">Скачать</a>
		</div>
		<hr class="dbm">
		<div class="big_game_wrap clearfix  dbm">
			<a href="#"><img src="images/big_game_img5.jpg" alt="MOBFAN.ORG" class="bigimg"></a>
			<div class="big_desc">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">Аркады</a>
			<a href="#" class="title_link"><div class="title_game">Chaos Combat-Destiny Clan Wars</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
			</div>
			<p>Увлекательные онлайн поединки с развитой боевой системой.</p>
				<p class="views">Просмотров:<span>   125</span></p>
			<a href="#" class="dnw_btn db">Скачать</a>
			</div>
			<div class="clearfix"></div>
			<a href="#" class="dnw_btn" id="dbdisplay">Скачать</a>
		</div>
		<hr class="dbm">
		<div class="big_game_wrap clearfix  dbm">
			<a href="#"><img src="images/big_game_img1.jpg" alt="MOBFAN.ORG" class="bigimg"></a>
			<div class="big_desc">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">RPG</a>
				<a href="#" class="type">Action</a>
			<a href="#" class="title_link"><div class="title_game">Shadow Quest RPG</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
			</div>
			<p>Карточная ролевая игра с глубокой веткой усовершенствований.</p>
				<p class="views">Просмотров:<span>   125</span></p>
			<a href="#" class="dnw_btn db">Скачать</a>
			</div>
			<div class="clearfix"></div>
			<a href="#" class="dnw_btn" id="dbdisplay">Скачать</a>
		</div>
		<hr class="dbm">
		<div class="big_game_wrap clearfix  dbm">
			<a href="#"><img src="images/big_game_img2.jpg" alt="MOBFAN.ORG" class="bigimg"></a>
			<div class="big_desc">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">RPG</a>
			<a href="#" class="title_link"><div class="title_game">War of Heroes: Origin of Chaos</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
			</div>
			<p>Одиночная стратегия со своими плюсами и минусами.</p>
				<p class="views">Просмотров:<span>   125</span></p>
			<a href="#" class="dnw_btn db">Скачать</a>
			</div>
			<div class="clearfix"></div>
			<a href="#" class="dnw_btn" id="dbdisplay">Скачать</a>
		</div>
		<hr class="dbm">
		<div class="big_game_wrap clearfix dbm">
			<a href="#"><img src="images/big_game_img3.jpg" alt="MOBFAN.ORG" class="bigimg"></a>
			<div class="big_desc">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">Аркады</a>
			<a href="#" class="title_link"><div class="title_game">Dash Reaction: Игра на реакцию</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
			</div>
			<p>Хардкорный платформер в котором вам предстоит проверить свою реакцию.</p>
				<p class="views">Просмотров:<span>   125</span></p>
			<a href="#" class="dnw_btn db">Скачать</a>
			</div>
			<div class="clearfix"></div>
			<a href="#" class="dnw_btn" id="dbdisplay">Скачать</a>
		</div>
		<hr class="dbm">
		<div class="big_game_wrap clearfix dbm">
			<a href="#"><img src="images/big_game_img4.jpg" alt="MOBFAN.ORG" class="bigimg"></a>
			<div class="big_desc">
				<img src="images/icon_folder.png" alt="MOBFAN.ORG" class="iconfolder">
				<a href="#" class="type">Стратегии</a>
			<a href="#" class="title_link"><div class="title_game">War Saga:Heroes Rising</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
			</div>
			<p>Увлекательная онлайн стратегия, в которой вам предстоит возвысить свое поднебесное царство.</p>
				<p class="views">Просмотров:<span>   125</span></p>
			<a href="#" class="dnw_btn db">Скачать</a>
			</div>
			<div class="clearfix"></div>
			<a href="#" class="dnw_btn" id="dbdisplay">Скачать</a>
		</div>

		<div class="clearfix"></div>
		<div class="pagination_wrap">
			<a href="#">«</a>
			<a href="#">1</a>
			<a href="#">2</a>
			<a href="#" class="active">3</a>
			<a href="#">4</a>
			<a href="#">5</a>
			<a href="#">6</a>
			<a href="#">7</a>
			<a href="#">8</a>
			<a href="#">9</a>
			<a href="#">»</a>
		</div>
	
	<img src="images/rozetka.jpg" alt="MOBFAN.ORG" class="rozetka dbd">
	<div class="clearfix"></div>
	</div>
<!-- END NEW GAMES -->

<!-- SIDEBAR -->
	<div class="sidebar_wrap">
		<div class="title_wrap">
			<img src="images/brands.png" alt="MOBFAN.ORG">
			<p>Категории</p>
		</div>
		<ul class="brands">
			<li><a href="#" class="active">Action</a></li>
			<li><a href="#">Аркады</a></li>
			<li><a href="#">RPG</a></li>
			<li><a href="#">Стратегии</a></li>
			<li><a href="#">Гонки</a></li>
			<li><a href="#">Головоломки</a></li>
			<li><a href="#">Настольные</a></li>
			<li><a href="#">Спортивные</a></li>
			<li><a href="#">Другие</a></li>
		</ul>
		<div class="poster list_images">
			<div class="title_poster">
				<span>AC/DC</span>
				<p>Слушай сейчас!</p>
				<a href="#" class="play"><img src="images/play.png" alt="MOBFAN.ORG"></a>
			</div>
		</div>
		<div class="title_wrap">
			<img src="images/icon_title5.png" alt="MOBFAN.ORG">
			<p>тор лучших</p>
		</div>
		<div class="top_img_wrap">
		<img src="images/top.jpg" alt="MOBFAN.ORG">
		<a href="#" class="title_link"><div class="title_game">War Saga:Heroes Rising</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
			</div>
			<hr>
			<img src="images/top.jpg" alt="MOBFAN.ORG">
		<a href="#" class="title_link"><div class="title_game">War Saga:Heroes Rising</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
			</div>
			<hr>
			<img src="images/top.jpg" alt="MOBFAN.ORG">
		<a href="#" class="title_link"><div class="title_game">War Saga:Heroes Rising</div></a>	
			<div class="stars">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a> 
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="title_wrap list_images mtt">
			<img src="images/icon_title6.png" alt="MOBFAN.ORG">
			<p>Версия android</p>
		</div>
		<ul class="resolution">
			<li><a href="#">Android<span> 1.5</span></a></li>
			<li><a href="#">Android<span> 2.0</span></a></li>
			<li><a href="#">Android<span> 2.1</span></a></li>
			<li><a href="#">Android<span> 2.2.1</span></a></li>
			<li><a href="#">Android<span> 2.4</span></a></li>
			<li><a href="#">Android<span> 3.1</span></a></li>
			<li><a href="#">Android<span> 4.0</span></a></li>
			<li><a href="#">Android<span> 4.2</span></a></li>
			<li><a href="#">Android<span> 4.4</span></a></li>
		</ul>
		<ul class="resolution">
			<li><a href="#">Android<span> 1.6</span></a></li>
			<li><a href="#">Android<span> 2.0.1</span></a></li>
			<li><a href="#">Android<span> 2.2</span></a></li>
			<li><a href="#">Android<span> 2.3</span></a></li>
			<li><a href="#">Android<span> 3.0</span></a></li>
			<li><a href="#">Android<span> 3.2</span></a></li>
			<li><a href="#">Android<span> 4.1</span></a></li>
			<li><a href="#">Android<span> 4.3</span></a></li>
			<li><a href="#">Android<span> 5.0</span></a></li>
		</ul>
		<div class="clearfix"></div>
		<div class="title_wrap list_images">
			<img src="images/icon_title4.png" alt="MOBFAN.ORG">
			<p>Ваше устройство</p>
		</div>
		<select class="select_brands">
			<option value="" selected>Не выбрано</option>
			<option value="">Samsung</option>
			<option value="">Nokia</option>
			<option value="">LG</option>
			<option value="">Philips</option>
			<option value="">HTС</option>
			<option value="">Siemens</option>
			<option value="">Asus</option>
			<option value="">Lenovo</option>
			<option value="">Другие</option>
		</select>
		<a href="#" class="all_brands">Список производителей</a>
		<a href="#" class="all_brands">Версия Android</a>
		<div class="tags_title">popular tags</div>
		<a href="#" class="tag">Samsung</a>
		<a href="#" class="tag">LG</a>
		<a href="#" class="tag">Lenovo</a>
		<a href="#" class="tag">Huawei</a>
		<a href="#" class="tag">Funny Pics</a>
		<a href="#" class="tag">Lenovo</a>
		<hr>
	</div>
	</div>
	<div class="clearfix"></div>
	<div class="main_container clearfix">
	<hr>
<!-- END SIDEBAR -->
<!-- ABOUT -->
	<p class="about">Все для Android: вы найдете на нашем сайте <a href="#">Mobfan.org</a><br>
	С развитием мобильных устройств возникла необходимость создания операционной системы, которая позволила бы расширить возможности работы с устройствами до уровня работы с ПК. Так появились мобильные ОС, в том числе ОС Android – одна из самых популярных м мире. А с возникновением мобильных операционных систем разработчики начали создавать различные приложения для них. Сегодня существует буквально все для Android, от игр, до приложения по работе с документами.</p>
	</div>
</div>
<!-- END ABOUT -->
<!-- FOOTER -->
<div class="footer_bg">
	<div class="main_container clearfix">
		<footer class="clearfix">
			<img src="images/logo.png" alt="MOBFAN.ORG" class="dbm">
			<div class="copy">
				<a href="#">Оставить пожелания и замечания</a>
				<p>Copyrights © 2010-2016. Mobfan.org</p>
			</div>
			<div class="social">
				<a href="#" class="facebook"></a>
				<a href="#" class="vk"></a>
				<a href="#" class="mail"></a>
				<a href="#" class="yandex"></a>
			</div>
		</footer>
	</div>
</div>
<!-- END FOOTER -->
<div id="menu">
	  <ul>
	    <li><a href="info.html">Игры</a></li>
	    <li><a href="portfolio.html">Программы</a></li>
	    <li><a href="uslugi.html">Живые обои</a></li>
	    <li><a href="contacts.html">Картинки</a></li>
	    <li><a href="contacts.html">Для iPhone</a></li>
	  </ul>
	  <div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/script.js"></script>
  </body>
</html>