<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>MOBFAN.ORG</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
<div class="header_bg">
	<div class="main_container clearfix">
		<header class="clearfix">
			<a href="index.html"><img src="images/logo.png" alt="MOBFAN.ORG"></a>
			<nav>
				<li><a href="list_games.html">Игры</a></li>
				<li><a href="#">Программы</a></li>
				<li><a href="#">Живые обои</a></li>
				<li><a href="#">Картинки</a></li>
				<li><a href="#">Для iPhone</a></li>
			</nav>
			<div class="toggle_menu">
	    <a href="#menu" id="toggle"><span></span></a>	
		</div>
		</header>
	</div>
</div>
<!-- END HEADER -->
<!-- SEARCH -->
	<div class="main_container clearfix">
		<div class="search_block_wrap">
			<input type="text" class="search_input" onblur='if(this.value=="") this.value="Введите название"'  onfocus='if(this.value=="Введите название") this.value=""' value="Введите название">
			<button type="button">Найти</button>
			<p class="dbm">Вас интересуют игры на Андроид  для того что бы скоротать время, для детей, или что бы сразиться в сетевых баталиях на вашем телефоне или планшете? И, возможно,  заинтересуют полезные и обслуживающие программы? Все это и многое другое вы можете  прямо сейчас бесплатно скачать без регистрации и смс. Портал «Mobfan.org» с радостью поможет избежать необходимости совершать множество бесполезных операций и ждать что бы получить требуемый apk файл.</p>
			<img src="images/rozetka.jpg" alt="MOBFAN.ORG" class="rozetka dbd">
		</div>	
<!-- END SEARCH -->
<!-- REKLAMA -->
	<div class="banner_wrap dbm">
		<img src="images/banner.jpg" alt="MOBFAN.ORG">
	</div>
<!-- END REKLAMA -->
<!-- NEW GAMES -->
<div class="breadcrumbs">
	<a href="#">Каталог мобильных телефонов</a> / <a href="#">Samsung</a>
</div>
<div class="left_side_block">
	<div class="new_games_wrap">
		<div class="title_wrap">
			<h1>samsung Galaxy s4</h1>
		</div>
		<img src="images/s4.png" alt="MOBFAN.ORG" class="big_phone">
		<div class="phone_description">
			<a href="#" class="phone_description_title">Мобильный телефон</a>
			<div class="phone_title">samsung Galaxy S4</div>
			<p>2015 год</p>
			<p>Сенсорный экран 1080х1920</p>
			<p>5,1 дюйма</p>
			<p>Android 5.1.1</p>
			<ul>
				<li><a href="#">Игры для samsung Galaxy S4</a></li>
				<li><a href="#">Программы для samsung Galaxy S4</a></li>
				<li><a href="#">Живые обои для samsung Galaxy S4</a></li>
				<li><a href="#">Программы для samsung Galaxy S4</a></li>
			</ul>
		</div>
	</div>
	<img src="images/rozetka.jpg" alt="MOBFAN.ORG" class="rozetka dbd">
	<div class="clearfix"></div>
<!-- END NEW GAMES -->
<!-- NEW IMAGES -->
	<div class="simple_phone_wrap">
		<div class="title_wrap">
			<p>похожие модели</p>
		</div>
		<div class="simple_wrap clearfix">
			<a href="#"><img src="images/simple1.png" alt="MOBFAN.ORG"></a>
			<div class="text_simple">
				<a href="#">Ginzzu rs7<br>
				dual</a>
			</div>
		</div>
		<div class="simple_wrap dbm clearfix">
			<a href="#"><img src="images/simple1.png" alt="MOBFAN.ORG"></a>
			<div class="text_simple">
				<a href="#">Ginzzu rs7<br>
				dual</a>
			</div>
		</div>
		<div class="simple_wrap db clearfix">
			<a href="#"><img src="images/simple1.png" alt="MOBFAN.ORG"></a>
			<div class="text_simple">
				<a href="#">Ginzzu rs7<br>
				dual</a>
			</div>
		</div>
		<div class="simple_wrap clearfix">
			<a href="#"><img src="images/simple2.png" alt="MOBFAN.ORG"></a>
			<div class="text_simple">
				<a href="#">Samsung<br>
				Galaxy S5 NEO</a>
			</div>
		</div>
		<div class="simple_wrap dbm clearfix">
			<a href="#"><img src="images/simple2.png" alt="MOBFAN.ORG"></a>
			<div class="text_simple">
				<a href="#">Samsung<br>
				Galaxy S5 NEO</a>
			</div>
		</div>
		<div class="simple_wrap db clearfix">
			<a href="#"><img src="images/simple2.png" alt="MOBFAN.ORG"></a>
			<div class="text_simple">
				<a href="#">Samsung<br>
				Galaxy S5 NEO</a>
			</div>
		</div>
		<div class="simple_wrap clearfix">
			<a href="#"><img src="images/simple3.png" alt="MOBFAN.ORG"></a>
			<div class="text_simple">
				<a href="#">Samsung<br>
				Galaxy tab<br>7.0</a>
			</div>
		</div>
		<div class="simple_wrap dbm clearfix">
			<a href="#"><img src="images/simple3.png" alt="MOBFAN.ORG"></a>
			<div class="text_simple">
				<a href="#">Samsung<br>
				Galaxy tab<br>7.0</a>
			</div>
		</div>
		<div class="simple_wrap db clearfix">
			<a href="#"><img src="images/simple3.png" alt="MOBFAN.ORG"></a>
			<div class="text_simple">
				<a href="#">Samsung<br>
				Galaxy tab<br>7.0</a>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="pagination_wrap">
			<a href="#">«</a>
			<a href="#">1</a>
			<a href="#">2</a>
			<a href="#" class="active">3</a>
			<a href="#">4</a>
			<a href="#">5</a>
			<a href="#">6</a>
			<a href="#">7</a>
			<a href="#">8</a>
			<a href="#">9</a>
			<a href="#">»</a>
		</div>
		<div class="clearfix"></div>
		<hr>
	</div>
	<img src="images/rozetka.jpg" alt="MOBFAN.ORG" class="rozetka dbd">
</div>
<!-- END NEW IMAGES -->
<!-- SIDEBAR -->
	<div class="sidebar_wrap dbm">
		<div class="title_wrap">
			<img src="images/brands.png" alt="MOBFAN.ORG">
			<p>бренды</p>
		</div>
		<ul class="brands">
			<li><a href="#" class="active">Samsung</a></li>
			<li><a href="#">Nokia</a></li>
			<li><a href="#">LG</a></li>
			<li><a href="#">Philips</a></li>
			<li><a href="#">HTS</a></li>
			<li><a href="#">Siemens</a></li>
			<li><a href="#">Asus</a></li>
			<li><a href="#">Lenovo</a></li>
			<li><a href="#">Другие</a></li>
		</ul>
		<a href="#" class="all_brands">Список производителей</a>
		<div class="poster">
			<div class="title_poster">
				<span>AC/DC</span>
				<p>Слушай сейчас!</p>
				<a href="#" class="play"><img src="images/play.png" alt="MOBFAN.ORG"></a>
			</div>
		</div>
		<hr>
		<div class="tags_title">popular tags</div>
		<a href="#" class="tag">Samsung</a>
		<a href="#" class="tag">LG</a>
		<a href="#" class="tag">Lenovo</a>
		<a href="#" class="tag">Huawei</a>
		<a href="#" class="tag">Funny Pics</a>
		<a href="#" class="tag">Lenovo</a>
		<hr>
	</div>
	<div class="clearfix"></div>
<!-- END SIDEBAR -->
<!-- ABOUT -->
	<p class="about">Все для Android: вы найдете на нашем сайте <a href="#">Mobfan.org</a><br>
	С развитием мобильных устройств возникла необходимость создания операционной системы, которая позволила бы расширить возможности работы с устройствами до уровня работы с ПК. Так появились мобильные ОС, в том числе ОС Android – одна из самых популярных м мире. А с возникновением мобильных операционных систем разработчики начали создавать различные приложения для них. Сегодня существует буквально все для Android, от игр, до приложения по работе с документами.</p>
</div>
<!-- END ABOUT -->
<!-- FOOTER -->
<div class="footer_bg">
	<div class="main_container clearfix">
		<footer class="clearfix">
			<img src="images/logo.png" alt="MOBFAN.ORG" class="dbm">
			<div class="copy">
				<a href="#">Оставить пожелания и замечания</a>
				<p>Copyrights © 2010-2016. Mobfan.org</p>
			</div>
			<div class="social">
				<a href="#" class="facebook"></a>
				<a href="#" class="vk"></a>
				<a href="#" class="mail"></a>
				<a href="#" class="yandex"></a>
			</div>
		</footer>
	</div>
</div>
<!-- END FOOTER -->
<div id="menu">
	  <ul>
	    <li><a href="info.html">Игры</a></li>
	    <li><a href="portfolio.html">Программы</a></li>
	    <li><a href="uslugi.html">Живые обои</a></li>
	    <li><a href="contacts.html">Картинки</a></li>
	    <li><a href="contacts.html">Для iPhone</a></li>
	  </ul>
	  <div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/script.js"></script>
  </body>
</html>