<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>ТезСтрой</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
<div class="main_container clearfix">
	<header class="clearfix">
		<a href="index.html"><img src="images/logo.png" alt="ТезСтрой" class="logo"></a>
		<div class="title">Ремонт квартир под ключ<br>Начни ремонт с нами!</div>
		<div class="contact">
			<img src="images/icon_phone.png" alt="ТезСтрой"><p>8 (499) 391-01-41</p>
			<img src="images/icon_mail.png" alt="ТезСтрой"><a href="#">info@tezstroi.ru</a><br>
			<div class="work_time">c 8:00 до 22:00</div>
		</div>
	</header>
</div>
<!-- END HEADER -->
<!-- SLIDER -->
<div class="silder_bg">
	<ul class="bxslider">
<li><img src="images/slider_bg.jpg"/>
		<div class="main_container clearfix main_text_sl">
			<h1>ИНДИВИДУАЛЬНЫЙ РЕМОНТ</h1>
			<h2>квартир, домов и офисов под ключ
			в Москве и Московской области</h2>
			<div class="slider_list">
				<ul>
					<li>Ремонт - от 1500 руб./м2</li>
					<li>Ремонт ванной под ключ от 35000руб.</li>
					<li>Укладка плитки - 580 руб./м2</li>
					<li>Поклейка обоев - 150 руб./м2</li>
					<li>Укладка ламината - 180 руб./м2</li>
				</ul>
				<a href="#" class="button_move">Закажите сейчас</a>
			</div>
			<div class="clearfix"></div>
		</div>
	  </li>
	  	  <li><img src="images/slider_bg2.jpg"/>
	  	<div class="main_container clearfix main_text_sl Left">
			<h1>АКЦИИ</h1>
			<h2>- Выезд и составление сметы бесплатно</h2>
			<h2>- Скидка 10 % по социальной карте москвича</h2>
			<h2>- Дизайн - проект в подарок</h2>
			<div class="slider_list">
				<a href="#" class="button_move">Закажите сейчас</a>
			</div>
			<div class="clearfix"></div>
		</div>
	  </li>
	  <li><img src="images/slider_bg1.jpg"/>
			<div class="main_container clearfix main_text_sl">
			<h1>ИНДИВИДУАЛЬНЫЙ РЕМОНТ</h1>
			<h2>квартир, домов и офисов под ключ
			в Москве и Московской области</h2>
			<div class="slider_list">
				<ul>
					<li>Ремонт - от 1500 руб./м2</li>
					<li>Укладка плитки - 580 руб./м2</li>
					<li>Поклейка обоев - 150 руб./м2</li>
					<li>Укладка ламината - 180 руб./м2</li>
				</ul>
				<a href="#" class="button_move">Закажите сейчас</a>
			</div>
			<div class="clearfix"></div>
		</div>
	  </li>
	</ul>
</div>
<!-- SLIDER -->
<!-- CONTENT -->
<div class="content_bg">
	<div class="main_container clearfix">
	<div class="menu_wrapper">
				<ul>
					<li><a href="index.html#rem_click" class="icon1 in_click">Ремонт</a></li>
					<li><a href="action.html#menumove" class="icon2">Акции</a></li>
					<li><a href="examples.html#menumove" class="icon3">Примеры работ</a></li>
					<li><a href="warranty.html#menumove" class="icon4">Гарантии</a></li>
					<li><a href="reviews.html#menumove" class="icon5">Отзывы</a></li>
				</ul>
			</div>
		<div class="content_wrapper clearfix">
			<div class="content_left">
				<div class="begin">
					<div class="h1">С чего начать?</div>
					<a href="action.html#form_move">Вызов сметчика</a>
					<a href="action.html#form_move">Расчитать заказ</a>
					<a href="action.html#form_move">Почему дешевле?</a>
				</div>
				<div class="examples">
					<div class="h1">Примеры работ</div>
					<a href="examples.html#menumove">Ремонт квартир</a>
					<a href="examples1.html#menumove">Ремонт кухни</a>
					<a href="examples2.html#menumove">Ремонт ванной</a>
				</div>
				<div class="clearfix"></div>
				<div class="red_title">Вам нужны опытные мастера и ответственные исполнители?</div>
				<p>Тогда вы обратились по адресу! Доверьте строительство и ремонт нашей команде, состоящей из профессионалов высочайшего класса.
				Отлично функционирующее и комфортабельное пространство для жизни и работы – залог успеха современного человека. И чем амбициознее и оригинальнее проект помещения, тем сложнее воплотить его в жизнь. Поэтому, выбирая строительные компании, заказчик особое внимание обращает на имидж фирмы и отзывы о качестве оказанных услуг.</p>
				<div class="red_title">Полный пакет строительных услуг</div>
				<p>Сферой деятельности нашей компании является весь разноплановый спектр строительных и отделочных работ, услуги по проектированию и декоративному оформлению. Квалифицированные строители готовы возвести здание любого уровня сложности, защищенное гарантией качества и безопасности. Наша студия ремонта будет рада предложить эксклюзивный авторский дизайн интерьера и воплотить в жизнь креативные идеи клиентов.
Наша строительная фирма берет на себя организацию всех стадий проводимых работ и ответственность за их качество. Мы используем исключительно высококлассные лицензированные материалы и технологии. Все этапы строительства и ремонта проводятся строго в рамках оговоренных сроков и утвержденной сметы. После окончания работ проводится полная уборка, заказчик получает помещение, готовое к комфортной эксплуатации.</p>
				<div class="red_title">“ТезСтрой” - это правильное решение!</div>
				<p>Тогда вы обратились по адресу! Доверьте строительство и ремонт нашей команде, состоящей из профессионалов высочайшего класса.
				Отлично функционирующее и комфортабельное пространство для жизни и работы – залог успеха современного человека. И чем амбициознее и оригинальнее проект помещения, тем сложнее воплотить его в жизнь. Поэтому, выбирая строительные компании, заказчик особое внимание обращает на имидж фирмы и отзывы о качестве оказанных услуг.</p>
				<div class="title_content" id="rem_click">РЕМОНТ</div>
				<p>Оплата производится, как практикуют только самые надежные и добросовестные строительные фирмы, по факту оказанных услуг. Обращаясь к нам, клиент уверен в том, что результат оправдает самые наилучшие ожидания. Наша компания доказывает, что строительство и ремонт могут быть четко спланированным процессом, дарующим заказчику только приятные сюрпризы в виде блестящего результата.
Сотрудничество с “ТезСтрой” - это правильное и выгодное решение! Доказательством наших успешных проектов являются отзывы клиентов и репутация добросовестного и надежного подрядчика.</p>
				<div class="content_list_title">Для нас не проблема:</div>
				<ul class="main_list">
					<li>визуально расширить или уменьшить помещение;</li>
					<li>выполнить перепланировку любой сложности;</li>
					<li>подобрать и создать любой дизайн квартиры;</li>
					<li>стилизовать дом под определенную эпоху, выдержать весь ремонт и интерьер в одном стиле.</li>
				</ul>
				<ul class="main_list">
					<li>У нас индивидуальный подход к каждому клиенту, мы учитываем все пожелания, стараемся найти компромиссные решения.</li>
					<li>Предоставляем гарантию на все выполненные работы.</li>
					<li>Осуществляем ремонт под ключ, берем на себя все хлопоты, решение вопросов, спорных ситуаций, а вам предоставляем готовую, отремонтированную квартиру.</li>
					<li>Мы уважаем ваше время и всегда четко соблюдаем сроки.</li>
					<li>Сотрудничество с нами легально, мы работаем по договору, который гарантирует вам качество, соблюдение сроков и всех договоренностей.</li>
					<li>Имеем творческий подход к работе, предоставляем нестандартные решения, способны из небольшой непривлекательной квартиры, сделать комфортабельное, уютное жильё.</li>
				</ul>
				<div class="content_list_title">Косметический ремонт квартиры</div>
				<p>Комплекс ремонтно-отделочных работ, которые ведутся с минимальной перепланировкой и затратами по смене, сантехники, полов и стен. В этом случае предстоят следующие виды работ:</p>
				<ul class="main_list">
					<li>демонтаж;</li>
					<li>покраска потолка, труб, откосов;</li>
					<li>оклейка обоев;</li>
					<li>покрытие лаком паркетной доски;</li>
					<li>настил ковролина или линолеума;</li>
					<li>замена дверей и т.д.</li>
				</ul>
				<div class="content_list_title">Отдельные виды работ</div>
				<p>Очень часто требуется провести не полный ремонт квартиры, а лишь частичный, и связано это бывает с различными обстоятельствами.</p>
				<ul class="main_list">
					<li>поклеить обои,</li>
					<li>заменить сантехнику или электрику,</li>
					<li>обновить полы или потолок,</li>
					<li>утеплить лоджию</li>
					<li>и многие другие отдельные виды ремонтно-отделочных работ</li>
					<li>сборка мебели</li>
				</ul>
				<div class="title_content">ПЕРЕПЛАНИРОВКА</div>
				<div class="content_list_title">Капитальный ремонт квартиры</div>
				<p>Капитальные работы предусматривают снос имеющихся стен, значительную помещений, обновление электро - водоснабжения, существенные изменения в конструкции потолка и полов. Это большой комплекс ремонтно-отделочных работ состоящий из:</p>
				<ul class="main_list">
					<li>демонтажные работы;</li>
					<li>шпатлевание потолка, стен, оконных откосов;</li>
					<li>окраску потолка, труб отопления;</li>
					<li>оклейку стен обоями;</li>
					<li>настил ковролина, линолеума или паркетной доски;</li>
					<li>замену радиатора;</li>
					<li>замену сантехники;</li>
					<li>перенос полотенцесушителя;</li>
					<li>установку дверей и т.д;</li>
				</ul>
				<p>Наша компания выполнит ремонт квартир на высочайшем уровне. Такой вид работ подразумевает глобальную перепланировку, идеальное выравнивание всех поверхностей, использование качественных строительных материалов</p>
				<p>Отделка квартир включает большое количество демонтажных работ, а также смену имеющихся систем коммуникаций на более современные. Ремонт проводят профессиональные исполнители, занимающиеся ремонтом и отделкой квартир. Работы проводятся в строго отведенные часы — до 19:00. Специалисты не побеспокоят ни Вас, ни соседей</p>
				<div class="form_wrapper" id="form_move">
					<div class="form_title">Закажите обратный звонок и <span>получите скидку</span> на проект <span>30%</span></div>
					<form action="">
						<div class="input_wrap">
							<input type="text" name="name" placeholder="Ваше имя" class="main_input">
							<input type="text" name="name" placeholder="Ваш номер телефона" class="main_input">
						</div>
						<textarea name="mess" class="textarea">Ваше сообщение</textarea>
						<div class="clearfix"></div>
						<button type="submit" class="send_button">Заказать звонок</button>
					</form>
				</div>
			</div>
			<div class="sidebar">
				<div class="h1">Наши услуги</div>
				<div class="sidebar_links_wrap">
					<a href="#">Дизайн проект</a>
					<a href="#">Натяжные потолки</a>
					<a href="office.html#officelink" class="active">Ремонт офисов под ключ</a>
					<a href="#">Муж на час</a>
				</div>
				<div class="h1">Отзывы</div>
				<div class="review_wrap">
					<div class="name">Любовь</div>
					<div class="desc">договор №3345 от 10.06.2015</div>
					<p>Делали ремонт коридора и кухни. Покраска стен и потолка выполнена качественно, плитка положена отлично, всё очень понравилось! Материалы поставляла фирма, в сроки уложились, всем довольна. Ребята большие молодцы!!</p>
					<a href="reviews.html#menumove">все отзывы</a><span> |</span>
					<a href="new_review.html#menumove">написать</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->
<!-- FOOTER -->
<div class="foooter_bg">
	<footer>
		<div class="main_container clearfix">
			<div class="phone_wrap">
				<img src="images/icon_mail.png" alt="ТезСтрой" width="21px" height="13px">
				<a href="#">info@tezstroi.ru</a>
			</div>
			<a href="index.html"><img src="images/logo_bottom.png" alt="ТезСтрой" class="logo_bottom"></a>
			<div class="mail_wrap">
				<img src="images/icon_phone.png" alt="ТезСтрой" width="21px" height="21px">
				<p>8 (499) 391-01-41</p>
			</div>
		</div>
	</footer>
</div>
<!-- END FOOTER -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>

  </body>
</html>