<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>ТезСтрой</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
<div class="main_container clearfix">
	<header class="clearfix">
		<a href="index.html"><img src="images/logo.png" alt="ТезСтрой" class="logo"></a>
		<div class="title">Ремонт квартир под ключ<br>Начни ремонт с нами!</div>
		<div class="contact">
			<img src="images/icon_phone.png" alt="ТезСтрой"><p>8 (499) 391-01-41</p>
			<img src="images/icon_mail.png" alt="ТезСтрой"><a href="#">info@tezstroi.ru</a>
			<div class="work_time">c 8:00 до 22:00</div>
		</div>
	</header>
</div>
<!-- END HEADER -->
<!-- SLIDER -->
<div class="silder_bg">
	<ul class="bxslider">
<li><img src="images/slider_bg.jpg"/>
		<div class="main_container clearfix main_text_sl">
			<h1>ИНДИВИДУАЛЬНЫЙ РЕМОНТ</h1>
			<h2>квартир, домов и офисов под ключ
			в Москве и Московской области</h2>
			<div class="slider_list">
				<ul>
					<li>Ремонт - от 1500 руб./м2</li>
					<li>Ремонт ванной под ключ от 35000руб.</li>
					<li>Укладка плитки - 580 руб./м2</li>
					<li>Поклейка обоев - 150 руб./м2</li>
					<li>Укладка ламината - 180 руб./м2</li>
				</ul>
				<a href="#" class="button_move">Закажите сейчас</a>
			</div>
			<div class="clearfix"></div>
		</div>
	  </li>
	  	  <li><img src="images/slider_bg2.jpg"/>
	  	<div class="main_container clearfix main_text_sl Left">
			<h1>АКЦИИ</h1>
			<h2>- Выезд и составление сметы бесплатно</h2>
			<h2>- Скидка 10 % по социальной карте москвича</h2>
			<h2>- Дизайн - проект в подарок</h2>
			<div class="slider_list">
				<a href="#" class="button_move">Закажите сейчас</a>
			</div>
			<div class="clearfix"></div>
		</div>
	  </li>
	  <li><img src="images/slider_bg1.jpg"/>
			<div class="main_container clearfix main_text_sl">
			<h1>ИНДИВИДУАЛЬНЫЙ РЕМОНТ</h1>
			<h2>квартир, домов и офисов под ключ
			в Москве и Московской области</h2>
			<div class="slider_list">
				<ul>
					<li>Ремонт - от 1500 руб./м2</li>
					<li>Укладка плитки - 580 руб./м2</li>
					<li>Поклейка обоев - 150 руб./м2</li>
					<li>Укладка ламината - 180 руб./м2</li>
				</ul>
				<a href="#" class="button_move">Закажите сейчас</a>
			</div>
			<div class="clearfix"></div>
		</div>
	  </li>
	</ul>
</div>
<!-- SLIDER -->
<!-- CONTENT -->
<div class="content_bg">
	<div class="main_container clearfix">
	<div class="menu_wrapper">
				<ul>
					<li><a href="index.html#rem_click" class="icon1 in_click">Ремонт</a></li>
					<li><a href="action.html" class="icon2">Акции</a></li>
					<li><a href="examples.html" class="icon3">Примеры работ</a></li>
					<li><a href="warranty.html" class="icon4">Гарантии</a></li>
					<li><a href="reviews.html" class="icon5">Отзывы</a></li>
				</ul>
			</div>
		<div class="content_wrapper clearfix">
			<div class="content_left office">
				<div class="begin">
					<div class="h1">С чего начать?</div>
					<a href="action.html#form_move">Вызов сметчика</a>
					<a href="action.html#form_move">Расчитать заказ</a>
					<a href="action.html#form_move">Почему дешевле?</a>
				</div>
				<div class="examples">
					<div class="h1">Примеры работ</div>
					<a href="examples.html#menumove">Ремонт квартир</a>
					<a href="examples1.html#menumove">Ремонт кухни</a>
					<a href="examples2.html#menumove">Ремонт ванной</a>
				</div>
				<div class="clearfix"></div>
				<div class="title_content" id="officelink">Ремонт офиса под ключ</div>
				<p>Началом такого ремонта является обращение по телефону или вызов замерщика клиентом. В комплекс услуг входят:</p>
				<ul class="main_list">
					<li>Проектирование помещения</li>
					<li>Дизайн проект</li>
					<li>Черновые работы</li>
					<li>Проводка электрики</li>
					<li>Чистовые работы</li>
				</ul>
				<div class="office_wrap clearfix">
					<img src="images/office1.jpg" alt="ТезСтрой">
					<p>Обилием функций возлагаемых клиентами на компанию обуславливает увеличенную цена за м2, но соответствует максимальному комфорту. Разумно заказать  ремонт офиса под ключ в случае переезда в новое офисное здание или строительства. Его часто сравнивают с ремонтов квартиры</p>
					<p>Со стороны подбора материалов нет никаких ограничений, можно увидеть и декоративную лепнину, винтажные элементы декора и недорогие аналоги.</p>
				</div>
				<div class="title_content">Капитальный ремонт офисов.</div>
				<p>Под капитальными работами подразумеваются полный комплекс снабжения, проектирования, снаряжения и обеспечение контроля в соответствии с составленной проектной документацией и </p>
				<div class="office_wrap clearfix">
					<img src="images/office2.jpg" alt="ТезСтрой">
					<p>С технической точки зрения капитальный ремонт офиса – полный спектр профессионально выполненных объемов мастерами ремонтно-строительной компании. Преимуществом такого ремонта является совокупность оперативности, индивидуального подхода и консультация по ходу всех этапов</p>
					<p>Материалы подбираются в зависимости от подобранных характеристик дизайн студией и необходимой функциональности. Для бизнес центров с большой проходимостью используются износостойкие напольные покрытия: мрамор, напольная плитка, керамогранит.</p>
				</div>
				<div class="title_content">Косметический ремонт офисов.</div>
				<p>Вам необходимо выполнить небольшие ремонтно-планировочные работы или недостаточно времени, тогда косметический ремонт офисов в ограниченные сроки поможет привести помещение в надлежащий вид.</p>
				<div class="office_desc">Основные косметические ремонтные услуги:</div>
				<ul class="main_list">
					<li>Отделка потолков</li>
					<li>Штукатурные работы</li>
					<li>Укладка плитки</li>
					<li>Перепланировка перегородок</li>
					<li>Отделочные работы</li>
					<li>Замена напольных покрытий</li>
					<li>Поклейка обоев</li>
				</ul>
				<div class="title_content mb15">ОТДЕЛКА ОФИСОВ</div>
				<div class="office_wrap clearfix">
					<img src="images/office3.jpg" alt="ТезСтрой">
					<p>Обновление интерьера исправление недостатка предыдущего ремонта, без сложных работ: перепланировка, смена дизайна офиса, замена пластиковых окон, снос кирпичных перегородок. Подходит для отделки объектов без остановки работы офисных сотрудников. Оказываются по мере необходимости в любое время года</p>
				</div>
				<div class="form_wrapper">
					<div class="form_title">Закажите обратный звонок и <span>получите скидку</span> на проект <span>30%</span></div>
					<form action="">
						<div class="input_wrap">
							<input type="text" name="name" placeholder="Ваше имя" class="main_input">
							<input type="text" name="name" placeholder="Ваш номер телефона" class="main_input">
						</div>
						<textarea name="mess" class="textarea">Ваше сообщение</textarea>
						<div class="clearfix"></div>
						<button type="submit" class="send_button">Заказать звонок</button>
					</form>
				</div>
			</div>
			<div class="sidebar">
				<div class="h1">Наши услуги</div>
				<div class="sidebar_links_wrap">
					<a href="#">Дизайн проект</a>
					<a href="#">Натяжные потолки</a>
					<a href="office.html#officelink" class="active">Ремонт офисов под ключ</a>
					<a href="#">Муж на час</a>
				</div>
				<div class="h1">Отзывы</div>
				<div class="review_wrap">
					<div class="name">Любовь</div>
					<div class="desc">договор №3345 от 10.06.2015</div>
					<p>Делали ремонт коридора и кухни. Покраска стен и потолка выполнена качественно, плитка положена отлично, всё очень понравилось! Материалы поставляла фирма, в сроки уложились, всем довольна. Ребята большие молодцы!!</p>
					<a href="reviews.html#menumove">все отзывы</a><span> |</span>
					<a href="new_review.html#menumove">написать</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->
<!-- FOOTER -->
<div class="foooter_bg">
	<footer>
		<div class="main_container clearfix">
			<div class="phone_wrap">
				<img src="images/icon_mail.png" alt="ТезСтрой" width="21px" height="13px">
				<a href="#">info@tezstroi.ru</a>
			</div>
			<a href="index.html"><img src="images/logo_bottom.png" alt="ТезСтрой" class="logo_bottom"></a>
			<div class="mail_wrap">
				<img src="images/icon_phone.png" alt="ТезСтрой" width="21px" height="21px">
				<p>8 (499) 391-01-41</p>
			</div>
		</div>
	</footer>
</div>
<!-- END FOOTER -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
  </body>
</html>