<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>ТезСтрой</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
<div class="main_container clearfix">
	<header class="clearfix">
		<a href="index.html"><img src="images/logo.png" alt="ТезСтрой" class="logo"></a>
		<div class="title">Ремонт квартир под ключ<br>Начни ремонт с нами!</div>
		<div class="contact">
			<img src="images/icon_phone.png" alt="ТезСтрой"><p>8 (499) 391-01-41</p>
			<img src="images/icon_mail.png" alt="ТезСтрой"><a href="#">info@tezstroi.ru</a>
			<div class="work_time">c 8:00 до 22:00</div>
		</div>
	</header>
</div>
<!-- END HEADER -->
<!-- SLIDER -->
<div class="silder_bg">
	<ul class="bxslider">
<li><img src="images/slider_bg.jpg"/>
		<div class="main_container clearfix main_text_sl">
			<h1>ИНДИВИДУАЛЬНЫЙ РЕМОНТ</h1>
			<h2>квартир, домов и офисов под ключ
			в Москве и Московской области</h2>
			<div class="slider_list">
				<ul>
					<li>Ремонт - от 1500 руб./м2</li>
					<li>Ремонт ванной под ключ от 35000руб.</li>
					<li>Укладка плитки - 580 руб./м2</li>
					<li>Поклейка обоев - 150 руб./м2</li>
					<li>Укладка ламината - 180 руб./м2</li>
				</ul>
				<a href="#" class="button_move">Закажите сейчас</a>
			</div>
			<div class="clearfix"></div>
		</div>
	  </li>
	  	  <li><img src="images/slider_bg2.jpg"/>
	  	<div class="main_container clearfix main_text_sl Left">
			<h1>АКЦИИ</h1>
			<h2>- Выезд и составление сметы бесплатно</h2>
			<h2>- Скидка 10 % по социальной карте москвича</h2>
			<h2>- Дизайн - проект в подарок</h2>
			<div class="slider_list">
				<a href="#" class="button_move">Закажите сейчас</a>
			</div>
			<div class="clearfix"></div>
		</div>
	  </li>
	  <li><img src="images/slider_bg1.jpg"/>
			<div class="main_container clearfix main_text_sl">
			<h1>ИНДИВИДУАЛЬНЫЙ РЕМОНТ</h1>
			<h2>квартир, домов и офисов под ключ
			в Москве и Московской области</h2>
			<div class="slider_list">
				<ul>
					<li>Ремонт - от 1500 руб./м2</li>
					<li>Укладка плитки - 580 руб./м2</li>
					<li>Поклейка обоев - 150 руб./м2</li>
					<li>Укладка ламината - 180 руб./м2</li>
				</ul>
				<a href="#" class="button_move">Закажите сейчас</a>
			</div>
			<div class="clearfix"></div>
		</div>
	  </li>
	</ul>
</div>
<!-- SLIDER -->
<!-- CONTENT -->
<div class="content_bg">
	<div class="main_container clearfix">
	<div class="menu_wrapper" id="menumove">
			<ul>
				<li><a href="index.html#rem_click" class="icon1 in_click">Ремонт</a></li>
				<li><a href="action.html#menumove" class="icon2">Акции</a></li>
				<li><a href="examples.html#menumove" class="icon3">Примеры работ</a></li>
				<li><a href="warranty.html#menumove" class="icon4">Гарантии</a></li>
				<li><a href="reviews.html#menumove" class="icon5 active">Отзывы</a></li>
			</ul>
		</div>
		<div class="content_wrapper clearfix review_wraper">
			<div class="content_left">
				<div class="h1">Отзывы</div>
				<div class="review_block clearfix">
					<div class="img_review_wrap">
						<img src="images/review_img1.jpg" alt="ТезСтрой">
						<div class="name_r">Любовь</div>
						<div class="desc_r">договор №3345</div>
						<div class="desc_r">от 10.06.2015</div>
					</div>
					<div class="review_text">
						<div class="date">Дата отзыва: 2015-07-28</div>
						<div class="review_title">Ремонт коридора и кухни</div>
						<div class="review_write">Делали ремонт коридора и кухни. Покраска стен и потолка выполнена качественно, плитка положена отлично, всё очень понравилось! Материалы поставляла фирма, в сроки уложились, всем довольна. Ребята большие молодцы!! Спасибо прорабу Руслану.</div>		
					</div>
				</div>
				<div class="review_block clearfix">
					<div class="img_review_wrap">
						<img src="images/review_img2.jpg" alt="ТезСтрой">
						<div class="name_r">Леонид</div>
						<div class="desc_r">договор №3333</div>
						<div class="desc_r">от 10.02.2015</div>
					</div>
					<div class="review_text">
						<div class="date">Дата отзыва: 2015-04-16</div>
						<div class="review_title">Большое спасибо всем сотрудникам данной компании</div>
						<div class="review_write">Хочу сказать большое спасибо всем сотрудникам данной компании, с которыми довелось мне работать, за их вежливость, терпение и компетентность в своей области.Поверьте, мне есть с чем сравнивать, т.к. ранее столкнулась с др. компанией, после которой еще придется переделать часть ремонта. Отдельное спасибо бригадиру Руслану и его бригаде, за своевременное и качественное выполнение работ. В дальнейшем планирую продолжить сотрудничать с данной компанией и конечно же рекомендовать ее.</div>		
					</div>
				</div>
				<div class="review_block clearfix">
					<div class="img_review_wrap">
						<img src="images/review_img2.jpg" alt="ТезСтрой">
						<div class="name_r">Оксана</div>
						<div class="desc_r">договор №2172</div>
						<div class="desc_r">от 28.08.2014</div>
					</div>
					<div class="review_text">
						<div class="date">Дата отзыва: 2014-11-25</div>
						<div class="review_title">Все получилось просто ОТЛИЧНО.</div>
						<div class="review_write">Огромное СПАСИБО за оперативное и качественное спасение моей квартиры (точнее – ванны, туалета, кухни и коридора). К сожалению, предыдущая компания оставила после себя «много всего хорошего», и бросила все недоделанным. Но как оказалось, неисправимых ситуаций не бывает. :) Отдельное спасибо Евгению за терпение, понимание и организацию работ. Интересно, что не пришлось объяснять все по сто раз и переделывать столько же. ПРОШЛО ВСЕ БЫСТРО, ТИХО И МИРНО. Все получилось просто ОТЛИЧНО.</div>		
					</div>
				</div>
				<div class="pagination_wrap">
					<a href="#"><</a>
					<a href="#">1</a>
					<a href="#" class="active">2</a>
					<a href="#">3</a>
					<span>...</span>
					<a href="#">33</a>
					<a href="#">34</a>
					<a href="#">></a>
				</div>
				<div class="review_form">
					<div class="form_title">Оставить свой отзыв</div>
					<form action="">
						<div class="input_wrap">
							<input type="text" name="name" placeholder="Ваше имя*" class="main_input">
							<input type="text" name="name" placeholder="Ваш номер телефона*" class="main_input">
							<input type="text" name="zakas" placeholder="Номер заказа" class="main_input">
							<input type="text" name="file" placeholder="Загрузить фото" class="main_input">
						</div>
						<textarea name="mess" class="textarea">Текст отзыва*</textarea>
						<div class="clearfix"></div>
						<button type="submit" class="review_send">Оставить отзыв</button>
					</form>
				</div>			
			</div>
			<div class="sidebar">
				<div class="h1">Наши услуги</div>
				<div class="sidebar_links_wrap">
					<a href="#">Дизайн проект</a>
					<a href="#">Натяжные потолки</a>
					<a href="office.html#officelink" class="active">Ремонт офисов под ключ</a>
					<a href="#">Муж на час</a>
				</div>
				<div class="h1">Отзывы</div>
				<div class="review_wrap">
					<div class="name">Любовь</div>
					<div class="desc">договор №3345 от 10.06.2015</div>
					<p>Делали ремонт коридора и кухни. Покраска стен и потолка выполнена качественно, плитка положена отлично, всё очень понравилось! Материалы поставляла фирма, в сроки уложились, всем довольна. Ребята большие молодцы!!</p>
					<a href="reviews.html#menumove">все отзывы</a><span> |</span>
					<a href="new_review.html#menumove">написать</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->
<!-- FOOTER -->
<div class="foooter_bg">
	<footer>
		<div class="main_container clearfix">
			<div class="phone_wrap">
				<img src="images/icon_mail.png" alt="ТезСтрой" width="21px" height="13px">
				<a href="#">info@tezstroi.ru</a>
			</div>
			<a href="index.html"><img src="images/logo_bottom.png" alt="ТезСтрой" class="logo_bottom"></a>
			<div class="mail_wrap">
				<img src="images/icon_phone.png" alt="ТезСтрой" width="21px" height="21px">
				<p>8 (499) 391-01-41</p>
			</div>
		</div>
	</footer>
</div>
<!-- END FOOTER -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
  </body>
</html>