<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Школа Эволюции Разума</title>
	<link rel="shortcut icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
<div class="main_container clearfix" id="head">
	<img src="images/logo.jpg" height="102" width="241" alt="" class="logo">
	<div class="right_side">
		<div class="phone">+7 (961) 24-00-880</div>
		<a href="#" class="call_button">Подписаться</a>
	</div>
</div>
<!-- END HEADER -->
<!-- SLIDER -->
<div class="slider_bg">
	<div class="main_container clearfix">	
		<div class="slider_wrapper">
			<h1>Не пропусти главное!</h1>
			<div class="yellow_text">БЕСПЛАТНАЯ ОНЛАЙН
			ВСТРЕЧА</div>
			<p>Магический НОВОГОДНИЙ вечер
			с Талгатом Акбашевым!</p>
		</div>
		<div class="slider_wrapper_right">
			 <div id="form">
				<div class="form_h1">Зарегистрируйся на
				бесплатную встречу и<br>
				получи подарок –
				астрологический прогноз<br>
				на 2016 год</div>
				<div class="jc_subblock_0 jc_subblocktexture_0 ppp" id="subscr-block-9414">
	<form action="http://atf.justclick.ru/subscribe/process/?rid[0]=20yanvary" method="post" target="_blank" id="subscr-form-9414" onsubmit="return jc_chkscrfrm(this, false, false, false, false)">
 		<table align="center" border="0" cellspacing="0" cellpadding="3"><tbody>
  			<tr>
   				<td><input name="lead_name" type="text" onblur='if(this.value=="") this.value="Введите ваше имя"'  onfocus='if(this.value=="Введите ваше имя") this.value=""' value="Введите ваше имя" class="name" /></td>
  			</tr>
  			<tr>
   				<td><input name="lead_email" type="text" onblur='if(this.value=="") this.value="Введите ваш e-mail"'  onfocus='if(this.value=="Введите ваш e-mail") this.value=""' value="Введите ваш e-mail" class="mail" /></td>
  			</tr><placeholder/>
  			<tr>
   				<td><input type="submit" class="submit_button" style="color:#fff" value="Подписаться!" /></td>
  			</tr></tbody>
 		</table>
<script language="JavaScript" src="http://atf.justclick.ru/media/subscribe/helper2.js.php"></script>
<script language="JavaScript">jc_setfrmfld()</script>

	</form>
</div>


        </div> 
			</div>	
		</div>
		<!-- <img src="images/hat.png" height="128" width="94" alt="" class="hat"> -->
	</div>
</div>
<!-- END SLIDER -->
<!-- CONTENT -->
<div class="content_bg">
	<div class="main_container clearfix">
		<div class="h1">СТАРТ 2016. ПОЛОСА УДАЧИ:<br>
					ПОДГОТОВКА К ВЗЛЕТУ</div>
		<div class="left_side">
			<p>Старый год сворачивает свои крылья, устало доделывает оставшиеся дела. В декабрьском ветре слышен уже его облегченный затянувшийся выдох. Перелистывая странички своей жизни, мы, традиционно, мечтаем о будущем: о том, чтобы новый год принес новые удачи, новые победы, новые чудеса и радости…</p>
			<h2>Хватит мечтать, пора действовать!</h2>
			<p>Безграничный потенциал человеческого мозга с позиции физики и
			кибернетики, управляемое чудо – как научный феномен, реальная схема 
			воплощения собственных замыслов: такого подарка к Новому году у вас еще 
			не было. НО ТЕПЕРЬ БУДЕТ!</p>
		</div>
		<img src="images/people.jpg" height="444" width="496" alt="" class="people">
	</div>
</div>
<!-- END CONTENT -->
<!-- REQUEST -->
<div class="request_bg">
	<div class="main_container clearfix" >
		<div class="request_h1">Записаться на бесплатную онлайн встречу!</div>
		<div class="form1">
		<div class="jc_subblock_0 jc_subblocktexture_0 without" id="subscr-block-9414">
	<form action="http://atf.justclick.ru/subscribe/process/?rid[0]=20yanvary" method="post" target="_blank" id="subscr-form-9414" onsubmit="return jc_chkscrfrm(this, false, false, false, false)">
 		<input name="lead_name" type="text" onblur='if(this.value=="") this.value="Введите ваше имя"'  onfocus='if(this.value=="Введите ваше имя") this.value=""' value="Введите ваше имя" class="name1" />
  		<input name="lead_email" type="text" onblur='if(this.value=="") this.value="Введите ваш e-mail"'  onfocus='if(this.value=="Введите ваш e-mail") this.value=""' value="Введите ваш e-mail" class="mail1" />
  		<input type="submit" class="submit_button1" style="color:#fff" value="Подписаться!" />
 		
<script language="JavaScript" src="http://atf.justclick.ru/media/subscribe/helper2.js.php"></script>
<script language="JavaScript">jc_setfrmfld()</script>

	</form>
</div>
</div>
	</div>

</div>
<!-- END REQUEST -->
<!-- TIME -->
<div class="main_container clearfix time">
	<div class="h1">НА ЧТО Я ПОТРАЧУ СВОЕ ВРЕМЯ?</div>
	<div class="left_time">
		<img src="images/direktor.jpg" height="260" width="260" alt="">
		<img src="images/second.jpg" height="260" width="260" alt="">
		<img src="images/third.jpg" height="260" width="260" alt="">

	</div>
	<div class="right_time">
		<div class="h2_time">Во-первых</div>
		<p>на приятное, слегка волшебное, общение с уникальной личностью: Талгат Акбашев – это феноменальное сочетание природного магического дара с многолетними фундаментальными научными исследованиями в области физики и кибернетики. Кандидат наук, академик, реалист, практик. <a href="" class="more">Подробнее о ведущем</a></p>
		<div class="h2_time">Во-вторых</div>
		<p>- Совершу путешествие в мой счастливый 2016 год (ментальный тренинг). Квантовая физика на практике.<br>
- Настрою себя и свой мозг на воплощение своих замыслов.<br>
- Освобожусь от ненужных шаблонов. Заряжусь любовью, радостью, успешностью.<br>
- Гармонизирую свое личное и семейное пространство</p>
		<div class="h2_time1">И, наконец, в третьих</div>
		<p>получу свой главный новогодний подарок: реально работающие, простые и доступные инструменты управления собственной судьбой.</p>
	</div>
	<img src="images/direkotor_l.png" height="91" width="97" alt="" class="dop">
</div>
<!-- END TIME -->
<!-- IMPORTANT -->
<div class="important_bg">
<img src="images/layer.png" height="338" width="305" alt="" class="layer1">
	<div class="main_container clearfix" id="important">

		<div class="important_h1">Почему это важно именно сейчас?</div>
		<p>Талгат АКБАШЕВ: «Год 2016 - непростой год. Великие напряжения и великие сотрясения идут на нас. Но есть закон: чем выше напряжения, тем выше потенциал развития, как человека, так и человечества.  Год 2016 несет в себе кардинальный прорыв человечества во всех отношениях. Чем более мы открыты к миру материи, тем выше потенциал нашего благополучия во всем, - в здоровье, отношениях, успешности дел наших. И тем выше приведенный нами в действие глубинный потенциал. Все, что нам нужно, владеть способом трансформации энергии напряжений в собственную силу и жизненный успех»</p>
	</div>	
</div>
<!-- END IMPORTANT -->
<!-- INFO -->
<div class="main_container clearfix info">
	<div class="h1">ИНФОРМИРОВАН -  ЗНАЧИТ – ВООРУЖЕН!
УСПЕЙ ПОДГОТОВИТЬСЯ К НОВОМУ ГОДУ ТАК, ЧТОБЫ</div>
	<div class="circles">
		<img src="images/circle1.jpg" height="96" width="96" alt="">
		<img src="images/circle2.jpg" height="96" width="96" alt="">
		<img src="images/circle3.jpg" height="96" width="96" alt="">
	</div>
	<div class="right_reguest">
		<p>ИЗМЕНЕНИЯ БЫЛИ – <span class="orange">К ЛУЧШЕМУ</span></p>
		<p>ТРУДНОСТИ – <span class="blue">ПРИНОСИЛИ УДАЧУ И УСПЕХ</span></p>
		<p>СОБЫТИЯ – <span class="green">НАПОЛНЯЛИ СИЛОЙ И ЭНЕРГИЕЙ ПРОРЫВОВ</span></p>
	
	</div>
</div>
<!-- END INFO -->
<!-- REQUEST -->
<div class="request_bg">
	<div class="main_container clearfix" >
		<div class="request_h1">Записаться на бесплатную онлайн встречу!</div>
		<div class="form1">
		<div class="jc_subblock_0 jc_subblocktexture_0 without" id="subscr-block-9414">
	<form action="http://atf.justclick.ru/subscribe/process/?rid[0]=20yanvary" method="post" target="_blank" id="subscr-form-9414" onsubmit="return jc_chkscrfrm(this, false, false, false, false)">
 		<input name="lead_name" type="text" onblur='if(this.value=="") this.value="Введите ваше имя"'  onfocus='if(this.value=="Введите ваше имя") this.value=""' value="Введите ваше имя" class="name1" />
  		<input name="lead_email" type="text" onblur='if(this.value=="") this.value="Введите ваш e-mail"'  onfocus='if(this.value=="Введите ваш e-mail") this.value=""' value="Введите ваш e-mail" class="mail1" />
  		<input type="submit" class="submit_button1" style="color:#fff" value="Подписаться!" />
 		
<script language="JavaScript" src="http://atf.justclick.ru/media/subscribe/helper2.js.php"></script>
<script language="JavaScript">jc_setfrmfld()</script>

	</form>
</div>
</div>
	</div>

</div>
<!-- END REQUEST -->
<!-- FOOTER -->
<div class="main_container clearfix">
	<img src="images/logo.jpg" height="102" width="241" alt="" class="logo">
	<div class="right_side">
		<div class="phone">+7 (961) 24-00-880</div>
		<a href="#" class="call_button">Подписаться</a>
	</div>
</div>
<!-- END FOOTER -->
<!-- MODAL -->
<div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#"></a>
         <!-- <form  id="form1" onsubmit="refr();"> -->
          <div class="modal_h1">Подписаться</div>
<div class="jc_subblock_0 jc_subblocktexture_0 ppp" id="subscr-block-9414">
	<form action="http://atf.justclick.ru/subscribe/process/?rid[0]=20yanvary" method="post" target="_blank" id="subscr-form-9414" onsubmit="return jc_chkscrfrm(this, false, false, false, false)">
 		<table align="center" border="0" cellspacing="0" cellpadding="3"><tbody>
  			<tr>
   				<td><input name="lead_name" type="text" onblur='if(this.value=="") this.value="Введите ваше имя"'  onfocus='if(this.value=="Введите ваше имя") this.value=""' value="Введите ваше имя" class="name" /></td>
  			</tr>
  			<tr>
   				<td><input name="lead_email" type="text" onblur='if(this.value=="") this.value="Введите ваш e-mail"'  onfocus='if(this.value=="Введите ваш e-mail") this.value=""' value="Введите ваш e-mail" class="mail" /></td>
  			</tr><placeholder/>
  			<tr>
   				<td><input type="submit" class="submit_button" style="color:#fff" value="Подписаться!" /></td>
  			</tr></tbody>
 		</table>
<script language="JavaScript" src="http://atf.justclick.ru/media/subscribe/helper2.js.php"></script>
<script language="JavaScript">jc_setfrmfld()</script>

	</form>
</div>


        </div> 
<!-- END MODAL -->
<div id="scrollup" class="first">
<img src="images/up_st.png" alt="arrow" class="first">
<h4>Наверх</h4>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/scrollup.js"></script>
<script src="js/snow.js"></script>
<script src="js/script.js"></script>
  </body>
</html>