<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>BeWhite - Главная страница</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
<div class="main_container clearfix">
	<header>
		<a href="index.html"><img src="images/logo.jpg" alt="BeWhite" class="logo"></a>
		<div class="contact_us">
			<span>Мы находим решения ИТ-задач</span>
			<p><i class="fa fa-phone"></i>+7 (495) <strong>876-96-12</strong></p>
		</div>
		<div class="clearfix"></div>
		<ul id="menu">
			<li class="active pro"><a href="product.html">Оборудование</a>
				<div class="dropdown_4columns"><!-- Begin 4 columns container -->
            
            <div class="col_1">
                <ul>
                    <li><a href="oborudovanie.html">Сервера</a></li>
                    <li><a href="#">Системы хранения данных</a></li>
                    <li><a href="#">Сетевое оборудование</a></li>
                    <li><a href="#">Информационная безопасность</a></li>
                </ul>   
                 
            </div>
    
            <div class="col_1">
                <ul>
                    <li><a href="#">Сервера</a></li>
                    <li><a href="#">Системы хранения данных</a></li>
                    <li><a href="#">Сетевое оборудование</a></li>
                    <li><a href="#">Информационная безопасность</a></li>
                </ul>   
                 
            </div>
            
        </div>
			</li>
			<li><a href="#">Услуги</a></li>
			<li><a href="solutions.html">Решения</a></li>
			<li><a href="#">Новости</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		<a href="#" class="order_button"><img src="images/icon_button.png" alt=""><span>Заказать звонок</span></a>
	</header>
<!-- END HEADER -->
<!-- PRODUCTS -->
		<div class="breadcrumbs">
			<a href="index.html">Главная страница</a> / <span class="subcrumb">Продукция</span>
		</div>
		<div class="h1">Продукция</div>
		<div class="product_wrap">
			<div class="product_block">
				<div class="product_title">Сетевое оборудование Juniper</div>
				<div class="img_block"><img src="images/product_photo.jpg" alt="BeWhite"></div>
				<p>Juniper Networks— это прозрачная компания-поставщик высокопроизводительных сетевых решений. Juniper предлагает широкий спектр продуктов,<a href="#">подробнее</a></p>
			</div>
			<div class="product_block">
				<div class="product_title">Сетевое оборудование Juniper</div>
				<div class="img_block"><img src="images/product_photo.jpg" alt="BeWhite"></div>
				<p>Juniper Networks— это прозрачная компания-поставщик высокопроизводительных сетевых решений. Juniper предлагает широкий спектр продуктов,<a href="#">подробнее</a></p>
			</div>
			<div class="product_block">
				<div class="product_title">Сетевое оборудование Juniper</div>
				<div class="img_block"><img src="images/product_photo.jpg" alt="BeWhite"></div>
				<p>Juniper Networks— это прозрачная компания-поставщик высокопроизводительных сетевых решений. Juniper предлагает широкий спектр продуктов,<a href="#">подробнее</a></p>
			</div>
			<div class="product_block">
				<div class="product_title">Сетевое оборудование Juniper</div>
				<div class="img_block"><img src="images/product_photo.jpg" alt="BeWhite"></div>
				<p>Juniper Networks— это прозрачная компания-поставщик высокопроизводительных сетевых решений. Juniper предлагает широкий спектр продуктов,<a href="#">подробнее</a></p>
			</div>
			<div class="product_block">
				<div class="product_title">Сетевое оборудование Juniper</div>
				<div class="img_block"><img src="images/product_photo.jpg" alt="BeWhite"></div>
				<p>Juniper Networks— это прозрачная компания-поставщик высокопроизводительных сетевых решений. Juniper предлагает широкий спектр продуктов,<a href="#">подробнее</a></p>
			</div>
			<div class="product_block">
				<div class="product_title">Сетевое оборудование Juniper</div>
				<div class="img_block"><img src="images/product_photo.jpg" alt="BeWhite"></div>
				<p>Juniper Networks— это прозрачная компания-поставщик высокопроизводительных сетевых решений. Juniper предлагает широкий спектр продуктов,<a href="#">подробнее</a></p>
			</div>
			<div class="helper"></div> <!-- скрытый блок для выравнивания элементов -->
		</div>
<!-- END PRODUCTS -->
<!-- PARTNERS -->
	<div class="clearfix"></div>
	<div class="partners_wrap">
		<img src="images/partners.jpg" alt="Bewhite">
	</div>
<!-- END PARTNERS -->
<!-- FOOTER -->
	<footer>
		<div class="footer_text">
			<p>© 2013 – 2016 ООО «БиВайт»</p>
			<p>Адрес: 630132, г. Новосибирск, Пр. Димитрова д.7</p>
		</div>
		<div class="footer_text plb">
			<p>Телефон: +7 (383) 263-18-22</p>
			<p>E-mail: <a href="mailto:bewhite@bewhite.ru" class="mail">bewhite@bewhite.ru</a></p>
		</div>
		<div class="social">
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
		</div>
	</footer>
<!-- END FOOTER -->
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
  </body>
</html>