<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>BeWhite - Главная страница</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
<div class="main_container clearfix">
	<header>
		<a href="index.html"><img src="images/logo.jpg" alt="BeWhite" class="logo"></a>
		<div class="contact_us">
			<span>Мы находим решения ИТ-задач</span>
			<p><i class="fa fa-phone"></i>+7 (495) <strong>876-96-12</strong></p>
		</div>
		<div class="clearfix"></div>
		<ul id="menu">
			<li class="active pro"><a href="product.html">Оборудование</a>
				<div class="dropdown_4columns"><!-- Begin 4 columns container -->
            
            <div class="col_1">
                <ul>
                    <li><a href="oborudovanie.html">Сервера</a></li>
                    <li><a href="#">Системы хранения данных</a></li>
                    <li><a href="#">Сетевое оборудование</a></li>
                    <li><a href="#">Информационная безопасность</a></li>
                </ul>   
                 
            </div>
    
            <div class="col_1">
                <ul>
                    <li><a href="#">Сервера</a></li>
                    <li><a href="#">Системы хранения данных</a></li>
                    <li><a href="#">Сетевое оборудование</a></li>
                    <li><a href="#">Информационная безопасность</a></li>
                </ul>   
                 
            </div>
            
        </div>
			</li>
			<li><a href="#">Услуги</a></li>
			<li><a href="solutions.html">Решения</a></li>
			<li><a href="#">Новости</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		<a href="#" class="order_button"><img src="images/icon_button.png" alt=""><span>Заказать звонок</span></a>
	</header>
<!-- END HEADER -->
<!-- SOLUTIONS -->
	<div class="solutions_wrap">
		<div class="breadcrumbs">
			<a href="index.html">Главная страница</a> / <span>Готовые решения</span>
		</div>
		<div class="h1">ПЕРВЫЙ В РОССИИ INTERCLOUD-ПАРТНЕР CISCO</div>
		<p>Согласно сведениям министерства, 17 февраля истребители НАТО поднялись с авиабазы Шяуляй в Литве для перехвата российского Ил-20, следовавшего из материковой части России в Калининград. В сообщении Минобороны уточняется, что Ил-20 следовал с отключенным бортовым транспордером (устройство автоматической идентификации воздушного судна), но придерживался заранее представленного плана полета и поддерживал радиосвязь с наземными центрами контроля.</p>
		<p>Пассажирский Boeing 737 авиакомпании UTair экстренно сел в московском аэропорту Внуково из-за разгерметизации салона. Лайнер выполнял рейс из Москвы в Когалым
		Пассажирский самолет Boeing 737 компании UTair вынужденно сел во Внуково в связи с разгерметизацией салона. 
		Об этом «РИА Новости» рассказал источник в экстренных службах столицы.</p>
		<p>«После взлета самолет находился в воздухе 24 минуты, после выработки топлива в 11:07 благополучно приземлился во Внуково», — сказал собеседник агентства. Данные об успешной посадке подтвердили представители аэропорта.</p>
		<p>Собеседник ТАСС в экстренных службах Внуково рассказал, что при наборе высоты на границе Московской и Владимирской областей у самолета возникли неполадки. Источник агентства утверждает, что лайнер вырабатывал топливо примерно час.</p>
		<span>12 марта 2012 года</span>
	</div>
<!-- END SOLUTIONS -->
<!-- SIDEBAR -->
	<div class="sidebar_wrap">
		<div class="h1">Отзывы</div>
		<div class="reviews_block">
			<div class="name">Олег</div>
			<div class="company">СПД Попко</div>
			<span>27.12.15</span>
			<p>Хочу поздравить всех сотрудников с наступающим Новым Годом. В частности моего менеджера Нину Сезину и поблагодарить ее за внимание и помощь. Всем желаю всех благ.</p>
		</div>
		<div class="reviews_block">
			<div class="name">Олег</div>
			<div class="company">СПД Попко</div>
			<span>27.12.15</span>
			<p>Хочу поздравить всех сотрудников с наступающим Новым Годом. В частности моего менеджера Нину Сезину и поблагодарить ее за внимание и помощь. Всем желаю всех благ.</p>
		</div>
		<div class="reviews_block">
			<div class="name">Олег</div>
			<div class="company">СПД Попко</div>
			<span>27.12.15</span>
			<p>Хочу поздравить всех сотрудников с наступающим Новым Годом. В частности моего менеджера Нину Сезину и поблагодарить ее за внимание и помощь. Всем желаю всех благ.</p>
		</div>
	</div>
<!-- END SIDEBAR -->
<!-- PARTNERS -->
	<div class="clearfix"></div>
	<div class="partners_wrap">
		<img src="images/partners.jpg" alt="Bewhite">
	</div>
<!-- END PARTNERS -->
<!-- FOOTER -->
	<footer>
		<div class="footer_text">
			<p>© 2013 – 2016 ООО «БиВайт»</p>
			<p>Адрес: 630132, г. Новосибирск, Пр. Димитрова д.7</p>
		</div>
		<div class="footer_text plb">
			<p>Телефон: +7 (383) 263-18-22</p>
			<p>E-mail: <a href="mailto:bewhite@bewhite.ru" class="mail">bewhite@bewhite.ru</a></p>
		</div>
		<div class="social">
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
		</div>
	</footer>
<!-- END FOOTER -->
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
  </body>
</html>