<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Ванна-Эконом­Ремонт</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/flipclock.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div class="fixed_nav">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#" class="on_action">Акции</a></li>
				<li><a href="#" class="on_whe">Почему мы</a></li>
				<li><a href="#" class="on_tabs">Примеры работ</a></li>
				<li><a href="#" class="on_price">Цены</a></li>
				<li><a href="#" class="on_reviews">Отзывы</a></li>
				<li><a href="#" class="on_catalog">Каталог панелей</a></li>
			</ul>
			<div class="toggle_menu">
	   			<a href="#menu" id="toggle"><span></span></a>
			</div>
			<div class="phone_mobile button">+7 (495) 256-16-40</div>
		</div>
	</div>
	<div class="main_container clearfix">
		<div class="header_wrap">
			<div class="logo clearfix">
				<img src="images/logo.png" alt="Alt">
				<div class="logo_text">
					<div class="title">Ванна-Эконом­-Ремонт</div>
					<div class="subtitle">Недорогой и быстрый ремонт ванных<br>
					комнат в Москве и Подмосковье</div>
				</div>
			</div>
			<div class="top_description">
				<p><span>№1</span> по отделке санузлов ПВХ-­панелями</p>
				<p><span>120+</span> отремонтированных санузлов в месяц</p>
				<p><span>20</span> аттестованных мастеров</p>
			</div>
			<div class="phone_top">
				<p>Звоните с 9 до 20 без выходных</p>
				<span>+7 (495) 256-16-40</span>
				<a href="#" class="button">Заказать звонок</a>
			</div>
		</div>
	</div>
<!-- END HEADER -->
<!-- ACTION -->
	<div class="action_bg">
		<div class="green_bg clearfix">
			<div class="main_container clearfix">
				<h1>Ремонт и отделка санузлов ПВХ-панелями – в 3 раза дешевле и 
				быстрее чем плиткой!</h1>
			</div>
		</div>
		<div class="orange_bg">
			<div class="main_container clearfix">
				<h2>Запишитесь на замер <span>до 30 июля</span>, чтобы получить скидку и подарок!</h2>
			</div>
		</div>
		<div class="main_container clearfix">
			<div class="action_wrap clearfix">
				<div class="action_block">
					<div class="title">Совмещенный санузел за</div>
					<span class="crossline_price">24 000 руб.</span><span class="main_price">27 000 руб.</span>
					<p>(отделка стен, потолка, материал)</p>
					<img src="images/action_img1.jpg" alt="Alt">
					<a href="#" class="button">Заказать</a>
				</div>
				<div class="action_block">
					<div class="title">Ванная комната за</div>
					<span class="crossline_price">25 000 руб.</span><span class="main_price">22 000 руб.</span>
					<p>(отделка стен, потолка, материал)</p>
					<img src="images/action_img2.jpg" alt="Alt">
					<a href="#" class="button">Заказать</a>
				</div>
				<div class="action_block">
					<div class="title">Туалетная комната за</div>
					<span class="crossline_price"> 16 000 руб.</span><span class="main_price">13 000 руб.</span>
					<p>(отделка стен, потолка, материал)</p>
					<img src="images/action_img3.jpg" alt="Alt">
					<a href="#" class="button">Заказать</a>
				</div>
			</div>
			<div class="podarok_block">
				<img src="images/podarok_img1.png" alt="Alt" class="podarok_img1">
				<img src="images/podarok_m_img1.png" alt="Alt" class="podarok_img3">
				<div class="podarok_text">
					<div class="title">Получите бесплатно подарок!</div>
					<span>Укладка плитки на<br>
					пол (с материалом)</span>
					<span>или</span>
					<span>Установка потолка с<br>
					лампочками<br>
					(материалом)</span>
				</div>
				<img src="images/podarok_img2.png" alt="Alt" class="podarok_img2">
				<img src="images/podarok_m_img2.png" alt="Alt" class="podarok_img4">
			</div>
			<div class="timer_block">
				<div class="timer_title">Торопитесь! До конца акции осталось:</div>
				<div class="your-clock"></div>
			</div>
		</div>
	</div>
<!-- END ACTION -->
<!-- GREEN BLOCK -->
	<div class="main_green_bg">
		<div class="main_container clearfix">
			<div class="title">Для консультации и бесплатного вызова замерщика  (до 50 км от МКАД)</div>
			<div class="phone_block">
				<p>+7 (495) 256-16- 40</p>
				<span>(с 9 до 20 без выходных)</span>
			</div>
			<div class="or">или</div>
			<a href="#" class="send button">Отправьте заявку!</a>
		</div>
	</div>
<!-- END GREEN BLOCK -->
<!-- ADVANTAGES PVX -->
	<div class="main_container clearfix">
		<div class="h1">Преимущества отделки ванной комнаты ПВХ-панелями</div>
		<div class="pvh_wrap">
			<ul>
				<li>- Стойкость к воде и пару, устойчивость к деформациям, гигиеничность панелей</li>
				<li>- Простота ухода – достаточно протирать поверхность влажной тканью</li>
				<li>- Большой выбор расцветок и рисунков, возможность имитации других материалов</li>
				<li>- Экономия бюджета и времени – благодаря простоте монтажа панелей</li>
			</ul>
		</div>
	</div>
<!-- END ADVANTAGES PVX -->
<!-- MAIN ADVANTAGES -->
	<div class="main_advantages_bg">
		<div class="main_container clearfix">
			<div class="h1">Почему выбирают нас?</div>
			<div class="main_advantages_wrap clearfix">
				<div class="main_advantages_block">
					<div class="circle"><img src="images/avantages_icon1.png" alt="Alt"></div>
					<div class="main_advantages_text">
						<div class="title">Реально низкие цены</div>
						<p>Издержки снижены за счет больших объемов и специализации на ремонте санузлов с использованием пвх-панелей</p>
					</div>
				</div>
				<div class="main_advantages_block">
					<div class="circle"><img src="images/avantages_icon2.png" alt="Alt"></div>
					<div class="main_advantages_text">
						<div class="title">Квалифицированные сотрудники</div>
						<p>Все с опытом от 5 лет и прошли аттестацию. Мастера-приемщики контролируют качество работ</p>
					</div>
				</div>
				<div class="main_advantages_block">
					<div class="circle"><img src="images/avantages_icon3.png" alt="Alt"></div>
					<div class="main_advantages_text">
						<div class="title">Короткие сроки</div>
						<p>Ремонтируем санузел «под ключ» за 1-2 дня. Проведение работ возможно и в выходные</p>
					</div>
				</div>
				<div class="main_advantages_block">
					<div class="circle"><img src="images/avantages_icon4.png" alt="Alt"></div>
					<div class="main_advantages_text">
						<div class="title">Только качественные сертифицированные материалы.</div>
						<p>В ассортименте более 100 видов панелей, от простых до 3D</p>
					</div>
				</div>
				<div class="main_advantages_block">
					<div class="circle"><img src="images/avantages_icon5.png" alt="Alt"></div>
					<div class="main_advantages_text">
						<div class="title">Оплата по факту</div>
						<p>Вы платите после проверки качества и приемки работ</p>
					</div>
				</div>
				<div class="main_advantages_block">
					<div class="circle"><img src="images/avantages_icon6.png" alt="Alt"></div>
					<div class="main_advantages_text">
						<div class="title">Комплексно обеспечиваем всем необходимым</div>
						<p>(фурнитура, акрил, санфаянс, мебель) по адекватным ценам. Вам не потребуется бегать по строительным рынкам и магазинам</p>
					</div>
				</div>
				<div class="main_advantages_block">
					<div class="circle"><img src="images/avantages_icon7.png" alt="Alt"></div>
					<div class="main_advantages_text">
						<div class="title">Работаем по договору</div>
						<p>Все обязательства зафиксированы. Цены не меняются в процессе и по завершении</p>
					</div>
				</div>
				<div class="main_advantages_block">
					<div class="circle"><img src="images/avantages_icon8.png" alt="Alt"></div>
					<div class="main_advantages_text">
						<div class="title">Гаратния</div>
						<p>на работы - 2 года, на материалы - до 5 лет!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END MAIN ADVANTAGES -->
<!-- GREEN BLOCK -->
	<div class="main_green_bg">
		<div class="main_container clearfix">
			<div class="title">Пригласите инженера-замерщика для бесплатной консультации по телефону:</div>
			<div class="phone_block">
				<p>+7 (495) 256-16- 40</p>
				<span>(с 9 до 20 без выходных)</span>
			</div>
			<div class="or">или</div>
			<a href="#" class="send button">Отправьте заявку!</a>
		</div>
	</div>
<!-- END GREEN BLOCK -->
<!-- TABS -->
	<div class="tabs_bg">
	<div class="main_container clearfix">
		<div class="h1">Примеры наших работ</div>
		<div class="tabs_wrap">
			<div class="korpus">
			  <input type="radio" name="odin" checked="checked" id="vkl1"/>
			  <label for="vkl1">1</label>
			  <input type="radio" name="odin" id="vkl2"/>
			  <label for="vkl2">2</label>
			  <input type="radio" name="odin" id="vkl3"/>
			  <label for="vkl3">3</label>
			   <input type="radio" name="odin" id="vkl4"/>
			  <label for="vkl4">4</label>
			   <input type="radio" name="odin" id="vkl5"/>
			  <label for="vkl5">5</label>
			   <input type="radio" name="odin" id="vkl6"/>
			  <label for="vkl6">6</label>
			   <input type="radio" name="odin" id="vkl7"/>
			  <label for="vkl7">7</label>
			   <input type="radio" name="odin" id="vkl8"/>
			  <label for="vkl8">8</label>
			   <input type="radio" name="odin" id="vkl9"/>
			  <label for="vkl9">9</label>
			   <input type="radio" name="odin" id="vkl10"/>
			  <label for="vkl10">10</label>
			   <input type="radio" name="odin" id="vkl11" class="dnp" />
			  <label for="vkl11" class="dnp">11</label>
			  <div class="clearfix">
			  	<div class="tabs_slider_wrap">
			  		<ul class="bxslider">
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					</ul>
			  	</div>
			  	<div class="tabs_slider_text">
			  		<ul class="tabs_slider_text_first_list">
			  			<li><span>Санузел:</span> Совмещенный</li>
			  			<li><span>Размер комнаты:</span> 180*190 см</li>
			  			<li><span>Наименование панелей:</span> "Адмирал"</li>
			  			<li><span>Срок выполнения заказа:</span> 3 дня</li>
			  		</ul>
			  		<div class="works">Выполненные работы:</div>
			  		<ul class="tabs_slider_text_second_list">
			  			<li>Скол старой плитки</li>
			  			<li>Отделка стен и потолка ПВХ панелями</li>
			  			<li>Обработка стен антисептиком</li>
			  			<li>Установка подвесного потолка</li>
			  			<li>Замена унитаза</li>
			  			<li>Замена двери</li>
			  			<li>Укладка напольной плитки</li>
			  		</ul>
			  	</div>
			  </div>
			  <div class="clearfix">
			  	<div class="tabs_slider_wrap">
			  		<ul class="bxslider2">
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					</ul>
			  	</div>
			  	<div class="tabs_slider_text">
			  		<ul class="tabs_slider_text_first_list">
			  			<li><span>Санузел:</span> Совмещенный</li>
			  			<li><span>Размер комнаты:</span> 180*190 см</li>
			  			<li><span>Наименование панелей:</span> "Адмирал"</li>
			  			<li><span>Срок выполнения заказа:</span> 3 дня</li>
			  		</ul>
			  		<div class="works">Выполненные работы:</div>
			  		<ul class="tabs_slider_text_second_list">
			  			<li>Скол старой плитки</li>
			  			<li>Отделка стен и потолка ПВХ панелями</li>
			  			<li>Обработка стен антисептиком</li>
			  			<li>Установка подвесного потолка</li>
			  			<li>Замена унитаза</li>
			  			<li>Замена двери</li>
			  			<li>Укладка напольной плитки</li>
			  		</ul>
			  	</div>
			  </div>
			   <div class="clearfix">
			  	<div class="tabs_slider_wrap">
			  		<ul class="bxslider3">
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					</ul>
			  	</div>
			  	<div class="tabs_slider_text">
			  		<ul class="tabs_slider_text_first_list">
			  			<li><span>Санузел:</span> Совмещенный</li>
			  			<li><span>Размер комнаты:</span> 180*190 см</li>
			  			<li><span>Наименование панелей:</span> "Адмирал"</li>
			  			<li><span>Срок выполнения заказа:</span> 3 дня</li>
			  		</ul>
			  		<div class="works">Выполненные работы:</div>
			  		<ul class="tabs_slider_text_second_list">
			  			<li>Скол старой плитки</li>
			  			<li>Отделка стен и потолка ПВХ панелями</li>
			  			<li>Обработка стен антисептиком</li>
			  			<li>Установка подвесного потолка</li>
			  			<li>Замена унитаза</li>
			  			<li>Замена двери</li>
			  			<li>Укладка напольной плитки</li>
			  		</ul>
			  	</div>
			  </div>
			   <div class="clearfix">
			  	<div class="tabs_slider_wrap">
			  		<ul class="bxslider4">
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					</ul>
			  	</div>
			  	<div class="tabs_slider_text">
			  		<ul class="tabs_slider_text_first_list">
			  			<li><span>Санузел:</span> Совмещенный</li>
			  			<li><span>Размер комнаты:</span> 180*190 см</li>
			  			<li><span>Наименование панелей:</span> "Адмирал"</li>
			  			<li><span>Срок выполнения заказа:</span> 3 дня</li>
			  		</ul>
			  		<div class="works">Выполненные работы:</div>
			  		<ul class="tabs_slider_text_second_list">
			  			<li>Скол старой плитки</li>
			  			<li>Отделка стен и потолка ПВХ панелями</li>
			  			<li>Обработка стен антисептиком</li>
			  			<li>Установка подвесного потолка</li>
			  			<li>Замена унитаза</li>
			  			<li>Замена двери</li>
			  			<li>Укладка напольной плитки</li>
			  		</ul>
			  	</div>
			  </div>
			   <div class="clearfix">
			  	<div class="tabs_slider_wrap">
			  		<ul class="bxslider5">
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					</ul>
			  	</div>
			  	<div class="tabs_slider_text">
			  		<ul class="tabs_slider_text_first_list">
			  			<li><span>Санузел:</span> Совмещенный</li>
			  			<li><span>Размер комнаты:</span> 180*190 см</li>
			  			<li><span>Наименование панелей:</span> "Адмирал"</li>
			  			<li><span>Срок выполнения заказа:</span> 3 дня</li>
			  		</ul>
			  		<div class="works">Выполненные работы:</div>
			  		<ul class="tabs_slider_text_second_list">
			  			<li>Скол старой плитки</li>
			  			<li>Отделка стен и потолка ПВХ панелями</li>
			  			<li>Обработка стен антисептиком</li>
			  			<li>Установка подвесного потолка</li>
			  			<li>Замена унитаза</li>
			  			<li>Замена двери</li>
			  			<li>Укладка напольной плитки</li>
			  		</ul>
			  	</div>
			  </div>
			   <div class="clearfix">
			  	<div class="tabs_slider_wrap">
			  		<ul class="bxslider6">
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					</ul>
			  	</div>
			  	<div class="tabs_slider_text">
			  		<ul class="tabs_slider_text_first_list">
			  			<li><span>Санузел:</span> Совмещенный</li>
			  			<li><span>Размер комнаты:</span> 180*190 см</li>
			  			<li><span>Наименование панелей:</span> "Адмирал"</li>
			  			<li><span>Срок выполнения заказа:</span> 3 дня</li>
			  		</ul>
			  		<div class="works">Выполненные работы:</div>
			  		<ul class="tabs_slider_text_second_list">
			  			<li>Скол старой плитки</li>
			  			<li>Отделка стен и потолка ПВХ панелями</li>
			  			<li>Обработка стен антисептиком</li>
			  			<li>Установка подвесного потолка</li>
			  			<li>Замена унитаза</li>
			  			<li>Замена двери</li>
			  			<li>Укладка напольной плитки</li>
			  		</ul>
			  	</div>
			  </div>
			   <div class="clearfix">
			  	<div class="tabs_slider_wrap">
			  		<ul class="bxslider7">
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					</ul>
			  	</div>
			  	<div class="tabs_slider_text">
			  		<ul class="tabs_slider_text_first_list">
			  			<li><span>Санузел:</span> Совмещенный</li>
			  			<li><span>Размер комнаты:</span> 180*190 см</li>
			  			<li><span>Наименование панелей:</span> "Адмирал"</li>
			  			<li><span>Срок выполнения заказа:</span> 3 дня</li>
			  		</ul>
			  		<div class="works">Выполненные работы:</div>
			  		<ul class="tabs_slider_text_second_list">
			  			<li>Скол старой плитки</li>
			  			<li>Отделка стен и потолка ПВХ панелями</li>
			  			<li>Обработка стен антисептиком</li>
			  			<li>Установка подвесного потолка</li>
			  			<li>Замена унитаза</li>
			  			<li>Замена двери</li>
			  			<li>Укладка напольной плитки</li>
			  		</ul>
			  	</div>
			  </div>
			   <div class="clearfix">
			  	<div class="tabs_slider_wrap">
			  		<ul class="bxslider8">
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					</ul>
			  	</div>
			  	<div class="tabs_slider_text">
			  		<ul class="tabs_slider_text_first_list">
			  			<li><span>Санузел:</span> Совмещенный</li>
			  			<li><span>Размер комнаты:</span> 180*190 см</li>
			  			<li><span>Наименование панелей:</span> "Адмирал"</li>
			  			<li><span>Срок выполнения заказа:</span> 3 дня</li>
			  		</ul>
			  		<div class="works">Выполненные работы:</div>
			  		<ul class="tabs_slider_text_second_list">
			  			<li>Скол старой плитки</li>
			  			<li>Отделка стен и потолка ПВХ панелями</li>
			  			<li>Обработка стен антисептиком</li>
			  			<li>Установка подвесного потолка</li>
			  			<li>Замена унитаза</li>
			  			<li>Замена двери</li>
			  			<li>Укладка напольной плитки</li>
			  		</ul>
			  	</div>
			  </div>
			   <div class="clearfix">
			  	<div class="tabs_slider_wrap">
			  		<ul class="bxslider9">
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					</ul>
			  	</div>
			  	<div class="tabs_slider_text">
			  		<ul class="tabs_slider_text_first_list">
			  			<li><span>Санузел:</span> Совмещенный</li>
			  			<li><span>Размер комнаты:</span> 180*190 см</li>
			  			<li><span>Наименование панелей:</span> "Адмирал"</li>
			  			<li><span>Срок выполнения заказа:</span> 3 дня</li>
			  		</ul>
			  		<div class="works">Выполненные работы:</div>
			  		<ul class="tabs_slider_text_second_list">
			  			<li>Скол старой плитки</li>
			  			<li>Отделка стен и потолка ПВХ панелями</li>
			  			<li>Обработка стен антисептиком</li>
			  			<li>Установка подвесного потолка</li>
			  			<li>Замена унитаза</li>
			  			<li>Замена двери</li>
			  			<li>Укладка напольной плитки</li>
			  		</ul>
			  	</div>
			  </div>
			   <div class="clearfix">
			  	<div class="tabs_slider_wrap">
			  		<ul class="bxslider10">
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					</ul>
			  	</div>
			  	<div class="tabs_slider_text">
			  		<ul class="tabs_slider_text_first_list">
			  			<li><span>Санузел:</span> Совмещенный</li>
			  			<li><span>Размер комнаты:</span> 180*190 см</li>
			  			<li><span>Наименование панелей:</span> "Адмирал"</li>
			  			<li><span>Срок выполнения заказа:</span> 3 дня</li>
			  		</ul>
			  		<div class="works">Выполненные работы:</div>
			  		<ul class="tabs_slider_text_second_list">
			  			<li>Скол старой плитки</li>
			  			<li>Отделка стен и потолка ПВХ панелями</li>
			  			<li>Обработка стен антисептиком</li>
			  			<li>Установка подвесного потолка</li>
			  			<li>Замена унитаза</li>
			  			<li>Замена двери</li>
			  			<li>Укладка напольной плитки</li>
			  		</ul>
			  	</div>
			  </div>
			   <div class="clearfix">
			  	<div class="tabs_slider_wrap">
			  		<ul class="bxslider11">
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					  <li>
						  <a href="images/tabs_slider_img.jpg" class="fancybox">
						  <img src="images/tabs_slider_img.jpg" />
						  <img src="images/zoom.png" alt="Alt" class="zoom">
						  </a>
					  </li>
					</ul>
			  	</div>
			  	<div class="tabs_slider_text">
			  		<ul class="tabs_slider_text_first_list">
			  			<li><span>Санузел:</span> Совмещенный</li>
			  			<li><span>Размер комнаты:</span> 180*190 см</li>
			  			<li><span>Наименование панелей:</span> "Адмирал"</li>
			  			<li><span>Срок выполнения заказа:</span> 3 дня</li>
			  		</ul>
			  		<div class="works">Выполненные работы:</div>
			  		<ul class="tabs_slider_text_second_list">
			  			<li>Скол старой плитки</li>
			  			<li>Отделка стен и потолка ПВХ панелями</li>
			  			<li>Обработка стен антисептиком</li>
			  			<li>Установка подвесного потолка</li>
			  			<li>Замена унитаза</li>
			  			<li>Замена двери</li>
			  			<li>Укладка напольной плитки</li>
			  		</ul>
			  	</div>
			  </div>
			</div>
		</div>
	</div>
	</div>
<!-- END TABS -->
<!-- GREEN BLOCK -->
	<div class="main_green_bg dnp">
		<div class="main_container clearfix">
			<div class="title_green">Торопитесь! Скидки действуют<br>
			до окончания времени:</div>
			<div class="your-clock2_bg">
				<div class="your-clock2"></div>
			</div>
		</div>
	</div>
<!-- END GREEN BLOCK -->
<!-- PRICE -->
	<div class="price_bg">
		<div class="main_container clearfix">
			<div class="h1">Стоимость работ</div>
			<div class="price_wrap">
				<div class="price_block">
					<div class="title">Отделка стен совмещенного санузла панелями</div>
					<div class="price_block_r">
						<span class="main_price">22 000 руб.</span><span class="crossline_price"> 25 000 руб.</span>
						<p>(включая материалы)</p>
					</div>
					<div class="clearfix"></div>
					<div class="price_text">
						• Бесплатный (до 50 км от МКАД) выезд замерщика • Обшивка стен панелями• Демонтаж\монтаж светильника• Установка вентиляционной решетки• Герметизация швов• Гарантия на выполненные работы
					</div>
				</div>
				<div class="price_block">
					<div class="title">Отделка стен ванной комнаты панелями</div>
					<div class="price_block_r">
						<span class="main_price">19 000 руб.</span><span class="crossline_price"> 22 000 руб.</span>
						<p>(включая материалы)</p>
					</div>
					<div class="clearfix"></div>
					<div class="price_text">
						• Бесплатный (до 50 км от МКАД) выезд замерщика • Обшивка стен панелями• Демонтаж\монтаж светильника• Установка вентиляционной решетки• Герметизация швов• Гарантия на выполненные работы
					</div>
				</div>
				<div class="price_block">
					<div class="title">Отделка стен туалета панелями</div>
					<div class="price_block_r">
						<span class="main_price">11 000 руб.</span><span class="crossline_price"> 14 000 руб.</span>
						<p>(включая материалы)</p>
					</div>
					<div class="clearfix"></div>
					<div class="price_text">
						• Бесплатный (до 50 км от МКАД) выезд замерщика • Обшивка стен панелями• Демонтаж\монтаж светильника• Установка вентиляционной решетки• Герметизация швов• Гарантия на выполненные работы
					</div>
				</div>
				<div class="price_block">
					<div class="title">Наливная ванная(жидкий акрил)</div>
					<div class="clearfix"></div>
					<ul>
						<li class="clearfix">
							<span class="left_s">Покрытие акрилом ванны (наливная ванна) (120 см.)</span>
							<span class="right_s">3700 руб.</span>
						</li>
						<li class="clearfix">
							<span class="left_s">Покрытие акрилом ванны (наливная ванна) (150 см.)</span>
							<span class="right_s">3900 руб.</span>
						</li>
						<li class="clearfix">
							<span class="left_s">Покрытие акрилом ванны (наливная ванна) (170 см.)</span>
							<span class="right_s">4100 руб.</span>
						</li>
						<li class="clearfix">
							<span class="left_s">Покрытие акрилом ванны (наливная ванна) (180 см.)</span>
							<span class="right_s">4300 руб.</span>
						</li>
						<li class="clearfix">
							<span class="left_s"><span class="bolder">Дополнительные виды работ:</span> Установка новой обвязки с подключением<br>(сифон входит в стоимость, повторный выезд мастера) 
							</span>
							<span class="right_s">800 руб.</span>
						</li>
					</ul>
				</div>
				<div class="price_block smaller_p">
					<div class="title">Акриловый вкладыш в ванную</div>
					<div class="clearfix"></div>
					<ul>
						<li class="clearfix">
							<span class="left_s">Акриловый вкладыш 1,5м</span>
							<span class="right_s">6000 руб.</span>
						</li>
						<li class="clearfix">
							<span class="left_s">Акриловый вкладыш 1,7м</span>
							<span class="right_s">6500 руб.</span>
						</li>
					</ul>
					<div class="bolder">Дополнительные виды работ:</div>
					<ul>
						<li class="clearfix">
							<span class="left_s">Установка обвязки</span>
							<span class="right_s">2500 руб.</span>
						</li>
						<li class="clearfix">
							<span class="left_s">Дополнительная герметизация</span>
							<span class="right_s">2500 руб.</span>
						</li>
					</ul>
				</div>
				<div class="price_block smaller_p">
					<div class="title">Замена водопровода</div>
					<div class="clearfix"></div>
					<ul>
						<li class="clearfix">
							<span class="left_s">Вызов замерщика</span>
							<span class="right_s">бесплатно</span>
						</li>
						<li class="clearfix">
							<span class="left_s">Замена труб на полипропиленовые<br>(Ванна+унитаз+кухня)</span>
							<span class="right_s">12 000 руб.</span>
						</li>
						<li class="clearfix">
							<span class="left_s">Замена канализационных труб<br>
							(работа+материал)</span>
							<span class="right_s">2500 руб.</span>
						</li>
						<li>
							<span class="left_s">Установка унитаза</span>
							<span class="right_s">2500 руб.</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<!-- END PRICE -->
<!-- GREEN BLOCK -->
	<div class="main_green_bg">
		<div class="main_container clearfix">
			<div class="title">Пригласите инженера-замерщика для бесплатной консультации по телефону:</div>
			<div class="phone_block">
				<p>+7 (495) 256-16- 40</p>
				<span>(с 9 до 20 без выходных)</span>
			</div>
			<div class="or">или</div>
			<a href="#" class="send button">Отправьте заявку!</a>
		</div>
	</div>
<!-- END GREEN BLOCK -->
<!-- WATCH THIS -->
	<div class="watch_bg">
		<div class="main_container clearfix">
			<div class="title">По-прежнему хотите отделку ванной не<br> ПВХ-панелями а <span>плиткой?</span></div>
			<div class="girl_block">
				<a href="#">Тогда загляните сюда</a>
			</div>
		</div>
	</div>
<!-- END WATCH THIS -->
<!-- HOW WE DO -->
	<div class="main_container clearfix">
		<div class="vimeo_wrap">
			<div class="h1">Как мы это делаем?</div>
			<iframe src="https://player.vimeo.com/video/167363040" width="470" height="280" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<iframe src="https://player.vimeo.com/video/167363040" width="470" height="280" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
<!-- END HOW WE DO -->
<!-- LETTERS -->
	<div class="letters_bg">
		<div class="main_container clearfix">
			<div class="letters_wrap clearfix">
				<div class="letters_block">
					<span>№1</span>
					<p>Первыми на рынке стали специализироваться на ремонте санузлов пвх-панелями</p>
				</div>
				<div class="letters_block">
					<span>3800</span>
					<p>кв.м. помещений отремонтировали за 2015 год</p>
				</div>
				<div class="letters_block">
					<span>18</span>
					<p>мастеров-отделочников в штате</p>
				</div>
				<div class="letters_block">
					<span>25</span>
					<p>заказчиков обращаются к нам по рекомендации</p>
				</div>
			</div>
		</div>
	</div>
<!-- END LETTERS -->
<!-- CHO0SE YOUR -->
	<div class="main_container clearfix">
		<div class="h1">Выбирайте правильного исполнителя</div>
		<div class="chose_wrap clearfix">
			<div class="left_side">
				<div class="title">Частные мастера</div>
				<hr>
				<ul>
					<li>- Отсутствие документов: договоров, гарантий на
					ремонт. Если что-то испортится, никто не будет 
					исправлять бесплатно</li>
					<li>- Невозможность увидеть образцы выполненных 
					работ (в других домах)</li>
					<li>- Берут предоплату, после чего могут исчезнуть.
					Используют самые дешевые ПВХ-панели с рынка -
					меньше срок жизни</li>
					<li>- Необязательность во времени. Могут не приехать 
					в согласованный день. Если уже заняты на другом 
					объекте, не смогут приступить к вашему проекту в 
					нужный день</li> 
					<li>- Цена может существенно вырасти в процессе 
					(зачастую оценка стоимости работ только на 
					словах)</li>
					<li>- Необходимость закупать материалы самим. + Отобраны панели проверенного производителя</li>
					<li>- Могут не доделать, при проблемах или 
					требованиях исправить косяки могут попросту 
					исчезнуть не завершив работу</li>
					<li>- Если уже заняты на другом объекте, то не смогут 
					приступить к вашему проекту в нужный день 
					(придется подстраиваться под график исполнителя).</li>
				</ul>
			</div>
			<div class="right_side">
				<div class="title">Ванна эконом ремонт</div>
				<hr>
				<ul>
					<li>- Прозрачность деятельности мастеров (история
					фирмы, ее успехи на ремонтной ниве, 
					квалификация персонала, образцы работ и сроки 
					выполнения стандартных заказов</li> 

					<li>- Относительная юридическая защищенность 
					заказчика (договор о ремонте с прописанным 
					перечнем работ, суммами за труд и условиями 
					приема-сдачи готового объекта)</li>

					<li>- Вы оплачиваете после приемки работ, возможна
					рассрочка</li>

					<li>- Используем только проверенные временем 
					лучшие по качеству материалы от проверенных 
					временем оптовиков</li> 

					<li>- не требуем предоплаты на стройматериалы и 
					берем деньги только за готовую и одобренную 
					хозяином работу</li> 

					<li>- Зафиксированные в договоре суммы не меняются 
					в процессе ремонта. У вас на руках есть подробная 
					смета по фиксированному прайс-листу</li>

					<li>- Отобраны панели проверенного производителя.</li>

					<li>- Не пропадаем и не пьем )) В случае инцидента 
					возможна быстрая замена мастера.</li>  

					<li>- Еще до подписания договора вы получаете 
					полное представление о последовательности 
					процесса, точных сроках, стоимости, образцы и 
					рекомендации по выбору материалов.</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END CHO0SE YOUR -->
<!-- GREEN BLOCK -->
	<div class="main_green_bg">
		<div class="main_container clearfix">
			<div class="title">Пригласите инженера-замерщика для бесплатной консультации по телефону:</div>
			<div class="phone_block">
				<p>+7 (495) 256-16- 40</p>
				<span>(с 9 до 20 без выходных)</span>
			</div>
			<div class="or">или</div>
			<a href="#" class="send button">Отправьте заявку!</a>
		</div>
	</div>
<!-- END GREEN BLOCK -->
<!-- REVIEWS -->
<div class="reviews_bg">
	<div class="main_container clearfix">
		<div class="h1">Отзывы наших клиентов</div>
		<div class="bx_video_wrap">
			<ul class="bxslider_v">
				<li>
					<iframe width="470" height="285" src="https://www.youtube.com/embed/EXEoJrb32d8" frameborder="0" allowfullscreen></iframe>
					<iframe width="470" height="285" src="https://www.youtube.com/embed/EXEoJrb32d8" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="470" height="285" src="https://www.youtube.com/embed/EXEoJrb32d8" frameborder="0" allowfullscreen></iframe>
					<iframe width="470" height="285" src="https://www.youtube.com/embed/EXEoJrb32d8" frameborder="0" allowfullscreen></iframe>
				</li>	
			</ul>
			<hr>
			<ul class="bxslider_v r_bx">
				<li>
					<div class="r_img">
						<a href="images/big_review1.jpg" class="fancybox"><img src="images/small_review1.jpg"/></a>
						<div class="r_block">
							<p>Спасибо за проделанную работу. Похоже будут еще клиенты из моих соседей</p>
							<hr>
							<span>Т. Е. Воронина</span>
						</div>
					</div>
					<div class="r_img dnm">
						<a href="images/big_review1.jpg" class="fancybox"><img src="images/small_review1.jpg"/></a>
						<div class="r_block">
							<p>Спасибо за проделанную работу. Похоже будут еще клиенты из моих соседей</p>
							<hr>
							<span>Т. Е. Воронина</span>
						</div>
					</div>
				</li>
				<li>
					<div class="r_img">
						<a href="images/big_review1.jpg" class="fancybox"><img src="images/small_review1.jpg"/></a>
						<div class="r_block">
							<p>Спасибо за проделанную работу. Похоже будут еще клиенты из моих соседей</p>
							<hr>
							<span>Т. Е. Воронина</span>
						</div>
					</div>
					<div class="r_img dnm">
						<a href="images/big_review1.jpg" class="fancybox"><img src="images/small_review1.jpg"/></a>
						<div class="r_block">
							<p>Спасибо за проделанную работу. Похоже будут еще клиенты из моих соседей</p>
							<hr>
							<span>Т. Е. Воронина</span>
						</div>
					</div>
				</li>	
			</ul>
		</div>
	</div>
</div>
<!-- END REVIEWS -->
<!-- GREEN BLOCK -->
	<div class="main_green_bg">
		<div class="main_container clearfix">
			<div class="title">Пригласите инженера-замерщика для бесплатной консультации по телефону:</div>
			<div class="phone_block">
				<p>+7 (495) 256-16- 40</p>
				<span>(с 9 до 20 без выходных)</span>
			</div>
			<div class="or">или</div>
			<a href="#" class="send button">Отправьте заявку!</a>
		</div>
	</div>
<!-- END GREEN BLOCK -->
<!-- CATALOG -->
	<div class="catalog_wrapper">
		<div class="main_container clearfix">
			<div class="h1">Каталог отделочных ПВХ-панелей</div>
			<ul class="bxslider_v">
				<li>
					<img src="images/catalog_img1.jpg" alt="Alt">
					<img src="images/catalog_img1.jpg" alt="Alt" class="dnm">
					<img src="images/catalog_img1.jpg" alt="Alt" class="dnm">
					<img src="images/catalog_img1.jpg" alt="Alt" class="dnm">
				</li>
				<li>
					<img src="images/catalog_img1.jpg" alt="Alt">
					<img src="images/catalog_img1.jpg" alt="Alt" class="dnm">
					<img src="images/catalog_img1.jpg" alt="Alt" class="dnm">
					<img src="images/catalog_img1.jpg" alt="Alt" class="dnm">
				</li>
			</ul>
			<div class="divider"></div>
			<div class="h1">Мебель для ванных комнат</div>
			<ul class="bxslider_v sec-bx">
				<li>
					<img src="images/catalog_img2.jpg" alt="Alt">
					<img src="images/catalog_img2.jpg" alt="Alt" class="dnm">
					<img src="images/catalog_img2.jpg" alt="Alt" class="dnm">
					<img src="images/catalog_img2.jpg" alt="Alt" class="dnm">
				</li>
				<li>
					<img src="images/catalog_img2.jpg" alt="Alt" class="dnm">
					<img src="images/catalog_img2.jpg" alt="Alt" class="dnm">
					<img src="images/catalog_img2.jpg" alt="Alt" class="dnm">
					<img src="images/catalog_img2.jpg" alt="Alt" class="dnm">
				</li>
			</ul>
		</div>
	</div>
<!-- END CATALOG -->
<!-- GREEN BLOCK -->
	<div class="main_green_bg">
		<div class="main_container clearfix">
			<div class="title">Пригласите инженера-замерщика для бесплатной консультации по телефону:</div>
			<div class="phone_block">
				<p>+7 (495) 256-16- 40</p>
				<span>(с 9 до 20 без выходных)</span>
			</div>
			<div class="or">или</div>
			<a href="#" class="send button">Отправьте заявку!</a>
		</div>
	</div>
<!-- END GREEN BLOCK -->
<!-- STEPS -->
	<div class="main_container clearfix">
		<div class="h1">Порядок работ</div>
		<div class="steps_wrap clearfix">
			<div class="steps_block">
				<div class="circle_step">1</div>
				<p>Ваш звонок или заявка</p>
			</div>
			<div class="steps_block">
				<div class="circle_step">2</div>
				<p>Предварительная консультация и вызов мастера</p>
			</div>
			<div class="steps_block">
				<div class="circle_step">3</div>
				<p>Приезд мастера с образцами,каталогами</p>
			</div>
			<div class="steps_block">
				<div class="circle_step">4</div>
				<p>Расчет точной сметы, подписание договора</p>
			</div>
			<div class="steps_block">
				<div class="circle_step">5</div>
				<p>Приезд ремонтной бригады и проведение работ</p>
			</div>
			<div class="steps_block">
				<div class="circle_step">6</div>
				<p>Приемка и оплата работ. Вы получаете новенький санузел + гарантии</p>
			</div>
		</div>
	</div>
<!-- END STEPS -->
<!-- QUESTIONS -->
	<div class="questions_bg">
		<div class="main_container clearfix">
			<div class="title">Остались вопросы? Готовы заказать?</div>
			<div class="subtitle">Получите подробную консультацию у наших специалистов по телефону:</div>
			<div class="phone_block">
				<p>+7 (495) 256-16- 40</p>
				<span>(с 9 до 20 без выходных)</span>
			</div>
			<div class="or">или</div>
			<form action="">
				<input type="text" name="name" placeholder="Ваше имя" class="bottom_input" required>
				<input type="text" name="phone" placeholder="Ваш номер телефона" class="bottom_input" required>
				<input type="text" name="mess" placeholder="Ваш комментарий" class="bottom_input" required>
				<input type="submit" value="Отправьте заявку!" class="bottom_submit">
			</form>
			<div class="manager_wrap clearfix">
				<div class="manager_block">
					<img src="images/m_photo1.jpg" alt="Alt">
					<div class="manager_text">
						<div class="fio">Алексей Чернявский</div>
						<p>Менеджер по работе с клиентами</p>
					</div>
				</div>
				<div class="manager_block">
					<img src="images/m_photo2.jpg" alt="Alt">
					<div class="manager_text">
						<div class="fio">Данил Зубов</div>
						<p>Ведущий специалист отдела продаж</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END QUESTIONS -->
<!-- FOOTER -->
	<footer>
		<div class="main_container clearfix">
			<div class="adress">Адрес: г. Москва, ул. Вернадского 34, офис 45</div>
			<div class="copy">© 2016. Все права защищены</div>
		</div>
	</footer>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#"></a>
  			<form id="form3"  action="mail.php" method="post">
  				<div class="modal_h1">Обратный звонок</div>
				<input type="text" name="name" class="modl_input" placeholder="Укажите имя" name="name">
				<input type="text" name="phone" class="modl_input tel_phone" placeholder="Укажите телефон* " required>
				<button type="submit" class="sendbutton">заказать звонок</button>
				<input type="hidden" name="formData" value="Заявка с сайта ИДЕАЛЬНАЯ ВАННАЯ">
			</form>
        </div> 
<!-- END MODAL1 -->
	<div id="menu">
		  <ul>
				<li><a href="#" class="on_action">Акции</a></li>
				<li><a href="#" class="on_whe">Почему мы</a></li>
				<li><a href="#" class="on_tabs">Примеры работ</a></li>
				<li><a href="#" class="on_price">Цены</a></li>
				<li><a href="#" class="on_reviews">Отзывы</a></li>
				<li><a href="#" class="on_catalog">Каталог панелей</a></li>
			</ul>
		  <div class="close">×</div>
	</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/flipclock.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/script.js"></script>
 </body>
</html>