<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Автошкола Ротор</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/swiper.min.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
<div id="wrapper">
	<header class="some_top1">
		<div class="main_container clearfix">
			<div class="logo">
				<img src="images/logo.png" alt="Alt">
				<div class="logo_text">
					<div class="title">АВТОШКОЛА РОТОР</div>
					<span>г. Хабаровск</span>
				</div>
			</div>
			<div class="top_text">Есть вопросы по обучению? <br>ЗВОНИТЕ нам прямо сейчас!</div>
			<div class="phone_top">
				<p>8-800-800-8080</p>
				<a href="#" class="open_modal1">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</a>
				<span>Звонки с любых операторов РФ бесплатны!</span>
			</div>
		</div>
	</header>
	<div class="main_nav">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#" class="ontop1">ГЛАВНАЯ </a></li>
				<li><a href="#" class="ontop2">КУРСЫ</a></li>
				<li><a href="#" class="ontop3">ПОЧЕМЫ МЫ</a></li>
				<li><a href="#" class="ontop4">ЧЕМУ МЫ УЧИМ</a></li>
				<li><a href="#" class="ontop5">НАШИ АВТОМОБИЛИ</a></li>
				<li><a href="#" class="ontop6">ЧТО НУЖНО ДЛЯ ОБУЧЕНИЯ</a></li>
				<li><a href="#" class="ontop7">ОТЗЫВЫ</a></li>
				<li><a href="#" class="ontop8">КАК НАС НАЙТИ</a></li>                                                         
			</ul>
			<div class="toggle_menu">
				<a href="#menu" id="toggle"><span></span></a>
			</div>
		</div>
	</div>
<!-- END HEADER	 -->
<!-- MAIN SLIDER -->
	<div class="main_bg">
		<div class="main_container clearfix">
			<div class="title_block">
				<h1>Подготовка	водителей<br> категории	"В"	и	"С"</h1>
				<hr>
				<p>всего за <span>2,300 руб.</span> в месяц!*</p>
			</div>
		</div>
	</div>
	<div class="black_block">
		<div class="main_container clearfix">
			<div class="title">За последние  2 месяца	 180 выпускников нашей школы уже получили водительские права<br><a href="#" class="open_modal2">ПОЛУЧИТЕ</a>и ВЫ!</div>
		</div>
	</div>
<!-- END MAIN SLIDER -->
<!-- PROGRAMS -->
	<div class="main_container clearfix some_top2">
		<div class="main_h1"><img src="images/arrow_down.png" alt="Alt">Наши учебные программы</div>
		<div class="tabs_programm">
			<div class="korpus clearfix">
				<input type="radio" name="odin" checked="checked" id="vkl1"/>
				<label for="vkl1">КАТЕГОРИЯ "В"</label>
				<input type="radio" name="odin" id="vkl2"/>
				<label for="vkl2">КАТЕГОРИЯ "С"</label>
				<input type="radio" name="odin" id="vkl3"/>
				<label for="vkl3">ПЕРЕПОДГОТОВКА</label>
				<input type="radio" name="odin" id="vkl4"/>
				<label for="vkl4">ВОССТАНОВЛЕНИЕ НАВЫКОВ</label>
				<input type="radio" name="odin" id="vkl5"/>
				<label for="vkl5">СДАЧА ЭКЗАМЕНА В ГИБДД</label>
				<div class="tab_inside clearfix">
					<div class="list_wrap clearfix">
						<div class="l-side">
							<div class="title">Информация о обучении:</div>
							<ul>
								<li>Теоретическое обучение категории "В" - 23,000р.</li>
								<li>Практическое обучение (вождение) категории "В" - 360 руб/вождение</li>
								<li>Практические занятия - не ограниченны</li>
								<li>Предоставляем выбор между АКПП (коробка-автомат) <br>и МКПП (ручная коробка передач)</li>
								<li>Вы сможете ВЕРНУТЬ 13% от стоимости обучения</li>
								<li>Кол-во обучающихся в группе: 30 чел.</li>
							</ul>
						</div>
						<div class="r-side">
							<div class="title">В обучение входит:</div>
							<ul>
								<li>Теория ПДД – параллельно с вождением в течении 2 месяцев</li>
								<li>Вождение не менее 25 занятий. Время занятий <br>согласовывается с учеником</li>
								<li>Курсы первой медицинской помощи</li>
								<li>Учебная литература</li>
								<li class="red_li free_list">Бесплатно:</li>
								<li class="red_li">Подготовку к внутрешкольному экзамену</li>
								<li class="red_li">Сопровождение на экзаменах в ГИБДД, до полной сдачи <br>квалификационных экзаменов</li>
								<li class="red_li">Подготовка документов для ГИБДД</li>
								<li class="red_li">Повторные экзамены в ГИБДД</li>
							</ul>
						</div>						
					</div>
					<div class="clearfix"></div>
					<hr>
					<div class="blue_block">
						<p>К вашему выбору, группы по <br>будням в вечернее время, группы по <br>выходным дням в удобное вам время</p>
					</div>
					<img src="images/dps-img.jpg" alt="Alt" class="dps_img">
					<div class="clearfix"></div>
					<div class="price_block">
						<p>26,800руб</p>
						<span>23,000руб</span>
					</div>
					<div class="form_tab">
						<div class="title">Успейте забронировать место в группе сейчас:</div>
						<form id="form1">
							<input type="text" name="name" placeholder="Ваше имя:" class="tab_input" required>
							<input type="text" name="phone" placeholder="Ваш телефон:" class="tab_input tel_phone" required>
							<select name="place">
								<option value="">Выбирете учебный класс:</option>
								<option value="1">1</option>
								<option value="2">2</option>
							</select>
							<input type="submit" value="ЗАБРОНИРОВАТЬ МЕСТО" class="tab_submit">
							<input type="hidden" name="formData" value="Заявка с сайта Автошкола Ротор">
						</form>
					</div>
				</div>
				<div class="tab_inside clearfix">
					2
				</div>
				<div class="tab_inside clearfix">
					3
				</div>
				<div class="clearfix">
					4
				</div>
				<div class="tab_inside clearfix">
					5
				</div>
			</div>
		</div>
<!-- END PROGRAMS -->
<!-- REASONS -->
		<div class="main_h1 some_top3"><img src="images/arrow_down.png" alt="Alt"><span>7 ПРИЧИН</span>ВЫБРАТЬ НАШУ АВТОШКОЛУ</div>
		<div class="cirlces_bg clearfix">
			<div class="circle_block">
				<div class="letter">1</div>
				<p>1999 год основания нашей школы, а это значит, что
					за 15 лет работы, мы наработали огромный опыт в
					подготовке водителей экстра-класса.
				</p>
			</div>
			<div class="circle_block">
				<div class="letter">2</div>
				<p>1050 водителей, выпустили мы в прошлом году, а 
					это значит, что нам доверяют все больше и больше
					кандидатов в водители.
				</p>
			</div>
			<div class="circle_block">
				<div class="letter">3</div>
				<p>15 современных учебных автомобиля в нашем парке,
					а это значит что Вы сможете выбрать машину под
					себя, и Вам не придется дополнительно привыкать 
					к Вашему собственному автомобилю.
				</p>
			</div>
			<div class="circle_block">
				<div class="letter">4</div>
				<p>80% наших учеников сдают экзамены в ГИБДД с
					первого раза, а это значит, что уровень подготовки
					наших учеников очень высок Вам и нам не придется
					краснеть перед инспекторами ГИБДД,
				</p>
			</div>
			<div class="circle_block">
				<div class="letter">5</div>
				<p>3 учебных класса, в разных частях города, а это
					значит что Вы смоете выбрать удобное
					расположения учебного класса, Вам не придется
					ездить в автошколу на другой конец города.
				</p>
			</div>
			<div class="circle_block">
				<div class="letter">6</div>
				<p>4 высоквалифицированных преподавателя в нашем
					штате, а это значит, что каждый аспект вождения
					объяснит и разберет специалист в своем деле, Вам
					не придется слушать про первую помощь, из уст
				</p>
			</div>
			<div class="circle_block">
				<div class="letter">7</div>
				<p>1 собственный автодром, а это значит, что Вам не
					придется переплачивать за вождение на автодроме
					и стоять в гигантских очередях на упражнения.
				</p>
			</div>
		</div>
	</div>	
<!-- END REASONS -->
<!-- LEARNING -->
	<div class="learning_bg clearfix some_top4">
		<div class="main_container clearfix">
			<div class="main_h1"><img src="images/arrow_down.png" alt="Alt">ЧЕМУ МЫ ВАС НАУЧИМ</div>
			<div class="left_side">
				<div class="learing_block clearfix">
					<img src="images/learning_img1.jpg" alt="Alt">
					<div class="text">
						<div class="title">Понимать и вникать</div>
						<p>в правила дорожного движения, уметь читать знаки 
							и разметку. Ориентироваться в движении по городу 
							и за городом. Расскажем о Ваших правах и обязанностях на дороге.
						</p>
					</div>
				</div>
				<div class="learing_block clearfix">
					<img src="images/learning_img2.jpg" alt="Alt">
					<div class="text">
						<div class="title">Самому важному</div>
						<p>умению водить безаварийно, не суетиться и не
							бояться. Умению перестраиваться, парковаться и обгонять.Мы сделаем так, чтобы Вы чувствовали 
							себя на дороге- уверенно.
						</p>
					</div>
				</div>
				<div class="learing_block clearfix">
					<img src="images/learning_img3.jpg" alt="Alt">
					<div class="text">
						<div class="title">Разбираться во всем</div>
						<p>что касается технической части автомобиля. Вы не
							будете бояться поломки на дороге, так как будете знатьчто делать и в какой ситуации. Спустившее
							колесо больше не будет для Вас проблемой.
						</p>
					</div>
				</div>
			</div>
			<div class="form_learning">
				<div class="title">Хотите научиться</div>
				<div class="subtitle">безопасному и уверенному вождению?</div>
				<p>Оставьте заявку на консультацию, <br>
					по условиям приема в нашу автошколу <br>
					и наш менеджер свяжется с Вами <br>
					и подробно ответит на Все <br>
					Ваши вопросы.</p>
				<form id="form2">
					<input type="text" name="name" placeholder="Ваше имя:" class="tab_input" required>
					<input type="text" name="phone" placeholder="Ваш телефон:" class="tab_input tel_phone" required>
					<select name="city">
						<option value="">Город:</option>
						<option value="1">1</option>
						<option value="2">2</option>
					</select>
					<input type="submit" value="ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ" class="tab_submit">
					<input type="hidden" name="formData" value="Заявка с сайта Автошкола Ротор">
				</form>
				<div class="form_desc">Мы не будем заниматься рассылкой спама и не передадим <br>
					Ваши контактные данные третьим лицам! Мы уважаем <br>
					Вас и Ваши личные данные!
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="main_h1"><img src="images/arrow_down.png" alt="Alt">АВТОМОБИЛИ, НА КОТОРЫХ ВЫ бУДЕТЕ УЧИТЬСЯ:
			</div>
		</div>
	</div>
<!-- END LEARNING -->
<!-- CARS -->
	<div class="cars_bg some_top5">
		<div class="main_container clearfix">
			<div class="sub_nav">
				<div class="row">
					<ul id="bx-pager">
						<li class="four columns ostate"><a data-slide-index="0" href="#" >Toyota Corolla</a></li>
						<li class="four columns"><a data-slide-index="1" href="#" >Toyota Corolla Spacio</a></li>
						<li class="four columns"><a data-slide-index="2" href="#" >Hyundai Avante</a></li>
						<li class="four columns"><a data-slide-index="3" href="#" >Hyundai Solaris</a></li>
						<li class="four columns"><a data-slide-index="4" href="#" >Hyundai-elantra</a></li>
						<li class="four columns"><a data-slide-index="5" href="#" >Ford Focus</a></li>
					</ul>
				</div>
			</div>
			<ul class="bxslider">
				<li class="slide_one">
					<div class="car_block">
						<img src="images/car_img1.jpg" alt="Alt">
						<div class="car_text">
							<div class="title">Об автомобиле:</div>
							<p>Toyota Probox, 2005 года выпуска. <br>
								Машина с АВТОМАТИЧЕСКОЙ КОРОБКОЙ ПЕРЕДАЧ. <br>
								Идеально подходит для обучения, так как имеет<br> обычные габариты, передний привод.</p>
						</div>
					</div>
				</li>
				<li class="slide_two">
					<div class="car_block">
						<img src="images/car_img1.jpg" alt="Alt">
						<div class="car_text">
							<div class="title">Об автомобиле:</div>
							<p>Toyota Probox, 2005 года выпуска. <br>
								Машина с АВТОМАТИЧЕСКОЙ КОРОБКОЙ ПЕРЕДАЧ. <br>
								Идеально подходит для обучения, так как имеет<br> обычные габариты, передний привод.</p>
						</div>
					</div>
				</li>
				<li class="slide_three">
					<div class="car_block">
						<img src="images/car_img1.jpg" alt="Alt">
						<div class="car_text">
							<div class="title">Об автомобиле:</div>
							<p>Toyota Probox, 2005 года выпуска. <br>
								Машина с АВТОМАТИЧЕСКОЙ КОРОБКОЙ ПЕРЕДАЧ. <br>
								Идеально подходит для обучения, так как имеет<br> обычные габариты, передний привод.</p>
						</div>
					</div>
				</li>
				<li class="slide_three">
					<div class="car_block">
						<img src="images/car_img1.jpg" alt="Alt">
						<div class="car_text">
							<div class="title">Об автомобиле:</div>
							<p>Toyota Probox, 2005 года выпуска. <br>
								Машина с АВТОМАТИЧЕСКОЙ КОРОБКОЙ ПЕРЕДАЧ. <br>
								Идеально подходит для обучения, так как имеет<br> обычные габариты, передний привод.</p>
						</div>
					</div>
				</li>
				<li class="slide_three">
					<div class="car_block">
						<img src="images/car_img1.jpg" alt="Alt">
						<div class="car_text">
							<div class="title">Об автомобиле:</div>
							<p>Toyota Probox, 2005 года выпуска. <br>
								Машина с АВТОМАТИЧЕСКОЙ КОРОБКОЙ ПЕРЕДАЧ. <br>
								Идеально подходит для обучения, так как имеет<br> обычные габариты, передний привод.</p>
						</div>
					</div>
				</li>
				<li class="slide_three">
					<div class="car_block">
						<img src="images/car_img1.jpg" alt="Alt">
						<div class="car_text">
							<div class="title">Об автомобиле:</div>
							<p>Toyota Probox, 2005 года выпуска. <br>
								Машина с АВТОМАТИЧЕСКОЙ КОРОБКОЙ ПЕРЕДАЧ. <br>
								Идеально подходит для обучения, так как имеет<br> обычные габариты, передний привод.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
<!-- END CARS -->
<!-- NEED -->
	<div class="main_container clearfix some_top6">
		<div class="main_h1"><img src="images/arrow_down.png" alt="Alt">ЧТО НУЖНО ДЛЯ ОБУЧЕНИЯ?</div>
		<div class="need_wrap clearfix">
			<div class="need_block">
				<img src="images/blue_cirlce1.png" alt="Alt">
				<p>Вы оставляете заявку <br>на обучение</p>
			</div>
			<div class="need_block">
				<img src="images/blue_cirlce2.png" alt="Alt">
				<p>Собираете необходимые <br>документы для заключения договора: <a href="#" class="open_modal3">(подробнее)</a></p>
			</div>
			<div class="need_block">
				<img src="images/blue_cirlce3.png" alt="Alt">
				<p>Выбираете время и место обучения, подписываете договор на обучение и вносите первоначальный платеж.</p>
			</div>
			<div class="need_block">
				<img src="images/blue_cirlce4.png" alt="Alt">
				<p>Обучаетесь теории и практики.сдаете внутренний экзамен иэкзамен в ГИБДД! <br>и вы - водитель!</p>
			</div>
		</div>
	</div>
<!-- END NEED -->
<!-- WATCH -->
	<div class="watch_title clearfix">
		<div class="main_h1"><img src="images/arrow_down.png" alt="Alt">ПОСМОТРИТЕ НАШ АВТОДРОМ</div>
	</div>
	<div class="watch_bg">
		<div class="main_container clearfix">
<!-- 			<div class="markers_wrap">
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
			</div> -->
			<div class="blue_watch">
				<div class="title">УПРАЖНЕНИЯ</div>
				<hr>
				<ul>
					<li>1.   Эстакада</li>
					<li>2.   Разворот в замкнутом <br> пространстве</li>
					<li>3.   Змейка</li>
					<li>4.   Параллельная парковка</li>
					<li>5.   Бокс</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END WATCH -->
<!-- REVIEWS -->
	<div class="main_container clearfix some_top7">
		<div class="main_h1"><img src="images/arrow_down.png" alt="Alt">ОТЗЫВЫ О НАШЕЙ ШКОЛЕ</div>
	</div>
	<div class="reviews_bg">
		<div class="main_container clearfix">
			<ul class="bxslider1">
				<li>
					<div class="review_block"></div>
					<div class="review_block"></div>
					<div class="review_block"></div>
					<div class="review_block"></div>
					<div class="review_block"></div>
				</li>
				<li>
					<div class="review_block"></div>
					<div class="review_block"></div>
					<div class="review_block"></div>
					<div class="review_block"></div>
					<div class="review_block"></div>
				</li>
			</ul>
		</div>
	</div>
<!-- END REVIEWS -->
<!-- MAP -->
	<div class="main_container clearfix some_top8">
		<div class="main_h1"><img src="images/arrow_down.png" alt="Alt">КАК НАС НАЙТИ</div>
	</div>
	 <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            	<div id="map">
            		<div class="main_container clearfix">
            			<div class="map_inside">

            				<img src="images/map_img.jpg" alt="Alt">
            				<p>Центральный офис:</p>
            				<p>г. Хабаровск,<br> ул. Комсомольская, д. 62
            				</p>
            				<p>Телефон: 66-77-33, <br>
            					32-36-49, 30-55-15
            				</p>
            				<p>Электронная почта: <br>	
            					<a href="#">cavchik2004@mail.ru</a>
            				</p>
            				<div class="swiper-button-next"></div>
            				<div class="swiper-button-prev"></div>
            			</div>
            			<div class="form_learning">
            				<div class="title">ОСТАЛИСЬ ВОПРОСЫ?</div>
            				<p>Оставьте заявку на консультацию, <br> 
            					нашего специалиста, и мы свяжемся <br>
            					с Вами в удобное для Вас время.</p>
            					<form id="form13">
            						<input type="text" name="name" placeholder="Ваше имя:" class="tab_input" required>
            						<input type="text" name="phone" placeholder="Ваш телефон:" class="tab_input tel_phone" required>
            						<select name="time">
            							<option value="">Время для звонка</option>
            							<option value="1">1</option>
            							<option value="2">2</option>
            						</select>
            						<input type="submit" value="ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ" class="tab_submit">
            						<input type="hidden" name="formData" value="Заявка с сайта Автошкола Ротор">
            					</form>
            					<div class="form_desc">Мы не будем заниматься рассылкой спама и не передадим <br>
            						Ваши контактные данные третьим лицам! Мы уважаем <br>
            						Вас и Ваши личные данные!
            					</div>
            				</div>
            			</div>
            		</div>
            	</div>
            <div class="swiper-slide">
            	<div id="map1">
					<div class="main_container clearfix">
            			<div class="map_inside">
            				<img src="images/map_img.jpg" alt="Alt">
            				<p>Дополнительный офис<br> на «Институте культуры»:</p>
            				<p>г. Хабаровск, ул. <br>
            					Краснореченская, д. 193
            				</p>
            				<p>Телефон: 66-77-33, <br>
            					32-36-49, 30-55-15
            				</p>
            				<p>Электронная почта: <br>	
            					<a href="#">cavchik2004@mail.ru</a>
            				</p>
            				<div class="swiper-button-next"></div>
            				<div class="swiper-button-prev"></div>
            			</div>
            			<div class="form_learning">
            				<div class="title">ОСТАЛИСЬ ВОПРОСЫ?</div>
            				<p>Оставьте заявку на консультацию, <br> 
            					нашего специалиста, и мы свяжемся <br>
            					с Вами в удобное для Вас время.</p>
            					<form id="form14">
            						<input type="text" name="name" placeholder="Ваше имя:" class="tab_input" required>
            						<input type="text" name="phone" placeholder="Ваш телефон:" class="tab_input tel_phone" required>
            						<select name="time">
            							<option value="">Время для звонка</option>
            							<option value="1">1</option>
            							<option value="2">2</option>
            						</select>
            						<input type="submit" value="ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ" class="tab_submit">
            						<input type="hidden" name="formData" value="Заявка с сайта Автошкола Ротор">
            					</form>
            					<div class="form_desc">Мы не будем заниматься рассылкой спама и не передадим <br>
            						Ваши контактные данные третьим лицам! Мы уважаем <br>
            						Вас и Ваши личные данные!
            					</div>
            				</div>
            			</div>
            	</div>
            </div>
            <div class="swiper-slide">
            	<div id="map2">
					<div class="main_container clearfix">
            			<div class="map_inside">
            				<img src="images/map_img.jpg" alt="Alt">
            				<p>Дополнительный класс <br> в Индустриальном районе:</p>
            				<p>г. Хабаровск, <br>
            					ул. Краснореченская, д. 53
            				</p>
            				<p>Телефон: 66-77-33, <br>
            					32-36-49, 30-55-15
            				</p>
            				<p>Электронная почта: <br>	
            					<a href="#">cavchik2004@mail.ru</a>
            				</p>
            				<div class="swiper-button-next"></div>
            				<div class="swiper-button-prev"></div>
            			</div>
            			<div class="form_learning">
            				<div class="title">ОСТАЛИСЬ ВОПРОСЫ?</div>
            				<p>Оставьте заявку на консультацию, <br> 
            					нашего специалиста, и мы свяжемся <br>
            					с Вами в удобное для Вас время.</p>
            					<form id="form15">
            						<input type="text" name="name" placeholder="Ваше имя:" class="tab_input" required>
            						<input type="text" name="phone" placeholder="Ваш телефон:" class="tab_input tel_phone" required>
            						<select name="time">
            							<option value="">Время для звонка</option>
            							<option value="1">1</option>
            							<option value="2">2</option>
            						</select>
            						<input type="submit" value="ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ" class="tab_submit">
            						<input type="hidden" name="formData" value="Заявка с сайта Автошкола Ротор">
            					</form>
            					<div class="form_desc">Мы не будем заниматься рассылкой спама и не передадим <br>
            						Ваши контактные данные третьим лицам! Мы уважаем <br>
            						Вас и Ваши личные данные!
            					</div>
            				</div>
            			</div>
            	</div>
            </div>
            <div class="swiper-slide">
            	<div id="map3">
					<div class="main_container clearfix">
            			<div class="map_inside">
            				<img src="images/map_img.jpg" alt="Alt">
            				<p>Наш автодром:</p>
            				<p>г. Хабаровск, ул. <br>
            					ул. Окружная, д.23а
            				</p>
            				<p>Телефон: 66-77-33, <br>
            					32-36-49, 30-55-15
            				</p>
            				<p>Электронная почта: <br>	
            					<a href="#">cavchik2004@mail.ru</a>
            				</p>
            				<div class="swiper-button-next"></div>
            				<div class="swiper-button-prev"></div>
            			</div>
            			<div class="form_learning">
            				<div class="title">ОСТАЛИСЬ ВОПРОСЫ?</div>
            				<p>Оставьте заявку на консультацию, <br> 
            					нашего специалиста, и мы свяжемся <br>
            					с Вами в удобное для Вас время.</p>
            					<form id="form16">
            						<input type="text" name="name" placeholder="Ваше имя:" class="tab_input" required>
            						<input type="text" name="phone" placeholder="Ваш телефон:" class="tab_input tel_phone" required>
            						<select name="time">
            							<option value="">Время для звонка</option>
            							<option value="1">1</option>
            							<option value="2">2</option>
            						</select>
            						<input type="submit" value="ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ" class="tab_submit">
            						<input type="hidden" name="formData" value="Заявка с сайта Автошкола Ротор">
            					</form>
            					<div class="form_desc">Мы не будем заниматься рассылкой спама и не передадим <br>
            						Ваши контактные данные третьим лицам! Мы уважаем <br>
            						Вас и Ваши личные данные!
            					</div>
            				</div>
            			</div>
            	</div>
            </div>
        </div>
        <!-- Add Arrows -->
    </div>
<!-- END MAP -->
<div class="m_learning">
	<div class="form_learning">
		<div class="title">ОСТАЛИСЬ ВОПРОСЫ?</div>
		<p>Оставьте заявку на консультацию, <br> 
			нашего специалиста, и мы свяжемся <br>
			с Вами в удобное для Вас время.</p>
			<form id="form3">
				<input type="text" name="name" placeholder="Ваше имя:" class="tab_input" required>
				<input type="text" name="phone" placeholder="Ваш телефон:" class="tab_input tel_phone" required>
				<select name="time">
					<option value="">Время для звонка</option>
					<option value="1">1</option>
					<option value="2">2</option>
				</select>
				<input type="submit" value="ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ" class="tab_submit">
				<input type="hidden" name="formData" value="Заявка с сайта Автошкола Ротор">
			</form>
			<div class="form_desc">Мы не будем заниматься рассылкой спама и не передадим <br>
				Ваши контактные данные третьим лицам! Мы уважаем <br>
				Вас и Ваши личные данные!
			</div>
		</div>
	</div>
<!-- FOOTER -->
	<footer>
		<div class="main_container clearfix">
			<div class="logo">
				<img src="images/logo.png" alt="Alt">
				<div class="logo_text">
					<div class="title">АВТОШКОЛА РОТОР</div>
					<span>г. Хабаровск</span>
				</div>
			</div>
			<div class="top_text">Есть вопросы по обучению? <br>ЗВОНИТЕ нам прямо сейчас!</div>
			<div class="phone_top">
				<p>8-800-800-8080</p>
				<a href="#" class="open_modal1">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</a>
				<span>Звонки с любых операторов РФ бесплатны!</span>
			</div>
		</div>
	</footer>
	<div class="black_f">
		<div class="main_container clearfix">
			<div class="copyright">Общество с ограниченной ответственностью «Ротор» ЛИЦЕНЗИЯ на право ведения 
			образовательной <br>
				деятельности №80 от 4 марта 2011 года, серия РО №017053, выданная Министерством образования <br>
				и науки Хабаровского края, бессрочно ИНН 2721222222 КПП 272101001
				<a href="fonts/Mipgost.ttf">Cкачать лицензии</a>
			</div>
			<div class="developed">
				<span>Разработка сайта:</span><a href="#"><img src="images/dev.png" alt="Alt"></a>
			</div>
		</div>
	</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
     <div class="title">ОБРАТНЫЙ ЗВОНОК</div>
     <p>Оставьте заявку на консультацию, <br> 
     	нашего специалиста, и мы свяжемся <br>
     	с Вами в удобное для Вас время.</p>
     	<form id="form30">
     		<input type="text" name="name" placeholder="Ваше имя:" class="tab_input" required>
     		<input type="text" name="phone" placeholder="Ваш телефон:" class="tab_input tel_phone" required>
     		<input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="tab_submit">
     		<input type="hidden" name="formData" value="Заявка с сайта Автошкола Ротор">
     	</form>
     	<div class="form_desc">Мы не будем заниматься рассылкой спама и не передадим <br>
     		Ваши контактные данные третьим лицам! Мы уважаем <br>
     		Вас и Ваши личные данные!
     	</div>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL2 -->
<div class="overlay" id="overlay2" style="display:none;"></div> 
<div class="nonebox" id="nonebox2"> 
	<a class="box-close one" id="box-close2" href="#"></a>
	<div class="title">ХОТИТЕ ПОЛУЧИТЬ ПРАВА?</div>
	<p>Забронируйте место в ближайшей <br>
		учебной группе прямо сейчас!.</p>
		<form id="form20">
			<input type="text" name="name" placeholder="Ваше имя:" class="tab_input" required>
			<input type="text" name="phone" placeholder="Ваш телефон:" class="tab_input tel_phone" required>
			<select name="place">
				<option value="">Выбирете учебный класс:</option>
				<option value="1">1</option>
				<option value="2">2</option>
			</select>
			<input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="tab_submit">
			<input type="hidden" name="formData" value="Заявка с сайта Автошкола Ротор">
		</form>
		<div class="form_desc">Мы не будем заниматься рассылкой спама и не передадим <br>
			Ваши контактные данные третьим лицам! Мы уважаем <br>
			Вас и Ваши личные данные!
		</div>
	</div> 
<!-- END MODAL2 -->
<!-- MODAL2 -->
<div class="overlay" id="overlay3" style="display:none;"></div> 
<div class="nonebox" id="nonebox3"> 
	<a class="box-close one" id="box-close3" href="#"></a>
	<div class="m3_title">Для жителей, имеющих постоянную <br>
		прописку Хабаровского края:</div>
		<p>- медицинская справка</p>
		<p>- копия паспорта РФ (полная)</p>
		<p>- 1 фото 3х4 (уголок любой)</p>
		<div class="m3_title">Для жителей, прописанных в других<br> 
			субъектах Российской Федерации:</div>
			<p>- медицинская справка</p>
			<p>- копия паспорта РФ (полная)</p>
			<p>- 1 фото 3х4 (уголок любой)</p>
			<p>- временную регистрацию в г. Хабаровске или <br>
				Хабаровском районе <br>
				(при сдаче квалификационных экзаменов в ГИБДД)</p>
	</div> 
<!-- END MODAL2 -->
<!-- MODAL5 -->
	<div class="overlay" id="overlay5" style="display:none;"></div> 
	<div class="nonebox" id="nonebox5"> 
		<a class="box-close one" id="box-close5" href="index.html"></a>
		<div class="s_title">БЛАГОДАРИМ ВАС ЗА <br>
			ОСТАВЛЕННУЮ ЗАЯВКУ
		</div>
		<hr>
		<p>Наши специалисты свяжутся с Вами <br>
			в ближайшее время
		</p>
		<div class="soc_a"><span>Наша группа вконтакте:</span><a href="#"><img src="images/vk.png" alt="Alt"></a>
		</div>
	</div>
<!-- END MODAL5 -->
<div id="menu">
	<ul>
		<li><a href="#">ГЛАВНАЯ </a></li>
		<li><a href="#">КУРСЫ</a></li>
		<li><a href="#">ПОЧЕМЫ МЫ</a></li>
		<li><a href="#">ЧЕМУ МЫ УЧИМ</a></li>
		<li><a href="#">НАШИ АВТОМОБИЛИ</a></li>
		<li><a href="#">ЧТО НУЖНО ДЛЯ ОБУЧЕНИЯ</a></li>
		<li><a href="#">ОТЗЫВЫ</a></li>
		<li><a href="#">КАК НАС НАЙТИ</a></li>   
	</ul>
	  <div class="close">×</div>
	</div>
	<div id="scrollup" class="about_click ontop1">
		<img src="images/up_st.png" alt="arrow" class="first">
		<h4>Наверх</h4>
	</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/ajax_form.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/scrollup.js"></script>
<script src="js/jquery.maskedinput.js"></script>
<script src="js/swiper.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/map_init.js"></script>
<script src="js/script.js"></script>
<script>
var h_hght = 139; // высота шапки
var h_mrg = 0;    // отступ когда шапка уже не видна
                 
$(function(){
 
    var elem = $('.main_nav');
    var top = $(this).scrollTop();
     
    if(top > h_hght){
        elem.css('top', h_mrg);
    }           
     
    $(window).scroll(function(){
        top = $(this).scrollTop();
         
        if (top+h_mrg < h_hght) {
            elem.css('top', (h_hght-top));
        } else {
            elem.css('top', h_mrg);
        }
    });
 
});
</script>
 </body>
</html>