<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Cambridge</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div id="wrapper">
	<header>
		<div class="main_container clearfix">
			<div class="left_side">
				<ul>
					<li><a href="#">Главная</a></li>
					<li><a href="#">Обучение за рубежом</a></li>
					<li><a href="#">Курсы</a></li>
				</ul>
				<div class="adress">г. Ростов-на-Дону, Ясный 5</div>	
			</div>
			<div class="center_side">
				<div class="logo">
					<img src="images/logo.png" alt="Alt">
					<div class="title">CAMBRIDGE</div>
					<div class="subtitle">Студия иностранных языков</div>
				</div>
			</div>
			<div class="right_side">
				<ul>
					<li><a href="#">Галерея</a></li>
					<li><a href="#">Группа VK</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<a href="#" class="search"></a>
				<div class="phone">2-60-33-50</div>
			</div>
		</div>
	</header>
	<div class="clearfix"></div>
<!-- END HEADER -->
<!-- MAIN SLIDER -->
	<div class="main_slider_bg">
		<div class="main_container clearfix">
			<h1>Welcome to Cambridge!</h1>
			<div class="main_description">Коллектив языкового центра CAMBRIDGE приветствует Вас на главной странице нашего сайта!<br>
			Наша основная цель - оправдать Ваши ожидания! Индивидуальный подход к студентам - это<br>
			наш способ работы :)</div>
			<a href="#" class="read_more">Читать больше</a>
		</div>
	</div>
<!-- END MAIN SLIDER -->
<!-- WELCOME -->
	<div class="main_container clearfix">
		<div class="h1">Welcome to Cambridge!</div>
			<hr>
		<div class="welcome_wrap clearfix">
			<div class="left-side">
				<p>Коллектив языкового центра CAMBRIDGE приветствует Вас на главной странице нашего сайта! Наша основная цель - оправдать Ваши ожидания! Мы не сетевая школа. Мы работаем на повышение качества образования, а не количества школ. Индивидуальный подход к студентам - это наш способ работы, а не красивые слова, чтобы привлечь внимание. Мы знаем каждого нашего студента в лицо и уделяем каждому максимум внимания.</p>
				<a href="#">Читать больше</a>
			</div>
			<div class="right-side">
				<iframe width="405" height="228" src="https://www.youtube.com/embed/oRnIhRIyq5U" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
<!-- END WELCOME -->
<!-- WARRANTY -->
	<div class="warranty_bg">
		<div class="main_container clearfix">
			<div class="right-side">
				<div class="h1">Наши гарантии!</div>
				<p>КМы уверены в качестве наших образовательных программ. Мы даём комплексные знания и ориентируем на результат. Это возможность поступить в ведущие ВУЗы Европы и обеспечить успешное будущее своим детям. Наши выпускники успешно учатся в Российских и зарубежных университетах! Мы открыты Вашим предложениям и пожеланиям по содержанию и форме занятий.</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
<!-- END WARRANTY -->
<!-- REASONS -->
	<div class="main_container clearfix">
		<div class="h1 align_center">Пять причин учиться у нас</div>
		<div class="reasons_wrap">
			<hr>
			<div class="reasons_block">
				<img src="images/reasons_icon1.png" alt="Alt">
				<p><span>Высокий<br>
				профессионализм</span> отечественных и зарубежных преподавателей</p>
			</div>
			<div class="reasons_block">
				<img src="images/reasons_icon2.png" alt="Alt">
				<p><span>Инновационные<br> методики</span></p>
			</div>
			<div class="reasons_block">
				<img src="images/reasons_icon3.png" alt="Alt">
				<p>Наши ученики <span>успешно сдают</span> кембриджские экзамены и IELTS</p>
			</div>
			<div class="reasons_block">
				<img src="images/reasons_icon4.png" alt="Alt">
				<p><span>Учебная программа</span> формируется с учётом ваших задач и
				потребностей</p>
			</div>
			<div class="reasons_block">
				<img src="images/reasons_icon5.png" alt="Alt">
				<p>Наилучшее
				соотношение <span>“цена-качество”</span></p>
			</div>
		</div>
	</div>
<!-- END REASONS -->
<!-- COURSES -->
	<div class="grey_bg">
		<div class="main_container clearfix">
			<div class="h1 align_center">Наши курсы</div>
			<div class="courses_wrap">
				<ul class="bxslider">
					<li>
						<div class="courses_block">
							<img src="images/slider_img1.jpg" alt="Alt">
							<div class="title">Языки для детей</div>
							<p>Детский возраст-наиболее благоприятный период для начала обучения языкам. Изучение языка прекрасно сказывается на развитии...</p>
							<a href="#">Подробнее</a>
						</div>
						<div class="courses_block">
							<img src="images/slider_img2.jpg" alt="Alt">
							<div class="title">Языки для взрослых</div>
							<p>На занятиях используются британские и американские программы. Большое внимание уделяется чтению аутентичной литературы...</p>
							<a href="#">Подробнее</a>
						</div>
						<div class="courses_block">
							<img src="images/slider_img3.jpg" alt="Alt">
							<div class="title">Курс подготовки к ЕГЭ И ОГЭ</div>
							<p>В настоящее время подготовка к ЕГЭ и ОГЭ по английскому языку стала важным направлением работы языкового центра “CAMBRIDGE”...</p>
							<a href="#">Подробнее</a>
						</div>
					</li>
					<li>
						<div class="courses_block">
							<img src="images/slider_img1.jpg" alt="Alt">
							<div class="title">Языки для детей</div>
							<p>Детский возраст-наиболее благоприятный период для начала обучения языкам. Изучение языка прекрасно сказывается на развитии...</p>
							<a href="#">Подробнее</a>
						</div>
						<div class="courses_block">
							<img src="images/slider_img2.jpg" alt="Alt">
							<div class="title">Языки для взрослых</div>
							<p>На занятиях используются британские и американские программы. Большое внимание уделяется чтению аутентичной литературы...</p>
							<a href="#">Подробнее</a>
						</div>
						<div class="courses_block">
							<img src="images/slider_img3.jpg" alt="Alt">
							<div class="title">Курс подготовки к ЕГЭ И ОГЭ</div>
							<p>В настоящее время подготовка к ЕГЭ и ОГЭ по английскому языку стала важным направлением работы языкового центра “CAMBRIDGE”...</p>
							<a href="#">Подробнее</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END COURSES -->
<!-- REVIEWS -->
	<div class="review_wrap">
		<div class="main_container clearfix">
			<div class="h1">Отзывы</div>
				
			<div class="welcome_wrap clearfix">
				<div class="left-side">
					<hr>
					<ul class="bxslider1">
						<li>
							<img src="images/r_img2.jpg" alt="Alt">
							<div class="slider_text">
								Мой сын занимается в "Cambridge" уже давно. На текущий момент имеет стабильную отметку "5" в школе, в этом году занял 1 место в олимпиаде по английскому языку. Преподаватель очень ответственно относится к подготовке занятий, использует много дополнительного разнообразного материала. В ходе занятия применяет различные методы и приемы обучения, что делает урок интересным и увлекательным. 
   
								<div class="clearfix"></div>
								<span>- Елена</span>
							</div>
						</li>
						<li>
							<img src="images/photo.png" alt="Alt">
							<div class="slider_text">
								С Викторией Сергеевной я занималась английским языком
								в прошлом году. Меня репетитор готовила к ЕГЭ и к IELTS. Именно благодаря занятиям с Викторией Сергеевной, я смогла поступить на учебу в Лондон и благополучно там учусь. Мне очень нравилось, что на занятиях педагог разговаривала со мной на английском языке. К русскому мы прибегали в редких случаях, только когда мне многое было непонятно. И с Викторией Сергеевной было очень приятно
								и легко общаться.
								<div class="clearfix"></div>
								<span>- Анна</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="right-side">
					<img src="images/vk.png" alt="Alt">
				</div>
			</div>
		</div>
	</div>
<!-- END REVIEWS -->
<!-- FOOTER -->
	<div class="footer_bg">
		<div class="main_container clearfix">
			<div class="copyright">Copyright © 2048 Cambridge| Validate XHTML & CSS</div>
		</div>
	</div>
<!-- END FOOTER -->
	</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
 </body>
</html>