<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Детский фотограф</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
<!-- HEADER -->
	<div id="header" class="clearfix">
		<div class="logo">
			<img src="images/logo.png" height="152" width="147" alt="">
		</div>
		<p class="info">Детский фотограф<br> СЕРГЕЙ НИЛОВ</p>
		<div class="contact"><img src="images/icon_phone.png" height="12" width="12" alt=""><span>8-913-377-93-39</span></div>
		<div class="contact"><img src="images/icon_mail.png" height="12" width="20" alt=""><span>s414vu@mail.ru</span></div>
		
			<ul class="menu">
				<li class="icon1"><a href="index.html">Главная</a></li>
				<li class="icon2"><a href="portfolio.html">Портфолио</a></li>
				<li class="icon3"><a href="price.html">Цены</a></li>
				<li class="icon4"><a href="about.html">Об авторе</a></li>
				<li class="icon5"><a href="contact.html">Контакты</a></li>
			</ul>
			<img src="images/icon_train.png" height="80" width="79" alt="" class="train_icon">
	</div>
<!-- END HEADER -->
<!-- NAV LEFT PART -->
	<div class="clearfix">
	<div id="leftpart">
		<div class="left_inside">
		
		<div class="h1">Фотосъемка детей</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Как фотографирую</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Моё оборудование</a>
			</div>
		<div class="divider">	
		</div>
		<div class="h1">Статьи</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Основы фотографии</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Игровая фотография</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Копилка опыта</a>
			</div>
		<div class="divider">	
		</div>	
		<div class="h1">Портфолио</div>	
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Дети в детском саду</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Дети в школе</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Фотокниги<br> выпускников</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Фотосъемка<br> праздников</a>
			</div>
		<div class="divider">	
		</div>		
		<div class="h1">Курсы по <br>фотографии</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Мастер-классы</a>
				</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">График проведения</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Видеокурсы</a>
			</div>	
		<div class="divider">	
		</div>
		<div class="h1">Фотоконкурсы</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">«Сплошной позитив!»</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Архив конкурсов</a>
			</div>
		<div class="divider">	
		</div>
		<div class="h1"><a href="" class="hvr-underline-from-left">Услуги и цены</a></div>	
		<div class="divider">	
		</div>
		<div class="h1"><a href="" class="hvr-underline-from-left">Контакты</a></div>	
		</div>
	</div>
	
<!-- END NAV LEFT PART -->
<!-- CONTENT -->
	<div class="container_right">
	<div class="rightpart_about">
		<div class="right_inside"><a href="index.html" > Главная</a>  →  <span>Об авторе</span></div>
	</div>
	<h1>Это я - детский фотограф </h1>
	<div class="about_right">
	<img src="images/photograf.jpg" height="290" width="290" alt="">
	</div>
	<h3>Здравствуйте! Я - Сергей Нилов, фотограф счастливых семей!</h3>
	
	<div class="simpletext3">Я искренне считаю, что дети - самые прикольные и позитивные жители нашей планеты. Мне нравится с ними общаться, играть и веселиться. Погружаясь в этот процесс, я фотографирую, порой на автомате, по привычке. Результат - не только много фотографий детей, но и удовольствие от самого процесса. Дети не хотят меня отпускать, бросаются обниматься при следующей встрече, помнят и рассказывают о фотосессии как о значимом и интересном событии... Вот что для меня главный результат и критерий самооценки работы. Ну а фотографии... Только на этом сайте их тысячи. Смотрите, оценивайте. Иногда я получаю очень трогательные сообщения в виде комментариев к фотографиям и статьям, писем, звонков. Кому-то фотографии детей подняли настроение, других воодушевили на что-то.</div>
	<h4>Немного истории:</h4>
	<div class="text_container">
	<p class="simpletext4">Родился и рос на Дальнем Востоке</p>
	<p class="simpletext4">Был облучен красным фонарём домашней фотолаботории (ванной комнаты) и загипнотизирован магией фотокюветов благодаря моей маме-фотолюбительнице.</p>
	<p class="simpletext4">Первый фотоаппарат "Смена 8М", потом были, конечно, зеркалки (Zenit и др.).</p>
	<p class="simpletext4">Как-то случайно получил педагогическое, а потом целенаправленно психологическое образование.</p>
	<p class="simpletext4">Работал практическим психологом 6 лет с детьми и подростками.</p>
	<p class="simpletext4">Писал статьи и фотографировал для журналов.</p>
	<p class="simpletext4">Вот так и докатился до жизни, фотоотчетом о которой является этот сайт.</p>
	<p class="simpletext4">Так как сам не люблю фотографироваться, то представляю серию моих карандашно-фломастерных портретов, подаренных мне детьми - участниками моих фотосессий:</p>
	</div>
<!-- FOOTER -->
	
<!-- END FOOTER -->
	</div>
	<footer>
		<p>© 2010 - 2015 Фотограф Сергей Нилов.<br> Все права защищены.
Разработано NSUphoto</p>
	</footer>
	
</body>
</html>