<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Детский фотограф</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
<!-- HEADER -->
	<div id="header" class="clearfix">
		<div class="logo">
			<img src="images/logo.png" height="152" width="147" alt="">
		</div>
		<p class="info">Детский фотограф<br> СЕРГЕЙ НИЛОВ</p>
		<div class="contact"><img src="images/icon_phone.png" height="12" width="12" alt=""><span>8-913-377-93-39</span></div>
		<div class="contact"><img src="images/icon_mail.png" height="12" width="20" alt=""><span>s414vu@mail.ru</span></div>
		
			<ul class="menu">
				<li class="icon1"><a href="index.html">Главная</a></li>
				<li class="icon2"><a href="portfolio.html">Портфолио</a></li>
				<li class="icon3"><a href="price.html">Цены</a></li>
				<li class="icon4"><a href="about.html">Об авторе</a></li>
				<li class="icon5"><a href="contact.html">Контакты</a></li>
			</ul>
			<img src="images/icon_train.png" height="80" width="79" alt="" class="train_icon">
	</div>
<!-- END HEADER -->
<!-- NAV LEFT PART -->
	<div class="clearfix">
	<div id="leftpart">
		<div class="left_inside">
		
		<div class="h1">Фотосъемка детей</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Как фотографирую</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Моё оборудование</a>
			</div>
		<div class="divider">	
		</div>
		<div class="h1">Статьи</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Основы фотографии</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Игровая фотография</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Копилка опыта</a>
			</div>
		<div class="divider">	
		</div>	
		<div class="h1">Портфолио</div>	
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Дети в детском саду</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Дети в школе</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Фотокниги<br> выпускников</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Фотосъемка<br> праздников</a>
			</div>
		<div class="divider">	
		</div>		
		<div class="h1">Курсы по <br>фотографии</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Мастер-классы</a>
				</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">График проведения</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Видеокурсы</a>
			</div>	
		<div class="divider">	
		</div>
		<div class="h1">Фотоконкурсы</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">«Сплошной позитив!»</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Архив конкурсов</a>
			</div>
		<div class="divider">	
		</div>
		<div class="h1"><a href="" class="hvr-underline-from-left">Услуги и цены</a></div>	
		<div class="divider">	
		</div>
		<div class="h1"><a href="" class="hvr-underline-from-left">Контакты</a></div>	
		</div>
	</div>
	
<!-- END NAV LEFT PART -->
<!-- CONTENT -->
	<div class="container_right">
	<div class="rightpart">
		<div class="right_inside"><a href="index.html"> Главная</a>  →  <span>Детский фотограф</span></div>
	</div>
	<h1>Детский фотограф</h1>
	<div class="bigphoto">
		<img src="images/photo_bg.jpg" height="320" width="645" alt="" class="photo">
	</div>
	<p class="text">Здравствуйте! Я - Сергей Нилов, фотограф счастливых семей!</p>
	<p class="text">Я знаю, как поймать искренние эмоции ваших деток, раскрыть нежность беременности для фото, запечатлеть первые деньки в этом мире вашего крохи, и, к тому же, сделаю это с любовью и на позитиве!</p>
	<p class="text">Я сам папа чудесного малыша и я знаю, что деток хочется фотографировать каждую минуту! Качественные семейные фотографии с появлением мобильных камер стали и вовсе редкостью, но я помогу вам это исправить и у вас тоже будет красивая семейная фотосессия и фотокнига для показа родным.</p>
	<p class="text">Красочные фотографии в дальнейшем станут не только неповторимыми воспоминаниями, но и тепло украсят уголок вашего дома!</p>
	<div class="divider2">
	</div>
<!-- END CONTENT -->
<!-- GALERY -->
	<h2>Фотосъёмка детей</h2>
	<div class="gallery">
		<div class="photo_item"><img src="images/foto1.jpg" height="210" width="179" alt=""></div>
		<div class="photo_item"><img src="images/foto2.jpg" height="210" width="179" alt=""></div>
		<div class="photo_item"><img src="images/foto3.jpg" height="210" width="179" alt=""></div>
		<div class="photo_item"><img src="images/foto1.jpg" height="210" width="179" alt=""></div>
		<div class="photo_item"><img src="images/foto2.jpg" height="210" width="179" alt=""></div>
		<div class="photo_item"><img src="images/foto3.jpg" height="210" width="179" alt=""></div>
	</div>
	<a href="" class="button">Просмотреть больше фото</a>
	<div class="divider2">
	</div>
	
	
<!-- END GALERY -->
<!-- SERVICES -->
	<div class="services">
		<h2>Услуги</h2>
		<div class="price">
			<div class="price_item">
				<div class="price_h1">Свадебный день</div>
				<div class="divider3">	
				</div>
				<ul class="price_list">
					<li>Фотосъемка свадебного дня: сборы невесты, выкуп, торжественная часть во Дворце бракосочетания, прогулка, банкет <b>до последнего</b> танца молодоженов</li>
					<li>Цветокоррекция всех фотографий</li>
					<li>Флешка со всеми фотографиями</li>
				</ul>
				<div class="divider3">
				</div>
				<div class="price_h3">Стоимость 20 000р.</div>	
			</div>
			<div class="price_item">
				<div class="price_h1">Свадебный день</div>
				<div class="divider3">	
				</div>
				<ul class="price_list">
					<li>Фотосъемка свадебного дня: сборы невесты, выкуп, торжественная часть во Дворце бракосочетания, прогулка, банкет <b>до последнего</b> танца молодоженов</li>
					<li>Цветокоррекция всех фотографий</li>
					<li>Флешка со всеми фотографиями</li>
				</ul>
				<div class="divider3">
				</div>
				<div class="price_h3">Стоимость 20 000р.</div>	
			</div>
			<div class="price_item">
				<div class="price_h1">Свадебный день</div>
				<div class="divider3">	
				</div>
				<ul class="price_list">
					<li>Фотосъемка свадебного дня: сборы невесты, выкуп, торжественная часть во Дворце бракосочетания, прогулка, банкет <b>до последнего</b> танца молодоженов</li>
					<li>Цветокоррекция всех фотографий</li>
					<li>Флешка со всеми фотографиями</li>
				</ul>
				<div class="divider3">
				</div>
				<div class="price_h3">Стоимость 20 000р.</div>	
			</div>
		</div>
	</div>
	<a href="" class="button1">Узнать больше</a>
	<div class="divider2">
	</div>

<!-- END SERVICES -->
<!-- QUESTIONS -->
	<h2>Вопросы и ответы</h2>
	<div class="questions">
		<div class="questions_item">
			<div class="nameh11">Александр</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Здравствуйте, Сергей! Благодарю вас, вы вдохновили меня на работу с детьми. Первый опыт по работе со школьниками младших классов меня порадовал, некоторые выложил на своем сайте даже страничку для детских фото сделал! Собственно вопрос. Хотел бы принять участие в ваших конкурсах (так сказать попробывать силы!). Как я понимаю конкурс «Сплошной позитив!» закончился. Когда планируете проводит очередной конкурс? С удовольствием поучаствую.</p>
			<div class="divider4">
				</div>
			<div class="nameh11">Валерия</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Здравствуйте!!! Спасибо за то что приехали к нам!!! Нам очень повезло!!! Очень коассные и интересные фотографии! Этот день с вами мы провели отлично!!! Спасибо вам огромное!!! Ученица 4Б класса школы N 1265 ( учительница- Татьяна Викторовна) Валерия</p>
			<p class="textright">- Спасибо большущее! Я всегда получаю массу позитива от общения с вами! Школа у вас просто супер! Сохраняйте эти фотографии. Лет через 20 будете показывать своим детям!</p>
			<div class="divider4">
				</div>
			<div class="nameh11">Любовь</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Доброго времени суток, Сергей! Я так понимаю на сайте kupimfoto.ru фотографии защищены от скачивания, то есть зайдя туда скомуниздить фото не получится (я надеюсь)?</p>
		</div>	
	</div>
	<a href="questions.html" class="button2">Перейти к вопросам</a>
</div>
	
<!-- END QUESTIONS -->
<!-- FOOTER -->
	<footer>
		<p>© 2010 - 2015 Фотограф Сергей Нилов.<br> Все права защищены.
Разработано NSUphoto</p>
	</footer>
<!-- END FOOTER -->
	</div>
	</div>
</body>
</html>