<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Детский фотограф</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
<!-- HEADER -->
	<div id="header" class="clearfix">
		<div class="logo">
			<img src="images/logo.png" height="152" width="147" alt="">
		</div>
		<p class="info">Детский фотограф<br> СЕРГЕЙ НИЛОВ</p>
		<div class="contact"><img src="images/icon_phone.png" height="12" width="12" alt=""><span>8-913-377-93-39</span></div>
		<div class="contact"><img src="images/icon_mail.png" height="12" width="20" alt=""><span>s414vu@mail.ru</span></div>
		
			<ul class="menu">
				<li class="icon1"><a href="index.html">Главная</a></li>
				<li class="icon2"><a href="portfolio.html">Портфолио</a></li>
				<li class="icon3"><a href="price.html">Цены</a></li>
				<li class="icon4"><a href="about.html">Об авторе</a></li>
				<li class="icon5"><a href="contact.html">Контакты</a></li>
			</ul>
			<img src="images/icon_train.png" height="80" width="79" alt="" class="train_icon">
	</div>
<!-- END HEADER -->
<!-- NAV LEFT PART -->
	<div class="clearfix">
	<div id="leftpart">
		<div class="left_inside">
		
		<div class="h1">Фотосъемка детей</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Как фотографирую</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Моё оборудование</a>
			</div>
		<div class="divider">	
		</div>
		<div class="h1">Статьи</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Основы фотографии</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Игровая фотография</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Копилка опыта</a>
			</div>
		<div class="divider">	
		</div>	
		<div class="h1">Портфолио</div>	
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Дети в детском саду</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Дети в школе</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Фотокниги<br> выпускников</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Фотосъемка<br> праздников</a>
			</div>
		<div class="divider">	
		</div>		
		<div class="h1">Курсы по <br>фотографии</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Мастер-классы</a>
				</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">График проведения</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Видеокурсы</a>
			</div>	
		<div class="divider">	
		</div>
		<div class="h1">Фотоконкурсы</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">«Сплошной позитив!»</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Архив конкурсов</a>
			</div>
		<div class="divider">	
		</div>
		<div class="h1"><a href="" class="hvr-underline-from-left">Услуги и цены</a></div>	
		<div class="divider">	
		</div>
		<div class="h1"><a href="" class="hvr-underline-from-left">Контакты</a></div>	
		</div>
	</div>
	
<!-- END NAV LEFT PART -->
<!-- CONTENT -->
	<div class="container_right">
	<div class="rightpart">
		<div class="right_inside"><a href="" > Главная</a>  →  <span>Портфолио</span></div>
	</div>
	<h1>Фотосъёмка детей</h1>
<!-- GALERY -->
	<div class="gallery">
		<a href="#openModal">
		<div class="photo_item1"><img src="images/foto1.jpg" height="210" width="179" alt="">
		<div id='basic-modal'>
			<a href='#openModal' class='basic'></a>
		</div>
		</div>
		</a>
		<a href="#openModal">
		<div class="photo_item1"><img src="images/foto2.jpg" height="210" width="179" alt="">
		<div id='basic-modal'>
			<a href='#openModal' class='basic'></a>
		</div>
		</div>
		</a>
		<a href="#openModal">
		<div class="photo_item1"><img src="images/foto3.jpg" height="210" width="179" alt="">
		<div id='basic-modal'>
			<a href='#openModal' class='basic'></a>
		</div>
		</div>
		</a>
		<a href="#openModal">
		<div class="photo_item1"><img src="images/foto1.jpg" height="210" width="179" alt="">
		<div id='basic-modal'>
			<a href='#openModal' class='basic'></a>
		</div>
		</div>
		</a>
		<a href="#openModal">
		<div class="photo_item1"><img src="images/foto2.jpg" height="210" width="179" alt="">
		<div id='basic-modal'>
			<a href='#openModal' class='basic'></a>
		</div>
		</div>
		</a>
		<a href="#openModal">
		<div class="photo_item1"><img src="images/foto3.jpg" height="210" width="179" alt="">
		<div id='basic-modal'>
			<a href='#openModal' class='basic'></a>
		</div>
		</div>
		</a>
		<a href="#openModal">
		<div class="photo_item1"><img src="images/foto1.jpg" height="210" width="179" alt="">
		<div id='basic-modal'>
			<a href='#openModal' class='basic'></a>
		</div>
		</div>
		</a>
		<a href="#openModal">
		<div class="photo_item1"><img src="images/foto2.jpg" height="210" width="179" alt="">
		<div id='basic-modal'>
			<a href='#openModal' class='basic'></a>
		</div>
		</div>
		</a>
		<a href="#openModal">
		<div class="photo_item1"><img src="images/foto3.jpg" height="210" width="179" alt="">
		<div id='basic-modal'>
			<a href='#openModal' class='basic'></a>
		</div>
		</div>
		</a>
		<a href="#openModal">
		<div class="photo_item1"><img src="images/foto1.jpg" height="210" width="179" alt="">
		<div id='basic-modal'>
			<a href='#openModal' class='basic'></a>
		</div>
		</div>
		</a>
		<a href="#openModal">
		<div class="photo_item1"><img src="images/foto2.jpg" height="210" width="179" alt="">
		<div id='basic-modal'>
			<a href='#openModal' class='basic'></a>
		</div>
		</div>
		</a>
		<a href="#openModal">
		<div class="photo_item1"><img src="images/foto3.jpg" height="210" width="179" alt="">
		<div id='basic-modal'>
			<a href='#openModal' class='basic'></a>
		</div>
		</div>
		</a>
		
	</div>
	<!--Block "Пагинация" Start"-->
     <div class="pagination">
             <ul>
                 <li><a href="#" class="prev1"><</a></li>
                 <li class="active"><a href="portfolio.html">1</a></li>
                 <li><a href="portfolio2.html">2</a></li>
                 <li><a href="portfolio3.html">3</a></li>
                 <li><a href="#">4</a></li>
                 <li><a href="#">5</a></li>
                 <li><a href="#" class="next1">></a></li>
                </ul>
      </div>
<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Закрыть" class="close"></a>
		<div class="slider slider1">
        <div class="sliderContent">
            <div class="item">
                <img src="images/preloader.gif" class="myImg"/>
            </div>
             <div class="item">
                <img src="images/preloader.gif" class="myImg"/>
            </div>
            <div class="item">
                <img src="images/preloader.gif" class="myImg"/>
            </div>
            <div class="item">
                <img src="images/preloader.gif" class="myImg"/>
            </div> 
        </div>
    </div>
		<div class="questions_item2">
			<div class="h1_modal">Последнии коментарии</div>
			<div class="comment">
			<div class="nameh1">Екатерина Скиба</div>
			<p class="simpletext1">Помните, я рассказывала о талантливых людях, с которыми мне посчастливилось познакомиться? Сегодня расскажу о фотографе!
			И не просто фотографе, а мега креативном человеке, у которого идей больше, чем можно даже себе представить :) Это Наташа Серенко. </p>
			<div class="divider4">
				</div>
			</div>
			<div class="comment">
			<div class="nameh1">Екатерина Скиба</div>
			<p class="simpletext1">Помните, я рассказывала о талантливых людях, с которыми мне посчастливилось познакомиться? Сегодня расскажу о фотографе!
			И не просто фотографе, а мега креативном человеке, у которого идей больше, чем можно даже себе представить :) Это Наташа Серенко. </p>
			<div class="divider4">
				</div>
			</div>	
			<div class="comment">
			<div class="nameh1">Екатерина Скиба</div>
			<p class="simpletext1">Помните, я рассказывала о талантливых людях, с которыми мне посчастливилось познакомиться? Сегодня расскажу о фотографе!
			И не просто фотографе, а мега креативном человеке, у которого идей больше, чем можно даже себе представить :) Это Наташа Серенко. </p>
			<div class="divider4">
				</div>
			</div>
			<a href="portfolio1-1.html" class="buttonsend">Перейти на страницу</a>
			<a href="" class="post">Коментировать</a>				
		</div>	
	
	</div>
</div>
<!--Block "Пагинация" End"-->	
<!-- END GALERY -->
</div>
	
<!-- FOOTER -->
	<footer>
		<p>© 2010 - 2015 Фотограф Сергей Нилов.<br> Все права защищены.
Разработано NSUphoto</p>
	</footer>
<!-- END FOOTER -->
</div>
	</div>
	
<!-- OVERLAY -->

<!-- <div id="basic-modal-content">
	<div class="slider slider1">
        <div class="sliderContent">
            <div class="item">
                <img src="images/foto_v2.jpg"/>
            </div>
            <div class="item">
                <img src="images/foto_v2.jpg"/>
            </div>
            <div class="item">
                <img src="images/foto_v2.jpg"/>
            </div>
            <div class="item">
                <img src="images/foto_v2.jpg"/>
            </div>
        </div>
    </div>
		<div class="questions_item2">
			<div class="h1_modal">Последнии коментарии</div>
			<div class="comment">
			<img src="images/photo_coment.png" alt="">
			<div class="nameh1">Екатерина Скиба</div>
			<p class="simpletext1">Помните, я рассказывала о талантливых людях, с которыми мне посчастливилось познакомиться? Сегодня расскажу о фотографе!
			И не просто фотографе, а мега креативном человеке, у которого идей больше, чем можно даже себе представить :) Это Наташа Серенко. </p>
			<div class="divider4">
				</div>
			</div>
			<div class="comment">
			<img src="images/photo_coment.png" alt="">
			<div class="nameh1">Екатерина Скиба</div>
			<p class="simpletext1">Помните, я рассказывала о талантливых людях, с которыми мне посчастливилось познакомиться? Сегодня расскажу о фотографе!
			И не просто фотографе, а мега креативном человеке, у которого идей больше, чем можно даже себе представить :) Это Наташа Серенко. </p>
			<div class="divider4">
				</div>
			</div>	
			<div class="comment">
			<img src="images/photo_coment.png" alt="">
			<div class="nameh1">Екатерина Скиба</div>
			<p class="simpletext1">Помните, я рассказывала о талантливых людях, с которыми мне посчастливилось познакомиться? Сегодня расскажу о фотографе!
			И не просто фотографе, а мега креативном человеке, у которого идей больше, чем можно даже себе представить :) Это Наташа Серенко. </p>
			<div class="divider4">
				</div>
			</div>
			<a href="portfolio1-1.html" class="buttonsend">Перейти на страницу</a>
			<a href="" class="post">Коментировать</a>				
		</div>	
	
	</div> -->
<!-- END OVERLAY -->

<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/mobilyslider.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript">
var img = new Image();
img.onload = function() { $('.myImg').attr('src', img.src); }
img.src = 'images/foto_v2.jpg';
</script>
</body>
</html>