<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta property="og:image" content="http://site.name/image.jpg" />
	<title>Детский фотограф</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link id="styles_classic" href="css/social-likes_classic.css" rel="stylesheet">	
</head>
<body>
	<div id="wrapper">
<!-- HEADER -->
	<div id="header" class="clearfix">
		<div class="logo">
			<img src="images/logo.png" height="152" width="147" alt="">
		</div>
		<p class="info">Детский фотограф<br> СЕРГЕЙ НИЛОВ</p>
		<div class="contact"><img src="images/icon_phone.png" height="12" width="12" alt=""><span>8-913-377-93-39</span></div>
		<div class="contact"><img src="images/icon_mail.png" height="12" width="20" alt=""><span>s414vu@mail.ru</span></div>
		
			<ul class="menu">
				<li class="icon1"><a href="index.html" class="active">Главная</a></li>
				<li class="icon2"><a href="portfolio.html">Портфолио</a></li>
				<li class="icon3"><a href="price.html">Цены</a></li>
				<li class="icon4"><a href="about.html">Об авторе</a></li>
				<li class="icon5"><a href="contact.html">Контакты</a></li>
			</ul>
			<img src="images/icon_train.png" height="80" width="79" alt="" class="train_icon">
	</div>
<!-- END HEADER -->
<!-- NAV LEFT PART -->
	<div class="clearfix">
	<div id="leftpart">
		<div class="left_inside">
		
		<div class="h1">Фотосъемка детей</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Как фотографирую</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Моё оборудование</a>
			</div>
		<div class="divider">	
		</div>
		<div class="h1">Статьи</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Основы фотографии</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Игровая фотография</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Копилка опыта</a>
			</div>
		<div class="divider">	
		</div>	
		<div class="h1">Портфолио</div>	
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Дети в детском саду</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal active_left">Дети в школе</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Фотокниги<br> выпускников</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Фотосъемка<br> праздников</a>
			</div>
		<div class="divider">	
		</div>		
		<div class="h1">Курсы по <br>фотографии</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Мастер-классы</a>
				</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">График проведения</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Видеокурсы</a>
			</div>	
		<div class="divider">	
		</div>
		<div class="h1">Фотоконкурсы</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">«Сплошной позитив!»</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Архив конкурсов</a>
			</div>
		<div class="divider">	
		</div>
		<div class="h1"><a href="" class="hvr-underline-from-left">Услуги и цены</a></div>	
		<div class="divider">	
		</div>
		<div class="h1"><a href="" class="hvr-underline-from-left">Контакты</a></div>	
		</div>
	</div>
	
<!-- END NAV LEFT PART -->
<!-- CONTENT -->
	<div class="container_right">
	<div class="rightpart">
		<div class="right_inside"><a href="index.html" > Главная</a>  →  <a href="portfolio.html">Портфолио</a>  → <span>Дети в школе</span></div>
	</div>
	<h1>Малыши</h1>
	<p class="text">Детство – это время, которое все взрослые вспоминают с улыбкой и нежностью. Хоть в этот период всем деткам хочется непременно стать взрослыми, потом, с возрастом, каждый понимает какое это потрясающее время – детство! Детская фотосессия в студии и дома дает отличную возможность подарить Вашему малышу море позитивных эмоций, а Вам - запечатлеть те мгновенья, когда Ваш малыш беззаботно мал, счастлив и весел. Позвольте Вашему ребенку проявить фантазию и воплотить на детской фотосъемке те образы, о которых он мечтает. Творческая фотография – это не только память для Вас, это творческое проявление Вашего малыша.</p>
	<div class="bigphoto_2">
		 <div class="photo_p">
		 	<img src="images/big_photo.jpg" height="440" width="645"  alt="Alt" data-mfp-src="images/big_photo1.jpg">
			
		</div> 
	</div>
	<div class="rightpart2">
	  	<div class="social_buttons">
	  	<div class="social-likes" data-url="http://mail.ru/">
		<div class="vkontakte" title="Опубликовать ссылку во Вконтакте">Вконтакте</div>
		<div class="facebook" title="Опубликовать ссылку на Фейсбуке">Facebook</div>
		<div class="odnoklassniki" title="Опубликовать ссылку в Одноклассниках">Одноклассники</div>
		<div class="twitter" data-via="sapegin" data-related="DessiTeckel:Моя такса" title="Опубликовать ссылку в Твиттере">Twitter</div>
		</div>
	</div>
	</div>
	<div class="divider5">
	</div>
<!-- END CONTENT -->
<!-- QUESTIONS -->
	<h2>Коментарии</h2>
	<a href="#" class="button4" id="open_form">комментировать фотографию</a>
	
	<div class="questions1">
		<div class="questions_item1">
			<div class="comment1">
			<div class="nameh2">Екатерина Скиба</div>
			<p class="simpletext2">Помните, я рассказывала о талантливых людях, с которыми мне посчастливилось познакомиться? Сегодня расскажу о фотографе!<br>
			И не просто фотографе, а мега креативном человеке, у которого идей больше, чем можно даже себе представить :) Это Наташа Серенко.<br> 
			В основном она специализируется на детской и семейной фотосъемке. И поверьте, что делает это она мастерски! Она всегда найдет подход к самому непоседливому малышу и даже взрослому "буратино" ;) Работать с ней легко и приятно. Большинство лучших фото в моем семейном альбоме сделала именно она ;)</p>
			<div class="divider4">
				</div>
		</div>
		<div class="comment1">
			<div class="nameh2">Екатерина Скиба</div>
			<p class="simpletext2">Спасибо Вам за фото!!!! ОЧЕНЬ-ОЧЕНЬ понравились, все класснючие, яркие, СУПЕР-СУПЕР!!!<br> 
			Мы сразу после Вас поехали на выходные на дачу, там бабкам-дедкам показали, все в восторге.<br>
			Я теперь прямо в потерях не знаю какие из них напечатать, так много всего нравится!!!))))<br>
			Безумно понравилась Ваша работа, буду рекламировать))) <br>
			Еще раз СПАСИБО, СПАСИБО, СПАСИБО БОЛЬШОЕ!!! </p>
			<div class="divider4">
				</div>
		</div>	
		<div class="comment1">
			<div class="nameh2">Екатерина Скиба</div>
			<p class="simpletext2">Спасибо Вам за фото!!!! ОЧЕНЬ-ОЧЕНЬ понравились, все класснючие, яркие, СУПЕР-СУПЕР!!!<br> 
			Мы сразу после Вас поехали на выходные на дачу, там бабкам-дедкам показали, все в восторге.<br>
			Я теперь прямо в потерях не знаю какие из них напечатать, так много всего нравится!!!))))<br>
			Безумно понравилась Ваша работа, буду рекламировать))) <br>
			Еще раз СПАСИБО, СПАСИБО, СПАСИБО БОЛЬШОЕ!!! </p>
			<div class="divider4">
				</div>
				<a href="" class="post1">Еще комментарии</a>	
		</div>		
	</div>
	
</div>
	</div>
<!-- END QUESTIONS -->
<!-- OVERLAY2 -->
        <div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
            <form action="" id="ourAwesomeForm2">
            
            <a class="box-close one" id="box-close" href="#"></a> 
            <div class="h1_overlay">Оставить комментарий</div>
            <p>Ваш комментарий</p>
            <div class="backerror">
            <input type="textarea" name="textarea" class="textarea" id="textarea" required>
            </div>
            <p class="email">Ваш e-mail</p>
            <input type="text" name="mail" id="email">
            <img src="images/capture.jpg" height="51" width="130" alt="" class="capture">
			
			<p class="input_right">Введите код сюда</p>
            <div class="backerror1">
            <input type="text" id="capture" name="capture" class="enter_capture" required >
            </div>
            <input type="checkbox" class="checkbox" checked>
            <p class="text3">Хочу получать интересные новости и предложения от <a href="" class="babyfun">BabyFun.ru</a></p>
            <input type="submit" id="button7" value="Отправить">
            <a href="#" class="button6 one">Отмена</a>
            </form>
        </div> 
<!-- END OVERLAY2 -->
<!-- FOOTER -->
</div>
	<div class="clearfix">
	<footer>
		<p>© 2010 - 2015 Фотограф Сергей Нилов.<br> Все права защищены.
Разработано NSUphoto</p>
	</footer>
	</div>
<!-- END FOOTER -->

<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/mobilyslider.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/validator.js"></script>
<script src="js/social-likes.js"></script>
<script src="js/script.js"></script>
</body>
</html>