<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Детский фотограф</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
<!-- HEADER -->
	<div id="header" class="clearfix">
		<div class="logo">
			<img src="images/logo.png" height="152" width="147" alt="">
		</div>
		<p class="info">Детский фотограф<br> СЕРГЕЙ НИЛОВ</p>
		<div class="contact"><img src="images/icon_phone.png" height="12" width="12" alt=""><span>8-913-377-93-39</span></div>
		<div class="contact"><img src="images/icon_mail.png" height="12" width="20" alt=""><span>s414vu@mail.ru</span></div>
		
			<ul class="menu">
				<li class="icon1"><a href="index.html">Главная</a></li>
				<li class="icon2"><a href="portfolio.html">Портфолио</a></li>
				<li class="icon3"><a href="price.html">Цены</a></li>
				<li class="icon4"><a href="about.html">Об авторе</a></li>
				<li class="icon5"><a href="contact.html">Контакты</a></li>
			</ul>
			<img src="images/icon_train.png" height="80" width="79" alt="" class="train_icon">
	</div>
<!-- END HEADER -->
<!-- NAV LEFT PART -->
	<div class="clearfix">
	<div id="leftpart">
		<div class="left_inside">
		
		<div class="h1">Фотосъемка детей</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Как фотографирую</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Моё оборудование</a>
			</div>
		<div class="divider">	
		</div>
		<div class="h1">Статьи</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Основы фотографии</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Игровая фотография</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Копилка опыта</a>
			</div>
		<div class="divider">	
		</div>	
		<div class="h1">Портфолио</div>	
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Дети в детском саду</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Дети в школе</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Фотокниги<br> выпускников</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Фотосъемка<br> праздников</a>
			</div>
		<div class="divider">	
		</div>		
		<div class="h1">Курсы по <br>фотографии</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Мастер-классы</a>
				</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">График проведения</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Видеокурсы</a>
			</div>	
		<div class="divider">	
		</div>
		<div class="h1">Фотоконкурсы</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">«Сплошной позитив!»</a>
			</div>
			<div class="textleft">
				<img src="images/arrow.png" height="13" width="7" alt="">
				<a href="" class="hvr-wobble-horizontal">Архив конкурсов</a>
			</div>
		<div class="divider">	
		</div>
		<div class="h1"><a href="" class="hvr-underline-from-left">Услуги и цены</a></div>	
		<div class="divider">	
		</div>
		<div class="h1"><a href="" class="hvr-underline-from-left">Контакты</a></div>	
		</div>
	</div>
	
<!-- END NAV LEFT PART -->
<!-- CONTENT -->
	<div class="container_right">
	<div class="rightpart_about">
		<div class="right_inside"><a href="index.html" > Главная</a>  →  <span>Вопросы-ответы</span></div>
	</div>
	<div class="h1_about">Вопросы-ответы</div>
	<a href="#" class="button5" id="open_form">Задать вопрос</a>
	<!-- QUESTIONS -->
	<div class="questions3">
		<div class="questions_item3">
			<div class="nameh11">Александр</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Здравствуйте, Сергей! Благодарю вас, вы вдохновили меня на работу с детьми. Первый опыт по работе со школьниками младших классов меня порадовал, некоторые выложил на своем сайте даже страничку для детских фото сделал! Собственно вопрос. Хотел бы принять участие в ваших конкурсах (так сказать попробывать силы!). Как я понимаю конкурс «Сплошной позитив!» закончился. Когда планируете проводит очередной конкурс? С удовольствием поучаствую.</p>
			<div class="divider4">
				</div>
			<div class="nameh11">Валерия</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Здравствуйте!!! Спасибо за то что приехали к нам!!! Нам очень повезло!!! Очень коассные и интересные фотографии! Этот день с вами мы провели отлично!!! Спасибо вам огромное!!! Ученица 4Б класса школы N 1265 ( учительница- Татьяна Викторовна) Валерия</p>
			<p class="textright">- Спасибо большущее! Я всегда получаю массу позитива от общения с вами! Школа у вас просто супер! Сохраняйте эти фотографии. Лет через 20 будете показывать своим детям!</p>
			<div class="divider4">
				</div>
			<div class="nameh11">Любовь</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Доброго времени суток, Сергей! Я так понимаю на сайте kupimfoto.ru фотографии защищены от скачивания, то есть зайдя туда скомуниздить фото не получится (я надеюсь)?</p>
			<div class="divider4">
				</div>
			<div class="nameh11">Александр</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Здравствуйте, Сергей! Благодарю вас, вы вдохновили меня на работу с детьми. Первый опыт по работе со школьниками младших классов меня порадовал, некоторые выложил на своем сайте даже страничку для детских фото сделал! Собственно вопрос. Хотел бы принять участие в ваших конкурсах (так сказать попробывать силы!). Как я понимаю конкурс «Сплошной позитив!» закончился. Когда планируете проводит очередной конкурс? С удовольствием поучаствую.</p>
			<div class="divider4">
				</div>
			<div class="nameh11">Валерия</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Здравствуйте!!! Спасибо за то что приехали к нам!!! Нам очень повезло!!! Очень коассные и интересные фотографии! Этот день с вами мы провели отлично!!! Спасибо вам огромное!!! Ученица 4Б класса школы N 1265 ( учительница- Татьяна Викторовна) Валерия</p>
			<p class="textright">- Спасибо большущее! Я всегда получаю массу позитива от общения с вами! Школа у вас просто супер! Сохраняйте эти фотографии. Лет через 20 будете показывать своим детям!</p>
			<div class="divider4">
				</div>
			<div class="nameh11">Любовь</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Доброго времени суток, Сергей! Я так понимаю на сайте kupimfoto.ru фотографии защищены от скачивания, то есть зайдя туда скомуниздить фото не получится (я надеюсь)?</p>
			<div class="divider4">
				</div><div class="nameh11">Любовь</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Доброго времени суток, Сергей! Я так понимаю на сайте kupimfoto.ru фотографии защищены от скачивания, то есть зайдя туда скомуниздить фото не получится (я надеюсь)?</p>
			<div class="divider4">
				</div>
				<div class="nameh11">Александр</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Здравствуйте, Сергей! Благодарю вас, вы вдохновили меня на работу с детьми. Первый опыт по работе со школьниками младших классов меня порадовал, некоторые выложил на своем сайте даже страничку для детских фото сделал! Собственно вопрос. Хотел бы принять участие в ваших конкурсах (так сказать попробывать силы!). Как я понимаю конкурс «Сплошной позитив!» закончился. Когда планируете проводит очередной конкурс? С удовольствием поучаствую.</p>
			<div class="divider4">
				</div>
			<div class="nameh11">Валерия</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Здравствуйте!!! Спасибо за то что приехали к нам!!! Нам очень повезло!!! Очень коассные и интересные фотографии! Этот день с вами мы провели отлично!!! Спасибо вам огромное!!! Ученица 4Б класса школы N 1265 ( учительница- Татьяна Викторовна) Валерия</p>
			<p class="textright">- Спасибо большущее! Я всегда получаю массу позитива от общения с вами! Школа у вас просто супер! Сохраняйте эти фотографии. Лет через 20 будете показывать своим детям!</p>
			<div class="divider4">
				</div>
			<div class="nameh11">Любовь</div>
			<div class="date">15.02.2015</div>
			<p class="simpletext">Доброго времени суток, Сергей! Я так понимаю на сайте kupimfoto.ru фотографии защищены от скачивания, то есть зайдя туда скомуниздить фото не получится (я надеюсь)?</p>
			<div class="divider4">
				</div>
				<a href="" class="post2">Еще вопросы</a>

		</div>	
	</div>
</div>
	
<!-- END QUESTIONS -->
<!-- OVERLAY2 -->
        <div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
            <form action="" id="ourAwesomeForm2">
            
            <a class="box-close one" id="box-close" href="#"></a> 
            <div class="h1_overlay">Задать вопрос</div>
            <p>Ваш вопрос</p>
            <div class="backerror">
            <input type="textarea" name="textarea" class="textarea" id="textarea" required>
            </div>
            <p class="email">Ваш e-mail</p>
            <input type="text" name="mail" id="email">
            <img src="images/capture.jpg" height="51" width="130" alt="" class="capture">
			
			<p class="input_right">Введите код сюда</p>
            <div class="backerror1">
            <input type="text" id="capture" name="capture" class="enter_capture" required >
            </div>
            <input type="checkbox" class="checkbox" checked>
            <p class="text3">Хочу получать интересные новости и предложения от <a href="" class="babyfun">BabyFun.ru</a></p>
            <input type="submit" id="button7" value="Отправить">
            <a href="#" class="button6 one">Отмена</a>
            </form>
        </div> 
<!-- END OVERLAY2 -->
	<!-- FOOTER -->
	<footer>
		<p>© 2010 - 2015 Фотограф Сергей Нилов.<br> Все права защищены.
Разработано NSUphoto</p>
	</footer>
	</div>
	<!-- END FOOTER -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/mobilyslider.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/validator.js"></script>
<script src="js/script.js"></script>
</body>
</html>