<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Заголовок</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- MAIN SLIDER -->
	<div class="main_bg clearfix">
		<div class="main_screen_wrapper">
			<div class="main_screen_block">
				<h1>Вам нужен интернет-магазин, но вы не хотите<br>
					платить студиям <span>от 100 000 рублей</span> <br>
					за разработку?</h1>
				<a href="#" class="button_m">Сделайте его сами</a>
			</div>
		</div>
	</div>
<!-- END MAIN SLIDER -->
<!-- THREE WAYS -->
	<div class="th_wayes">
		<div class="main_container clearfix">
			<div class="main_h1">3 СПОСОБА СОЗДАТЬ ИНТЕРНЕТ-МАГАЗИН СВОИМИ СИЛАМИ</div>
			<div class="main_h2">Первое, с чем вы должны определиться — каким путем вы хотите создавать интернет-магазин? Есть три основных способа:</div>
			<div class="wayes_wrap clearfix">
				<div class="wayes_block">
					<img src="images/three_ways_img1.jpg" alt="Alt">
					<div class="title">Спрограммировать все самому</div>
					<a href="#" class="button_m">Подробнее</a>
				</div>
				<div class="wayes_block">
					<img src="images/three_ways_img2.jpg" alt="Alt">
					<div class="title">Использовать готовый движок</div>
					<a href="#" class="button_m">Подробнее</a>
				</div>
				<div class="wayes_block">
					<img src="images/three_ways_img3.jpg" alt="Alt">
					<div class="title">Воспользоваться SAAS-сервисом</div>
					<a href="#" class="button_m">Подробнее</a>
				</div>
			</div>
			<div class="main_h2">У каждого из этих способов есть свои плюсы и минусы. </div>
		</div>
	</div>
<!-- END THREE WAYS -->
<!-- ONE WAY -->
	<div class="grey_bg">
		<div class="main_container clearfix">
			<div class="l_side">
				<img src="images/one_way_img.png" alt="Alt">
			</div>
			<div class="col_six">
				<div class="main_h1_secondary">КАКОЙ ЖЕ ПУТЬ ВЫБРАТЬ?</div>
				<p class="main_text">Все три пути имеют право на существование и подходят для разных ситуаций. Первый путь — самый сложный и долгий, второй путь — средний, третий путь — самый легкий, быстрый и современный. Взвесьте все «за» и «против», хорошенько подумайте и примите решение.</p>
				<p class="main_text">Дальше мы с вами будем говорить только о третьем варианте, потому как он самый перспективный, современный и наиболее простой из трех.</p>

			</div>
		</div>
	</div>
<!-- END ONE WAY -->
<!-- INTRODUCE -->
	<div class="introduce_wrap">
		<div class="main_container clearfix">
			<div class="l_side">
				<div class="main_h1_secondary">ДАВАЙТЕ ЗНАКОМИТЬСЯ</div>
				<p class="main_text">Я владелец таких проектов как «Фотошоп-мастер», «Фото-монстр», «Хостинг-ниндзя», «Жизнь в стиле Кайдзен», автор блога evgeniypopov.com, общая дневная посещаемость которых превышает 100 000 человек. В команде сейчас работает более 15 человек.</p>
				<p class="main_text">С 2006 года специализируюсь на технических вопросах ведения бизнеса в сети интернет. За это время записал 1500+ обучающих видеоуроков по этому направлению, в том числе, курсы по PHP, MySQL, JavaScript. Имею высшее техническое образование.</p>
				<p class="main_text">В последнее время плотно занимаюсь темой интернет-магазинов.</p>
			</div>
			<div class="r_side">
				<img src="images/men.png" alt="Alt">
			</div>
			<div class="clearfix"></div>
			<div class="shadow"></div>
		</div>
	</div>
<!-- END INTRODUCE -->
<!-- I BECOME -->
	<div class="become_wrap">
		<div class="main_container clearfix">
			<div class="main_h1">КАК Я ПРИШЕЛ К ТЕМЕ ИНТЕРНЕТ-МАГАЗИНОВ?</div>
			<p class="main_text">Раз уж я специализируюсь на технических вопросах интернет-бизнеса, то неизбежно получаю по этому поводу много вопросов, идей, предложений, заявок на уроки. И вот когда начался бум интернет-магазинов, меня стали одолевать просьбами записать курс на эту тему.</p>
			<p class="main_text">Но тогда я интернет-магазинами практически не занимался, поэтому вышел на своих знакомых из Белоруссии (Андрей Кудлай и Андрей Бернацкий), которые учили создавать магазины первым вариантом (все программируем сами), и договорился с ними о совместном релизе курса «Интернет-магазин под ключ», который мы успешно запустили в продажу несколько лет назад.</p>
			<p class="main_text">Но как вы теперь понимаете, этот путь подходит далеко не всем, и поэтому в последнее время меня все чаще просили сделать курс по созданию интернет-магазина самым простым и быстрым способом.</p>
			<p class="main_text">Чтобы предложить достойное решение, я стал плотно изучать эту тему. Для начала были разобраны все плюсы и минусы двух других способов — готовые движки и SAAS-сервисы. По готовым движкам и без меня есть много информации, да и к тому же этот способ уже не такой актуальный и современный, поэтому я остановил свой выбор на SAAS.</p>
		</div>
	</div>
<!-- END I BECOME -->
<!-- PRACTICE -->
	<div class="practice_bg">
		<div class="main_container clearfix">
			<div class="main_h1">КАК Я ПРИШЕЛ К ТЕМЕ ИНТЕРНЕТ-МАГАЗИНОВ?</div>
			<div class="col_six">
				<p class="main_text">Как известно, лучший способ обучения — это практика, поэтому я решил найти лидирующий в рунете сервис для создания интернет-магазинов и для начала просто сделать на нем полноценный интернет-магазин.</p>
				<p class="main_text">Я даже попросил своего дизайнера нарисовать уникальный шаблон, чтобы проверить смогу ли я использовать не один из стандартных шаблонов, а задействовать свой уникальный дизайн.</p>
				<p class="main_text">Честно говоря, поначалу я не верил, что возможности сервиса позволят мне использовать свой дизайн. Но как оказалось — я ошибался.</p>
				<p class="main_text">Поработав несколько дней, у меня действительно получилось создать полноценный интернет-магазин со своим уникальным дизайном. Сегодня я даже буду рад вам его показать. Мой вымышленный магазин получил название: «Маленькие лидеры», а живет он по адресу <a href="#">young-leaders.ru</a></p>
			</div>
		</div>
	</div>
<!-- END PRACTICE -->
<!-- SERVICE -->
	<div class="become_wrap">
		<div class="main_container clearfix">
			<div class="main_h1">Какой SAAS-сервис я использовал для создания <br>этого магазина?</div>
			<p class="main_text">Сегодня все больше студий, веб-мастеров и простых предпринимателей делают интернет-магазины именно через SAAS-сервисы. Неудивительно, что они появляются как грибы после дождя и далеко не все из них позволяют создать действительно качественный и функциональный интернет-магазин.</p>
			<p class="main_text">Я проанализировал большое количество таких сервисов, и по совокупности факторов пришел к выводу, что лучшим решением в этой области сегодня является сервис <a href="#">InSales</a>.</p>
			<p class="main_text">Этот сервис существует с 2009 года, у них уже более 5000 клиентов, и по версиям различных профильных сайтов и рейтингов, именно <a href="#">InSales</a> является платформой №1 для создания интернет-магазинов в рунете.</p>
		</div>
	</div>
<!-- END SERVICE -->
<!-- DIGNITY -->
	<div class="dignity_bg">
		<div class="main_container clearfix">
			<div class="main_h1">Какие достоинства есть у InSales?</div>
			<div class="dignity_wrap clearfix">
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon1.png" alt="Alt"></div>
					<p>Специализируются только на интернет-магазинах</p>
					<a href="#">Подробнее</a>
				</div>
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon2.png" alt="Alt"></div>
					<p>Магазин создается за 15 секунд</p>
					<a href="#">Подробнее</a>
				</div>
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon3.png" alt="Alt"></div>
					<p>Быстрое подключение систем оплаты</p>
					<a href="#">Подробнее</a>
				</div>
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon4.png" alt="Alt"></div>
					<p>Наличие мобильной версии магазина</p>
					<a href="#">Подробнее</a>
				</div>
				<hr class="clearfix">
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon5.png" alt="Alt"></div>
					<p>Тарифы от 190 руб./мес</p>
					<a href="#">Подробнее</a>
				</div>
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon6.png" alt="Alt"></div>
					<p>Можно «прикрутить» свой дизайн</p>
					<a href="#">Подробнее</a>
				</div>
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon7.png" alt="Alt"></div>
					<p>Мощный язык шаблонов Liquid для веб-мастера</p>
					<a href="#">Подробнее</a>
				</div>
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon8.png" alt="Alt"></div>
					<p>14 (28) дней бесплатного использования</p>
					<a href="#">Подробнее</a>
				</div>
				<hr class="clearfix">
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon9.png" alt="Alt"></div>
					<p>Обширная документация по всем функциям</p>
					<a href="#">Подробнее</a>
				</div>
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon10.png" alt="Alt"></div>
					<p>Компетентная служба поддержки</p>
					<a href="#">Подробнее</a>
				</div>
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon11.png" alt="Alt"></div>
					<p>Более 140 приложений на все случаи жизни</p>
					<a href="#">Подробнее</a>
				</div>
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon12.png" alt="Alt"></div>
					<p>Продвинутая система статистики</p>
					<a href="#">Подробнее</a>
				</div>
				<hr class="clearfix">
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon13.png" alt="Alt"></div>
					<p>Богатый функционал</p>
					<a href="#">Подробнее</a>
				</div>
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon14.png" alt="Alt"></div>
					<p>Много бесплатных шаблонов</p>
					<a href="#">Подробнее</a>
				</div>
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon15.png" alt="Alt"></div>
					<p>InSales университет</p>
					<a href="#">Подробнее</a>
				</div>
				<div class="dignity_block">
					<div class="img_s"><img src="images/dignity_icon16.png" alt="Alt"></div>
					<p>Создан нашими для наших!</p>
					<a href="#">Подробнее</a>
				</div>
				<hr class="clearfix">
				<p class="main_text">Как видите, достоинств у системы очень много, не зря она занимает первые места в различных рейтингах SAAS-сервисов для создания интернет-магазинов, а ее возможностями пользуются более 5000 клиентов из разных стран мира. У InSales на данный момент есть представительства в Казахстане и Украине.</p>
				<p class="main_text">В 2015-м году сервис InSales получил премию «Золотой сайт» за лучший сайт сервиса.</p>
			</div>
		</div>
	</div>
<!-- END DIGNITY -->
<!-- LIMITATIONS -->
	<div class="limit_wrap">
		<div class="main_container clearfix">
			<div class="main_h1">А теперь о недостатках...</div>
			<div class="main_h2">Было бы неправильно только расхваливать сервис. У него есть пара недостатков, на которые я наткнулся во время реализации магазина на нем.</div>
			<div class="limit_block">
				<div class="title">Для двух страниц интернет-магазина нельзя полноценно изменить дизайн под себя</div>
				<img src="images/limit_img1.png" alt="Alt">
				<p>Когда я прикручивал свой уникальный дизайн к магазину на Insales, то столкнулся с такой странностью. Для всех страниц есть доступ к шаблону, который можно менять под себя, а вот у двух страниц: страница личного кабинета клиента и страница оформления заказа — доступа к шаблону нет.</p>
				<p>Пришлось искать обходные пути, которые позволили все-таки привести эти страницы к общему стилю.</p>
				<p>Я писал в поддержку сервиса на счет этого. Ответили: «Что такая особенность системы и доступа к шаблонам этих страниц действительно нет».</p>
			</div>
			<div class="limit_block">
				<div class="title">В документации по системе иногда попадается устаревшая информация</div>
				<img src="images/limit_img2.png" alt="Alt">
				<p>Раньше у сервиса был один админский интерфейс (версия 1.0), а недавно они его полностью переработали и сделали намного удобнее и современнее (версия 2.0). Но в справочной системе еще видимо не успели обновить все статьи, поэтому иногда попадаются варианты со скриншотами старого интерфейса. Из-за этого я, например, не сразу понял, как сделать мультиязычную версию магазина, т.к. раньше она делалась одним путем, а сейчас другим. Но в итоге я все равно быстро разобрался с этим делом без документации. Думаю, что скоро все инструкции будут обновлены.</p>
			</div>
		</div>
	</div>
<!-- END LIMITATIONS -->
<!-- EXPIERENCE -->
	<div class="expierence_bg">
		<div class="main_container clearfix">
			<div class="main_h1 main_h1_w">ПОЧЕМУ БЫ НЕ УПАКОВАТЬ НАРАБОТАННЫЙ ОПЫТ В ФОРМАТ
			КУРСА И НЕ ПЕРЕДАТЬ ЕГО ТЕМ, КТО В НЕМ НУЖДАЕТСЯ?</div>
			<p class="main_text main_text_w">По окончании своего обучения я подумал о том, что раз уж я изучил эту платформу и создал на ней полноценный магазин с уникальным дизайном, то почему бы не упаковать наработанный опыт в формат курса и не передать его тем, кто в нем нуждается.</p>
			<p class="main_text main_text_w">Кому нужен магазин для себя смогут сэкономить от 50 тыс. рублей, а тот, кто будет заниматься разработкой магазинов на заказ, сможет зарабатывать с одного заказа те же 50-100 тыс. рублей.</p>
			<p class="main_text main_text_w">Ведь именно "прикрутка" уникального дизайна не дает многим использовать SAAS-сервисы в полной мере.</p>
			<p class="main_text main_text_w">Все обучение я сделал полностью практическим. Мы начнем с базового невзрачного шаблона и сделаем из него "конфетку", используя уникальный дизайн.</p>
			<p class="main_text main_text_w">В итоге у меня получился классный курс состоящий из 103 видеоуроков, который я с радостью вам представляю. Встречайте:</p>
			<img src="images/exp_img.png" alt="Alt">
		</div>
	</div>
<!-- END EXPIERENCE -->
<!-- CHARACTERISTICS -->
	<div class="char_bg">
		<div class="main_container clearfix">
			<div class="main_h1">ХАРАКТЕРИСТИКИ КУРСА</div>
			<div class="dignity_block">
				<div class="img_s"><img src="images/char_icon1.png" alt="Alt"></div>
				<p>Количество уроков: <span>103</span></p>
			</div>
			<div class="dignity_block">
				<div class="img_s"><img src="images/char_icon2.png" alt="Alt"></div>
				<p>Месяц и год создания: <span>2015 октябрь и ноябрь</span></p>
			</div>
			<div class="dignity_block">
				<div class="img_s"><img src="images/char_icon3.png" alt="Alt"></div>
				<p>Формат меню: <span>HTML</span></p>
			</div>
			<div class="dignity_block">
				<div class="img_s"><img src="images/char_icon4.png" alt="Alt"></div>
				<p>Общий размер: <span>2,9 Гб</span></p>
			</div>
		</div>
	</div>
<!-- END CHARACTERISTICS -->
<!-- STOP -->
	<div class="stop_wrap">
		<div class="main_container clearfix">
			<div class="main_h1">ТАК, СТОП! ЕСЛИ ВСЕ ТАК ПРОСТО, ОТКУДА СТОЛЬКО УРОКОВ?</div>
			<div class="l_side">
				<img src="images/stop_img.png" alt="Alt">
			</div>
			<div class="col_six">
				<p class="main_text">Если у вас возник такой вопрос, то скорее всего вы пропустили часть «6 интересных выводов, которые я сделал, создав полноценный магазин на InSales». Дело в том, что на SAAS-сервисе (в том числе и InSales) легко и просто можно создать интернет-магазин лишь с шаблонным дизайном.</p>
				<p class="main_text">Там действительно все просто. Зарегистрировались, выбрали шаблон, привязали домен, добавили товары, настроили способы оплаты, и магазин готов! Но если вы захотите что-то поменять в таком магазине, что не предусмотрено системой настроек, то увы, у вас ничего не получится.</p>
				<p class="main_text">Если вы хотите научиться создавать на таком сервисе магазины с уникальным дизайном, то здесь уже придется потрудиться и поучиться. Но говорю сразу — это того стоит. Один раз поняв устройство шаблона и изучив базовые команды шаблонного языка Liquid, вы получаете в свои руки инструмент, который позволит вам создавать магазины практически любой сложности как в плане дизайна, так и в плане функционала.</p>

			</div>
		</div>
	</div>
<!-- END STOP -->
<!-- REASONS -->
	<div class="reasons_bg">
		<div class="main_container clearfix">
			<div class="main_h1 main_h1_w">ДВЕ ПРИЧИНЫ, ПО КОТОРЫМ НЕ СТОИТ ДЕЛАТЬ МАГАЗИН НА ШАБЛОННОМ ДИЗАЙНЕ</div>
			<div class="main_h2 main_h1_w">Действительно, а чем так плох шаблонный дизайн? Давайте разбираться!</div>
			<div class="reasons_block">
				<img src="images/reasons_img1.png" alt="Alt">
				<p class="main_text main_text_w">Если вы делаете магазин на шаблонном дизайне, то есть большая вероятность, что этот же дизайн уже используется в других интернет-магазинах, владельцы которых наивно полагают, что кроме них, выбранный шаблон никто не будет использовать. А таких магазинов могут быть и десятки, и сотни, особенно если шаблон очень красивый и популярный. От такого подхода сильно страдает репутация магазина в глазах потенциального клиента. Если владелец магазина не удосужился сделать уникальный дизайн, то это сразу выдает несерьезный подход к делу и показывает, что с этим магазином лучше не связываться.</p>
				<p class="main_text main_text_w">Но, что самое печальное — владелец такого магазина даже не подозревает сколько денег он теряет, однажды «сэкономив» на уникальном дизайне.</p>
			</div>
			<div class="reasons_block">
				<img src="images/reasons_img2.png" alt="Alt">
				<p class="main_text main_text_w">Как правило, разработчики готовых шаблонов не вкладывают в них свою душу, а просто «клепают» их по-быстрому. Особенно это касается бесплатных шаблонов. А ведь не зря есть поговорка «Встречают по одежке» — если человек, заходя на сайт вашего интернет-магазина, видит очередной бездушный шаблонный дизайн, то вероятность покупки в таком магазине резко снижается. А если приплюсовать сюда еще эффект первого впечатления, то картина становится еще более печальной.</p>
			</div>
			<div class="clearfix"></div>
			<a href="#" class="more_reasons button_m">Посмотреть наглядный пример</a>
		</div>
	</div>
<!-- END REASONS -->
<!-- BONUS TABS -->
		<div class="tabs_bg">
			<div class="main_container clearfix">
				<div class="main_h1">НО ЭТО ЕЩЕ НЕ ВСЕ, ЧТО Я ДЛЯ ВАС ПОДГОТОВИЛ!</div>
				<p class="main_text">Тема создания интернет-магазинов настолько обширная, что её можно дополнять бесконечно. Я решил, что будет здорово порадовать своих клиентов по этому курсу целым набором первоклассных бонусных материалов, поэтому курс продается в трех различных пакетах: СТАНДАРТ, VIP и PLATINUM. В максимальный пакет PLATINUM входят все 9 бонусных модулей, описание которых представлено ниже.</p>
			</div>
		</div>
		<div class="tabs_wrap">
			<div class="main_container clearfix">
				<div class="korpus">
					<input type="radio" name="odin" checked="checked" id="vkl1"/>
					<label for="vkl1">1 бонус</label>
					<input type="radio" name="odin" id="vkl2"/>
					<label for="vkl2">2 бонус</label>
					<input type="radio" name="odin" id="vkl3"/>
					<label for="vkl3">3 бонус</label>
					<input type="radio" name="odin" id="vkl4"/>
					<label for="vkl4">4 бонус</label>
					<input type="radio" name="odin" id="vkl5"/>
					<label for="vkl5">5 бонус</label>
					<input type="radio" name="odin" id="vkl6"/>
					<label for="vkl6">6 бонус</label>
					<input type="radio" name="odin" id="vkl7"/>
					<label for="vkl7">7 бонус</label>
					<input type="radio" name="odin" id="vkl8"/>
					<label for="vkl8">8 бонус</label>
					<input type="radio" name="odin" id="vkl9"/>
					<label for="vkl9">9 бонус</label>
					<div>
						<div class="divider"></div>
						<div class="l_side">
							<img src="images/tab_img.png" alt="Alt">
						</div>
						<div class="col_six">
							<div class="title">3 бонус</div>
							<div class="subtitle">ИНТЕГРАЦИЯ С СЕРВИСОМ MAILCHIMP</div>
							<p class="main_text">Тема создания интернет-магазинов настолько обширная, что её можно дополнять бесконечно. Я решил, что будет здорово порадовать своих клиентов по этому курсу целым набором первоклассных бонусных материалов, поэтому курс продается в трех различных пакетах: СТАНДАРТ, Когда у вас начнет расти клиентская база, то на каком-то этапе вы неизбежно захотите начать с ней общаться. Рассылать им полезные статьи, информацию об акциях, которые проходят в вашем магазине, о новых поступлениях и так далее. Этот прием позволяет превратить одноразовых покупателей в постоянных и лояльных клиентов.</p>
							<p class="main_text">Но проблема в том, что средствами InSales вы не можете просто так разослать всей базе клиентов email-письмо. Для этого вам надо интегрироваться с одним из сервисов email-рассылок. Но как это сделать?</p>
							<p class="main_text">Ответ вы найдете бонусной серии уроков «Интеграция с сервисом MailChimp».</p>
							<p class="main_text">До 2000 клиентов и 12 000 писем в месяц вы можете пользоваться сервис MailChimp абсолютно бесплатно.</p>
							
						</div>
						<div class="clearfix"></div>
							
							<h3>Что вы узнаете из этой серии?</h3>
							<p class="main_text">Для начала мы пройдем процесс регистрации в этом сервисе, а также установим в наш интернет-магазин специальное приложение для итеграции.</p>
							<p class="main_text">Во втором уроке мы свяжем приложение и сервис, используя специальный идентификатор и API-ключ. Плюс здесь же импортируем уже существующих в нашей базе клиентов в список рассылки MailChimp, а также укажем сервису какие товары покупали импортируемые клиенты. В будущем это позволит вам делать рассылку не сразу по всем клиентам, а то только по определенным их категориям. Также вы настроите функцию автоматического добавления новых клиентов в список рассылки сервиса.</p>
							<p class="main_text">В заключительном уроке вы узнаете, как рассылать письма по вашей клиентской базе, используя сервис MailChimp. В том числе, я покажу как можно сегментировать базу и отправить письмо, например только тем, кто потратил в вашем магазине более 50 000 рублей.VIP и PLATINUM. В максимальный пакет PLATINUM входят все 9 бонусных модулей, описание которых представлено ниже.</p>
					</div>
					<div>
						2
					</div>
					<div>
						3
					</div>
					<div>
						4
					</div>
					<div>
						5
					</div>
					<div>
						6
					</div>
					<div>
						7
					</div>
					<div>
						8
					</div>
					<div>
						9
					</div>
				</div>
			</div>
		</div>
<!-- END BONUS TABS -->
<!-- KNOWLEDGE -->
	<div class="dignity_bg">
		<div class="main_container clearfix">
		<div class="main_h1">КАК ВЫ МОЖЕТЕ ИСПОЛЬЗОВАТЬ ЭТИ ЗНАНИЯ ДЛЯ
			СВОЕГО БЛАГА?</div>
		<div class="main_h2">На самом деле есть много вариантов, но я выделяю два основных:</div>
			<div class="reasons_block">
				<img src="images/knowledge_img1.png" alt="Alt">
				<p class="main_text">После изучения курса вы сможете создавать интернет-магазины для себя и сэкономить как минимум         100 000 рублей, которые вам пришлось бы выложить при заказе подобного магазина в веб-студии. Более того, вы будете еще экономить на последующих доработках и поддержке вашего магазина в рабочем состоянии. И самое главное — ни вы, ни ваш магазин не будет зависеть от других людей. Вы его создаете, вы знаете его устройство, а значит, в любой момент сможете вносить нужные изменения и устранять выявленные недочеты.</p>
			</div>
			<div class="reasons_block">
				<img src="images/knowledge_img1.png" alt="Alt">
				<p class="main_text">Очевидно, что эти знания позволят вам создавать магазины не только для себя, но и для других людей. Сегодня все больше людей во всем мире нуждаются в интернет-магазинах и готовы платить за разработку хорошие деньги.</p>
				<p class="main_text">Кто-то хочет создать интернет-магазин для перепродажи товаров из Китая, кому-то он нужен для продажи своих работ, а кому-то в дополнение к своему офлайн-бизнесу. Интернет-магазин — это инструмент, который позволяет зарабатывать деньги, а значит, заказчики будут готовы хорошо заплатить, чтобы получить такой инструмент в свое распоряжение. Можно смело брать от 50 000 руб. за создание одного магазина.</p>
			</div>
		</div>
	</div>
<!-- END KNOWLEDGE -->
<!-- TODAY PRICES -->
	<div class="today_prices">
		<div class="main_container clearfix">
			<div class="main_h1">СКОЛЬКО СЕГОДНЯ СТОИТ СОЗДАНИЕ ИНТЕРНЕТ-МАГАЗИНА?</div>
			<div class="l-side">
				<img src="images/today_img.jpg" alt="Alt">
			</div>
			<div class="r-side">
				<p class="main_text">Создание интернет-магазинов — это уникальная сфера веб-разработки, в которой цены могут скакать от 10 000 и до бесконечности. Мне попадались случаи, когда за разработку магазинов заказчики платили до 10 000 000 руб</p>
				<p class="main_text">Все зависит от сложности проекта, аппетитов исполнителей, запросов заказчика и многих других факторов.</p>
				<p class="main_text">Вот лишь несколько примеров, рекламных объявлений, которые говорят сами за себя:</p>
				<p class="main_text">Разброс цен поражает. Как видите, умение своими силами создавать качественные интернет-магазины позволит вам не только сэкономить при создании своего магазина, но и даст возможность зарабатывать хорошие деньги, если вы решите создавать магазины для других.</p>
				<p class="main_text">Для примера, магазин «Маленькие лидеры», который вы видели выше, можно создать примерно за неделю. За создание такого магазина можно смело брать от 50 000 рублей, и вам еще спасибо скажут за такую низкую цену.</p>
			</div>
		</div>
	</div>
<!-- END TODAY PRICES -->
<!-- OUR PRICES -->
	<div class="our_prices_bg">
		<div class="main_container clearfix">
			<div class="col_our">
				<div class="title">СКОЛЬКО СТОИТ КУРС «БЫСТРОЕ СОЗДАНИЕ ИНТЕРНЕТ-МАГАЗИНОВ  НА ПЛАТФОРМЕ INSALES»?</div>
				<p class="main_text">Чтобы создать для вас этот курс, понадобилось довольно много времени, которое было потрачено сначала на изучение платформы и создание тестового магазина, а затем на запись более 100 уроков, в которых я постарался объяснить весь процесс максимально детально и простым языком.</p>
				<p class="main_text">Я очень доволен тем, каким курс получился в итоге. На данный момент — это лучший мой курс по многим параметрам.</p>
				<p class="main_text">Раз этот курс помогает сэкономить минимум 50 000 рублей, а в перспективе позволит зарабатывать по 100 000 и более рублей в месяц, то вы вероятно ожидаете, что цена на него будет в этих же пределах. Но спешу вас обрадовать, курс стоит менее 1/10 части от тех 50 000, за которые сегодня можно заказать средненький интернет-магазин.</p>
				<p class="main_text">Цена пакета СТАНДАРТ составляет всего рублей.</p>
			</div>
		</div>
	</div>
<!-- END OUR PRICES -->
<!-- OUR PACKET -->
	<div class="our_packet_bg">
		<div class="main_container clearfix">
			<div class="main_h1 main_h1_w">Наш пакет</div>
			<div class="col_six">
				<div class="our_packet_block">
					<div class="our_packet_inside">
						<div class="title">СТАНДАРТ</div>
						<p>Чтобы создать для вас этот курс, понадобилось довольно много времени, которое было потрачено сначала на изучение платформы и создание тестового магазина, а затем на запись более 100 уроков, в которых я постарался объяснить весь процесс максимально детально и простым языком.</p>
						<span>2 990 руб.</span>
						<a href="#" class="button_m">Купить</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END OUR PACKET -->
<!-- PAY -->
	<div class="pay_wrap">
		<div class="main_container clearfix">
			<div class="main_h1">ДОСТУПНЫЕ СПОСОБЫ ОПЛАТЫ</div>
			<p class="main_text">На почте при получении (для физ. версии на флеш-накопителе).</p>
			<img src="images/pay_img1.png" alt="Alt">
			<img src="images/pay_img2.png" alt="Alt">
			<p class="main_text">Безнал. расчёт для ИП и юр. лиц (только РФ)</p>
			<p class="main_text">По квитанции через любой банк (только РФ)</p>
		</div>
	</div>
<!-- END PAY -->
<!-- DELIVERY -->
	<div class="delivery_bg">
		<div class="main_container clearfix">
			<div class="main_h1">ДОСТУПНЫЕ СПОСОБЫ ДОСТАВКИ</div>
			<div class="col_six">
				<div class="title">СКАЧАТЬ КУРС С НАШЕГО СЕРВЕРА</div>
				<p class="main_text">Вы можете заказать курс в электронном виде и сразу после оплаты скачать его с нашего быстрого сервера.</p>
				<div class="subtitle">Стоимость доставки: 0 руб.</div>
				<hr>
				<div class="title">ПОЛУЧИТЬ КУРС НА ФЛЕШКЕ ПО ПОЧТЕ</div>
				<p class="main_text">При оформлении заказа вы можете выбрать вариант «На флешке». В этом случае курс будет записан на флеш-носитель и отправлен вам почтой.</p>
				<div class="subtitle">Стоимость доставки: от 150 руб (зависит от перевозчика)</div>
				<div class="subtitle">Стоимость флешки: 99 руб.</div>

			</div>
		</div>
	</div>
<!-- ENB DELIVERY -->
<!-- ANSWERS -->
	<div class="aswers_wrap">
		<div class="main_container clearfix">
			<div class="main_h1">ОТВЕТЫ НА ЧАСТЫЕ ВОПРОСЫ</div>
			<div class="l_side">
				<img src="images/anwers_img.jpg" alt="Alt">
			</div>
			<div class="col_six">
				<p class="main_text"><a href="#">Не опасно ли создавать интернет-магазин с помощью SAAS-сервиса? А вдруг он исчезнет, и тогда я потеряю свой магазин?</a></p>
				<hr>
				<p class="main_text"><a href="#">Не опасно ли создавать интернет-магазин с помощью SAAS-сервиса? А вдруг он исчезнет, и тогда я потеряю свой магазин?</a></p>
				<p class="main_text">Признаться честно, раньше я и сам так думал, поэтому долгое время сторонился SAAS-сервисов, думая, что эти конструкторы для тех, кто совершенно ничего не понимает в веб-технологиях.</p>
				<p class="main_text">Но когда я все-таки взялся за изучение лидирующего SAAS-сервиса для создания интернет-магазинов InSales, я был приятно удивлен теми возможностями, которые даются в рамках сервиса для тонкой доработки магазина. Во-первых, у нас есть доступ к исходному коду практически любой страницы магазина, во-вторых мы можем загружать в систему свои файлы, в том числе: скрипты и таблицы стилей. В-третьих, благодаря использованию шаблонизатора и такого языка как Liquid, мы получаем в свое распоряжение огромное количество переменных и объектов, через которые можем выводить на страницах сайта разную информацию из базы, и более того — мы можем использовать условия, циклы и многие другие конструкции.</p>
				<hr>
				<p class="main_text"><a href="#">Здравствуйте, позволяет ли система InSales сделать доменное имя с расширением .ua или .com.ua или .com?</a></p>
				<hr>
				<p class="main_text"><a href="#">Здравствуйте! Подскажите, в течение какого времени возможна оплата отложенного заказа и сохранится ли на него скидка, если скрок распродажи окончен.</a></p>
				<hr>
				<p class="main_text"><a href="#">Здравствуйте! Я оплатил заказ, но не получил ссылки на закачку, где их взять?</a></p>
			</div>
		</div>
	</div>
<!-- END ANSWERS -->
<!-- STATISTIKS -->
	<div class="dignity_bg">
		<div class="main_container clearfix">
			<div class="main_h1">ИНТЕРЕСНАЯ СТАТИСТИКА</div>
			<div class="col_d1">
				<p class="main_text">По данным аналитиков InSales общий объем рынка интернет торговли в 2014 году составил 612 млрд рублей, рост по отношению к прошлому году составил 31%. В ближайшие годы они ожидают продолжения роста интернет-торговли темпами 25-35% в год. По прогнозам в 2016 году объём рынка интернет-торговли достигнет 1 трлн. рублей.</p>
			</div>
			<div class="col_d2">
				<img src="images/stat_img1.jpg" alt="Alt">
			</div>
			<div class="col_d1">
				<img src="images/stat_img2.png" alt="Alt">
			</div>
			<div class="col_d2">
				<p class="main_text">Как видно из графика, денег на рынке интернет-торговли становится все больше и больше, поэтому чем раньше запрыгнуть в этот поезд, тем больше выгод можно из него извлечь.</p>
				<p class="main_text">А вот другой график, который показывает сколько денег сосредоточено в разных товарных категориях:</p>
			</div>
			<div class="col_d1">
				<p class="main_text">А теперь предлагаю взглянуть на то ,как растет количество интернет-магазинов в рунете год от года. В каждый из этих магазинов вкладывается от 50 000 руб. и более. В Рунете на данный момент присутствует порядка 100 тысяч сайтов, на которых есть раздел «Корзина». Однако реально работающих интернет-магазинов (в магазине совершаются заказы) в 2014 году было около 43 тысяч.</p>
			</div>
			<div class="col_d2">
				<img src="images/stat_img3.png" alt="Alt">
			</div>
		</div>
	</div>
<!-- END STATISTIKS -->
<!-- ELEMENTS -->
	<div class="elements_wrap">
		<div class="main_container clearfix">
			<div class="main_h1">ИНТЕРЕСНАЯ СТАТИСТИКА</div>
			<div class="elements_block">
				<div class="img_s"><img src="images/elements_img1.png" alt="Alt"></div>
				<p>Компьютер с разрешением экрана не ниже 1280px по ширине (лучше 1440px)</p>
			</div>
			<div class="elements_block">
				<div class="img_s"><img src="images/elements_img2.png" alt="Alt"></div>
				<p>Программа Adobe Photoshop и базовые знания по работе с ней. </p>
			</div>
			<div class="elements_block">
				<div class="img_s"><img src="images/elements_img3.png" alt="Alt"></div>
				<p>Базовые знания HTML и CSS. </p>
			</div>
			<div class="elements_block">
				<div class="img_s"><img src="images/elements_img4.png" alt="Alt"></div>
				<p>Браузер Google Chrome (или любой другой современный браузер).</p>
			</div>
			<div class="elements_block">
				<div class="img_s"><img src="images/elements_img5.png" alt="Alt"></div>
				<p>Неудержимое желание научиться создавать классные интернет-магазины.</p>
			</div>
		</div>
	</div>
<!-- END ELEMENTS -->
<!-- PORTFOLIO -->
	<div class="portfolio_bg">
		<div class="main_container clearfix">
			<div class="main_h1">КАКИЕ МАГАЗИНЫ СДЕЛАНЫ НА INSALES?</div>
			<div class="portfolio_wrap clearfix">
				<div class="portfolio_block">
					<img src="images/portfolio_img1.jpg" alt="Alt">
					<div class="title">torty.ru</div>
				</div>
				<div class="portfolio_block">
					<img src="images/portfolio_img2.jpg" alt="Alt">
					<div class="title">dreambikes.ru</div>
				</div>
				<div class="portfolio_block">
					<img src="images/portfolio_img3.jpg" alt="Alt">
					<div class="title">italianadom.ru</div>
				</div>
				<div class="portfolio_block">
					<img src="images/portfolio_img4.jpg" alt="Alt">
					<div class="title">sweethelp.ru</div>
				</div>
				<div class="portfolio_block">
					<img src="images/portfolio_img5.jpg" alt="Alt">
					<div class="title">gopro.ru</div>
				</div>
				<div class="portfolio_block">
					<img src="images/portfolio_img6.jpg" alt="Alt">
					<div class="title">ohimo.ru</div>
				</div>
			</div>
		</div>
	</div>
<!-- END PORTFOLIO -->
<!-- MOTIVATION -->
	<div class="dem_bg">
		<div class="main_container clearfix">
			<div class="main_h1 main_h1_w">Действительно, а чем так плох шаблонный дизайн? Давайте разбираться!</div>
			<div class="col_six">
				<p class="main_text main_text_w">Я занимаюсь продажей обучающих курсов с 2006 года и кое-что в этом понимаю. Мне прекрасно известно, что у вас есть некоторые сомнения относительно того, подойдет ли вам этот курс и сможете ли вы его освоить.</p>
				<p class="main_text main_text_w">Поэтому на все свои инфопродукты, и в том числе на этот курс, я даю полную гарантию возврата денег на тот случай, если курс вам не подойдет.</p>
				<p class="main_text main_text_w">Примерно 2 человека из 100 пользуются нашей гарантией, и мы честно возвращаем им деньги, потому что ситуации бывают самые разные, и вы должны быть уверены, что в любой момент сможете вернуть свои деньги.</p>
				<p class="main_text main_text_w">Чтобы воспользоваться гарантией, вам надо будет в течение 90 дней с момента получения заказа написать мне на e-mail: support@evgeniypopov.ru и попросить возврат денег. Без лишних вопросов мы вернем вам всю сумму до последней копейки.</p>
				<p class="main_text main_text_w">Евгений Попов.</p>

			</div>
		</div>
	</div>
<!-- END MOTIVATION -->
<!-- ORDER -->
	<div class="become_wrap">
		<div class="main_container clearfix">
			<div class="main_h1">НЕ ПОНИМАЕТЕ ЧТО ТАКОЕ ИНФОБИЗНЕС?</div>
			<div class="main_h2">Ниже вы можете бесплатно получить 15 базовых уроков</div>
			<p class="main_text">15 видеоуроков о том, как даже новичок может выйти на уровень дохода в 300 000 руб. в месяц через полгода работы</p>
			<a href="#" class="order button_m">Заказать</a>
		</div>
	</div>
<!-- END ORDER -->
<!-- FOOTER -->
	<div class="footer_bg">
		<div class="main_container clearfix">
			<p>© ИП Попов Евгений Михайлович, 2016, ОГРН 307026509900013. <br>Использование текстов и изображений с данной страницы без<br> письменного разрешения Евгения Попова запрещено.</p>
			<p>По вопросам заказа и оплаты курса звоните: 8-800-333-0-337<br>	
			с 7:00 до 15:00 в ПН-ПТ, в СБ с 7:00 до 13:00, ВС - выходной.<br>
			Политика конфиденциальности | Партнерская программа</p>
		</div>
	</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="main_h1">Заказать курс</div>
		<p class="main_text">15 видеоуроков о том, как даже новичок может выйти на уровень дохода в 300 000 руб. в месяц через полгода работы</p>
		<form id="form1">
			<input type="text" name="name" placeholder="Ваше имя:" class="modal_input" required>
			<input type="text" name="phone" placeholder="Ваш  телефон:" class="modal_input" required>
			<input type="submit" value="Забрать курс бесплатно" class="modal_submit">
		</form>
    </div> 
<!-- END MODAL1 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>