<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Locomotion</title>
 	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
	<div class="main_container clearfix">
		<header>
			<a href=""><img src="images/logo.png" alt="Locomotion" class="logo"></a>
			<div class="menu_bg">
				<ul id="nav">
					<li id="selected"><a href="#">О нас</a></li>
					<li><a href="#">Форум</a></li>
				</ul>
			</div>
		</header>
	</div>
<!-- END HEADER -->
	<div class="bigPicFullBlock">   
	  <img src="images/1.png" alt="" />
	</div>

<div class="main_container clearfix">
	<h1 class="main_title_page">Мои<br> курсы</h1>
    <div class="clearfix"></div>
<!-- MENU -->
	<div class="mini-menu">
    <ul>
        <li class="sub">
            <a href="#">Профиль</a>
        </li>
        <li class="sub">
            <a href="#" class="active">Финансы</a>
            <ul style="height: 140px;">
               <li><a href="#">Все операции</a></li>
               <li><a href="#">Пополнить баланс</a></li>
               <li><a href="#">Перевод средств</a></li>
               <li><a href="#">Вывод средств</a></li>
            </ul>
        </li>
        <li class="sub">
            <a href="#">Мое обучение</a>
        </li>
        <li class="sub">
            <a href="#">Партнерская программа</a>
        </li>
        <li class="sub">
            <a href="#">Моя команда</a>
        </li>
        <li class="sub">
            <a href="#">Мои инструменты</a>
        </li>
         <li class="sub">
            <a href="#">Чат</a>
        </li>
    </ul>
</div>
<!-- END MENU -->
<!-- RIGHTSIDE -->
    <div class="rightside_wrap">
        <div class="circles_block">
            <img src="images/circle1.png" alt="Locomotion">
            <div class="circle_title">MLM TV</div>
            <p>12 000 руб.</p>
            <a href="#">Aктивировать</a>
        </div>
        <div class="circles_block">
            <img src="images/circle2.png" alt="Locomotion">
            <div class="circle_title">Adobe Effects</div>
            <p>1 200 руб.</p>
            <a href="#">Aктивировать</a>
        </div>
        <div class="circles_block">
            <img src="images/circle3.png" alt="Locomotion">
            <div class="circle_title">KINOPARK</div>
            <p>3 200 руб.</p>
            <a href="#">Aктивировать</a>
        </div>
        <div class="clearfix"></div>
        <div class="circles_block active">
            <img src="images/circle4.png" alt="Locomotion">
            <div class="circle_title">Photoshop</div>
            <span>от чайника до профи</span>
            <p>2 200 руб.</p>
            <a href="#">Aктивировано</a>
        </div>
    <div class="panda_block clearfix">
        <div class="p_left">
            <p>Тот, кто не желает учиться, — никогда не станет настоящим человеком.</p>
            <span>Хосе Хулиан Марти</span>
        </div>
        <div class="p_right">
            <p>Ваш баланс:<br>   
            3, 450 руб.</p>
            <a href="#">Пополнить</a>
        </div>
    </div>
    </div>
</div>
<!-- END RIGHTSIDE -->
<div class="clearfix"></div>
<!-- FOOTER -->
<div class="footer_bg clearfix">
    <div class="main_container clearfix pln">
    <div class="copyright">&copy;locomotion</div>
    <img src="images/PAYEER.png" alt="Locomotion">
    <div class="clearfix"></div>
    <div class="social_wrap">
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </div>
    </div>
</div>
<!-- END FOOTER -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script src="js/jquery.spasticNav.js"></script>
<script src="js/script.js"></script>
  </body>
</html>