<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Locomotion</title>
 	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
</head>
<body class="matrix_body">
<!-- HEADER -->
	<header>
		<div class="matrix_container clearfix">
			<div class="header_left_text">
			<h1>Motorally</h1>
			<p>living in victory</p>
			</div>
			<img src="images/matrix_logo.png" alt="Locomotion" class="logo_matrix">
			<div class="t_login"><a href="#">вход»</a><a href="#">регистрация»</a></div>
		</div>
	</header>
<!-- END HEADER -->
<!-- MATRIX -->
<div class="matrix_wrapper mt_wrapper">
	<div class="matrix_container clearfix myteam">
		<div class="moto_menu_bg">
			<nav>
				<li><a href="#">ГЛАВНАЯ</a></li>
				<li><a href="#">О КОМПАНИИ</a></li>
				<li><a href="#">СТРАХОВКА</a></li>
				<li><a href="#">Интернет-магазин</a></li>
				<li><a href="#">НОВОСТИ</a></li>
				<li><a href="#">ОТЗЫВЫ</a></li>
				<li><a href="#">КОНТАКТЫ</a></li>
			</nav>
		</div>
		<div class="tarrif_moto_block">
			<div class="tarrif_moto_title">Тариф мотоцикл</div>
			<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit</p>
			<a href="#">подробнее»</a>
		</div>
	</div>
</div>
<!-- END MATRIX -->
<!-- FOOTER -->
<div class="matrix_footer_bg tarrif_f">
	<footer>
		<div class="matrix_container clearfix myteam">
			<div class="v_block">
				<iframe width="558" height="312" src="https://www.youtube.com/embed/5EjG-1U3wqA" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="v_block1">
				<div class="v_block1_title">КАК мы  ПОМОЖЕм вам
				ЗАРАБАТЫВАТЬ ПО
				настоящему</div>
				<p>Мы подготовили ролик, в котором 
					рассказали принципах работы и 
					конечно же прибыли.</p>
				<a href="">Регистрация</a>
				<span>регистрируйся и<br> зарабатывай!</span>
			</div>
			<div class="clearfix"></div>
			<ul>
				<li><a href="#">Главная</a></li>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Услуги и тарифы</a></li>
			</ul>
		</div>
	</footer>
</div>
<!-- END FOOTER -->
<script src="js/jquery-2.1.3.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script src="js/jquery.spasticNav.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
</body>
</html>