<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Наши контакты</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
</head>
<body>
<div class="conf_wrap">		
<div class="title">Наши контакты</div>
<p><span>ИНН</span>182102811809</p>

<p><span>ОГРН №</span> 315230100019078</p>

<p><span>ИП</span> Лущиков Вадим Анатольевич</p>

<p>По всем вопросам писать на email: <a href="mailto:denis.consultant@yandex.ru">denis.consultant@yandex.ru</a> служба поддержки ответит вам в течении 48часов.</p>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/script.js"></script>
  </body>
</html>