<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>ЛОТОС</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div class="main_slider_bg">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="logo">
							<img src="images/logo.png" alt="Alt">
							<div class="title_logo">ЛОТОС</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-4 col-xs-12">
						<h1>Изготовление памятников<br> из гранита и мрамора</h1>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="call_us">
							<div class="phone">8 800 505-55-55</div>
							<a href="#" class="call_button button">Заказать звонок</a>
						</div>
					</div>
				</div>
			</div>
		</header>
<!-- END HEADER -->
<!-- MAIN SLIDER -->
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-md-offset-1 col-sm-6 col-xs-12" >
					<div class="main_slider_title">
						<p>Не знаете у кого заказать памятник?</p>
						<span>Закажите у нас!</span>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="form_bg">
						<form id="form1">
							<div class="form_title">Оставьте ваши данные и менеджер перезвонит вам</div>
							<input type="text" name="name" placeholder="Ваше имя:" class="main_input"  required>
							<input type="text" name="phone" placeholder="Ваш телефон:" class="main_input">
							<input type="submit" class="main_submit button2" value="Заказать звонок">
							<input type="hidden" name="formData" value="Заявка с сайта">
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="adversting_block clearfix">
						<img src="images/adversting_icon1.png" alt="Alt">
						<div class="adversting_text">
							<div class="title">Быстро</div>
							<p>Работа выполняется строго в оговоренный с вами срок</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="adversting_block clearfix">
						<img src="images/adversting_icon2.png" alt="Alt">
						<div class="adversting_text">
							<div class="title">Качественно</div>
							<p>Мы работаем уже более 10-ти лет, и мы гордимся своим качеством работы</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="adversting_block clearfix">
						<img src="images/adversting_icon3.png" alt="Alt">
						<div class="adversting_text">
							<div class="title">Недорого</div>
							<p>Мы подстраиваемся индивидуально под клиента, так, что бы каждый мог позволить себе эту услугу</p>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- END MAIN SLIDER -->
	</div>
<div class="clearfix"></div>
<!-- ZAKAZ FORM -->
	<div class="zakaz_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-12 col-xs-12">
					<div class="zakaz_wrap">
						<div class="zakaz__title">Считаете что это дорого?<span>Но это не так!</span></div>
						<div class="zakaz__subtitle">Мы подстраиваемся индивидуально под клиента так, что бы каждый мог позволить себе эту услугу</div>
						<div class="zakaz_form_bg">
							<form id="form2"">
								<div class="form_title">Рассчитать ваш заказ:</div>
								<input type="text" name="name" placeholder="Ваше имя:" class="main_input"  required>
								<input type="text" name="phone" placeholder="Ваш телефон:" class="main_input">
								<input type="submit" class="main_submit button2" value="расчитать">
								<input type="hidden" name="formData" value="Заявка с сайта">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END ZAKAZ FORM -->
<!-- ADVANTAGES -->
	<div class="advantages_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 animation_4">
					<div class="h1_white">Присутствует гарантия качества !</div>
					<div class="h2_white">Работа выполняется качественно</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="circle_block">
						<img src="images/circle_img1.png" alt="Alt" class="animation_2">
						<p>Над вашим заказом будет работать<br> <span>опытная бригада,</span> знающая свое дело</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="circle_block">
						<img src="images/circle_img2.png" alt="Alt" class="animation_1">
						<p>Работа выполняется строго в<br> <span>оговоренный срок</span></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="circle_block">
						<img src="images/circle_im3.png" alt="Alt" class="animation_3">
						<p>Присутствует <span>гарантия</span><br> на камень 2 года!</span></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form_advantages">
						<form id="form3">
								<div class="form_title">Рассчитать ваш заказ:</div>
								<input type="text" name="name" placeholder="Ваше имя:" class="main_input"  required>
								<input type="text" name="phone" placeholder="Ваш телефон:" class="main_input">
								<input type="submit" class="main_submit" value="расчитать">
								<input type="hidden" name="formData" value="Заявка с сайта">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END ADVANTAGES -->
<!-- REVIEWS -->
	<div class="reviews_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 animation_4">
					<div class="h1_black plan_title cus_m">Отзывы тех кто уже работал с нами</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-12">
					<div class="review_img">
						<img src="images/review_img1.jpg" alt="Alt">
						<div class="review_name">Михаил</div>
					</div>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<img src="images/quote_icon.png" alt="Alt" class="qpl">
					<div class="review_text">Искал у кого можно заказать памятник, так что бы не совсем дорого было, и тут наткнулся на эту фирму, оставил заявку и в течении полу часа позвонила девушка. Мы встретились и все индивидуально подобрали по цене. Вышло не очень дорого, работа выполнена качественна и на ура. Приятно с вами работать! Спасибо вам.</div>
					<img src="images/quote_2.png" alt="Alt" class="rotate_quote qpl">
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<hr class="dnm">
		<div class="container dnm">
			<div class="row">
				<div class="col-md-10 col-sm-10 col-xs-12">
					<img src="images/quote_icon.png" alt="Alt" class="qpl">
					<div class="review_text">Спасибо огромное вашей организации. Выполненной работой остались довольны.Уважительное отношение к клиентам,качественное обслуживание.Полностью проинформировали по стоимости сразу по телефону,уточнили все нюансы,предложили возможные варианты,подходящие именно к нашему случаю.Предложили уход за памятником,так как сами мы из другого города.</div>
					<img src="images/quote_2.png" alt="Alt" class="rotate_quote qpl">
				</div>
				<div class="col-md-2 col-sm-2 col-xs-12">
					<div class="review_img">
						<img src="images/review_img2.jpg" alt="Alt">
						<div class="review_name">Кристина</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2">
					<div class="review_img">
						<img src="images/review_img3.jpg" alt="Alt">
						<div class="review_name">Александр</div>
					</div>
				</div>
				<div class="col-md-10 col-sm-10">
					<img src="images/quote_icon.png" alt="Alt" class="qpl">
					<div class="review_text">Заказывал памятник, сделали быстро, качественно и в срок. Работой очень доволен. Нужны еще 2 памятника буду заказывать здесь же!</div>
					<img src="images/quote_2.png" alt="Alt" class="rotate_quote qpl">
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<hr class="dnm">
		<div class="container dnm">
			<div class="row">
				<div class="col-md-10 col-sm-10 ">
					<img src="images/quote_icon.png" alt="Alt" class="qpl">
					<div class="review_text">Искала где заказать памятник,вариантов было море,но свой выбор я сделала в пользу этого сайта.И оказалась права! Индивидуальный подход к каждому клиенту,гибкая система скидок,работа выполнена в срок!Очень осталась довольна! Спасибо ВАМ!</div>
					<img src="images/quote_2.png" alt="Alt" class="rotate_quote qpl">
				</div>
				<div class="col-md-2 col-sm-2">
					<div class="review_img">
						<img src="images/review_img4.jpg" alt="Alt">
						<div class="review_name">Мария</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form_advantages">
						<form id="form4">
								<div class="form_title">Заказать бесплатный звонок:</div>
								<input type="text" name="name" placeholder="Ваше имя:" class="main_input" required>
								<input type="text" name="phone" placeholder="Ваш телефон:" class="main_input">
								<input type="submit" class="main_submit" value="расчитать">
								<input type="hidden" name="formData" value="Заявка с сайта">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

	</div>
<!-- END REVIEWS -->
<!-- ITEMS -->
	<div class="items_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 animation_4">
					<div class="h1_white">У нас широкий ассортимент выбора</div>
					<div class="h2_white">Различные площадки с взаимодействием мрамора и гранита</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="bxslider">
					 	<li>
						   	<a href="images/slider_img1_big.jpg" class="fancybox">
							<img src="images/slider_img1.jpg" /></a>
							<a href="images/slider_img2_big.jpg" class="fancybox dpn">
							<img src="images/slider_img2.jpg" /></a>
							<a href="images/slider_img3_big.jpg" class="fancybox dpn">
							<img src="images/slider_img3.jpg" /></a>
						</li>
						<li>
						   	<a href="images/slider_img4_big.jpg" class="fancybox dpn">
							<img src="images/slider_img4.jpg" /></a>
							<a href="images/slider_img5_big.jpg" class="fancybox dpn">
							<img src="images/slider_img5.jpg" /></a>
							<a href="images/slider_img2_big.jpg" class="fancybox">
							<img src="images/slider_img2.jpg" /></a>
						</li>
						<li> 
						   	<a href="images/slider_img1_big.jpg" class="fancybox dpn">
							<img src="images/slider_img1.jpg" /></a>
							<a href="images/slider_img2_big.jpg" class="fancybox dpn">
							<img src="images/slider_img2.jpg" /></a>
							<a href="images/slider_img3_big.jpg" class="fancybox">
							<img src="images/slider_img3.jpg" /></a>
						</li>
						<li>
						   	<a href="images/slider_img4_big.jpg" class="fancybox">
							<img src="images/slider_img4.jpg" /></a>
							<a href="images/slider_img5_big.jpg" class="fancybox dpn">
							<img src="images/slider_img5.jpg" /></a>
							<a href="images/slider_img2_big.jpg" class="fancybox dpn">
							<img src="images/slider_img2.jpg" /></a>
						</li>
						<li>
						   	<a href="images/slider_img4_big.jpg" class="fancybox">
							<img src="images/slider_img4.jpg" /></a>
							<a href="images/slider_img5_big.jpg" class="fancybox dpn">
							<img src="images/slider_img5.jpg" /></a>
							<a href="images/slider_img2_big.jpg" class="fancybox dpn">
							<img src="images/slider_img2.jpg" /></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form_advantages">
						<form id="form5">
								<div class="form_title">Посчитать ваш заказ индивидуально:</div>
								<input type="text" name="name" placeholder="Ваше имя:" class="main_input"  required>
								<input type="text" name="phone" placeholder="Ваш телефон:" class="main_input">
								<input type="submit" class="main_submit" value="расчитать">
								<input type="hidden" name="formData" value="Заявка с сайта">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END ITEMS -->
<!-- CONTACT US -->
	<div class="reviews_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 animation_4">
					<div class="h1_black">Оставь свои контакты и получи от нас подарок!</div>
					<div class="h2_black"><span>Получи скидку 20%</span> на комплект памятника из гранита!</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7 col-sm-6">
					<img src="images/present.jpg" alt="Alt" class="present">
				</div>
				<div class="col-md-4 col-md-offset-1 col-sm-6">
					<div class="form_bg bottom_form">
						<form id="form7">
							<div class="form_title">Оставьте ваши данные и менеджер перезвонит вам</div>
							<input type="text" name="name" placeholder="Ваше имя:" class="main_input"  required>
							<input type="text" name="phone" placeholder="Ваш телефон:" class="main_input">
							<input type="submit" class="main_submit" value="Заказать звонок">
							<input type="hidden" name="formData" value="Заявка с сайта">
						</form>
						<p class="complect">По акции осталось 4 комплекта</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END CONTACT US -->
<!-- FOOTER -->
	<div class="footer_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="logo">
						<img src="images/logo.png" alt="Alt">
						<div class="title_logo">ЛОТОС</div>
					</div>
				</div>
				<div class="col-md-2 col-md-offset-1 col-sm-2 col-xs-12">
					<a href="contacts.html" class="footer_link" target="_blank">Наши контакты</a>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					<a href="politics.html" class="footer_link" target="_blank">Политика конфиденциальности</a>
				</div>
				<div class="col-md-3 col-sm-2 col-xs-12">
					<div class="call_us">
						<div class="phone">8 800 505-55-55</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<div class="copyright">©2016 Лотос.  Все права защищены</div>
				</div>
			</div>
		</div>
	</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<form id="form6">
			<div class="modal_h1">Напишите ваше имя и ваш<br> номер телефона и менеджер<br>  с вами свяжется</div>
			<input type="text" name="name" placeholder="Ваше имя" class="input_modal" required>
			<input type="text" name="phone" placeholder="Ваш номер телефона" class="input_modal" required>
			<input type="submit" value="Заказать звонок" class="submit_modal">
			<input type="hidden" name="formData" value="Заявка с сайта">
		</form>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL1 -->
<div class="overlay" id="overlay2" style="display:none;"></div> 
    <div class="nonebox" id="nonebox2"> 
     <a class="box-close one" id="box-close2" href="index.html"></a>
		<center><p class="success"><span>Спасибо за заявку!</span><br>
    В ближайшее время наш<br> менеджер Вам перезвонит<br>
    <a href="index.html">Спасибо</a></p></center>
    </div> 
<!-- END MODAL1 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/ajax_form.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/animate-css.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
<script>
function refr()
{setTimeout("document.location.reload()", 3000);
}
</script>
 </body>
</html>