<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Психопатология</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
	<div class="main_container">
		<header>
			<img src="images/logo.png" alt="ZLX" class="logo">
			<div class="main_title_block">
				<div class="main_title">Психопатология</div>
				<img src="images/line.png" height="16" width="305" alt="">
			</div>
			<div class="clearfix"></div>
			<div class="date"><span>№4</span>19—20 января 2016 года</div>
		</header>
<!-- END HEADER -->
<!-- MENU -->
	<div class="menu">
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#">НЛП</a></li>
			<li><a href="#">Телеска</a></li>
			<li><a href="#">Идентификация</a></li>
			<li><a href="#">Эмпатия</a></li>
		</ul>		
	</div>
<!-- END MENU -->
<!-- MAIN LEFT SIDE -->
	<div class="left_main_side">
	<div class="main_block1 clearfix">
		<div class="h1">Механизмы восприятия и взаимопонимания</div> 
		<p>Если вы хотите выиграть, не так важно, какой расклад в игре достался изначально; главное — знать, как лучше всего использовать свой потенциал. Каким знакам Зодиака повезет в этом году?</p>
		<img src="images/img1.jpg" alt="Механизмы восприятия и взаимопонимания">
		<table>
		   <tr>
		    <th>№</th>
		    <th>Наименование газеты</th>
		    <th>Тираж</th>
		    <th>Периодичность</th>
		   </tr>
		   <tr><td>1</td><td>Георгиевские известия</td><td>5 000</td><td>2 раза в неделю</td></tr>
		   <tr><td>1</td><td>Георгиевские известия</td><td>5 000</td><td>2 раза в неделю</td></tr>
		   <tr><td>1</td><td>Георгиевские известия</td><td>5 000</td><td>2 раза в неделю</td></tr>
		   <tr><td>1</td><td>Георгиевские известия</td><td>5 000</td><td>2 раза в неделю</td></tr>
  		</table>
  		<p>2016 год можно назвать вдохновляющим практически для всех знаков Зодиака: влияние Плутона будет подстегивать наши амбиции, побуждая к росту и помогая укрепить свое профессиональное и социальное положение.</p>
  		<ul>
  			<li>Юпитер, который до начала сентября пробудет в знаке</li>
  			<li>Девы, подскажет несколько важных решений и научит тому, как действовать</li>
  			<li>Весов, позволит по-настоящему насладиться плодами собственных усилий.</li>
  		</ul>
  		<p>Юпитер, который до начала сентября пробудет в знаке Девы, подскажет несколько важных решений и научит тому, как действовать более организованно и методично, а затем, переместившись в знак Весов, позволит по-настоящему насладиться плодами собственных усилий.</p>
  		<input type="text" class="search" name="search" onfocus="if (this.value == 'Поле поиска') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Поле поиска';}" value="Поле поиска">
  		<p>Поэтому общий совет, который дают звезды, — смело поднимайте все паруса, когда ощущаете попутный ветер, но не тратьте слишком много сил на переживания и сомнения, если столкнетесь с тем, что вас тормозит.</p>
  		<input type="checkbox" id="checkbox-id" /> <label for="checkbox-id"></label>
  		<p>2016 год можно назвать вдохновляющим практически для всех знаков Зодиака</p>
  		<p>Влияние Плутона будет подстегивать наши амбиции, побуждая к росту и помогая укрепить свое профессиональное и социальное положение.</p>
  		<p>Год можно назвать вдохновляющим практически для всех знаков Зодиака: влияние Плутона будет подстегивать наши амбиции, побуждая к росту и помогая укрепить свое профессиональное и социальное положение.</p>
  		<div class="post_date">15 январ 2015</div>
  		<a href="#" class="read_more">Далее читать »</a>
	</div>
	<div class="main_block2 clearfix">
		<div class="left_side">
			<div class="h1">Стереотипизация</div>
			<p>Это восприятие и оценка социальных объектов на основе определенных представлений (стереотипов). Стереотипизация проявляется в приписывании сходных характеристик всем членам какой-либо социальной группы без достаточного осознания возможных различий между ними.</p>
			<div class="post_date">13 январ 2015</div>
  			<a href="#" class="read_more_small">Далее читать »</a>
		</div>
		<div class="right_side">
			<div class="h1">Стереотип</div>
			<p>Это упрощенное, зачастую искаженное, характерное для сферы обыденного сознания представление о какой-либо социальной группе или отдельном человеке, принадлежащем к той или иной социальной общности. Стереотип возникает на основе ограниченного прошлого опыта в результате стремления строить выводы на базе недостаточной информации.</p>
			<p>Стереотипизация является одной из важнейших характеристик межгруппового и межличностного восприятия и сопровождается проявлениями социальных установок, эффектов ореола, первичности и новизны. В межличностной перцепции стереотипизация выполняет две основные функции</p>
			<div class="post_date">11 январ 2015</div>
  			<a href="#" class="read_more_small">Далее читать »</a>
		</div>
		<div class="left_side">
			<div class="h1">Навыки оценки
			людей</div>
			<p>Это формирование оценочного впечатления о человеке в условиях дефицита времени на восприятие его поступков и личностных качеств. Эффект ореола проявляется либо в форме позитивной оценочной пристрастности (положительный ореол), либо в негативной оценочной пристрастности (отрицательный ореол)..</p>
			<p>Так, если первое впечатление о человеке в целом благополучное, то в дальнейшем все его поведение, черты и поступки начинают переоцениваться в положительную сторону. В них выделяются и преувеличиваются в основном лишь положительные моменты, а отрицательные недооцениваются или не замечаются.</p>
			<div class="post_date">12 январ 2015</div>
		</div>
		<div class="right_side">
			<div class="h1">Межличностное
			восприятие и его эффект</div>
			<img src="images/img2.jpg" alt="Межличностное
			восприятие и его эффект">
			<p>Если вы хотите выиграть, не так важно, какой расклад в игре достался изначально; главное — знать, как лучше всего использовать свой потенциал.</p>
			<p>Каким знакам Зодиака повезет в этом году? Рефлексия — это осознание индивидом того, как он воспринимается партнером по общению, т. е. как будет партнер по общению понимать меня. При взаимодействии взаимно оцениваются и изменяются определенные характеристики друг друга.</p>
			<div class="post_date">11 январ 2015</div>
  			<a href="#" class="read_more_small">Далее читать »</a>
		</div>
	</div>
	<div class="main_block1 clearfix">
		<div class="h1 last">Психология восприятия и взаимопонимания</div> 
		<p>Особенное распространение получили так называемые этнические стереотипы, когда на основе ограниченной информации об отдельных представителях тех или иных этнических групп строятся предвзятые выводы относительно всей группы. Стереотипизация в процессе познания людьми друг друга может привести к двум различным следствиям. С одной стороны, к определенному упрощению процесса познания другого человека, и тогда это упрощение ведет к замене образа человека штампом, например «все бухгалтеры — педанты», «все учителя — назидатели». С другой стороны, это ведет к предубеждениям, если суждение о социальном объекте строится на основе прошлого ограниченного опыта, который чаще всего может оказаться негативным.</p>
		<div class="post_date">14 январ 2015</div>
	</div>
	</div>
<!-- END MAIN LEFT SIDE -->
<!-- SIDEBAR -->
<div class="sidebar_block">
	<div class="left_side sm">
			<div class="h1">Эффект ореола</div>
			<p>Это формирование оценочного впечатления о человеке в условиях дефицита времени на восприятие его поступков и личностных качеств. Эффект ореола проявляется либо в форме позитивной оценочной пристрастности (положительный ореол), либо в негативной оценочной пристрастности (отрицательный ореол)..</p>
			<p>Так, если первое впечатление о человеке в целом благополучное, то в дальнейшем все его поведение, черты и поступки начинают переоцениваться в положительную сторону. В них выделяются и преувеличиваются в основном лишь положительные моменты, а отрицательные недооцениваются или не замечаются. Если же общее первое впечатление о человеке в силу сложившихся обстоятельств оказалось отрицательным, то даже положительные его качества и поступки в последующем или не замечаются вовсе, или недооцениваются.</p>
			<div class="post_date">12 январ 2015</div>
		</div>

</div>
<div class="sidebar_block">
	<div class="left_side sm">
			<div class="h1">Эффект ореола</div>
			<p>Это формирование оценочного впечатления о человеке в условиях дефицита времени на восприятие его поступков и личностных качеств. Эффект ореола проявляется либо в форме позитивной оценочной пристрастности (положительный ореол), либо в негативной оценочной пристрастности (отрицательный ореол)..</p>
			<p>Так, если первое впечатление о человеке в целом благополучное, то в дальнейшем все его поведение, черты и поступки начинают переоцениваться в положительную сторону. В них выделяются и преувеличиваются в основном лишь положительные моменты, а отрицательные недооцениваются или не замечаются. Если же общее первое впечатление о человеке в силу сложившихся обстоятельств оказалось отрицательным, то даже положительные его качества и поступки в последующем или не замечаются вовсе, или недооцениваются.</p>
			<div class="post_date">12 январ 2015</div>
		</div>

</div>
<div class="sidebar_block">
	<div class="left_side sm">
			<div class="h1">Эффект ореола</div>
			<p>Это формирование оценочного впечатления о человеке в условиях дефицита времени на восприятие его поступков и личностных качеств. Эффект ореола проявляется либо в форме позитивной оценочной пристрастности (положительный ореол), либо в негативной оценочной пристрастности (отрицательный ореол)..</p>
			<p>Так, если первое впечатление о человеке в целом благополучное, то в дальнейшем все его поведение, черты и поступки начинают переоцениваться в положительную сторону. В них выделяются и преувеличиваются в основном лишь положительные моменты, а отрицательные недооцениваются или не замечаются. Если же общее первое впечатление о человеке в силу сложившихся обстоятельств оказалось отрицательным, то даже положительные его качества и поступки в последующем или не замечаются вовсе, или недооцениваются.</p>
			<div class="post_date">12 январ 2015</div>
		</div>
	
</div>
<!-- END SIDEBAR -->
<!-- FOOTER -->
<div class="clearfix"></div>
<footer>
	<div class="copyright">www.zlx.com &#169; 2016 Все права защищены </div>
	<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#">О нас</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>	
</footer>
</div>
<!-- END FOOTER -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/script.js"></script>
  </body>
</html>