@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu.woff') format('woff'), url('../fonts/Ubuntu.ttf')  format('truetype'), url('../fonts/Ubuntu.svg#Ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu-Medium.woff') format('woff'), url('../fonts/Ubuntu-Medium.ttf')  format('truetype'), url('../fonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeueCyrillic';
  src: url('../fonts/BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueCyrillic.woff') format('woff'), url('../fonts/BebasNeueCyrillic.ttf')  format('truetype'), url('../fonts/BebasNeueCyrillic.svg#BebasNeueCyrillic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu-Bold.woff') format('woff'), url('../fonts/Ubuntu-Bold.ttf')  format('truetype'), url('../fonts/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-MediumItalic';
  src: url('../fonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu-MediumItalic.woff') format('woff'), url('../fonts/Ubuntu-MediumItalic.ttf')  format('truetype'), url('../fonts/Ubuntu-MediumItalic.svg#Ubuntu-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-BoldItalic';
  src: url('../fonts/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu-BoldItalic.woff') format('woff'), url('../fonts/Ubuntu-BoldItalic.ttf')  format('truetype'), url('../fonts/Ubuntu-BoldItalic.svg#Ubuntu-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('../fonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu-Italic.woff') format('woff'), url('../fonts/Ubuntu-Italic.ttf')  format('truetype'), url('../fonts/Ubuntu-Italic.svg#Ubuntu-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

