<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Благоустройство</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.countdown.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div class="header_wrap">
		
			<header class="header">
				<div class="main_container clearfix">
					<img src="images/logo.png" alt="">
					<div class="call">
						<p>+7 (900) 123-45-67</p>
						<a href="#">Заказать звонок</a>
					</div>
				</div>
			</header>
			<div class="main_container clearfix">
				<div class="main_title_block">
					<h1>Ремонт квартир под ключ<br>
					в Санкт-Петербурге</h1>
					<h2>Ремонт комнат, кухонь, санузлов</h2>
				</div>
				<div class="bg_form lform">
					<div class="form_title">Оставьте заявку</div>
					<p>Мы расчитаем стоимость и сроки работ, организуем <span>бесплатную</span> доставку материалов</p>
					<div class="form_title_small">До конца акции осталось:</div>
					<span id="padZeroes" class="countdown"></span>
				</div>
				<div class="bg_form rform">
					<div class="form_title">Оставьте заявку</div>
					<div class="form_title_small">для бесплатной установки потолков</div>
					<form action="">
						<input type="text" onblur='if(this.value=="") this.value="Укажите Ваше имя"'  onfocus='if(this.value=="Укажите Ваше имя") this.value=""' value="Укажите Ваше имя" required class="inputmain">
						<input type="text" onblur='if(this.value=="") this.value="Укажите телефон"'  onfocus='if(this.value=="Укажите телефон") this.value=""' value="Укажите телефон" required class="inputmain">
						<input type="text" onblur='if(this.value=="") this.value="Укажите e-mail"'  onfocus='if(this.value=="Укажите e-mail") this.value=""' value="Укажите e-mail" required class="inputmain">
						<input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="submit">
					</form>
				</div>
			</div>
	</div>			
<!-- END HEADER -->
<!-- ABOUT US -->
			<div class="main_container clearfix">
				<div class="h1">О НАС В ЦИФРАХ</div>
				<div class="letter_block">
					<div class="circle">4</div>
					<p>года на рынке
					ремонтных и
					отделочных услуг</p>
				</div>		
				<div class="letter_block">
					<div class="circle">200</div>
					<p>успешно
					реализованных
					проектов</p>
				</div>		
				<div class="letter_block">
					<div class="circle">187</div>
					<p>исправленных
					ошибок частных
					мастеров</p>
				</div>		
				<div class="letter_block">
					<div class="circle">5</div>
					<p>лет минимальный
					стаж наших
					мастеров</p>
				</div>		
				<div class="letter_block">
					<div class="circle">1950</div>
					<p>руб./м2 цена
					ремонта комнаты
					под ключ</p>
				</div>		
			</div>
<!-- END ABOUT US -->
<!-- HOW WE WORKS -->
<div class="works_bg">
	<div class="main_container clearfix">
		<div class="h1">КАКИЕ РАБОТЫ МЫ ВЫПОЛНЯЕМ</div>
		<div class="work_desc">Мы проводим ремонтно-строительные работы в квартирах любого типа, плошади и технического состояния </div>
		<div class="works_wrapp">
			<div class="works_block">
				<div class="big_circle1">
					<div class="big_circle_title">КОСМЕТИЧЕСКИЙ
					РЕМОНТ</div>
					<p>от 1950 руб./м2</p>
					<a href="#">Расчитать стоимость</a>
				</div>
				<div class="circle_description">
					<div class="circle_title">Какие работы включает:</div>
					<ul>
						<li>Демонтажные работы</li>
						<li>Грунтование стен и потолка</li>
						<li>Шпатлевка стен и потолка</li>
						<li>Выравнивание пола под ламинат</li>
						<li>Монтаж панелей в ванной</li>
						<li>Установка сантехники</li>
						<li>Замена розеток</li>
						<li>Покраска потолка</li>
						<li>Поклейка обоев</li>
						<li>Укладка ламината</li>
						<li>Уборка квартиры и сдача объекта</li>
					</ul>
				</div>
			</div>
			<div class="works_block">
				<div class="big_circle2">
					<div class="big_circle_title">КАПИТАЛЬНЫЙ<br>
					РЕМОНТ</div>
					<p>от 2950 руб./м2</p>
					<a href="#">Расчитать стоимость</a>
				</div>
				<div class="circle_description">
					<div class="circle_title">Какие работы включает:</div>
					<ul>
						<li>Дизай-проект интерьера</li>
						<li>Демонтажные работы</li>
						<li>Выравнивание стен и потолка</li>
						<li>Шпатлевка стен и потолка</li>
						<li>Выравнивание пола</li>
						<li>Полная замена электропроводки</li>
						<li>Замена труб водоснабжения</li>
						<li>Укладка плитки</li>
						<li>Покраска потолка</li>
						<li>Поклейка обоев</li>
						<li>Монтаж напольного покрытия</li>
						<li>Уборка квартиры и сдача объекта</li>
					</ul>
				</div>
			</div>
			<div class="works_block">
				<div class="big_circle3">
					<div class="big_circle_title">ЕВРО<br>
					РЕМОНТ</div>
					<p>от 2950 руб./м2</p>
					<a href="#">Расчитать стоимость</a>
				</div>
				<div class="circle_description">
					<div class="circle_title">Какие работы включает:</div>
					<ul>
						<li>Разработка эксклюзивного дизайн- проекта интерьера с 3D - визуализацией</li>
						<li>Демонтажные работы</li>
						<li>Возведение стен</li>
						<li>Грунтование поверхности</li>
						<li>Выравнивание и подготовка стен</li>
						<li>Монтаж фигурного потолка</li>
						<li>Выравнивание потолка</li>
						<li>Полная замена электропроводки</li>
						<li>Укладка плитки</li>
						<li>Установка сантехники</li>
						<li>Покраска стен и потолка</li>
						<li>Укладка штучного паркета</li>
						<li>Уборка квартиры и сдача объекта</li>
					</ul>
				</div>
			</div>
			<div class="helper"></div> <!-- скрытый блок для выравнивания элементов -->
		</div>
	</div>	
</div>
<!-- END HOW WE WORKS -->
<!-- REASONS -->
	<div class="main_container clearfix">
		<div class="h1">ПО КАКИМ ПРИЧИНАМ ВЫБИРАЮТ НАС</div>
		<div class="reasons_block">
			<div class="circle_small">
				<img src="images/circle_icon_small1.png" alt="">
			</div>
				<div class="reasons_title">КАЧЕСТВО</div>
				<p>работ за счет высокой квалификации и большого опыта мастеров, и использования лучших материалов</p>
		</div>
		<div class="reasons_block">
			<div class="circle_small">
				<img src="images/circle_icon_small2.png" alt="">
			</div>
				<div class="reasons_title">без предоплаты</div>
				<p>вся работа разбивается на 3-4 этапа, прописывается в договоре. Оплата работ производится только после завершения каждого этапа</p>
		</div>
		<div class="reasons_block">
			<div class="circle_small">
				<img src="images/circle_icon_small3.png" alt="">
			</div>
				<div class="reasons_title">СРОКИ</div>
				<p>выполнения работ, даже при высокой степени сложности ремонта. Время выполнения работ прописывается в договоре</p>
		</div>
		<div class="reasons_block">
			<div class="circle_small">
				<img src="images/circle_icon_small4.png" alt="">
			</div>
				<div class="reasons_title">без ПРЕДОПЛАТЫ</div>
				<p>за черновые материалы. Вы оплачиваете черновой материал (штукатурку, плиточный клей, провода, трубы и др.) </p>
		</div>
		<div class="reasons_block">
			<div class="circle_small">
				<img src="images/circle_icon_small5.png" alt="">
			</div>
				<div class="reasons_title">ДИЗАЙН</div>
				<p>Наш дизайнер поможет Вам увеличить жилое пространство квартиры, улучшить освещенность и создать уют</p>
		</div>
	
	</div>
<!-- END REASONS -->
<!-- CONSULTATION FORM -->
<div class="form_bg">
	<div class="main_container clearfix">
		<div class="h1">КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА</div>
		<div class="work_desc">Наш специалист рассчитает стоимость и сроки выполнения ремонтных работ</div>
		<form action="">
						<input type="text" onblur='if(this.value=="") this.value="Укажите Ваше имя"'  onfocus='if(this.value=="Укажите Ваше имя") this.value=""' value="Укажите Ваше имя" required class="inputmain">
						<input type="text" onblur='if(this.value=="") this.value="Укажите телефон"'  onfocus='if(this.value=="Укажите телефон") this.value=""' value="Укажите телефон" required class="inputmain">
						<input type="text" onblur='if(this.value=="") this.value="Укажите e-mail"'  onfocus='if(this.value=="Укажите e-mail") this.value=""' value="Укажите e-mail" required class="inputmain">
						<input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="submit">
		</form>
	</div>
</div>
<!-- END CONSULTATION FORM -->
<!-- PORTFOLIO -->
<div class="portfolio_wrap">
	<div class="main_container clearfix">
		<div class="h1">РЕМОНТ И ОТДЕЛКА ПОМЕЩЕНИЙ</div>
		<div class="portfolio_block">
			<div class="portfolio_title">КОМНАТА</div>
			<p>мы выполним комплексный ремонт гостиных и детских комнат, спальни и кабинета</p>
			<a href="#">Расчитать стоимость</a>
		</div>
		<div class="portfolio_block">
			<div class="portfolio_title">КУХНЯ</div>
			<p>ремонт кухни под ключ и любые виды отделки</p>
			<a href="#">Расчитать стоимость</a>
		</div>
		<div class="portfolio_block">
			<div class="portfolio_title">ВАННАЯ И ТУАЛЕТ</div>
			<p>мы выполним эксклюзивный ремонт совмещенных и раздельных санузлов</p>
			<a href="#">Расчитать стоимость</a>
		</div>
		<div class="clearfix"></div>
		<div class="h1">ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</div>
		<div class="portfolio_block">
			<div class="portfolio_title fix_t">РЕМОНТ КЛАССА 
			ЕВРОЛЮКС</div>
			<p>выполнение задач высокой степени сложности по дизайнерскому проекту</p>
			<a href="#">Расчитать стоимость</a>
		</div>
		<div class="portfolio_block">
			<div class="portfolio_title fix_t">ДИЗАЙН<br>
			ИНТРЕРЬЕРА</div>
			<p>разработка дизайн-проекта интерьера</p>
			<a href="#">Расчитать стоимость</a>
		</div>
		<div class="portfolio_block">
			<div class="portfolio_title fix_t">МОНТАЖ НАТЯЖНЫХ
			ПОТОЛКОВ</div>
			<p>монтаж дизайнерских натяжных потолков - быстро и навсегда</p>
			<a href="#">Расчитать стоимость</a>
		</div>
	</div>
</div>
<!-- END PORTFOLIO -->
<!-- CALLBACK FORM -->
<div class="form_bg">
	<div class="main_container clearfix">
		<div class="h1">Бесплатный вызов замерщика</div>
		<div class="work_desc">Наш инженер-замерщик бесплатно произведет необходимые расчеты и составит детальную смету ремонта</div>
		<form action="">
						<input type="text" onblur='if(this.value=="") this.value="Укажите Ваше имя"'  onfocus='if(this.value=="Укажите Ваше имя") this.value=""' value="Укажите Ваше имя" required class="inputmain">
						<input type="text" onblur='if(this.value=="") this.value="Укажите телефон"'  onfocus='if(this.value=="Укажите телефон") this.value=""' value="Укажите телефон" required class="inputmain">
						<input type="text" onblur='if(this.value=="") this.value="Укажите e-mail"'  onfocus='if(this.value=="Укажите e-mail") this.value=""' value="Укажите e-mail" required class="inputmain">
						<input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="submit">
		</form>
	</div>
</div>
<!-- END CALLBACK FORM -->
<!-- ADVANTAGES -->
	<div class="main_container clearfix">
		<div class="h1">ПОЧЕМУ РЕМОНТНАЯ ОРГАНИЗАЦИЯ ЛУЧШЕ
		ЧАСТНОГО МАСТЕРА?</div>
		<div class="work_desc">Строительно-ремонтная организация несет за свою работу юридическую ответственность - с каждым клиентом заключается договор, в котором четко прописываются условия работы и следующие гарантии:</div>
		<div class="advantages_wrapper">
			<div class="advantages_block">
				<div class="circle_advantages"><img src="images/icon_advantages1.png" alt=""></div>				
				<p>Выполнение работ только квалифицированными мастерами, имеющими гражданство РФ</p>
			</div>
			<div class="advantages_block">
				<div class="circle_advantages"><img src="images/icon_advantages2.png" alt=""></div>				
				<p>Осуществление монтажных работ в соответствии со строительными нормами</p>
			</div>
			<div class="advantages_block">
				<div class="circle_advantages"><img src="images/icon_advantages3.png" alt=""></div>				
				<p>Двойной контроль качества работ - прорабом и технологом</p>
			</div>
			<div class="advantages_block">
				<div class="circle_advantages"><img src="images/icon_advantages4.png" alt=""></div>				
				<p>Оплата по факту выполнения работ</p>
			</div>
			<div class="advantages_block">
				<div class="circle_advantages"><img src="images/icon_advantages5.png" alt=""></div>				
				<p>Стабильная смета от начала работ до здачи проекта</p>
			</div>
			<div class="advantages_block">
				<div class="circle_advantages"><img src="images/icon_advantages6.png" alt=""></div>				
				<p>Соблюдение графика ремонтных работ</p>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="advantages_subtitle">После завершения ремонта вы получаете гарантийный сертификат на все выполненные работы</div>
	</div>
<!-- END ADVANTAGES -->
<!-- HOW WE WORKS 2 -->
<div class="works2_bg">
	<div class="main_container clearfix">
		<div class="h1_white">КАК МЫ РАБОТАЕМ</div>
		<div class="icons_wrapper">
			<img src="images/icons_set1.png" alt="">
			<p>Звонок или заявка на сайте</p>
			<p>Выезд на объект к клиенту для выполнения замеров</p>
			<p>Составление сметы на работы и  расходные материалы</p>
			<p>Подписание договора и составление графика поставки материалов</p>
			<img src="images/icons_set2.png" alt="">
			<p>Закупка расходных и отделочных материалов</p>
			<p>Ремонтно-отделочные работы</p>
			<p>Приемка/сдача<br>
			работ</p>
			<p>Гарантийное, послегарантийное обслуживание</p>
		</div>
	</div>
</div>
<!-- END HOW WE WORKS 2 -->
<!-- BIG SLIDER -->
	<div class="main_container clearfix">
		<div class="h1">Наши выполненные работы</div>
		<ul class="bxslider1">
			<li>
				<img src="images/slider_big_img1.jpg" alt="">
				<div class="right_side">
					<div class="text_block">
						<div class="slider_title">Ремонт гна ул. Бонч-Бруевича</div>
						<p><span>Задачи:</span> идеально выровненные и покрашенные потолки, идеально ровные стены при заставленной целиком кваритире.</p>
						<p><span>Виды работ:</span> капитальный ремонт квартиры площадью 92 м2.</p>
						<p><span>Сроки:</span> 1,5 месяца.</p>
						<p><span>Стоимость:</span> 182 тыс. руб.</p>
						<p><span>Руководитель:</span> Килин Адександр, прораб.</p>
						<p><span>Стаж работы:</span> более 7 лет.</p>
						<p><span>Гражданство:</span> Российская Федерация.</p>
					</div>
					<div class="caption_wrapper">
						<div class="slides">
							 <div>
							 	<img src="images/slider_small_img1.jpg" alt="">
							 	<img src="images/slider_small_img2.jpg" alt="">
							 	<img src="images/slider_small_img3.jpg" alt="">
							 </div>
							 <div>
							 	<img src="images/slider_small_img1.jpg" alt="">
							 	<img src="images/slider_small_img2.jpg" alt="">
							 	<img src="images/slider_small_img3.jpg" alt="">
							 </div>
							 <div>
							 	<img src="images/slider_small_img1.jpg" alt="">
							 	<img src="images/slider_small_img2.jpg" alt="">
							 	<img src="images/slider_small_img3.jpg" alt="">
							 </div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<img src="images/slider_big_img1.jpg" alt="">
				<div class="right_side">
					<div class="text_block">
						<div class="slider_title">Ремонт гна ул. Бонч-Бруевича</div>
						<p><span>Задачи:</span> идеально выровненные и покрашенные потолки, идеально ровные стены при заставленной целиком кваритире.</p>
						<p><span>Виды работ:</span> капитальный ремонт квартиры площадью 92 м2.</p>
						<p><span>Сроки:</span> 1,5 месяца.</p>
						<p><span>Стоимость:</span> 182 тыс. руб.</p>
						<p><span>Руководитель:</span> Килин Адександр, прораб.</p>
						<p><span>Стаж работы:</span> более 7 лет.</p>
						<p><span>Гражданство:</span> Российская Федерация.</p>
					</div>
					<div class="caption_wrapper">
						<div class="slides">
							 <div>
							 	<img src="images/slider_small_img1.jpg" alt="">
							 	<img src="images/slider_small_img2.jpg" alt="">
							 	<img src="images/slider_small_img3.jpg" alt="">
							 </div>
							 <div>
							 	<img src="images/slider_small_img1.jpg" alt="">
							 	<img src="images/slider_small_img2.jpg" alt="">
							 	<img src="images/slider_small_img3.jpg" alt="">
							 </div>
							 <div>
							 	<img src="images/slider_small_img1.jpg" alt="">
							 	<img src="images/slider_small_img2.jpg" alt="">
							 	<img src="images/slider_small_img3.jpg" alt="">
							 </div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<img src="images/slider_big_img1.jpg" alt="">
				<div class="right_side">
					<div class="text_block">
						<div class="slider_title">Ремонт гна ул. Бонч-Бруевича</div>
						<p><span>Задачи:</span> идеально выровненные и покрашенные потолки, идеально ровные стены при заставленной целиком кваритире.</p>
						<p><span>Виды работ:</span> капитальный ремонт квартиры площадью 92 м2.</p>
						<p><span>Сроки:</span> 1,5 месяца.</p>
						<p><span>Стоимость:</span> 182 тыс. руб.</p>
						<p><span>Руководитель:</span> Килин Адександр, прораб.</p>
						<p><span>Стаж работы:</span> более 7 лет.</p>
						<p><span>Гражданство:</span> Российская Федерация.</p>
					</div>
					<div class="caption_wrapper">
						<div class="slides">
							 <div>
							 	<img src="images/slider_small_img1.jpg" alt="">
							 	<img src="images/slider_small_img2.jpg" alt="">
							 	<img src="images/slider_small_img3.jpg" alt="">
							 </div>
							 <div>
							 	<img src="images/slider_small_img1.jpg" alt="">
							 	<img src="images/slider_small_img2.jpg" alt="">
							 	<img src="images/slider_small_img3.jpg" alt="">
							 </div>
							 <div>
							 	<img src="images/slider_small_img1.jpg" alt="">
							 	<img src="images/slider_small_img2.jpg" alt="">
							 	<img src="images/slider_small_img3.jpg" alt="">
							 </div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<img src="images/slider_big_img1.jpg" alt="">
				<div class="right_side">
					<div class="text_block">
						<div class="slider_title">Ремонт гна ул. Бонч-Бруевича</div>
						<p><span>Задачи:</span> идеально выровненные и покрашенные потолки, идеально ровные стены при заставленной целиком кваритире.</p>
						<p><span>Виды работ:</span> капитальный ремонт квартиры площадью 92 м2.</p>
						<p><span>Сроки:</span> 1,5 месяца.</p>
						<p><span>Стоимость:</span> 182 тыс. руб.</p>
						<p><span>Руководитель:</span> Килин Адександр, прораб.</p>
						<p><span>Стаж работы:</span> более 7 лет.</p>
						<p><span>Гражданство:</span> Российская Федерация.</p>
					</div>
					<div class="caption_wrapper">
						<div class="slides">
							 <div>
							 	<img src="images/slider_small_img1.jpg" alt="">
							 	<img src="images/slider_small_img2.jpg" alt="">
							 	<img src="images/slider_small_img3.jpg" alt="">
							 </div>
							 <div>
							 	<img src="images/slider_small_img1.jpg" alt="">
							 	<img src="images/slider_small_img2.jpg" alt="">
							 	<img src="images/slider_small_img3.jpg" alt="">
							 </div>
							 <div>
							 	<img src="images/slider_small_img1.jpg" alt="">
							 	<img src="images/slider_small_img2.jpg" alt="">
							 	<img src="images/slider_small_img3.jpg" alt="">
							 </div>
						</div>
					</div>
				</div>
			</li>


		</ul>
	</div>
<!-- END BIG SLIDER -->
<!-- CONSULTATION FORM 2 -->
<div class="last_from_bg">
	<div class="main_container clearfix">
		<div class="h1_white">Консультация специалиста</div>
		<div class="work_desc_white">Оставьте заявку, и наш специалист рассчитает стоимость и сроки выполнения ремонтных работ</div>
		<form action="">
						<input type="text" onblur='if(this.value=="") this.value="Укажите Ваше имя"'  onfocus='if(this.value=="Укажите Ваше имя") this.value=""' value="Укажите Ваше имя" required class="inputmain">
						<input type="text" onblur='if(this.value=="") this.value="Укажите телефон"'  onfocus='if(this.value=="Укажите телефон") this.value=""' value="Укажите телефон" required class="inputmain">
						<input type="text" onblur='if(this.value=="") this.value="Укажите e-mail"'  onfocus='if(this.value=="Укажите e-mail") this.value=""' value="Укажите e-mail" required class="inputmain">
						<input type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="submit">
		</form>
	</div>
</div>	
<!-- END CONSULTATION FORM 2 -->
<!-- FOOTER -->
<footer>
				<div class="main_container clearfix">
					<img src="images/logo.png" alt="">
					<div class="call">
						<p>+7 (900) 123-45-67</p>
						<a href="#">Заказать звонок</a>
					</div>
				</div>
				<div class="copyright_bg">
					<div class="main_container clearfix">
						<p>&copy; 2016 Gidol Все права защищены</p>
						<a href="#">Политика конфиденциальности</a>
					</div>
				</div>
</footer>
<!-- END FOOTER -->
<div id="scrollup" class="about_click">
<img src="images/up_st.png" alt="arrow" class="first">
<h4>Наверх</h4>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/jquery.plugin.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/jquery.countdown-ru.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/slides.js"></script>
<script src="js/scrollup.js"></script>
<script src="js/script.js"></script>
</body>
</html>