<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>IDF COMPANY | Веб-решения для бизнеса</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="images/favicon.ico" rel="shortcut icon">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/designr-theme-orange.css" rel="stylesheet">
</head>
<body >
<div class="landscape_n">
<!-- HEADER -->
<div class="header_bg">
<div id="trailer" class="is_overlay">
        <video id="video" width="100%" height="100%" autoplay="autoplay" loop="loop" preload="auto">
            <source src="333.mp4"></source>
		</video>
</div>
	<header>
	 <div id="main-nav" class="navbar navbar-fixed-top">
      
        
      <div class="container">
      
        <div class="navbar-header">
        
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          
          <!-- ======= LOGO ========-->
          <a class="navbar-brand scrollto" href="#home"><img src="images/logo.png" style="width: 240px"></a>       
        </div>
        
        <div id="site-nav" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
          <li class="sr-only">
              <a href="#home" class="scrollto">Home</a>
            </li>
            <li><a href="#" class="first">Калькулятор</a></li>
              <li><a href="#" class="advatages">Хостинг</a></li>
              <li><a href="#" class="clients">Наши клиенты</a></li>
              <li><a href="#" class="contacts">Контакты</a></li>
          </ul>
          <div class="phone_top">8 (495) 999-99-99</div>
        </div><!--End navbar-collapse -->
        
      </div>
      </div>
	</header>
<!-- TABS TOP -->
	<div class="container" >
		<div class="tabs_main_wrapper" id="head">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<div class="tabs_main">
						<div class="tabs">
						<select id='mySelect'>
							        <option value='0'>Хостинг</option>
							        <option value='1'>Виртуальный сервер</option>
							        <option value='2'>Выделенный сервер</option>
							    </select>
							<ul class="nav nav-tabs-left" id="myTab">
								<li class="active"><a href="#tab-1" data-toggle="tab">Хостинг</a></li>
								<li><a href="#tab-2" data-toggle="tab">Виртуальный сервер</a></li>
								<li><a href="#tab-3" data-toggle="tab">Выделенный сервер</a></li>
							</ul>
						</div>
					</div>
				</div>	
				<div class="col-md-9 col">	
					<div class="tab-content">
						<div class="tab-pane active" id="tab-1">
							<div class="sub_tabs_wrapper">
								
								<div class="tabs">

									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#sub-1" data-toggle="tab">Европа</a>
										</li>
										<li>
											<a href="#sub-2" data-toggle="tab">Россия</a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="sub-1">
											<div class="title-sub vps1">Shared (виртуальный)</div>
											<p class="vps1">Вид хостинга, при котором множество веб-сайтов расположено на одном веб-сервере. Это самый экономичный вид хостинга, подходящий для небольших проектов. Подойдет небольшим проектам: сайтам визиткам, landing-page, промо-сайтам.</p>
											<hr class="vps1">
											<ul class="services">
												<li>Управление доменами: <span>бесплатно</span></li>
												<li>Резервное копирование: <span>общее 1 раз/неделя</span></li>
												<li>FTP доступ: <span>есть</span></li>
												<li>SSH доступ: <span>нет</span></li>
												<li>Кол-во БД: <span>1</span></li>
												<li>Поддержка: <span>1 час/месяц</span></li>
											</ul>
											<div class="tab_price">
												<div class="date">Стоимость в месяц<br><span class="total">490</span></div>
												<div class="date">Стоимость в год <span class="percent">( -16.5%)</span><br><span class="total_year">4 900</span></div>
											</div>
											<div class="slider_wrapper" id="slide4">
											<div class="result">Место на диске<a href="#" data-title="всплывающая подсказка">?</a></div>
													<input class="persons"
										               type="text"
										               data-slider="true"
										               data-slider-range="1,10"
										               data-slider-step="1"
										               data-slider-snap="true"
										               data-slider-highlight="true"
										            >								    
											</div>
											<a href="#" class="open_modal button">Попробовать бесплатно<br>
											<span>(тестовый период 6 дней)</span></a>
										</div>
										<div class="tab-pane" id="sub-2">
											<div class="title-sub vps1">Shared (виртуальный)</div>
											<p class="vps1">Вид хостинга, при котором множество веб-сайтов расположено на одном веб-сервере. Это самый экономичный вид хостинга, подходящий для небольших проектов. Подойдет небольшим проектам: сайтам визиткам, landing-page, промо-сайтам.</p>
											<hr class="vps1">
											<ul class="services">
												<li>Управление доменами: <span>бесплатно</span></li>
												<li>Резервное копирование: <span>общее 1 раз/неделя</span></li>
												<li>FTP доступ: <span>есть</span></li>
												<li>SSH доступ: <span>нет</span></li>
												<li>Кол-во БД: <span>1</span></li>
												<li>Поддержка: <span>1 час/месяц</span></li>
											</ul>
											<div class="tab_price">
												<div class="date">Стоимость в месяц<br><span class="total1">490</span></div>
												<div class="date">Стоимость в год <span class="percent">( -16.5%)</span><br><span class="total_year1">4 900</span></div>
											</div>
											<div class="slider_wrapper" id="slide5">
												<div class="result">Место на диске<a href="#" data-title="всплывающая подсказка">?</a></div>
													<input class="persons1"
										               type="text"
										               data-slider="true"
										               data-slider-range="1,20"
										               data-slider-step="1"
										               data-slider-snap="true"
										               data-slider-highlight="true"
										            >
											</div>
											<a href="#" class="open_modal buttonr">Попробовать бесплатно<br>
											<span>(тестовый период 6 дней)</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab-2">
							<div class="sub_tabs_wrapper">
								<div class="tabs">
									<ul class="nav nav-tabs">
										<li>
											<a href="#sub-3" data-toggle="tab">Европа</a>
										</li>
										<li class="active">
											<a href="#sub-4" data-toggle="tab">Россия</a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane" id="sub-3">
											<div class="title-sub vps">VPS (виртуальный сервер)</div>
											<p class="vps">Вид хостинга, при котором множество веб-сайтов расположено на одном веб-сервере. Это самый экономичный вид хостинга, подходящий для небольших проектов. Подойдет небольшим проектам: сайтам визиткам, landing-page, промо-сайтам.</p>
											<hr class="vps">
											<ul class="services vps">
												<li>Управление доменами: <span>бесплатно</span></li>
												<li>Резервное копирование: <span>общее 1 раз/неделя</span></li>
												<li>FTP доступ: <span>есть</span></li>
												<li>SSH доступ: <span>нет</span></li>
												<li>Кол-во БД: <span>1</span></li>
												<li>Поддержка: <span>1 час/месяц</span></li>
											</ul>
											<div class="description">
												<a href="#" data-title="всплывающая подсказка">?</a>
												<a href="#" data-title="всплывающая подсказка">?</a>
												<a href="#" data-title="всплывающая подсказка" class="hdd">?</a>
											</div>
											<div class="slider_tripple_wrapper">
												
												<div class="slider_wrapper ls-n" id="slide6">
											
													 <div class="dragger"></div>
												</div>
												<div class="slider_wrapper ls-n" id="slide7">
													<input class="level3"
											               type="text"
											               data-slider="true"
											               data-slider-range="1,8"
											               data-slider-step="1"
											               data-slider-snap="true"
											               data-slider-highlight="true">
												</div>
												<div class="slider_wrapper ls-n" id="slide8">	
													 <input class="products3" type="text"
											               data-slider="true"
											               data-slider-range="1,10"
											               data-slider-step="1"
											               data-slider-snap="true"
											               data-slider-highlight="true">
												</div>
											</div>
											<div class="clearfix"></div>
											<div class="tab_price ls-p">
												 <div class="date">Стоимость в месяц<br><span class="total3">1500</span></div>
												<div class="date">Стоимость в год <span class="percent">( -16.5%)</span><br><span class="totaly3">15000</span></div>
											</div>
											<a href="#" class="open_modal ls-o buttonv1">Попробовать бесплатно<br>
											<span>(тестовый период 6 дней)</span></a>
										</div>
										<div class="tab-pane active" id="sub-4">
											<div class="title-sub vps">VPS (виртуальный сервер)</div>
											<p class="vps">Вид хостинга, при котором множество веб-сайтов расположено на одном веб-сервере. Это самый экономичный вид хостинга, подходящий для небольших проектов. Подойдет небольшим проектам: сайтам визиткам, landing-page, промо-сайтам.</p>
											<hr class="vps">
											<ul class="services vps">
												<li>Управление доменами: <span>бесплатно</span></li>
												<li>Резервное копирование: <span>общее 1 раз/неделя</span></li>
												<li>FTP доступ: <span>есть</span></li>
												<li>SSH доступ: <span>нет</span></li>
												<li>Кол-во БД: <span>1</span></li>
												<li>Поддержка: <span>1 час/месяц</span></li>
											</ul>
											<div class="description">
												<!-- <a href="#" data-title="всплывающая подсказка">?</a> -->
												<a href="#" data-title="всплывающая подсказка">?</a>
												<a href="#" data-title="всплывающая подсказка" class="ssd">?</a>
											</div>
											<div class="slider_tripple_wrapper">
												
												<div class="slider_wrapper ls-n" id="slide1">
											
													 <div class="dragger ghz"><a href="#" data-title="всплывающая подсказка">?</a></div>
												</div>
												<div class="slider_wrapper ls-n" id="slide2">
													<input class="level2"
											               type="text"
											               data-slider="true"
											               data-slider-range="1,8"
											               data-slider-step="1"
											               data-slider-snap="true"
											               data-slider-highlight="true">
												</div>
												<div class="slider_wrapper ls-n" id="slide3">	
													 <input class="products2" type="text"
											               data-slider="true"
											               data-slider-range="1,10"
											               data-slider-step="1"
											               data-slider-snap="true"
											               data-slider-highlight="true">
												</div>
											</div>
											<div class="clearfix"></div>
											<div class="tab_price ls-p">
												 <div class="date">Стоимость в месяц<br><span class="total2">1500</span></div>
												<div class="date">Стоимость в год <span class="percent">( -16.5%)</span><br><span class="totaly2">15000</span></div>
											</div>
											<a href="#" class="open_modal ls-o buttonv2">Попробовать бесплатно<br>
											<span>(тестовый период 6 дней)</span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab-3">
							<div class="sub_tabs_wrapper">
								<div class="tabs">
									<ul class="nav nav-tabs">
										<li>
											<a href="#sub-5" data-toggle="tab">Европа</a>
										</li>
										<li class="active">
											<a href="#sub-6" data-toggle="tab">Россия</a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane" id="sub-5">Контент для Европы</div>
										<div class="tab-pane active" id="sub-6">
											<div class="title-sub vps1">Dedicated (выделенный сервер)</div>
											<p class="vps1">Вид хостинга, при котором клиенту целиком предоставляется отдельная физическая машина (в противоположность виртуальному хостингу). Обычно используется для запуска приложений, которые не могут сосуществовать на одном сервере с другими проектами или имеют повышенные требования к ресурсам. Для крупных проектов: интернет магазинов (от 50 000 товаров) с интеграциями, веб-сервисы, корпоративные порталы, индивидуальные проекты.</p>
											<ul class="list_item_search vds radio">
										      <li>
										         <input type="radio" id="1vds" value="Intel Xeon E3-1270 3.5 ГГц (4 ядра) 32 ГБ DDR3 2 × 240 ГБ SSD - 14 900" name="1"/>
										         <label for="1vds">Intel Xeon E3-1270 3.5 ГГц (4 ядра) 32 ГБ DDR3 2 × 240 ГБ SSD - 14 900</label>

										         </li>
										      <li>
										         <input type="radio" id="2vds" value="Intel Xeon E5-1650v3 3.5 ГГц (6 ядер) 64 ГБ DDR4 2 × 4 ТБ SATA - 16 900" name="1"/>
										         <label for="2vds">Intel Xeon E5-1650v3 3.5 ГГц (6 ядер) 64 ГБ DDR4 2 × 4 ТБ SATA - 16 900</label>
										         </li>
										      <li>
										         <input type="radio" id="3vds" value="Intel Xeon E5-1650v3 3.5 ГГц (6 ядер) 64 ГБ DDR4 2 × 480 ГБ SSD - 18 900" name="1"/>
										         <label for="3vds">Intel Xeon E5-1650v3 3.5 ГГц (6 ядер) 64 ГБ DDR4 2 × 480 ГБ SSD - 18 900</label>
										         </li>
										    <li>
										         <input type="radio" id="4vds" value="2 × Intel Xeon E5-2630v3 2.4 ГГц (8 ядер) 64 ГБ DDR4 2 × 4 ТБ SATA, 2 × 480 ГБ SSD - 23 900" name="1"/>
										         <label for="4vds">2 × Intel Xeon E5-2630v3 2.4 ГГц (8 ядер) 64 ГБ DDR4 2 × 4 ТБ SATA, 2 × 480 ГБ SSD - 23 900</label>
										         </li>
										     <li>
										         <input type="radio" id="5vds" value="2 × Intel Xeon E5-2670v3 2.3 ГГц (12 ядер) 256 ГБ DDR4 2 × 800 ГБ SSD - 44 900" name="1"/>
										         <label for="5vds">2 × Intel Xeon E5-2670v3 2.3 ГГц (12 ядер) 256 ГБ DDR4 2 × 800 ГБ SSD - 44 900</label>
										         </li>
										   </ul>
											<a href="#" class="order buttonvd1">Заказать</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>	
<!-- END TABS TOP -->
</div>

<!-- END HEADER -->
<!-- TABS CENTER -->
<div class="tabs-center-bg" id="tabs_center">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="tabs-center">
					<div class="tabs">
						<ul class="nav nav-tabs">
							<li><a href="#tabc-1" data-toggle="tab">О нас</a></li>
							<li class="active"><a href="#tabc-2" data-toggle="tab">Дата центр</a></li>
							<li><a href="#tabc-3" data-toggle="tab">Тех.поддержка</a></li>
							<li><a href="#tabc-4" data-toggle="tab">FAQ</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade" id="tabc-1">
							<img src="images/phone_img.jpg" alt="" class="phone animation_2 vps1">
						
								<div class="tabs_center_text">
									<div class="tabs_center_title">IDF COMPANY</div>
									<p>На сегодняшний день IDF COMPANY - это аккредитованная ит-компания РФ, собственная хостинг-площадка, более 100 реализованных проектов, комплекс компетенций, а также 95% индекс потребительской лояльности, а это значит что почти все клиенты довольны нашей работой.</p>
									<p>На сегодняшний день IDF COMPANY - это аккредитованная ит-компания РФ, собственная хостинг-площадка, более 100 реализованных проектов, комплекс компетенций, а также 95% индекс потребительской лояльности, а это значит что почти все клиенты довольны нашей работой.</p>
									<p>На сегодняшний день IDF COMPANY - это аккредитованная ит-компания РФ, собственная хостинг-площадка, более 100 реализованных проектов, комплекс компетенций, а также 95% индекс потребительской лояльности, а это значит что почти все клиенты довольны нашей работой.</p>
								</div></div>
							<div class="tab-pane active" id="tabc-2">
								<img src="images/phone_img.jpg" alt="" class="phone animation_2 vps1">
								<div class="tabs_center_text">
									<div class="tabs_center_title">IDF COMPANY</div>
									<p>На сегодняшний день IDF COMPANY - это аккредитованная ит-компания РФ, собственная хостинг-площадка, более 100 реализованных проектов, комплекс компетенций, а также 95% индекс потребительской лояльности, а это значит что почти все клиенты довольны нашей работой.</p>
									<p>На сегодняшний день IDF COMPANY - это аккредитованная ит-компания РФ, собственная хостинг-площадка, более 100 реализованных проектов, комплекс компетенций, а также 95% индекс потребительской лояльности, а это значит что почти все клиенты довольны нашей работой.</p>
									<p>На сегодняшний день IDF COMPANY - это аккредитованная ит-компания РФ, собственная хостинг-площадка, более 100 реализованных проектов, комплекс компетенций, а также 95% индекс потребительской лояльности, а это значит что почти все клиенты довольны нашей работой.</p>
								</div>
							</div>
							<div class="tab-pane fade" id="tabc-3"><img src="images/phone_img.jpg" alt="" class="phone animation_2 vps1">
								<div class="tabs_center_text">
									<div class="tabs_center_title">IDF COMPANY</div>
									<p>На сегодняшний день IDF COMPANY - это аккредитованная ит-компания РФ, собственная хостинг-площадка, более 100 реализованных проектов, комплекс компетенций, а также 95% индекс потребительской лояльности, а это значит что почти все клиенты довольны нашей работой.</p>
									<p>На сегодняшний день IDF COMPANY - это аккредитованная ит-компания РФ, собственная хостинг-площадка, более 100 реализованных проектов, комплекс компетенций, а также 95% индекс потребительской лояльности, а это значит что почти все клиенты довольны нашей работой.</p>
									<p>На сегодняшний день IDF COMPANY - это аккредитованная ит-компания РФ, собственная хостинг-площадка, более 100 реализованных проектов, комплекс компетенций, а также 95% индекс потребительской лояльности, а это значит что почти все клиенты довольны нашей работой.</p>
								</div></div>
							<div class="tab-pane fade" id="tabc-4"><img src="images/phone_img.jpg" alt="" class="phone animation_2 vps1">
								<div class="tabs_center_text">
									<div class="tabs_center_title">IDF COMPANY</div>
									<p>На сегодняшний день IDF COMPANY - это аккредитованная ит-компания РФ, собственная хостинг-площадка, более 100 реализованных проектов, комплекс компетенций, а также 95% индекс потребительской лояльности, а это значит что почти все клиенты довольны нашей работой.</p>
									<p>На сегодняшний день IDF COMPANY - это аккредитованная ит-компания РФ, собственная хостинг-площадка, более 100 реализованных проектов, комплекс компетенций, а также 95% индекс потребительской лояльности, а это значит что почти все клиенты довольны нашей работой.</p>
									<p>На сегодняшний день IDF COMPANY - это аккредитованная ит-компания РФ, собственная хостинг-площадка, более 100 реализованных проектов, комплекс компетенций, а также 95% индекс потребительской лояльности, а это значит что почти все клиенты довольны нашей работой.</p>
								</div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- EDN TABS CENTER -->
<!-- OUR CLIENTS -->
<div class="main_slider_wrapper">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="section_h1">Наши клиенты</h1>
			<div id="myCarousel" class="carousel slide section_h1">
	<!-- Индикаторы слайдов -->
		<ol class="carousel-indicators">
			<li class="active" data-target="#carousel" data-slide-to="0"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
			<li data-target="#carousel" data-slide-to="3"></li>
			<li data-target="#carousel" data-slide-to="4"></li>
		</ol>
		<!-- Слайды -->
		<div class="carousel-inner">
			<div class="item active">
				<a href=""><img src="images/slider_img1.jpg" alt=""></a>
				<a href=""><img src="images/slider_img2.jpg" alt=""></a>
				<a href=""><img src="images/slider_img3.jpg" alt=""></a>
				<a href="" class="vps1"><img src="images/slider_img4.jpg" alt=""></a>
				<a href="" class="vps1"><img src="images/slider_img5.jpg" alt=""></a>
			</div>
			<div class="item">
				<a href=""><img src="images/slider_img1.jpg" alt=""></a>
				<a href=""><img src="images/slider_img2.jpg" alt=""></a>
				<a href=""><img src="images/slider_img3.jpg" alt=""></a>
				<a href="" class="vps1"><img src="images/slider_img4.jpg" alt=""></a>
				<a href="" class="vps1"><img src="images/slider_img5.jpg" alt=""></a>
			</div>
			<div class="item">
				<a href=""><img src="images/slider_img1.jpg" alt=""></a>
				<a href=""><img src="images/slider_img2.jpg" alt=""></a>
				<a href=""><img src="images/slider_img3.jpg" alt=""></a>
				<a href="" class="vps1"><img src="images/slider_img4.jpg" alt=""></a>
				<a href="" class="vps1"><img src="images/slider_img5.jpg" alt=""></a>
			</div>
			<div class="item">
				<a href=""><img src="images/slider_img1.jpg" alt=""></a>
				<a href=""><img src="images/slider_img2.jpg" alt=""></a>
				<a href=""><img src="images/slider_img3.jpg" alt=""></a>
				<a href="" class="vps1"><img src="images/slider_img4.jpg" alt=""></a>
				<a href="" class="vps1"><img src="images/slider_img5.jpg" alt=""></a>
			</div>
			<div class="item">
				<a href=""><img src="images/slider_img1.jpg" alt=""></a>
				<a href=""><img src="images/slider_img2.jpg" alt=""></a>
				<a href=""><img src="images/slider_img3.jpg" alt=""></a>
				<a href="" class="vps1"><img src="images/slider_img4.jpg" alt=""></a>
				<a href="" class="vps1"><img src="images/slider_img5.jpg" alt=""></a>
			</div>		
		</div>
	<!-- ARROWS -->
	<a href="#carousel" class="left-carousel-control vps1" data-slide="prev">
	</a>
	<a href="#carousel" class="right-carousel-control vps1" data-slide="next">
	</a>
</div>
		</div>
	</div>
</div>
</div>
<!-- END OUR CLIENTS -->
<!-- MAP -->
	<div class="row-fluid">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div id="map">
			</div>
		</div>
	</div>

<!-- END MAP -->
<!-- FOOTER -->
<div class="clearfix"></div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-2 ">
				<div class="vps">
				<img src="images/logo.png" alt="IDF COMPANY" class="logo_bottom">
				<div class="copyright">&#169; IDF COMPANY 2014-2016</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-12">
				<ul class="menu-bottom ">
					<li><a href="#" class="first">Поддержка сайтов</a></li>
					<li><a href="#" class="advatages">Хостинг</a></li>
					<li><a href="#">Скачать презентацию</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<p>ООО "АЙ ДИ ЭФ"</p><br>
				<p>Общество с ограниченной<br> ответственностью "АЙ ДИ ЭФ" </p>
				<p>ИНН: 7723896543</p>    
				<p>КПП: 772301001</p>
				<p>ОГРН: 1147746057414</p>  
				<p>ОКПО: 27133315</p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<p>Расчетный счет: 40702810738000079698</p>
				<p>Корр. счет: 30101810400000000225</p>
				<p>ПАО Сбербанк г.Москва | БИК: 044525225
				</p>
				<p>ИНН банка: 7707083893</p>
			</div>
		</div>
	</div>
</footer>
<!-- END FOOTER -->
<!-- MODAL -->
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div class="overlay" id="overlay" style="display:none;"></div> 
        	<div class="nonebox" id="nonebox"> 
         		<a class="box-close one" id="box-close" href="#"></a>
         		<div class="modal_content">
         			<div class="tabs">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#modal-tab1" data-toggle="tab">Физическое лицо</a></li>
								<li><a href="#modal-tab2" data-toggle="tab">Юридическое лицо</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="modal-tab1">
									<form id="form1">
										<input type="text" name="name" placeholder="Ваше имя:" class="input_modal">
										<input type="text" name="mail" placeholder="Ваш e-mail:" class="input_modal">
										<input type="text" name="phone" placeholder="Телефон:" class="input_modal">
									</form>
									<div class="right_side_modal">
										<div class="title_chosen">Европа</div>
										<div class="title_chosen">Хостинг</div>
										<p id="slide4"><span class="dragger"></span></p><br>
										<select name="period" id="">
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
										</select>
									</div>
									<div class="clearfix"></div>
									<hr>
									<div class="buy_button"><span class="total">490</span><span>рублей</span><a href="#" class="buy">Купить</a></div>
								</div>
								<div class="tab-pane" id="modal-tab2">
									<form id="form1">
										<input type="text" name="name" placeholder="Ваше имя:" class="input_modal">
										<input type="text" name="mail" placeholder="Ваш e-mail:" class="input_modal">
										<input type="text" name="phone" placeholder="Телефон:" class="input_modal">
									</form>
									<div class="right_side_modal">
										<div class="title_chosen">Европа</div>
										<div class="title_chosen">Хостинг</div>
										<p id="slide4"><span class="dragger"></span></p><br>
										<select name="period" id="">
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
										</select>
									</div>
									<div class="clearfix"></div>
									<hr>
									<div class="buy_button"><span class="total">490</span><span>рублей</span><a href="#" class="buy">Купить</a></div>
								</div>
							</div>
						</div>
         		</div>
  			</div>
  			<div class="overlay1" id="overlay1" style="display:none;"></div> 
        	<div class="nonebox1" id="nonebox1"> 
         		<a class="box-close one" id="box-close1" href="#"></a>
         		<div class="modal_content">
         			<div class="tabs">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#modal-tab3" data-toggle="tab">Физическое лицо</a></li>
								<li><a href="#modal-tab4" data-toggle="tab">Юридическое лицо</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="modal-tab3">
									<form id="form2">
										<input type="text" name="name" placeholder="Ваше имя:" class="input_modal">
										<input type="text" name="mail" placeholder="Ваш e-mail:" class="input_modal">
										<input type="text" name="phone" placeholder="Телефон:" class="input_modal">
									</form>
									<div class="right_side_modal">
										<div class="title_chosen">Россия</div>
										<div class="title_chosen">Хостинг</div>
										<p id="slide5"><span class="dragger"></span></p><br>
										<select name="period" id="">
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
										</select>
									</div>
									<div class="clearfix"></div>
									<hr>
									<div class="buy_button"><span class="total1">490</span><span>рублей</span><a href="#" class="buy">Купить</a></div>
								</div>
								<div class="tab-pane" id="modal-tab4">
									<form id="form3">
										<input type="text" name="name" placeholder="Ваше имя:" class="input_modal">
										<input type="text" name="mail" placeholder="Ваш e-mail:" class="input_modal">
										<input type="text" name="phone" placeholder="Телефон:" class="input_modal">
									</form>
									<div class="right_side_modal">
										<div class="title_chosen">Россия</div>
										<div class="title_chosen">Хостинг</div>
										<p id="slide5"><span class="dragger"></span></p><br>
										<select name="period" id="">
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
										</select>
									</div>
									<div class="clearfix"></div>
									<hr>
									<div class="buy_button"><span class="total1">490</span><span>рублей</span><a href="#" class="buy">Купить</a></div>
								</div>
							</div>
						</div>
         		</div>
  			</div>
  			<div class="overlay2" id="overlay2" style="display:none;"></div> 
        	<div class="nonebox2" id="nonebox2"> 
         		<a class="box-close one" id="box-close2" href="#"></a>
         		<div class="modal_content">
         			<div class="tabs">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#modal-tab5" data-toggle="tab">Физическое лицо</a></li>
								<li><a href="#modal-tab6" data-toggle="tab">Юридическое лицо</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="modal-tab5">
									<form id="form4">
										<input type="text" name="name" placeholder="Ваше имя:" class="input_modal">
										<input type="text" name="mail" placeholder="Ваш e-mail:" class="input_modal">
										<input type="text" name="phone" placeholder="Телефон:" class="input_modal">
									</form>
									<div class="right_side_modal">
										<div class="title_chosen">Европа</div>
										<div class="title_chosen">Виртуальный сервер</div>
										<p id="slide6"><span  class="dragger"></span><span>X</span></p><p id="slide7"><span  class="dragger"></span><span>X</span></p><p id="slide8"><span  class="dragger"></span></p>
										<select name="period" id="">
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
										</select>
									</div>
									<div class="clearfix"></div>
									<hr>
									<div class="buy_button"><span class="total3">490</span><span>рублей</span><a href="#" class="buy">Купить</a></div>
								</div>
								<div class="tab-pane" id="modal-tab6">
									<form id="form5">
										<input type="text" name="name" placeholder="Ваше имя:" class="input_modal">
										<input type="text" name="mail" placeholder="Ваш e-mail:" class="input_modal">
										<input type="text" name="phone" placeholder="Телефон:" class="input_modal">
									</form>
									<div class="right_side_modal">
										<div class="title_chosen">Европа</div>
										<div class="title_chosen">Виртуальный сервер</div>
										<p id="slide6"><span  class="dragger"></span><span>X</span></p><p id="slide7"><span  class="dragger"></span><span>X</span></p><p id="slide8"><span  class="dragger"></span></p>
										<select name="period" id="">
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
										</select>
									</div>
									<div class="clearfix"></div>
									<hr>
									<div class="buy_button"><span class="total3">490</span><span>рублей</span><a href="#" class="buy">Купить</a></div>
								</div>
							</div>
						</div>
         		</div>
  			</div>
  			<div class="overlay3" id="overlay3" style="display:none;"></div> 
        	<div class="nonebox3" id="nonebox3"> 
         		<a class="box-close one" id="box-close3" href="#"></a>
         		<div class="modal_content">
         			<div class="tabs">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#modal-tab7" data-toggle="tab">Физическое лицо</a></li>
								<li><a href="#modal-tab8" data-toggle="tab">Юридическое лицо</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="modal-tab7">
									<form id="form6">
										<input type="text" name="name" placeholder="Ваше имя:" class="input_modal">
										<input type="text" name="mail" placeholder="Ваш e-mail:" class="input_modal">
										<input type="text" name="phone" placeholder="Телефон:" class="input_modal">
									</form>
									<div class="right_side_modal">
										<div class="title_chosen">Россия</div>
										<div class="title_chosen">Виртуальный сервер</div>
										<p id="slide1"><span  class="dragger"></span><span>X</span></p><p id="slide2"><span  class="dragger"></span><span>X</span></p><p id="slide3"><span  class="dragger"></span></p>
										<select name="period" id="">
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
										</select>
									</div>
									<div class="clearfix"></div>
									<hr>
									<div class="buy_button"><span class="total2">490</span><span>рублей</span><a href="#" class="buy">Купить</a></div>
								</div>
								<div class="tab-pane" id="modal-tab8">
									<form id="form7">
										<input type="text" name="name" placeholder="Ваше имя:" class="input_modal">
										<input type="text" name="mail" placeholder="Ваш e-mail:" class="input_modal">
										<input type="text" name="phone" placeholder="Телефон:" class="input_modal">
									</form>
									<div class="right_side_modal">
										<div class="title_chosen">Россия</div>
										<div class="title_chosen">Виртуальный сервер</div>
										<p id="slide1"><span  class="dragger"></span><span>X</span></p><p id="slide2"><span  class="dragger"></span><span>X</span></p><p id="slide3"><span  class="dragger"></span></p>
										<select name="period" id="">
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
										</select>
									</div>
									<div class="clearfix"></div>
									<hr>
									<div class="buy_button"><span class="total2">490</span><span>рублей</span><a href="#" class="buy">Купить</a></div>
								</div>
							</div>
						</div>
         		</div>
  			</div>
  			<div class="overlay4" id="overlay4" style="display:none;"></div> 
        	<div class="nonebox4" id="nonebox4"> 
         		<a class="box-close one" id="box-close4" href="#"></a>
         		<div class="modal_content">
         			<div class="tabs">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#modal-tab8" data-toggle="tab">Физическое лицо</a></li>
								<li><a href="#modal-tab9" data-toggle="tab">Юридическое лицо</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="modal-tab8">
									<form id="form6">
										<input type="text" name="name" placeholder="Ваше имя:" class="input_modal">
										<input type="text" name="mail" placeholder="Ваш e-mail:" class="input_modal">
										<input type="text" name="phone" placeholder="Телефон:" class="input_modal">
									</form>
									<div class="right_side_modal">
										<div class="title_chosen">Россия</div>
										<div class="title_chosen">Выделенный сервер</div>
										<p><span class="c_type"></span> рублей</p>
										<select name="period" id="">
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
										</select>
									</div>
									<div class="clearfix"></div>
									<hr>
									<div class="buy_button"><span class="total2"></span><a href="#" class="buy">Купить</a></div>
								</div>
								<div class="tab-pane" id="modal-tab9">
									<form id="form7">
										<input type="text" name="name" placeholder="Ваше имя:" class="input_modal">
										<input type="text" name="mail" placeholder="Ваш e-mail:" class="input_modal">
										<input type="text" name="phone" placeholder="Телефон:" class="input_modal">
									</form>
									<div class="right_side_modal">
										<div class="title_chosen">Россия</div>
										<div class="title_chosen">Выделенный сервер</div>
										<p><span class="c_type"></span> рублей</p>
										<select name="period" id="">
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
											<option value="">1 месяц</option>
										</select>
									</div>
									<div class="clearfix"></div>
									<hr>
									<div class="buy_button"><span class="total2"></span><a href="#" class="buy">Купить</a></div>
								</div>
							</div>
						</div>
         		</div>
  			</div>
		</div>	
	</div>
</div>
</div> 
<!-- END MODAL -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/animate-css.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/simple-slider.js"></script>
<script src="js/calculator_common.js"></script>
<script src="js/jquery.touchwipe.min.js"></script>
<script src="js/script.js"></script>
<script>
ymaps.ready(function () {
    var myMap = new ymaps.Map('map', {
            center: [55.805579, 37.568497],
            zoom: 16,
          controls: ['zoomControl']
        }, {
            searchControlProvider: 'yandex#search'
        }),
        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: 'Собственный значок метки',
            balloonContent: 'проезд Серебрякова, 14бс5 '
        }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: 'images//marker.png',
            // Размеры метки.
            iconImageSize: [300, 30],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-15, -15]
        });

    myMap.geoObjects.add(myPlacemark);
    myMap.behaviors.disable('scrollZoom');
});
</script>
<script>
	$('#mySelect').on('change', function (e) {
    $('#myTab li a').eq($(this).val()).tab('show'); 
});
</script>
<script type="text/javascript">
	$().ready(function () {
         $('.list_item_search input').change(function () {

            var values = new Array();

            $('input:checked', $(this).parents('.list_item_search').get(0)).each(function () {
               var value = $(this).attr('value');
               values.push(value);
            })

            var result = values.join();

            $('.c_type').html(result);
         });
      }); 
</script>
  </body>
</html>