<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Мохито</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media.css">
	<link rel="stylesheet" href="css/fonts.css">
    <link href="css/jquery.bxslider.css" rel="stylesheet" />
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- header -->
<div class="header_bg">
    <header>
        <div class="container">
            <div id="header_content">
                <img src="images/logo.png" alt="#">
                <div class="header_text">
                Маникюр, педикюр,<br>
                наращивание ногтей и ресниц,<br>
                Neil дизайн, депиляция
                </div>
                <div class="header_contacts">
                    <div class="header_contacts_1">
                        <img src="images/icon.png" class="logo alt="#">
                        8 (920) 222-34-22
                    </div>
                    <div class="header_contacts_2">
                        <img src="images/icon2.png" alt="#">
                        г.Воронеж, ул. Шишкова, 142
                    </div>
                    <div class="header_contacts_3">
                        <a href=""><img src="images/2-layers.png" alt="#"></a>
                        <a href=""><img src="images/2-layers2.png" alt="#"></a>
                        <a href=""><img src="images/2-layers3.png" alt="#"></a>
                        <a href=""><img src="images/2-layers4.png" alt="#"></a>
                    </div>
                </div>
            </div>
            <div class="header_line">
                <img src="images/line.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="uslugi.html" class="active">Услуги и цены</a></li>
                    <li><a href="otzivi.html">Отзывы</a></li>
                    <li><a href="foto.html">Фото</a></li>
                    <li><a href="kontakti.html">Контакты</a></li>
                </ul>
            </div>
            <div class="header_bt">
                <input value="Онлайн запись" class="hbt1" type="submit">
            </div>
        </div>
    </header>
</div>
<!-- end header -->

<!-- content -->   
<div class="content">
<div class="container">
        <div class="main_h1">
             <h3>Маникюр</h3>
        </div>
        <div class="ulugi_block">
                  <img src="images/photo_01.png" alt="#">     
        </div>
        <div class="ulugi_block_1">
        Таким образом укрепление и развитие структуры способствует подготовки и реализации дальнейших направлений развития. Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
        <p>Таким образом реализация намеченных плановых заданий требуют от нас анализа направлений прогрессивного развития. Не следует, однако забывать, что сложившаяся структура организации требуют определения и уточнения модели развития.</p>
        <p>Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации форм развития.</p>
        <p>Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития.</p>    
        </div>
        <div class="open_uslugi_bt">
              <input value="Быстрая запись" class="open_uslugi_bt_1" type="submit">
        </div>
        <div class="open_uslugi_line">
             <img src="images/line3.png" alt="#">
        </div>
        <div class="open_uslugi_h">
            Прайс лист педикюр
        </div>
        <table class="uslugi_table">
            <tr>
                <td class="uslugi_title">Педикюр</td>
                <td class="uslugi_price">от 200 руб.</td>
                <td class="uslugi_title2">Покрытие «Кошачий глаз»</td>
                <td class="uslugi_price">от 200 руб.</td>
            </tr>
            <tr>
                <td class="uslugi_title">Покрытие shellac</td>
                <td class="uslugi_price">от 200 руб.</td>
                <td class="uslugi_title2">Лечебное покрытие IBX</td>
                <td class="uslugi_price">от 200 руб.</td>
            </tr>
            <tr>
                <td class="uslugi_title">Покрытие лак</td>
                <td class="uslugi_price">от 200 руб.</td>
                <td class="uslugi_title2">Снятие гель-лака</td>
                <td class="uslugi_price">от 200 руб.</td>
            </tr>
        </table>
         <div class="open_uslugi_line">
             <img src="images/line3.png" alt="#">
        </div>
     </div>
</div>
<!-- end content -->

<!-- footer -->
<div class="footer_bg">
   <footer>
       <div class="container">
         <div id="footer_content">
                <div class="footer_text1">
                    www.mohito.com © 2016<br>
                    Все права защищены
                </div>
                
                <div class="footer_text2">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="uslugi.html">Услуги и цены</a></li>
                        <li><a href="">Онлайн запись</a></li>

                    </ul>
                </div>
                <div class="footer_text3">
                  <ul>
                        <li><a href="otzivi.html">Отзывы</a></li>
                        <li><a href="foto.html">Фото</a></li>
                        <li><a href="kontakti.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer_text4">
                    <img src="images/10-layers.png" alt="#"><br>
                    <div class="footer_bt">
                        <input value="Онлайн запись" class="fbt1" type="submit">
                    </div>
                </div>
                <div class="footer_contacts">
                    <div class="footer_contacts_1">
                        8 (920) 222-34-22
                    </div>
                    <div class="footer_contacts_2">
                        г.Воронеж, ул. Шишкова, 142
                    </div>
                    <div class="footer_contacts_3">
                        <a href=""><img src="images/2-layers.png" alt="#"></a>
                        <a href=""><img src="images/2-layers2.png" alt="#"></a>
                        <a href=""><img src="images/2-layers3.png" alt="#"></a>
                        <a href=""><img src="images/2-layers4.png" alt="#"></a>
                    </div>
                </div>
            </div>
       </div>
   </footer>
</div>
<!-- end footer -->

     <script>$(document).ready(function(){
  $('.bxslider').bxSlider();
});</script>
<!-- jQuery library (served from Google) -->
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- bxSlider Javascript file -->
     <script src="js/jquery.bxslider.min.js"></script>
<!-- bxSlider CSS file -->

	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>