<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Мохито</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media.css">
	<link rel="stylesheet" href="css/fonts.css">
    <link href="css/jquery.bxslider.css" rel="stylesheet" />
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- header -->
<div class="header_bg">
    <header>
        <div class="container">
            <div id="header_content">
                <img src="images/logo.png" class="logo alt="#">
                <div class="header_text">
                Маникюр, педикюр,<br>
                наращивание ногтей и ресниц,<br>
                Neil дизайн, депиляция
                </div>
                <div class="header_contacts">
                    <div class="header_contacts_1">
                        <img src="images/icon.png" alt="#">
                        8 (920) 222-34-22
                    </div>
                    <div class="header_contacts_2">
                        <img src="images/icon2.png" alt="#">
                        г.Воронеж, ул. Шишкова, 142
                    </div>
                    <div class="header_contacts_3">
                        <a href=""><img src="images/2-layers.png" alt="#"></a>
                        <a href=""><img src="images/2-layers2.png" alt="#"></a>
                        <a href=""><img src="images/2-layers3.png" alt="#"></a>
                        <a href=""><img src="images/2-layers4.png" alt="#"></a>
                    </div>
                </div>
            </div>
            <div class="header_line">
                <img src="images/line.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="uslugi.html">Услуги и цены</a></li>
                    <li><a href="otzivi.html" class="active">Отзывы</a></li>
                    <li><a href="foto.html">Фото</a></li>
                    <li><a href="kontakti.html">Контакты</a></li>
                </ul>
            </div>
            <div class="header_bt">
                <input value="Онлайн запись" class="hbt1" type="submit">
            </div>
        </div>
    </header>
</div>
<!-- end header -->

<!-- content -->   
<div class="content">
   <div class="otzivi_bg_2">
    <div class="container">
        <div class="main_h1">
             Отзывы наших клиентов
        </div>
        <div class="otzivi_list">
            <ul>
                <li>
                    <div class="otzivi_list_1">
                        <div class="text_block_otz">
							<h4>Девочки большие умницы, сделали все аккуратно и красиво,я очень довольна,всем советую.Делала маникюр и педикюр.</h4>
                            <p><span>Светлана Покидышева</span><br>
                            28 июл 2016 в 17:14</p>
					    </div>
                        <div class="photo_block_otz">
                            <img src="images/photo16.png" alt="#">
                            <img src="images/photo17.png" alt="#">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="otzivi_list_1">
                        <div class="text_block_otz">
							<h4>Девочки большие умницы, сделали все аккуратно и красиво,я очень довольна,всем советую.Делала маникюр и педикюр.</h4>
                            <p><span>Светлана Покидышева</span><br>
                            28 июл 2016 в 17:14</p>
					    </div>
                        <div class="photo_block_otz">
                            <img src="images/photo16.png" alt="#">
                            <img src="images/photo17.png" alt="#">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="otzivi_list_1">
                        <div class="text_block_otz">
							<h4>Девочки большие умницы, сделали все аккуратно и красиво,я очень довольна,всем советую.Делала маникюр и педикюр.</h4>
                            <p><span>Светлана Покидышева</span><br>
                            28 июл 2016 в 17:14</p>
					    </div>
                        <div class="photo_block_otz">
                            <img src="images/photo16.png" alt="#">
                            <img src="images/photo17.png" alt="#">
                        </div>    
                    </div>
                </li>
                <li>
                    <div class="otzivi_list_1">
                        <div class="text_block_otz">
							<h4>Девочки большие умницы, сделали все аккуратно и красиво,я очень довольна,всем советую.Делала маникюр и педикюр.</h4>
                            <p><span>Светлана Покидышева</span><br>
                            28 июл 2016 в 17:14</p>
					    </div>
                        <div class="photo_block_otz">
                            <img src="images/photo16.png" alt="#">
                            <img src="images/photo17.png" alt="#">
                        </div>    
                    </div>
                </li>
                <li>
                    <div class="otzivi_list_1">
                        <div class="text_block_otz">
							<h4>Девочки большие умницы, сделали все аккуратно и красиво,я очень довольна,всем советую.Делала маникюр и педикюр.</h4>
                            <p><span>Светлана Покидышева</span><br>
                            28 июл 2016 в 17:14</p>
					    </div>
                        <div class="photo_block_otz">
                            <img src="images/photo16.png" alt="#">
                            <img src="images/photo17.png" alt="#">
                        </div>    
                    </div>
                </li>
            </ul>
        </div>
     </div>
   </div>
</div>
<!-- end content -->

<!-- footer -->
<div class="footer_bg">
   <footer>
       <div class="container">
         <div id="footer_content">
                <div class="footer_text1">
                    www.mohito.com © 2016<br>
                    Все права защищены
                </div>
                
                <div class="footer_text2">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="uslugi.html">Услуги и цены</a></li>
                        <li><a href="">Онлайн запись</a></li>

                    </ul>
                </div>
                <div class="footer_text3">
                  <ul>
                        <li><a href="otzivi.html">Отзывы</a></li>
                        <li><a href="foto.html">Фото</a></li>
                        <li><a href="kontakti.html">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer_text4">
                    <img src="images/10-layers.png" alt="#"><br>
                    <div class="footer_bt">
                        <input value="Онлайн запись" class="fbt1" type="submit">
                    </div>
                </div>
                <div class="footer_contacts">
                    <div class="footer_contacts_1">
                        8 (920) 222-34-22
                    </div>
                    <div class="footer_contacts_2">
                        г.Воронеж, ул. Шишкова, 142
                    </div>
                    <div class="footer_contacts_3">
                        <a href=""><img src="images/2-layers.png" alt="#"></a>
                        <a href=""><img src="images/2-layers2.png" alt="#"></a>
                        <a href=""><img src="images/2-layers3.png" alt="#"></a>
                        <a href=""><img src="images/2-layers4.png" alt="#"></a>
                    </div>
                </div>
            </div>
       </div>
   </footer>
</div>
<!-- end footer -->


<!-- jQuery library (served from Google) -->
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- bxSlider Javascript file -->
     <script src="js/jquery.bxslider.min.js"></script>
<!-- bxSlider CSS file -->

	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script src="js/main.js"></script>
    <script>
    $(document).ready(function(){
  $('.bxslider').bxSlider();
});
    </script>
</body>
</html>