<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Газель Столица</title>
	<link rel="shortcut icon" href="images/gazel-ctolica-favicon.ico">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
<body >
<!-- HEADER -->
<div class="container clearfix">
	<header id="head">
		<div class="left_side">
			<a href="index.html" title="Вернуться на главную страницу"><img src="images/logo.png" height="49" width="125" alt="" class="logo"></a>
			<p>Услуги грузоперевозок</p>
		</div>
		<div class="center_side">
			<p class="main_text">ГРУЗОПЕРЕВОЗКИ</p>
			<p class="main_text1">по Москве, области и России</p>
		</div>
		<div class="right_side">
			<img src="images/icon_phone.png" height="20" width="12" alt="" class="icon_phone">
			<div class="phone">+7 (985) 7-828-828</div>
			<p>Работаем круглосуточно!</p>
			<img src="images/icon_mail.png" height="14" width="16" alt="" class="icon_mail">
			<a href="">gazelst@mail.ru</a>
		</div>
	</header>
</div>	
<!-- END HEADER -->
<!-- MENU -->
<div class="menu_bg">
	<div class="container clearfix">
	<ul id="menu">
		<li><a href="about.html">О нас</a></li><a href=""></a>
		<img src="images/menu_icon.png" height="10" width="10" alt="" class="tire">
		<li><a href="taxi.html">Грузовое такси</a></li>
		<img src="images/menu_icon.png" height="10" width="10" alt="" class="tire">
		<li><a href="office.html">Офисные переезды</a></li>
		<img src="images/menu_icon.png" height="10" width="10" alt="" class="tire">
		<li><a href="apartments.html">Квартирные переезды</a></li>
		<img src="images/menu_icon.png" height="10" width="10" alt="" class="tire">
		<li><a href="reviews.html">Отзывы</a></li>
		<img src="images/menu_icon.png" height="10" width="10" alt="" class="tire">
		<li><a href="">Контакты</a></li>
	</ul>
	</div>	
</div>
<!-- END MENU -->
<!-- SLIDER -->
<div class="slider_bg">
	<div class="container clearfix">
		<div class="left_slider">
			<div class="title">Грузоперевозки</div>
			<div class="button_title">350 р. час</div>
			<p>по Москве, области и России</p>
		</div>
		<div class="right_slider">
			<div class="form clearfix">
				<form action="">
					<div class="form_h1">получите бесплатный расчет</div>
					<input type="name" name="name" class="name" placeholder="Введите имя" required>
					<input type="phone" name="name" class="phone_input" placeholder="Введите номер телефона">
					<input type="submit" class="submit_main" value="Заказать расчет">
				</form>
			</div>
		</div>
	</div>	
</div>
<!-- END SLIDER -->
<!-- ADVANTAGES -->
<div class="advantages_bg clearfix">
	<div class="container clearfix">
		<div class="h1">наши преимущества</div>
		<div class="adv_block">
			<img src="images/adv1.png" height="132" width="131" alt="">
			<p>Гарантия доставки
			точно в срок</p>
		</div>
		<div class="adv_block">
			<img src="images/adv2.png" height="132" width="131" alt="">
			<p>Опыт работы<br>
			более 5 лет</p>
		</div>
		<div class="adv_block">
			<img src="images/adv3.png" height="132" width="131" alt="">
			<p>Гарантия бережной
			доставки грузов</p>
		</div>
		<div class="adv_block">
			<img src="images/adv4.png" height="132" width="131" alt="">
			<p>Более 90% клиентов
			делают заказ повторно</p>
		</div>
		<div class="text_adv">Мы экономим ваше время, нервы и деньги. Благодаря многолетнему опыту, профессиональному коллективу и отлаженной схеме работы. При этом для оказываемых для вас услуг по грузоперевозке характерны высокая надежность, пунктуальность и гарантированная сохранность грузов.
		</div>
		<div class="letter_block">
			<div class="bigtext">1.</div>
			<div class="letter_text1">Реагируем на каждый входящий запрос и предоставляем расчет в день обращения, при сложных схемах доставки на следующий день.</div>
		</div>
		<div class="letter_block">
			<div class="bigtext">2.</div>
			<div class="letter_text2">Подбираем оптимальные маршруты, чтобы сроки доставки были минимальными. Тем самым мы экономим ваше время и деньги.</div>
		</div>
		<div class="letter_block3">
			<div class="bigtext">3.</div>
			<div class="letter_text3">
				В вашем распоряжении опытный менеджер, исправные машины и ответственные водители и грузчики.
			</div>
		</div>
	</div>
</div>
<!-- END ADVANTAGES -->
<!-- SERVICES -->
<div class="h1_services clearfix">наши услуги</div>
	<div class="container clearfix">
		<div class="text_adv">Мы предлагаем гибкие комплекты услуг грузоперевозок, способные удовлетворить любые ваши потребности: будь то квартирный, офисный или дачный переезд, а так же транспортировка любых грузов. К вашим услугам надежный автопарк и крепкие грузчики.
		</div>
		<div class="services_block1">
			<div class="services_title">Услуги
			грузчиков</div>
			<img src="images/img_services1.jpg" height="127" width="200" alt="">
			<div class="services_inside">
				<p>800 руб/4 часа</p>
				<span>(минимально)</span>
			</div>
			<a href="" class="order click">Заказать</a>
		</div>
		<div class="services_block2">
			<div class="services_title">Перевозки<br>
			по Москве</div>
			<img src="images/img_services2.jpg" height="127" width="200" alt="">
			<div class="services_inside">
				<p>1300 руб/2 часа</p>
				<span>(после 350 р/час без заезда в<br></span>
				<div class="ddd">центр)</div>
				<p>1400 руб/2 часа</p>
				<span>(после 350 р/час без заезда в<br></span>
			<div class="ddd">центр)</div>
			</div>
			<a href="" class="order1 click">Заказать</a>			
		</div>
		<div class="services_block3">
			<div class="services_title">Перевозки<br>
			в область</div>
			<img src="images/img_services3.jpg" height="-1" width="-1" alt="">
			<div class="services_inside">
				<p>20 руб/км</p>
				<span>(за МКАД)</span>
			</div>
			<a href="" class="order2 click">Заказать</a>
		</div>
		<div class="services_block4">
			<div class="services_title">Перевозки<br>
			по России</div>
			<img src="images/img_services4.jpg" height="127" width="200" alt="">
			<div class="services_inside">
				<p>Договорная</p>
			</div>
			<a href="" class="order3 click">Заказать</a>
		</div>
		<div class="bonus">Дополнительная стоимость
		за каждый последующий час:</div>
		<div class="gazel_price">
		<div class="gazel_text">Газель</div>
		<span>без заезда в центр</span>
		<div class="price_g1">350 руб/час</div>
		</div>
		<img src="images/img_gazel.jpg" height="161" width="242" alt="" class="gazel">
		<div class="gazel_price1">
		<div class="gazel_text1">Газель</div>
		<span>c заезда в центр</span>
		<div class="price_g11">400 руб/час</div>
		</div>
		<div class="gazel_price2">
		<div class="gazel_text2">Грузчики</div>
		<div class="price_g11">250 руб/час</div>
		</div>
		<img src="images/img_man.jpg" height="170" width="106" alt="" class="image_man">	
	</div>

<!-- END SERVICES -->
<!-- CALL_NOW -->
<div class="bg_call">
	<div class="container clearfix">
	<p>Хотите узнать стоимость доставки вашего груза?</p>
	<div class="second_p">Звоните по телефону +7 (985) 7-828-828</div>
	<span>или оставьте заявку на расчет:</span>
	<div class="form2">
		<form action="">
			<input type="name" name="name" class="name1" placeholder="Введите имя">
			<input type="phone" name="name" class="phone_input1" placeholder="Введите номер телефона">
			<input type="submit" class="submit_main1" value="Заказать расчет">
		</form>
	</div>
	</div>	
</div>
<!-- END CALL_NOW -->
<!-- HOW IT WORKS -->
<div class="container clearfix">
	<div class="work_h1">КАК МЫ РАБОТАЕМ</div>
	<div class="text_adv">Схема нашей работы максимально проста и удобна. Вам достаточно оставить заявку и узнать стоимость. Остальное сделаем мы.
	</div>
	<img src="images/work1.jpg" height="131" width="852" alt="" class="how">
	<div class="text_work">Вы оставляете заявку на перевозку на сайте или связывайтесь с менеджером по телефону:<br>	
	+7 (985) 7-828-828</div>
	<div class="text_work">В течении 15 минут мы связываемся с вами. Определяем задачу, согласовываем дату и время.</div>
	<div class="text_work">Машина приезжает по оговоренному адресу</div>
	<div class="text_work4">Машина приезжает на место выгрузки, вы все проверяете и оплачиваете перевозку</div>
	</div>
<!-- END HOW IT WORKS -->
<!-- MAP -->
<div id="map">
  </div>
<!-- END MAP -->
<!-- FOOTER -->
<footer>
	<div class="container clearfix">
		<div class="left_sideb">
		<a href="index.html" title="Вернуться на главную страницу"><img src="images/logo_bottom.png" height="48" width="125" alt="" class="logo_bottom"></a>
		<div class="f_bottom">Услуги грузоперевозок</div>
		</div>
		<ul id="menu_bottom">
			<li><a href="">О нас</a></li>
			<img src="images/menu_icon.png" height="10" width="10" alt="">
			<li><a href="taxi.html">Грузовое такси</a></li>
			<img src="images/menu_icon.png" height="10" width="10" alt="">
			<li><a href="office.html">Офисные переезды</a></li>
			<img src="images/menu_icon.png" height="10" width="10" alt="">
			<li><a href="apartments.html">Квартирные переезды</a></li>
			<img src="images/menu_icon.png" height="10" width="10" alt="">
			<li><a href="reviews.html">Отзывы</a></li>
			<img src="images/menu_icon.png" height="10" width="10" alt="">
			<li><a href="">Контакты</a></li>
		</ul>
		<img src="images/icon_mail.png" height="14" width="16" alt="" class="icon_mail1">
		<a href="" class="mailto">gazelst@mail.ru</a>
		<img src="images/icon_phone.png" height="20" width="12" alt="" class="phoneb">
		<div class="phone1">+7 (985) 7-828-828</div>
		<a href="" class="soc"></a>
		<p>Москва, Киевская улица, 7</p>
	</div>
</footer>
<!-- END FOOTER -->
<!-- MODAL -->
<a href="" title="Кликните чтобы закрыть окно"><div class="overlay" id="overlay" style="display:none;"></div></a> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#"></a>
        <div class="modalh1">стоимость перевозки</div>
        <form action="">
        	<input type="text" class="where" placeholder="Откуда">
        	<input type="text" class="where" placeholder="Куда">
        	<input type="text" class="where" placeholder="Выбор машины">
        	<input type="submit" value="Расчитать" class="modal_sumit">
        </form>
        </div> 
<!-- END MODAL -->
<div id="scrollup">
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/scrollup.js"></script>
<script src="js/script.js"></script>
<script src="js/yandex_map.js"></script>
</body>
</html>