<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Ораторское искусство</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/flipclock.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
	<div class="header_bg">
		<div class="main_container clearfix">
			<header>
				<img src="images/logo.png" alt="Alt" class="logo">
				<div class="contact_head">
					<span><img src="images/icon_phone.png" alt="Alt">(063) 029 16 44</span>
					<p>Звоните прямо сейчас, чтобы забронировать участие!</p>
				</div>
				<div class="clearfix"></div>
				<div class="contact_head mobile">
					<span><img src="images/icon_phone.png" alt="Alt">(063) 029 16 44</span>
					<p>Звоните прямо сейчас, чтобы забронировать участие!</p>
				</div>
			</header>
		</div>
	</div>
	<!-- END HEADER -->
	<!-- MAIN SLIDER -->
	<div class="main_slider_bg" data-parallax="scroll" data-image-src="images/main_bg.jpg" data-z-index="">
		<div class="main_container clearfix">
			<h1>Ораторское искусство от А до Я</h1>
			<h2>7 секретов<br>
			лучших ораторов мира</h2>
			<a href="#" class="join">ПРИНЯТЬ УЧАСТИЕ</a>
		</div>
		<div class="master_class_wrap">
			<div class="main_container clearfix">
				<p>Живой мастер-класс в Днепропетровске<br>
		16 апреля, ул. Чкалова 6А </p>
			</div>
		</div>
	</div>
<!-- END MAIN SLIDER -->
<!-- SALE -->
<section>
	<div class="sale_wrap">
		<div class="main_container clearfix">
			<div class="left_side">
				<div class="title">Успейте зарегистрироваться сейчас и получите скидку</div>
				<div class="clearfix"></div>
				<div class="your-clock"></div>
				<div class="price_sale">
					<div class="old_price"><p>Стоимость<span>  250  </span>гривен</p></div>
					<div class="new_price"><span>200 </span>гривен</div>
				</div>
			</div>
			<div class="right_side_form">
				<div class="right_side_form_title">КОЛИЧЕСТВО МЕСТ ОГРАНИЧЕНО</div>
				<div class="right_side_form_subtitle">Забронируйте Ваше место прямо сейчас</div>
				<form action="" id="form">
					<input type="text" placeholder="Ваше имя" class="main_input">
					<input type="text" placeholder="Ваш e-mail" class="main_input">
					<input type="text" placeholder="Ваш телефон" class="main_input">
					<input type="submit" class="send_button" value="ПРИНЯТЬ УЧАСТИЕ">
				</form>
			</div>
		</div>
	</div>
</section>
<!-- END SALE -->
<!-- REASONS -->
<div class="reasons_bg">
	<div class="main_container clearfix">
		<ul>
			<li>Вы боитесь взять слово, а когда начинаете говорить чувствуете неуверенность?</li>
			<li>На вашей презентации засыпают люди?</li>
			<li>Подчиненные на совещании смотрят не на вас, а в телефоны?</li>
			<li>Не знаете о чем говорить, когда выступаете перед людьми?</li>
			<li>Когда Вы берёте слово, коллеги обреченно поглядывают на часы?</li>
			<li>Ваши идеи не воплощаются в жизнь, потому что вы боитесь и заикнуться о них руководству?</li>
		</ul>
		<div class="today">Сегодня эти ситуации прекратяться раз и навсегда, 
		потому что Вас ждет мощная прокачка навыка публичных выступлений.</div>
		<div class="check"><span>Живой мастер-класс «Ораторское искусство от А до Я» </span>— это готовое руководство к действию для тех,  кто хочет легко и уверенно выступать перед любой аудиторией. Это база знаний, навыков и практических инструментов, необходимых для общения с группой людей. </div>
	</div>
</div>
<!-- END REASONS -->
<!-- WE RECOMMENDED -->
	<div class="main_container clearfix">
		<div class="h1">Мы рекомендуем мастер-класс</div>
		<div class="circle_wrap clearfix">
			<div class="circles_block">
				<img src="images/r_img1.png" alt="Alt">
				<p>Руководителям</p>
			</div>
			<div class="circles_block">
				<img src="images/r_img2.png" alt="Alt">
				<p>Менеджерам</p>
			</div>
			<div class="circles_block">
				<img src="images/r_img3.png" alt="Alt">
				<p>Публичным людям</p>
			</div>
			<div class="circles_block">
				<img src="images/r_img4.png" alt="Alt">
				<p>Политикам</p>
			</div>
			<div class="circles_block">
				<img src="images/r_img5.png" alt="Alt">
				<p>Владельцам бизнеса</p>
			</div>
			<div class="circles_block">
				<img src="images/r_img6.png" alt="Alt">
				<p>Продавцам</p>
			</div>
			<div class="circles_block">
				<img src="images/r_img7.png" alt="Alt">
				<p>Консультантам</p>
			</div>
			<div class="circles_block">
				<img src="images/r_img8.png" alt="Alt">
				<p>Преподавателям</p>
			</div>
			<div class="circles_block">
				<img src="images/r_img9.png" alt="Alt">
				<p>Студентам</p>
			</div>
			<div class="circles_block">
				<img src="images/r_img10.png" alt="Alt">
				<p>Журналистам</p>
			</div>
		</div>
	</div>
<!-- END WE RECOMMENDED -->
<!-- 4 HOUR -->
<div class="hour_bg clearfix">
	<div class="main_container clearfix">
		<div class="h1_hour">За 4 часа вы узнаете и освоите:</div>
		<ul>
			<li>Научитесь бороться со страхом и переводить волнение в драйв</li>
			<li>Получите пошаговый алгоритм подготовки к выступлению</li>
			<li>Приобретете раскованность и уверенность в себе</li>
			<li>Узнаете о грубых ошибках ораторов, «убивающих» интерес зрителей</li>
			<li>Научитесь управлять своими эмоциями и настроением публики</li>
			<li>Узнаете как с первых слов расположить к себе слушателей</li>
			<li>Сможете легко и уверенно выступать перед любой аудиторией</li>
		</ul>
		<a href="#" class="join_hour">ПРИНЯТЬ УЧАСТИЕ</a>
	</div>
</div>
<!-- END 4 HOUR -->
<!-- QUOTE -->
<div class="quote_bg">
	<div class="main_container clearfix">
		<img src="images/quote.png" alt="Alt" class="qutoe_l">
		<div class="quote_wrap">
			<p>Успех каждого выступления будет продвигать вас вперед и вверх, 
заставляя ставить новые амбициозные цели и каждый раз 
с помощью слов добиваться невозможного</p>
			<hr>
			<span><span class="dnm">—</span> Павел Сергиенко</span>
		</div>
		<img src="images/quote.png" alt="Alt" class="qutoe_r">
	</div>
</div>
<!-- END QUOTE -->
<!-- PROGRAMM -->
	<div class="main_container clearfix">
		<div class="h1_programm">Программа мастер-класса</div>
		<div class="h2_programm">Мастер-класс состоит из двух модулей, в которых вы получаете концентрированную информацию и конкретные решения ваших проблем во время выступлений. </div>
		<div class="h3_programm">Каждый модуль — это только практичная информация  и четкие инструкции по созданию настоящего оратора!</div>
		<div class="module_wrap clearfix">
			<div class="module_block">
				<div class="module_top">
					<p>Модуль 1</p>
					<p>Управление собой</p>
					<p>2 часа</p>
				</div>
				<ul>
					<li>Страх неудачи и страх выглядеть плохо: два способа борьбы</li>
					<li>Как донести мысль и побудить аудиторию к действию</li>
					<li>Главные приемы ораторского мастерства</li>
					<li>Подготовка к выступлению.</li>
					<li>Реакция на «трудные» вопросы слушателей.</li>
				</ul>
			</div>
			<div class="module_block">
				<div class="module_top">
					<p>Модуль 2</p>
					<p>Управление аудиторией</p>
					<p>2 часа</p>
				</div>
				<ul>
					<li>Овладение техникой убеждения и переубеждения.</li>
					<li>Приемы влияния на аудиторию.</li>
					<li>Управление собственным эмоциональным состоянием</li>
					<li>Управление эмоциональным состоянием аудитории</li>
					<li>Техника «входа в образ»</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END PROGRAMM -->
<!-- TRAINER -->
<div class="trainer_bg">
	<div class="main_container clearfix">
		<div class="h1">Кто тренер?</div>
		<img src="images/pavel.png" alt="Alt" class="pavel">
		<div class="right_t">
			<span>Павел Сергиенко</span>
			<div class="info1">Основатель Школы Лидеров</div>
			<div class="info1">Тренер ораторского искусства №1</div>
			<div class="info1">Автор книги "Мышление Миллионера"</div>
			<div class="info2">Эксперт в технологиях НЛП и Гипноза.</div>
			<div class="info2 cmb">Обучался у Фрэнка Пьюселика, Михаила Пелехатого,
Юрия Чекчурина, Тимура Гагина, Николая Козлова."</div>
			<div class="info2 cmb">Помогает людям обретать финансовую свободу,
раскрывая их врожденные таланты и способности."</div>
			<div class="info2 cmb">На мастер-классе "Ораторское искусство от А до Я" Павел поделится своим бесценным опытом успешных выступлений, которыми пользуется в своих презентациях и тренингах.</div>
			<a href="#" class="join_trener">ПРИНЯТЬ УЧАСТИЕ</a>
		</div>
	</div>
</div>
<!-- END TRAINER -->
<!-- REVIEWS -->
	<div class="main_container clearfix">
		<div class="h1">ОТЗЫВЫ</div>
		<div class="reviews_wrap clearfix">
			<div class="review_block">
				<div class="r_top">
				<img src="images/1.png" alt="Alt">
				<div class="fio">Евгения Носова</div>
				</div>
				<div class="clearfix"></div>
				<div class="r_text">На этом тренинге я узнала себя совершенно с другой стороны, так как идет очень глубокая проработка всей жизни. Могу только порекомендовать тем, кто действительно хочет научиться достижению целей. Я не потеряла ни время, ни деньги. Рекомендую. Спасибо, Павел, еще раз!</div>
			</div>
			<div class="review_block">
				<div class="r_top">
				<img src="images/7.png" alt="Alt">
				<div class="fio">Надежда Коломиец</div>
				</div>
				<div class="clearfix"></div>
				<div class="r_text">Доверие к Павлу и желание обучаться именно у него, у меня возникло еще на вебинаре, а после личной консультации я только еще больше удостоверилась, что этот человек работает по призванию! Он настоящий практик, может все доступно объяснить на жизненных примерах, и тут же показать как и где это можно применить.</div>
			</div>
			<div class="review_block">
				<div class="r_top">
				<img src="images/2.png" alt="Alt">
				<div class="fio">Александр Прокофьев</div>
				</div>
				<div class="clearfix"></div>
				<div class="r_text">
					После прохождения тренинга я начал применять техники (фишки) от Павла. Научился воздействовать на людей, таким образом, что от должников посыпались деньги, что и было целью данного тренинга. Cупер, не правда ли?!
				</div>
			</div>
			<div class="review_block">
				<div class="r_top">
				<img src="images/8.png" alt="Alt">
				<div class="fio">Татьяна Семинихина</div>
				</div>
				<div class="clearfix"></div>
				<div class="r_text">
					Благодаря обучению у Павла, я стала замечать, что ставлю перед собой задачу и сразу возможности появляются для её решения. Такое ощущение, что весь мир идёт навстречу, только успевай схватывать.
				</div>
			</div>
			<div class="review_block">
				<div class="r_top">
				<img src="images/3.png" alt="Alt">
				<div class="fio">Ольга Долинина</div>
				</div>
				<div class="clearfix"></div>
				<div class="r_text">
					Ваши техники восхитительны! Я некоторые действия выполняла раньше, но это было на бессознательном уровне, а прослушав Вашу презентацию поняла, что нужно более глубоко подходить к этой теме. Ваши знания помогают разложить все по полочкам...
				</div>
			</div>
			<div class="review_block">
				<div class="r_top">
				<img src="images/9.png" alt="Alt">
				<div class="fio">Ирина Храмцова</div>
				</div>
				<div class="clearfix"></div>
				<div class="r_text">
					Что мне нравится: все четко, ясно, структурно, много примеров. Сама последовательность тем приводит к быстрому усвоению метода. В результате - уверенность возрастает с каждым упражнением. Спасибо , Павел, вы отличный тренер. Я рада что учусь на вашем курсе.
				</div>
			</div>
			<div class="review_block">
				<div class="r_top">
				<img src="images/4.png" alt="Alt">
				<div class="fio">Татьяна Караваева</div>
				</div>
				<div class="clearfix"></div>
				<div class="r_text">
					Тренинги шикарные! Информация на уровне продвинутых практиков! Супер Павел! От вас нельзя уйти прежним... и вообще уйти. Желаю удачи в дальнейших проектах. До связи!
				</div>
			</div>
			<div class="review_block">
				<div class="r_top">
				<img src="images/10.png" alt="Alt">
				<div class="fio">Наталья Крутова</div>
				</div>
				<div class="clearfix"></div>
				<div class="r_text">
					Ощущение от сегодняшнего тренинга обалденное! Понимаю, что открываюсь чему-то новому, что поможет решать многие проблемы, улучшить качество жизни. Я очень давно искала что-то подобное, но не знала что-же мне надо. А теперь поняла и, кажется, наконец-то нашла. Спасибо Вам, Павел! Вас очень приятно и интересно слушать и работать с Вами!
				</div>
			</div>
			<div class="review_block">
				<div class="r_top">
				<img src="images/5.png" alt="Alt">
				<div class="fio">Ирина Огурцова</div>
				</div>
				<div class="clearfix"></div>
				<div class="r_text">
					Я не ставила себе, кстати, задачу увеличения своего дохода, но – он вырос примерно в 3 раза! Работодатели встали в очередь, с сайтов, где размещено мое резюме, посыпались очень интересные предложения….
				</div>
			</div>
			<div class="review_block">
				<div class="r_top">
				<img src="images/11.png" alt="Alt">
				<div class="fio">Елена Ермошина</div>
				</div>
				<div class="clearfix"></div>
				<div class="r_text">
					Павел рассказал новую технику постановки целей, и, пользуясь ей, маленькие желания стали сбываться мгновенно. За эту неделю я стала совсем другим человеком. То что раньше было для меня проблемой и тянулось годами сейчас решаю за несколько минут .
				</div>
			</div>
			<div class="review_block">
				<div class="r_top">
				<img src="images/6.png" alt="Alt">
				<div class="fio">Татьяна Самутина</div>
				</div>
				<div class="clearfix"></div>
				<div class="r_text">
					Ваши тренинги очень интересные и доступные в понимании и усвоении. Благодарю за профессиональный ваш уровень и подход к делу. Чувствуется, что вам самому это нравится. Спасибо огромное!
				</div>
			</div>
			<div class="review_block">
				<div class="r_top">
				<img src="images/12.png" alt="Alt">
				<div class="fio">Степан Ирклиенко</div>
				</div>
				<div class="clearfix"></div>
				<div class="r_text">
					Доходы выросли в два раза за счет того, что я сумел наладить более доверительные отношения с заказчиками. Теперь легко удается их убедить на работы более интересные и выгодные для меня.
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<a href="#" class="more_portfolio">показать все ОТЗЫВЫ</a>
	</div>
<!-- END REVIEWS -->
<!-- GARANCY -->
<div class="garancy_bg">
	<div class="main_container clearfix">
		<img src="images/garant.png" alt="Alt">
		<div class="garancy_text">
			<p>Помните о том, что <span>Вы защищены безоговорочной 100%-ной</span> гарантией. </p>
			<p>Если по окончанию мастер-класса Вы решите, что программа не способна качественным и количественным образом улучшить Вашу дальнейшую жизнь, немедленно скажите мне об этом, и я верну Вам Ваши деньги без лишних вопросов!</p>
		</div>
		<div class="clearfix"></div>
		<a href="#" class="garancy_button">ПРИНЯТЬ УЧАСТИЕ</a>
	</div>
</div>
<!-- END GARANCY -->
<!-- FOOTER -->
<div class="footer_bg">
	<footer>
		<div class="main_container clearfix">
			<header>
				<img src="images/logo_bottom.png" alt="Alt" class="logo">
				<div class="contact_head">
					<span><img src="images/icon_phone_bottom.png" alt="Alt">(063) 029 16 44</span>
					<p>Звоните прямо сейчас, чтобы забронировать участие!</p>
				</div>
				<div class="clearfix"></div>
				<div class="contact_head mobile">
					<span><img src="images/icon_phone.png" alt="Alt">(063) 029 16 44</span>
					<p>Звоните прямо сейчас, чтобы забронировать участие!</p>
				</div>
			</header>
		</div>
	</footer>
</div>
<!-- END FOOTER -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/flipclock.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
  </body>
</html>