<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Giacom</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" media="all" />
</head>
<body>
<!-- HEADER	 -->
	<div class="main_nav">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#">О Магазине</a></li>
				<li><a href="#">Доставка и Оплата</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
	<header>
		<div class="main_container clearfix">
			<a href="index.html"><img src="images/logo.png" alt="Alt" class="logo"></a>
			<div class="center_header">
				<input type="text" class="search_input" placeholder="Поиск">
				<div class="phone_top">
					<p>8 (800) 707-33-16</p>
					<a href="mailto:info@giacom.market">info@giacom.market</a>
				</div>
			</div>
			<div class="basket">
				<p>В корзине</p><br>
				<span>пока нет товара</span>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- GOODS -->
	<div class="goods_wrap">
		<div class="main_container clearfix">
		<div class="breadcrumbs">
			<div class="title"><img src="images/title_thimb.png" alt="Alt">Каталог товаров</div>
			<ul>
				<li><a href="#">Bazar</a><span></span></li>
				<li><a href="#">Телефоны, Mp3, GPS</a><span></span></li>
			</ul>
		</div>
		<!-- MAIN SLIDER -->
		<div class="main_slider_wrap">
			<ul class="bxslider">
				<li>
					<div class="banner_block">
						<div class="title">Поставки промышленного<br> оборудования в Россию</div>
						<img src="images/goods_bg.jpg" alt="Alt">
					</div>
				</li>
				<li>
					<div class="banner_block">
						<div class="title">Поставки промышленного<br> оборудования в Россию</div>
						<img src="images/goods_bg.jpg" alt="Alt">
					</div>
				</li>
				<li>
					<div class="banner_block">
						<div class="title">Поставки промышленного<br> оборудования в Россию</div>
						<img src="images/goods_bg.jpg" alt="Alt">
					</div>
				</li>
				<li>
					<div class="banner_block">
						<div class="title">Поставки промышленного<br> оборудования в Россию</div>
						<img src="images/goods_bg.jpg" alt="Alt">
					</div>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<!-- EDN MAIN SLIDER -->
		<div class="gps_wrap clearfix">
			<div class="gps_block">
				<a href="#" class="title">GPS</a>
				<img src="images/gps.png" alt="Alt">
			</div>
			<div class="gps_block">
				<a href="#" class="title">Смартфоны</a>
				<img src="images/gps.png" alt="Alt">
			</div>
			<div class="gps_block">
				<a href="#" class="title">Мобильные телефоны</a>
				<img src="images/gps.png" alt="Alt">
			</div>
			<div class="gps_block">
				<a href="#" class="title">Планшеты</a>
				<img src="images/gps.png" alt="Alt">
			</div>
			<div class="gps_block">
				<a href="#" class="title">Аксессуары</a>
				<img src="images/gps.png" alt="Alt">
			</div>
			<div class="gps_block">
				<a href="#" class="title">Электронные книги</a>
				<img src="images/gps.png" alt="Alt">
			</div>
			<div class="gps_block">
				<a href="#" class="title">Автоэлектроника</a>
				<img src="images/gps.png" alt="Alt">
			</div>
			<div class="gps_block">
				<a href="#" class="title">Mp3 плееры</a>
				<img src="images/gps.png" alt="Alt">
			</div>
		</div>
		<!-- POPULAR -->
		<div class="popular_towar_wrap">
			<div class="main_h1">Новинки</div>
			<div class="pop_wrap clearfix">
				<div class="pop_block">
					<img src="images/tovar_img.png" alt="Alt">
					<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
					<span>31 433 р.</span>
					<p>9 690 р. / шт.</p>
					<a href="#">В корзину</a>
					<img src="images/new_icon.png" alt="Alt" class="new_icon">
				</div>
				<div class="pop_block">
					<img src="images/tovar_img.png" alt="Alt">
					<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
					<span>31 433 р.</span>
					<p>9 690 р. / шт.</p>
					<a href="#">В корзину</a>
					<img src="images/new_icon.png" alt="Alt" class="new_icon">
				</div>
				<div class="pop_block">
					<img src="images/tovar_img.png" alt="Alt">
					<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
					<span>31 433 р.</span>
					<p>9 690 р. / шт.</p>
					<a href="#">В корзину</a>
					<img src="images/new_icon.png" alt="Alt" class="new_icon">
				</div>
				<div class="pop_block">
					<img src="images/tovar_img.png" alt="Alt">
					<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
					<span>31 433 р.</span>
					<p>9 690 р. / шт.</p>
					<a href="#">В корзину</a>
					<img src="images/new_icon.png" alt="Alt" class="new_icon">
				</div>
				<div class="pop_block">
					<img src="images/tovar_img.png" alt="Alt">
					<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
					<span>31 433 р.</span>
					<p>9 690 р. / шт.</p>
					<a href="#">В корзину</a>
					<img src="images/new_icon.png" alt="Alt" class="new_icon">
				</div>
			</div>
		</div>
		<div class="about_wrap">
		<p>Система радиосвязи, направленная на то, чтобы обеспечить пользователя связью в любом месте. Состоит из большого количества базовых станций, связанных между собой центральными коммутаторами, и сотовыми телефонами. Сотовый телефон при включении регистрируется на ближайшей базовой станции и, если на его номер звонят, центральный коммутатор находит телефон и переводит на него вызов через ближайшую базовую станцию.</p>
		<p>Во время движения звонок передается от одной базовой станции к другой (handover). Базовые станции называются вышками сотовой связи, существуют микровышки с радиусом вещания 60-100 метров, средние 100—2000 метров и макровышки 2000-10000 метров.</p>
	</div>
		</div>
	</div>
<!-- END GOODS -->
<!-- FOOTER -->
	<div class="footer_bg clearfix">
		<footer>
			<div class="main_container clearfix">
				<a href="index.html"><img src="images/logo.png" alt="Alt" class="logo"></a>
				<ul class="nav_bottom">
					<li><a href="#">О Магазине</a></li>
					<li><a href="#">Оплата</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<div class="oplata">
					<div class="title">К оплате принимаем</div>
					<img src="images/oplata_icons.png" alt="Alt">
					<div class="download-wrap">
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
				</div>
				<div class="socail_bottom">
					<div class="title">Присоединяйся к нам</div>
					<div class="social_wrap">
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
				</div>
			</div>
		</footer>
	</div>
<!-- END FOOTER -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>