<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Giacom</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<div class="main_nav">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#">О Магазине</a></li>
				<li><a href="#">Доставка и Оплата</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
	<header>
		<div class="main_container clearfix">
			<a href="index.html"><img src="images/logo.png" alt="Alt" class="logo"></a>
			<div class="center_header">
				<input type="text" class="search_input" placeholder="Поиск">
				<div class="phone_top">
					<p>8 (800) 707-33-16</p>
					<a href="mailto:info@giacom.market">info@giacom.market</a>
				</div>
			</div>
			<div class="basket">
				<p>В корзине</p><br>
				<span>пока нет товара</span>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- SIDEBAR -->
	<div class="main_container clearfix">
		<div class="sidebar">
			<div class="title"><img src="images/title_thimb.png" alt="Alt">Каталог товаров</div>
			<ul>
				<li><a href="#">Инструмент</a></li>
				<li><a href="#">Все для сада</a></li>
				<li><a href="#">Ручной инструмент</a></li>
				<li><a href="#">Силовая техника</a></li>
				<li><a href="#">Станки</a></li>
				<li><a href="#">Техника для климата, уборки</a></li>
				<li><a href="#">Электрика и свет</a></li>
			</ul>
		</div>
<!-- END SIDEBAR -->
<!-- MAIN SLIDER -->
	<div class="main_slider_wrap">
		<ul class="bxslider">
			<li>
				<div class="banner_block">
					<div class="title">Поставки промышленного<br> оборудования в Россию</div>
					<img src="images/banner.jpg" alt="Alt">
				</div>
			</li>
			<li>
				<div class="banner_block">
					<div class="title">Поставки промышленного<br> оборудования в Россию</div>
					<img src="images/banner.jpg" alt="Alt">
				</div>
			</li>
			<li>
				<div class="banner_block">
					<div class="title">Поставки промышленного<br> оборудования в Россию</div>
					<img src="images/banner.jpg" alt="Alt">
				</div>
			</li>
			<li>
				<div class="banner_block">
					<div class="title">Поставки промышленного<br> оборудования в Россию</div>
					<img src="images/banner.jpg" alt="Alt">
				</div>
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
<!-- EDN MAIN SLIDER -->
<!-- POPULAR -->
	<div class="popular_towar_wrap">
		<div class="main_h1">Популярные товары</div>
		<div class="pop_wrap clearfix">
			<div class="pop_block">
				<img src="images/tovar_img.png" alt="Alt">
				<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
				<span>31 433 р.</span>
				<p>9 690 р. / шт.</p>
				<a href="#">В корзину</a>
			</div>
			<div class="pop_block">
				<img src="images/tovar_img.png" alt="Alt">
				<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
				<span>31 433 р.</span>
				<p>9 690 р. / шт.</p>
				<a href="#">В корзину</a>
			</div>
			<div class="pop_block">
				<img src="images/tovar_img.png" alt="Alt">
				<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
				<span>31 433 р.</span>
				<p>9 690 р. / шт.</p>
				<a href="#">В корзину</a>
			</div>
			<div class="pop_block">
				<img src="images/tovar_img.png" alt="Alt">
				<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
				<span>31 433 р.</span>
				<p>9 690 р. / шт.</p>
				<a href="#">В корзину</a>
			</div>
			<div class="pop_block">
				<img src="images/tovar_img.png" alt="Alt">
				<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
				<span>31 433 р.</span>
				<p>9 690 р. / шт.</p>
				<a href="#">В корзину</a>
			</div>
			<div class="pop_block">
				<img src="images/tovar_img.png" alt="Alt">
				<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
				<span>31 433 р.</span>
				<p>9 690 р. / шт.</p>
				<a href="#">В корзину</a>
			</div>
			<div class="pop_block">
				<img src="images/tovar_img.png" alt="Alt">
				<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
				<span>31 433 р.</span>
				<p>9 690 р. / шт.</p>
				<a href="#">В корзину</a>
			</div>
			<div class="pop_block">
				<img src="images/tovar_img.png" alt="Alt">
				<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
				<span>31 433 р.</span>
				<p>9 690 р. / шт.</p>
				<a href="#">В корзину</a>
			</div>
			<div class="pop_block">
				<img src="images/tovar_img.png" alt="Alt">
				<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
				<span>31 433 р.</span>
				<p>9 690 р. / шт.</p>
				<a href="#">В корзину</a>
			</div>
			<div class="pop_block">
				<img src="images/tovar_img.png" alt="Alt">
				<div class="title">Ударная дрель <br>Bosch GSB <br>19-2 RE 0.601.17B.500</div>
				<span>31 433 р.</span>
				<p>9 690 р. / шт.</p>
				<a href="#">В корзину</a>
			</div>
		</div>
	</div>
<!-- END POPULAR -->
<!-- ABOUT -->
	<div class="main_h1">О магазине</div>
	<div class="about_wrap">
		<p>Цены ниже, доставка быстрее!</p>
		<p>Интернет магазин "ВсеИнструменты.Ру" является одним из крупнейших магазинов строительной техники. Мы предлагаем вашему вниманию более 100 000 наименований электроинструмента и садовой техники.</p>
		<p>ВсеИнструменты.ру – крупнейший российский интернет-магазин  инструмента, оборудования, техники и расходных материалов</p>
		<p>На сайте www.vseinstrumenti.ru представлено более 100 000 товаров для дома, дачи, ремонта, строительства, производства.</p>
		<p>Компания ВсеИнструменты.ру</p>
		<p>•    сотрудничает с ведущими мировыми производителями: Bosch, Makita, Metabo, Dewalt, Hitachi, Husqvarna и др., а также получает продукцию напрямую от производителей, например, инструмент с брендом SATA, который принадлежит американскому холдингу ApexToolGroup;</p>
		<p>•    выпускает и продает инструмент и оборудование под собственными торговыми марками – GIGANT и Inforce.
			<p>Компания гарантирует: только качественные сертифицированные товары по лучшим ценам с доставкой точно в срок.
				<p>Тысячи профессионалов и начинающих мастеров доверяют нам и стали постоянными покупателями. </p>
				<a href="#">Узнать подробнее конкурентные преимущества ВсеИнструменты.ру</a>
	</div>
	</div>
<!-- END ABOUT -->
<!-- FOOTER -->
	<div class="footer_bg clearfix">
		<footer>
			<div class="main_container clearfix">
				<a href="index.html"><img src="images/logo.png" alt="Alt" class="logo"></a>
				<ul class="nav_bottom">
					<li><a href="#">О Магазине</a></li>
					<li><a href="#">Оплата</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<div class="oplata">
					<div class="title">К оплате принимаем</div>
					<img src="images/oplata_icons.png" alt="Alt">
					<div class="download-wrap">
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
				</div>
				<div class="socail_bottom">
					<div class="title">Присоединяйся к нам</div>
					<div class="social_wrap">
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
				</div>
			</div>
		</footer>
	</div>
<!-- END FOOTER -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>