<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Giacom</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" media="all" />
</head>
<body>
<!-- HEADER	 -->
	<div class="main_nav">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#">О Магазине</a></li>
				<li><a href="#">Доставка и Оплата</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
	<header>
		<div class="main_container clearfix">
			<a href="index.html"><img src="images/logo.png" alt="Alt" class="logo"></a>
			<div class="center_header">
				<input type="text" class="search_input" placeholder="Поиск">
				<div class="phone_top">
					<p>8 (800) 707-33-16</p>
					<a href="mailto:info@giacom.market">info@giacom.market</a>
				</div>
			</div>
			<div class="basket">
				<p>В корзине</p><br>
				<span>пока нет товара</span>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- REGISTRATION -->
	<div class="reg_wrap">
		<div class="main_container clearfix">
			<div class="reg_form">
				<div class="title"><img src="images/title_thimb.png" alt="Alt">Регистрация</div>
				<form id="form1">
					<input type="text" name="" placeholder="Имя" class="main_input" required>
					<input type="text" name="" placeholder="Фамилия" class="main_input" required>
					<input type="text" name="" placeholder="Номер мобильного телефона" class="main_input" required>
					<input type="text" name="" placeholder="Ваш E-mail" class="main_input" required>
					<input type="text" name="" placeholder="Новый пароль" class="main_input" required>
					<p>
						<span class="inp_title">Дата рождения</span>
						<select name="1">
							<option value="">День</option>
							<option value="1">1</option>
						</select>
						<select name="1">
							<option value="">Месяц</option>
							<option value="1">1</option>
						</select>
						<select name="1">
							<option value="">Год</option>
							<option value="1">1</option>
						</select>
					</p>
					<br>
					<p class="labels">
						<input type="radio" id="q1" value="1" name="1">
						<label for="q1">Женщина</label>
					</p>
					<p class="labels">
						<input type="radio" id="q2" value="2" name="1">
						<label for="q2">Мужчина</label>
					</p>
					<input type="submit" value="Регистрация" class="submit_main">
				</form>
			</div>
		</div>
	</div>
<!-- END REGISTRATION -->
<!-- FOOTER -->
	<div class="footer_bg clearfix">
		<footer>
			<div class="main_container clearfix">
				<a href="index.html"><img src="images/logo.png" alt="Alt" class="logo"></a>
				<ul class="nav_bottom">
					<li><a href="#">О Магазине</a></li>
					<li><a href="#">Оплата</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<div class="oplata">
					<div class="title">К оплате принимаем</div>
					<img src="images/oplata_icons.png" alt="Alt">
					<div class="download-wrap">
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
				</div>
				<div class="socail_bottom">
					<div class="title">Присоединяйся к нам</div>
					<div class="social_wrap">
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
				</div>
			</div>
		</footer>
	</div>
<!-- END FOOTER -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
 </body>
</html>