<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>АРМАТА</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<div class="header_bg">
		<header>
			<div class="main_container clearfix">
				<img src="images/logo.png" alt="Alt" class="logo">
				<h1>Лимитированные авторские куртки<br>
				с эксклюзивными принтами </h1>
				<div class="phone_top">
					<p>7 (985) 348 34 48</p>
					<a href="#" class="open_modal">ЗАКАЗАТЬ ЗВОНОК</a>
				</div>
				
			</div>
		</header>
	</div>
<!-- END HEADER	 -->
<!-- MAIN SLIDER -->
	<div class="main_slider_bg clearfix">
		<div class="main_container clearfix">
			<div class="clearfix"></div>
			<div class="title_slider">Новое поколение кожаных<br> курток АРМАТА</div>
			<div class="title_slider">Т-14 и Т-304</div>
		</div>
	</div>
<!-- END MAIN SLIDER -->
<!-- POSITION -->
	<div class="position_bg">
		<div class="main_container clearfix">
			<div class="color_text">
				<div class="title">Броня от непогоды + Точное попадание в тренд + Эргономичная конструкция =</div> 
				<div class="sub_title">БЕЗУСЛОВНАЯ ПОБЕДА</div>
			</div>
			<div class="main_h1_wrap">
				<div class="main_h1">НАШИ ОСНОВНЫЕ ПОЗИЦИИ</div>
			</div>
			<div class="towar_wrap clearfix">
				<div class="towar_block">
					<ul class="bxslider1">
						<li><a href="images/towar_img1_large.jpg" class="fancybox" rel="gallery"><img src="images/towar_img1.jpg" alt="Alt"></a></li>
						<li><a href="images/towar_img1-2_large.jpg" class="fancybox" rel="gallery"><img src="images/towar_img1-2.jpg" alt="Alt"></a></li>
						<li><a href="images/towar_img1-3_large.jpeg" class="fancybox" rel="gallery"><img src="images/towar_img1-3.jpg" alt="Alt"></a></li>
						<li><a href="images/towar_img1-4_large.jpeg" class="fancybox" rel="gallery"><img src="images/towar_img1-4.jpg" alt="Alt"></a></li>
					</ul>
					<div class="towar_description">
						<div class="title">Куртка "Армата"</div>
						<div class="sub_title">Модель Т-304</div>
						<p>из мягкой кожи,<br> с эксклюзивными принтами<br>
						цвет: <span>ИНДИГО</span></p>
						<div class="price">21 700 руб.</div>
						<div class="size_wrap">
							<a href="#">S</a>
							<a href="#">M</a>
							<a href="#">L</a>
							<a href="#">XL</a>
							<a href="#">2XL</a>
						</div>
						<a href="#" class="order open_modal">ЗАКАЗАТЬ</a>
					</div>
				</div>
				<div class="towar_block">
					<ul class="bxslider1">
						<li><a href="images/towar_img2_large.jpg" class="fancybox" rel="gallery"><img src="images/towar_img2.jpg" alt="Alt"></a></li>
						<li><a href="images/towar_img2-2_large.jpg" class="fancybox" rel="gallery"><img src="images/towar_img2-2.jpg" alt="Alt"></a></li>
						<li><a href="images/towar_img2-3_large.JPG" class="fancybox" rel="gallery"><img src="images/towar_img2-3.jpg" alt="Alt"></a></li>
						<li><a href="images/towar_img2-4_large.JPG" class="fancybox" rel="gallery"><img src="images/towar_img2-4.jpg" alt="Alt"></a></li>
					</ul>
					<div class="towar_description">
						<div class="title">Куртка "Армата"</div>
						<div class="sub_title">Модель Т-14</div>
						<p>из мягкой кожи,<br> с эксклюзивными принтами<br>
						цвет: <span>ЧЕРНЫЙ</span></p>
						<div class="price">21 700 руб.</div>
						<div class="size_wrap">
							<a href="#">S</a>
							<a href="#">M</a>
							<a href="#">L</a>
							<a href="#">XL</a>
							<a href="#">2XL</a>
						</div>
						<a href="#" class="order open_modal">ЗАКАЗАТЬ</a>
					</div>
				</div>
			</div>
			<a href="#" class="right_button size_modal">КАК ПРАВИЛЬНО ПОДОБРАТЬ РАЗМЕР КУРТКИ? </a>
		</div>
	</div>
<!-- END POSITION -->
<!-- ADVANTAGES -->
	<div class="advantages_bg">
		<div class="main_container clearfix">
			<div class="main_h1_wrap">
				<div class="main_h1">Преимущества куртки АРМАТА</div>
			</div>
			<div class="advantages_wrap clearfix">
				<div class="advantages_block">
					<img src="images/advantages_icon1.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Безупречное качество</div>
						<p>Мы знаем, как важна грамотная отделка кожи и пошив изделия.</p>
					</div>
				</div>
				<div class="advantages_block">
					<img src="images/advantages_icon2.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Продуманный дизайн</div>
						<p>Незаменима для байкеров и автомобилистов</p>
					</div>
				</div>
				<div class="advantages_block">
					<img src="images/advantages_icon3.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Эксклюзив</div>
						<p>Штучный товар, самая новая модель 2016 года.</p>
					</div>
				</div>
				<div class="advantages_block">
					<img src="images/advantages_icon4.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Универсальность</div>
						<p>Отлично садится на мужчин любого телосложения</p>
					</div>
				</div>
				<div class="advantages_block">
					<img src="images/advantages_icon5.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Уникальное оформление</div>
						<p>Аэрографическая техника нанесения рисунка, которая выделит эту куртку из тысячи подобных</p>
					</div>
				</div>
				<div class="advantages_block">
					<img src="images/advantages_icon6.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Компактность</div>
						<p>Помимо внешних карманов есть два внутренних: для телефона и документов.</p>
					</div>
				</div>
				<div class="advantages_block">
					<img src="images/advantages_icon7.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Долговечность</div>
						<p>Натуральная кожа с высокой плотностю, благодаря чему изделие долговечно в носке и с возрастом становится только эффектней.</p>
					</div>
				</div>
				<div class="advantages_block">
					<img src="images/advantages_icon8.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Винтажный стиль</div>
						<p>Швы изделия специально состарены (затёрты) для того, чтобы подчеркнуть каждую деталь, и виден грунт кожи - цвет, который будет у куртки при длительном ношении.
						который будет у куртки при длительном ношении.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END ADVANTAGES -->
<!-- DELIVERY COUNTRY -->
	<div class="delivery_bg">
		<div class="main_container clearfix">
			<div class="main_h1_wrap">
				<div class="main_h1">Доставляем по всей России</div>
			</div>
			<div class="del_country">
				<div class="form_d">
					<form id="form2">
						<input type="text" name="name" placeholder="Имя" class="main_input" required>
						<input type="text" name="phone" placeholder="Телефон" class="main_input" required>
						<select name="color" class="main_select">
							<option value="">Цвет</option>
							<option value="1">Черный</option>
							<option value="2">Индиго</option>
						</select>
						<select name="size" class="main_select">
							<option value="">Размер</option>
							<option value="1">S</option>
							<option value="2">M</option>
							<option value="3">L</option>
							<option value="4">XL</option>
							<option value="5">2XL</option>
						</select>
						<input type="submit" value="ЗАКАЗАТЬ" class="main_submit">
						<input type="hidden" name="formData" value="Заявка с сайта АРМАТА">
					</form>
				</div>
				<div class="clearfix"></div>
				<p>Куртка "Армата" - из мягкой кожи, с эксклюзивными принтами - эта серия приурочена к презентации танков, которые используют инновационную технологию гусеничной системы Армата.</p>
			</div>
		</div>
	</div>
<!-- END DELIVERY COUNTRY -->
<!-- CHOOSE -->
	<div class="main_container clearfix">
		<div class="main_h1_wrap">
			<div class="main_h1">ПОЧЕМУ ВЫБИРАЮТ НАС</div>
		</div>
		<div class="choose_wrap clearfix">
			<div class="choose_block">
				<img src="images/choose_icon1.png" alt="Alt">
				<p>Только настоящая кожа, никаких заменителей!</p>
			</div>
			<div class="choose_block">
				<img src="images/choose_icon2.png" alt="Alt">
				<p>Только авторский дизайн, никаких копий.</p>
			</div>
			<div class="choose_block">
				<img src="images/choose_icon3.png" alt="Alt">
				<p>Скорость. Разорвемся, но привезем точно в срок!</p>
			</div>
			<div class="choose_block">
				<img src="images/choose_icon4.png" alt="Alt">
				<p>Доставка по всей России! Найдем Вас везде.</p>
			</div>
		</div>
	</div>
<!-- END CHOOSE -->
<!-- REVIEWS -->
	<div class="review_bg">
		<div class="main_container clearfix">
			<div class="main_h1_wrap">
				<div class="main_h1">ОТЗЫВЫ КЛИЕНТОВ</div>
			</div>
			<div class="review_wrap">
				<ul class="bxslider">
					<li>
						<div class="review_block">
							<img src="images/review_photo.jpg" alt="Alt">
							<div class="title">ИГОРЬ</div>
							<p> Танки очень хороши, тут дело вкуса. И покупая 140 я ожидал небольшие отличия, но танки реально ощутимо отличаются. Согласен, не совсем разные, но отличий больше, чем я думал. И из-за этого немного меняется гемплей. Лично для меня 140 лучше тем, что на нем просто комфортнее играть. Спасибо Вам, если дочитали этот пост до конца, хотелось поделиться. Удачных боев</p>
						</div>
					</li>
					<li>
						<div class="review_block">
							<img src="images/review_photo.jpg" alt="Alt">
							<div class="title">ИГОРЬ</div>
							<p> Танки очень хороши, тут дело вкуса. И покупая 140 я ожидал небольшие отличия, но танки реально ощутимо отличаются. Согласен, не совсем разные, но отличий больше, чем я думал. И из-за этого немного меняется гемплей. Лично для меня 140 лучше тем, что на нем просто комфортнее играть. Спасибо Вам, если дочитали этот пост до конца, хотелось поделиться. Удачных боев</p>
						</div>
					</li>
					<li>
						<div class="review_block">
							<img src="images/review_photo.jpg" alt="Alt">
							<div class="title">ИГОРЬ</div>
							<p> Танки очень хороши, тут дело вкуса. И покупая 140 я ожидал небольшие отличия, но танки реально ощутимо отличаются. Согласен, не совсем разные, но отличий больше, чем я думал. И из-за этого немного меняется гемплей. Лично для меня 140 лучше тем, что на нем просто комфортнее играть. Спасибо Вам, если дочитали этот пост до конца, хотелось поделиться. Удачных боев</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END REVIEWS -->
<!-- PAYMENT -->
	<div class="payment_bg">
		<div class="main_container clearfix">
			<div class="main_h1_wrap">
				<div class="main_h1">ОПЛАТА</div>
			</div>
			<div class="payment_wrap">
				<p>Наложенным платежом при получении товара курьеру<br> наличными, либо банковской картой. </p>
				<img src="images/payment_icon1.png" alt="Alt">
				<img src="images/payment_icon2.png" alt="Alt">
				<div class="title">гарантия возврата!</div>
				<p>Не подошел размер или обнаружили дефекты?</p>
				<p>Вы всегда можете заменить товар, в соответствие с законом РФ. </p>
				<p>В случае полного отказа необходимо оплатить стоимость доставки.</p>
			</div>
		</div>
	</div>
<!-- END PAYMENT -->
<!-- DELIVERY -->
	<div class="delivery2_bg">
		<div class="main_container clearfix">
			<div class="main_h1_wrap">
				<div class="main_h1">Доставка</div>
			</div>
			<div class="deliver2_wrap">
				<div class="title">По Москве и МО</div>
				<ul>
					<li>самовывоз по адресу:  метро Маяковская, ул. Большая Садовая 3, время работы с 12.00 до 19.00.</li>
					<li>курьерской доставкой компанией REDEXPRES. Стоимость фиксированная 250 руб.</li>
				</ul>
				<div class="title">по санкт-петербургу и ло</div>
				<ul>
					<li>курьерской доставкой компанией REDEXPRES. Стоимость фиксированная 250 руб.</li>
				</ul>
				<div class="title">По РОССИИ</div>
				<ul>
					<li>почтой России (3-7 дней). Стоимость фиксированная 300 руб. в любой регион России.</li>
					<li>курьером EMS до двери (1-3 дня). Стоимость фиксированная 750 руб. в любой регион России.</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END DELIVERY -->
<!-- MAP -->
<div id="map">
	<div class="main_container clearfix">
		<div class="map_info ac-container">
			<div class="acordeon_wrap">
				<div class="acordeon_content">
					<div id="acordeon" class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading bt1" data-toggle="collapse" data-parent="#acordeon" data-target="#collapse-1">
								<div class="panel-title bt">
									<a href="#collapse-1" data-parent="#acordeon" data-toggle="collapse" class="accordion-toggle">Как добраться пешком?</a>
								</div>
							</div>
							<div id="collapse-1" class="panel-collapse collapse in">
								<div class="panel-body">
									Доехать до станции метро "Маяковская", выход из метро в сторону Большой Садовой улицы. Пересечь Триумфальную площадь по направлению к дому Большая Садовая, 5. По улице Большая Садовая пройти до дома 3, дойти до магазина Л'Этуаль, за ним повернуть направо в арку со шлагбаумом. Зайти на проходную ГНЦ "НИОПИК". С проходной позвонить нам по телефону 8 (800) 250-09-64
								</div>
							</div>
						</div>					
					<div class="panel panel-default">
						<div class="panel-heading bt1" data-toggle="collapse" data-parent="#acordeon" data-target="#collapse-2">
							<div class="panel-title bt">
								<a href="#collapse-2" data-parent="#acordeon" data-toggle="collapse" class="accordion-toggle">Как добраться на машине?</a>
							</div>
						</div>
						<div id="collapse-2" class="panel-collapse collapse">
							<div class="panel-body">
								Доехать до станции метро "Маяковская", выход из метро в сторону Большой Садовой улицы. Пересечь Триумфальную площадь по направлению к дому Большая Садовая, 5. По улице Большая Садовая пройти до дома 3, дойти до магазина Л'Этуаль, за ним повернуть направо в арку со шлагбаумом. Зайти на проходную ГНЦ "НИОПИК". С проходной позвонить нам по телефону 8 (800) 250-09-64
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MAP -->
<!-- FOOTER -->
<footer>
	<div class="main_container clearfix">
		<img src="images/logo.png" alt="Alt" class="logo">
		<h1>Лимитированные авторские куртки<br>
			с эксклюзивными принтами </h1>
			<div class="phone_top">
				<p>7 (985) 348 34 48</p>
				<a href="#" class="open_modal">ЗАКАЗАТЬ ЗВОНОК</a>
			</div>
			<div class="clearfix"></div>
			<div class="copyright">© 2016 Все права защищены</div>
		</div>
	</footer>
<!-- END FOOTER -->
<!-- MODAL1 -->
	<div class="overlay" id="overlay" style="display:none;"></div> 
	<div class="nonebox" id="nonebox"> 
		<a class="box-close one" id="box-close" href="#"></a>
		<div class="main_h1_wrap">
			<div class="main_h1">ОФОРМИТЬ ЗАЯВКУ</div>
		</div>
		<div class="del_country">
		<div class="form_d">
			<form id="form1">
				<input type="text" name="name" placeholder="Имя" class="main_input" required>
				<input type="text" name="phone" placeholder="Телефон" class="main_input" required>
				<select name="color" class="main_select">
					<option value="">Цвет</option>
					<option value="Черный">Черный</option>
					<option value="Индиго">Индиго</option>
				</select>
				<select name="size" class="main_select">
					<option value="">Размер</option>
					<option value="S">S</option>
					<option value="M">M</option>
					<option value="L">L</option>
					<option value="XL">XL</option>
					<option value="2XL">2XL</option>
				</select>
				<input type="submit" value="ЗАКАЗАТЬ" class="main_submit">
				<input type="hidden" name="formData" value="Заявка с сайта АРМАТА">
			</form>
		</div>
		</div>
	</div> 
<!-- END MODAL1 -->
<!-- MODAL1 -->
	<div class="overlay" id="overlay2" style="display:none;"></div> 
	<div class="nonebox" id="nonebox2"> 
		<a class="box-close one" id="box-close2" href="#"></a>
			<table>
				<tr>
					<th>Российский размер</th>
					<th>Международный размер</th>
					<th>Обхват груди (см)</th>
					<th>Обхват талии (см)</th>
					<th>Обхват бедер (см)</th>
					<th>Длина рукава (см)</th>
				</tr>
				<tr>
					<td>48</td>
					<td>S</td>
					<td>96</td>
					<td>82</td>
					<td>100</td>
					<td>61</td>
				</tr>
				<tr>
					<td>50</td>
					<td>M</td>
					<td>100</td>
					<td>88</td>
					<td>104</td>
					<td>62</td>
				</tr>
				<tr>
					<td>52</td>
					<td>L</td>
					<td>104</td>
					<td>94</td>
					<td>108</td>
					<td>63</td>
				</tr>
				<tr>
					<td>54</td>
					<td>XL</td>
					<td>108</td>
					<td>100</td>
					<td>112</td>
					<td>63</td>
				</tr>
				<tr>
					<td>56</td>
					<td>XXL</td>
					<td>112</td>
					<td>106</td>
					<td>116</td>
					<td>64</td>
				</tr>
			</table>
	</div> 
<!-- END MODAL1 -->
<!-- MODAL1 -->
	<div class="overlay" id="overlay5" style="display:none;"></div> 
	<div class="nonebox" id="nonebox5"> 
		<a class="box-close one" id="box-close5" href="#"></a>
		<div class="main_h1">СПАСИБО ЗА ЗАЯВКУ</div>
		<center><p class="success">
Наш менеджер свяжется с Вами в<br> ближайщее время
    <a href="index.html">Спасибо</a></p></center>
	</div> 
<!-- END MODAL1 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/bootstrap.js"></script>
<script src="js/ajax_form.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/script.js"></script>
<script>
ymaps.ready(function () {
    var myMap = new ymaps.Map('map', {
            center: [55.767387, 37.592114],
            zoom: 16,
          controls: ['zoomControl']
        }, {
            searchControlProvider: 'yandex#search'
        }),
        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: 'Собственный значок метки',
            balloonContent: ''
        }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: 'images//location-pin.png',
            // Размеры метки.
            iconImageSize: [78, 116],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-35, -105]
        });

    myMap.geoObjects.add(myPlacemark);
    myMap.behaviors.disable('scrollZoom');
});
</script>
 </body>
</html>