<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>DOBROTERRA</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  <link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<header class="clearfix">
		<div class="main_container clearfix">
			<a href="index.html"><img src="images/logo.png" alt="DOBROTERRA" class="logo"></a>
			<ul class="nav">
				<li><a href="#" class="scrollto1">Как это работает</a></li>
				<li><a href="#" class="scrollto2">Почему это работает</a></li>
				<li><a href="#" class="scrollto3">Для кого это</a></li>
				<li><a href="#" class="scrollto5">Партнерам</a></li>
				<li><a href="voprosi.html">Помощь</a></li>
				<li><a href="#">Новости</a></li>
			</ul>
			<div class="login clearfix">
				<select name="lang" class="lang">
					<option value="ru" selected>Русский</option>
				</select>
				<a href="#" class="login_button">Войти</a>
				<a href="#" class="registration">Создать аккаунт</a>
			</div>
		</div>
	</header>
<!-- END HEADER -->
	<div class="clearfix"></div>
	<ul class="bxslider">
	  <li class="first-slide">
	  	<div class="main_container clearfix">
	  		<div class="slider_desc">
	  			<div class="main_title">Живите в свое удовольствие</div>
	  			<p>Помогая другим, вы обеспечиваете себя стабильным доходом на многие года! Присоединяйтесь!</p>
	  			<a href="#" class="big_reg">Зарегистрироваться</a>
	  			<a href="#" class="more_button scrollto1">Узнать подробнее</a>
				</div>
	  	</div>
	  </li>
	  <li class="second-slide">
	  	<div class="main_container clearfix">
	  		<div class="slider_desc">
	  			<div class="main_title">Отправляйтесь<br> в круиз этим летом</div>
	  			<p>Помогая другим, вы получаете достаточно чтобы позволить себе это!</p>
	  			<a href="#" class="big_reg">Зарегистрироваться</a>
	  			<a href="#" class="more_button scrollto1">Узнать подробнее</a>
				</div>
	  	</div>
	  </li>
	  <li class="third-slide">
	  	<div class="main_container clearfix">
	  		<div class="slider_desc">
	  			<div class="main_title">Проводите<br> больше времени с семьей</div>
	  			<p>Помогая другим, вы обеспечиваете себя и свою семью!
					Присоединяйтесь!</p>
	  			<a href="#" class="big_reg">Зарегистрироваться</a>
	  			<a href="#" class="more_button scrollto1">Узнать подробнее</a>
				</div>
	  	</div>
	  </li>
	  <li class="four-slide">
	  	<div class="main_container clearfix">
	  		<div class="slider_desc">
	  			<div class="main_title">Беззаботная жизнь рядом с детьми и внуками</div>
	  			<p>Помогая другим, вы также получаете помощь от тысяч других участников! Присоединяйтесь!</p>
	  			<a href="#" class="big_reg">Зарегистрироваться</a>
	  			<a href="#" class="more_button scrollto1">Узнать подробнее</a>
				</div>
	  	</div>
	  </li>
	  <li class="five-slide">
	  	<div class="main_container clearfix">
	  		<div class="slider_desc">
	  			<div class="main_title">Собственный<br> дом это реальность</div>
	  			<p>Помогая другим, вы исполняете все свои желания! Присоединяйтесь!</p>
	  			<a href="#" class="big_reg">Зарегистрироваться</a>
	  			<a href="#" class="more_button scrollto1">Узнать подробнее</a>
				</div>
	  	</div>
	  </li>
	  <li class="six-slide">
	  	<div class="main_container clearfix">
	  		<div class="slider_desc">
	  			<div class="main_title">Поездка<br> с семьей на<br> море</div>
	  			<p>Теперь это возможно! Присоединяйтесь и мы поможем вам исполнить ваше желание.</p>
	  			<a href="#" class="big_reg">Зарегистрироваться</a>
	  			<a href="#" class="more_button scrollto1">Узнать подробнее</a>
				</div>
	  	</div>
	  </li>
	  <li class="seven-slide">
	  	<div class="main_container clearfix">
	  		<div class="slider_desc">
	  			<div class="main_title">Мечтали о<br> собственном<br> автомобиле?</div>
	  			<p>Помогая другим, вы легко можете осуществить свою мечту. Присоединяйтесь прямо сейчас!</p>
	  			<a href="#" class="big_reg">Зарегистрироваться</a>
	  			<a href="#" class="more_button scrollto1">Узнать подробнее</a>
				</div>
	  	</div>
	  </li>
	</ul>
<!-- ABOUT -->
	<div class="about_bg">
		<div class="main_container clearfix">
			<div class="about_title">Dobroterra - международное сообщество финансовой взаимопомощи.<br>
			Основной принцип сообщества - Помогая другим, помогаешь себе!</div>
			<hr>
			<p>Присоединяясь к сообществу Добротерра, участник добровольно оказывает безвозмездную финансовую помощь, а уже через 10 дней, получает финансовую помощь от других участников в размере 115% от суммы оказанной им помощи. Помогая другим, вы помогаете себе!</p>
		</div>
	</div>
<!-- END ABOUT -->
<!-- HOW IT WORKS -->
<div class="girl_bg">
	<div class="main_container clearfix" id="scrollto1">
		<div class="h1">Как это работает</div>
		<div class="letters_wrap">
			<div class="letters_block clearfix">
				<span>1</span>
				<div class="letters_text">Вы присоединяетесь<br> к нашему<br> сообществу</div>
			</div>
			<div class="letters_block clearfix">
				<span>2</span>
				<div class="letters_text">Указываете сумму,<br> которую вы готовы<br> перевести другим<br> участникам</div>
			</div>
			<div class="letters_block clearfix">
				<span>3</span>
				<div class="letters_text">Система находит все<br> заявки на получение<br> помощи и генерирует<br> вам платежное<br> поручение</div>
			</div>
			<div class="letters_block clearfix">
				<span>4</span>
				<div class="letters_text">Вы переводите<br> финансовую помощь<br> указанным в поручении<br> участникам</div>
			</div>
			<div class="letters_block clearfix">
				<span>5</span>
				<div class="letters_text">Через 10 дней, делаете<br> заявку на получение<br> денег в размере 115%<br> от оказанной помощи</div>
			</div>
			<div class="letters_block clearfix">
				<span>6</span>
				<div class="letters_text">Получаете 100% от<br> суммы оказанной вами<br> помощи на ваш<br> Perfectmoney кошелек</div>
			</div>
			<div class="letters_block clearfix">
				<span>7</span>
				<div class="letters_text">Повторно оказываете<br> помощь другим<br> участникам на эту же<br> сумму</div>
			</div>
			<div class="letters_block clearfix">
				<span>8</span>
				<div class="letters_text">Получаете 15% от суммы<br> оказанной вами<br> помощи на ваш<br> Perfectmoney кошелек</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="calculator">
			<div class="calc_title">Укажите сумму оказываемой вами<br> помощи другим участникам:</div>
			<input type="text" class="total" placeholder="100 $">
			<table>
			<tr>
				<td>
					<span class="date_td">08.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td class="blue_bg">
					<span class="date_td">18.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">28.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td class="green_bg">
					<span class="date_td">07.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">17.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">27.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
			</tr>
			<tr>
				<td>
					<span class="date_td">08.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">18.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">28.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">07.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">17.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td class="pink_bg">
					<span class="date_td">27.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
			</tr>
			<tr>
				<td>
					<span class="date_td">08.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">18.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td class="pink_bg">
					<span class="date_td">28.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">07.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td class="green_bg">
					<span class="date_td">17.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">27.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
			</tr>
			<tr>
				<td class="green_bg">
					<span class="date_td">08.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">18.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">28.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">07.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">17.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">27.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
			</tr>
			<tr>
				<td>
					<span class="date_td">08.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td class="blue_bg">
					<span class="date_td">18.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">28.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">07.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">17.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">27.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
			</tr>
			<tr>
				<td>
					<span class="date_td">08.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">18.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td>
					<span class="date_td">28.05</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td class="pink_bg">
					<span class="date_td">07.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td class="green_bg">
					<span class="date_td">17.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
				<td class="blue_bg">
					<span class="date_td">27.06</span>
					<div class="clearfix"></div>
					<hr class="td_hr">
					<span class="total_td">15$</span>
				</td>
			</tr>
			</table>
			<div class="total_block">
				<div class="t_text">Ваша премия составит:</div>
				<div class="t_text dib">За месяц: <span class="month">260$</span></div>
				<div class="t_text dib">За 6 месяцев: <span class="month_six">1280$</span></div>
				<div class="t_text dib">ВЗа год: <span class="year">3290$</span></div>
			</div>
		</div>
		<a href="#" class="big_reg calc_button">Зарегистрироваться</a>
<!-- 		<img src="images/girl.png" alt="DOBROTERRA" class="girl"> -->
	</div>
</div>
<!-- END HOW IT WORKS -->
<!-- WHY IT WORKS -->
	<div class="why_bg" id="scrollto2">
		<div class="main_container clearfix">
			<div class="h1_white">Почему это работает</div>
			<hr>
			<div class="why_text">Проанализировав все плюсы и минусы сообществ финансовой взаимопомощи, и проконсультировавшись<br>
			с профессиональными математиками, мы выработали уникальную модель сообщества финансовой взаимопомощи,<br>
			которая обеспечит всех участников сообщества высоким и главное, стабильным доходом на многие года вперед.</div>
			<div class="cryteria_title">Основные критерии, по которым строится наше сообщество:</div>
			<div class="small_cirlces_wrap">
				<div class="small_cirlce_block">
					<img src="images/small_circle1.png" alt="DOBROTERRA">
					<div class="small_cirlce_text">Нет единого центра аккумулирования финансовых средств.<br>
					Все деньги переводятся строго между участниками,
					согласно автоматически обработанным заявкам</div>
				</div>
				<div class="small_cirlce_block">
					<img src="images/small_circle2.png" alt="DOBROTERRA">
					<div class="small_cirlce_text">Все поступления и выводы денег согласно заранее
просчитанного графика на года вперед.</div>
				</div>
				<div class="small_cirlce_block">
					<img src="images/small_circle3.png" alt="DOBROTERRA">
					<div class="small_cirlce_text">Нет управляющих, нет хранителей, нет менеджеров.
Некому украсть деньги участников.</div>
				</div>
				<div class="small_cirlce_block">
					<img src="images/small_circle4.png" alt="DOBROTERRA">
					<div class="small_cirlce_text">Контролируемый приток участников и строгие лимиты на суммы оказываемой помощи.</div>
				</div>
				<div class="small_cirlce_block">
					<img src="images/small_circle5.png" alt="DOBROTERRA">
					<div class="small_cirlce_text">Все переводы между участниками анонимны и осуществляются посредством Perfectmoney.</div>
				</div>
				<div class="small_cirlce_block">
					<img src="images/small_circle6.png" alt="DOBROTERRA">
					<div class="small_cirlce_text">Быстрая оборачиваемость. Получение премии всего через 10 дней.</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="why_subtitle"><span>Добротерра</span> - это уверенность в завтрашнем дне, высокие доходы и долгосрочность.</div>
			<a href="#" class="big_reg">Зарегистрироваться</a>
		</div>
	</div>
<!-- END WHY IT WORKS -->
<!-- PEOPLE -->
	<div class="main_container clearfix people_main_wrap" id="scrollto3">
		<div class="h1">Для кого это</div>
		<div class="peoples_wrap clearfix">
			<div class="people_block">
				<img src="images/people_img1.png" alt="DOBROTERRA">
				<p>Студент</p>
			</div>
			<div class="people_block">
				<img src="images/people_img2.png" alt="DOBROTERRA">
				<p>Рабочий</p>
			</div>
			<div class="people_block">
				<img src="images/people_img3.png" alt="DOBROTERRA">
				<p>Пенсионер</p>
			</div>
			<div class="people_block">
				<img src="images/people_img4.png" alt="DOBROTERRA">
				<p>Молодая семья</p>
			</div>
			<div class="people_block">
				<img src="images/people_img5.png" alt="DOBROTERRA">
				<p>Мама в декрете</p>
			</div>
			<div class="people_block">
				<img src="images/people_img6.png" alt="DOBROTERRA">
				<p>Доктор</p>
			</div>
			<div class="people_block">
				<img src="images/people_img7.png" alt="DOBROTERRA">
				<p>Учитель</p>
			</div>
			<div class="people_block">
				<img src="images/people_img8.png" alt="DOBROTERRA">
				<p>Водитель</p>
			</div>
			<div class="people_block">
				<img src="images/people_img9.png" alt="DOBROTERRA">
				<p>Менеджер</p>
			</div>
			<div class="people_block">
				<img src="images/people_img10.png" alt="DOBROTERRA">
				<p>Предприниматель</p>
			</div>
			<div class="people_block">
				<img src="images/people_img11.png" alt="DOBROTERRA">
				<p>Большая семья</p>
			</div>
			<div class="people_block">
				<img src="images/people_img12.png" alt="DOBROTERRA">
				<p>Парихмахер</p>
			</div>
		</div>
		<p class="people_text">Мы создали полностью автоматизированное и прозрачное сообщество финансовой взаимопомощи, которое открыто для всех<br> людей доброй воли, готовых помогать другим и повышать свое финансовое благосостояние.</p>
		<p class="people_text">Присоединяйтесь к сообществу Добротерра, преумножайте свое финансовое благосостояние и радуйтесь cвоей<br> прекрасной жизни, ведь именно для этого вы и были рождены на планете Земля!</p>
	</div>
<!-- END PEOPLE -->
<!-- YELLOW BLOCK -->
	<div class="yeloow_bg" id="scrollto5">
		<div class="main_container clearfix">
			<div class="h1_white">Присоединяйтесь к нашему сообществу!</div>
			<a href="#" class="more_button">Зарегистрироваться</a>
		</div>
	</div>
<!-- END YELLOW BLOCK -->
<!-- REVIEWS -->
	<div class="reviews_bg" id="scrollto4">
		<div class="main_container clearfix">
			<div class="h1">отзывы наших участников</div>
			<div class="reviews_wrap clearfix">
				<div class="reviews_block">
					<div class="quote clearfix">
						<img src="images/quote_icon.png" alt="DOBROTERRA">
						<div class="quote_text">Отличный проект , спасибо создателям!! Все очень круто, понятно, будем работать !!!</div>
					</div>
					<div class="post_block">
							<div class="post_text">
								<div class="name">Дарья Иванова</div>
								<div class="date">20 марта 2016, 15:20</div>
							</div>
							<img src="images/post_photo.png" alt="DOBROTERRA">
						</div>
				</div>
				<div class="reviews_block">
					<div class="quote clearfix">
						<img src="images/quote_icon.png" alt="DOBROTERRA">
						<div class="quote_text">Отличный проект , спасибо создателям!! Все очень круто, понятно, будем работать !!!</div>	
					</div>
					<div class="post_block">
							<div class="post_text">
								<div class="name">Дарья Иванова</div>
								<div class="date">20 марта 2016, 15:20</div>
							</div>
							<img src="images/post_photo.png" alt="DOBROTERRA">
						</div>
				</div>
				<div class="reviews_block">
					<div class="quote clearfix">
						<img src="images/quote_icon.png" alt="DOBROTERRA">
						<div class="quote_text">Отличный проект , спасибо создателям!! Все очень круто, понятно, будем работать !!!</div>
					</div>
					<div class="post_block">
							<div class="post_text">
								<div class="name">Дарья Иванова</div>
								<div class="date">20 марта 2016, 15:20</div>
							</div>
							<img src="images/post_photo.png" alt="DOBROTERRA">
						</div>
				</div>
			</div>
		</div>
	</div>
<!-- END REVIEWS -->
<!-- STEPS -->
	<div class="main_container clearfix steps_main_wrapper">
			<div class="h1">5 шагов к успеху</div>
			<div class="steps_wrap clearfix">
				<div class="steps_block">
					<img src="images/steps_img1.png" alt="DOBROTERRA">
					<div class="steps_title">1 ШАГ</div>
					<p>Присоединяйтесь к нам!</p>
				</div>
				<div class="steps_block">
					<img src="images/steps_img2.png" alt="DOBROTERRA">
					<div class="steps_title">2 ШАГ</div>
					<p>Помогите другим участникам</p>
				</div>
				<div class="steps_block">
					<img src="images/steps_img3.png" alt="DOBROTERRA">
					<div class="steps_title">3 ШАГ</div>
					<p>Через 10 дней<br> получите помощь</p>
				</div>
				<div class="steps_block">
					<img src="images/steps_img4.png" alt="DOBROTERRA">
					<div class="steps_title">4 ШАГ</div>
					<p>Повторите действия из 2 и 3 шага</p>
				</div>
				<div class="steps_block">
					<img src="images/steps_img5.png" alt="DOBROTERRA">
					<div class="steps_title">5 ШАГ</div>
					<p>Получайте деньги и радуйтесь жизни!</p>
				</div>
			</div>
			<a href="#" class="big_reg">Зарегистрироваться</a>
	</div>
<!-- END STEPS -->
<!-- FOOTER -->
	<div class="footer_bg custom_footer index_footer">
		<div class="main_container">
			<ul class="nav">
					<li><a href="#" class="scrollto1">Как это работает</a></li>
					<li><a href="#" class="scrollto2">Почему это работает</a></li>
					<li><a href="#" class="scrollto3">Для кого это</a></li>
					<li><a href="#" class="scrollto5">Партнерам</a></li>
					<li><a href="voprosi.html">Помощь</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
				<div class="login clearfix">
				<a href="#" class="login_button">Войти</a>
				<a href="#" class="registration">Создать аккаунт</a>
			</div>
			<div class="clearfix"></div>
			<hr>
			<a href="index.html"><img src="images/small_logo.png" alt="DOBROTERRA" class="small_logo"></a>
			<div class="copyright">Copyright 2015 Dobroterra. Все права защищены.</div>
			<a href="#" class="rules">Правила участия</a>
		</div>
	</div>
<!-- END FOOTER -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
 </body>
</html>