<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>DOBROTERRA</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  <link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
</head>
<body>
<div class="wrapperx q_wrapp scroll_ohter1">
<!-- HEADER -->
	<header class="clearfix without_bg">
		<div class="main_container clearfix">
			<a href="index.html"><img src="images/logo_b.png" alt="DOBROTERRA" class="logo"></a>
			<ul class="nav">
				<li><a href="#">Как это работает</a></li>
				<li><a href="#">Почему это работает</a></li>
				<li><a href="#">Для кого это</a></li>
				<li><a href="#">Партнерам</a></li>
				<li><a href="voprosi.html">Помощь</a></li>
				<li><a href="#">Новости</a></li>		
			</ul>
			<div class="login clearfix">
				<select name="lang" class="lang">
					<option value="ru" selected>Русский</option>
				</select>
				<a href="#" class="login_button">Войти</a>
				<a href="#" class="registration">Создать аккаунт</a>
			</div>
		</div>
	</header>
<!-- END HEADER -->
<!-- PRAVILA -->
	<div class="main_container clearfix">
		<div class="h1">Правила и условия</div>
		<div class="questions_wrap clearfix">
			<div class="left_menu pravila">
				<ul>
					<li><a href="#" class="active scroll_otherto1">Общая информация</a></li>
					<li><a href="#" class="scroll_otherto2">Обязанности участника</a></li>
					<li><a href="#" class="scroll_otherto3">Права участника</a></li>
					<li><a href="#" class="scroll_otherto4">Обязанности администрации</a></li>
				</ul>
			</div>
			<div class="main_content pravila_margin">
				<div>
					<div class="q_title">Настоящее соглашение оговаривает правила участия и устанавливает порядок взаимоотношений
	участников в сообществе.</div>
					<ul class="rules_list">
						<li><span>1.</span> Условия настоящего соглашения принимаются участниками в полном объеме и без каких-либо
						оговорок. Регистрируясь на сайте, вы соглашаетесь и присоединяетесь к данному соглашению.</li>
						<li><span>2.</span> Dobroterra.com это международное сообщество финансовой взаимопомощи. Администрация не платит процентов. Вся Ваша премия формируется из финансовой помощи участников сообщества. Сайт создан для удобства взаимодействия между участниками, предоставляя им личный кабинет на сайте, сервера для хостинга сайта и домен. </li>
						<li><span>3.</span> Администрация не принимает и не переводит деньги и является таким же участником сообщества, как и любой другой участник.</li>
						<li><span>4.</span> Участие в сообществе полностью добровольное. Участником системы может стать любой человек старше 18 лет. Финансовые средства, которые Вы переводите другим участникам, возврату не подлежат, так как Вы переводите их другим участникам в виде безвозмездной помощи.</li>
						<li><span>5.</span> Под выражением "премия" следует понимать добровольную финансовую помощь одного участника системы другому участнику системы.</li>
						<li><span>6.</span> Участник нашего сообщества соглашается с тем, что для получения помощи от других участников, он добровольно переводит финансовую помощь другим участникам. </li>
					</ul>
					<div class="rules_text">В сообществе существует правило повторного оказания помощи другим участникам каждые 10 дней</div>
					<ul class="rules_list">
						<li><span>7.</span> Участник сообщества соглашается с тем, что при запросе помощи, система будет удерживать 3% от запрашиваемой им с баланса суммы. Эти средства будут направляться на рекламу сообщества, хостинг сайта, продление домена, оплату реферальных и другие затраты администрации.</li>
						<li><span>8.</span> Регистрируясь в сообществе, Вы соглашаетесь получать письма (рассылки) на указанные Вами при регистрации почтовые адреса от администрации проекта.</li>
						<li><span>9.</span> Администрация сделала все, чтобы минимизировать риски потери средств, однако, регистрируясь в сообществе, Вы принимаете на себя все риски, связанные с потерей Ваших средств. Никогда не используйте заемные средства для участия в сообществе! </li>
					</ul>
					<div class="rules_text">Если Вы боитесь потерять свои средства - не регистрируйтесь!</div>
						<ul class="rules_list">
						<li><span>10.</span> Администрация не несет ответственности за любые потери (моральные, финансовые и прочие), возникшие у участника при использовании личного кабинета (аккаунта), предоставленного нашим сообществом. Вы используете свой аккаунт на нашем сайте на свой страх и риск. Никакие претензии при этом Вами выставлены быть не могут.</li>
						<li><span>11.</span> Регистрируясь на сайте сообщества, Вы соглашаетесь с тем, что Ваши данные (Ваш электронный адрес, Ваш логин в системе и Ваш скайп) будут доступны пригласившему Вас участнику и приглашенным Вами участникам. За любое использование Ваших данных в каких-либо целях третьими лицами администрация сообщества ответственности не несет! Со стороны администрации сообщества использование<br> Ваших данных в неправомерных целях исключено!</li>
						<li><span>12.</span> Участник самостоятельно управляет всеми переводами и запросами финансовых средств, рефералами, редактирует профиль и статус.</li>
						<li><span>13.</span> Для участия в сообществе достаточно оказать помощь другим участникам минимум на 10$.</li>
						<li><span>14.</span> Проявляйте активность в сообществе. Мы создали сообщество для взаимопомощи и общения.</li>
					</ul>
				</div>
				<div class="scroll_ohter2">
						<ul class="rules_list">
						<li><span>15. Участник обязуется:</span><br>
						- обеспечить сохранность логина и пароля для доступа к Личному кабинету в системе, не разглашать их третьим лицам.<br>
						- не распространять клеветнические утверждения и прочие негативные высказывания в адрес сообщества.<br> 
						- не выдавать себя за сотрудника, владельца или уполномоченного представителя администрации системы – любое представление должно ограничиваться наименованием «Участник сообщества»<br>
						</li>
						<li><span>16.</span> Участнику категорически запрещается:<br> 
						Использовать СПАМ для привлечения новых участников.<br>
						Мотивировать новых участников материально (выплачивать денежное вознаграждение новым участникам за регистрацию в сообществе).<br>
						Рассылать другим участникам сообщения рекламного характера.<br>
						Администрация имеет право запросить скрин или даже видео для подтверждения оплаты.
						</li>
					</ul>
				</div>
				<div class="scroll_ohter3">
						<ul class="rules_list">
						<li><span>17. Участнику разрешается:</span><br>
						- Производить информирование других лиц с целью привлечения их к участию в сообществе.<br> 
						- Создавать собственные сайты и размещать на них информацию о сообществе в целях привлечения новых участников, а также использовать для этих целей любые (без ограничений) ресурсы в Интернет, если иное не оговорено действующим законодательством страны проживания участника.<br> 
						- Направлять сообществу свои пожелания и отзывы с целью улучшения сообщества.<br>
						</li>
						<li><span>18.</span> Сообщество не несет ответственности за успех или неудачу действий Участников, связанных с использованием информации, представленной на нашем сайте. </li>
					</ul>
				</div>
				<div class="scroll_ohter4">
						<ul class="rules_list">
						<li><span>Администрация несёт ответственность исключительно за функционирование личного кабинета и сайта.</span></li>
						<li><span>19.</span> В случае выявления мошеннических действий со стороны участника (попытки проведения мошеннических операций, получение денежных переводов от пользователей обманным путем, попытки взлома личных кабинетов участников и (или) кража паролей) и т.д. администрация вправе заблокировать доступ к личному кабинету нарушителя</li>
						<li><span>20.</span> За несоблюдение правил, аккаунт участника может быть заблокирован. При этом, средства, накопленные на балансе не подлежат получению </li>
						<li><span>21.</span> Администрация сообщества может менять данные правила без согласования с участниками системы. Но основные положения будут оставаться неизменными, чтобы не вызывать дискомфорт участников системы. Правила могут меняться только в случае появления каких-либо факторов, которые каким-либо образом мешают правильной и стабильной работе сообщества</li>
						<li><span>22.</span> Администрация сообщества не несет никакой ответственности за размещенную на сайте рекламу! Информацию рекламодателей Вы используете на свой страх и риск!</li>
					</ul>
					<div class="rules_text">Подробности по вопросам участия в сообществе смотрите в разделе помощи.</div>
				</div>
			</div>
		</div>	
	</div>
<!-- END PRAVILA -->
<!-- YELLOW BLOCK -->
	<div class="yeloow_bg">
		<div class="main_container clearfix">
			<div class="h1_white">Присоединяйтесь к нашему сообществу!</div>
			<a href="#" class="more_button">Зарегистрироваться</a>
		</div>
	</div>
<!-- END YELLOW BLOCK -->
<!-- FOOTER -->
	<div class="footer_bg custom_footer">
		<div class="main_container">
			<ul class="nav">
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Почему это работает</a></li>
					<li><a href="#">Для кого это</a></li>
					<li><a href="#">Партнерам</a></li>
					<li><a href="voprosi.html">Помощь</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
				<div class="login clearfix">
				<a href="#" class="login_button">Войти</a>
				<a href="#" class="registration">Создать аккаунт</a>
			</div>
			<div class="clearfix"></div>
			<hr>
			<a href="index.html"><img src="images/small_logo.png" alt="DOBROTERRA" class="small_logo"></a>
			<div class="copyright">Copyright 2015 Dobroterra. Все права защищены.</div>
			<a href="#" class="rules">Правила участия</a>
		</div>
	</div>
<!-- END FOOTER -->
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
 </body>
</html>