<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>DOBROTERRA</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  <link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/jquery.countdown.css" rel="stylesheet">
</head>
<body>
<div class="wrapperx q_wrapp4">
<!-- HEADER -->
	<header class="clearfix without_bg">
		<div class="main_container clearfix">
			<a href="index.html"><img src="images/logo_b.png" alt="DOBROTERRA" class="logo"></a>
			<ul class="nav">
				<li><a href="index.html">ГЛАВНАЯ</a></li>
			</ul>
			<div class="social_header">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
			<div class="login clearfix">
				<select name="lang" class="lang">
					<option value="ru" selected>Русский</option>
				</select>
				<div class="login_info">afichetz.104391</div>
				<a href="cabinet.html" class="registration">Кабинет</a>
				<a href="#" class="registration">Выйти</a>
			</div>
		</div>
	</header>
<!-- END HEADER -->
<!-- SUPPORT -->
	<div class="main_container clearfix">
		<div class="cabinet_main_wrapper clearfix">
			<div class="left_menu">
				<ul>
					<li><a href="#">Профиль</a></li>
					<li><a href="#" >Рефералы</a></li>
					<li><a href="#">История транзакций</a></li>
					<li><a href="#">Помощь</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#" class="active">Суппорт</a></li>
				</ul>
			</div>
			<div class="main_content referal_wrapper support_wrapper">
				<div class="support_title">FAQ</div>
				<div class="big_table referal support_table">
					<table>
					<tr>
						<td>От кого:</td>
						<td>Admin</td>
					</tr>
					<tr class="custom_bg">
						<td>Кому:</td>
						<td>Admin</td>
					</tr>
					<tr>
						<td>Дата:</td>
						<td>10.05.2016 13:09</td>
					</tr>
					<tr class="custom_bg">
						<td>Тема:</td>
						<td>Тема тема тема тема</td>
					</tr>
				</table>
				</div>
				<div class="support_inside_text clearfix">
					<div class="title">Структура организации позволяет оценить значение новых предложений.</div>
					<span>-- [04.05.2016 20:37]</span>
					<p>Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании модели развития. Таким образом реализация намеченных плановых заданий способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт новая модель организационной деятельности представляет собой интересный эксперимент проверки дальнейших направлений развития. Не следует, однако забывать, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки дальнейших направлений развития. Разнообразный и богатый опыт рамки и место обучения кадров требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям.</p>
				</div>
				<div class="support_title">Быстрый ответ на сообщение:</div>
				<div class="recovery_wrap login_wrap">
			<form action="">
				<label for="name_r">Тема тикета</label>
				<input type="text" id="name_v" class="input_r" required>
				<label for="text_t">Текст сообщение</label>
				<textarea id="text_t" class="input_r"></textarea>
				<input type="submit" value="Отправить" class="submit_r">
			</form>
		</div>

			</div>
		</div>
	</div>
<!-- END SUPPORT -->
<!-- FOOTER -->
	<div class="footer_bg custom_footer">
		<div class="main_container">
			<ul class="nav">
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Почему это работает</a></li>
					<li><a href="#">Для кого это</a></li>
					<li><a href="#">Партнерам</a></li>
					<li><a href="voprosi.html">Помощь</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
				<div class="login clearfix">
				<a href="#" class="login_button">Войти</a>
				<a href="#" class="registration">Создать аккаунт</a>
			</div>
			<div class="clearfix"></div>
			<hr>
			<a href="index.html"><img src="images/small_logo.png" alt="DOBROTERRA" class="small_logo"></a>
			<div class="copyright">Copyright 2015 Dobroterra. Все права защищены.</div>
			<a href="#" class="rules">Правила участия</a>
		</div>
	</div>
<!-- END FOOTER -->
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.plugin.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/jquery.countdown-ru.js"></script>
<script src="js/script.js"></script>
 </body>
</html>