<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>DOBROTERRA</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  <link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
</head>
<body>
<div class="wrapperx q_wrapp4">
<!-- HEADER -->
	<header class="clearfix without_bg">
		<div class="main_container clearfix">
			<a href="index.html"><img src="images/logo_b.png" alt="DOBROTERRA" class="logo"></a>
			<ul class="nav">
				<li><a href="#">Как это работает</a></li>
				<li><a href="#">Почему это работает</a></li>
				<li><a href="#">Для кого это</a></li>
				<li><a href="#">Партнерам</a></li>
				<li><a href="voprosi.html">Помощь</a></li>
				<li><a href="#">Новости</a></li>		
			</ul>
			<div class="login clearfix">
				<select name="lang" class="lang">
					<option value="ru" selected>Русский</option>
				</select>
				<a href="#" class="login_button">Войти</a>
				<a href="#" class="registration">Создать аккаунт</a>
			</div>
		</div>
	</header>
<!-- END HEADER -->
<!-- LOGIN -->
	<div class="main_container">
		<div class="h1">Вход</div>
		<div class="recovery_wrap login_wrap custom_recovery clearfix">
			<form action="">
				<label for="name_r">Логин</label>
				<input type="text" id="name_v" class="input_r" required>
				<label for="pass_v">Пароль</label>
				<input type="text" id="pass_v" class="input_r" required>
				<a href="#" class="forgot">Забыли пароль?</a>
				<input type="submit" value="Войти" class="submit_r">
			</form>
		</div>
	</div>
<!-- END LOGIN -->
<!-- FOOTER -->
	<div class="footer_bg custom_footer">
		<div class="main_container">
			<ul class="nav">
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Почему это работает</a></li>
					<li><a href="#">Для кого это</a></li>
					<li><a href="#">Партнерам</a></li>
					<li><a href="voprosi.html">Помощь</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
				<div class="login clearfix">
				<a href="#" class="login_button">Войти</a>
				<a href="#" class="registration">Создать аккаунт</a>
			</div>
			<div class="clearfix"></div>
			<hr>
			<a href="index.html"><img src="images/small_logo.png" alt="DOBROTERRA" class="small_logo"></a>
			<div class="copyright">Copyright 2015 Dobroterra. Все права защищены.</div>
			<a href="#" class="rules">Правила участия</a>
		</div>
	</div>
<!-- END FOOTER -->
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
 </body>
</html>