<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>DOBROTERRA</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  <link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
</head>
<body>
<div class="wrapperx q_wrapp scroll_ohter1">
<!-- HEADER -->
	<header class="clearfix without_bg">
		<div class="main_container clearfix">
			<a href="index.html"><img src="images/logo_b.png" alt="DOBROTERRA" class="logo"></a>
			<ul class="nav">
				<li><a href="#">Как это работает</a></li>
				<li><a href="#">Почему это работает</a></li>
				<li><a href="#">Для кого это</a></li>
				<li><a href="#">Партнерам</a></li>
				<li><a href="voprosi.html">Помощь</a></li>
				<li><a href="#">Новости</a></li>		
			</ul>
			<div class="login clearfix">
				<select name="lang" class="lang">
					<option value="ru" selected>Русский</option>
				</select>
				<a href="#" class="login_button">Войти</a>
				<a href="#" class="registration">Создать аккаунт</a>
			</div>
		</div>
	</header>
<!-- END HEADER -->
<!-- VOPROSI -->
	<div class="main_container clearfix">
		<div class="h1">Вопросы и ответы</div>
		<div class="questions_wrap clearfix">
			<div class="left_menu pravila">
				<ul>
					<li><a href="#" class="active scroll_otherto1""><span>01</span>Общее</a></li>
					<li><a href="#" class="scroll_otherto2"><span>02</span>Как это работает</a></li>
					<li><a href="#" class="scroll_otherto3"><span>03</span>Партнерская программа</a></li>
					<li><a href="#" class="scroll_otherto4"><span>04</span>Суппорт</a></li>
				</ul>
			</div>
			<div class="main_content pravila_margin">
				<div class="q_title">Что такое Добротерра?</div>
				<p>Добротерра это международное сообщество финансовой взаимопомощи. Создано по принципу кассы взаимопомощи, где участники, помогая другим, также получают финансовую помощь!</p>
				<div class="q_title">У кого хранятся наши деньги?</div>
				<p>Все переводы делаются строго между участниками и не хранятся на каком то одном счету. Также, в нашем сообществе нет специальных хранителей. Все деньги хранятся на кошельках самих участников и переводятся другим участникам только по автоматически сгенерированному поручению системы. Это является одним из уникальных преимуществ нашего сообщества. Сам у себя человек не украдет</p>
				<div class="q_title">Кто создатель или админ?</div>
				<p>Мы обычные люди, которые хотели создать по настоящему функциональное сообщество финансовой взаимопомощи для всех людей доброй воли. У нас нет администрации, руководителя, начальников, менеджеров или хранителей. В наши обязанности входит только своевременная оплата серверов, продление домена и своевременное решение технических проблем, в случае появления каких либо сбоев на сервере.</p>
				<div class="q_title">Я вкладываю деньги под проценты?</div>
				<p>Участие в сообществе подразумевает оказание друг другу безвозмездной помощи. Вы как участник сообщества, также имеете право на получение помощи от других участников. Сайт нашего сообщества упростил взаимодействие участников, благодаря полной автоматизации всех процессов и жесткой координации графика переводов финансовой помощи между участниками.</p>
				<div class="scroll_ohter2">
					<div class="q_title">Как действует система взаимопомощи?</div>
					<p>1. Вы регистрируетесь<br>
						2. Указываете сумму, которую готовы переслать в виде помощи другим участникам<br>
						3. Система проверяет все заявки на получение помощи и генерирует поручение на оплату<br>
						4. Вы переводите участникам, указанные в поручениях суммы помощи<br>
						5. Через 10 дней, на вашем балансе в системе, накопилась сумма, которую вы можете запросить<br>
						6. Вы получаете на свой кошелек сумму равную оказанной вами помощи<br>
						7. Вы снова проходите шаги 2, 3 и 4<br>
						8. Получаете 15% от суммы оказанной вами помощи в предыдущий раз.<br>
						Пример:<br> 
						Вы готовы помочь на 100$.<br> 
						Система прислала вам поручения на эту сумму, и вы перевели деньги указанным в поручениях участникам.<br> 
						В течение 10 дней, на ваш баланс в системе постепенно начисляются средства.<br> 
						На 11-й день, вы запрашиваете помощь (вывод с баланса).<br> 
						Система формирует поручения другим участникам на сумму 100$ (ваш первоначальный взнос). Они переводят эти деньги на ваш кошелек Perfectmoney.<br> 
						Вы заходите в кабинет на нашем сайте и переводите 100$ по новым поручениям.<br> 
						Как только вы перевели эти деньги, тут же система генерирует поручения для других участников, и они переводят вам 15$ (ваша прибыль от первоначального взноса).<br> 
						Таким образом, ваши 100$ генерируют вам доход в размере 15$ каждые 10 дней</p>
					<div class="q_title">Что такое лимиты и зачем они нужны?</div>
					<p>Согласно запрограммированным расчетам, для стабильного развития нашего сообщества в ближайшие несколько лет, системой введены лимиты на максимальное количество новых участников и максимальных сумм оказываемой участниками друг другу помощи. На первоначальном  этапе, для обеспечения плавного роста, разрешена регистрация максимум 100 участников в сутки, а максимальная сумма оказываемой помощи одним участником лимитирована 100$ в сутки.<br> 
					Если вы не смогли зарегистрироваться по причине достижения дневного лимита на регистрацию участников, попробуйте зарегистрироваться на следующий день.<br> 
					Также, лимит будет автоматически увеличиваться каждый месяц на 100 участников и 100$. Пример: Если в этом месяце максимум разрешено 100 участников и 100$ в сутки, то в следующем месяце, максимум будет 200 участников и 200$ в сутки. И т.д.
					</p>
					<div class="q_title">Могу ли я создать более одного аккаунта в системе?</div>
					<p>Создание более чем одного аккаунта на одного участника строго запрещено. В системе предусмотрены несколько уровней проверки. Если система установит, что участник имеет более одного аккаунта, все эти аккаунты будут автоматически заблокированы системой, без права восстановления.</p> 
					<div class="q_title">С какими платежными системами работает сообщество?</div>
					<p>Все переводы между участниками осуществляются только посредством системы Perfectmoney. Данная система полностью анонимна и безопасна. Кошельки с вашими деньгами невозможно заблокировать, закрыть, уничтожить. Соответственно, все ваши деньги в полной безопасности. Также, перфектмани очень легко обналичить в любой точке мира.</p>
				</div>
				<div class="scroll_ohter3">
				<div class="q_title">Есть ли партнерская программа?</div>
				<p>Да, нами запрограммирована система поощрений для активных участников.<br>
				При регистрации, все участники получают статус "Участник" и им начисляются следующие бонусы за рекомендацию нашего сообщества:<br><br>
				1 уровень: 7%<br><br>
				2 уровень: 2%<br><br>
				3 уровень: 1%<br><br>
				*от полученной рефералами прибыли.<br><br>
				Если участник лично пригласил 50 участников, а сумма лично оказанной помощи превышает 1000$, ему автоматически присваивается статус "Представитель" и с этого момента он получает до 15%*:<br><br>
				1 уровень: 10%<br><br>
				2 уровень: 3%<br><br>
				3 уровень: 2% <br><br>
				*от полученной рефералами прибыли.<br>
				</p>
				</div>
				<div class="scroll_ohter4">
				<div class="q_title">Есть ли суппорт?</div>
				<p>На данный момент, суппорт осуществляется в свободное время каждым из участников, основавших сообщество. Просим учесть данный момент и набраться терпения при обращении в суппорт. Для обращения в суппорт, выберите удобный для вас способ на странице Контакты</p>
				</div>
			</div>
		</div>	
	</div>
<!-- END VOPROSI -->
<!-- YELLOW BLOCK -->
	<div class="yeloow_bg">
		<div class="main_container clearfix">
			<div class="h1_white">Присоединяйтесь к нашему сообществу!</div>
			<a href="#" class="more_button">Зарегистрироваться</a>
		</div>
	</div>
<!-- END YELLOW BLOCK -->
<!-- FOOTER -->
	<div class="footer_bg custom_footer">
		<div class="main_container">
			<ul class="nav">
					<li><a href="#">Как это работает</a></li>
					<li><a href="#">Почему это работает</a></li>
					<li><a href="#">Для кого это</a></li>
					<li><a href="#">Партнерам</a></li>
					<li><a href="voprosi.html">Помощь</a></li>
					<li><a href="contacts.html">Контакты</a></li>
				</ul>
				<div class="login clearfix">
				<a href="#" class="login_button">Войти</a>
				<a href="#" class="registration">Создать аккаунт</a>
			</div>
			<div class="clearfix"></div>
			<hr>
			<a href="index.html"><img src="images/small_logo.png" alt="DOBROTERRA" class="small_logo"></a>
			<div class="copyright">Copyright 2015 Dobroterra. Все права защищены.</div>
			<a href="#" class="rules">Правила участия</a>
		</div>
	</div>
<!-- END FOOTER -->
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
 </body>
</html>