<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>ULTRA tape</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
		<header>
			<div class="main_container clearfix">
			<img src="images/logo.png" alt="Ultra tape" class="logo">
			<ul class="nav">
				<li><a href="#" class="scrollto1">Главная</a></li>
				<li><a href="#" class="scrollto2">Продукция</a></li>
				<li><a href="#" class="scrollto3">Преимущества</a></li>
				<li><a href="#" class="scrollto4">Контакты</a></li>
			</ul>
			<div class="call_top">
				<p>+7 (499) 40-40-720 </p>
				<a href="#" class="call_top_button button">Заказать звонок</a>
			</div>
		</header>
	</div>
	<div class="clearfix"></div>
<!-- END HEADER -->
<!-- MAIN SLIDER -->
	<div class="main_slider_bg" data-stellar-background-ratio="0.5" id="scrollto1">
		<div class="main_container clearfix">
			<h1>Ультра-тейп - упаковка, стрейч, пленка</h1>
			<h2>Самое выгодное и качественное предложение на рынке</h2>
		</div>	
	</div>
<!-- END MAIN SLIDER -->
<!-- ADVANTAGES -->
	<div class="advantages_bg">
		<div class="main_container clearfix">
			<div class="advantages_wrap clearfix">
				<div class="advantages_block animation_2">
					<img src="images/icon1.png" alt="Ultra tape">
					<p>Гибкая система скидок</p>
				</div>
				<div class="advantages_block animation_1">
					<img src="images/icon2.png" alt="Ultra tape">
					<p>Бесплатная доставка<br>
					по Москве и МО</p>
				</div>
				<div class="advantages_block animation_1">
					<img src="images/icon3.png" alt="Ultra tape">
					<p>Самые низкие цены</p>
				</div>
				<div class="advantages_block animation_3">
					<img src="images/icon4.png" alt="Ultra tape">
					<p>Отгружаем во все<br> регионы</p>
				</div>
			</div>
		</div>
	</div>
<!-- END ADVANTAGES -->
<!-- PRODUCTS -->
	<div class="products_bg" data-stellar-background-ratio="0.5" id="scrollto2">
		<div class="main_container clearfix">
			<div class="h1">Продукция</div>
			<div class="products_wrap clearfix">
				<div class="products_block">
					<img src="images/slider_img1.jpg" alt="Ultra tape">
					<div class="title">Стрейч пленка</div>
					<p>Стрейч (stretch) - это растягивающаяся пленка, материал, обладающий способностью обратимо растягиваться с удлинением 200-300%...</p>
					<a href="#" class="read_more button3">Читать продолжение</a>
				</div>
				<div class="products_block">
					<img src="images/slider_img2.jpg" alt="Ultra tape">
					<div class="title">Клейкая лента</div>
					<p>Является самым распространенным материалом для упаковки коробок из гофрокартона.</p>
					<a href="#" class="read_more button4">Читать продолжение</a>
				</div>
				<div class="products_block">
					<img src="images/slider_img3.jpg" alt="Ultra tape">
					<div class="title">Клейкая лента с логотипом</div>
					<p>Все больше компаний, при принятии решения о том, какой вид упаковки использовать на своем производстве выбирают клейкую ленту с логотипом...</p>
					<a href="#" class="read_more button5">Читать продолжение</a>
				</div>
			</div>
			<a href="#" class="order_button button6">Получить оптовый прайс-лист с 10% скидкой</a>
		</div>
	</div>
<!-- END PRODUCTS -->
<!-- SERTIFICATES -->
	<div class="advantages_bg sert_wrap">
		<div class="main_container clearfix">
			<div class="h1">Наши сертификаты</div>
			<div class="sert_items_wrap clearfix">
				<a href="images/sert_big1.jpg" class="fancybox">
				<img src="images/sert1.jpg" /></a>
				<a href="images/sert_big2.jpg" class="fancybox">
				<img src="images/sert2.jpg" /></a>
				<a href="images/sert_big3.jpg" class="fancybox">
				<img src="images/sert3.jpg" /></a>
				<a href="images/sert_big4.jpg" class="fancybox">
				<img src="images/sert4.jpg" /></a>
			</div>
		</div>
	</div>
<!-- END SERTIFICATES -->
<!-- CIRLCES -->
	<div class="circles_bg" data-stellar-background-ratio="0.5" id="scrollto3">
		<div class="main_container clearfix">
			<div class="circles_wrap clearfix">
				<div class="circles_block">
					<img src="images/circle_icon1.png" alt="Ultra tape">
					<p>Высоко- квалифицированный персонал</p>
				</div>
				<div class="circles_block">
					<img src="images/circle_icon2.png" alt="Ultra tape">
					<p>Короткие сроки исполнения<br> заказов</p>
				</div>
				<div class="circles_block">
					<img src="images/circle_icon3.png" alt="Ultra tape">
					<p>13 лет<br> на рынке</p>
				</div>
				<div class="circles_block">
					<img src="images/circle_icon4.png" alt="Ultra tape">
					<p>Более 5000 клиентов<br> уже выбрали нас</p>
				</div>
			</div>
			<a href="#" class="order_button button7">Заказать оптовый прайс-лист со скидкой</a>
		</div>
	</div>
<!-- END CIRLCES -->
<!-- PARTNERS -->
	<div class="advantages_bg sert_wrap">
		<div class="main_container clearfix">
			<div class="h1">Наши партнеры</div>
			<div class="partners_wrap .clearfix">
				<div class="partners_block">
					<img src="images/partner_img1.png" alt="Ultra tape">
					<p>METRO</p>
				</div>
				<div class="partners_block">
					<img src="images/partner_img2.png" alt="Ultra tape">
					<p>Леруа Мерлен</p>
				</div>
				<div class="partners_block">
					<img src="images/partner_img3.png" alt="Ultra tape">
					<p>Дымов</p>
				</div>
				<div class="partners_block">
					<img src="images/partner_img4.png" alt="Ultra tape">
					<p>Дядя Ваня</p>
				</div>
				<div class="partners_block">
					<img src="images/partner_img5.png" alt="Ultra tape">
					<p>Диваны MOON</p>
				</div>
				<div class="partners_block">
					<img src="images/partner_img6.png" alt="Ultra tape">
					<p>СПОРТМАСТЕР</p>
				</div>
			</div>
		</div>
	</div>
<!-- END PARTNERS -->
<!-- MAP -->
	<div id="map" class="scrolltomap">
		<div class="main_container clearfix">
			<div class="map_block">
				<img src="images/logo_white.png" alt="Ultra tape" class="logo_white">
				<div class="map_text">Москва, Щелковское шоссе д.100,<br> корп. 1 Бизнес центр «East Gate» офис 3056</div>
				<div class="map_text">+7 (499) 40-40-720 </div>
				<div class="map_text">Пн-Пт 9:00 до 18:00<br>Суббота, Воскресение выходной</div>
				<div class="map_text">
					<a href="mailto:ultratape@mail.ru">ultratape@mail.ru</a><br>
					<a href="mailto:ultra-tape@mail.ru">ultrtp@gmail.com</a>
				</div>
			</div>
		</div>
	</div>
<!-- END MAP -->
<!-- FORM -->
	<div class="advantages_bg sert_wrap">
			<div class="main_container clearfix">
				<div class="h1">Закажи бесплатный звонок прямо сейчас</div>
				<div class="form_bg clearfix">
				<div class="form_wrapppper">
				<form id="form1" onsubmit="refr();">
					<div class="form_title">Отправь заявку и получи <span>скидку 10%</span> прямо сейчас!</div>
					<div class="inp_wrap">
						<input type="text" name="name" class="input_modal" required id="input1">
						<label for="input1">Ваше имя<span>*</span></label>
					</div>
					<div class="inp_wrap">
						<input type="text" name="phone" class="input_modal" required id="input2">
						<label for="input2">Ваш номер телефона<span>*</span></label>
					</div>
					<div class="inp_wrap">
						<input type="text" name="mail" class="input_modal" required id="input3">
						<label for="input3">Ваш email</label>
					</div>
					<input type="submit" value="Отправить заявку" class="submit_button">
					<input type="hidden" name="formData" value="Заявка с сайта ULTRA-TAPE.RU">
				</form>
				</div>
				</div>
			</div>
	</div>
<!-- END FORM -->
<!-- FOOTER -->
	<div class="footer_bg">
		<div class="promo_cod">Промокод<br>
		479356</div>
		<div class="main_container clearfix">
			<div class="copyright">ООО “Ультра-тейп”, © 2016 Все права защишены.</div>
		</div>
	</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="form_wrapppper">
		<form id="form2">
			<div class="modal_h1">Заказать обратный звонок</div>
			<div class="inp_wrap">
				<input type="text" name="name" class="input_modal" required id="input4">
				<label for="input4">Ваше имя<span>*</span></label>
			</div>
			<div class="inp_wrap">
				<input type="text" name="phone" class="input_modal" required id="input5">
				<label for="input5">Ваш номер телефона<span>*</span></label>
			</div>
			<div class="inp_wrap">
				<input type="text" name="mail" class="input_modal" required id="input6">
				<label for="input6">Ваш email<span></span></label>
			</div>
				<textarea name="mess" class="textarea_modal" id="input4" placeholder="Сообщение"></textarea>
			<input type="submit" value="Отправить заявку" class="submit_modal">
			<input type="hidden" name="formData" value="Заявка с сайта ULTRA-TAPE.RU">
		</form>
		</div>
    </div> 
<!-- END MODAL1 -->
<div id="bg_popup">
  <div id="popup">
		<div class="modal_h1">Вы были у нас<br>
		на сайте более<br>
		1 минуты 21 секунды</div>
	<p>Нашли то что искали?</p>
	<a href="#" class="qb button2" onclick="document.getElementById('bg_popup').style.display='none'; return false;">Да</a><a href="#" class="qb flr button2" onclick="document.getElementById('bg_popup').style.display='none'; return false;">Нет</a>
<a class="close" href="#" title="Закрыть" onclick="document.getElementById('bg_popup').style.display='none'; return false;"></a>
</div>
</div>
<!-- MODAL3 -->
<div class="overlay" id="overlay2" style="display:none;"></div> 
    <div class="nonebox" id="nonebox2"> 
     <a class="box-close one" id="box-close2" href="#"></a>
		<div class="form_wrapppper">
		<form id="form3">
			<div class="modal_h1">Хотите мы Вам перезвоним?</div>
			<div class="inp_wrap">
				<input type="text" name="name" class="input_modal" required id="input7">
				<label for="input7">Ваше имя<span>*</span></label>
			</div>
			<div class="inp_wrap">
				<input type="text" name="phone" class="input_modal" required id="input8">
				<label for="input8">Ваш номер телефона<span>*</span></label>
			</div>
			<input type="submit" value="Отправить заявку" class="submit_modal">
			<input type="hidden" name="formData" value="Заявка с сайта ULTRA-TAPE.RU">
		</form>
		</div>
    </div> 
<!-- END MODAL3 --> 
<!-- MODAL4 -->
<div class="overlay" id="overlay3" style="display:none;"></div> 
    <div class="nonebox product_modal" id="nonebox3"> 
     <a class="box-close one" id="box-close3" href="#"></a>
		<div class="img_wrpeee">
			<img src="images/slider_img1.jpg" alt="Alt">
			<a href="#" class="order_button button9">Заказать</a>
		</div>
		<div class="prod_text">
			<div class="title">Стрейч пленка</div>
			<p>Стрейч-пленка является современным упаковочным материалом не только на европейском, но и на российском рынке и приобретает все большую популярность (потребление растет на 25% в год) среди российских производителей такой продукции как:</p>
			<ul>
				<li>Алкогольной и безалкогольной продукции;</li>
				<li>Молочной продукции;</li>
				<li>Бытовой и промышленной химии;</li>
				<li>Стеклотары, пластиковой и металлической тары;</li>
				<li>Стройматериалов и мебели;</li>
				<li>Целлюлозно-бумажной продукции;</li>
				<li>Оптовые склады, на которых происходит формирование ассортиментных грузов;</li>
				<li>Стрейч-пленки также применяются для группы товаров, которые не упаковываются на паллеты, но оборачиваются в стрейч-пленку с целью сохранности, как, например, ковры, мебель и т.д.</li>
			</ul>
		</div>
    </div> 
<!-- END MODAL4 -->
<!-- MODAL5 -->
<div class="overlay" id="overlay4" style="display:none;"></div> 
    <div class="nonebox product_modal" id="nonebox4"> 
     <a class="box-close one" id="box-close4" href="#"></a>
		<div class="img_wrpeee">
			<img src="images/slider_img2.jpg" alt="Alt">
			<a href="#" class="order_button button9">Заказать</a>
		</div>
		<div class="prod_text">
			<div class="title">Упаковочная клейкая лента</div>
			<p>Толщина - измеряется в единицах Микрон, сокращенно Мкм. Как правило, толщина полипропиленовой основы составляет 25 микрон (исключая клейкую ленту толщиной 50 Мкм и выше), а все остальное - это клей. Количество клея на клейкой ленты может быть разным и именно толщина клеевого слоя определяет клеящие способности упаковочной ленты.</p>
			<p>В зависимости от толщины, упаковочной клейкой ленты применяют следующим образом:</p>
			<ul>
				<li>Клейкая лента толщиной 40мкм - рекомендуем использовать для нетяжелых, желательно мелованных коробок. Эти ленты предназначены для использования в сухих, не запыленных помещениях.</li>
				<li>Клейкая лента толщиной 45мкм - наиболее распространен среди производителей. Он подходит для заклеивания коробок средней тяжести и обеспечивает надежное и прочное запечатывание как мелованных, так и обычных гофрокоробов.</li>
				<li>Клейкая лента толщиной 50 мкм – отличается максимальными клейкими свойствами и повышенной прочностью на разрыв. Он применяется для запечатывания тяжелых коробок, а также в тех случаях, когда работы ведутся при низких температурах. Также, клейкая лента данной толщины применяется, если продукция длительное время находится в пути для обеспечения надежной безопасности груза.</li>
			</ul>
		</div>
    </div> 
<!-- END MODAL5 -->
<!-- MODAL6 -->
<div class="overlay" id="overlay5" style="display:none;"></div> 
    <div class="nonebox product_modal" id="nonebox5"> 
     <a class="box-close one" id="box-close5" href="#"></a>
		<div class="img_wrpeee">
			<img src="images/slider_img3.jpg" alt="Alt">
			<a href="#" class="order_button button9">Заказать</a>
		</div>
		<div class="prod_text">
			<div class="title">Клейкая лента с логотипом</div>
			<p>Клейкая лента с логотипом - это одно из динамично развивающихся направлений по производству клейких лент в России. Все больше компаний, при принятии решения о том, какой вид упаковки использовать на своем производстве выбирают клейкую ленту с логотипом, так как этот вид упаковки дает следующие преимущества:</p>
			<ul>
				<li>Защищает от подделки производимую Вами продукцию;</li>
				<li>Предупреждает случаи несанкционированного вскрытия упаковки и хищения;</li>
				<li>Разместив на нем телефоны и адреса компании, Вы значительно повысите информативность упаковки, что как следствие способствует рекламной поддержке Вашей продукции;</li>
				<li>Высокое качество используемого сырья для изготовления такой клейкой ленты обеспечивает прочность упаковки, при различных условиях применения, вплоть до камер глубокой заморозки;</li>
				<li>Улучшает внешний вид продукции, тем самым способствует созданию благоприятного имиджа Вашей компании;</li>
				<li>Облегчает работу склада (разными видами «клейкой ленты» можно маркировать дифиринцированную продукцию).</li>
			</ul>
		</div>
    </div> 
<!-- END MODAL6 --> 
<!-- MODAL7 -->
<div class="overlay" id="overlay6" style="display:none;"></div> 
    <div class="nonebox" id="nonebox6"> 
     <a class="box-close one" id="box-close6" href="#"></a>
		<div class="form_wrapppper">
		<form id="form9">
			<div class="modal_h1">Получить оптовый прайс-лист с <span>10% скидкой</span></div>
			<div class="inp_wrap">
				<input type="text" name="name" class="input_modal" required id="input11">
				<label for="input11">Ваше имя<span>*</span></label>
			</div>
			<div class="inp_wrap">
				<input type="text" name="phone" class="input_modal" required id="input12">
				<label for="input12">Ваш номер телефона<span>*</span></label>
			</div>
			<div class="inp_wrap">
				<input type="text" name="mail" class="input_modal" required id="input13">
				<label for="input13">Ваш email<span></span></label>
			</div>
				<textarea name="mess" class="textarea_modal" id="input4" placeholder="Сообщение"></textarea>
			<input type="submit" value="Отправить заявку" class="submit_modal">
			<input type="hidden" name="formData" value="Заявка с сайта ULTRA-TAPE.RU">
		</form>
		</div>
    </div> 
<!-- END MODAL7 --> 
<!-- MODAL8 -->
<div class="overlay" id="overlay7" style="display:none;"></div> 
    <div class="nonebox" id="nonebox7"> 
     <a class="box-close one" id="box-close7" href="#"></a>
		<div class="form_wrapppper">
		<form id="form11">
			<div class="modal_h1">Заказать оптовый прайс-лист со скидкой</div>
			<div class="inp_wrap">
				<input type="text" name="name" class="input_modal" required id="input14">
				<label for="input14">Ваше имя<span>*</span></label>
			</div>
			<div class="inp_wrap">
				<input type="text" name="phone" class="input_modal" required id="input15">
				<label for="input15">Ваш номер телефона<span>*</span></label>
			</div>
			<div class="inp_wrap">
				<input type="text" name="mail" class="input_modal" required id="input16">
				<label for="input16">Ваш email<span></span></label>
			</div>
				<textarea name="mess" class="textarea_modal" id="input4" placeholder="Сообщение"></textarea>
			<input type="submit" value="Отправить заявку" class="submit_modal">
			<input type="hidden" name="formData" value="Заявка с сайта ULTRA-TAPE.RU">
		</form>
		</div>
    </div> 
<!-- END MODAL8 --> 
<!-- MODAL1 -->
<div class="overlay" id="overlay8" style="display:none;"></div> 
    <div class="nonebox" id="nonebox8"> 
     <a class="box-close one" id="box-close8" href="index.html"></a>
		<center><p class="success"><span>Спасибо за заявку!</span><br>
    В ближайшее время наш<br> менеджер Вам перезвонит<br>
    <a href="index.html">Спасибо</a></p></center>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL8 -->
<div class="overlay" id="overlay9" style="display:none;"></div> 
    <div class="nonebox" id="nonebox9"> 
     <a class="box-close one" id="box-close9" href="#"></a>
		<div class="form_wrapppper">
		<form id="form9">
			<div class="modal_h1">Заказать</div>
			<div class="inp_wrap">
				<input type="text" name="name" class="input_modal" required id="input17">
				<label for="input17">Ваше имя<span>*</span></label>
			</div>
			<div class="inp_wrap">
				<input type="text" name="phone" class="input_modal" required id="input18">
				<label for="input18">Ваш номер телефона<span>*</span></label>
			</div>
			<div class="inp_wrap">
				<input type="text" name="mail" class="input_modal" required id="input19">
				<label for="input19">Ваш email<span></span></label>
			</div>
				<textarea name="mess" class="textarea_modal" id="input4" placeholder="Сообщение"></textarea>
			<input type="submit" value="Отправить заявку" class="submit_modal">
			<input type="hidden" name="formData" value="Заявка с сайта ULTRA-TAPE.RU">
		</form>
		</div>
    </div> 
<!-- END MODAL8 --> 
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/animate-css.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/ajax_form.js"></script>
<script src="js/script.js"></script>
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
var myMap;

ymaps.ready(init);

function init () {
    myMap = new ymaps.Map('map', {
        // Санкт-Петербург
        center: [55.812801, 37.834044],
        zoom: 16,
         controls: []
    }, {
        searchControlProvider: 'yandex#search'
    });

    myMap.behaviors
        // Отключаем часть включенных по умолчанию поведений:
        //  - drag - перемещение карты при нажатой левой кнопки мыши;
        //  - magnifier.rightButton - увеличение области, выделенной правой кнопкой мыши.
        .disable(['drag', 'rightMouseButtonMagnifier', 'scrollZoom'])
        var position = myMap.getCenter();

  
  myMap.setCenter([ position[0], position[1]+0.002 ]);
        var myPlacemark = new ymaps.Placemark([ position[0], position[1] ], {
  
	balloonContentBody: [
	'<address>',
	'<strong>Москва, Щелковское шоссе д.100, корп. 1 Бизнес центр «East Gate» офис 3056</strong>',
	'</address>'
	].join('  ')
	}, {
	preset: 'twirl#Icon'
	});
myMap.geoObjects.add(myPlacemark);
}
</script>
<script type="text/javascript">
    var delay_popup = 85000;
    setTimeout("document.getElementById('bg_popup').style.display='block'", delay_popup);
</script>
<script>
function refr()
{setTimeout("document.location.reload()", 3000);
}
</script>
 </body>
</html>