<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css" />
	<link href="css/media.css" rel="stylesheet">
	<title>Дом чудес - сказочный мир для вашего ребёнка!</title>
</head>
<body>
<!-- START HEADER -->
<header class="clearfix">
	<div class="wrapper clearfix">
		<div class="logo_section">
			<img src="img/logo.png" alt="Alt">
			<div class="contact_link">Единый контакт-центр:   <span>+7 (495) 204-28-54</span></div>
			<a href="#" class="mail_link">info@domchudes.com</a>
			<div class="color_buttons">
				<a href="#">Кабинет родителя</a>
				<a href="#" class="open_modal">Заказать звонок</a>
			</div>
		</div>
		<div class="header_right_section">
			<div class="social_wrap">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
			<div class="clearfix"></div>
			<ul>
				<li><span><img src="img/top_icon1.png" alt="Alt"></span><a href="#">Детские центры</a>
					<ul>
						<li><a href="#">На Мичуринском пр-те</a></li>
						<li><a href="#">На Ракетном б-ре (вднх)</a></li>
					</ul>
				</li>
				<li><span><img src="img/top_icon2.png" alt="Alt"></span><a href="#">Методический отдел</a></li>
				<li><span><img src="img/top_icon3.png" alt="Alt"></span><a href="#">Франшиза</a></li>
			</ul>
			<ul>
				<li><span><img src="img/top_icon4.png" alt="Alt"></span><a href="#">Агентство праздников</a></li>
				<li><span><img src="img/top_icon5.png" alt="Alt"></span><a href="#">Творческие мастерские</a></li>
				<li><span><img src="img/top_icon6.png" alt="Alt"></span><a href="#">Летние и сезонные лагеря</a></li>
				<li><span><img src="img/top_icon7.png" alt="Alt"></span><a href="#">Родительский клуб</a></li>
				<li><span><img src="img/top_icon8.png" alt="Alt"></span><a href="#">Калейдоскоп детских проектов</a></li>
			</ul>
			<div class="toggle_menu">
				<a href="#menu" id="toggle"><span></span></a>
			</div>
		</div>
		<ul class="breadcrumbs">
			<li><a href="#">Агентство Праздников Дом Чудес</a><span>/</span></li>
			<li><a href="#">Программы Агентства праздников</a><span>/</span></li>
			<li><a href="#">Мини-сад</a></li>
		</ul>
	</div>
</header>
<!-- END HEADER- -->
<div class="clearfix"></div>
<!-- START DIV-1 -->
<section class="div-1 clearfix">
	<section class="wrapper">
		<header>
			<h1>Мини-сад Дом Чудес работает в следующих клубах:</h1>
		</header>
		<figure>
			<img src="img/adress-1.png" alt="Ракетный бульвар, д.17 (м.ВДНХ)" />
			<figcaption>Ракетный бульвар,<br />д.17 (м.ВДНХ)</figcaption>
		</figure>
		<figure>
			<img src="img/adress-2.png" alt="ул. Татьяны Макаровой, д.8 (м.Новокосино, Выхино, Лермонтовский проспект)" />
			<figcaption>ул. Татьяны Макаровой, д.8<br />(м.Новокосино, Выхино,<br />Лермонтовский проспект)</figcaption>
		</figure>
		<figure>
			<img src="img/adress-3.png" alt="Мичуринский проспект, д.21к4 (м.Университет)" />
			<figcaption>Мичуринский проспект, д.21к4<br />(м.Университет)</figcaption>
		</figure>
		<p>Выберите свой!</p>
	</section>
</section>
<!-- END DIV-1 -->

<!-- START DIV-2 -->
<section class="div-2 wrapper">
	<header>
		<h1>Что такое Мини-сад “Дом Чудес”</h1>
	</header>
	<article>
		<div>
			<img src="img/clock.png" alt="" />
				<p><span>Наш мини-сад</span> - это комплексное развитие вашего ребенка в одном месте и в удобное время!</p>
		</div>
		<div>
			<img src="img/note.png" alt="" />
				<p><span>Наш мини-сад</span> – это эксклюзивные и авторские программы и сбалансированный комплекс занятий!</p>
		</div>
		<div>
			<img src="img/galochka.png" alt="" />
				<p><span>Наш мини-сад</span> - это деликатная социализация вашего ребенка и время которое мама<br />может посвятить себе! </p>
		</div>
		<div>
			<img src="img/heart.png" alt="" />
				<p><span>Наш мини-сад</span> - это профильные педагоги и любимый воспитатель!</p>
		</div>
		<div>
			<img src="img/arm.png" alt="" />
				<p><span>Наш мини-сад</span> - это адаптация к муниципальному саду и хорошая альтернатива</p>
		</div>
	</article>
</section>
<!-- END DIV-2 -->

<!-- START DIV-3 -->
<section class="div-3 clearfix">
	<section class="wrapper">
		<header>
			<h1>Мы предлагаем следующие курсы:</h1>
		</header>
		<article>
			<div class="kyrs-1 clearfix">
				<img src="img/kyrs-1.png" alt="Развивай-ка и Познавай-ка" class="left" />
					<p class="first">Развивай-ка и Познавай-ка</p>
			</div>
			<div class="kyrs-2 clearfix">
				<img src="img/kyrs-2.png" alt="Маленькая лаборатория" class="left" />
					<p class="second">Маленькая<br />лаборатория</p>
			</div>
			<div class="kyrs-3 clearfix">
				<img src="img/kyrs-3.png" alt="LEGO-LAB" class="left" />
					<p class="third">LEGO-LAB</p>
			</div>
			<div class="kyrs-4 clearfix">
				<img src="img/kyrs-4.png" alt="IQ UP junior" class="left" />
					<p class="four">IQ UP junior</p>
			</div>
			<div class="kyrs-5 clearfix">
				<img src="img/kyrs-5.png" alt="Ритмика и Фитнес" />
				<p class="five">Ритмика и Фитнес</p>
			</div>
			<div class="kyrs-6 clearfix">
				<img src="img/kyrs-6.png" alt="Безопасный город" class="right" />
					<p class="six">Безопасный город</p>
			</div>
			<div class="kyrs-7 clearfix">
				<img src="img/kyrs-7.png" alt='Арт-студия “Волшебный песок”' class="right" />
					<p class="seven">Арт-студия<br />“Волшебный песок”</p>
			</div>
			<div class="kyrs-8 clearfix">
				<img src="img/kyrs-8.png" alt="Музыкальная шкатулка" class="right" />
					<p class="eight">Музыкальная<br />шкатулка</p>
			</div>
			<div class="kyrs-9 clearfix">
				<img src="img/kyrs-9.png" alt='Студия творчества “Лучок” и “Цветные ладошки”' class="right" />
					<p class="nine">Студия творчества “Лучок” и “Цветные ладошки”</p>
			</div>
		</article>
	</section>
</section>
<!-- END DIV-3 -->

<!-- START DIV-4 -->
<section class="div-4">
	<section class="wrapper">
		<header>
			<h1>Наша мини-садовская жизнь</h1>
		</header>
		<img src="img/bg-div-4.png" alt="" class="div-4-img">
	</section>
</section>
<!-- END DIV-4 -->

<!-- START DIV-5 -->
<section class="div-5 clearfix">
	<section class="wrapper">
		<header>
			<h1>Плюсы мини-сада Дом Чудес:</h1>
		</header>
		<div>
		<figure>
			<img src="img/notepad.png" alt="">
			<figcaption>Программа нашего мини-сада рассчитана на развитие всех способностей ребенка: интеллектуальных, творческих
и физических</figcaption>
		</figure>
		<figure>
			<img src="img/gal.png" alt="">
			<figcaption>Мини-сад Дом Чудес для тех детей,<br />которым комфортно развиваться в свободной и творческой атмосфере.<br />А если ваш ребенок собирается идти в муниципальный сад, то у него легче пройдет  период адаптации в новом коллективе
</figcaption>
		</figure>
		<figure>
			<img src="img/time.png" alt="">
			<figcaption>4 часа непросто присмотра за<br />ребенком, а полноценных<br />развивающих занятий. Группы<br />не большие - до 8 человек
</figcaption>
		</figure>
		</div>
		<div>
		<figure>
			<img src="img/family.png" alt="">
			<figcaption>Проведение тематических праздников, на которые могут прийти родители, бабушки и дедушки, с чаепитием и с<br />фото- и видео-съемкой
</figcaption>
		</figure>
		<figure>
			<img src="img/birthday.png" alt="">
			<figcaption>Празднование дней рождений<br />детей в группе
</figcaption>
		</figure>
		<figure>
			<img src="img/mascs.png" alt="">
			<figcaption>Театральные постановки<br />к праздникам
</figcaption>
		</figure>
		</div>
		<div>
		<figure>
			<img src="img/gallery.png" alt="">
			<figcaption>Портфолио каждого ребенка<br />с его работами</figcaption>
		</figure>
		<figure>
			<img src="img/speech-bouble.png" alt="">
			<figcaption>Консультации педагога,<br />психолога и логопеда</figcaption>
		</figure>
		<figure>
			<img src="img/sertification.png" alt="">
			<figcaption>Профильные педагоги +<br />педагог-воспитатель
</figcaption>
		</figure>
		</div>
	</section>
</section>
<!-- END DIV-5 -->

<!-- START DIV-6 -->
<section class="div-6 clearfix">
	<section class="wrapper">
		<header>
			<h2>Запишитесь на ознакомительное<br />занятие в наш мини-сад</h2>
		</header>
		<form id="form1">
			<p><input type="text" name="name" placeholder="Введите Ваше имя" /></p><!--
			--><p><input type="text" name="mail" placeholder="Введите Ваш телефон или e-mail" /></p><!--
			--><p><input type="submit" name="Ok" value="Отправить заявку" /></p>
			<input type="hidden" name="formData" value="Заявка с сайта Дом чудес">
		</form>
	</section>
</section>
<!-- END DIV-6 -->

<!-- START DIV-7 -->
<section class="div-7">
	<section class="wrapper">
		<article>
			<p>Особенность мини–сада «Дом Чудес»  в индивидуальном подходе к каждому. У нас ребенок усваивает культуру общения с другими детьми и взрослыми, учится концентрировать свое внимание через разнообразные, интересные, познавательные и творческие задания.</p>
			<p>Для этого мы набираем в разновозрастные группы с 2 до 5 лет максимум  6 человек, где каждый найдет себе лучших друзей. Мы проводим консультацию с нашими педагогами, психологами и логопедом, определяя особенности ребенка, что помогает подобрать подходящую именно ему программу. При этом вы можете сами выбрать, по каким дням, и какие кружки будет посещать ваш ребенок. Для ребенка – это 4 часа разнообразных, интересных  развивающих занятий в игровой форме. А для мамы прекрасное время чтобы позаботиться о себе, сходить в салон красоты, по магазинам или просто заняться накопившимися делами.</p>
			<p>Программа нашего мини-сада рассчитана на развитие всех способностей ребенка: интеллектуальных, творческих и физических. Наши опытные педагоги работают по программам, составленным методическим отделом Дом Чудес, в которых применяют классические, а также новейшие европейские и российские методики. У каждого ребенка есть свое портфолио, где хранятся все его подделки и работы, а также содержатся записи о его успехах.</p>
			<p>Мы организуем тематические вечера и всевозможные праздники с театральными постановками, в которых дети принимают активное участие. На них мы с удовольствием приглашаем всех родителей, дедушек и бабушек. В конце каждого такого праздника все пьют  чай, что в свою очередь очень сближает родителей и детей.</p>
		</article>
	</section>
</section>
<!-- END DIV-7 -->

<!-- START DIV-8 -->
<section class="div-8 clearfix">
	<section class="wrapper">
		<header>
			<h1>Видео</h1>
		</header>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/xIDc0MQG7Yk" frameborder="0" allowfullscreen></iframe>
		<p>Подпишитесь на наш youtube канал:<br />
			<a href="https://www.youtube.com/c/domchudes" target="_blank">https://www.youtube.com/c/domchudes</a>
		</p>
	</section>
</section>
<!-- END DIV-8 -->

<!-- START DIV-9 -->
<section class="div-9 wrapper">
	<header>
		<h1>Основные программы мини-сада в<br />«Доме Чудес»</h1>
	</header>
	<div>
	<div class="bl">
		<h3 class="f">Развивай-ка и Познавай-ка</h3>
		<p>это развивающе-познавательные программы раннего развития, которые направлены на подготовку ребенка к школе. Ее основные задачи – развитие речи, математического мышления и мелкой моторики рук, которая подготавливает руки к письму. Также активно развивает память, логическое мышление и желание познавать мир вокруг.
</p>
	</div>
	<div class="bl">
		<h3 class="s">маленькая лаборатория</h3>
		<p> «Расскажи – и я забуду, покажи – и я запомню, дай попробовать – и я пойму» говорит китайская пословица. Наша основная задача пробудить в ребенке исследовательское начало. В процессе занятий маленький гений учится саморазвитию, самовоспитанию и самообучению.

</p>
	</div>
	<div class="bl">
		<h3 class="t">Лего-лаб</h3>
		<p>На данных занятиях модернизируются разные истории из конструктора, во время которых развиваются навыки самостоятельной и командной работы, мелкая моторика рук, фантазия и логика, формируется грамотная речь.
</p>
	</div>
	</div>
	<div>
	<div class="bl">
		<h3 class="fo">окружающий мир</h3>
		<p>Вокруг нас очень много интересного, а для ребенка это новый и удивительный мир. На данных занятиях он познакомится с окружающей природой, разными физическими явлениями, качеством разнообразных материалов, химией и многими другими увлекательными вещами.
</p>
	</div>
	<div class="bl">
		<h3 class="fv">безопасный город</h3>
		<p>Главная функция этого курса – по максимуму подготовить ребенка к окружающему миру. В игровой форме, при помощи творческих заданий и экспериментов, он усваивает правила безопасного поведения в обществе, а также социально адаптируется в современном мире.

</p>
	</div>
	<div class="bl">
		<h3 class="sx">ритмика и фитнес </h3>
		<p>Это лучшее место для того чтобы маленький человечек грамотно и гармонично развивал свое тело, и научился владеть им и своими эмоциями.

</p>
	</div>
	</div>
	<div>
	<div class="bl">
		<h3 class="sv">Музыкальная шкатулка</h3>
		<p>На этих занятиях дети развивают художественный вкус, приобретают знания о стилях, направлениях и истории музыки. Помимо этого с ними мы играем на различных музыкальных инструментах, поем и танцуем.

</p>
	</div>
	<div class="bl">
		<h3 class="e">Студия «Лучок» и «Цветные ладошки»</h3>
		<p>Отличный ипподром для развития творческих способностей у детей, когда он сам выбирает с какими материалами работать, применяет на практике полученные им знания. На этих занятиях мы много рисуем, лепим, делаем аппликации, 3Д-поделки, используем нестандартные материалы и смешиваем различные техники.

</p>
	</div>
	<div class="bl">
		<h3 class="n">арт-терапия</h3>
		<p>Хорошее место для направления энергии маленького метеорчика в творческое русло. При помощи лепки, рисования, игры с песком, и других видов творчества каждый ребенок сможет почувствовать себя успешным, ощутить радость от проделанной им работы и ее результата.


</p>
	</div>
	</div>

</section>
<!-- END DIV-9 -->

<!-- START DIV-10 -->
<section class="div-10 clearfix">
	<section class="wrapper">
		<header>
			<h2>Мини-сад «Дом Чудес» поможет вашему ребенку<br />по максимуму развить свои способности, таланты</h2>
		</header>
		<p>А также социально адаптироваться и подготовиться к школе. И как бонус выкроит<br />для вас 4 часа свободного времени!</p>
		<form id="form2">
			<p><input type="text" name="name" placeholder="Имя ребенка" /></p><!--
			--><p><input type="text" name="phone" placeholder="Введите Ваш телефон" /></p><!--
			--><p><input type="text" name="mail" placeholder="Введите Ваш e-mail" /></p><!--
			--><p class="both"><input type="submit" name="Ok" value="Отправить заявку" /></p>
			<input type="hidden" name="formData" value="Заявка с сайта Дом чудес">
		</form>
	</section>
</section>
<!-- END DIV-10 -->

<!-- START DIV-11 -->
<section class="div-11">
	<section class="wrapper">
		<header>
			<h1>Ожидаемые результаты:</h1>
		</header>
		<article>
			<p>развитие и совершенствование активной речи;</p>
			<p>развитие математических представлений;</p>
			<p>развитие представлений об окружающем мире<br />(что и как происходит);</p>
			<p>социализация и личностное развитие;</p>
			<p>развитие музыкальных и творческих способностей;</p>
			<p>развитие навыков общения со сверстниками и<br />взрослыми;</p>
			<p>развитие навыков взаимодействия.</p>
		</article>
	</section>
</section>
<!-- END DIV-11 -->

<!-- START DIV-12 -->
<section class="div-12 clearfix">
	<section class="wrapper">
		<div class="yellow_text">Итог данного курса – гармоничное развитие ребенка согласно его возрасту, выявление способностей и талантов, социальная и образовательная адаптация к муниципальному саду, школе и к современному миру.</div>
	</section>
</section>
<!-- END DIV-12 -->

<!-- START DIV-13 -->
<section class="div-13">
	<section class="wrapper">
		<h1>Расписание Мини-сада Дом Чудес</h1>
		<div class="raspisanie_wrap">
			<select name="" class="raspisanie_select">
				<option value="">Выберите ближайший к Вам КЛУБ Дом Чудес</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
			<div class="table_wrap">
				<table>
					<col class="col1">
					<col class="col2">
					<col class="col3">
					<col class="col4">
					<col class="col5">
					<col class="col6">
					<tr>
						<th>Понедельник</th>
						<th>Вторник</th>
						<th>Среда</th>
						<th>Четверг</th>
						<th>Пятница</th>
					</tr>
					<tr>
						<td>СТУДИЯ "ЛУЧОК"	<br>2-4 года <br>09:45</td>
						<td>МУЗЫКАЛЬНАЯ<br> ШКАТУЛКА <br>09:45</td>
						<td>СТУДИЯ "ЛУЧОК"	<br>2-4 года <br>09:45</td>
						<td>АРТ-ТЕРАПИЯ <br>09:45</td>
						<td>ФИТНЕС<br>09:45</td>
					</tr>
					<tr>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года <br>Активные игры<br>10:30</td>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года <br>Активные игры<br>10:30</td>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года <br>Активные игры<br>10:30</td>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года <br>Активные игры<br>10:30</td>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года <br>Активные игры<br>10:30</td>
					</tr>
					<tr>
						<td>LEGO LAB 3+ <br> 10:45</td>
						<td>РАЗВИВАЙ-КА<br>2-3 года<br>10:45</td>
						<td>LEGO LAB 3+ <br> 10:45</td>
						<td>РАЗВИВАЙ-КА<br>2-3 года<br>10:45</td>
						<td>МАЛЕНЬКАЯ ЛАБОРАТОРИЯ<br>11:00</td>
					</tr>
					<tr>

						<td class="smaller_td">МИНИСАДИК <br>2-3 года<br><span>Этикет за столом(перекус)</span><br>11:30</td>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года<br><span>Этикет за столом(перекус)</span><br>11:30</td>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года<br><span>Этикет за столом(перекус)</span><br>11:30</td>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года<br><span>Этикет за столом(перекус)</span><br>11:30</td>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года<br><span>Этикет за столом(перекус)</span><br>11:30</td>
					</tr>
					<tr>
						<td>РИТМИКА ДЛЯ МАЛЫШЕЙ 2-4 года<br>12:00</td>
						<td>БЕЗОПАСНЫЙ<br>ГОРОД<br>11:45</td>
						<td>РИТМИКА ДЛЯ МАЛЫШЕЙ 2-4 года<br>12:00</td>
						<td>МИНИСАДИК<br>2-3 года (Прогулка) <br>12:00</td>
						<td>МАЛЕНЬКИЙ АНГЛИЧАНИН<br>11:45</td>
					</tr>
					<tr>

						<td class="smaller_td">МИНИСАДИК <br>2-3 года<br>Чтение сказки<br>12:45</td>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года<br>Чтение сказки<br>12:45</td>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года<br>Чтение сказки<br>12:45</td>
						<td class="smaller_td">ОКРУЖАЮЩИЙ<br>МИР<br>12:45</td>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года<br>Чтение сказки<br>12:45</td>
					</tr>
					<tr>
						<td class="smaller_td">МИНИСАДИК<br>2-3 года<br>Прогулка<br>13:00</td>
						<td class="smaller_td">МИНИСАДИК<br>2-3 года<br>Прогулка<br>13:00</td>
						<td class="smaller_td">МИНИСАДИК<br>2-3 года<br>Прогулка<br>13:00</td>
						<td class="smaller_td">МИНИСАДИК <br>2-3 года<br>Чтение сказки<br>12:45</td>
						<td class="smaller_td">МИНИСАДИК<br>2-3 года<br>Прогулка<br>13:00</td>
					</tr>
				</table>
			</div>
		</div>
	</section>
</section>
<!-- END DIV-13 -->

<!-- START DIV-14 -->
<section class="div-14 clearfix">
	<section class="wrapper">
		<h1>Стоимость мини-сада Дом Чудес</h1>
		<div class="div-14-table">
			<table>
				<tr>
					<td>Абонемент: при посещении 5 дней в неделю</td>
					<td>18 000 руб./месяц</td>
				</tr>
				<tr>
					<td>Абонемент: при посещении 4 дней в неделю</td>
					<td>950 руб/день</td>
				</tr>
				<tr>
					<td>Абонемент: при посещении 3 дней в неделю</td>
					<td>1 000 руб/день</td>
				</tr>
				<tr>
					<td>Абонемент: при посещении 2 дней в неделю</td>
					<td>1 300 руб/день</td>
				</tr>
				<tr>
					<td>Абонемент: при посещении 1 дней в неделю</td>
					<td>1 500 руб/день</td>
				</tr>
			</table>
		</div>
	</section>
</section>
<!-- END DIV-14 -->

<!-- START DIV-15 -->
<section class="div-15 clearfix">
	<section class="wrapper">
		<header>
			<h2>Остались вопросы по условиям записи и работы<br />мини-сада Дом Чудес</h2>
		</header>
		<p>Оставьте Ваш номер и мы свяжемся с Вами в ближайшее время</p>
		<form id="form4">
			<p><input type="text" name="name" placeholder="Имя ребенка" /></p><!--
			--><p><input type="text" name="phone" placeholder="Введите Ваш телефон" /></p><!--
			--><p><input type="text" name="mail" placeholder="Введите Ваш e-mail" /></p><!--
			--><p class="both"><input type="submit" name="Ok" value="Отправить заявку" /></p>
			<input type="hidden" name="formData" value="Заявка с сайта Дом чудес">
		</form>
	</section>
</section>
<!-- END DIV-15 -->

<!-- START DIV-16 -->
<section class="div-16">
	<section class="wrapper">
		<h1>Воспитатели и преподаватели<br> мини-сада Дом Чудес</h1>
		<div class="treners_wrap">
			<ul class="bxslider">
				<li>
					<div class="trener_block">
						<img src="img/trener_img1.png" alt="Alt">
						<div class="title">Устинова</div>
						<span>Олеся Михайловна</span>
					</div>
				</li>
				<li>	
					<div class="trener_block">
						<img src="img/trener_img2.png" alt="Alt">
						<div class="title">Каляч</div>
						<span>Сергей Николаевич</span>
					</div>
				</li>
				<li>
					<div class="trener_block">
						<img src="img/trener_img3.png" alt="Alt">
						<div class="title">Коркина</div>
						<span>Валентина Валерьевна</span>
					</div>
				</li>
				<li>
					<div class="trener_block">
						<img src="img/trener_img4.png" alt="Alt">
						<div class="title">Дуброская</div>
						<span>Мария Николаевна</span>
					</div>
				</li>
			</ul>
		</div>
	</section>
</section>
<!-- END DIV-16 -->

<!-- START DIV-17 -->
<section class="div-17 clearfix">
	<section class="wrapper">
		<h1>вопрос-ответ</h1>
		<div class="accordion">
			<section id="one">
				<h2><a href="#one">1. Для чего нужен минисад?</a></h2>
				<div>
					<p>Рыба представляет собой бессмысленный текст, который нужен для наполнения шаблона, создания нескольких тестовых постов, на примере которых можно проверить, как будет выглядеть сайт. Еще одной целью использования текстовой рыбы является естественное распределение пробелов и букв в абзацах, которого невозможно достигнуть, если использовать короткий осмысленный текст, размноженный дублированием. Наверняка вы уже догадались, что речь идет о Lorem Ipsum - это словосочетание часто встречается на демо-сайтах.</p>
				</div>
			</section>
			<section id="two">
				<h2><a href="#two">2. C какого возраста можно водить ребенка в минисад ДЧ?</a></h2>
				<div>
					<p>Не следует, однако забывать, что новая модель организационной деятельности требуют определения и уточнения новых предложений. Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа направлений прогрессивного развития. Идейные соображения высшего порядка, а также сложившаяся структура организации в значительной степени обуславливает создание существенных финансовых и административных условий. С другой стороны начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке модели развития. Равным образом постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный эксперимент проверки существенных финансовых и административных условий.</p>
				</div>
			</section>
			<section id="three">
				<h2><a href="#three">3. Чем отличается наш минисад от муниципального садика?</a></h2>
				<div>
					<p>Рыба представляет собой бессмысленный текст, который нужен для наполнения шаблона, создания нескольких тестовых постов, на примере которых можно проверить, как будет выглядеть сайт. Еще одной целью использования текстовой рыбы является естественное распределение пробелов и букв в абзацах, которого невозможно достигнуть, если использовать короткий осмысленный текст, размноженный дублированием. Наверняка вы уже догадались, что речь идет о Lorem Ipsum - это словосочетание часто встречается на демо-сайтах.</p>
				</div>
			</section>
			<section id="four">
			<h2><a href="#four">4. Как обустроены развивающие и игровые комнаты в минисаду ДЧ?</a></h2>
				<div>
					<p>Рыба представляет собой бессмысленный текст, который нужен для наполнения шаблона, создания нескольких тестовых постов, на примере которых можно проверить, как будет выглядеть сайт. Еще одной целью использования текстовой рыбы является естественное распределение пробелов и букв в абзацах, которого невозможно достигнуть, если использовать короткий осмысленный текст, размноженный дублированием. Наверняка вы уже догадались, что речь идет о Lorem Ipsum - это словосочетание часто встречается на демо-сайтах.</p>
				</div>
			</section>
			<section id="five">
				<h2><a href="#five">5. Как устроена программа минисада в ДЧ?</a></h2>
				<div>
					<p>Рыба представляет собой бессмысленный текст, который нужен для наполнения шаблона, создания нескольких тестовых постов, на примере которых можно проверить, как будет выглядеть сайт. Еще одной целью использования текстовой рыбы является естественное распределение пробелов и букв в абзацах, которого невозможно достигнуть, если использовать короткий осмысленный текст, размноженный дублированием. Наверняка вы уже догадались, что речь идет о Lorem Ipsum - это словосочетание часто встречается на демо-сайтах.</p>
				</div>
			</section>
			<section id="six">
				<h2><a href="#six">6. На какое время можно оставить ребенка?</a></h2>
				<div>
					<p>Рыба представляет собой бессмысленный текст, который нужен для наполнения шаблона, создания нескольких тестовых постов, на примере которых можно проверить, как будет выглядеть сайт. Еще одной целью использования текстовой рыбы является естественное распределение пробелов и букв в абзацах, которого невозможно достигнуть, если использовать короткий осмысленный текст, размноженный дублированием. Наверняка вы уже догадались, что речь идет о Lorem Ipsum - это словосочетание часто встречается на демо-сайтах.</p>
				</div>
			</section>
			<section id="seven">
				<h2><a href="#seven">7. Есть ли прогулки в минисаду ДЧ?</a></h2>
				<div>
					<p>Рыба представляет собой бессмысленный текст, который нужен для наполнения шаблона, создания нескольких тестовых постов, на примере которых можно проверить, как будет выглядеть сайт. Еще одной целью использования текстовой рыбы является естественное распределение пробелов и букв в абзацах, которого невозможно достигнуть, если использовать короткий осмысленный текст, размноженный дублированием. Наверняка вы уже догадались, что речь идет о Lorem Ipsum - это словосочетание часто встречается на демо-сайтах.</p>
				</div>
			</section>
			<section id="eight">
				<h2><a href="#eight">8. Едят ли дети в минисаду ДЧ?</a></h2>
				<div>
					<p>Рыба представляет собой бессмысленный текст, который нужен для наполнения шаблона, создания нескольких тестовых постов, на примере которых можно проверить, как будет выглядеть сайт. Еще одной целью использования текстовой рыбы является естественное распределение пробелов и букв в абзацах, которого невозможно достигнуть, если использовать короткий осмысленный текст, размноженный дублированием. Наверняка вы уже догадались, что речь идет о Lorem Ipsum - это словосочетание часто встречается на демо-сайтах.</p>
				</div>
			</section>
			<section id="nine">
				<h2><a href="#nine">9. Как отдыхают дети в минисаду ДЧ?</a></h2>
				<div>
					<p>Рыба представляет собой бессмысленный текст, который нужен для наполнения шаблона, создания нескольких тестовых постов, на примере которых можно проверить, как будет выглядеть сайт. Еще одной целью использования текстовой рыбы является естественное распределение пробелов и букв в абзацах, которого невозможно достигнуть, если использовать короткий осмысленный текст, размноженный дублированием. Наверняка вы уже догадались, что речь идет о Lorem Ipsum - это словосочетание часто встречается на демо-сайтах.</p>
				</div>
			</section>
			<section id="ten">
				<h2><a href="#ten">10. Как устроен досуг в минисаду ДЧ?</a></h2>
				<div>
					<p>Рыба представляет собой бессмысленный текст, который нужен для наполнения шаблона, создания нескольких тестовых постов, на примере которых можно проверить, как будет выглядеть сайт. Еще одной целью использования текстовой рыбы является естественное распределение пробелов и букв в абзацах, которого невозможно достигнуть, если использовать короткий осмысленный текст, размноженный дублированием. Наверняка вы уже догадались, что речь идет о Lorem Ipsum - это словосочетание часто встречается на демо-сайтах.</p>
				</div>
			</section>
			<section id="eleven">
				<h2><a href="#eleven">11. Проверяется ли состояние здоровья ребенка перед посещением минисада?</a></h2>
				<div>
					<p>Рыба представляет собой бессмысленный текст, который нужен для наполнения шаблона, создания нескольких тестовых постов, на примере которых можно проверить, как будет выглядеть сайт. Еще одной целью использования текстовой рыбы является естественное распределение пробелов и букв в абзацах, которого невозможно достигнуть, если использовать короткий осмысленный текст, размноженный дублированием. Наверняка вы уже догадались, что речь идет о Lorem Ipsum - это словосочетание часто встречается на демо-сайтах.</p>
				</div>
			</section>
			<section id="tvewle">
				<h2><a href="#tvewle">12. Сколько педагогов занимается с детьми в минисаду?</a></h2>
				<div>
					<p>Рыба представляет собой бессмысленный текст, который нужен для наполнения шаблона, создания нескольких тестовых постов, на примере которых можно проверить, как будет выглядеть сайт. Еще одной целью использования текстовой рыбы является естественное распределение пробелов и букв в абзацах, которого невозможно достигнуть, если использовать короткий осмысленный текст, размноженный дублированием. Наверняка вы уже догадались, что речь идет о Lorem Ipsum - это словосочетание часто встречается на демо-сайтах.</p>
				</div>
			</section>
			<section id="thirteen">
				<h2><a href="#thirteen">13. Какой распорядок дня в минисаду ДЧ?</a></h2>
				<div>
					<p>Рыба представляет собой бессмысленный текст, который нужен для наполнения шаблона, создания нескольких тестовых постов, на примере которых можно проверить, как будет выглядеть сайт. Еще одной целью использования текстовой рыбы является естественное распределение пробелов и букв в абзацах, которого невозможно достигнуть, если использовать короткий осмысленный текст, размноженный дублированием. Наверняка вы уже догадались, что речь идет о Lorem Ipsum - это словосочетание часто встречается на демо-сайтах.</p>
				</div>
			</section>
		</div>
	</section>
</section>
<!-- END DIV-17 -->

<!-- START DIV-18 -->
<section class="div-18 clearfix">
	<section class="wrapper">
		<header>
			<h2>Запишитесь в мини-сад и получи скаидку на<br />занятия по английскому языку!</h2>
		</header>
		<form id="form4">
			<p><input type="text" name="name" placeholder="Имя ребенка" /></p><!--
			--><p><input type="text" name="phone" placeholder="Введите Ваш телефон" /></p><!--
			--><p><input type="text" name="mail" placeholder="Введите Ваш e-mail" /></p><!--
			--><p class="both"><input type="submit" name="Ok" value="Записатся в мини-сад" /></p>
			<input type="hidden" name="formData" value="Заявка с сайта Дом чудес">
		</form>
	</section>
</section>
<!-- END DIV-18 -->

<!-- START DIV-19 -->
<section class="div-19 wrapper">
	<article>
		<div>
			<img src="img/icon-1.png" alt="" />
				<p><span>Дом Чудес» - это уникальный проект</span>, который помогает  родителям и тем, кто только собирается ими стать, – это  семейные клубы, агентство праздников и творческих мастерских, родительский клуб, летний городской лагерь и многое другое!</p>
		</div>
		<div>
			<img src="img/icon-2.png" alt="" />
				<p><span>Все дети — талантливы.</span> В этом глубоко убеждены педагоги семейного детского клуба «Дом Чудес». Мы стараемся сделать так, чтобы талант маленького человека проявился как можно раньше и как можно ярче. Гармоничное развитие личности, уважение к себе и к окружающим, святые семейные ценности и бесконечное разностороннее творчество — в этом мы видим залог формирования здорового душой и телом человека.</p>
		</div>
		<div>
			<img src="img/icon-3.png" alt="" />
				<p><span>Успех приходит только к тому, кто сумеет проявить себя</span> в условиях современного мира, только тот, кто верит в свои силы, только тот, кто чувствует в детстве поддержку, заботу и надежное плечо. Для этого необходимо многому научиться. Прекрасно понимая, какой шквал информации обрушивается на современного ребенка, мы обучаем наших малышей только тому, что направлено на гармоническое развитие личности, творческому подходу к решению любой повседневной задачи.</p>
		</div>
		<div>
			<img src="img/icon-4.png" alt="" />
				<p><span>Игра, как форма обучения, чрезвычайно эффективна,</span> особенно если говорить с детьми на одном языке, понимать их проблемы и в игре же предлагать решения. Нашими педагогами разработана масса уникальных игровых форм для поощрения талантов малышей и приобретения новых навыков, развития новых способностей.</p>
		</div>
	</article>
</section>
<!-- END DIV-19 -->

<!-- START DIV-20 -->
<section class="div-20">
	<div class="wrapper">
		<h1>“дом-чудес” - проект для детей и родителей, который объеденияет:</h1>
		<div class="yellow_circles clearfix">
			<div class="yellow_block">
				<img src="img/cirlcle1.png" alt="Alt">
				<div class="title">сеть семейных<br> клубов</div>
			</div>
			<div class="yellow_block">
				<img src="img/cirlcle2.png" alt="Alt">
				<div class="title">родительский<br>клуб</div>
			</div>
			<div class="yellow_block">
				<img src="img/cirlcle3.png" alt="Alt">
				<div class="title">агентство<br> праздников</div>
			</div>
			<div class="yellow_block">
				<img src="img/cirlcle4.png" alt="Alt">
				<div class="title">творческие<br> мастерские</div>
			</div>
			<div class="yellow_block">
				<img src="img/cirlcle5.png" alt="Alt">
				<div class="title">семейные выходные</div>
			</div>
			<div class="yellow_block">
				<img src="img/cirlcle6.png" alt="Alt">
				<div class="title">детские <br>лагеря</div>
			</div>
			<div class="yellow_block">
				<img src="img/cirlcle7.png" alt="Alt">
				<div class="title">методический отдел</div>
			</div><div class="yellow_block">
				<img src="img/cirlcle8.png" alt="Alt">
				<div class="title">калейдоскоп детских проектов</div>
			</div>
			<div class="yellow_block">
				<img src="img/cirlcle9.png" alt="Alt">
				<div class="title">профессиональные услуги</div>
			</div>
		</div>
	</div>
</section>
<!-- END DIV-20 -->

<!-- START FOOTER- -->
<footer id="footer">
	<div class="wrapper clearfix">
		<div class="logo_section">
			<img src="img/logo.png" alt="Alt">
			<div class="contact_link">Единый контакт-центр:   <span>+7 (495) 204-28-54</span></div>
			<a href="#" class="mail_link">info@domchudes.com</a>
			<div class="color_buttons">
				<a href="#">Кабинет родителя</a>
				<a href="#" class="open_modal">Заказать звонок</a>
			</div>
		</div>
		<div class="header_right_section">
			<div class="clearfix"></div>
			<ul>
				<li><span><img src="img/top_icon1.png" alt="Alt"></span><a href="#">Детские центры</a>
					<ul>
						<li><a href="#">На Мичуринском пр-те</a></li>
						<li><a href="#">На Ракетном б-ре (вднх)</a></li>
					</ul>
				</li>
				<li><span><img src="img/top_icon2.png" alt="Alt"></span><a href="#">Методический отдел</a></li>
				<li><span><img src="img/top_icon3.png" alt="Alt"></span><a href="#">Франшиза</a></li>
			</ul>
			<ul>
				<li><span><img src="img/top_icon4.png" alt="Alt"></span><a href="#">Агентство праздников</a></li>
				<li><span><img src="img/top_icon5.png" alt="Alt"></span><a href="#">Творческие мастерские</a></li>
				<li><span><img src="img/top_icon6.png" alt="Alt"></span><a href="#">Летние и сезонные лагеря</a></li>
				<li><span><img src="img/top_icon7.png" alt="Alt"></span><a href="#">Родительский клуб</a></li>
				<li><span><img src="img/top_icon8.png" alt="Alt"></span><a href="#">Калейдоскоп детских проектов</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="modal_h1">Заказать звонок</div>
		<form id="form10">
			<input type="text" name="name" placeholder="Ваше имя" class="main_input" required>
			<input type="text" name="phone" placeholder="Ваш телефон" class="main_input" required>
			<input type="text" name="mail" placeholder="Ваш E-mail" class="main_input" required>
			<input type="submit" value="Отправить" class="submit_main">
			<input type="hidden" name="formData" value="Заявка с сайта Дом чудес">
		</form>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL5 -->
<div class="overlay" id="overlay5" style="display:none;"></div> 
    <div class="nonebox" id="nonebox5"> 
     <a class="box-close one" id="box-close5" href="index.html"></a>
		<center><p class="success"><span>Спасибо за заявку!</span><br>
    В ближайшее время наш<br> менеджер Вам перезвонит<br>
    <a href="index.html">Спасибо</a></p></center>
    </div> 
<!-- END MODAL5 -->
<div id="menu">
	<ul>
		<li><a href="#">Детские центры</a></li>
		<li><a href="#">Методический отдел</a></li>
		<li><a href="#">Франшиза</a></li>
		<li><a href="#">Агентство праздников</a></li>
		<li><a href="#">Творческие мастерские</a></li>
		<li><a href="#">Летние и сезонные лагеря</a></li>
		<li><a href="#">Родительский клуб</a></li>
		<li><a href="#">Калейдоскоп детских проектов</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/ajax_form.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>