<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Prestige</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/TimeCircles.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-12"><img src="images/logo.png" alt="Alt" class="logo"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="phone_top">
						<div class="p_wrap">
						<p>+38 (063) 852-04-09</p>
						</div>
						<a href="#" data-toggle="modal" data-target="#myModal">Заказать звонок</a>
					</div>
				</div>
			</div>
		</div>
	</header>
<!-- END HEADER -->
<!-- MAIN SLIDER -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title_slider_bg">
					<div class="title">При покупке комплекта "наушники + плеер"</div>
					<div class="sub_title">флеш карта microSD на 8 Гб в подарок</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="img_wrap before1">
					<img src="images/main_slider_img1.jpg" alt="Alt" class="main_slider_img">
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="img_wrap before2">
					<img src="images/main_slider_img2.png" alt="Alt" class="main_slider_img secondary">
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<img src="images/main_slider_img3.png" alt="Alt" class="main_slider_img thirdary">
			</div>
		</div>
	</div>
	<div class="clock_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="title_time">Последний день акции!<br>
						До конца скидки осталось:</div>
						<div class="demo"></div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="form_bg">
						<div class="title">Заполните форму, пожалуйста!</div>
						<form id="form1">
							<input type="text" name="name" placeholder="Ваше имя:" class="main_input" required>
							<input type="tel" name="phone" placeholder="Ваш телефон:" class="main_input tel_phone" required>
							<input type="submit" value="Отправить заявку" class="main_submit">
							<input type="hidden" name="formData" value="Заявка с сайта PRESTIGE.BIZ.UA">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END MAIN SLIDER -->
<!-- TARGET -->
	<div class="target_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="h1_main">комплект идеален для:</div>
				</div>
			</div>
			<div class="target_wrapper">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<img src="images/target_img1.jpg" alt="Alt">
						<p>занятия спортом</p>
					</div>
					<div class="col-md-3 col-sm-3">
						<img src="images/target_img2.jpg" alt="Alt">
						<p>путешествия</p>
					</div>
					<div class="col-md-3 col-sm-3">
						<img src="images/target_img3.jpg" alt="Alt">
						<p>активного отдыха</p>
					</div>
					<div class="col-md-3 col-sm-3">
						<img src="images/target_img4.jpg" alt="Alt">
						<p>прогулки</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END TARGET -->
<!-- DESCRIPTION -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">описание товара</div>
			</div>
		</div>
		<div class="desc_wrap">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<img src="images/desc_img1.png" alt="Alt" class="desc_img">
				</div>
				<div class="col-md-8 col-sm-8">
					<div class="desc_block">
						<div class="title">Новый Красочный Mp3-плеер Тонкий 2/4/8/16/32 ГБ 1.8 &quot;ЖК- Экран Рекордер тонкий Mp3-плеер Micro TF Слот Для Карты</div>
						<p>- это мега компактный и стильный плеер, который легко и приятно носить с собой.
						Его можно закрепить на одежде при помощи прищепки и наслаждаться музыкой до 10 часов в режиме нон-стоп, не переживая, что плеер будет где-то забыт или утерян.
						Плеер имеет простой интерфейс, поэтому он максимально понятен и удобен в
						использовании.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<img src="images/desc_img2.png" alt="Alt" class="desc_img">
				</div>
				<div class="col-md-8 col-sm-8">
					<div class="desc_block d_secondary">
						<div class="desc_t">
							<div class="title">Xiaomi Наушники С Пультом Управления и Микрофоном</div>
							<p>Глубокие и динамичные басы<br>
							Встроенный пульт управления для мобильных устройств<br>
							Удобство использования в дороге и в метро, высокое шумоподавление.<br>
							Совместимость с iPhone, iPad и мобильными гаджетами под управлением Android</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<img src="images/desc_img3.png" alt="Alt" class="desc_img">
				</div>
				<div class="col-md-8 col-sm-8">
					<div class="desc_block pl_mt">

						<div class="title">2016 Новый USB ЖК Screen16GB Поддержка Flash TF Музыкальный Проигрыватель MP3 Музыка FM Радио DEC17</div>
						<p>Проигрыватель MP3 Музыка FM Радио DEC17 универсальный цифровой музыкальный проигрыватель с поддержкой форматов MP3, WMA, WAV (включая и защищенные WMA-DRM10). Новинка оснащена USB-разъемом, стандарта Hi-Speed USB 2.0, позволяющим использовать ее в качестве USB флэш- накопителя с объемом памяти 16GB. Монохромный OLED-дисплей отображает не только название текущей композиции, но и тексты песен. Плеер оборудован встроенным FM-приемником и интегрированным диктофоном с функцией голосовой активации.
						</p>

					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END DESCRIPTION -->
<!-- PRICE -->
	<div class="target_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="h1_main">наши предложения</div>
				</div>
			</div>
			<div class="price_wrap">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="price_block">
							<div class="title">Xiaomi Поршень 2 In-Ear Наушники С Пультом Управления и Микрофоном </div>
							<div class="price_absolute">
								<img src="images/img_price1.jpg" alt="Alt">
								<div class="cross_line_price">
									Цена 220 грн
								</div>
								<hr>
								<div class="price">Цена 130 грн</div>
								<hr>
								<a href="#" class="order" data-toggle="modal" data-target="#myModal">Заказать</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="price_block">
							<div class="title">New Colorful Mp3 Player Slim 2/4/8/16/32GB 1.8"</div>
							<div class="price_absolute">
								<img src="images/img_price2.jpg" alt="Alt">
								<hr>
								<div class="price">Цена 280 грн</div>
								<hr>
								<a href="#" class="order" data-toggle="modal" data-target="#myModal">Заказать</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="price_block">
							<div class="title">Карта Micro Sd 32 ГБ 64 ГБ 16 ГБ 8 ГБ class10</div>
							<div class="price_absolute">
								<img src="images/img_price3.jpg" alt="Alt">
								<hr>
								<div class="price">Цена 100 грн</div>
								<hr>
								<a href="#" class="order" data-toggle="modal" data-target="#myModal">Заказать</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="price_block">
							<div class="title">USB LCD Screen16GB Support Flash TF Music Player MP3 Music FM Radio DEC17</div>
							<div class="price_absolute">
								<img src="images/img_price4.jpg" alt="Alt">
								<hr>
								<div class="price">Цена 349 грн</div>
								<hr>
								<a href="#" class="order" data-toggle="modal" data-target="#myModal">Заказать</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END PRICE -->
<!-- HOW TO ORDER -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">КАК ЗАКАЗАТЬ</div>
			</div>
		</div>
		<div class="circles_wrap">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="circles_block">
						<img src="images/order_icon1.png" alt="Alt">
					</div>
					<p>Вы оставляете заявку на<br>
					сайте или по телефону</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="circles_block sec_c">
						<img src="images/order_icon2.png" alt="Alt">
					</div>
					<p>Менеджер связывается<br>
					с Вами для подтверждения
					заказа</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="circles_block">
						<img src="images/order_icon3.png" alt="Alt">
					</div>
					<p>Мы высылаем Вам посылку<br>
					по указанному адресу</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="circles_block last_circle">
						<img src="images/order_ico4.png" alt="Alt">
					</div>
					<p>Вы получаете комплект и<br>
					платите за него на почте</p>
				</div>
			</div>
		</div>
	</div>
<!-- END HOW TO ORDER -->
<!-- DELIVERY -->
	<div class="target_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="h1_main">Оплата и доставка</div>
				</div>
			</div>
			<div class="delivery_wrap">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<img src="images/delivery_img.jpg" alt="Alt">
					</div>
					<div class="col-md-9 col-sm-9">
						<div class="delivery_text">
							<div class="title">Доставка осуществляется Почтой</div>
							<p>После оформления заказа с Вами свяжется наш менеджер для подтверждения заказа. 
							Ваш заказ мы отправляем наложенным платежом через почту, Вы оплачиваете заказ при получении в отделении, после осмотра и проверки посылки. 
							Для получения посылки Вам необходимо будет предъявить паспорт.</p>
							<p>Доставка осуществляется во все города Украины.
							Сроки доставки 1-3 дня с момента подтверждения заказа.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END DELIVERY -->
<!-- REVIEWS -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">ОТЗЫВЫ ПОКУПАТЕЛЕЙ</div>
			</div>
		</div>
		<div class="row">
				<div class="col-md-12">
					<div class="review_wrap">
						<ul class="bxslider">
							<li>
								<img src="images/review_img.jpg" alt="Alt">
								<div class="review_text">
									<div class="who">Дарья</div>
									<div class="who">г. Запорожье</div>
									<div class="who">02.07.2016г.</div>
									<p>Купила комплект «наушники + плеер» ребенку на день рождение, карту микро SD на 8ГБ прислали в посылке бесплатно, ему очень понравился мой подарок. Яркое звучание басов в наушниках и высокое качество выхода 3,5 мм в плеере позволяют наслаждаться музыкой. Комплект пришел по Новой Почте за 2 дня, подумываю купить еще один, теперь рекомендую родственникам и знакомым.</p>
								</div>
							</li>
							<li>
								<img src="images/review_img2.jpg" alt="Alt">
								<div class="review_text">
									<div class="who">Андрей</div>
									<div class="who">г. Львов</div>
									<div class="who">15.02.2016г.</div>
									<p>Заказал цифровой USB плеер с объемом памяти 16 ГБ. Остался доволен покупкой, так как его можно использовать не только для прослушивания музыки, радио, но использовать как обычную карту памяти. Доставка оказалась быстрой чем я предполагал. Рекомендую всем!!!</p>
								</div>
							</li>
							<li>
								<img src="images/review_img3.jpg" alt="Alt">
								<div class="review_text">
									<div class="who">Людмила</div>
									<div class="who">г. Одесса</div>
									<div class="who">25.05.2016г.</div>
									<p>Все замечательно работает. Купила два комплекта, доставка оказалась бесплатной + две карты памяти. Довольна покупкой.</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
		</div>
	</div>
<!-- END REVIEWS -->
<!-- FORM -->
	<div class="clock_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="title_time">Последний день акции!<br>
						До конца скидки осталось:</div>
						<div class="demo"></div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="form_bg">
						<div class="title">Заполните форму, пожалуйста!</div>
						<form id="form2">
							<input type="text" name="name" placeholder="Ваше имя:" class="main_input" required>
							<input type="tel" name="phone" placeholder="Ваш телефон:" class="main_input tel_phone" required>
							<input type="submit" value="Отправить заявку" class="main_submit">
							<input type="hidden" name="formData" value="Заявка с сайта PRESTIGE.BIZ.UA">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END FORM -->
<!-- FOOTER -->
	<div class="footer_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="copyright">Copyright ©2015 - 2016</div>
					<p class="phone_bottom">+38 (063) 852-04-09</p>
					<a href="mailto:magazin.prestizh@yandex.ru" class="links_bottom">magazin.prestizh@yandex.ru</a>
				</div>
				<div class="col-md-9 col-sm-6">
					<div class="links_bottom_wrap">
						<a href="#" class="links_bottom" data-toggle="modal" data-target="#myModal">Заказать обратный звонок</a>
						<a href="#" class="links_bottom">Политика конфиденциальности</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content form_bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title title" id="myModalLabel">Заполните форму, пожалуйста!</h4>
      </div>
      <div class="modal-body">
        <form id="form3">
							<input type="text" name="name" placeholder="Ваше имя:" class="main_input" required>
							<input type="tel" name="phone" placeholder="Ваш телефон:" class="main_input tel_phone" required>
							<input type="submit" value="Отправить заявку" class="main_submit">
						</form>
						<input type="hidden" name="formData" value="Заявка с сайта PRESTIGE.BIZ.UA">
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="thankyouModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Спасибо за заявку!</h4>
      </div>
      <div class="modal-body">
          <p>В ближайшее время наш<br> менеджер Вам перезвонит</p>                     
      </div>    
    </div>
  </div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/TimeCircles.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/ajax_form.js"></script>
<script src="js/jquery.maskedinput.js"></script>
<script src="js/script.js"></script>
 </body>
</html>