<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Заголовок</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/flipclock.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->

	<div class="main_nav">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#" class="ontop1">Начало</a></li>
				<li><a href="#" class="ontop2">Зачем и для кого?</a></li>
				<li><a href="#" class="ontop3">Программа мастер-класса</a></li>
				<li><a href="#" class="ontop4">Что получите</a></li>
				<li><a href="#" class="ontop5">Кто ведет мастер-класс</a></li>
				<li><a href="#" class="ontop6">Отзывы</a></li>
				<li><a href="#" class="ontop7">Место проведения</a></li>
			</ul>
			<div class="toggle_menu">
				<a href="#menu" id="toggle"><span></span></a>
			</div>
		</div>
	</div>
	<div id="wrapper">
	<header class="some_top1">
		<div class="main_container clearfix">
			<div class="logo clearfix">
				<img src="images/logo.png" alt="Alt">
				<div class="title">Бесплатный мастер-класс 2 в 1  <br>
					"Ораторское мастерство" и "Актерское мастерство для оратора" <br>
					от Олега Леймана
				</div>
			</div>
			<div class="phone_top">+7 (913) 828 38 19 <br><span>Адрес: Москва, ул. Авиамоторная,д. 10, корпус 1</span>	</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- MAIN SLIDER -->
	<div class="main_slider_bg">
		<div class="main_container clearfix">
			<img src="images/men.png" alt="Alt" class="man">
			<div class="main_slider_text">
				<h2>БЕСПЛАТНЫЙ МАСТЕР-КЛАСС 2 в 1 для тех, кто хочет всегда достигать поставленных целей в личной жизни, на работе, в бизнесе</h2>
				<h1>"ОСНОВЫ ОРАТОРСКОГО МАСТЕРСТВА. АКТЕРСКОЕ МАСТЕРСТВО ДЛЯ ОРАТОРА"</h1>
				<span>10 марта 2017 года, 19:00 мск</span>
				<ul>
					<li>Реальные приемы и фишки, которые помогают выступать публично</li>
					<li>20% — теории и 80% — практики в режиме интерактива</li>
					<li>Индивидуальная работа с каждым участником</li>
				</ul>
			</div>
		</div>
	</div>
<!-- END MAIN SLIDER -->
<!-- TIME FORM -->
	<div class="time_form_wrap">
		<div class="main_container clearfix">
			<div class="timer_cont">
				<div class="title">До начала мастер-класса <br>осталось:</div>
				<div class="your-clock"></div>
			</div>
			<a href="#" class="button_timer open_modal">Иду на мастер-класс!</a>
		</div>
	</div>
<!-- END TIME FORM -->
<!-- CIRCLES -->
	<div class="cirlces_bg some_top2">
		<div class="main_container clearfix">
			<div class="main_h1">ВСЕМ НАДО УМЕТЬ ОБЩАТЬСЯ И ВЫСТУПАТЬ ПУБЛИЧНО!</div>
			<div class="main_h2">Это НЕ преувеличение! Каждый из нас выступает публично ежедневно по несколько часов. Да-да, ведь наша аудитория может состоять даже из 1-3 человек. Судите сами...</div>
			<div class="cirlces_wrap">
				<div class="cirlces_block">
					<img src="images/cirlce1.png" alt="Alt">
					<p>Вы докладываете начальнику о результатах работы про проекту Х</p>
				</div>
				<div class="cirlces_block">
					<img src="images/cirlce2.png" alt="Alt">
					<p>Вы пытаетесь убедить родных выехать за город на weekend</p>
				</div>
				<div class="cirlces_block">
					<img src="images/cirlce3.png" alt="Alt">
					<p>Вы должны читать доклад на каком-то пленарном заседании</p>
				</div>
				<div class="cirlces_block">
					<img src="images/cirlce4.png" alt="Alt">
					<p>Вы бизнесмен и ведете переговоры с партнерами, на кону - многомиллионный контракт</p>
				</div>
				<div class="cirlces_block">
					<img src="images/cirlce5.png" alt="Alt">
					<p>Вы менеджер по продажам, от умения убеждать и продавать (словами :))) зависит ваш заработок</p>
				</div>
				<div class="cirlces_block">
					<img src="images/cirlce6.png" alt="Alt">
					<p>Вас пригласили на бизнес-конференцию и просят презентовать компанию</p>
				</div>
			</div>
			<div class="divider"></div>
			<div class="cirlces_desc clearfix">
				<img src="images/cirlces_desc.png" alt="Alt">
				<div class="title">На самом деле совсем НЕ ВАЖНО, ПЕРЕД КЕМ вам придется выступать и О ЧЕМ говорить. ВАЖНО другое — ПОЛУЧИТЬ РЕЗУЛЬТАТ: быть услышанным, понятым, доказать свою точку зрение, суметь убедить... Вот тут и появляются трудности...</div>
			</div>
		</div>
	</div>
<!-- END CIRCLES -->
<!-- SCARY -->
	<div class="main_container clearfix">
		<div class="main_h1">ГЛАВНАЯ ПРОБЛЕМА ЛЮБОГО ВЫСТУПАЮЩЕГО — СТРАХ</div>
		<img src="images/man2.png" alt="Alt" class="man2">
		<div class="point_wrap clearfix">
			<div class="l_side">
				<div class="point_block">Выступать? Боже! Я не смогу! Я забуду самое важное и опозорюсь!</div>
				<div class="point_block">Как только выхожу на сцену, у меня<br> начинается мандраж, дрожат руки и<br> ноги, сердце колотится как<br> сумасшедшее...</div>
			</div>
			<div class="r_side">
				<div class="point_block">Я часто теряю нить выступления, когда нахожусь на публике, путаюсь в словах...</div>
				<div class="point_block">У меня пересыхает в горле, язык прилипает к небу, двух слов не могу связать...</div>
				<div class="point_block">А если я буду выглядеть как-то не так? И надо мной потом будут смеяться? Не хочу!</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="point_desc clearfix">
			<img src="images/point_img.png" alt="Alt">
			<div class="point_text">
				<p>Вы можете продолжать бояться всю свою жизнь. И тогда кто-то, но НЕ ВЫ будет делать успешную карьеру, добиваться новых высот в бизнесе, привлекать к себе особое внимание!</p>
				<p>А можете хотя бы 1 раз попытаться дать отпор своим страхам. И сделать это можно совсем скоро — на БЕСПЛАТНОМ мастер-классе по ораторскому мастерству!</p>
			</div>
		</div>
		<a href="#" class="order_button open_modal">Хочу справится со своими страхами!</a>
	</div>
<!-- END SCARY -->
<!-- FREE -->
	<div class="cirlces_bg some_top3">
		<div class="main_container clearfix">
			<div class="main_h1">БЕСПЛАТНЫЙ МАСТЕР-КЛАСС ПО ОРАТОРСКОМУ МАСТЕРСТВУ ПОМОЖЕТ ВАМ ПРЕОДОЛЕТЬ СТРАХ</div>
			<div class="main_h2">Что входит в мастер-класс?</div>
			<div class="free_wrap clearfix">
				<div class="free_block">
					<div class="title">20% <span>ТЕОРИИ</span></div>
					<div class="divider"></div>
					<div class="subtitle">Основы ораторского мастерства</div>
					<div class="list_title">О чем поговорим:</div>
					<ul>
						<li>3 важных факторах, от которых зависит успех публичного выступления: 
							<ul class="sub_li">
								<li>1) ОРАТОР (кто и как выступает)  </li>
								<li>2) АУДИТОРИЯ (перед кем, где и когда <br>выступают)</li>
								<li>3) ХАРАКТЕР, ЦЕЛЬ мероприятия (чему<br> посвящено и какова цель выступления)  </li>
							</ul>
						 </li>
						<li>Кто такой оратор? Какие качества и навыки необходимо развивать в себе, чтобы стать успешным оратором?</li>
						<li>Как побороть страх публичных выступлений? </li>
						<li>4 жанра жанра публичного выступления  </li>
						<li>Как правильно подготовить себя к выступлению (пошаговый алгоритм подготовки)</li>
					</ul>
				</div>
				<div class="free_time">
				2-3 <br>часа <br>+			
				</div>
				<div class="free_block">
					<div class="title">80% <span>ПРАКТИКИ</span></div>
					<div class="divider"></div>
					<div class="subtitle">Актерское мастерство для оратора</div>
					<div class="list_title">Что вас ждет:</div>
					<ul>
						<li>Отработка на практике знаний, полученных в первом блоке "Основы ораторского мастерства", в интерактивном режиме </li> 
						<li>Работа на сцене </li>  
						<li>Уроки по укрощению своих эмоций и управлению ими </li>  
						<li>Избавление от своих социальных масок и приобретение искренности </li>  
						<li>Отработка навыков построения и произнесения искреннего выступления, которое вызывает отклик и доверие </li>  
						<li>Внедрение на практике пошагового алгоритма подготовки публичного выступления</li> 
					</ul>
				</div>
			</div>
			<div class="free_desc_title">+ ИНДИВИДУАЛЬНАЯ РАБОТА С КАЖДЫМ УЧАСТНИКОМ МАСТЕР-КЛАССА</div>
		</div>
	</div>
<!-- END FREE -->
<!-- GIVE YOU -->
	<div class="main_container clearfix some_top4">
		<div class="main_h1">ЧТО ВАМ ДАСТ ЭТОТ МАСТЕР-КЛАСС?</div>
		<div class="give_wrap">
			<div class="give_block clearfix">
				<img src="images/give_img1.jpg" alt="Alt">
				<div class="give_text">
					<div class="title">Вы научитесь управлять эмоциями</div>
					<p>Вы преодолеете страх публичного выступления, избавитесь от трясучки и волнения. Вы сможете энергию страха и волнения перенаправить в нужное русло</p>
					<p>Вы научитесь виртуозно управлять эмоциями ДО, ВО ВРЕМЯ и ПОСЛЕ выступления</p>
					<p>Вы сможете доводить себя до куража перед выступлением, чтобы оно прошло для вас и для аудитории на одном дыхании</p>
				</div>
			</div>
			<div class="give_block clearfix r-give">
				<img src="images/give_img2.jpg" alt="Alt">
				<div class="give_text">
					<div class="title">Вы научитесь управлять аудиторией</div>
					<p>Вы научитесь быстро располагать к себе слушателей, быть искренним и настоящим </p> 
					<p>Вы приобретете навыки коммуникации (общения) с аудиторией и взаимодействия с ней, разовьете в себе такое качество, как артистизм</p>   
					<p>Вы освоите владение языком тела и сможете даже невербально воздействовать на аудиторию</p>   
					<p>Вы научитесь управлять вниманием аудитории, приобретете навыки прямых продаж со сцены, навыки убеждения, работы с возражениями, умение быстро искать сильные аргументы и красиво уходить от ненужных вопросов </p> 
				</div>
			</div>
			<div class="give_block clearfix">
				<img src="images/give_img3.jpg" alt="Alt">
				<div class="give_text">
					<div class="title">Вы научитесь управлять речью</div>
					<p>Вы овладеет техникой речи, научитесь управлять ее скоростью (при необходимости замедлять ее темп или наоборот ускорять, правильно выдерживать паузы)</p>    
					<p>Вы научитесь правильно повышать/понижать голос, придадите своей речи богатый интонационный рисунок</p>    
					<p>Вы наполните речь богатым содержанием, необходимыми эмоциями, познакомитесь с правилами дикции и произносительными нормами</p>    
					<p>Узнаете, как правильно работать с голосом и добиваться совершенства речи благодаря правильному дыханию и гимнастике речевого аппарата</p>  
				</div>
			</div>
			<div class="give_block clearfix r-give">
				<img src="images/give_img4.jpg" alt="Alt">
				<div class="give_text">
					<div class="title">Вы научитесь готовиться к выступлению, то есть:</div>
					<p>Готовить себя к выступлению эмоционально (добиваться уверенности в себе и внутреннего куража)</p>  
					<p>Правильно анализировать аудиторию, перед которой будете выступать  </p>
					<p>Определять характер выступления (информационное, риутальное, развлекательное или побуждающее к действию) </p> 
					<p>Определять форму и содержание выступления и писать его подробный план, который включает 8 пунктов </p> 
					<p>Обязательно прогонять выступление перед камерой, пока не останенесь довольны результатом  </p>
					<p>Вы приучите себя анализировать каждое свое выступление на предмет плюсов и минусов и оценивать себя по 10-балльной шкале</p>
				</div>
			</div>
		</div>
		<div class="free_desc_title">И ВСЁ ЭТО — АБСОЛЮТНО БЕСПЛАТНО!</div>
		<a href="#" class="order_button open_modal">Записаться на мастер-класс</a>
	</div>
<!-- END GIVE YOU -->
<!-- WHO -->
	<div class="cirlces_bg who_bg some_top5">
		<div class="main_container clearfix">
			<img src="images/man_big.png" alt="Alt" class="man_big">
			<div class="who_text">
				<div class="main_h1">КТО БУДЕТ УЧИТЬ ВАС ОРАТОРСКОМУ МАСТЕРСТВУ?</div>
				<div class="main_h2">Олег Лейман</div>
				<p>Предприниматель, бизнес-консультант, тренер в области успеха и личностного роста, писатель, автор книг по успеху</p>  
				<p>Человек-практик, имеет опыт создания бизнеса с нуля, ведения и развития бизнес-проектов в разных сегментах рынка</p>   
				<p>Автор комплексной программы развития и тренингов "Успех и сдерживающие факторы", "Бизнес с нуля"</p>   
				<p>Наконец просто прирожденный оратор, который на собственном опыте убедился: в умении выступать публично и общаться с людьми заложено 70% УСПЕХА</p>   
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
<!-- END WHO -->
<!-- TRENINGS PHOTO -->
	<div class="main_container clearfix">
		<div class="main_h1">ТРЕНИНГИ ОЛЕГА ВСЕГДА КРЕАТИВНЫЕ, ЭМОЦИОНАЛЬНЫЕ<br> И УВЛЕКАТЕЛЬНЫЕ</div>
		<div class="gallery_wrap clearfix">
			<div class="photo_row clearfix">
				<div class="col_left">
					<a href="images/gallery_photo1_big.jpg" class="fancybox"><img src="images/gallery_photo1.jpg" alt="Alt"></a>
					<a href="images/gallery_photo2_big.jpg" class="fancybox"><img src="images/gallery_photo2.jpg" alt="Alt"></a>
				</div>
				<div class="col_center">
					<a href="images/gallery_photo3_big.jpg" class="fancybox"><img src="images/gallery_photo3.jpg" alt="Alt"></a>
				</div>
				<div class="col_right">
					<a href="images/gallery_photo4_big.jpg" class="fancybox"><img src="images/gallery_photo4.jpg" alt="Alt"></a>
					<a href="images/gallery_photo5_big.jpg" class="fancybox"><img src="images/gallery_photo5.jpg" alt="Alt"></a>
					<a href="images/gallery_photo6_big.jpg" class="fancybox"><img src="images/gallery_photo6.jpg" alt="Alt"></a>
					<a href="images/gallery_photo7_big.jpg" class="fancybox"><img class="last" src="images/gallery_photo7.jpg" alt="Alt"></a>
				</div>
			</div>
			<div class="photo_row clearfix">
				<div class="col_left">
					<a href="images/gallery_photo8_big.jpg" class="fancybox"><img src="images/gallery_photo8.jpg" alt="Alt"></a>
					<a href="images/gallery_photo9_big.jpg" class="fancybox"><img src="images/gallery_photo9.jpg" alt="Alt"></a>
				</div>
				<div class="col_center">
					<a href="images/gallery_photo10_big.jpg" class="fancybox"><img src="images/gallery_photo10.jpg" alt="Alt"></a>
				</div>
				<div class="col_right">
					<a href="images/gallery_photo11_big.jpg" class="fancybox"><img src="images/gallery_photo11.jpg" alt="Alt"></a>
					<a href="images/gallery_photo12_big.jpg" class="fancybox"><img src="images/gallery_photo12.jpg" alt="Alt"></a>
					<a href="images/gallery_photo13_big.jpg" class="fancybox"><img src="images/gallery_photo13.jpg" alt="Alt"></a>
					<a href="images/gallery_photo14_big.jpg" class="fancybox"><img class="last" src="images/gallery_photo14.jpg" alt="Alt"></a>
				</div>
			</div>
		</div>
		<a href="#" class="order_button m_photo">Показать больше фото</a>
	</div>
<!-- END TRENINGS PHOTO -->
<!-- VIDEO GALLERY -->
	<div class="video_bg some_top6">
		<div class="main_container clearfix">
			<div class="main_h1">А ВОТ ЧТО ГОВОРЯТ О МЕРОПРИЯТИЯХ ОЛЕГА ЛЕЙМАНА</div>
			<ul class="bxslider">
				<li>
					<iframe width="853" height="479" src="https://www.youtube.com/embed/0b6XkkkaDmU" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="853" height="479" src="https://www.youtube.com/embed/o03rTl1tYdE" frameborder="0" allowfullscreen></iframe>
				</li>
				<li>
					<iframe width="853" height="479" src="https://www.youtube.com/embed/uWhq93t7pBQ" frameborder="0" allowfullscreen></iframe>
				</li>
			</ul>
		</div>
	</div>
<!-- END VIDEO GALLERY -->
<!-- TIMER -->
	<div class="timer_bg">
		<div class="main_container clearfix">
			<div class="main_h1">ВЫ — С НАМИ? <br>ТОГДА ПРЕДЛАГАЕМ ПОТОРОПИТЬСЯ!</div>
			<div class="title">До начала мастер-класса осталось:</div>
			<div class="your-clock1"></div>
			<a href="#" class="subtitle open_modal">Я — С ВАМИ! ИДУ НА БЕСПЛАТНЫЙ МАСТЕР-КЛАСС!</a>
		</div>
	</div>
<!-- END TIMER -->
<!-- MAP -->
	<div id="map" class="some_top7"></div>
<!-- END MAP -->
<!-- FOOTER -->
	<footer>
		<div class="main_container clearfix">
			<div class="logo clearfix">
				<img src="images/logo.png" alt="Alt">
				<div class="title">Бесплатный мастер-класс 2 в 1  <br>
					"Ораторское мастерство" и "Актерское мастерство для оратора" <br>
					от Олега Леймана
				</div>
			</div>
			<div class="phone_top">+7 (913) 828 38 19 <br><span>Адрес: Москва, ул. Авиамоторная,д. 10, корпус 1</span>	</div>
		</div>
	</footer>
<!-- END FOOTER -->
</div>
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="title">Иду на мастер-класс</div>
		<form id="form1">
			<input type="text" name="name" placeholder="Ваше имя" class="modal_input" required>
			<input type="text" name="phone" placeholder="Ваш телефон" class="modal_input tel_phone" required>
			<input type="submit" value="Записаться" class="modal_submit">
			<input type="hidden" name="formData" value="Заявка с сайта">
			<a href="pol.html" class="pol" target="_blank">Политика конфиденциальности</a>
		</form>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL5 -->
<div class="overlay" id="overlay5" style="display:none;"></div> 
    <div class="nonebox" id="nonebox5"> 
     <a class="box-close one" id="box-close5" href="index.html"></a>
		<center><p class="success"><span>Спасибо за заявку!</span><br>
    В ближайшее время<br> мы свяжемся с Вами<br>
    <a href="index.html">Спасибо</a></p></center>
    </div> 
<!-- END MODAL5 -->
<div id="menu">
	<ul>
		<li><a href="#" class="ontop1">Начало</a></li>
		<li><a href="#" class="ontop2">Зачем и для кого?</a></li>
		<li><a href="#" class="ontop3">Программа мастер-класса</a></li>
		<li><a href="#" class="ontop4">Что получите</a></li>
		<li><a href="#" class="ontop5">Кто ведет мастер-класс</a></li>
		<li><a href="#" class="ontop6">Отзывы</a></li>
		<li><a href="#" class="ontop7">Место проведения</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/jquery.bxslider.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.maskedinput.js"></script>
<script src="js/ajax_form.js"></script>
<script src="js/flipclock.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/script.js"></script>
<script>
ymaps.ready(function () {
    var myMap = new ymaps.Map('map', {
            center: [55.754253, 37.715318],
            zoom: 16,
          controls: ['zoomControl']
        }, {
            searchControlProvider: 'yandex#search'
        }),
        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: 'Собственный значок метки',
            balloonContent: 'Москва, ул. Авиамоторная, д. 10, корпус 1'
        }, {
            // Опции.
            // Необходимо указать данный тип макета.
            iconLayout: 'default#image',
            // Своё изображение иконки метки.
            iconImageHref: 'images//marker.png',
            // Размеры метки.
            iconImageSize: [28, 36],
            // Смещение левого верхнего угла иконки относительно
            // её "ножки" (точки привязки).
            iconImageOffset: [-15, -15]
        });

    myMap.geoObjects.add(myPlacemark);
    myMap.behaviors.disable('scrollZoom');
});
</script>
 </body>
</html>