div.fancy-select {
	position: relative;
	font-weight: bold;
	font-size: 13px;
	color: #46565D;
	float: right;
}

div.fancy-select.disabled {
	opacity: 0.5;
}

div.fancy-select select:focus + div.trigger {
	box-shadow: 0 0px 9.5px 0.5px rgba(0, 0, 0, 0.1);
}

div.fancy-select select:focus + div.trigger.open {
	box-shadow: 0 -4px 9.5px 0.5px rgba(0, 0, 0, 0.1);
}

div.fancy-select div.trigger {
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background: #fff;
	color: #4B5468;
	width: 251px;
	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
	font-family: 'open_sansregular';
	font-size: 14px;
	color: #808080;
	border-radius: 8px;
	padding: 16px;
	box-sizing: border-box;
	box-shadow: 0 0 9.5px 0.5px rgba(0, 0, 0, 0.1);
}

div.fancy-select div.trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 20px;
	right: 9px;
}

div.fancy-select div.trigger.open {
	background: #fff;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

div.fancy-select div.trigger.open:after {
	border-top-color: #7A8498;
}

div.fancy-select ul.options {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 40px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	overflow: auto;
	background: #fff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	width: 251px;
	box-sizing: border-box;
	font-family: 'open_sansregular';
	font-size: 14px;
	color: #303030;
	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	box-shadow: 0 4px 9.5px 0.5px rgba(0, 0, 0, 0.1);
}

div.fancy-select ul.options.open {
	visibility: visible;
	top: 39px;
	opacity: 1;

	/* have to use a non-visibility transition to prevent this iOS issue (bug?): */
	/*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
	top: auto;
	bottom: 40px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
	top: auto;
	bottom: 50px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
	padding: 5px 18px;
	color: #303030;
	cursor: pointer;
	white-space: nowrap;

	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
	background: rgba(43,134,134,0.3);
	color: rgba(255,255,255,0.75);
}

div.fancy-select ul.options li.hover {
	background-color: #aeaa28;
	color: #fff;
}
.cart_wrapper .fancy-select div.selected {
	font-family: 'open_sanssemi';
	font-size: 16px;
	color: #aeaa28;
	text-align: right;
	position: relative;
	padding-right: 30px;
}
.cart_wrapper .fancy-select div.selected:before {
	font-family: 'open_sansregular';
	font-size: 14px;
	color: #808080;
	position: absolute;
	content: 'Сортировать по:';
	left: 16px;
	top: 17px;
}
div.fancy-select div.trigger:after {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 6px;
	background: url('../images/select_before8.png')no-repeat;
	right: 7px;
	top: 22px;
}
