<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Идеальная Ванная</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/flipclock.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body >
<!-- MENU -->
<div class="menu_bg clearfix">
	<div class="main_container clearfix to_top">
		<nav class="dnm">
			<li><a href="#" class="ontop">В начало</a></li>
			<li><a href="#" class="on_reasons">Выгоды</a></li>
			<li><a href="#" class="on_prices">Цены</a></li>
			<li><a href="#" class="on_examples">Примеры работ</a></li>
			<li><a href="#" class="on_reviews">Отзывы</a></li>
			<li><a href="#" class="on_steps">Процесс</a></li>
			<li><a href="#" class="on_footer">Контакты</a></li>
		</nav>
		<div class="toggle_menu">
	    <a href="#menu" id="toggle"><span></span></a>
	
</div>
<div class="call_top dnm">
			<a href="#"><div class="dnm">Заказать звонок</div><div class="dist"><a href="tel:+74951234567" class="dist">+7 (495) 123-45-67</a></div></a>
		</div>
	</div>
</div>
<!-- END MENU -->
<!-- HEADER -->
	<div class="main_container clearfix some_top">
		<div class="logo">
			<img src="images/logot.png" alt="Идеальная Ванная">
			<div class="logo_title">Идеальная Ванная</div>
			<div class="logo_text">Ремонт ванных комнат «под ключ» в Москве и Ближнем Подмосковье </div>
		</div>
		<div class="experience dnp">
			<p><span>8 лет </span>на рынке</p>
			<p><span>800 </span>отремонтированных санузлов</p>
			<p><span>12 </span>мастеров в штате</p>
		</div>
		<div class="call_top dnm">
			<p>Звоните с 10 до 20 без выходных</p>
			<span>+7 (495) 123-45-67</span>
			<a href="#" class="button">Заказать звонок</a>
		</div>
	</div>
<!-- END HEADER -->
<!-- MAIN SLIDER -->
<div class="main_bg_wrap">
	<div id="background_cycler" >
	<div style="background-image:url(images/main_slider_img1.jpg)" class="main_slider active"></div>
	<div style="background-image:url(images/main_slider_img2.jpg)" class="main_slider"></div>
	<div style="background-image:url(images/main_slider_img3.jpg)" class="main_slider"></div>
	<div style="background-image:url(images/main_slider_img4.jpg)" class="main_slider"></div>
	<div style="background-image:url(images/main_slider_img5.jpg)" class="main_slider"></div>
	</div>
	<div class="slogan">
		<div class="main_container clearfix">
			<div class="slogan_title">Красивый долговечный ремонт вашего санузла плиткой.<br>
			"Под ключ" от <span>24 600 рублей</span> С ПОСТОПЛАТОЙ!</div>
		</div>
	</div>
	<div class="main_container clearfix bgm slide1">
		<div class="left_form">
			<div class="title">Обратитесь <span>до конца недели</span> чтобы сделать ремонт со скидкой и получить подарок:</div>
			<ul class="list1">
				<li>Ремонт совмещенного санузла - от  <del>68000</del>  59800 рублей + Зеркальный шкаф в подарок!</li>
				<li>Ремонт ванной комнаты - от  <del>51000</del>  47400 рублей + Зеркальный шкаф в подарок!</li>
				<li>Ремонт туалета - от  <del>27000</del>  24600 рублей + Унитаз в подарок!</li>
				<li>Для заказчиков-женщин персональный подарок от генерального директора - коробка конфет Raffaello :)</li>
			</ul>
			<div class="end_action">До конца акции:</div>
			<div class="your-clock"></div>
			<img src="images/arrow_form1.png" alt="Идеальная Ванная" class="right_a dnp">
		</div>
		<div class="right_form sl1">
			<div class="title">Вызовите замерщика на<br> объект и получите бесплатную консультацию.<br> До 50 км от МКАД!</div>
			<form action="mail.php" method="post">
				<input type="text" class="main_input" placeholder="Укажите имя " name="name">
				<input type="text" class="main_input tel_phone" placeholder="Укажите телефон*" name="phone" required>
				<input type="text" placeholder="Коментарий" class="comment" name="mess">
				<input type="submit" value="хочу консультацию" class="submit1">
				<input type="hidden" name="formData" value="Заявка с сайта ИДЕАЛЬНАЯ ВАННАЯ">
			</form>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<!-- END MAIN SLIDER -->
<!-- REASONS -->
<div class="reasons_wrap">
	<div class="main_container clearfix">
		<div class="h1">6 причин, почему Вы будете довольны выбрав нас</div>
		<div class="h2">Как и более 800 наших клиентов</div>
		<div class="reasons_block clearfix">
			<img src="images/icon.png" alt="Идеальная Ванная">
			<div class="reasons_text">
				<span>Контролируемое качество</span>
				<p>Работы проводят мастера с опытом от 5 лет, прошедшие аттестацию. Система контроля качества и оценки клиентами стимулирует специалистов делать все максимально аккуратно и в то же время быстро.</p>
			</div>
		</div>
		<div class="reasons_block clearfix">
			<img src="images/icon-1.png" alt="Идеальная Ванная">
			<div class="reasons_text">
				<span>Невысокие цены</span>
				<p>Мы держим расценки несколько ниже среднерыночных. Экономия происходит за счет постоянной загрузки специалистов, оптовых скидок и минимизации накладных расходов.</p>
			</div>
		</div>
		<div class="reasons_block clearfix">
			<img src="images/icon-2.png" alt="Идеальная Ванная">
			<div class="reasons_text">
				<span>Оплата после приемки работ</span>
				<p>Вы платите после проверки выполненных работ и подписания акта приёмки.</p>
			</div>
		</div>
		<div class="reasons_block clearfix">
			<img src="images/icon-3.png" alt="Идеальная Ванная">
			<div class="reasons_text">
				<span>Комплексное снабжение</span>
				<p>Обеспечиваем всем необходимым (стройматериалы, сантехника, мебель) по ценам строительных рынков. Доставка - бесплатно!</p>
			</div>
		</div>
		<div class="reasons_block clearfix">
			<img src="images/icon-4.png" alt="Идеальная Ванная">
			<div class="reasons_text">
				<span>Консультация, замер, смета - бесплатно!</span>
				<p>Вы получаете предварительную консультацию менеджера по телефону, и далее визит инженера-сметчика без обязательств с Вашей стороны.</p>
			</div>
		</div>
		<div class="reasons_block clearfix">
			<img src="images/icon-5.png" alt="Идеальная Ванная">
			<div class="reasons_text">
				<span>Гарантия на работы и материалы</span>
				<p>На выполненные работы - 2 года, на поставленные нами материалы и комплектующие - 3 года.
	Вы платите после проверки выполненных работ и подписания актов приёмки. Возможность рассрочки поможет облегчить финансовую нагрузку без лишних хлопот и дорогостоящих кредитов.</p>
			</div>
		</div>
	</div>
</div>
<!-- END REASONS -->
<!-- CALL NOW -->
<div class="call_now_bg">
	<div class="main_container clearfix">
		<div class="ask">Задайте Ваши вопросы специалисту </div>
		<img src="images/arrow_q.png" alt="Идеальная Ванная" class="dnp">
		<div class="call_bl">
			<a href="tel:+74951234567">+7 (495) 123-45-67</a>
			<span>(с 10 до 20 без выходных)</span>
		</div>
	</div>
</div>
<!-- END CALL NOW -->
<!-- PRICE -->
<div class="main_container clearfix to_prices">
	<div class="h1">Стоимость ремонта «под ключ»</div>
	<div class="price_wrap clearfix">
		<div class="price_block">
			<div class="price_top">
				<p>Ремонт туалета</p>
			</div>
			<div class="much">От  <span><del>27 000</del></span>  24 600 руб.</div>
			<hr class="bolder_divider">
			<ul>
				<li>• Демонтажные работы</li>
				<li>• Облицовка плиткой пола</li>
				<li>• Облицовка плиткой стен</li>
				<li>• Реечный потолок</li>
				<li>• Замена труб водоснабжения </li>
				<li>• Установка унитаза</li>
			</ul>
			<div class="bottom_price">
				<hr>
				<p>Сроки проведения работ:</p>
				<span>5-8 дней</span>
				<hr>
				<p>Стоимость материалов:</p>
				<span>Черновые - от 4000 руб.</span>
				<span>Чистовые - от 7000 руб.</span>
				<a href="#" class="button">вызвать замерщика</a>
			</div>
		</div>
		<div class="price_block">
			<div class="price_top">
				<p>Ремонт ванной</p>
			</div>
			<div class="much">От  <span><del>51 000</del></span>  47 400 руб.</div>
			<hr class="bolder_divider">
			<ul>
				<li>• Демонтажные работы</li>
				<li>• Облицовка плиткой пола</li>
				<li>• Облицовка плиткой стен</li>
				<li>• Реечный потолок</li>
				<li>• Замена труб водоснабжения </li>
				<li>• Установка ванной</li>
				<li>• Установка экрана под ванну</li>
				<li>• Установка смесителя и душа</li>
				<li>• Установка раковины</li>
				<li>• Установка стиральной машины</li>
				<li>• Установка полотенцесушителя</li>
			</ul>
			<div class="bottom_price">
				<hr>
				<p>Сроки проведения работ:</p>
				<span>9-13 дней</span>
				<hr>
				<p>Стоимость материалов:</p>
				<span>Черновые - от 7000 руб.</span>
				<span>Чистовые - от 9000 руб.</span>
				<a href="#" class="button">вызвать замерщика</a>
			</div>
		</div>
		<div class="price_block">
			<div class="price_top">
				<p>РЕМОНТ СОВМЕЩЕННОГО САНУЗЛА</p>
			</div>
			<div class="much">От  <span><del>68 000</del></span>  59 800 руб.</div>
			<hr class="bolder_divider">
			<ul>
				<li>• Демонтажные работы</li>
				<li>• Облицовка плиткой пола</li>
				<li>• Облицовка плиткой стен</li>
				<li>• Реечный потолок</li>
				<li>• Замена труб водоснабжения </li>
				<li>• Установка ванной</li>
				<li>• Установка экрана под ванну</li>
				<li>• Установка унитаза</li>
				<li>• Установка смесителя и душа</li>
				<li>• Установка раковины</li>
				<li>• Установка точечных светильников</li>
				<li>• Установка стиральной машины</li>
				<li>• Установка полотенцесушителя</li>
			</ul>
			<div class="bottom_price">
				<hr>
				<p>Сроки проведения работ:</p>
				<span>12-15 дней</span>
				<hr>
				<p>Стоимость материалов:</p>
				<span>Черновые - от 10000 руб.</span>
				<span>Чистовые - от 12000 руб.</span>
				<a href="#" class="button">вызвать замерщика</a>
			</div>
		</div>
	</div>
</div>
<!-- END PRICE -->
<!-- QUESTION -->
<div class="call_now_bg">
	<div class="main_container clearfix">
		<div class="h1_q">Отправьте свой вопрос через форму:</div>
		<form action="">
			<input type="text" placeholder="Укажите имя" class="input_q">
			<input type="text" placeholder="Укажите телефон*" class="input_q tel_phone" required>
			<input type="text" placeholder="Ваш вопрос" class="input_q">
			<input type="submit" value="отправить заявку" class="submit_q">
		</form>
	</div>
</div>
<!-- END QUESTION -->
<!-- EXAMPLES -->
<div class="main_container clearfix on_tabs">
	<div class="h1">Примеры наших работ</div>
	<div class="tabs_wrap">
		<div class="korpus">
  		<input type="radio" name="odin" checked="checked" id="vkl1"/><label for="vkl1"><span class="dnm">Проект 1</span>
  		<span class="dnd">#1</span></label>
  		<input type="radio" name="odin" id="vkl2"/><label for="vkl2"><span class="dnm">Проект 2</span>
  		<span class="dnd">#2</span></label>
  		<input type="radio" name="odin" id="vkl3"/><label for="vkl3"><span class="dnm">Проект 3</span>
  		<span class="dnd">#3</span></label>
  		<input type="radio" name="odin" id="vkl4"/><label for="vkl4"><span class="dnm">Проект 4</span>
  		<span class="dnd">#4</span></label>
		<div>
			<div class="t_place1 adres">
				<span>Нахождение:</span>
				<p>г. Москва, Проспект Вернадского</p>
			</div>
			<div class="t_place2 adres">
				<span>Площадь:</span>
				<p>124 кв.м.</p>
			</div>
			<div class="t_place3 adres">
				<span>Смета:</span>
				<p>75 000 руб. (без материалов)</p>
			</div>
			<div class="clearfix"></div>
			<hr>
			<ul class="bxslider">
			  <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dbp dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>
			   <li>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>
			   <li>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnp ">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>
			   <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>

			</ul>
		</div>
		<div id="reset">
			<div class="t_place1 adres">
				<span>Нахождение:</span>
				<p>г. Москва, Проспект Вернадского</p>
			</div>
			<div class="t_place2 adres">
				<span>Площадь:</span>
				<p>124 кв.м.</p>
			</div>
			<div class="t_place3 adres">
				<span>Смета:</span>
				<p>75 000 руб. (без материалов)</p>
			</div>
			<div class="clearfix"></div>
			<hr>
			<ul class="bxslider1">
			  <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dbp dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>
			   <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>
			   <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>
			   <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>

			</ul>
		</div>
		<div>
			<div class="t_place1 adres">
				<span>Нахождение:</span>
				<p>г. Москва, Проспект Вернадского</p>
			</div>
			<div class="t_place2 adres">
				<span>Площадь:</span>
				<p>124 кв.м.</p>
			</div>
			<div class="t_place3 adres">
				<span>Смета:</span>
				<p>75 000 руб. (без материалов)</p>
			</div>
			<div class="clearfix"></div>
			<hr>
			<ul class="bxslider2">
			  <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dbp dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>
			   <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>
			   <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>
			   <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>

			</ul>
		</div>
		<div>
			<div class="t_place1 adres">
				<span>Нахождение:</span>
				<p>г. Москва, Проспект Вернадского</p>
			</div>
			<div class="t_place2 adres">
				<span>Площадь:</span>
				<p>124 кв.м.</p>
			</div>
			<div class="t_place3 adres">
				<span>Смета:</span>
				<p>75 000 руб. (без материалов)</p>
			</div>
			<div class="clearfix"></div>
			<hr>
			<ul class="bxslider3">
			 <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dbp dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>
			   <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>
			   <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>
			   <li>
			  	<div class="slider_img_wrap">
			  		<img src="images/tab_img1.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img1.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnm">
			  		<img src="images/tab_img2.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img2.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  	<div class="slider_img_wrap dnp dnm">
			  		<img src="images/tab_img3.jpg" alt="Идеальная Ванная">
			  		<a href="images/slider_big_img3.jpg" class="fancybox" rel="gallery"></a>
			  	</div>
			  </li>

			</ul>
		</div>
		</div>
	</div>
</div>
<!-- END EXAMPLES -->
<!-- CALL NOW -->
<div class="call_now_bg">
	<div class="main_container clearfix">
		<div class="ask">Задайте Ваши вопросы специалисту </div>
		<img src="images/arrow_q.png" alt="Идеальная Ванная" class="dnp">
		<div class="call_bl">
			<a href="tel:+74951234567">+7 (495) 123-45-67</a>
			<span>(с 10 до 20 без выходных)</span>
		</div>
	</div>
</div>
<!-- END CALL NOW -->
<!-- REVIEWS -->
<div class="reviews_bg">
	<div class="main_container clearfix">
		<div class="h1">Отзывы наших клиентов</div>
		<div class="bx_video_wrap">
			<!-- <ul class="bxslider_v">
				<li>
					<iframe width="470" height="285" src="https://www.youtube.com/embed/850OnikZRjk" frameborder="0" allowfullscreen class="ml1"></iframe>
					<iframe width="470" height="285" src="https://www.youtube.com/embed/850OnikZRjk" frameborder="0" allowfullscreen class="mrv dnm "></iframe>
				</li>
				<li>
					<iframe width="470" height="285" src="https://www.youtube.com/embed/850OnikZRjk" frameborder="0" allowfullscreen class="ml1"></iframe>
					<iframe width="470" height="285" src="https://www.youtube.com/embed/850OnikZRjk" frameborder="0" allowfullscreen class="mrv dnm"></iframe>
				</li>	
			</ul> -->
			<hr>
			<ul class="bxslider_v">
				<li>
					<div class="r_img">
						<a href="images/big_review1.jpg" class="fancybox"><img src="images/small_review1.jpg"/></a>
						<div class="r_block">
							<p>Спасибо за проделанную работу. Похоже будут еще клиенты из моих соседей</p>
							<hr>
							<span>Т. Е. Воронина</span>
						</div>
					</div>
					<div class="r_img dnm">
						<a href="images/big_review1.jpg" class="fancybox"><img src="images/small_review1.jpg"/></a>
						<div class="r_block">
							<p>Спасибо за проделанную работу. Похоже будут еще клиенты из моих соседей</p>
							<hr>
							<span>Т. Е. Воронина</span>
						</div>
					</div>
				</li>
				<li>
					<div class="r_img">
						<a href="images/big_review1.jpg" class="fancybox"><img src="images/small_review1.jpg"/></a>
						<div class="r_block">
							<p>Спасибо за проделанную работу. Похоже будут еще клиенты из моих соседей</p>
							<hr>
							<span>Т. Е. Воронина</span>
						</div>
					</div>
					<div class="r_img dnm">
						<a href="images/big_review1.jpg" class="fancybox"><img src="images/small_review1.jpg"/></a>
						<div class="r_block">
							<p>Спасибо за проделанную работу. Похоже будут еще клиенты из моих соседей</p>
							<hr>
							<span>Т. Е. Воронина</span>
						</div>
					</div>
				</li>	
			</ul>
		</div>
	</div>
</div>
<!-- END REVIEWS -->
<!-- QUESTION -->
<div class="call_now_bg">
	<div class="main_container clearfix">
		<div class="h1_q">Отправьте свой вопрос через форму:</div>
		<form action="mail.php" method="post">
			<input type="text" placeholder="Укажите имя" class="input_q" name="name">
			<input type="text" placeholder="Укажите телефон*" class="input_q tel_phone" name="phone" required>
			<input type="text" placeholder="Ваш вопрос" class="input_q" name="mess">
			<input type="submit" value="отправить заявку" class="submit_q">
			<input type="hidden" name="formData" value="Заявка с сайта ИДЕАЛЬНАЯ ВАННАЯ">
		</form>
	</div>
</div>
<!-- END QUESTION -->
<!-- SANUZEL -->
<div class="acordeon_wrap">
	<div class="main_container clearfix">
		<div class="h1">Проводимые работы по ремонту санузла</div>
		<div class="hide">
			<div class="hide_wrap">
				<div class="hide_block clearfix">
					<div class="hide_circle">1</div>
					<div class="hide_text">Демонтаж старых покрытий стен, полов, потолков, дверных блоков, мебели, сантехники, электрики. Возможен полный демонтаж сантехкабины – позволяет избавиться от кривых стен и увеличить площадь санузла.</div>
				</div>
				<div class="hide_block clearfix">
					<div class="hide_circle">2</div>
					<div class="hide_text">Кладка стен/перегородок пеноблоками..</div>
				</div>
				<div class="hide_block clearfix">
					<div class="hide_circle">3</div>
					<div class="hide_text">Подготовка сантехнического и встроенных шкафов, люков, коробов для скрытия труб.</div>
				</div>
				<div class="hide_block clearfix">
					<div class="hide_circle">4</div>
					<div class="hide_text">Штробление стен под трубы и электропроводку.</div>
				</div>
				<div class="hide_block clearfix">
					<div class="hide_circle">5</div>
					<div class="hide_text">Подготовительные сантехнические работы: замена водопроводных и канализационных труб, установка сантехарматуры.</div>
				</div>
				<div class="hide_block clearfix">
					<div class="hide_circle">6</div>
					<div class="hide_text">Подготовка стен к облицовке: оштукатуривание, заделка швов и трещин, грунтование.</div>
				</div>
				<div class="hide_block clearfix">
					<div class="hide_circle">7</div>
					<div class="hide_text">Подготовка пола: выравнивающая стяжка, гидро-тепло-звуко-изоляция, монтаж теплого пола.</div>
				</div>
				<div class="hide_block clearfix">
					<div class="hide_circle">8</div>
					<div class="hide_text">Укладка плитки на стены и пол, установка бордюров, плинтусов, обработка швов.</div>
				</div>
				<div class="hide_block clearfix">
					<div class="hide_circle">9</div>
					<div class="hide_text">Устройство потолка: ГКЛ, штукатурка и покраска или установка реечного потолка со встроенными светильниками.</div>
				</div>
				<div class="hide_block clearfix">
					<div class="hide_circle">10</div>
					<div class="hide_text">Монтаж сантехники: ванны/душевой кабины, смесителя, умывальника, унитаза, полотенцесушителя, водонагревателя и т.п.</div>
				</div>
				<div class="hide_block clearfix">
					<div class="hide_circle">11</div>
					<div class="hide_text">Установка готового экрана под ванную или облицовка плиткой.</div>
				</div>
				<div class="hide_block clearfix">
					<div class="hide_circle">12</div>
					<div class="hide_text">Монтаж розеток, выключателей, светильников, вытяжного вентилятора.</div>
				</div>
				<div class="hide_block clearfix">
					<div class="hide_circle">13</div>
					<div class="hide_text">Установка двери, люков, подключение стиральной машины.</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END SANUZEL -->
<!-- CALL NOW -->
<div class="call_now_bg">
	<div class="main_container clearfix">
		<div class="ask">Задайте Ваши вопросы специалисту </div>
		<img src="images/arrow_q.png" alt="Идеальная Ванная" class="dnp">
		<div class="call_bl">
			<a href="tel:+74951234567">+7 (495) 123-45-67</a>
			<span>(с 10 до 20 без выходных)</span>
		</div>
	</div>
</div>
<!-- END CALL NOW -->
<!-- ABOUT US -->
<div class="reviews_bg smop">
	<div class="main_container clearfix">
		<div class="h1">О нас</div>
		<div class="about_us_wrap">
			<img src="images/director.jpg" alt="Идеальная Ванная">
			<div class="about_us_text">
				<div class="about_us_title">Сергей Николаевич Егоров</div>
				<div class="about_us_subtitle">исполнительный директор</div>
				<p>"Компания "Идеальная ванная" занимается ремонтом санузлов с 2008 года, за это время мы собрали команду профессионалов , которые выполняют ремонт любой сложности, от простых ПВХ-панелей до дизайнерского ремонта ванных комнат. Мы работаем не только с частными клиентами, мы так же участвуем в государственных тендерах, проводили ремонтные работы для школ, детских садов и больниц. Вне зависимости от заказчика, нам всегда важно качественно выполнить ремонт и сделать ваш санузел идеальным."</p>
			</div>
		</div>
	</div>
</div>
<!-- END ABOUT US -->
<!-- QUESTION -->
<div class="call_now_bg">
	<div class="main_container clearfix">
		<div class="h1_q">Отправьте свой вопрос через форму:</div>
		<form action="mail.php" method="post">
			<input type="text" placeholder="Укажите имя" class="input_q" name="name">
			<input type="text" placeholder="Укажите телефон*" class="input_q tel_phone" name="phone" required>
			<input type="text" placeholder="Ваш вопрос" class="input_q" name="mess">
			<input type="submit" value="отправить заявку" class="submit_q">
			<input type="hidden" name="formData" value="Заявка с сайта ИДЕАЛЬНАЯ ВАННАЯ">
		</form>
	</div>
</div>
<div class="acordeon_wrap1">
	<div class="main_container clearfix">
		<div class="h1">Как выгодно закупить стройматериалы и комплектующие
			для ремонта санузла</div>
		<div class="hide">
			<div class="hide_wrap1">
				<p>Второй крупной составляющей ремонта, помимо работ, является закупка черновых и чистовых отделочных материалов, арматуры, сантехники, мебели и т.п.  Какие возможны варианты: 1) Закупка самостоятельно; 2) Заказ поставки у нас; 3) Смешанный вариант.</p>
				<div class="h_title">Мы рекомендуем следующий подход к закупке:</div>
				<p>• Предварительно посмотреть что предлагается в продаже и что Вам визуально больше нравится (в первую очередь отделочные материалы, мебель, сантехника).</p>
				<p>• Рассмотреть ассортимент из каталогов, которые Вам покажет при визите инженер-сметчик. Выбрать то что Вам подходит.</p>
				<p>• Если чего-то не нашли подходящего из предложенного нами, или уже имеете на примете именно то что Вам нужно, докупаете самостоятельно.</p>
				<div class="h_title">Каковы преимущества заказа стройматериалов и комплектующих у нас?</div>
				<p><span>1.</span> В силу многолетнего опыта ремонтных работ мы отлично знаем какие <span>марки и наименования наиболее надежны и оптимальны по ценам.</span> Вам не придется тратить уйму времени, обходя разных продавцов и разбираясь какие наименования прослужат долго.</p>
				<p><span>2.</span> Мы предложим <span>цены на уровне строительных рынков</span> или экономичных строительных супермаркетов. Сможете сами сравнить. Мы конечно немного заработаем на этом, но не за счет накрутки для Вас, а за счет оптовых скидок от проверенных поставщиков.</p>
				<p><span>3.</span> Мы <span>предоставим 3-летнюю гарантию</span> на поставленные нами наименования. Сравните: Если вы приобрели товар у независимого продавца, то в случае поломки Вам придется самостоятельно демонтировать и доставить изделие в пункт продажи или рекламаций, дождаться проведения экспертизы, и если по гарантии Вам поменяют изделие, то везти и устанавливать его обратно. В случае же поломки приобретенного у нас изделия, наш мастер бесплатно приедет, проведет диагностику и если это гарантийный случай, бесплатно же заменит на новое.</p>
				<p><span>4. Доставка будет осуществлена бесплатно!</span></p>
			</div>
		</div>
	</div>
</div>
<!-- END QUESTION -->
<!-- CALL NOW -->
<div class="call_now_bg">
	<div class="main_container clearfix">
		<div class="ask">Задайте Ваши вопросы специалисту </div>
		<img src="images/arrow_q.png" alt="Идеальная Ванная" class="dnp">
		<div class="call_bl">
			<a href="tel:+74951234567">+7 (495) 123-45-67</a>
			<span>(с 10 до 20 без выходных)</span>
		</div>
	</div>
</div>
<!-- END CALL NOW -->
<!-- STEPS -->
<div class="steps_main_wrapper">
	<div class="main_container clearfix">
		<div class="h1">Порядок сотрудничества</div>
		<div class="h2">Шаг за шагом</div>
		<div class="steps_wrap">
			<img src="images/steps_img.jpg" alt="Идеальная Ванная" class="steps_img">
			<div class="steps_block">
				<img src="images/steps (1).png" alt="Идеальная Ванная" class="steps_img_tablet">
				<div class="steps_t">
					<div class="steps_title">Консультация</div>
					<p>Созваниваетесь с нашим менеджером, описываете задачу и свои пожелания. Менеджер задает уточняющие вопросы, дает предварительную оценку стоимости. Если предварительная консультация Вас устроила, вызываете замерщика-сметчика.</p>
				</div>
			</div>
			<div class="steps_block">
				<img src="images/steps (2).png" alt="Идеальная Ванная" class="steps_img_tablet">
				<div class="steps_t">
				<div class="steps_title">Замер и смета</div>
				<p>Приезжает инженер-сметчик. Смотрит объект вживую, снимает размеры, задает уточняющие вопросы, отвечает на Ваши вопросы. На месте же расчитывает точную стоимость работ (смету). Все это бесплатно.</p>
				</div>
			</div>
			<div class="steps_block">
				<img src="images/steps (3).png" alt="Идеальная Ванная" class="steps_img_tablet">
				<div class="steps_t">
				<div class="steps_title">Договор</div>
				<p>Если все условия Вас устраивают, подписывается договор (сразу на объекте или позже в офисе компании). Инженер дает рекомендации как подготовиться к ремонту. Определяете дату начала работ.</p>
				</div>
			</div>
			<div class="steps_block">
				<img src="images/steps (4).png" alt="Идеальная Ванная" class="steps_img_tablet">
				<div class="steps_t">
				<div class="steps_title">Закупки и работы</div>
				<p>Материалы, сантехнику и т.п. закупаете самостоятельно или с нашей помощью. Мастера проводят работы согласно договору. Примерный список работ смотрите выше.</p>
				</div>
			</div>
			<div class="steps_block">
				<img src="images/steps (5).png" alt="Идеальная Ванная" class="steps_img_tablet">
				<div class="steps_t">
				<div class="steps_title">Завершение</div>
				<p>Вы проверяете работы, подписываете акт приемки и оплачиваете проведенные работы.
				<span>Ваш идеальный санузел готов!</span>
				Не забывайте сохранить договор, в котором прописаны наши гарантийные обязательства.
				</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END STEPS -->
<!-- BIG FORM -->
<div class="big_form_bg">
	<div class="main_container clearfix">
		<div class="big_form_title">Нужна консультация? Остались вопросы?</div>
		<div class="ask_us">Задайте их нам по телефону <br clear="br_d"><a href="tel:+74951234567">+7 (495) 123-45-67</a></div>
		<div class="or">или</div>
		<div class="ask_us">Отправьте свой вопрос через форму:</div>
		<form action="mail.php" method="post" class="form_bottom">
			<input type="text" placeholder="Укажите имя" class="input_q" name="name">
			<input type="text" placeholder="Укажите телефон*" class="input_q tel_phone" name="phone" required>
			<input type="text" placeholder="Ваш вопрос" class="input_q" name="mess">
			<input type="submit" value="отправить заявку" class="submit_q">
		</form>
		<div class="menedzher clearfix">
			<img src="images/man.jpg" alt="Идеальная Ванная">
			<div class="man_text">
				<span>Владимир Крисан</span>
				<p>менеджер по работе с клиентами</p>
			</div>
		</div>
	</div>
</div>
<!-- END BIG FORM -->
<!-- FOOTER -->
<div class="main_container clearfix">
	<footer id="footer">
		<div class="copyright">
			<p>© 2008-2016. ООО «Идеальная ванная», ОГРН 5137746243025</p>
			<p>г. Москва, переулок Васнецова, 11, офис 409</p>
		</div>
		<div class="call_top dnm">
			<p>Звоните с 10 до 20 без выходных</p>
			<span>+7 (495) 123-45-67</span>
		</div>
	</footer>
</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#"></a>
  			<form id="form3"  action="mail.php" method="post">
  				<div class="modal_h1">Обратный звонок</div>
				<input type="text" name="name" class="main_input" placeholder="Укажите имя" name="name">
				<input type="text" name="phone" class="main_input tel_phone" placeholder="Укажите телефон* " required>
				<button type="submit" class="sendbutton">заказать звонок</button>
				<input type="hidden" name="formData" value="Заявка с сайта ИДЕАЛЬНАЯ ВАННАЯ">
			</form>
        </div> 
<!-- END MODAL1 -->
<div id="menu">
	  <ul>
	    <li><a href="#" class="ontop">В начало</a></li>
			<li><a href="#" class="on_reasons">Выгоды</a></li>
			<li><a href="#" class="on_prices">Цены</a></li>
			<li><a href="#" class="on_examples">Примеры работ</a></li>
			<li><a href="#" class="on_reviews">Отзывы</a></li>
			<li><a href="#" class="on_steps">Процесс</a></li>
			<li><a href="#" class="on_footer">Контакты</a></li>
	  </ul>
	  <div class="close">×</div>
	</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/jquery.maskedinput.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/flipclock.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript">
function cycleImages(){
      var $active = $('#background_cycler .active');
      var $next = ($('#background_cycler .active').next().length > 0) ? $('#background_cycler .active').next() : $('#background_cycler div:first');
      $next.css('z-index',2);//move the next image up the pile
	  $active.fadeOut(1500,function(){//fade out the top image
	  $active.css('z-index',1).show().removeClass('active');//reset the z-index and unhide the image
      $next.css('z-index',3).addClass('active');//make the next image the top one
      });
    }

    $(window).load(function(){
		$('#background_cycler').fadeIn(1500);
		  // run every 7s
		  setInterval('cycleImages()', 10000);
    })
    </script>
    <script>
$(function(){
    $('.acordeon_wrap .hide').hide();
    $a = $('.acordeon_wrap .h1');
    $a.on('click', function(event) {
      event.preventDefault();
      $a.not(this).next().slideUp(500);
      $(this).next().slideToggle(500);
    });
});
</script>
    <script>
$(function(){
    $('.acordeon_wrap1 .hide').hide();
    $a = $('.acordeon_wrap1 .h1');
    $a.on('click', function(event) {
      event.preventDefault();
      $a.not(this).next().slideUp(500);
      $(this).next().slideToggle(500);
    });
});
</script>
<script>
	jQuery('#vkl2').one('click', function() { // tab button 
jQuery('.bxslider1').bxSlider({ // call bx slider 
	pager : false,
    adaptiveHeight : false
}); 
});
</script>
<script>
	jQuery('#vkl3').one('click', function() { // tab button 
jQuery('.bxslider2').bxSlider({ // call bx slider 
	pager : false,
    adaptiveHeight : false
}); 
});
</script>
<script>
	jQuery('#vkl4').one('click', function() { // tab button 
jQuery('.bxslider3').bxSlider({ // call bx slider 
	pager : false,
    adaptiveHeight : false
}); 
});
</script>
 <script type="text/javascript">
 
        $(document).ready(function() {   

            // TimelineLite for title animation, then start up superscrollorama when complete
            (new TimelineLite())
               
                .from( $('.slide1'), .5, {delay: 0, css:{opacity:'0'}, ease:Back.easeOut})
                .from( $('.slide1 .left_form'), .7, {css:{left:'-200px',opacity:'0'}, ease:Quad.easeInOut})
                .from( $('.main_container .right_form.sl1'), .7, {css:{top:'-200px',opacity:'0'}, ease:Quad.easeInOut})
        });
    </script> 

  </body>
</html>