<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Политика конфиденциальности</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
</head>
<body>
<div class="conf_wrap">		
<div class="title">Политика конфиденциальности</div>
<p>Политика конфиденциальности содержит пояснения о том, как используется информация, которую Вы мне предоставляете, и как связаться со мной, если у Вас возникнут вопросы и проблемы.</p>
<p><span>1. Какая информация мне необходима?</span></p>
<p>Если вы решаете подписаться на информационный продукт, размещенный на моем сайте, я запрошу у Вас такую информацию, как имя и адрес электронной почты. Это объясняется следующими соображениями. Я и мои коллеги регулярно готовим актуальные информационные продукты (как платные, так и большое количество бесплатных) информационный маркетинг в интернет. Ваш интерес к конкретному информационному продукту позволяет предположить, что и другие продукты информационный маркетинга в интернет и другие темы могут быть Вам интересны и полезны. Для того чтобы проинформировать Вас об этих продуктах, а также обеспечить к ним доступ, мне требуется отправить Вам информационное письмо. Кроме того, я могу проводить опрос для выяснения Вашего мнения о моих продуктах, а также Ваших пожеланий. Перед тем как предоставить мне чужие персональные данные, обязательно получите разрешение соответствующих лиц. Убедитесь, что вы предоставляете правильные и точные сведения.
<p><span>2. Что я делаю с Вашей персональной информацией?</span></p>
<p>Адрес Вашей электронной почты и Ваше имя я использую в следующих целях: - для предоставления Вам информационных продуктов и услуг, а также проведения опросов с целью определения информации, в которой Вы нуждаетесь; - для обработки Ваших запросов в службу поддержки;- для рассылки новостей и рекламной информации о продуктах, услугах, специальных предложениях, продуктах и услугах избранных партнеров в пределах, разрешенных действующим законодательством, или в соответствии с Вашими пожеланиями (см. ниже раздел «Отказ от подписки»); - для рассылки служебных сообщений (например, если Вы забыли свой пароль – применительно к продуктам, содержащим пароль); - для предотвращения и выявления мошенничества и незаконного использования моих продуктов или услуг.</p>
<p><span>3. Кто еще получает доступ к персональной информации?</span></p>
<p>Для осуществления рассылки я использую сервис почтовых рассылок Smartresponder.ru ( <a href="http://smartresponder.ru/l_ru/support/confidentiality.html" class="smartres"> http://smartresponder.ru/l_ru/support/confidentiality.html </a> ). Этот сервис обрабатывает Вашу персональную информацию (т.е. e-mail и указанное Вами имя) для того, чтобы я мог отправить Вам электронное письмо с доступом к выбранному Вами продукту или проинформировать Вас о новых актуальных продуктах информационного маркетинга в интернет, или провести опрос с целью выявления информации, в которой Вы нуждаетесь. В исключительных обстоятельствах я могу раскрыть Вашу персональную информацию, если этого требует закон или в целях защиты себя и других от противоправных действий или других опасностей.
<p><span>4. Идентификационные файлы (cookies)</span></p>
<p>Мой сайт содержит идентификационные файлы, так называемые, cookies. Cookies – представляют собой небольшие текстовые файлы, отправляемые на компьютер посетителя сайта для учета его действий. Cookies используются на моем сайте для персонализации учета посещений, изучения поведения посетителей на сайте и регистрации их действий. Вы можете отключить использование cookies в параметрах настройки браузера. Следует учитывать, однако, что в этом случае некоторые функции будут недоступны или могут работать некорректно.</p>
<p><span>5. Безопасность</span></p>
<p>Я предпринимаю разумные меры для сведения к минимуму возможности утраты, кражи, недобросовестного использования, несанкционированного доступа к Вашей персональной информации, уничтожения, изменения или ее раскрытию. В то же время я не могу гарантировать абсолютного устранения риска несанкционированного злоупотребления персональной информацией. Убедительно прошу Вас самым внимательным образом подойти к хранению паролей к учетным записям и не сообщать их кому-либо еще (в случае, если речь идет о продуктах, содержащих пароли доступа). Немедленно свяжитесь со мной, если станет известно о каком-либо нарушении информационной безопасности (например, несанкционированном использовании Вашего пароля).</p>
<p><span>6. Дети</span></p>
<p>Я всецело разделяю настороженность родителей в вопросах использования персональной информации об их детях. Настоятельно прошу всех посетителей младше 18 лет, получить разрешение родителей или опекунов, прежде чем предоставлять какую-либо персональную информацию. Я не собираю информацию о детях намеренно. Если мне станет известно о том, что я получил персональную информацию о ребенке, не достигшем 14-летнего возраста, я предприму меры для удаления такой информации в возможно короткие сроки.
<p><span>7. Отказ от подписки</span></p>
<p>Если Вы больше не хотите получать от меня сообщения, перейдите по ссылке, указанной в нижней части любого моего письма.</p>
<p><span>8. Контакты</p>
<p>Если у Вас возникнут вопросы и/или проблемы, связанные с политикой безопасности и сохранностью Ваших персональных данных, обращайтесь, пожалуйста, на адрес: denis.consultant@yandex.ru</p>
<p><span>С уважением Денис Лущиков</span></p>
<a href="index.html">Вернуться на главную страницу</a>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/script.js"></script>
  </body>
</html>