<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Тренинг</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link href="css/jquery.countdown.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
<div class="header_bg">
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="main_h1">Научись интернет продвижению!</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<span class="us">у нас</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="other_h1">и привлекай клиентов в свой бизнес сколько<br> угодно</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="amimated_text" id="demo_high2">качественное обучение лидогенерации</div>
				</div>
			</div>
		</div>
	</header>
</div>
<!-- END HEADER -->
<!-- ADVANTAGES -->
<div class="advantages_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-4">
				<div class="advantages_title circle1">Быстро</div>
			</div>
			<div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-4">
				<div class="advantages_title circle2">Надежно</div>
			</div>
			<div class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2 col-xs-4">
				<div class="advantages_title circle3">Качественно</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="line_steps">
					<div class="circle">1</div>
					<div class="circle">2</div>
					<div class="circle">3</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-4">
				<div class="advantages_desc">Сделаем из вас спеца</div>
			</div>
			<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-4">
				<div class="advantages_desc">Только практика никакой воды</div>
			</div>
			<div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4">
				<div class="advantages_desc">Покажем и расскажем как привлекать клиентов</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="custom_h1">ЧЕМУ МЫ ВАС НАУЧИМ?</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="circles_block animation_2">
						<div class="big_circle">
							<img src="images/big_circle1.png" alt="Alt">
						</div>
						<span>Создавать сайты</span>
						<p>за вас это будут делать фрилансеры, вам лишь нужно будет знать, какие сайты принесут вам максимум заказов</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="circles_block animation_1">
						<div class="big_circle">
							<img src="images/big_circle2.png" alt="Alt">
						</div>
						<span>Создавать рекламные компании</span>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="circles_block animation_3">
						<div class="big_circle">
							<img src="images/big_circle3.png" alt="Alt">
						</div>
						<span>Анализировать</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END ADVANTAGES -->
<!-- MORE -->
<div class="more_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_white">А подробнее</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="more_block animation_2">
					<div class="more_title">Разработка стратегии</div>
					<p>Прямо на занятии мы разработаем индивидуально для вас стратегию под вашу нишу!</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4"><div class="more_block animation_1">
					<div class="more_title">Работа с фрилансерами</div>
					<p>Мы научим как правильно отбирать людей, дешевого и качественно. Цена не должна влиять на результа</p>
				</div></div>
			<div class="col-md-4 col-sm-4"><div class="more_block animation_3">
					<div class="more_title">Проектирование сайта</div>
					<p>Мы расскажем как повлиять на конверсию заказов при помощи вашего сайта!</p>
				</div></div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4"><div class="more_block animation_2">
					<div class="more_title">Подключение контекстной рекламы</div>
					<p>В ваших руках окажутся мощные инструменты рекламы такие как: Yandex Direct и Google AdWords</p>
				</div></div>
			<div class="col-md-4 col-sm-4"><div class="more_block animation_1">
					<div class="more_title">Подключение трафика из соц. сетей</div>
					<p>Вы научитесь привлекать максимум клиентов для своего бизнеса через социальные сети!</p>
				</div></div>
			<div class="col-md-4 col-sm-4"><div class="more_block animation_3">
					<div class="more_title">Анализ рекламных каналов</div>
					<p>Мы научим вас анализировать, подключать, отключать, корректировать рекламные каналы!  
Минимум бюджета, максимум заказов!</p>
				</div></div>
		</div>
		<div class="clearfix"></div>
		<img src="images/line_more.png" alt="Alt" class="line_more">
		<div class="row">
			<div class="col-md-12">
				<div class="form_bg">
					<div class="row">
						<div class="col-md-8 col-sm-12">
							<div class="form_more_title">Заполните форму что бы участвовать в тренинге</div>
							<div class="form_more_title2">Нажимая на кнопку "Записаться" я соглашаюсь с условиями <a href="oferta.html" target="_blank">договора-оферты</a></div>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="more_form_wrap">
								<form action="">
									<input type="text" name="name" placeholder="Ваше имя" class="more_input" required>
									<input type="text" name="mail" placeholder="Ваш  Email" class="more_input" required>
									<input type="submit" value="Записаться" class="more_send">
									<input type="hidden" name="formData" value="Заявка с сайта">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MORE -->
<!-- PEOPLE -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_page">Кому нужен этот тренинг:</div>
			</div>
		</div>
		<div class="people_wrap clearfix">
			<div class="row">
				<div class="col-md-6">
					<div class="people_block">
						<img src="images/people_img1.jpg" alt="Alt">
						<div class="people_title">Владельцам бизнеса</div>
						<p>Которые смогут, как сами привлекать клиентов в свой бизнес, так и грамотно отследить работу наемного сотрудника</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="people_block">
						<img src="images/people_img2.jpg" alt="Alt">
						<div class="people_title">Тем кто будет предоставлять эти услуги бизнесменам</div>
						<p>Вы сможете продавать свои услуги за дорого, и у вас их будут охотно брать, ведь вы станете специалистом в этой сфере</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END PEOPLE -->
<!-- CHECKS -->
<div class="checks_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_white mob_h1 animation_4">Мы научим вас привлекать клиентов в любую нишу!</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="h2_white animation_4">не зависимо от вашей экспертности:</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="check_block">
					Даже если вы чайник в интернет продвижении
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="check_block">
					Даже если вы никогда не занимались рекламой в интернете
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="check_block">
					Даже если вы когда то пробывали но у вас не получалось
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END CHECKS -->
<!-- REVIEWS -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_page">КЕЙСЫ ТЕХ КТО ПРОШЕЛ ТРЕНИНГ</div>
			</div>
		</div>
		<div class="reviews_wrap clearfix">
			<div class="row">
				<div class="col-md-12">
					<div class="review_bg clearfix animation_4">
						<div class="photo_block">
							<img src="images/review_img1.jpg" alt="Alt">
							<div class="name">Михаил</div>
						</div>
						<div class="photo_text">
							<p>Открыл интернет магазин по продаже чехлов на телефон, заказы были очень слабые 3-4 заказа в месяц. Сам я новичок в продвижении через интернет, всегда пользовался: визитками, флаерами, делал баннера, но как то решил записаться на этот курс, и не капли не пожалел! Я и не знал, что за такое короткое время можно обучится таким классным вещам! Я стал просто, не побоюсь этого слова "гуру" в этом! У меня стало 7-9 заказов в день! А главное, это оказалось намного проще чем я думал. Материл подан просто шикарно. <br> Спасибо вам!</p>
							<a href="#" class="buttonz">Начать обучение</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="review_bg custom_review clearfix animation_4">
						<div class="photo_block1">
							<img src="images/review_img2.jpg" alt="Alt">
							<div class="name">Михаил</div>
						</div>
						<div class="photo_text">
							<p>Настраивал как то рекламу то были заказы то их не было, немного не понимал структуру настройки. Но теперь я все окончательно понял, на курсе все разложили по полочкам, классно все настроил и теперь от клиентов нет отбоя! Курс реально крутой, особенно когда думаешь, что не выполнишь домашнее задание к сроку, а потом его выполняешь! <br>Вообщем просто вау!!!</p>
							<a href="#" class="buttonz">Начать обучение</a>
						</div>
						<div class="photo_block">
							<img src="images/review_img2.jpg" alt="Alt">
							<div class="name">Михаил</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="review_bg clearfix animation_4">
						<div class="photo_block">
							<img src="images/review_img3.jpg" alt="Alt">
							<div class="name">Ольга</div>
						</div>
						<div class="photo_text">
							<p>У меня у самой есть интернет магазин, продаю женское нижние белье, и всегда сама настраивала яндекс директ. Но потом решила пройти тренинг и поняла, что делала вообще все не правильно хотя и заказы были небольшие. А сейчас прям вууух!!! Сейчас я даже могу нанять директолога и проконтролировать его работу от "А" до "Я". Те знания которые я получила стоят того времени которое я потратила! Сама я бы этому училась в раз десять дольше!</p>
							<a href="#" class="buttonz">Начать обучение</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
<!-- END REVIEWS -->
<!-- FOOTER -->
<div class="footer_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_white">Следующий поток стартует 15 мая</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="h2_white">до повышения цены осталось:</div>
				<span id="padZeroes" class="countdown clearfix"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form_bg">
					<div class="row">
						<div class="col-md-8">
							<div class="form_more_title">Для того, что бы попасть на курс, заполните форму и нажмите на кнопку "записаться"</div>
							<div class="old_price">25.800 руб.</div>
							<div class="new_price">14.800 руб</div>
						</div>
						<div class="col-md-4">
							<div class="more_form_wrap">
								<form action="">
									<input type="text" name="name" placeholder="Ваше имя" class="more_input" required>
									<input type="text" name="mail" placeholder="Ваш  Email" class="more_input" required>
									<input type="submit" value="Записаться" class="more_send">
									<input type="hidden" name="formData" value="Заявка с сайта">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a href="confidential.html" class="politics" target="_blank">Политика конфиденциальности</a>
			</div>
		</div>
	</div>
</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#"></a>
         	<div class="modal_h1">Начать обучение</div>
  			<form action="">
  				<input type="text" name="name" placeholder="Ваше имя" class="main_input3" required>
  				<input type="text" name="mail" placeholder="Ваш e-mail" class="main_input3" required>
  				<input type="submit" value="Начать обучение" class="send_modal">
  				<input type="hidden" name="formData" value="Заявка с сайта">
  			</form>
  			<p>Я соглашаюсь с условиями <a href="oferta.html" target="_blank">договора-оферты</a></p>
        </div> 
<!-- END MODAL1 -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.plugin.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/jquery.countdown-ru.js"></script>
<script src="js/jquery.textanimation.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/animate-css.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript">
$(document.body).ready(function(){
    $("div#demo_high2").textAnimation({
        mode: "highlight",
        baseColor: "#fff",
        highlightColor: "#909090",
        delay: 35,
        interval: 0,
        duration: 100
    });    

});
</script>
</body>
</html>