<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Публичный договор-оферта</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
</head>
<body>
<div class="conf_wrap">		
<div class="title">Публичный договор-оферта</div>
<p>Публичный договор-оферта<br>
по оказанию информационно-консультативных услуг</p>
<p>г. Санкт-Петербург<br>
действительно с 10 сентября 2011 года</p>
<p><span>1. Общие положения</span></p>
<p>1.1. Данный документ является публичной Офертой ИП Бойко Андрея Сергеевича (в дальнейшем именуемого Исполнитель) и содержит все существенные условия по оказанию информационно-консультационных услуг (в соответствии со статьей 435 и частью 2 статьи 437 Гражданского кодекса РФ).</p>
<p>1.2. Любое физическое или юридическое лицо, посетившее сайт <a href="http://infobusiness24.ru" class="smartres">http://infobusiness24.ru</a>, имеющее намерение приобрести ту или иную информационно-консультативную услугу, и оплатить получение информационно-консультативной услуги, становится Заказчиком.</p>
<p><span>2. Предмет Оферты</span></p>
<p>2.1. Предметом настоящей Оферты является возмездное предоставление Заказчику информационно-консультационных услуг по проведению вебинаров.</p>
<p>2.2. Исполнитель имеет право в любой момент изменять Календарь вебинаров и условия настоящей публичной Оферты в одностороннем порядке без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий на сайте <a href="http://infobusiness24.ru" class="smartres">http://infobusiness24.ru</a>, не менее чем за один день до их ввода в действие.</p>
<p><span>3. Условия и порядок предоставления услуг</span></p>
<p>3.1. Информационно-консультационные услуги предоставляются в полном объеме при условии их 100% (сто процентов) оплаты Заказчиком.</p>
<p>3.2. Факт приобретения Информационно-консультативных услуг является безоговорочным принятием Заказчиком данного Договора-оферты. Заказчик, воспользовавшийся услугами Исполнителя, рассматривается как лицо, вступившее с Исполнителем в договорные отношения.</p>
<p>3.2. Заявка на участие в вебинаре, тренинге оформляется по ссылке <a href="http://infobusiness24.ru" class="smartres">http://infobusiness24.ru</a>. Во время оформления Заявки Заказчику автоматически сообщается (пишется на веб-сайте) номер договора для оплаты без выставления счета.</p>
<p>3.3. После заполнения Заявки Заказчик оплачивает участие в вебинаре по настоящему договору без выставления счета с обязательным указанием ФИО участника и номера договора в назначении платежа.</p>
<p>3.4. Ссылки для участия в вебинаре, тренинге Заказчику высылаются с е-mail: info@infobusiness24.ru только после поступления 100% денежных средств Заказчика на счёт Исполнителя. В случае, если Заказчик оплатил и не получил ссылку на вебинар или тренинг через 3 рабочих дня после оплаты – необходимо воспользоваться инструкцией, расположенной по адресу <a href="http://infobusiness24.ru" class="smartres">http://infobusiness24.ru</a> или связаться со службой поддержки по эл. почте info@infobusiness24.ru, предоставив копию квитанции об оплате.</p>
<p>3.5.Технические требования к операционной системе, программному обеспечению, аппаратной части и Интернет-каналу Заказчика, необходимые для участия в Вебинаре или тренинге расположены на сайте <a href="http://infobusiness24.ru" class="smartres">http://infobusiness24.ru</a></p>
<p>3.6. Исполнитель обязуется предоставить Заказчику информационно-консультационные услуги в форме проведения оплаченной Заказчиком информационно-образовательной программы в срок, указанный в Календаре программ, расположенном на сайте <a href="http://infobusiness24.ru" class="smartres">http://infobusiness24.ru</a>.</p>
<p>3.7. Исполнитель не предоставляет записей и не несет ответственности за предоставление/непредоставление записей информационно-образовательных программ. Решение о предоставлении записей принимается каждым преподавателем (ведущим вебинара) самостоятельно по своему собственному усмотрению.</p>
<p>3.8. Настоящий договор имеет силу Акта об оказании услуг. Отсутствие требования о возврате денежных средств в соответствии с пунктом 4 настоящего договора, означает, что услуги оказаны в срок и надлежащего качества. Приемка производится без подписания актов.</p>
<p>3.9. Исполнитель оставляет за собой право отключить Заказчика от информационно-образовательной программы без права на возврат денежных средств в случае нарушения правил поведения на вебинаре, а именно: разжигание межнациональных конфликтов, отвлечение участников от темы вебинара, спам, размещение рекламы, нецензурные высказывания, хамство, оскорбление ведущего, служебного персонала или участников.</p>
<p>3.10. Услуги предоставляются для личного использования Заказчиком. Запрещается передавать Реквизиты доступа в информационно-образовательную программу третьим лицам для их совместного использования без специального на то разрешения Исполнителя. Исполнитель оставляет за собой право отключать от участия в вебинаре лицо, указавшее неверные реквизиты доступа либо указавшее реквизиты доступа участника, уже присутствующего на вебинаре.</p>
<p>3.11. Заказчику запрещается распространять (публиковать, размещать на Интернет-сайтах, копировать, передавать или перепродавать третьим лицам) в коммерческих или некоммерческих целях предоставляемую Исполнителем Заказчику информацию и материалы в рамках настоящего договора Оферты, создавать на ее основе информационные продукты, а также использовать эту информацию каким-либо иным образом, кроме как для личного пользования.
<p>3.12. Исполнитель оставляет за собой право осуществлять запись проводимых информационно-образовательных программ.</p>
<p>3.13. Участнику информационно-образовательных программ запрещается осуществлять запись информационно-образовательных программ без специального на то разрешения Исполнителя.</p>
<p><span>4. Условия и порядок возврата денежных средств за информационно-консультативные услуги.</span></p>
<p>4.1. Заказчик имеет право оказаться от предоставления оплаченных информационно-консультативных услуг и потребовать возврата денежных средств в следующих случаях:</p>
<p>4.1.1. За оплаченный и посещенный им разовый вебинар.
Возврат денег производится до 14.00 дня, следующего за днем проведения вебинара.
По истечении указанного времени денежные средства не возвращаются.</p>
<p>4.1.2. За оплаченный электронный товар (вебинар в записи, доступный для скачивания).
Возврат денег производится в течение 7 (семи) дней с момента оплаты.</p>
По истечении указанного времени денежные средства не возвращаются.
<p>4.1.3. За оплаченный курс вебинаров продолжительностью более 1 (одного) дня.
Возврат денег производится в течение 7 (семи) дней с момента, объявленного днем начала курса.
По истечении указанного времени денежные средства не возвращаются.</p>
<p>4.1.4. За оплаченный физический товар (вебинар на CD-диске) надлежащего качества.
Покупатель вправе отказаться от физического товара в любое время до его передачи, а после передачи товара – в течение 7 дней.
Возврат физического товара надлежащего качества возможен в случае, если сохранены его товарный вид (упаковка, пломбы, ярлыки), потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара (товарная накладная).
При возврате физического товара надлежащего качества, Возврат его стоимости производиться не позднее чем через 10 дней с момента получения товара обратно и оригинала Вашего письменного заявления, за исключением расходов на доставку (на основании Постановления Правительства РФ от 27.09.2007 N 612 “Об утверждении правил продажи товаров дистанционным способом”).</p>
<p>4.1.5. За оплаченный физический товар (вебинар на CD-диске) ненадлежащего качества.</p>
<p>Под физическим товаром ненадлежащего качества подразумевается физический товар, в котором есть брак, он неисправен и не может обеспечить исполнение своих функциональных качеств.
Если это не было оговорено продавцом, Вы вправе по своему выбору потребовать:
- Замены на товар аналогичной марки (модели, артикула) или на такой же товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены.
В связи с особенностями дистанционного способа продажи, замена товара может быть выполнена только посредством возврата товара ненадлежащего качества и оформления нового заказа на аналогичный товар.
- Отказаться от исполнения договора-оферты, возвратить товар ненадлежащего качества и потребовать возврата уплаченной за товар денежной суммы.
Любые из перечисленных требований должны быть предъявлены Вами в письменной форме посредством заполнения заявления. Требования о возврате уплаченной за товар денежной суммы подлежат удовлетворению в течение 10 дней со дня предъявления соответствующего требования и получения товара обратно (ст. 22 Закона РФ “О защите прав потребителей”).</p>
<p>4.2. Бесплатное предоставление информационно-консультативных услиг, бонусы, бесплатное участие в семинарах, бесплатные электронные товары, бесплатные физические товары возврату не подлежат. Отдельные товары из пакета, состоящего из 2-х и более товаров, не возвращаются. Вернуть можно только пакет целиком.</p>
<p>4.3. Оплата за участие в коучинге возврату не подлежит.</p>
<p>4.4. Для получения возврата Заказчик должен прислать в установленный срок заявку на возврат на электронный адрес службы поддержки info@infobusiness24.ru.</p>
<p><span>5. Ответственность сторон.</span></p>
<p>5.1. Заказчик обязан обеспечить бесперебойную работу Интернет-канала, оборудования и программного обеспечения со своей стороны в течение проведения вебинара.</p>
<p>5.2. Исполнитель не несет ответственности за невозможность обслуживания Заказчика по причинам, связанным с нарушением работы Интернет-канала, оборудования или программного обеспечения со стороны Заказчика.</p>
<p>5.3. В случае, когда заявка содержит недостоверные либо неполные данные, Исполнитель не несет ответственности перед Заказчиком за предоставление информационных материалов по ошибочно указанным данным не Заказчику, а третьим лицам.</p>
<p>5.4. В случае, если по какой-либо причине Исполнитель не проводит вебинар в срок, ответственность Исполнителя ограничивается исключительно проведением соответствующего вебинара в новые сроки.</p>
<p>5.5. Исполнитель не несет ответственности за то, каким образом Заказчик использовал полученную в ходе информационно-консультационного обслуживания информацию, и за результаты ее использования Заказчиком.</p>
<p>5.6. Совокупная ответственность Исполнителя по договору Оферты, по любому иску или претензии в отношении договора Оферты или его исполнения ограничивается суммой платежа, уплаченного Исполнителю Заказчиком по договору Оферты.</p>
<p>5.7. За невыполнение или ненадлежащее выполнение обязательств по настоящей публичной Оферте Стороны несут ответственность в соответствии с действующим законодательством.</p>
<p><span>6. Срок действия и изменение договора Оферты</span></p>
<p>6.1. Договор вступает в силу с момента его заключения (Акцепта Оферты) и действует до выполнения Сторонами своих обязательств.</p>
<p>6.2. Все споры и разногласия решаются путем переговоров Сторон.</p>
<p>6.3. Все вопросы, не урегулированные настоящим договором Оферты, решаются в соответствии с действующим законодательством Российской Федерации.</p>
<p><span>7. Реквизиты</span></p>
<p>ИП Бойко Андрей Сергеевич</p>
<p>ОГРНИП: 311470323800048</p>
<p>ИНН: 470314043610</p>
<p>Р/счёт: 40802810401054400529</p>
<p>Филиал «Петровский» ОАО Банка «Открытие»</p>
<p>191186, г.Санкт-Петербург, Невский пр., д. 26</p>
<p>К/счёт: 30101810400000000766</p>
<p>БИК: 044030766</p>
<p>КПП: 783543001</p>

<a href="index.html">Вернуться на главную страницу</a>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/script.js"></script>
  </body>
</html>