<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>EvaBest</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
	<link href="css/fancySelect.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<div class="logo clearfix">
						<img src="images/logo.png" alt="Alt">
						<div class="title"><span>Eva</span>Best</div>
						<div class="clearfix"></div>
						<div class="subtitle">Инновационные автоковрики</div>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-2 col-sm-4 col-xs-12">
					<div class="phone_top clearfix">
						<div class="phone_block">
							<p>Звонок по г. Казань и РФ:</p>
							<span>8(999) 999-99-99</span>
							<p>Ежедневно с 8:00 до 22:00</p>
						</div>
						<div class="links_block">
							<a href="#"></a>
							<a href="#"></a>
							<a href="#"></a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4">
					<a href="#" class="order" data-toggle="modal" data-target="#myModal">Заказать обратный звонок</a>
				</div>
			</div>
		</div>
	</header>
<!-- END HEADER -->
<!-- MAIN SLIDER -->
	<div class="main_slider_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Инновационные автоковрики EVA с доставкой по всей России от производителя</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<img src="images/photo_covrik.png" alt="Alt" class="covrik">
				</div>
				<div class="col-md-4 col-md-offset-1">
					<div class="form_bg">
						<div class="title">Введите Ваш телефон и получите индивидуальные условия по цене и доставке</div>
						<form id="form1">
							<input type="text" name="phone" placeholder="Ваш телефон:" class="input_top tel_phone" required>
							<input type="submit" value="Мне интересно" class="top_submit">
							<input type="hidden" name="formData" value="Заявка с сайта EvaBest">
						</form>
					</div>
				</div>
			</div>
			<div class="divider"></div>
			<div class="row dnm">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="icons_block">
						<img src="images/icon_1.png" alt="Alt">
						<p>Заказ напрямую от<br> производителя с гарантие</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="icons_block">
						<img src="images/icon_2.png" alt="Alt">
						<p>Розничная цена равна<br> оптовой</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="icons_block">
						<img src="images/icon_3.png" alt="Alt">
						<p>Oплата при получении</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="icons_block">
						<img src="images/icon_4.png" alt="Alt">
						<p>Доставка в любую точку<br> РФ и СНГ</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END MAIN SLIDER -->
<!-- ADVANTAGES -->
	<div class="advantages_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="h1_main">Почему автоковрики EVA бьют рекорды продаж в России?</div>
				</div>
			</div>
			<div class="advantages_wrap">
				<img src="images/covrik2.jpg" alt="Alt" class="covrik2">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="advantages_block turn_left">
							<img src="images/advantages_icon1.png" alt="Alt">
							<div class="title">Задерживают грязь и воду</div>
							<p>Грязь вода и песок собираются в<br> ячейках коврика</p>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
						<div class="advantages_block turn_right">
							<img src="images/advantages_icon2.png" alt="Alt">
							<div class="title">Износостойкие</div>
							<p>Срок эксплуатации, при отсутствии механических повреждений, более<br> 20 лет</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 col-sm-6 col-xs-12">
						<div class="advantages_block">
							<img src="images/advantages_icon3.png" alt="Alt">
							<div class="title">Изготавливаются по конкретную модель авто</div>
							<p>Коврики идеально лягут в салон, как оригинальные. Если у Вас предусмотрены люверсы или липучки на ковриках – то они будут и в ковриках EvaBest</p>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
						<div class="advantages_block">
							<img src="images/advantages_icon4.png" alt="Alt">
							<div class="title">Без запаха и трещин</div>
							<p>Хорошо выдерживают температуры от -400 до +500.  Не выделяют запаха  и не трескаются в морозы.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END ADVANTAGES -->
<!-- COMPLECT -->
<div class="grey_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">Выбирайте комплект удобный именно для Вас</div>
				<div class="h2_main">Индивидуальные комплекты для каждого авто</div>
			</div>
		</div>
		<div class="complect_wrap">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="complect_block">
						<p>Два передних автоковрика</p>
						<img src="images/complect_img1.png" alt="Alt">
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="complect_block">
						<p>Водительский автоковрик</p>
						<img src="images/complect_img2.png" alt="Alt">
					</div>
				</div>
				<div class="col-md-4 col-sm--4">
					<div class="complect_block">
						<p>Автоковрик для багажника</p>
						<img src="images/complect_img3.png" alt="Alt">
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="complect_block">
						<p>Полный комплект для салона автомобиля</p>
						<img src="images/complect_img4.png" alt="Alt">
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="complect_block">
						<p>Полный комплект для салона и багажника</p>
						<img src="images/complect_img5.png" alt="Alt">
					</div>
				</div>
			</div>
			<div class="divider1"></div>
			<div class="row">
				<div class="col-md-5 col-sm-12">
					<div class="title_colour">Доступны 8 видов цветов ковриков:</div>
					<div class="colours_wrap">
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-1 col-sm-12">
					<div class="title_colour">Доступны 8 видов цвета окантовки:</div>
					<div class="colours_wrap">
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
				</div>
			</div>
			<div class="divider1"></div>
			<div class="row">
				<div class="col-md-12">
					<div class="h1_main sec_h1">Грязь в салоне может выглядеть по-разному</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="g_block">
						<div class="title">Автоковрики Eva</div>
						<div class="g_img">
							<img src="images/g_img1.jpg" alt="Alt">
							<div class="yellow_circle">
								Выбор больше<br> 1 млн.<br>автолюбителей<br> за 2011-2016г. 

							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="g_block">
						<div class="title">Обычные резиновые коврики</div>
						<div class="g_img">
							<img src="images/g_img2.jpg" alt="Alt">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END COMPLECT -->
<!-- BLACK BLOCK -->
	<div class="black_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="title">Не требовательны к уходу</div>
					<p>Автоковрики Eva можно мыть с использованием моющих средств, мойки высокого давления, или сполоснуть обычной водой</p>
					<span>Легкий уход - большой плюс автоковриков.</span>
				</div>
			</div>
		</div>
	</div>	
<!-- END BLACK BLOCK -->
<!-- GALLERY -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">Как автоковрики смотрятся в салоне?</div>
				<div class="h2_main">Цвет ковриков и окантовки Вы выбираете сами</div>
			</div>
		</div>
		<div class="gallery_wrap">
			<div class="gallery_block">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo1_big.jpg" class="fancybox" ><img src="images/gallery_photo1.jpg" alt="Alt"/></a>
					</div>
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo2_big.jpg" class="fancybox" ><img src="images/gallery_photo2.jpg" alt="Alt"/></a>
					</div>
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo3_big.jpg" class="fancybox" ><img src="images/gallery_photo3.jpg" alt="Alt"/></a>
					</div>
				</div>
			</div>
			<div class="gallery_block">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<a href="images/gallery_photo4_big.jpg" class="fancybox" ><img src="images/gallery_photo4.jpg" class="long_img" alt="Alt"/></a>
					</div>
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo5_big.jpg" class="fancybox" ><img src="images/gallery_photo5.jpg" alt="Alt"/></a>
					</div>
				</div>
			</div>
			<div class="gallery_block">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo6_big.jpg" class="fancybox" ><img src="images/gallery_photo6.jpg" alt="Alt"/></a>
					</div>
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo7_big.jpg" class="fancybox" ><img src="images/gallery_photo7.jpg" alt="Alt"/></a>
					</div>
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo8_big.jpg" class="fancybox" ><img src="images/gallery_photo8.jpg" alt="Alt"/></a>
					</div>
				</div>
			</div>
			<div class="gallery_block">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo1_big.jpg" class="fancybox" ><img src="images/gallery_photo1.jpg" alt="Alt"/></a>
					</div>
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo2_big.jpg" class="fancybox" ><img src="images/gallery_photo2.jpg" alt="Alt"/></a>
					</div>
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo3_big.jpg" class="fancybox" ><img src="images/gallery_photo3.jpg" alt="Alt"/></a>
					</div>
				</div>
			</div>
			<div class="gallery_block">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<a href="images/gallery_photo4_big.jpg" class="fancybox" ><img src="images/gallery_photo4.jpg" class="long_img" alt="Alt"/></a>
					</div>
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo5_big.jpg" class="fancybox" ><img src="images/gallery_photo5.jpg" alt="Alt"/></a>
					</div>
				</div>
			</div>
			<div class="gallery_block">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo6_big.jpg" class="fancybox" ><img src="images/gallery_photo6.jpg" alt="Alt"/></a>
					</div>
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo7_big.jpg" class="fancybox" ><img src="images/gallery_photo7.jpg" alt="Alt"/></a>
					</div>
					<div class="col-md-4 col-sm-4">
						<a href="images/gallery_photo8_big.jpg" class="fancybox" ><img src="images/gallery_photo8.jpg" alt="Alt"/></a>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
				<div class="col-md-12">
					<a href="#" class="show_more">Показать еще коврики</a>
				</div>
			</div>
	</div>
<!-- END GALLERY -->
<!-- BUY -->
	<div class="buy_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="h1_main">Купите автоковрики в розницу по оптовой цене</div>
					<div class="h2_main">Покупая напрямую на нашем сайте – Вы получаете автоковрики по закупочной цене<br> для  оптовиков в Вашем регионе</div>
				</div>
			</div>
			<div class="buy_wrap">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="buy_block">
							<img src="images/buy_img1.png" alt="Alt">
							<div class="pric_block">
								<hr>
								<p>Салонные коврики</p>
								<span>1 790 - 2 190 руб.</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="buy_block">
							<img src="images/buy_img2.png" alt="Alt" class="sp_img">
							<div class="pric_block">
								<hr>
								<p>Салонные коврики</p>
								<span>1 790 - 2 190 руб.</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="buy_block">
							<img src="images/buy_img3.png" alt="Alt" class="th_img">
							<div class="pric_block">
								<hr>
								<p>Салонные коврики</p>
								<span>1 790 - 2 190 руб.</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="buy_block">
							<img src="images/buy_img4.png" alt="Alt" class="sp_img1">
							<div class="pric_block">
								<hr>
								<p>Салонные коврики</p>
								<span>1 790 - 2 190 руб.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END BUY -->
<!-- YELLOW BLOCK -->
	<div class="yellow_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="h1_main white_h1">Купите автоковрики в розницу по оптовой цене</div>
				</div>
			</div>
			<form id="form2">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<select class="basic">
						  <option value="">Марка:</option>
						  <option>Lorem</option>
						  <option>Ipsum</option>
						  <option>Dolor</option>
						  <option>Sit</option>
						  <option>Amet</option>
						</select>
					</div>
					<div class="col-md-3 col-sm-3">
						<select class="basic">
						  <option value="">Модель:</option>
						  <option>Lorem</option>
						  <option>Ipsum</option>
						  <option>Dolor</option>
						  <option>Sit</option>
						  <option>Amet</option>
						</select>
					</div>
					<div class="col-md-3 col-sm-3">
						<select class="basic">
						  <option value="">Год выпуска:</option>
						  <option>Lorem</option>
						  <option>Ipsum</option>
						  <option>Dolor</option>
						  <option>Sit</option>
						  <option>Amet</option>
						</select>
					</div>
					<div class="col-md-3 col-sm-3">
						<select class="basic">
						  <option value="">Тип кузова:</option>
						  <option>Lorem</option>
						  <option>Ipsum</option>
						  <option>Dolor</option>
						  <option>Sit</option>
						  <option>Amet</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input type="submit" value="Узнать цену" class="submit_select">
						<input type="hidden" name="formData" value="Заявка с сайта EvaBest">
					</div>
				</div>
			</form>
		</div>
	</div>
<!-- END YELLOW BLOCK -->
<!-- SEARCH -->
	<div class="search_wrap">
		<img src="images/car.png" alt="Alt" class="car_img">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-md-offset-1 col-sm-12">
					<div class="y_block">
						<div class="title">Не хотите долго искать?</div>
						<p>Оставьте Ваш телефон и наш специалист<br>
						рассчитает стоимость автоковриков для<br> Вашего авто
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="form_bg">
						<div class="title">Введите Ваш телефон и получите индивидуальные условия по цене и доставке</div>
						<form id="form3">
							<input type="text" name="phone" placeholder="Ваш телефон:" class="input_top tel_phone" required>
							<input type="submit" value="Просто узнать цену" class="top_submit">
							<input type="hidden" name="formData" value="Заявка с сайта EvaBest">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="buy_bg col_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="h1_main">Выберите Ваш цвет ковриков:</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-sm-12">
					<div class="colours_wrap sec_colour clearfix">
						<div class="title_colour">Цвет коврика:</div>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
					<div class="colours_wrap sec_colour clearfix">
						<div class="title_colour">Цвет окантовки:</div>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
					<a href="#" class="order_t" data-toggle="modal" data-target="#myModal">Заказать автоковрики</a>
				</div>
				<div class="col-md-3">
					<img src="images/color_photo.png" alt="Alt" class="col_photo">
				</div>
			</div>
		</div>
	</div>
<!-- END SEARCH -->
<!-- WHY -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">Почему выбирают наши автоковрики?</div>
			</div>
		</div>
		<div class="why_wrap">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="why_block">
						<img src="images/why_icon.png" alt="Alt">
						<div class="title">Производитель </div>
						<p>Мы изготовим автоковрик конкретно под Ваш авто, за 1-2 дня</p>
					</div>	
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="why_block">
						<img src="images/why_icon.png" alt="Alt">
						<div class="title">Оригинальный EVA</div>
						<p>Мы используем только качественный<br> материал – Этиленвинилацетат заводской полимеризации</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="why_block">
						<img src="images/why_icon.png" alt="Alt">
						<div class="title">Лучшая цена</div>
						<p>Продаем в розницу по оптовым ценам</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END WHY -->
<!-- WHY BLOCKS -->
	<div class="main_why_block why_block-bg">
		<img src="images/main_photo1.jpg" alt="Alt" class="why_block_img">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="w1_w">
						<div class="w1_b">
							<div class="title_w">Доставка</div>
							<p>Мы доставим автомобильные коврики в любой населенный пункт РФ и СНГ. </p>
							<p>В нашей службе отправки работает целый штат упаковщиков. Они бережно упакуют автоковрики, проверят правильность заполнения адреса, и отправят Вам Почтой России первого класса или транспортной компанией.</p>
							<span>Сроки изготовления автоковриков: 1-2 дня.</span>
							<span>Сроки доставки: 2-6 дней (уточняется у наших специалистов</span>
							<div class="form_bg">
								<div class="title">Уточнить срок доставки</div>
								<form id="form4">
									<input type="text" name="phone" placeholder="Ваш телефон:" class="input_top tel_phone" required>
									<input type="submit" value="Просто узнать цену" class="top_submit">
									<input type="hidden" name="formData" value="Заявка с сайта EvaBest">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main_why_block why_block-bg sec_why">
		<img src="images/main_photo2.jpg" alt="Alt" class="why_block_img sec_why_img">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="w1_w">
						<div class="w1_b">
							<div class="title_w">Оплата</div>
							<p>Вы можете произвести оплату после получения заказа и проверки его в отделениях Почты России или транспортной компании. </p>
							<p>Так же мы принимаем предоплату на верифицированный счет в Сбербанке России.</p>
							<p>При предоплате – Ваш заказ изготавливается и высылается без очереди.</p>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main_why_block why_block-bg">
		<img src="images/main_photo3.jpg" alt="Alt" class="why_block_img">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="w1_w">
						<div class="w1_b">
							<div class="title_w">Гарантия</div>
							<p>Мы производители автоковриков, и ведем контроль на всех этапах, от закупки материалов и сырья, до отправки нашим клиентам и оптовым поставщикам.</p>
							<p>Мы единственные, кто предлагает гарантию на автомобильные коврики EVA – 1 год.  Вы сможете испытать наши коврики в разные времена года: от летнего зноя до зимних морозов.</p>
							<p>Более 200 тысяч автовладельцев уже оценили коврики EvaBest.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main_why_block why_block-bg sec_why">
		<img src="images/main_photo4.jpg" alt="Alt" class="why_block_img sec_why_img">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="w1_w">
						<div class="w1_b">
							<div class="title_w">Исключительно безопасные материалы при производстве</div>
							<p>В производстве ковриков мы используем оригинальный Ethylene Vinyl Acetate (этиленвинилацетат) заводской полимеризации. Данный материал абсолютно безопасен для здоровья, не токсичен, не выделяет вредных испарений.  </p>
							<p>ЭтиленВинилАцетат давно зарекомендовал себя на рынке США и Европы. Он используется там, в качестве материала для изготовления детских игрушек, обуви, и напольных покрытий.  И снискал популярность благодаря своим свойствам и характеристикам</p>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END WHY BLOCKS -->
<!-- REVIEWS -->
	<div class="buy_bg r_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="h1_main">Отзывы наших клиентов</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="bxslider">
					  <li>
					  	<div class="review_wrap clearfix">
					  		<div class="review_block">
								<img src="images/image_review.jpg" alt="Alt" class="image_review">
								<div class="review_text">
									<div class="fio">Анатолий</div>
									<div class="city">г.Иваново</div>
									<div class="city">Автомобиль: Volkswagen Polo</div>
									<p>Работаю таксистом. Заказал такие автоковрики, что бы хоть как то сохранить чистоту в салоне. Стало чище, в конце смены просто протряхиваю коврики, которые успели накопить грязь.Нет необходимости мыть салон каждый день  теперь</p>
								</div>
					  		</div>
					  		<div class="review_block">
								<img src="images/image_review2.jpg" alt="Alt" class="image_review">
								<div class="review_text">
									<div class="fio">Альбина</div>
									<div class="city">г.Уфа</div>
									<div class="city">Chevrolet Cruze</div>
									<p>Эти коврики стали очень популярны в последнее время. Приобрел, попробовать. Не понимаю, почему раньше такие не выпускали. Удобно. И стоят дешевле оригинальных</p>
								</div>
					  		</div>
					  	</div>
					  </li>
					 <li>
					  	<div class="review_wrap clearfix">
					  		<div class="review_block">
								<img src="images/review_photo5.jpg" alt="Alt" class="image_review">
								<div class="review_text">
									<div class="fio">Артур</div>
									<div class="city">г.Республика Коми, пос. Корткерос</div>
									<div class="city">Автомобиль: Лада Калина</div>
									<p>Для сельской местности – эти коврики находка. Все, кого возил, обращали внимание на необычные коврики в салоне. Грязь и вода скапливаются в коврике – и их не видно. Забрал с почты через 7 дней после заказа. Спасибо!</p>
								</div>
					  		</div>
					  		<div class="review_block">
								<img src="images/image_revie3.jpg" alt="Alt" class="image_review">
								<div class="review_text">
									<div class="fio">Евгений</div>
									<div class="city">г.Казань</div>
									<div class="city">Автомобиль: Opel Astra</div>
									<p>Коврики качественные. Использую только три месяца, но сейчас заказал и в багажник. Машина нужна и для работы. Не все встряхивают ноги, когда садятся. А тут встряхнул раз в неделю и готово. А после мойки – они как новые становятся) Спасибо!</p>
								</div>
					  		</div>
					  	</div>
					  </li>
					  <li>
					  	<div class="review_wrap clearfix">
					  		<div class="review_block">
								<img src="images/image_revie4.jpg" alt="Alt" class="image_review">
								<div class="review_text">
									<div class="fio">Ирина</div>
									<div class="city">г.Краснодар</div>
									<div class="city">Автомобиль: Chevrolet Spark</div>
									<p>Коврики замечательные) Я яркие купила. Муж думал быстро выцветут – всю зиму отъездила, мыла в автомойках. А они такие же оранжевые) Спасибо. Буду всем рекомендовать вас.</p>
								</div>
					  		</div>
					  		<div class="review_block">
								<img src="images/image_revie5.jpg" alt="Alt" class="image_review">
								<div class="review_text">
									<div class="fio">Григорий Александрович</div>
									<div class="city">г.Волгоград</div>
									<div class="city">Автомобиль: Лада Гранта</div>
									<p>Я ничего не покупаю в интернете. Но таких ковриков ни в магазинах, ни на авторынке у нас не нашел. Заказал. Но уточнил, что оплачу только при получении. Через пять дней – забрал уже. На почте вскрыл упаковку – как на картинке. И цена честная. Молодцы. </p>
								</div>
					  		</div>
					  	</div>
					  </li>
					  <li>
					  	<div class="review_wrap clearfix">
					  		<div class="review_block">
								<img src="images/image_revie6.jpg" alt="Alt" class="image_review">
								<div class="review_text">
									<div class="fio">Тимур</div>
									<div class="city">г.Москва</div>
									<div class="city">Автомобиль: Hyundai i40</div>
									<p>Коврики хорошие. Заказал черные с красной окантовкой. Дошли быстро. Видно, что все прошито, с виду аккуратные. Пока лето, грязи особой нет. Но в салоне они смотрятся отлично. Мне нравится. Цена ниже, чем в других местах</p>
								</div>
					  		</div>
					  		<div class="review_block">
								<img src="images/image_review7.jpg" alt="Alt" class="image_review">
								<div class="review_text">
									<div class="fio">Лилия</div>
									<div class="city">г.Набережные Челны</div>
									<div class="city">Автомобиль: Toyota Camry</div>
									<p>Увидела такие коврики у коллеги. Посоветовала купить в Evabest. Коврики грязь собирают. Зимой сколько не встряхивай ноги – а приезжаешь домой, а на полу лужа от воды. Сейчас вода оседает в ковриках. Очень нужная вещь</p>
								</div>
					  		</div>
					  	</div>
					  </li>
					  <li>
					  	<div class="review_wrap clearfix">
					  		<div class="review_block">
								<img src="images/review_photo5.jpg" alt="Alt" class="image_review">
								<div class="review_text">
									<div class="fio">Виктор</div>
									<div class="city">г.Балашиха</div>
									<div class="city">Автомобиль: BMW X6</div>
									<p>Хорошие коврики. Не портят автомобиль. Подошли как оригинальные. В реальности выглядят лучше, чем на картинке.</p>
								</div>
					  		</div>
					  		<div class="review_block">
								<img src="images/image_review8.jpg" alt="Alt" class="image_review">
								<div class="review_text">
									<div class="fio">Михаил</div>
									<div class="city">г.Саратов</div>
									<div class="city">Автомобиль: Daewoo Nexia</div>
									<p>Не очень люблю покупать не посмотрев. Попробовал, заказал. Посылка шла 8 дней. Забирал в транспортной компании около дома. Оплатил там же. Все очень качественно. Видно сразу. Отличная замена резиновым коврикам.</p>
								</div>
					  		</div>
					  	</div>
					  </li>
					  <li>
					  	<div class="review_wrap clearfix">
					  		<div class="review_block">
								<img src="images/image_review9.jpg" alt="Alt" class="image_review">
								<div class="review_text">
									<div class="fio">Дмитрий</div>
									<div class="city">г.Ульяновск</div>
									<div class="city">Автомобиль: Ford Focus</div>
									<p>Заказываю уже на вторую машину. До этого ездил на Шевроле Авео. Ребята из Evabest работают быстро. Сразу перезванивают. Предупреждают, когда посылка пришла. Коврики по размеру встали идеально. Не ерзают по салону. Не скользят. Спасибо. </p>
								</div>
					  		</div>
					  		<div class="review_block">
								<img src="images/review_photo5.jpg" alt="Alt" class="image_review">
								<div class="review_text">
									<div class="fio">Алена</div>
									<div class="city">г.Пермь</div>
									<div class="city">Автомобиль: Suzuki Swift</div>
									<p>Спасибо Сергею, помог выбрать коврики по телефону. Коврики подошли. Даже липучки на них есть. Хочется отметить быструю доставку и вежливое обслуживание. Буду рекомендовать.</p>
								</div>
					  		</div>
					  	</div>
					  </li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="post" data-toggle="modal" data-target="#myModal2">Оставить отзыв</a>
				</div>
			</div>
		</div>
	</div>
<!-- END REVIEWS -->
<!-- MAP -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h1_main">Мы работаем по всей России и СНГ</div>
				<div class="h2_main">Доставим в любой пункт РФ и СНГ в кратчайшие сроки!</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<img src="images/map.jpg" alt="Alt" class="bigmap">
			</div>
		</div>
	</div>
<!-- END MAP -->
<!-- YELLOW BLOCK2 -->
	<div class="yellow_bg yb2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="h1_main white_h1">Остались вопросы? Хотите сделать быстрый заказ?</div>
					<p>Оставьте ваш номер телефона, и нас специалист перезвонит Вам в течение 15 минут. Проконсультирует Вас, поможет подобрать автомобильный коврик, и при необходимости оформит заказ.</p>
					<a href="#" class="open_modal" data-toggle="modal" data-target="#myModal">Экспресс заявка на обратный звонок</a>
				</div>
			</div>
		</div>
	</div>
<!-- END YELLOW BLOCK2 -->
<!-- FOOTER -->
	<div class="footer_bg">	
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<div class="logo">
							<img src="images/logo_bottom.png" alt="Alt">
							<div class="title"><span>Eva</span>Best</div>
							<div class="clearfix"></div>
							<a href="#" class="polit">Политика конфиденциальности</a>
						</div>
					</div>
					<div class="col-md-2 col-sm-2">
						<p class="sub">Инновационные<br>
						автоковрики </p>
					</div>
					<div class="col-md-6 col-md-offset-1 col-sm-6">
						<ul class="nav_bottom">
							<li><a href="#">Цена</a></li>
							<li><a href="#">Доставка</a></li>
							<li><a href="#">Оплата</a></li>
							<li><a href="#">Гарантия</a></li>
							<li><a href="#">Отзывы</a></li>
						</ul>
					</div>
				</div>
				<div class="row somerow">
					<div class="col-md-4 col-sm-4">
						<div class="phone_top clearfix">
							<div class="phone_block">
								<p>Звонок по г. Казань и РФ:</p>
								<span>8(999) 999-99-99</span>
							</div>
							<div class="links_block">
								<a href="#"></a>
								<a href="#"></a>
								<a href="#"></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4">
						<a href="#" class="order" data-toggle="modal" data-target="#myModal">Заказать обратный звонок</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
<!-- END FOOTER -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content form_bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title title">Заказать обратный звонок прямо сейчас!</h4>
      </div>
      <div class="modal-body">
		<form id="form5">
			<input type="text" name="name" placeholder="Ваше имя:" class="bottom_input" required>
			<input type="text" name="phone" placeholder="Ваш телефон:" class="bottom_input phone_inpu tel_phone" required>
			<input type="submit" value="Заказать" class="bottom_submit">
			<input type="hidden" name="formData" value="Заявка с сайта EvaBest">
		</form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content form_bg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title title">Оставить отзыв</h4>
      </div>
      <div class="modal-body">
		<form id="form5">
			<input type="text" name="name" placeholder="Ваше имя:" class="bottom_input" required>
			<input type="text" name="phone" placeholder="Ваш телефон:" class="bottom_input phone_inpu tel_phone" required>
			<textarea name="mess" placeholder="Ваш отзыв:" class="texta"></textarea>
			<input type="submit" value="Отправить" class="bottom_submit">
			<input type="hidden" name="formData" value="Отзыв с сайта EvaBest">
		</form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="thankyouModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Спасибо большое!</h4>
      </div>
      <div class="modal-body">
          <p>Ваша заявка отправлена.<br>Наш менеджер свяжется с вами!</p>                     
      </div>    
    </div>
  </div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/fancySelect.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/ajax_form.js"></script>
<script src="js/jquery.maskedinput.js"></script>
<script src="js/script.js"></script>
 </body>
</html>