<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Реклама под ключ</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/jquery.countdown.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<header>
		<div class="main_container clearfix">
			<div class="logo clearfix">
				<img src="images/logo.png" alt="Реклама под ключ" class="logo_img">
				<div class="logo_text">
					<h1>реклама под ключ</h1>
					<h2>Качественная настройка Яндекс Директ</h2>
				</div>
			</div>
			<div class="phone_right">
				<p>8 (812) 642-46-33</p>
				<span>Звоните с 10 до 20 (СПб)</span>
				<!-- <a href="#" class="open_modal">Заказать обратный звонок</a> -->
			</div>
		</div>
	</header>
	<div class="main_nav">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#" class="ontop1">О НАС</a></li>
				<li><a href="#" class="ontop2">ПРАЙС­ЛИСТ</a></li>
				<li><a href="#" class="ontop3">ОТЗЫВЫ</a></li>
				<li><a href="#" class="ontop4">СХЕМА РАБОТЫ</a></li>
				<li><a href="#" class="ontop5">КОНТАКТЫ</a></li>
			</ul>
		</div>
	</div>
<!-- END HEADER	 -->
<!-- MAIN SLIDER -->
	<div class="main_slider_bg">
		<div class="main_container clearfix">
			
				<form id="form1">
				<div class="cloud_form">
					<input type="text" name="name" placeholder="Введите Ваше имя" class="main_input" required>
					<input type="text" name="phone" placeholder="Введите Ваш номер телефона" class="main_input" required>
					</div>
					<button type="submit" class="main_submit">Заказать<br> звонок</button>
					<input type="hidden" name="formData" value="Заявка с сайта Реклама под ключ">
				</form>

			<div class="arrow_block">
				<img src="images/arrow.png" alt="Реклама под ключ">
				<div class="arrow_text">Ваш сайт <br>становится <br>продающим</div>
				<div class="arrow_text">Конверсия <br>рекламы <br>более 5%</div>
				<div class="arrow_text">Только <br>целевая<br> аудитория</div>
				<div class="arrow_text">Затраты <br>на рекламу<br> снижены</div>
				<div class="arrow_text">Увеличены<br> продажи 3Х</div>
				<img src="images/arrow_up.png" alt="Реклама под ключ" class="arrow_up">
			</div>

		</div>
	</div>
<!-- END MAIN SLIDER -->
<!-- ADVANTAGES -->
	<div class="advantages_bg">
		<div class="main_container clearfix">
			<div class="main_h1">НАШИ ПРЕИМУЩЕСТВА</div>
			<div class="advantages_wrap clearfix some_top1">
				<div class="advantages_block f_in">
					<div class="title"><span>6 проблем</span> слабых продаж</div>
					<div class="advantages_inside">1. Низкая <br>конверсия у <br>Вашего сайта</div>
					<div class="advantages_inside">2. Нецелевые <br>поисковые <br>запросы</div>
					<div class="advantages_inside">3. Неправильно <br>оставленные <br>минус слова</div>
					<div class="advantages_inside">4. В объявлениях <br>не используется <br>продающая схема</div>
					<div class="advantages_inside">5. Отсутствует <br>аналитика <br>сайта</div>
					<div class="advantages_inside">6. Компания <br>не поддерживаеться <br>оператором</div>
				</div>
				<div class="advantages_block f_in">
					<div class="title">Как <span>мы решаем</span> ваши проблемы</div>
					<div class="advantages_inside">1. БЕСПЛАТНО <br>проводим <br>аудит сайта</div>
					<div class="advantages_inside">2. Собираем самые<br> релевантные <br>запросы</div>
					<div class="advantages_inside">3. Группируем и <br>проводим умную <br>минусовку мусора</div>
					<div class="advantages_inside">4. Создаем реально <br>кликабельные <br>объявления</div>
					<div class="advantages_inside">5. БЕСПЛАТНО <br>подключаем <br>Метрику и Таргет</div>
					<div class="advantages_inside">6. До 30 дней <br>БЕСПЛАТНО <br>ведем кампанию</div>
				</div>
			</div>
			<div class="subtitle">Мы гарантируем CTR рекламы <span>не ниже 5%,</span> в противном случае, <span>мы вернем</span> вам деньги!</div>
		</div>
	</div>
<!-- END ADVANTAGES -->
<!-- WARRANTY -->
	<div class="warranty_bg">
		<div class="main_container clearfix">
			<img src="images/warranty_title.png" alt="Реклама под ключ" class="warranty_title">
			<img src="images/fish1.png" alt="" class="fish1">
			<img src="images/worm.png" alt="Реклама под ключ" class="worm">
			<img src="images/wor,_small.png" alt="Реклама под ключ" class="worm_small ">
			<img src="images/fish2.png" alt="" class="fish2">
			<div class="main_h1 easy">С нами просто!</div>
			<div class="main_h2">Мы экономим Ваши деньги! <br>Вы платите только за количество релевантных объявлений!</div>
			<div class="fish_price_wrap some_top2">
				<div class="fish_price_block">
					<div class="title">Малек</div>
					<div class="do">до 100</div>
					<hr>
					<div class="crossline_price">4500 р</div>
					<div class="price">3500 р</div>
					<hr>
					<div class="time">приготовим за 2 дня ведение 7 дней*</div>
					<hr>
					<div class="place">ГЗ, ТЗ, ХЗ <br>1 регион Метрика</div>
				</div>
				<div class="fish_price_block">
					<div class="title">Окунь</div>
					<div class="do">до 300</div>
					<hr>
					<div class="crossline_price">13500 р</div>
					<div class="price">+35 р х 1</div>
					<hr>
					<div class="time">приготовим за 3 дня ведение 14 дней*</div>
					<hr>
					<div class="place">ГЗ, ТЗ, ХЗ <br>до 3 регионов Метрика</div>
				</div>
				<div class="fish_price_block">
					<div class="title">Щука</div>
					<div class="do">до 500</div>
					<hr>
					<div class="crossline_price">20000 р</div>
					<div class="price">+30 р х 1</div>
					<hr>
					<div class="time">приготовим за 4дня ведение 14 дней*</div>
					<hr>
					<div class="place">ГЗ, ТЗ, ХЗ <br>до 3 регионов Метрика, Сквозная аналитика, Конкурентная разведка</div>
				</div>
				<div class="fish_price_block">
					<div class="title">Акула</div>
					<div class="do">до 1000</div>
					<hr>
					<div class="crossline_price">35000 р</div>
					<div class="price">+25 р х 1</div>
					<hr>
					<div class="time">приготовим за 7дней ведение 21 дней*</div>
					<hr>
					<div class="place">ГЗ, ТЗ, ХЗ <br>до 10 регионов Метрика, Сквозная аналитика, Конкурентная разведка, Автоматизация ставок</div>
				</div>
				<div class="fish_price_block">
					<div class="title">Кит</div>
					<div class="do">> 1000</div>
					<hr>
					<div class="crossline_price">40 р х 1</div>
					<div class="price">+20 р х 1</div>
					<hr>
					<div class="time">пприготовим за 10дней ведение 30 дней*</div>
					<hr>
					<div class="place">ГЗ, ТЗ, ХЗ <br>до 10 регионов Метрика, Сквозная аналитика, Конкурентная разведка, Автоматизация ставок</div>
				</div>
			</div>
			<div class="clearfix"></div>

<!-- END WARRANTY -->
<!-- SPECIAL PRICE FORM -->
				<div class="spcl_wrap">
				<div class="title">Закажите настройку по специальной цене!</div>
				<div id="padZeroes"></div>
				<div class="clearfix"></div>
				<form id="form2">
					<input type="text" name="name" placeholder="Ваше имя" class="clock_input" required>
					<input type="text" name="mail" placeholder="Ваш e-mail" class="clock_input" required>
					<input type="submit" value="Заказать сейчас!" class="clock_submit">
					<input type="hidden" name="formData" value="Заявка с сайта Реклама под ключ Заказ настройки">
				</form>
			</div>

<!-- END SPECIAL PRICE FORM -->
<!-- MAIN PRICE -->
<!-- END MAIN PRICE -->
			<div class="main_price_bg clearfix">
				<div class="main_price_title">Платное ведение кампании (в месяц)</div>
				<hr>
				<div class="main_price_wrap clearfix">
					<div class="main_price_block">
						<div class="title">Лайт</div>
						<ul>
						<li>Мониторинг бюджета</li>
							<li>Вебвизор+Минусовка</li>
							<li>Обновление ставок 1р/день</li>
							<li>Остановка неэффективных</li>
							<li>Замена ключей (до 20 шт.)</li>
							<li>Добавление (1х25р)</li>
							<li>Отчет и предложения</li>

						</ul>
						<div class="price">3 000 р</div>
					</div>
					<div class="main_price_block">
						<div class="title">proxl</div>
						<ul>
						<li>Мониторинг бюджета</li>
							<li>Вебвизор+Минусовка</li>
							<li>Обновление ставок 1р/день</li>
							<li>Остановка неэффективных</li>
							<li>Замена ключей (до 50 шт.)</li>
							<li>Добавление (до 50 шт.)</li>
							<li>АБ тест</li>
							<li>Отчет и предложения</li>
							</ul>
						<div class="price">10 000 р</div>
					</div>
					<div class="main_price_block">
						<div class="title">proxxl</div>
						<ul>
						<li>Мониторинг бюджета</li>
							<li>Вебвизор+Минусовка</li>
							<li>Обновление ставок 1р/день</li>
							<li>Остановка неэффективных</li>
							<li>Замена ключей (до 100 шт.)</li>
							<li>Добавление (до 100 шт.)</li>
							<li>АБ тест</li>
							<li>Отчет и предложения</li>
						</ul>
						<div class="price">15 000 р</div>
					</div>
				</div>
			</div>
			<a href="#" class="main_price_button open_modal">Заказать ведение!</a>
		</div>
	</div>
<!-- REVIEWS -->
	<div class="review_bg clearfix">
		<div class="main_container clearfix">
			<div class="main_h1 some_top3">Отзывы</div>
			<ul class="bxslider">
				<li>
					<div class="review_block clearfix">
						<img src="images/review_photo.jpg" alt="Реклама под ключ" class="photo">
						<div class="review_text">
							<div class="title">Евгений, г. Самара</div>
							<table>
								<tr>
									<th>Кликов в месяц:</th>
									<th>Кликов в день:</th>
									<th>CTR (%):</th>
									<th>Цена клика, у.е.:</th>
									<th>Конв. (%)</th>
									<th>Цена цели, у.е.:</th>
								</tr>
								<tr>
									<td>5523</td>
									<td>240</td>
									<td>14,32</td>
									<td>14,32</td>
									<td>5.65</td>
									<td>4.75</td>
								</tr>
							</table>
							<p>Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. С другой стороны укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="review_block clearfix">
						<img src="images/review_photo.jpg" alt="Реклама под ключ" class="photo">
						<div class="review_text">
							<div class="title">Евгений, г. Самара</div>
							<table>
								<tr>
									<th>Кликов в месяц:</th>
									<th>Кликов в день:</th>
									<th>CTR (%):</th>
									<th>Цена клика, у.е.:</th>
									<th>Конв. (%)</th>
									<th>Цена цели, у.е.:</th>
								</tr>
								<tr>
									<td>5523</td>
									<td>240</td>
									<td>14,32</td>
									<td>14,32</td>
									<td>5.65</td>
									<td>4.75</td>
								</tr>
							</table>
							<p>Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. С другой стороны укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
<!-- END REVIEWS -->
<!-- SCHEME -->
	<div class="main_container clearfix">
		<div class="main_h1 some_top4">Схема работы</div>
		<div class="scheme_wrap">
			<div class="scheme_block">
				<div class="ims"><img src="images/scheme_icon1.png" alt="Реклама под ключ"></div>
				<p>Оставьте заявку удобным для Вас способом</p>
			</div>
			<div class="scheme_block">
				<div class="ims"><img src="images/scheme_icon2.png" alt="Реклама под ключ"></div>
				<p>Мы свяжемся с Вами в течение 1 часа</p>
			</div>
			<div class="scheme_block">
				<div class="ims"><img src="images/scheme_icon3.png" alt="Реклама под ключ"></div>
				<p>Обсудим детали, проведем аудит сайта</p>
			</div>
			<div class="scheme_block">
				<div class="ims"><img src="images/scheme_icon4.png" alt="Реклама под ключ"></div>
				<p>Соберем ключевые запросы и спрогнозируем бюджет</p>
			</div>
			<div class="scheme_block">
				<div class="ims"><img src="images/scheme_icon5.png" alt="Реклама под ключ"></div>
				<p>После согласования Вы оплачиваете тариф ­и мы настраиваем кампанию</p>
			</div>
			<div class="scheme_block">
				<div class="ims"><img src="images/scheme_icon6.png" alt="Реклама под ключ"></div>
				<p>Бесплатное “Лайт” ведение кампании 14 дней</p>
			</div>
		</div>
		<a href="#" class="main_price_button open_modal">Заказать сейчас!</a>
	</div>
	</div>
<!-- END SCHEME -->
<!-- FOOTER -->
	<footer class="some_top5">
		<div class="main_container clearfix">
			<div class="logo clearfix">
				<img src="images/logo.png" alt="Реклама под ключ" class="logo_img">
				<div class="logo_text">
					<h1>реклама под ключ</h1>
					<h2>Качественная настройка Яндекс Директ</h2>
				</div>
			</div>
			<div class="phone_right">
				<p>8 (812) 642-46-33</p>
				<span>Звоните с 10 до 20 (СПб)</span>
				<a href="#" class="open_modal">Заказать обратный звонок</a>
			</div>
		</div>
	</footer>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
	<div class="title">Обратный звонок</div>
	<form id="from14">
		<input type="text" placeholder="Имя" name="name" class="modal_input" required>
		<input type="text" placeholder="Телефон" name="phone" class="modal_input" required>
		<input type="submit" value="Отправить" class="modal_submit">
		<input type="hidden" name="formData" value="Заявка с сайта Реклама под ключ">
	</form>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL5 -->
<div class="overlay" id="overlay5" style="display:none;"></div> 
    <div class="nonebox" id="nonebox5"> 
     <a class="box-close one" id="box-close5" href="index.html"></a>
		<center><p class="success"><span>Спасибо за заявку!</span><br>
    В ближайшее время наш<br> менеджер Вам перезвонит<br>
    <a href="index.html">Спасибо</a></p></center>
    </div> 
<!-- END MODAL5 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/ajax_form.js"></script>
<script src="js/jquery.plugin.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/jquery.countdown-ru.js"></script>
<script src="js/animate-css.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/script.js"></script>
<!-- ТАЙМЕР -->
<script>
	var liftoffTime = new Date();
	liftoffTime.setDate(liftoffTime.getDate() + 11); //время таймера в днях
	$('#padZeroes').countdown({until: liftoffTime, padZeroes: true});
</script>
<script>
var h_hght = 130; // высота шапки
var h_mrg = 0;    // отступ когда шапка уже не видна
                 
$(function(){
 
    var elem = $('.main_nav');
    var top = $(this).scrollTop();
     
    if(top > h_hght){
        elem.css('top', h_mrg);
    }           
     
    $(window).scroll(function(){
        top = $(this).scrollTop();
         
        if (top+h_mrg < h_hght) {
            elem.css('top', (h_hght-top));
        } else {
            elem.css('top', h_mrg);
        }
    });
 
});
</script>
 </body>
</html>