<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
	<title>Ты предприниматель</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>
<body>
<div id="wrapper">
<!-- HEADER	 -->
	<div class="main_slider_bg">
		<div class="hdr_wrapper">
		<div class="main_nav clearfix">
			<div class="main_container clearfix">
				<ul>
					<li><a href="apmi.html">АПМИ </a></li>
					<li><a href="#">О программе</a></li>
					<li><a href="news.html">Новости</a></li>
					<li><a href="mediafails.html">Медиа</a></li>
					<li class="pr_link"><a href="#">Проекты</a>
						<ul class="sub_menu">
							<li><a href="#">Онлайн-обучение</a></li>
							<li><a href="#">Очное обучение</a></li>
							<li><a href="#">Консультации по бизнесу</a></li>
							<li><a href="#">Конкурс «Молодой предприниматель России»</a></li>
							<li><a href="#">Игровой квест для школьников</a></li>
							<li><a href="#">Конгресс «Молодые миллионеры Сибири»</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Контакты</a></li>
					<li><a href="#">Обратная связь</a></li>
					<li><a href="document.html">Документы </a></li>
					<li><a href="kabinet.html">Личный кабинет</a></li>                                           
				</ul>
				<div class="toggle_menu">
					<a href="#menu" id="toggle"><span></span></a>
				</div>
				<div class="divider"></div>
			</div>
		</div>
		<header>
			<div class="main_container clearfix">
				<a href="index.html"><img src="images/logo1.png" alt="Alt" class="logo1"></a>
				<img src="images/logo2.png" alt="Alt" class="logo2">
				<div class="header_right">
					<a href="#" class="vers">Версия для слабовидящих</a>
					<form id="search" action="#" method="post">
					<div id="input"><input type="text" name="search-terms" id="search-terms" placeholder="Поиск"></div>
						<div id="label"><label for="search-terms" id="search-label">search</label></div>

					</form>
					<!-- <a href="#" class="search_b"></a> -->
				</div>
			</div>
		</header>
	</div>
<!-- END HEADER	 -->
<!-- MAIN SLIDER -->
		<ul class="bxslider">
			<li class="first_slide">
				<div class="main_container clearfix">
					<div class="img-wrap"><img src="images/h1_text.png" alt="Alt"></div>
				</div>
			</li>
			<li class="first_slide">
				<div class="main_container clearfix">
					<div class="img-wrap"><img src="images/h1_text.png" alt="Alt"></div>
				</div>
			</li>
			<li class="first_slide">
				<div class="main_container clearfix">
					<div class="img-wrap"><img src="images/h1_text.png" alt="Alt"></div>
				</div>
			</li>
		</ul>
	</div>
<!-- EDN MAIN SLIDER -->
<!-- BLUE TEXT -->
	<div class="blue_block_bg">
		<div class="main_container clearfix">
			<p>Пройдите тест на предрасположенность к предпринимательской<br> деятельности</p>
			<a href="#">Перейти к тесту</a>
		</div>
	</div>
<!-- END BLUE TEXT -->
<!-- NEWS -->
	<div class="news_bg">
		<div class="main_container clearfix">
			<div class="main_h1">НОВОСТИ</div>
			<div class="news_wrap clearfix">
				<div class="col1_news">
					<div class="news-block">
						<a href="news.html"></a>
						<img src="images/news_img1.jpg" alt="Alt">
						<div class="title">Всероссийский молодежный фестиваль авторской патриотической песни</div>
						<div class="date_circle">3 <span>нояб.</span></div>
					</div>
					<div class="news-block">
						<a href="news.html"></a>
						<img src="images/news_img2.jpg" alt="Alt">
						<div class="title">Всероссийский молодежный фестиваль авторской патриотической песни</div>
						<div class="date_circle">3 <span>нояб.</span></div>
					</div>
				</div>
				<div class="col2_news">
					<div class="news-block">
						<a href="news.html"></a>
						<img src="images/news_img3.jpg" alt="Alt">
						<div class="title">Всероссийский молодежный фестиваль авторской патриотической песни</div>
						<div class="date_circle">3 <span>нояб.</span></div>
					</div>
				</div>
				<div class="col3_news">
					<div class="news-block">
						<a href="news.html"></a>
						<img src="images/news_img4.jpg" alt="Alt">
						<div class="title">Всероссийский молодежный фестиваль авторской патриотической песни</div>
						<div class="date_circle">3 <span>нояб.</span></div>
					</div>
					<div class="grey_block clearfix">
						<a href="news.html" class="link_to"></a>
						<a href="#">Все новости</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END NEWS -->
<!-- MEMBERS -->
	<div class="members_bg">
		<div class="main_container clearfix">
			<div class="main_h1">Участники программы</div>
			<ul class="bxslider">
				<li>
					<div class="col1_news">
						<div class="member_info">
							<p>Когда-то ему приходилось есть доширак, теперь оставляет на чай в ресторанах по 3000 рублей. Раньше его единственным путешествием была ежедневная дорога на наемную работу, сейчас он объездил уже полмира. К бизнесу своей мечты эта парень шел долгих 12 лет. Не раз все бросал и вновь начинала с нуля.</p>
							<a href="#">Смотреть кейс</a>
						</div>
					</div>
					<div class="col1_news">
						<div class="member_photo">
							<img src="images/members_photo.jpg" alt="Alt">
							<div class="title">Игорь, 28 лет, кафе "Тратория"</div>
						</div>
					</div>
				</li>
				<li>
					<div class="col1_news">
						<div class="member_info">
							<p>Когда-то ему приходилось есть доширак, теперь оставляет на чай в ресторанах по 3000 рублей. Раньше его единственным путешествием была ежедневная дорога на наемную работу, сейчас он объездил уже полмира. К бизнесу своей мечты эта парень шел долгих 12 лет. Не раз все бросал и вновь начинала с нуля.</p>
							<a href="#">Смотреть кейс</a>
						</div>
					</div>
					<div class="col1_news">
						<div class="member_photo">
							<img src="images/members_photo.jpg" alt="Alt">
							<div class="title">Игорь, 28 лет, кафе "Тратория"</div>
						</div>
					</div>
				</li>
				<li>
					<div class="col1_news">
						<div class="member_info">
							<p>Когда-то ему приходилось есть доширак, теперь оставляет на чай в ресторанах по 3000 рублей. Раньше его единственным путешествием была ежедневная дорога на наемную работу, сейчас он объездил уже полмира. К бизнесу своей мечты эта парень шел долгих 12 лет. Не раз все бросал и вновь начинала с нуля.</p>
							<a href="#">Смотреть кейс</a>
						</div>
					</div>
					<div class="col1_news">
						<div class="member_photo">
							<img src="images/members_photo.jpg" alt="Alt">
							<div class="title">Игорь, 28 лет, кафе "Тратория"</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
<!-- END MEMBERS -->
<!-- MEDIA -->
	<div class="media_bg">
		<div class="main_container clearfix">
			<div class="main_h1">МЕДИА</div>
			<div class="tags_wrap"><span>#molpred</span><span>#молпредНСК</span></div>
			<div class="media_wrap">
				<div class="col2_news">
					<div class="news-block">
						<a href="mediafails.html" class="link_to"></a>
						<img src="images/media_img1.jpg" alt="Alt">
						<div class="title">Фотоотчет с всероссийского молодежного фестиваля авторской патриотической песни</div>
					</div>
				</div>
				<div class="col1_news">
					<div class="small_block">
						<a href="mediafails.html" class="link_to"></a>
						<img src="images/media_img2.jpg" alt="Alt">
						<div class="title">Фотоотчет с всероссийского молодежного фестиваля</div>
					</div>
					<div class="small_block">
						<a href="mediafails.html" class="link_to"></a>
						<img src="images/media_img3.jpg" alt="Alt">
						<div class="title">Фотоотчет с всероссийского молодежного фестиваля</div>
					</div>
					<div class="clearfix"></div>
					<div class="news-block">
						<a href="mediafails.html" class="link_to"></a>
						<img src="images/media_img4.jpg" alt="Alt">
						<div class="title">Фотоотчет с всероссийского молодежного фестиваля авторской патриотической песни</div>
					</div>
				</div>
				<div class="col3_news">
					<div class="news-block">
						<a href="mediafails.html" class="link_to"></a>
						<img src="images/media_img5.jpg" alt="Alt">
						<div class="title">Фотоотчет с всероссийского молодежного фестиваля авторской патриотической песни</div>
					</div>
					<div class="grey_block clearfix">
						<a href="news.html" class="link_to"></a>
						<a href="#">Все медиаотчеты</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END MEDIA -->
<!-- PROJECTS -->
	<div class="project_bg">
		<div class="main_container clearfix">
			<div class="project_h1">НАШИ ПРОЕКТЫ</div>
			<div class="projects_wrap clearfix">
				<div class="project_block">
					<img src="images/progect_icon1.png" alt="Alt">
					<div class="text_project">
						<div class="title">ОНЛАЙН- ОБУЧЕНИЯ</div>
						<a href="#">Подробнее</a>
					</div>
				</div>
				<div class="project_block">
					<img src="images/progect_icon2.png" alt="Alt">
					<div class="text_project">
						<div class="title">ОЧНОЕ ОБУЧЕНИЯ</div>
						<a href="#">Подробнее</a>
					</div>
				</div>
				<div class="project_block">
					<img src="images/progect_icon3.png" alt="Alt">
					<div class="text_project">
						<div class="title">игровой квест<br> для школьников </div>
						<a href="#">Подробнее</a>
					</div>
				</div>
				<div class="project_block">
					<img src="images/progect_icon4.png" alt="Alt">
					<div class="text_project">
						<div class="title">КОнсультации по<br> бизнесу</div>
						<a href="#">Подробнее</a>
					</div>
				</div>
				<div class="project_block">
					<img src="images/progect_icon5.png" alt="Alt">
					<div class="text_project">
					<div class="title">Конкурс "Молодой предприниматель России"</div>
						<a href="#">Подробнее</a>
					</div>
				</div>
				<div class="project_block">
					<img src="images/progect_icon6.png" alt="Alt">
					<div class="text_project">
						<div class="title">КОнгресс “Молодый миллионеры Сибири”</div>
						<a href="#">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END PROJECTS -->
<!-- PROGRAMM -->
	<div class="programm_bg">
		<div class="main_container clearfix">
			<div class="project_h1">ПРОГРАММА<br> <span>"ТЫ - ПРЕДПРИНИМАТЕЛЬ"</span> СЕГОДНЯ ЭТО:</div>
			<p>Десятки тысяч обученных предпринимателей по всей России Сотни проведенных мастер-классов</p>
			<hr>
			<p>Десятки тысяч обученных предпринимателей по всей России</p>
			<hr>
			<p>Сотни проведенных мастер-классов</p>
			<hr>
			<p>Десятки тысяч обученных предпринимателей по всей России Сотни проведенных мастер-классов</p>
			
		</div>
	</div>
<!-- END PROGRAMM -->
<!-- PARTNERS -->
	<div class="main_container clearfix">
		<div class="partners_h1">Партнеры</div>
		<div class="partners_wrap">
			<a href="#"><div class="p_b"><img src="images/partner_img1.png" alt="Alt"></div></a>
			<a href="#"><div class="p_b"><img src="images/partner_img2.png" alt="Alt"></div></a>
			<a href="#"><div class="p_b"><img src="images/partner_img3.png" alt="Alt"></div></a>
			<a href="#"><div class="p_b"><img src="images/partner_img4.png" alt="Alt"></div></a>
			<a href="#"><div class="p_b"><img src="images/partner_img5.png" alt="Alt"></div></a>
		</div>
	</div>
<!-- END PARTNERS -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="main_container clearfix">
				<img src="images/logo_bottom.png" alt="Alt" class="logo">
				<div class="phone_bottom">
					<div class="title">Вопросы и пожелания:</div>
					<p>+7 (383) 230-40-33</p>
				</div>
				<div class="social-wrap"><a href="#"></a><a href="#"></a></div>
				<div class="clearfix"></div>
				<div class="dev">Разработано: ООО <a href="tm-start.ru">«Триумф-Маркетинг»</a> </div>
			</div>
		</footer>
	</div>
<!-- EDN FOOTER -->
</div>
<div id="menu">
	<ul>
		<li><a href="#">АПМИ </a></li>
		<li><a href="#">О программе</a></li>
		<li><a href="#">Новости</a></li>
		<li><a href="#">Медиа</a></li>
		<li><a href="#">Проекты</a></li>
		<li><a href="#">Контакты</a></li>
		<li><a href="#">Обратная связь</a></li>
		<li><a href="#">Документы </a></li>
		<li><a href="#">Личный кабинет</a></li>                                           
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
 </body>
</html>