<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
	<title>Ты предприниматель</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" media="all" />
</head>
<body>
<div id="wrapper" class="inside_page">
<!-- HEADER	 -->
		<div class="main_nav clearfix">
			<div class="main_container clearfix">
				<ul>
					<li><a href="apmi.html">АПМИ </a></li>
					<li><a href="#">О программе</a></li>
					<li><a href="news.html">Новости</a></li>
					<li><a href="mediafails.html">Медиа</a></li>
					<li class="pr_link"><a href="#">Проекты</a>
						<ul class="sub_menu">
							<li><a href="#">Онлайн-обучение</a></li>
							<li><a href="#">Очное обучение</a></li>
							<li><a href="#">Консультации по бизнесу</a></li>
							<li><a href="#">Конкурс «Молодой предприниматель России»</a></li>
							<li><a href="#">Игровой квест для школьников</a></li>
							<li><a href="#">Конгресс «Молодые миллионеры Сибири»</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Контакты</a></li>
					<li><a href="#">Обратная связь</a></li>
					<li><a href="document.html">Документы </a></li>
					<li class="active"><a href="kabinet.html">Личный кабинет</a></li>                                           
				</ul>
				<div class="toggle_menu">
					<a href="#menu" id="toggle"><span></span></a>
				</div>
				<div class="divider"></div>
			</div>
		</div>
		<header>
			<div class="main_container clearfix">
				<a href="index.html"><img src="images/main_logo1.png" alt="Alt" class="logo1"></a>
				<img src="images/main_logo2.png" alt="Alt" class="logo2">
				<div class="header_right">
					<a href="#" class="vers">Версия для слабовидящих</a>
					<form id="search" action="#" method="post">
					<div id="input"><input type="text" name="search-terms" id="search-terms" placeholder="Поиск"></div>
						<div id="label"><label for="search-terms" id="search-label">search</label></div>

					</form>
				</div>
			</div>
		</header>
<!-- END HEADER	 -->
<!-- KABINET -->
	<div class="main_content_bg">
		<div class="main_container clearfix">
			<div class="main_content_wrap">
				<ul class="breadcrumbs">
					<li><a href="index.html">Главная</a></li>
					<li>Личный кабинет</li>
				</ul>
				<div class="main_h1">Иванов Иван  <span>Личный кабинет</span></div>
				<div class="kabinet_wrap">
					<div class="kabinet_block">
						<div class="title">Мотивация к успеху</div>
						<div class="subtitle">Диагностика личности на мотивацию к успеху Т.Элерса</div>
						<p>С другой стороны дальнейшее развитие различных форм деятельности играет важную роль в формировании дальнейших направлений развития. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании модели развития. Таким образом укрепление и развитие структуры представляет собой интересный эксперимент проверки соответствующий условий активизации.</p>
						<p>Таким образом сложившаяся структура организации играет важную роль в формировании форм развития. Таким образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание новых предложений.</p>
						<a href="#" class="open_modal1">ПРойти тестирование</a>
						<div class="divider"></div>
					</div>
					<div class="kabinet_block">
						<div class="title">Мотивация к успеху</div>
						<div class="subtitle">Диагностика личности на мотивацию к успеху Т.Элерса</div>
						<p>С другой стороны дальнейшее развитие различных форм деятельности играет важную роль в формировании дальнейших направлений развития. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании модели развития. Таким образом укрепление и развитие структуры представляет собой интересный эксперимент проверки соответствующий условий активизации.</p>
						<p>Таким образом сложившаяся структура организации играет важную роль в формировании форм развития. Таким образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание новых предложений.</p>
						<a href="#" class="open_modal1">ПРойти тестирование</a>
						<div class="divider"></div>
					</div>
					<div class="kabinet_block">
						<div class="title">Мотивация к успеху</div>
						<div class="subtitle">Диагностика личности на мотивацию к успеху Т.Элерса</div>
						<p>С другой стороны дальнейшее развитие различных форм деятельности играет важную роль в формировании дальнейших направлений развития. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании модели развития. Таким образом укрепление и развитие структуры представляет собой интересный эксперимент проверки соответствующий условий активизации.</p>
						<p>Таким образом сложившаяся структура организации играет важную роль в формировании форм развития. Таким образом начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание новых предложений.</p>
						<a href="#" class="open_modal1">ПРойти тестирование</a>
						<div class="divider"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- END KABINET -->
<!-- FOOTER -->
	<div class="footer_bg">
		<footer>
			<div class="main_container clearfix">
				<img src="images/logo_bottom.png" alt="Alt" class="logo">
				<div class="phone_bottom">
					<div class="title">Вопросы и пожелания:</div>
					<p>+7 (383) 230-40-33</p>
				</div>
				<div class="social-wrap"><a href="#"></a><a href="#"></a></div>
				<div class="clearfix"></div>
				<div class="dev">Разработано: ООО <a href="tm-start.ru">«Триумф-Маркетинг»</a> </div>
			</div>
		</footer>
	</div>
<!-- EDN FOOTER -->
</div>
<div id="menu">
	<ul>
		<li><a href="#">АПМИ </a></li>
		<li><a href="#">О программе</a></li>
		<li><a href="#">Новости</a></li>
		<li><a href="#">Медиа</a></li>
		<li><a href="#">Проекты</a></li>
		<li><a href="#">Контакты</a></li>
		<li><a href="#">Обратная связь</a></li>
		<li><a href="#">Документы </a></li>
		<li><a href="#">Личный кабинет</a></li>                                           
	</ul>
	<div class="close">×</div>
</div>
<!-- MODAL2 -->
	<div class="overlay" id="overlay2" style="display:none;"></div> 
	<div class="nonebox" id="nonebox2"> 
		<a class="box-close one" id="box-close2" href="#"></a>
		<div class="title">Регистрация на сайте</div>
		<form id="form2">
			<input type="text" name="name" placeholder="ФИО:" class="modal_input" required>
			<input type="text" name="age" placeholder="Возраст:" class="modal_input" required>
			<input type="text" name="mail" placeholder="Ваш e-mail:" class="modal_input" required>
			<input type="text" name="phone" placeholder="Контактный телефон:" class="modal_input" required>
			<input type="submit" value="Зарегистрироваться" class="modal_tubmit">
		</form>
	</div> 
<!-- END MODAL2 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
 </body>
</html>