<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Оренбургские пуховые платки</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/preloader.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body >
<!-- HEADER -->
<header>
	<div class="main_container clearfix">
		<div class="logo">
			<img src="images/logo.jpg" alt="Alt">
			<p>Оренбургские платки<br>
			с доставкой по всей России</p>
		</div>
		<div class="call">
			<p>+7 (495) <span>744-78-55</span></p>
			<a href="#" class="button">Обратный звонок</a>
		</div>
	</div>
</header>
<!-- END HEADER -->
<!-- MAIN SLIDER -->
<div class="main_slider_bg">
	<div class="main_container clearfix">
		<h1>Эксклюзивные пуховые изделия ручной работы</h1>
		<div class="nal">в наличии от <span>2 700</span> руб. до <span>35 000</span> руб. с гарантией <span>1 год</span></div>
		<div class="form_bg clearfix">
			<div class="form_bg_title">Бесплатная доставка по москве в течении 3 часов</div>
			<form action="">
				<input type="text" name="name" placeholder="Ваше имя" class="main_input" required>
				<input type="text" name="phone" placeholder="Ваш телефон" class="main_input" required>
				<input type="text" name="mail" placeholder="Ваш e-mail" class="main_input" required>
				<input type="submit" value="Отправить заявку" class="send_input">
			</form>
		</div>
		<img src="images/usor.png" alt="Alt" class="uzor">
	</div>
</div>
<!-- END MAIN SLIDER -->
<!-- COLLECTION -->
	<div class="main_container clearfix">
		<div class="h1">Оригинальная коллекция изделий ручной работы из пуха оренбургской козы</div>
		<div class="collection_wrap clearfix">
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img1.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин пуховый<br> "Ласточка"</div>
					<div class="price">5800 руб<span>4100 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Ласточка"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Нежный, теплый, воздушный и яркий. В любое время года, зимой согреет от холода, 
летом в прохладный вечер прекрасно будет развиваться на вашем легком платье.</p>
						<div class="price_inside">Цена: <span>5800 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img2.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Пуховая шаль<br> "Зимняя роскошь"</div>
					<div class="price">2500 руб<span>7500 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Пуховая шаль<br> "Зимняя роскошь"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% х/б нить</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>7500 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img3.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Пуховая паутинка<br> "Кудесница"</div>
					<div class="price">8500 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Пуховая паутинка "Кудесница"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 160*160см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Нежное, ажурное, тонкое изделие порадует прекрасным рисунком и хорошим качеством работы.</p>
						<div class="price_inside">Цена: <span>8500 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img4.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин пуховый<br> "Оливия"</div>
					<div class="price">5100 руб.<span>3770 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img5.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин пуховый<br> "Воздушный"</div>
					<div class="price">5100 руб.<span>2500 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Палантин пуховый<br> "Воздушный"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк основа</p>
						<p><span>Размер:</span> 200*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Этот палантин относится к тонким изделиям, производимым из пуха оренбургской козы. Несмотря на то, что эту изящную вещицу можно целиком пропустить через кольцо, палантин очень теплый и прочный. </p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img6.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Пуховая паутинка<br> "Элегантный"</div>
					<div class="price">7500 руб.<span>5100 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Пуховая паутинка<br> "Элегантный"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк основа</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Уникальное изделие ручной работы, связанное мастерицей из Оренбурга с любовью. Достаточно теплое и уютное, мягкое наощупь согреет вас в любую погоду.</p>
						<div class="price_inside">Цена: <span>7500 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img7.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Пуховая шаль<br> "Нежность"</div>
					<div class="price">9100 руб.<span>3900 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Пуховая шаль<br> "Нежность"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк основа</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Шаль "Нежность" — совершенство традищий промысла. Та самая легендарная шаль. Удивляет своей сотой и практичностью.Классические оренбургские узоры украшают шаль.</p>
						<div class="price_inside">Цена: <span>9100 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img8.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Паутинка пуховая<br> "Фаворитка"</div>
					<div class="price">5100 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Паутинка пуховая<br> "Фаворитка"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Теплое и очень элегантное изделие, лидер продаж коллекции 2016года.Демократичная цена, высокое содержание натурального пуха и оригинальный дизайн ­ отличное сочетание наиболее важных характеристик Вашей покупки.</p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img9.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Паутинка пуховая<br> "Очарование"</div>
					<div class="price">5100 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Паутинка пуховая<br> "Очарование"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Оренбургские пуховые изделия ручной работы гипоаллергенны, выполняются без применения синтетических волокон и окрашивания. Несут в себе теплоту и красоту традиционного народного промысла! очень нежные и приятные на ощупь.</p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img10.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Паутинка пуховая<br> "Обольщение"</div>
					<div class="price">8500 руб.<span>3770 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Паутинка пуховая<br> "Обольщение"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 120*120см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Оренбургский пуховый платок несёт в себе все характерные черты, свойственные народному промыслу. В платке воплотились вкус и талант вязальщиц многих поколений, сумевших в своих творениях подняться до высот подлинного искусства.</p>
						<div class="price_inside">Цена: <span>8500 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img11.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Паутинка пуховая<br> "Снежная пушинка"</div>
					<div class="price">2500 руб</div>
					<div class="hover_info">
						<div class="inside_title">Паутинка пуховая<br> "Снежная пушинка"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 120*120см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Настоящий оренбургский палантин весит 60­80 гр. и свободно проходит в колечко.Паутинка легкая, нежная и свободная.</p>
						<div class="price_inside">Цена: <span>2500 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img12.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Перчатки пуховые<br> ручной работы</div>
					<div class="price">1500 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Перчатки пуховые<br> ручной работы</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк основа</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>1500 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img13.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин пуховый<br> "Маргаритка"</div>
					<div class="price">2400 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Палантин пуховый<br> "Маргаритка"</div>
						<hr>
						<p><span>Состав:</span> 880% козий пух, 20% х/б нить</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>2400 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img14.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин<br> "Загадка"</div>
					<div class="price">5000 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Палантин<br> "Загадка"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 170*60см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Палантины легкие и нежные (около 80 гр.), именно эти платки можно пропустить через обручальное кольцо даже самого маленького размера. Оренбургские пуховые изделия ручной работы гипоаллергенны.</p>
						<div class="price_inside">Цена: <span>5000 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img15.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Пуховая паутинка<br> "Ажурный"</div>
					<div class="price">9500 руб.<span>6500 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Пуховая паутинка<br> "Ажурный"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк основа</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Классика Оренбурга. Тончайшая шелковая основа и нежный, мягкий пух создает неотразимый образ.Представленная паутинка ­ великолепный образец настоящего оренбургского пуховязания.</p>
						<div class="price_inside">Цена: <span>9500 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img16.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Паутинка пуховая<br> "Белоснежка"</div>
					<div class="price">3200 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Паутинка пуховая<br> "Белоснежка"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 120*120см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Пуховая паутинка ручной работы белого цвета. Нежное, ажурное, тонкое изделие порадует прекрасным рисунком и хорошим качеством работы.</p>
						<div class="price_inside">Цена: <span>3200 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img17.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Пуховая шаль<br> "Легенда"</div>
					<div class="price">12000 руб.<span>8500 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Пуховая шаль<br> "Легенда"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20%х/б нить</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Оренбургский пуховый платок, изготовленный по специальному заказу. Использованный пух обладает особенными свойствами и чрезвычайно приятен наощупь..</p>
						<div class="price_inside">Цена: <span>12000 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img18.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Варежки<br> пуховые</div>
					<div class="price">1500 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Варежки<br> пуховые</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% х/б нитьа</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>качественные варежки из пуховой пряжи ручного прядения. Варежки плотные,  мягкие, теплые.</p>
						<div class="price_inside">Цена: <span>1500 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img19.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Пуховая шаль<br> "Восхищеие"</div>
					<div class="price">19000 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Пуховая шаль<br> "Восхищеие"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% х/б нить</p>
						<p><span>Размер:</span> 180*180см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Легкая, нежная на ощупь,можно укутаться в зимние морозы и ощущать то тепло и любовь мастера, который делал эту величайшую и неповторимую работу.Данная шаль­плед существует в двух экземплярах. Белый и серый цвет.</p>
						<div class="price_inside">Цена: <span>19000 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img20.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин пуховый<br> "Вечерний"</div>
					<div class="price">4100 руб<span>2900 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Палантин пуховый<br> "Вечерний"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 150*60см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Палантин ­ женская накидка на плечи. Оренбургский пуховый палантин ­ легкое теплое ажурное изделие, фактически "прямоугольная паутинка". Изделие может использоваться как накидка,шарф или головной убор.</p>
						<div class="price_inside">Цена: <span>4100 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img21.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин пуховый<br> "Жемчужина"</div>
					<div class="price">5100 руб.<span>3700 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Палантин пуховый<br> "Жемчужина"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img22.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин пуховый<br> "Золотое сияние"</div>
					<div class="price">2700 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Палантин пуховый<br> "Золотое сияние"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк основа</p>
						<p><span>Размер:</span> 200*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Этот палантин относится к тонким изделиям, производимым из пуха оренбургской козы. Несмотря на то, что эту изящную вещицу можно целиком пропустить через кольцо, палантин очень теплый и прочный.</p>
						<div class="price_inside">Цена: <span>2700 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img23.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Паутинка пуховая<br> "Сиреневая ночь"</div>
					<div class="price">7500 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Паутинка пуховая<br> "Сиреневая ночь"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк основа</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Невероятной красоты паутинка не оставит равнодушным окружающих. Всегда в центре внимания. Неповторимый образ снежной королевы. Мягкий, нежный и приятный наощупь.</p>
						<div class="price_inside">Цена: <span>7500 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img24.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин<br> "Француженка"</div>
					<div class="price">2950 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Палантин<br> "Француженка"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк</p>
						<p><span>Размер:</span> 200*80см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Нежное и деликатное изделие связано с любовью мастерицами из Оренбурга.Сочетание цветов сделает ваш образ неповторимым и волнующим. Палантин легкий и нежный, подходит под любой стиль и образ.</p>
						<div class="price_inside">Цена: <span>2950 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img25.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Паутинка пуховая<br> "Нежная сирень"</div>
					<div class="price">6100 руб.<span>4500 руб</span></div>
					<div class="hover_info">
						<div class="inside_title">Паутинка пуховая<br> "Нежная сирень"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 120*120см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Паутинка легкая и невесомая. Сочетание различных цветов придает ей особое очарование и яркий блеск. В платке воплотились вкус и талант вязальщиц многих поколений, сумевших в своих творениях подняться до высот подлинного искусства.</p>
						<div class="price_inside">Цена: <span>6100 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img26.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Платок пуховый<br> "Радужный"</div>
					<div class="price">8100 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Платок пуховый<br> "Радужный"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Яркость, стиль, образ,нежность и красота все собрано воедино в этом уникальном изделии.С любовью связанный платок придает загадочный и неповторимый образ.</p>
						<div class="price_inside">Цена: <span>8100 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img27.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин пуховый<br> "Васильки"</div>
					<div class="price">2950 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Палантин пуховый<br> "Васильки"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% х/б нить</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Нежное и деликатное изделие связано с любовью мастерицами из Оренбурга.Сочетание цветов сделает ваш образ неповторимым и волнующим. Палантин легкий и нежный, подходит под любой стиль и образ.</p>
						<div class="price_inside">Цена: <span>2950 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img28.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Пуховая паутинка<br> "Медовая"</div>
					<div class="price">7500 руб<span>5100 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Пуховая паутинка<br> "Медовая"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Уникальная пуховая паутинка ручной работы. Качественный пух, уникальная вязка. В 
таком платке вы почувтсвуете тепло, уют и мягкость изделия в зимние морозы будут только радовать вас.</p>
						<div class="price_inside">Цена: <span>7500 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img29.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин пуховый<br> "Ласточка"</div>
					<div class="price">4100 руб</div>
					<div class="hover_info">
						<div class="inside_title">Палантин пуховый<br> "Ласточка"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>4100 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img30.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Паутинка пуховая<br> "Голубушка"</div>
					<div class="price">10500 руб.<span>9000 руб.</span></div>
					<div class="hover_info">
						<div class="inside_title">Паутинка пуховая<br> "Голубушка"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Большая паутинка тонкой работы нежно голубого цвета. Великолепное вязание, традиционный орнамент и высококачественное сырье!Красивый рисунок и  сочетание голубой пряжи с  шелком  делают изделие неповторимым.</p>
						<div class="price_inside">Цена: <span>10500 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img31.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Паутинка пуховая<br> "Бабочка"</div>
					<div class="price">3900 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Паутинка пуховая<br> "Бабочка"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк основа</p>
						<p><span>Размер:</span> 120*120см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Пуховая паутинка темно­красного цвета с красивым, ажурным орнаментом.Нетрадиционный для оренбургских пуховых изделий цвет достигается путем бережного окрашивания пряжи.</p>
						<div class="price_inside">Цена: <span>3900 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img32.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин пуховый<br> "Лазурь"</div>
					<div class="price">3900 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Палантин пуховый<br> "Лазурь"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Мягкое, нежное изделие с невысокой опушиной.</p>
						<div class="price_inside">Цена: <span>3900 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img33.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Паутинка пуховая<br> "Незабудка"</div>
					<div class="price">9100 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Паутинка пуховая<br> "Незабудка"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Представленное изделие связано в лучших традициях оренбургского пуховязания.Большой размер, мягкий пух, безупречный рисунок.</p>
						<div class="price_inside">Цена: <span>9100 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img34.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин пуховый<br> "Золотистый"</div>
					<div class="price">5900 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Палантин пуховый<br> "Золотистый"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% нить х/б</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Представленное изделие связано в лучших традициях оренбургского пуховязания.</p>
						<div class="price_inside">Цена: <span>5900 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img35.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Палантин пуховый<br> "Небесный"</div>
					<div class="price">3700 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Палантин пуховый<br> "Небесный"</div>
						<hr>
						<p><span>Состав:</span> 880%козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Невероятной красоты паутинка не оставит равнодушным окружающих. Всегда в центре внимания. Неповторимый образ снежной королевы. Мягкий, нежный и приятный наощупь.</p>
						<div class="price_inside">Цена: <span>3700 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
			<div class="collection_block">
				<div class="img_block">
					<img src="images/collection_img36.jpg" alt="Alt">
					<hr>
					<div class="collection_title">Пуховая паутинка<br> "Синяя птица"</div>
					<div class="price">5100 руб.</div>
					<div class="hover_info">
						<div class="inside_title">Пуховая паутинка<br> "Синяя птица"</div>
						<hr>
						<p><span>Состав:</span> 80%козий пух, 20% шелк</p>
						<p><span>Размер:</span> 150*150см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<p>Большая пуховая паутинка ярко­синего цвета.Нежное, ажурное, тонкое изделие порадует прекрасным рисунком и хорошим качеством работы.</p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
				<a href="#" class="order">Заказать</a>
			</div>
		</div>
		<div class="clearfix"></div>
		<img src="images/uzor_grey.png" alt="Alt" class="uzor_grey">
	</div>
<!-- END COLLECTION -->
<!-- YELLOW BLOCK -->
<div class="yellow_bg">
	<div class="main_container clearfix">
		<div class="quote">"на создание пухового платка наша оренбургская мастерица затрачивает в среднем 260 часов..."</div>
	</div>
</div>
<!-- END YELLOW BLOCK -->
<!-- PRICE SLIDER -->
<div class="price_slider_bg">
	<div class="main_container clearfix">
		<div class="h1">Работаем во всех ценовых сегментах</div>
		<div class="h2">Лучшие предложения месяца</div>
		<div class="price_slider_wrap">
		<ul class="bxslider">
		  <li>
		  	<div class="slider_price_block">
				<div class="img_block">
		  		<img src="images/slider_img1.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  	<div class="slider_price_block">
		  		<div class="img_block">
		  		<img src="images/slider_img2.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  	<div class="slider_price_block">
		  		<div class="img_block">
		  		<img src="images/slider_img3.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  	<div class="slider_price_block dntablet">
		  		<div class="img_block">
		  		<img src="images/slider_img4.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  </li>
		  <li>
		  	<div class="slider_price_block">
		  		<div class="img_block">
		  		<img src="images/slider_img1.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  	<div class="slider_price_block">
		  		<div class="img_block">
		  		<img src="images/slider_img2.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  	<div class="slider_price_block">
		  		<div class="img_block">
		  		<img src="images/slider_img3.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  	<div class="slider_price_block dntablet">
		  		<div class="img_block">
		  		<img src="images/slider_img4.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  </li>
		  <li>
		  	<div class="slider_price_block">
		  		<div class="img_block">
		  		<img src="images/slider_img1.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  	<div class="slider_price_block">
		  		<div class="img_block">
		  		<img src="images/slider_img2.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  	<div class="slider_price_block">
		  		<div class="img_block">
		  		<img src="images/slider_img3.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  	<div class="slider_price_block dntablet">
		  		<div class="img_block">
		  		<img src="images/slider_img4.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  </li>
		  <li>
		  	<div class="slider_price_block">
		  		<div class="img_block">
		  		<img src="images/slider_img1.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  	<div class="slider_price_block">
		  		<div class="img_block">
		  		<img src="images/slider_img2.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  	<div class="slider_price_block">
		  		<div class="img_block">
		  		<img src="images/slider_img3.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  	<div class="slider_price_block dntablet">
		  		<div class="img_block">
		  		<img src="images/slider_img4.jpg" alt="Alt">
		  		<hr>
		  		<div class="title">Пуховая шаль<br>
				"Зимушка"</div>
		  		<div class="price2">3900 руб.</div>
		  		<div class="hover_info">
						<div class="inside_title">Палантин пуховый "Оливия"</div>
						<hr>
						<p><span>Состав:</span> 80% козий пух, 20% шелк</p>
						<p><span>Размер:</span> 180*70см</p>
						<p><span>Ручная работа - Оренбургская обл.</span></p>
						<div class="price_inside">Цена: <span>5100 руб.</span></div>
					</div>
				</div>
		  		<a href="#">Заказать</a>
		  	</div>
		  </li>
		</ul>
	</div>
	</div>
</div>
<!-- END PRICE SLIDER -->
<!-- CAUTION! -->
	<div class="main_container clearfix">
		<div class="h1">"наш пуховый платок можно сквозь
		колечко протянуть..."</div>
	<div class="note_wrap clearfix">
		<div class="note">
			<img src="images/note_img.jpg" alt="Alt">
			<p>Знаете, как отличить настоящий оренбургский платок? Он настолько мягкий и воздушный, что целиком проходит через обручальное кольцо. Все изделия, реализуемые в наших магазинах, снабжены голограммами и запечатаны в разработанные нашим дизайнером пакеты. Приобретая товары с данными защитными знаками,  Вы можете быть уверены в подлинности и высоком качестве изделий, исключив возможность покупки контрафактной продукции.</p>
			<span>Осторожно, подделка!</span>
			<p>При покупке пуховых изделий необходимо помнить, что настоящий оренбургский платок или шарф ручной работы бывают только натуральных цветов: белые, серые, коричневые. В оренбургской области вязальщицы никогда не окрашивают свои изделия в голубой, зелёный, розовый и другие</p>
			<p>цвета. Все цветные изделия, которые продаются на выставках, в салонах, интернет-магазинах под маркой ОРЕНБУРГСКИЙ ПУХОВЫЙ ПЛАТОК - это подделки, связанные на машинках в Узбекистане!</p>
			<p>Наша компания ООО "Сиберика"  выпускает цветные изделия, но на них присутствует фирменная этикетка компании и голограмма,поэтому вы всегда сможете убедиться в качестве и подлинности наших оренбургских платков. У каждого платка уникальная кайма – не повторяется и бывает самых разных форм.</p>
		</div>
	</div>
	</div>
<!-- END CAUTION! -->
<!-- YELLOW BLOCK -->
<div class="yellow_bg">
	<div class="main_container clearfix">
		<div class="quote">"Оренбургский козий пух является<br>
		самым тонким во всём мире..."</div>
	</div>
</div>
<!-- END YELLOW BLOCK -->
<!-- REVIEWS -->
	<div class="main_container clearfix">
		<div class="h1">Отзывы</div>
		<div class="video_wrap clearfix">
			<iframe width="490" height="322" src="https://www.youtube.com/embed/0vrdgDdPApQ" frameborder="0" allowfullscreen></iframe>
			<iframe width="490" height="322" src="https://www.youtube.com/embed/0vrdgDdPApQ" frameborder="0" allowfullscreen></iframe>
		</div>
		<img src="images/uzor_grey.png" alt="Alt" class="uzor_grey">
		<div class="reviews_wrap clearfix">
			<div class="reviews_block">
				<img src="images/review_img.jpg" alt="Alt">
				<div class="review_title">Ирина, Москва</div>
				<hr>
				<p>Огромное спасибо Вашему магазину.
				Это больше,чем я могла ожидать. Качество выше всяких похвал.
				Особая благодарность мастерице
				за то счастье,которое будет носить
				моя мерзлявая подруга. Спасибо
				курьеру за точное соблюдение временного отрезка. Однозначно,
				это не последний заказ! Спасибо за то,что Вы дарите радость
				</p>
			</div>
			<div class="reviews_block">
				<img src="images/review_img.jpg" alt="Alt">
				<div class="review_title">Ирина, Москва</div>
				<hr>
				<p>Огромное спасибо Вашему магазину.
				Это больше,чем я могла ожидать. Качество выше всяких похвал.
				Особая благодарность мастерице
				за то счастье,которое будет носить
				моя мерзлявая подруга. Спасибо
				курьеру за точное соблюдение временного отрезка. Однозначно,
				это не последний заказ! Спасибо за то,что Вы дарите радость
				</p>
			</div>
			<div class="reviews_block">
				<img src="images/review_img.jpg" alt="Alt">
				<div class="review_title">Ирина, Москва</div>
				<hr>
				<p>Огромное спасибо Вашему магазину.
				Это больше,чем я могла ожидать. Качество выше всяких похвал.
				Особая благодарность мастерице
				за то счастье,которое будет носить
				моя мерзлявая подруга. Спасибо
				курьеру за точное соблюдение временного отрезка. Однозначно,
				это не последний заказ! Спасибо за то,что Вы дарите радость
				</p>
			</div>
		</div>
	</div>
<!-- END REVIEWS -->
<!-- YELLOW BLOCK -->
<div class="yellow_bg">
	<div class="main_container clearfix">
		<div class="quote">"Мы тщательно соблюдаем древнюю технологию производства на всех этапах"</div>
	</div>
</div>
<!-- END YELLOW BLOCK -->
<!-- WARRANTY -->
<div class="warranty_bg">
	<div class="main_container clearfix">
		<div class="warranty_title">Гарантия и консультация по уходу</div>
		<div class="warranty_text1"><span class="first_span">УЗОРИКА</span> даёт гарантию <span class="second_span">1 год</span> на все изделия. Вы можете быть уверены в качестве
		и долговечности платка, шали или любого другого изделия, связанного 
		с любовью руками наших мастериц.</div>
		<img src="images/usor.png" alt="Alt" class="uzor">
		<div class="warranty_text2">Ухаживать за оренбургским платком - дело непростое. Но мы подготовили для вас 4 универсальных правила, следуя которым ваше пуховое изделие НАВСЕГДА останется в первозданном виде или, даже, ещё лучше и красивее, чем когда вы его покупали. Итак:</div>
		<div class="warranty_circles_wrap clearfix">
			<div class="warranty_circle">
				<img src="images/warranty_img1.png" alt="Alt">
				<p>Стирать изделие в воде
				не выше 40 градусов</p>
			</div>
			<div class="warranty_circle">
				<img src="images/warranty_img2.png" alt="Alt">
				<p>Отжимать только
				руками</p>
			</div>
			<div class="warranty_circle">
				<img src="images/warranty_img3.png" alt="Alt">
				<p>Не вывешивать на бельевую верёвку, а разложить на полотенце</p>
			</div>
			<div class="warranty_circle">
				<img src="images/warranty_img4.png" alt="Alt">
				<p>При хранении оберегать
				от моли 
				</p>
			</div>
		</div>
		<div class="clearfix"></div>
		<a href="#" class="download_button">Скачать полное руководство по уходу</a>
	</div>
</div>
<!-- END WARRANTY -->
<!-- YELLOW BLOCK -->
<div class="yellow_bg">
	<div class="main_container clearfix">
		<div class="quote">“Мы не просто вяжем платки и шали ­ каждая наша работа ­- ЭТО ШЕДЕВР”</div>
	</div>
</div>
<!-- END YELLOW BLOCK -->
<!-- ABOUT -->
	<div class="main_container clearfix">
		<div class="h1">О компании</div>
		<div class="about_text_wrap">
			<div class="about_text">Равным образом консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.</div>
			<div class="about_text">Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке модели развития. С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки соответствующий условий активизации. Разнообразный и богатый опыт новая модель организационной деятельности требуют определения и уточнения форм развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что рамки и место обучения кадров в значительной степени обуславливает создание существенных финансовых и административных условий.</div>
			<div class="about_text">Не следует, однако забывать, что консультация с широким активом влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют определения и уточнения направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности играет важную роль в формировании систем массового участия. Товарищи! рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. </div>
		</div>
		<img src="images/uzor_grey.png" alt="Alt" class="uzor_grey">
	</div>
<!-- END ABOUT -->
<!-- YELLOW BLOCK -->
<div class="yellow_bg">
	<div class="main_container clearfix">
		<div class="quote">"У каждого платка уникальная кайма<br>
		и не повторяется"</div>
	</div>
</div>
<!-- END YELLOW BLOCK -->
<!-- ACTION -->
<div class="action_bg">
	<div class="main_container clearfix">
		<div class="action_title"><span>Акция!</span> У нас дейстует накопительная система! </div>
		<div class="form_bottom_bg">
			<div class="title_form_bottom">Закажи сейчас и получи теплые апрежки в <span>ПОДАРОК!</span></div>
			<form action="">
				<input type="text" name="name" placeholder="Ваше имя" class="main_input_bottom" required>
				<input type="text" name="phone" placeholder="Ваш телефон" class="main_input_bottom" required>
				<input type="text" name="mail" placeholder="Ваш e-mail" class="main_input_bottom" required>
				<input type="submit" value="Отправить заявку" class="send_bottom">
			</form>
		</div>
		<img src="images/varezhki.png" alt="Alt" class="action_img">
	</div>
</div>
<!-- END ACTION -->
<!-- CONTACTS -->
	<div class="main_container clearfix">
		<div class="h1">Наши контакты</div>
		<div class="contacts_wrap clearfix">
			<div class="contacts_block">
				<div class="contacts_title">Адрес: </div>
				<p>Россия, Оренбургская область, Саракташский район, поселок Саракташ, ул.Ленина, 64</p>
				<p>Представительство в г. Москва: ул. Тагильская, 6с3</p>
			</div>
			<div class="contacts_block">
				<div class="contacts_title">Телефон:</div>
				<p class="phone_c">+7 (968) 795­27­00</p>
			</div>
			<div class="contacts_block">
				<div class="contacts_title">ИНН:</div>
				<p>ИП Кислякова А. В.<br>
				ИНН 402817194284<br>
				ОГРН  316402700068022</p>
			</div>
			<div class="contacts_block">
				<div class="contacts_title">E-mail: </div>
				<a href="#">fei.lashes@mail.ru</a>
			</div>
		</div>
	</div>
<!-- END CONTACTS -->
<!-- MAP -->
<div id="map"></div>
<!-- END MAP -->
<!-- FOOTER -->
<footer>
	<div class="main_container clearfix">
		<div class="logo">
			<img src="images/logo.jpg" alt="Alt">
			<p>Оренбургские платки<br>
			с доставкой по всей России</p>
		</div>
		<div class="call">
			<p>+7 (495) <span>744-78-55</span></p>
			<a href="#" class="button">Обратный звонок</a>
		</div>
	</div>
</footer>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#"></a>
         	<div class="modal_h1">Обратный звонок</div>
  			<form action="">
  				<input type="text" name="name" placeholder="Ваше имя" class="main_input3" required>
  				<input type="text" name="phone" placeholder="Ваш телефон" class="main_input3" required>
  				<input type="submit" value="Заказать звонок" class="send_modal">
  			</form>
        </div> 
<!-- END MODAL1 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script> 
function preloader(immune, background, color) { 
    $('body').prepend('<div class="preloader"><span class="loading-bar"></span><i class="radial-loader"></i></div>'); 
    if (immune == true) { 
    $('body > div.preloader').addClass('immune'); 
    } 
    if (background == 'white') { 
    $('body > div.preloader').addClass('white'); 
    } else if (background == 'black') { 
    $('body > div.preloader').addClass('black'); 
    } 
    if (color == '#ffc000') { 
    $('body > div.preloader span.loading-bar').addClass('red-colored'); 
    $('body > div.preloader i.radial-loader').addClass('red-colored'); 
    } else if (color == 'blue') { 
    $('body > div.preloader span.loading-bar').addClass('blue-colored'); 
    $('body > div.preloader i.radial-loader').addClass('blue-colored'); 
    } else if (color == 'green') { 
    $('body > div.preloader span.loading-bar').addClass('green-colored'); 
    $('body > div.preloader i.radial-loader').addClass('green-colored'); 
    } else if (color == 'yellow') { 
    $('body > div.preloader span.loading-bar').addClass('yellow-colored'); 
    $('body > div.preloader i.radial-loader').addClass('yellow-colored'); 
    } 
    $(window).load(function () { 
    setTimeout(function () { 
    $('.preloader').fadeOut(1000); 
    }, 1000); 
    setTimeout(function () { 
    $('.preloader').remove(); 
    }, 2000); 
    }); 
} 
; 
preloader(true, 'black', 'red'); 
</script>
<script type="text/javascript">
var myMap;

ymaps.ready(init);

function init () {
    myMap = new ymaps.Map('map', {
        // Санкт-Петербург
        center: [55.814603, 37.756317],
        zoom: 15,
         controls: []
    }, {
        searchControlProvider: 'yandex#search'
    });

    myMap.behaviors
        // Отключаем часть включенных по умолчанию поведений:
        //  - drag - перемещение карты при нажатой левой кнопки мыши;
        //  - magnifier.rightButton - увеличение области, выделенной правой кнопкой мыши.
        .disable(['drag', 'rightMouseButtonMagnifier', 'scrollZoom'])
        var position = myMap.getCenter();

  
  myMap.setCenter([ position[0], position[1]+0.002 ]);
        var myPlacemark = new ymaps.Placemark([ position[0], position[1] ], {
  
	balloonContentBody: [
	'<address>',
	'<strong>г. Москва, улица 11-ая парковая, д.49, СК " Измайлово", 4 этаж, дверь "Спортивный зал"</strong>',
	'</address>'
	].join('  ')
	}, {
	preset: 'twirl#Icon'
	});
myMap.geoObjects.add(myPlacemark);
}
</script>
</body>
</html>