<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>LN BUILDING</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div class="nav_fixed">
		<div class="main_container clearfix">
			<ul>
				<li><a href="#" class="scrollto1">О компании</a></li>
				<li><a href="#" class="scrollto2">Услуги</a></li>
				<li><a href="#" class="scrollto3">Проекты</a></li>
				<li><a href="#" class="scrollto4">Контакты</a></li>
			</ul>
			<div class="toggle_menu">
	   			<a href="#menu" id="toggle"><span></span></a>
			</div>
		</div>
	</div>
	<header>
		<div class="main_container clearfix">
			<img src="images/logo.jpg" alt="Alt" class="logo">
			<div class="phone_top">
				<p>+7 (495) 374-66-40</p>
				<a href="#" class="call_now">ЗАКАЗАТЬ ЗВОНОК</a>
			</div>
		</div>
	</header>
<!-- END HEADER -->
<!-- MAIN SLIDER -->
	<div class="main_slider_wrapper">
		<ul class="bxslider">
		  <li class="first_slide">
		  	<div class="main_container clearfix">
				<div class="slider_wrap">
			  		<div class="title">Загородный дом в европейском стиле</div>
			  		<span>за 60 дней</span>
			  		<ul>
			  			<li>Без предоплаты</li>
			  			<li>По индивидуальному проекту</li>
			  			<li>Кредит от банков-партнёров на выгодных условиях</li>
			  		</ul>
				</div>
		  	</div>
		  </li>
		  <li class="first_slide">
		  	<div class="main_container clearfix">
		  		<div class="slider_wrap">
			  		<div class="title">Загородный дом в европейском стиле</div>
			  		<span>за 60 дней</span>
			  		<ul>
			  			<li>Без предоплаты</li>
			  			<li>По индивидуальному проекту</li>
			  			<li>Кредит от банков-партнёров на выгодных условиях</li>
			  		</ul>
				</div>
		  	</div>
		  </li>
		  <li class="first_slide">
		  	<div class="main_container clearfix">
		  		<div class="slider_wrap">
			  		<div class="title">Загородный дом в европейском стиле</div>
			  		<span>за 60 дней</span>
			  		<ul>
			  			<li>Без предоплаты</li>
			  			<li>По индивидуальному проекту</li>
			  			<li>Кредит от банков-партнёров на выгодных условиях</li>
			  		</ul>
				</div>
		  	</div>
		  </li>
		  <li class="first_slide">
		  	<div class="main_container clearfix">
		  		<div class="slider_wrap">
			  		<div class="title">Загородный дом в европейском стиле</div>
			  		<span>за 60 дней</span>
			  		<ul>
			  			<li>Без предоплаты</li>
			  			<li>По индивидуальному проекту</li>
			  			<li>Кредит от банков-партнёров на выгодных условиях</li>
			  		</ul>
				</div>
		  	</div>
		  </li>
		</ul>
	</div>
<!-- END MAIN SLIDER -->
<!-- ABOUT -->
	<div class="main_container clearfix" id="scrollto1">
		<div class="h1">О компании</div>
		<p class="about_text">Строительная компания  начала свою деятельность в 2009 году. На ранних этапах своего развития основным направлением компании являлось строиельство частных жилых домов. Со временем сфера деятельности расширилась до многоквартирных домов и офисных помещений.<br>
		На сегодняшний день наща компания ведет активную работу по строительству и ремонту объектов недвижимости на территории Украины. Высокое качество и более 20 реализованных проектов.</p>
		<div class="about_wrap clearfix">
			<div class="about_block">
				<img src="images/about_img1.png" alt="Alt">
				<p>Боле <span>520</span> реализованых проектов</p>
			</div>
			<div class="about_block">
				<img src="images/about_img2.png" alt="Alt">
				<p>Строительство частных домов - <span>120</span> проекта</p>
			</div>
			<div class="about_block">
				<img src="images/about_img3.png" alt="Alt">
				<p>Перепланировка - <span>300</span> объктов</p>
			</div>
			<div class="about_block">
				<img src="images/about_img4.png" alt="Alt">
				<p>Доп.помещений - около <span>100</span> проектов</p>
			</div>
		</div>
	</div>
<!-- END ABOUT -->
<!-- SERVICE -->
	<div class="services_bg" id="scrollto2">
		<div class="main_container clearfix">
			<div class="h1">Услуги</div>
			<div class="tabs_wrap">
				<div class="korpus">
				  <input type="radio" name="odin" checked="checked" id="vkl1"/>
				  <label for="vkl1">Строительство домов</label>
				  <input type="radio" name="odin" id="vkl2"/>
				  <label for="vkl2">Перепланировка</label>
				  <input type="radio" name="odin" id="vkl3"/>
				  <label for="vkl3">Дополнительные помещения</label>
				  <div class="clearfix tab_container">
				  	<img src="images/img_tab.jpg" alt="Alt">
				  	<div class="tab_text">
				  		<p>Строительство дома – важная и очень ответственная задача для любого хозяина! Порой она требует годы подготовки, как психологической, так и финансовой. Сегодня, в эру современных технологий и максимальной осведомленности о материалах и технологиях, строительство частного дома или коттеджа является достаточно прогнозируемым и увлекательным мероприятием. Что может быть приятнее, чем приезжать на свой участок и наблюдать, как с каждым днем на нем вырастает «собственная крепость»!</p>
				  		<a href="#" class="call_p">ЗАКАЗАТЬ ПРОЕКТ</a>
				  	</div>
				  </div>
				 <div class="clearfix tab_container">
				  	<img src="images/img_tab.jpg" alt="Alt">
				  	<div class="tab_text">
				  		<p>Строительство дома – важная и очень ответственная задача для любого хозяина! Порой она требует годы подготовки, как психологической, так и финансовой. Сегодня, в эру современных технологий и максимальной осведомленности о материалах и технологиях, строительство частного дома или коттеджа является достаточно прогнозируемым и увлекательным мероприятием. Что может быть приятнее, чем приезжать на свой участок и наблюдать, как с каждым днем на нем вырастает «собственная крепость»!</p>
				  		<a href="#" class="call_p">ЗАКАЗАТЬ ПРОЕКТ</a>
				  	</div>
				  </div>
				  <div class="clearfix tab_container">
				  	<img src="images/img_tab.jpg" alt="Alt">
				  	<div class="tab_text">
				  		<p>Строительство дома – важная и очень ответственная задача для любого хозяина! Порой она требует годы подготовки, как психологической, так и финансовой. Сегодня, в эру современных технологий и максимальной осведомленности о материалах и технологиях, строительство частного дома или коттеджа является достаточно прогнозируемым и увлекательным мероприятием. Что может быть приятнее, чем приезжать на свой участок и наблюдать, как с каждым днем на нем вырастает «собственная крепость»!</p>
				  		<a href="#" class="call_p">ЗАКАЗАТЬ ПРОЕКТ</a>
				  	</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
<!-- END SERVICE -->
<!-- PORTFOLIO -->
	<div class="main_container clearfix" id="scrollto3">
		<div class="h1">Выполненные проекты</div>
	</div>
	<div class="portfolio_wrap clearfix">
		<div class="portfolio_block">
			<img src="images/gallery_img1.jpg" alt="Alt">
			<div class="hover_info">
				<div class="inside_hover">
					<div class="title">Проект загородного дама</div>
					<p>Это воплощение свободы и стиля, это тандем современных технологий и дизайнерской мысли.</p>
				</div>
			</div>
		</div>
		<div class="portfolio_block">
			<img src="images/gallery_img2.jpg" alt="Alt">
			<div class="hover_info">
				<div class="inside_hover">
					<div class="title">Проект загородного дама</div>
					<p>Это воплощение свободы и стиля, это тандем современных технологий и дизайнерской мысли.</p>
				</div>
			</div>
		</div>	
		<div class="portfolio_block">
			<img src="images/gallery_img3.jpg" alt="Alt">
			<div class="hover_info">
				<div class="inside_hover">
					<div class="title">Проект загородного дама</div>
					<p>Это воплощение свободы и стиля, это тандем современных технологий и дизайнерской мысли.</p>
				</div>
			</div>
		</div>	
		<div class="portfolio_block">
			<img src="images/gallery_img1.jpg" alt="Alt">
			<div class="hover_info">
				<div class="inside_hover">
					<div class="title">Проект загородного дама</div>
					<p>Это воплощение свободы и стиля, это тандем современных технологий и дизайнерской мысли.</p>
				</div>
			</div>
		</div>	
		<div class="portfolio_block">
			<img src="images/gallery_img2.jpg" alt="Alt">
			<div class="hover_info">
				<div class="inside_hover">
					<div class="title">Проект загородного дама</div>
					<p>Это воплощение свободы и стиля, это тандем современных технологий и дизайнерской мысли.</p>
				</div>
			</div>
		</div>	
		<div class="portfolio_block">
			<img src="images/gallery_img4.jpg" alt="Alt">
			<div class="hover_info">
				<div class="inside_hover">
					<div class="title">Проект загородного дама</div>
					<p>Это воплощение свободы и стиля, это тандем современных технологий и дизайнерской мысли.</p>
				</div>
			</div>
		</div>	
		<div class="portfolio_block">
			<img src="images/gallery_img5.jpg" alt="Alt">
			<div class="hover_info">
				<div class="inside_hover">
					<div class="title">Проект загородного дама</div>
					<p>Это воплощение свободы и стиля, это тандем современных технологий и дизайнерской мысли.</p>
				</div>
			</div>
		</div>		
		<div class="portfolio_block">
			<img src="images/gallery_img6.jpg" alt="Alt">
			<div class="hover_info">
				<div class="inside_hover">
					<div class="title">Проект загородного дама</div>
					<p>Это воплощение свободы и стиля, это тандем современных технологий и дизайнерской мысли.</p>
				</div>
			</div>
		</div>	
		<div class="portfolio_block">
			<img src="images/gallery_img4.jpg" alt="Alt">
			<div class="hover_info">
				<div class="inside_hover">
					<div class="title">Проект загородного дама</div>
					<p>Это воплощение свободы и стиля, это тандем современных технологий и дизайнерской мысли.</p>
				</div>
			</div>
		</div>	
		<div class="portfolio_block">
			<img src="images/gallery_img5.jpg" alt="Alt">
			<div class="hover_info">
				<div class="inside_hover">
					<div class="title">Проект загородного дама</div>
					<p>Это воплощение свободы и стиля, это тандем современных технологий и дизайнерской мысли.</p>
				</div>
			</div>
		</div>	
	</div>
<!-- END PORTFOLIO -->
<!-- CONTACTS -->
	<div class="main_container clearfix" id="scrollto4">
		<div class="h1">Наши контакты</div>
		<div class="contacts_wrap">
			<p>3-я Мытищинская ул., 14,<br> Москва, Россия,</p>
			<p>+7 (495) 374-66-40</p>
			<p><a href="mailto:mail@gmail.com">mail@gmail.com</a></p>
		</div>
	</div>
<!-- END CONTACTS -->
<!-- MAP -->
	<div id="map"></div>
<!-- END MAP -->
<!-- FOOTER -->
	<footer class="clearfix">
		<div class="main_container clearfix">
		<div class="copyright">2016©LN BUILDING. Все права зашищены</div>	
		<div class="phone_top">
				<a href="#">ЗАКАЗАТЬ ЗВОНОК</a>
			</div>
		</div>
	</footer>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
	<div class="title">Заказать звонок</div>
	<form id="form1">
		<input type="text" name="name" placeholder="Имя" class="modal_input" required>
		<input type="text" name="phone" placeholder="Телефон" class="modal_input" required>
		<input type="submit" value="ОБРАТНЫЙ ЗВОНОК" class="modal_submit">
	</form>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL1 -->
<div class="overlay" id="overlay2" style="display:none;"></div> 
    <div class="nonebox" id="nonebox2"> 
     <a class="box-close one" id="box-close" href="#"></a>
	<div class="title">заказать проект</div>
	<form id="form2">
		<input type="text" name="name" placeholder="Имя" class="modal_input" required>
		<input type="text" name="phone" placeholder="Телефон" class="modal_input" required>
		<input type="submit" value="ОБРАТНЫЙ ЗВОНОК" class="modal_submit">
	</form>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL3 -->
<div class="overlay" id="overlay5" style="display:none;"></div> 
    <div class="nonebox" id="nonebox5"> 
     <a class="box-close one" id="box-close" href="#"></a>
	<center><p class="success"><span>Спасибо за заявку!</span><br>
    Наши менеджеры свяжуться<br>
 с вами ближайшее время.<br>
    <a href="index.html">Спасибо</a></p></center>
    </div> 
<!-- END MODAL3 -->
<div id="menu">
		  <ul>
					<li><a href="#" class="scrollto1">О компании</a></li>
				<li><a href="#" class="scrollto2">Услуги</a></li>
				<li><a href="#" class="scrollto3">Проекты</a></li>
				<li><a href="#" class="scrollto4">Контакты</a></li>
				</ul>
		  <div class="close">×</div>
	</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/ajax_form.js"></script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1I4L4nTxXMx2_h0yllx_o2DKfkd_z2Xc&callback=initMap">
    </script>
<script src="js/script.js"></script>
<script type="text/javascript">

function initMap() {
  var myLatLng = {lat: 55.803502, lng: 37.64607};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 16,
    center: myLatLng,
    scrollwheel: false
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
}
    </script>
 </body>
</html>