<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>ON FARMS</title>
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/fancySelect.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
	<div class="top_menu">
		<div class="main_container">
			<div class="toggle_menu">
		    <a href="#menu" id="toggle"><span></span></a>	
			</div>
			<div class="select-wrapper">
				<select name="city" id="city">
					<option value="11">Санкт-Петербург</option>
					<option value="22">Санкт-Петербург</option>
					<option value="33">Санкт-Петербург</option>
					<option value="44">Санкт-Петербург</option>
					<option value="55">Санкт-Петербург</option>
					<option value="66">Санкт-Петербург</option>
				</select>
			</div>
			<ul>
				<li><a href="#" class="link22">О проекте</a></li>
				<li><a href="#" class="link33">Покупателям</a></li>
				<li><a href="#" class="link44">Представительства</a></li>
				<li><a href="#" class="link11">Фермерам</a></li>
				<li><a href="#" class="link55">Новости</a></li>
				<li><a href="#" class="link66">Контакты</a></li>
			</ul>
		</div>
	</div>
	<div id="main_menu">
	<ul>
		<li>
			<div class="login">
				<a href="#">Войти</a>
				<a href="#">Регистрация</a>
			</div>
		</li>
		<li>
			<input type="search" class="search_input" onblur='if(this.value=="") this.value="Поиск по сайту"'  onfocus='if(this.value=="Поиск по сайту") this.value=""' value="Поиск по сайту">
		</li>
		<li class="link1 list_items"><i></i><a href="#">Продукты</a>
				</li>
				<li class="link2 list_items"><i></i><a href="#">
					
					Животные<br class="br_onp">  для разведения</a>
				</li>
				<li class="link3 list_items"><i></i><a href="#">
					
					Растения</a>
				</li>
				<li class="link4 list_items"><i></i><a href="#">
					
					Техника</a>
				</li>
				<li class="link5 active list_items"><i></i><a href="#">
					
					Стать<br class="br_onp"> фермером</a>
				</li>
	</ul>
	</div>
	<header>
		<div class="main_container clearfix">
			<a href="index.html" class="logo_link"><img src="images/logo.png" alt="Alt" class="logo"></a>
			<input type="search" class="search_input" onblur='if(this.value=="") this.value="Поиск по сайту"'  onfocus='if(this.value=="Поиск по сайту") this.value=""' value="Поиск по сайту">
			<div class="basket_wrapper clearfix">
				<div class="login">
					<a href="#">Войти</a>
					<a href="#">Регистрация</a>
				</div>
					<div class="basket_bg">
						Корзина пуста
					</div>
			</div>
		</div>
	</header>
	<div class="main_menu">
		<div class="main_container clearfix">
			<ul id="ddmenu">
				<li class="link1"><i></i><a href="#">
					
					Продукты</a>
				<!-- <div class="block">
					<ul>
			            <li><a href="#">Миссия</a></li>
			            <li><a href="#">Команда</a></li>
			            <li><a href="#">История</a></li>
	          		</ul>
				</div> -->
				</li>
				<li class="link2"><i></i><a href="#">
					
					Животные<br class="br_onp">  для разведения</a>
				</li>
				<li class="link3"><i></i><a href="#">
					
					Растения</a>
				</li>
				<li class="link4"><i></i><a href="#">
					
					Техника</a>
				</li>
				<li class="link5 g_active"><i></i><a href="#">
					
					Стать<br class="br_onp"> фермером</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="com_menu1" class="dop_menu">
		<div class="block_inside">
			<div class="main_container clearfix">
				<div class="title">Продукты</div>
				<a href="#" class="hide_dop">свернуть</a>
				<div class="clearfix"></div>
				<hr>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="com_menu2" class="dop_menu">
		<div class="block_inside">
			<div class="main_container clearfix">
				<div class="title">Животные для разведения</div>
				<a href="#" class="hide_dop">свернуть</a>
				<div class="clearfix"></div>
				<hr>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="com_menu3" class="dop_menu">
		<div class="block_inside">
			<div class="main_container clearfix">
				<div class="title">Растения</div>
				<a href="#" class="hide_dop">свернуть</a>
				<div class="clearfix"></div>
				<hr>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="com_menu4" class="dop_menu">
		<div class="block_inside">
			<div class="main_container clearfix">
				<div class="title">Техника</div>
				<a href="#" class="hide_dop">свернуть</a>
				<div class="clearfix"></div>
				<hr>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
				<ul>
					<li><a href="#">Для Здоровья</a></li>
					<li><a href="#">Мясо</a></li>
					<li><a href="#">Продукты из птицы</a></li>
					<li><a href="#">Овощи</a></li>
					<li><a href="#">Зелень</a></li>
					<li><a href="#">Фрукты</a></li>
					<li><a href="#">Ягоды</a></li>
					<li><a href="#">Молочная продукция</a></li>
				</ul>
			</div>
		</div>
	</div>	
<!-- END HEADER -->
<!-- MAIN IMAGE -->
	<div class="main_img_bg meat_bg">
		<div class="main_container clearfix">
			<div class="title_slider_bg">
				<div class="title_slider">Мясные продукты</div>
			</div>
		</div>
	</div>
<!-- END MAIN IMAGE -->
<!-- CONTENT -->
	<div class="main_container clearfix catalog_wrapper">
		<ul class="breadcrumbs">
				<li><a href="#">Главная</a></li>
				<li><a href="#">Продукты</a></li>
				<li><a href="#">Мясо</a></li>
				<li>Индейка белая широкогрудая</li>
		</ul>
		<div class="clearfix"></div>
		<div class="left_menu_bg">
			<ul>
		        <li class="sub">
		            <a href="#" class="active subt">Для Здоровья</a>
		            <ul style="height: 416px;">
		               <li>
		               	<a href="#">
		               	Мясо
		               		<ul>
		               			<li><a href="#"> - Бекон</a></li>
		               			<li><a href="#"> - Вырезка</a></li>
		               			<li><a href="#"> - Голень</a></li>
		               			<li><a href="#"> - Грудинка</a></li>
		               			<li><a href="#"> - Гуляш</a></li>
		               			<li><a href="#"> - Карбонад</a></li>
		               			<li><a href="#"> - Корейка</a></li>
		               			<li><a href="#"> - Кости</a></li>
		               		</ul>
		               	</a>
		               </li>
		            </ul>
		        </li>
		        <li class="sub">
		            <a href="#" class="subt">Продукты из птицы</a>
		        </li>
		        <li class="sub">
		            <a href="#" class="subt">Овощи</a>
		        </li>
		        <li class="sub">
		            <a href="#" class="subt">Зелень</a>
		        </li>
		        <li class="sub">
		            <a href="#" class="subt">Фрукты</a>
		        </li>
		         <li class="sub">
		            <a href="#" class="subt">Ягоды</a>
		        </li>
		        <li class="sub">
		            <a href="#" class="subt">Молочная продукция</a>
		        </li>
		        <li class="sub">
		            <a href="#" class="subt">Грибы</a>
		        </li>
		        <li class="sub">
		            <a href="#" class="subt">Напитки</a>
		        </li>
		        <li class="sub">
		            <a href="#" class="subt">Сладости</a>
		        </li>
		        <li class="sub">
		            <a href="#" class="subt">Рыба</a>
		        </li>
		        <li class="sub">
		            <a href="#" class="subt">Морепродукты</a>
		        </li>
		        <li class="sub">
		            <a href="#" class="subt">Бакалея</a>
		        </li>
		         <li class="sub">
		            <a href="#" class="subt">Хлебобулочные изделия</a>
		        </li>
		    </ul>
		</div>
	<div class="catalog_content">
			<h1 class="cart_title">Индейка белая широкогрудая</h1>
		<div class="cart_wrapper clearfix">
			<div class="cart_slider">
				<ul class="bxslider3">
					<li>
						<img src="images/cart_slider_img.jpg" alt="Alt">
					</li>
					<li>
						<img src="images/cart_slider_img.jpg" alt="Alt">
					</li>
					<li>
						<img src="images/cart_slider_img.jpg" alt="Alt">
					</li>
				</ul>
				<div class="bx-pager clearfix">
					<a href="" data-slide-index="0"><img src="images/cart_slider_img.jpg" alt="Alt"></a>
					<a href="" data-slide-index="1"><img src="images/cart_slider_img.jpg" alt="Alt"></a>
					<a href="" data-slide-index="2"><img src="images/cart_slider_img.jpg" alt="Alt"></a>
				</div>
			</div>
			<div class="slider_in">
				<div class="checks">
					<p>Есть в наличии</p>
					<p>Фермер: Иван Иванов</p>
					<p>Доставка: <a href="#">Новосибирск</a></p>
				</div>
				<div class="catalog_price_item">Цена продукта: <span class="price_span">67 руб ....... 156 руб.</span> за 1кг</div>
				<a href="#" class="write_link open_basket">Купить</a>
			</div>
			<div class="clearfix"></div>
			<div class="divider_about c_divider"></div>
			<div class="korpus">
			  <input type="radio" name="odin" checked="checked" id="vkl11"/>
			  <label for="vkl11">Описание</label>
			  <input type="radio" name="odin" id="vkl22"/>
			  <label for="vkl22">Характеристики</label>
			  <input type="radio" name="odin" id="vkl33"/>
			  <label for="vkl33">Свойства</label>
			  <div>
				Мы не покупаем молодых индюшат: птица проходит полный цикл развития именно в условиях экологической фермы. Специалисты хозяйства «Благословение» заботятся не о количестве особей молодняка, а о здоровье появившихся на свет птенцов. Это позволяет сохранить наиболее сильных и здоровых индюшат, которые без труда повзрослеют, не страдая от различных заболеваний. При выращивании птицы на ферме не используются лекарственные средства (в том числе антибактериальные), это обстоятельство позволяет получать натуральное и особенно ценное в питательном смысле мясо индейки.
			  </div>
			  <div>
				Характеристики
			  </div>
			  <div>
				Свойства
			  </div>
			</div>
			<div class="checkbox_block">
				<div class="title">Варианты фасовки:</div>
				<div class="checkbox_wrap">
					<input type="radio" name="mycheck" value="1" id="yes">
					<label for="yes" id="yes"></label>
					<p>1 литр</p>
					<input type="radio" name="mycheck" value="2" id="no" checked/>
					<label for="no"></label>
					<p>1,5 литра</p>
					<input type="radio" name="mycheck" value="3" id="no1" checked/>
					<label for="no1"></label>
					<p>2 литра</p>
				</div>
			</div>
			<div class="divider_about c_divider"></div>
			<h2 class="map_title l_t">Фермеры</h2> 	
			<select class="basic">
			  <option value="">Сортировать по:</option>
			  <option>рейтингу</option>
			  <option>отзывам</option>
			  <option>товарам</option>
			  <option>цена</option>
			</select>
			<div class="clearfix"></div>
			<table class="main_table">
				<tr>
					<th>Фото<span>/Имя</span></th>
					<th>Имя фермера</th>
					<th>Доставка</th>
					<th>Кол-во/Вес</th>
					<th>Цена</th>
				</tr>
				<tr>
					<td>
						<div class="foto_wrap">
						<img src="images/fermer_img.jpg" alt="Alt" class="foto">
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>		
					</div>
					</td>
					<td>
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>
					</td>
					<td>
						<div class="delivery">
						<span class="d_span">по договоренности</span><span class="m_span">по договору</span>
					</div>
					</td>
					<td>
						<div class="number">
							<div class="wr">
						    <span class="minus">-</span>
						    <input type="text" value="1" size="5" class="input_plus" />
						    <span class="plus">+</span>
							</div>
						</div>
					</td>
					<td>
						<div class="price_fermer_wrap">
						<p>67 руб.</p>
						<a href="#">Купить</a>
					</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="foto_wrap">
						<img src="images/fermer_img.jpg" alt="Alt" class="foto">
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>		
					</div>
					</td>
					<td>
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>
					</td>
					<td>
						<div class="delivery">
						<span class="d_span">по договоренности</span><span class="m_span">по договору</span>
					</div>
					</td>
					<td>
						<div class="number">
							<div class="wr">
						    <span class="minus">-</span>
						    <input type="text" value="1" size="5" class="input_plus" />
						    <span class="plus">+</span>
							</div>
						</div>
					</td>
					<td>
						<div class="price_fermer_wrap">
						<p>67 руб.</p>
						<a href="#">Купить</a>
					</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="foto_wrap">
						<img src="images/fermer_img.jpg" alt="Alt" class="foto">
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>		
					</div>
					</td>
					<td>
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>
					</td>
					<td>
						<div class="delivery">
						<span class="d_span">по договоренности</span><span class="m_span">по договору</span>
					</div>
					</td>
					<td>
						<div class="number">
							<div class="wr">
						    <span class="minus">-</span>
						    <input type="text" value="1" size="5" class="input_plus" />
						    <span class="plus">+</span>
							</div>
						</div>
					</td>
					<td>
						<div class="price_fermer_wrap">
						<p>67 руб.</p>
						<a href="#">Купить</a>
					</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="foto_wrap">
						<img src="images/fermer_img.jpg" alt="Alt" class="foto">
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>		
					</div>
					</td>
					<td>
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>
					</td>
					<td>
						<div class="delivery">
						<span class="d_span">по договоренности</span><span class="m_span">по договору</span>
					</div>
					</td>
					<td>
						<div class="number">
							<div class="wr">
						    <span class="minus">-</span>
						    <input type="text" value="1" size="5" class="input_plus" />
						    <span class="plus">+</span>
							</div>
						</div>
					</td>
					<td>
						<div class="price_fermer_wrap">
						<p>67 руб.</p>
						<a href="#">Купить</a>
					</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="foto_wrap">
						<img src="images/fermer_img.jpg" alt="Alt" class="foto">
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>		
					</div>
					</td>
					<td>
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>
					</td>
					<td>
						<div class="delivery">
						<span class="d_span">по договоренности</span><span class="m_span">по договору</span>
					</div>
					</td>
					<td>
						<div class="number">
							<div class="wr">
						    <span class="minus">-</span>
						    <input type="text" value="1" size="5" class="input_plus" />
						    <span class="plus">+</span>
							</div>
						</div>
					</td>
					<td>
						<div class="price_fermer_wrap">
						<p>67 руб.</p>
						<a href="#">Купить</a>
					</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="foto_wrap">
						<img src="images/fermer_img.jpg" alt="Alt" class="foto">
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>		
					</div>
					</td>
					<td>
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>
					</td>
					<td>
						<div class="delivery">
						<span class="d_span">по договоренности</span><span class="m_span">по договору</span>
					</div>
					</td>
					<td>
						<div class="number">
							<div class="wr">
						    <span class="minus">-</span>
						    <input type="text" value="1" size="5" class="input_plus" />
						    <span class="plus">+</span>
							</div>
						</div>
					</td>
					<td>
						<div class="price_fermer_wrap">
						<p>67 руб.</p>
						<a href="#">Купить</a>
					</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="foto_wrap">
						<img src="images/fermer_img.jpg" alt="Alt" class="foto">
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>		
					</div>
					</td>
					<td>
						<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>
					</td>
					<td>
						<div class="delivery">
						<span class="d_span">по договоренности</span><span class="m_span">по договору</span>
					</div>
					</td>
					<td>
						<div class="number">
							<div class="wr">
						    <span class="minus">-</span>
						    <input type="text" value="1" size="5" class="input_plus" />
						    <span class="plus">+</span>
							</div>
						</div>
					</td>
					<td>
						<div class="price_fermer_wrap">
						<p>67 руб.</p>
						<a href="#">Купить</a>
					</div>
					</td>
				</tr>
			</table>
			<div class="mobile_cart_fermer_wrapper clearfix">
				<div class="m_photo">
					<div class="foto_wrap">
							<img src="images/fermer_img.jpg" alt="Alt" class="foto">
					</div>
					<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>
				</div>
				<div class="delivery">
					<span class="d_span">Доставка : по договоренности</span><span class="m_span">по договору</span>
				</div>
					<div class="number">
					<div class="d_span">Кол-во/Вес</div>
						<div class="wr">
							<span class="minus">-</span>
							<input type="text" value="1" size="5" class="input_plus" />
							<span class="plus">+</span>
						</div>
					</div>
					<div class="price_fermer_wrap">
						<p>67 руб.</p>
						<a href="#">Купить</a>
					</div>
			</div>
			<div class="mobile_cart_fermer_wrapper clearfix">
				<div class="m_photo">
					<div class="foto_wrap">
							<img src="images/fermer_img.jpg" alt="Alt" class="foto">
					</div>
					<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>
				</div>
				<div class="delivery">
					<span class="d_span">Доставка : по договоренности</span><span class="m_span">по договору</span>
				</div>
					<div class="number">
					<div class="d_span">Кол-во/Вес</div>
						<div class="wr">
							<span class="minus">-</span>
							<input type="text" value="1" size="5" class="input_plus" />
							<span class="plus">+</span>
						</div>
					</div>
					<div class="price_fermer_wrap">
						<p>67 руб.</p>
						<a href="#">Купить</a>
					</div>
			</div>
			<div class="mobile_cart_fermer_wrapper clearfix">
				<div class="m_photo">
					<div class="foto_wrap">
							<img src="images/fermer_img.jpg" alt="Alt" class="foto">
					</div>
					<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>
				</div>
				<div class="delivery">
					<span class="d_span">Доставка : по договоренности</span><span class="m_span">по договору</span>
				</div>
					<div class="number">
					<div class="d_span">Кол-во/Вес</div>
						<div class="wr">
							<span class="minus">-</span>
							<input type="text" value="1" size="5" class="input_plus" />
							<span class="plus">+</span>
						</div>
					</div>
					<div class="price_fermer_wrap">
						<p>67 руб.</p>
						<a href="#">Купить</a>
					</div>
			</div>
			<div class="mobile_cart_fermer_wrapper clearfix">
				<div class="m_photo">
					<div class="foto_wrap">
							<img src="images/fermer_img.jpg" alt="Alt" class="foto">
					</div>
					<div class="fio_block">
						<div class="title">Иван Иванов</div>
							<ul class="stars">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						<p>Отзывы: <span>170 шт.</span></p>
						<p>Товаров: <span>31 шт.</span></p>
					</div>
				</div>
				<div class="delivery">
					<span class="d_span">Доставка : по договоренности</span><span class="m_span">по договору</span>
				</div>
					<div class="number">
					<div class="d_span">Кол-во/Вес</div>
						<div class="wr">
							<span class="minus">-</span>
							<input type="text" value="1" size="5" class="input_plus" />
							<span class="plus">+</span>
						</div>
					</div>
					<div class="price_fermer_wrap">
						<p>67 руб.</p>
						<a href="#">Купить</a>
					</div>
			</div>

			<a href="#" class="more_news more_products more_fermers">показать еще</a>	
		</div>
		<h2 class="map_title mg_t">Местоположение на карте</h2>
		<div id="map">
		</div>
		<div class="map_title">С этим товаром часто покупают</div>
		<div class="products_wrapper clearfix cart_pr">
			<div class="products_block">
				<div class="products_img clearfix">
					<img src="images/product_img1.png" alt="Alt">
				</div>
				<hr>
				<div class="title">Гусь</div>
				<div class="price_wrap">
					<div class="price">400 руб. <span>за 1кг</span></div>
					<a href="#" class="buy open_basket">В корзину</a>
				</div>
			</div>
			<div class="products_block">
				<div class="products_img">
					<img src="images/product_img2.png" alt="Alt">
				</div>
				<hr>
				<div class="title">Живица натуральная кедровая 50 гр.</div>
				<div class="price_wrap">
					<div class="price">210 руб. <span>за 50г</span></div>
					<a href="#" class="buy open_basket">В корзину</a>
				</div>
			</div>
			<div class="products_block hide1">
				<div class="products_img">
					<img src="images/product_img3.png" alt="Alt">
				</div>
				<hr>
				<div class="title">Яблоки сушеные (500г)</div>
				<div class="price_wrap">
					<div class="price">225 руб. <span>за 1уп.</span></div>
					<a href="#" class="buy open_basket">В корзину</a>
				</div>
			</div>
			<div class="hidden_block"></div>
		</div> 
	</div>
	</div>
<!-- END CONTENT -->
<!-- FOOTER -->
	<div class="footer_bg" id="link6">
		<div class="main_container clearfix">
			<a href="index.html"><img src="images/logo_bottom.png" alt="Alt" class="logo_bottom"></a>
			<div class="b_list">
			<ul>
				<li><a href="#">Продукты</a></li>
				<li><a href="#">Животные</a></li>
				<li><a href="#">Растения</a></li>
				<li><a href="#">Техника</a></li>
				<li><a href="#">Фермерам</a></li>
			</ul>
			<ul>
				<li><a href="#">О проекте</a></li>
				<li><a href="#">Покупателям</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			</div>
			<div class="phone_bottom">
				<div class="footer_info">
					<p>8 (800) 775 39 36</p>
					<p><a href="mailto:info@buyonfarm.ru">info@buyonfarm.ru</a></p>
					<p>г.Санкт-Петербург, ул. Островитянова д. 4</p>
				</div>
				<div class="social_wrap clearfix">
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
				</div>
			</div>
			<div class="clearfix"></div>
			<hr>
			<div class="copyright">© Москва, 2015. OnFarms.ru - крупнейший портал фермеров всего мира</div>
		</div>
	</div>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="title">Товары в корзине</div>
		<div class="modal_basket_wrap clearfix">
			<div class="modal_basket_block clearfix">
				<div class="basket_img">
					<img src="images/item.jpg" alt="Alt">
				</div>
				<div class="basket_info">
					<div class="title_basket">Гусь</div>
					<p>Привитые гуси
					пoроды Легарт и Большая серая</p>
				</div>
				<div class="divider_basket"></div>
				<div class="basket_price">400 руб.</div>
				<div class="divider_basket"></div>
				<div class="number">
				    <span class="minus">-</span>
				    <input type="text" value="1" size="5" class="input_plus" />
				    <span class="plus">+</span>
				</div>
				<div class="divider_basket"></div>
				<div class="basket_price">1600 руб.</div>
			</div>
			<div class="modal_basket_block clearfix">
				<div class="basket_img">
					<img src="images/item.jpg" alt="Alt">
				</div>
				<div class="basket_info">
					<div class="title_basket">Гусь</div>
					<p>Привитые гуси
					пoроды Легарт и Большая серая</p>
				</div>
				<div class="divider_basket"></div>
				<div class="basket_price">400 руб.</div>
				<div class="divider_basket"></div>
				<div class="number">
				    <span class="minus">-</span>
				    <input type="text" value="1" size="5" class="input_plus" />
				    <span class="plus">+</span>
				</div>
				<div class="divider_basket"></div>
				<div class="basket_price">1600 руб.</div>
			</div>
			<div class="clearfix"></div>
			<div class="buttons_wrap clearfix">
			<a href="#" class="next">Продолжить<br> покупки</a>
			<a href="#" class="zakaz">Оформить заказ</a>
			</div>
		</div>
    </div> 
<!-- END MODAL1 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/fancySelect.js"></script>
<script src="js/script.js"></script>
<script>
ymaps.ready(function() {
    var Mymap = new ymaps.Map("map", {
        center: [59.939095, 30.315868],
        zoom: 12,
        type: 'yandex#map',
        flying: true,
        controls: ['zoomControl']
    });
   	Mymap.controls.add("zoomControl");
    Mymap.geoObjects.add(new ymaps.Placemark([59.939095, 30.315868], {
       hintContent: 'Собственный значок метки',
             balloonContent: 'САНКТ-ПЕТЕРБУРГ, УЛ. ШКОЛЬНАЯ 8'
         }, {
             // Опции.
             // Необходимо указать данный тип макета.
             iconLayout: 'default#image',
             // Своё изображение иконки метки.
             iconImageHref: 'images//marker.png',
             // Размеры метки.
            iconImageSize: [50, 62],
            // Смещение левого верхнего угла иконки относительно
             // её "ножки" (точки привязки).
             iconImageOffset: [-15, -15]
    }));
    Mymap.geoObjects.add(new ymaps.Placemark([59.949095, 30.344444], {
      hintContent: 'Собственный значок метки',
             balloonContent: 'САНКТ-ПЕТЕРБУРГ, УЛ. ШКОЛЬНАЯ 8'
         }, {
             // Опции.
             // Необходимо указать данный тип макета.
             iconLayout: 'default#image',
             // Своё изображение иконки метки.
             iconImageHref: 'images//marker.png',
             // Размеры метки.
            iconImageSize: [50, 62],
            // Смещение левого верхнего угла иконки относительно
             // её "ножки" (точки привязки).
             iconImageOffset: [-15, -15]
    }));
    Mymap.behaviors.disable('scrollZoom');
});
</script>
 </body>
</html>