<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Torex</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.fancybox.css" rel="stylesheet">
</head>
<body>
<!-- HEADER -->
<header>
	<div class="main_container clearfix">
		<div class="logo">
			<img src="images/logo.jpg" alt="Torex">
			<div class="logo_text">Фирменный<br>
			салон Torex</div>
		</div>
		<div class="adress_wrap">
			<span>8 (495) 727-57-05</span>
			<p>г.Москва, Каширское шоссе, 19, корп. 2,</p>
			<p>3 этаж; павильон 3-27, ТК Каширский двор.</p>
		</div>
	</div>
</header>
<!-- END HEADER -->
<!-- MAIN SLIDER -->
<div class="main_slider_bg">
	<div class="main_container clearfix">
		<div class="send_page_block">
			<p>Благодарим, что обратились к нам! Наш представитель свяжется с Вами в течение 2 часов в рабочее время. Ожидайте нашего звонка! </p>
			<a href="index.html">Вернуться на главную</a>
		</div>
	</div>
</div>
<!-- END MAIN SLIDER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
        <div class="nonebox" id="nonebox"> 
         <a class="box-close one" id="box-close" href="#"></a>
  			<form action="mail.php" method="post">
  				<div class="modal_h1">Форма обратной связи</div>
				<input type="text" name="name" placeholder="Ваше имя" class="contact_us_input">
				<input type="text" name="mail" placeholder="Ваш e-mail" class="contact_us_input">
				<input type="submit" value="Заказать обратный звонок" class="contact_submit">
				<input type="hidden" name="formData" value="Заявка с сайта TOREX">
			</form>
        </div> 
<!-- END MODAL1 -->
<!-- MODAL2 -->
<div class="overlay2" id="overlay2" style="display:none;"></div> 
		<div class="main_container clearfix">
        <div class="nonebox2" id="nonebox2"> 
         <a class="box-close one" id="box-close2" href="#"></a>
  			<div class="big_modal_wrap clearfix">
  				<div class="left_s">
  					<img src="images/photo_inside.jpg" alt="Torex">
  					<div class="otdelka_block">
  						<div class="title">Внешняя отделка:</div>
  						<img src="images/otdelka1.jpg" alt="Torex">
  						<span>Панель MDF с<br> покрытием Cortorex</span>
  					</div>
  					<div class="otdelka_block">
  						<div class="title">Внутренняя отделка:</div>
  						<img src="images/otdelka2.jpg" alt="Torex">
  						<span>Панель MDF с<br> покрытием Cortorex</span>
  					</div>
  					<div class="clearfix"></div>
  					<form action="mail.php" method="post">
  						<input type="text" name="name" placeholder="Ваше имя" class="contact_us_input">
						<input type="text" name="mail" placeholder="Ваш e-mail" class="contact_us_input">
						<input type="submit" value="Заказать дверь со скидкой" class="contact_submit">
						<input type="hidden" name="formData" value="Заявка с сайта TOREX">
  					</form>
  				</div>
  				<div class="right_s">
  					<div class="big_title">Ultimatum PP</div>
  					<div class="description_wrap">
  						<div class="desc_block clearfix">
  						<span>Замок основной:</span><p>Border 3B8-6 ПБ5ТЗШ, 4-го класса взломостойкости.</p>
  						</div>
  						<div class="desc_block clearfix">
  						<span>Замок дополнительный:</span><p>Crit 3Bk-7PM-006, 4-го класса взломостойкости и секретности</p>
  						</div>
  						<div class="desc_block clearfix">
  						<span>А так же:</span><p>Противосъемные ригеля, девиатор, двойной контур уплотнителя, металлический эксцентрик, глазок с металлической шторкой широкого угла обзора, хромированная замковая и ответная планки, накладной порог из нержавеющей стали.</p>
  						</div>
  						<div class="desc_block clearfix">
  						<span>Доп. комплектация:</span><p>Видеоглазок.</p>
  						</div>
  						<div class="desc_block clearfix">
  						<span>Тип внешней отделки:</span><p>Панель MDF с покрытием Cortorex</p>
  						</div>
  						<div class="desc_block clearfix">
  						<span>Рисунок внешней отделки:</span><p>5D1</p>
  						</div>
  						<div class="desc_block clearfix">
  						<span>Цвет внешней отделки:</span><p>Дуб медовый (арт. КТ Дуб медовый)</p>
  						</div>
  						<div class="desc_block clearfix">
  						<span>Тип внутренней отделки:</span><p>Панель MDF с покрытием Cortorex</p>
  						</div>
  						<div class="desc_block clearfix">
  						<span>Рисунок внутренней отделки:</span><p>5D1</p>
  						</div>
  						<div class="desc_block clearfix">
  						<span>Цвет внутренней отделки:</span><p>Дуб медовый (арт. КТ Дуб медовый)</p>
  						</div>
  					</div>
  					<div class="clearfix"></div>
  					<div class="total">от 37 890 <span>A</span></div>
  				</div>
  			</div>
        </div> 
        </div>
<!-- END MODAL2 -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/script.js"></script>
<script src="http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
var myMap;

ymaps.ready(init);

function init () {
    myMap = new ymaps.Map('map', {
        // Санкт-Петербург
        center: [55.664588, 37.63464],
        zoom: 15,
         controls: []
    }, {
        searchControlProvider: 'yandex#search'
    });

    myMap.behaviors
        // Отключаем часть включенных по умолчанию поведений:
        //  - drag - перемещение карты при нажатой левой кнопки мыши;
        //  - magnifier.rightButton - увеличение области, выделенной правой кнопкой мыши.
        .disable(['drag', 'rightMouseButtonMagnifier', 'scrollZoom'])
        var position = myMap.getCenter();

  
  myMap.setCenter([ position[0], position[1]+0.002 ]);
        var myPlacemark = new ymaps.Placemark([ position[0], position[1] ], {
  
	balloonContentBody: [
	'<address>',
	'<strong>г. Москва, ул. Большая академическая 44, к2<br>+7 495 008-1234<br>info@site.ru<br>ПН-ПТ с 9:00 - 21:00<br>				СБ-ВС с 10:00 - 16:00</strong>',
	'</address>'
	].join('  ')
	}, {
	preset: 'twirl#Icon'
	});
myMap.geoObjects.add(myPlacemark);
}
</script>
</body>
</html>