<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<title>Montana ADV</title>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/jquery.bxslider.css" rel="stylesheet">
	<link href="css/media.css" rel="stylesheet">
</head>
<body>
<!-- HEADER	 -->
	<header class="some_top1">
		<div class="main_container clearfix">
			<div class="logo">montana <span>adv</span></div>
			<ul class="main_menu">
				<li><a href="#" class="ontop1">Главная</a></li>
				<li><a href="#" class="ontop3">Услуги</a></li>
				<li><a href="#" class="ontop2">О нас</a></li>
				<li><a href="#" class="ontop4">Отзывы</a></li>
			</ul>
			<div class="phone_top">
				<p>8 (499) 955-59-55</p>
				<a href="#">Заказать обратный звонок</a>
			</div>
		</div>
	</header>
<!-- END HEADER	 -->
<!-- MAIN SLIDER -->
	<div class="main_slider_wrap">
		<ul class="bxslider">
			<li class="first_child">
				<div class="main_container clearfix">
					<h1>создание сайта </h1>
					<h2>Создаем по-настоящему продающие сайты и интернет магазины</h2>
					<a href="#" class="show_more">Узнать больше</a>
				</div>
			</li>
			<li class="second_child">
				<div class="main_container clearfix">
					<h1>продвижение в соцсетях</h1>
					<h2>Только реальные люди и реальные продажи</h2>
					<a href="#" class="show_more">Узнать больше</a>
				</div>
			</li>
			<li class="third_child">
				<div class="main_container clearfix">
					<h1>Контекстная реклама</h1>
					<h2>Получайте больше, а платите меньше</h2>
					<a href="#" class="show_more">Узнать больше</a>
				</div>
			</li>
			<li class="four_child">
				<div class="main_container clearfix">
					<h1>раскрутка сайта (seo)</h1>
					<h2>Обеспечим максимум трафика из поиска</h2>
					<a href="#" class="show_more">Узнать больше</a>
				</div>
			</li>
		</ul>
	</div>
<!-- END MAIN SLIDER -->
<!-- ADVANTAGES -->
	<div class="advantages_wrap some_top3">
		<div class="main_container clearfix">
			<div class="l_side">
				<div class="advantages_block clearfix">
					<img src="images/advantages_img1.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Создание сайта</div>
						<p>Узнайте почему разработанный с нами сайт будет продавать лучше, чем у ваших конкурентов, и как мы этого добиваемся.</p>
						<a href="#">Подробнее</a>
					</div>
				</div>
				<div class="advantages_block clearfix">
					<img src="images/advantages_img2.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Раскрутка сайта</div>
						<p>Привлечение трафика из Google и Яндекс только по целевым запросам с помощью проверенных стратегий при  минимальных рисках.</p>
						<a href="#">Подробнее</a>
					</div>
				</div>
				<div class="advantages_block clearfix">
					<img src="images/advantages_img3.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Контекстная реклама</div>
						<p>Хотите узнать, как выжать максимум из контекстной рекламы? Получайте больше продаж, и при этом платите за клик меньше конкурентов.</p>
						<a href="#">Подробнее</a>
					</div>
				</div>
				<div class="advantages_block clearfix">
					<img src="images/advantages_img4.png" alt="Alt">
					<div class="advantages_text">
						<div class="title">Реклама в соцсетях</div>
						<p>Забудьте про накрутку ботами. Только настоящие люди из вашей  целевой аудитории. Реальный трафик и реальные продажи.</p>
						<a href="#">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="r_side clearfix">
				<div class="main_form clearfix">
					<form id="form1">
					<div class="title">Оставьте заявку <br>и мы вам перезвоним</div>
					<input type="text" name="name" placeholder="Ваше имя" class="main_input" required>
					<input type="text" name="phone" placeholder="Ваш телефон" class="main_input" required>
					<input type="submit" value="Отправить заявку" class="main_submit">
					</form>
				</div>
			</div>
		</div>
	</div>
<!-- END ADVANTAGES -->
<!-- ABOUT -->
	<div class="about_bg clearfix some_top2">
		<div class="main_container clearfix">
			<div class="main_h1">О нас</div>
			<p>Как и в других видах маркетинга, здесь есть базовые компоненты:</p>
			<p>- Продукт или услуга, которые вы продвигаете на рынок при помощи онлайн-каналов (это может быть также конкретная личность, имидж компании и др.)</p>
			<p>- Предложение – уникальная особенность продвигаемого вами товара, акция или скидка, дополнительный бонус или сервисные преимущества; словом то, что может составить выгоду для потенциального клиента и с чем вы выходите на рынок</p>
			<p>- Целевая аудитория – все те, кому адресовано ваше предложение; это могут быть люди определенного возраста, региона, профессии, которые ищут информацию о предлагаемом вами продукте или услуге в интернете и кого вы должны сначала привлечь на сайт, а затем превратить в своих клиентов.</p>
			<p>- Конверсия – превращение посетителей ресурса в ваших клиентов</p>
			<p>- Продвижение – те меры и методы, которыми вы пользуетесь для привлечения вашей целевой аудитории и достижения максимальной конверсии.</p>
			<a href="#">Подробнее</a>
		</div>
	</div>
<!-- END ABOUT -->
<!-- REVIEWS -->
	<div class="review_bg clearfix some_top4">
		<div class="main_container clearfix">
			<div class="main_h1">Отзывы</div>
			<div class="review_slider_wrap">
			<ul class="bxslider">
				<li>
					<img src="images/review_img.png" alt="Alt">
					<div class="title">Анита М. от 1 декабря 2016</div>
					<p>Я занимаюсь созданием, продвижением и развитием собственного интернет-магазина по продаже ручного и строительного инструмента, а также созданием и продвижением некоторых собственных проектов.</p>
					<p>Интернет-магазин существует уже около года. Вначале, создав магазин на платформе tiu.ru, я смог оценить, насколько быстро и удобно можно найти новых клиентов в интернете.</p>
					<p>Однако отсутствие понимания того, как управлять магазином, как его продвигать и рекламировать и как правильно организовать работу с клиентами, сподвигло меня на поиск информации, как же собственно это все осуществить. </p>
				</li>
				<li>
					<img src="images/review_img.png" alt="Alt">
					<div class="title">Анита М. от 1 декабря 2016</div>
					<p>Я занимаюсь созданием, продвижением и развитием собственного интернет-магазина по продаже ручного и строительного инструмента, а также созданием и продвижением некоторых собственных проектов.</p>
					<p>Интернет-магазин существует уже около года. Вначале, создав магазин на платформе tiu.ru, я смог оценить, насколько быстро и удобно можно найти новых клиентов в интернете.</p>
					<p>Однако отсутствие понимания того, как управлять магазином, как его продвигать и рекламировать и как правильно организовать работу с клиентами, сподвигло меня на поиск информации, как же собственно это все осуществить. </p>
				</li>
			</ul>
			<a href="#" class="show_more_reviews">Все отзывы</a>
			</div>
		</div>
	</div>
<!-- END REVIEWS -->
<!-- FOOTER -->
	<footer>
		<div class="main_container clearfix">
			<div class="logo">montana <span>adv</span></div>
			<div class="copyright">Montana adv © 2017 Все права защищены.</div>
			<div class="phone_top">
				<p>8 (499) 955-59-55</p>
				<div class="social_wrap">
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
				</div>
			</div>
		</div>
	</footer>
<!-- END FOOTER -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
<?php
$phone = strip_tags($_POST['phone']);
$phone = urlencode($phone);
$info = strip_tags($_POST['info']);
$info = urlencode($info);
if (($phone != "")and($info != "")){
$file = file_get_contents("http://mobileshina24.ru/bitrix24/?secret=X8zwgmmlm8&method=new&site=mobileshina24.ru&phone=$phone&info=Адрес:$info");
}
?>
 </body>
</html>