<!DOCTYPE HTML>
<html>
	<head>
		<title>FreshWebMoney</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=100" >
		<meta name="description" content="WebMoney - Вывести Вебмани наличными в Барнауле или перевести пополнить Вебмани без процентов быстро и без риска на счет в банке Альфа-Банк и Сбербанк." />
		<meta name="keywords" content="вебмани, webmoney, пополнить, вывести" />
        <meta name='yandex-verification' content='75ee569fabb07120' />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrollzer.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/reset.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
        
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>
		<div id="wrapper">

			<!-- Header -->

				<section id="header" class="skel-layers-fixed">
					<header>
						<span class="image avatar"><img src="images/foto.png" alt="" /></span>
						<h3 id="logo"><a href="" target="_blank">Синицын Виталий</a></h3>
						<p>Официальный дилер WebMoney Гарант онлайн сделок </p> 
					</header>
					<nav id="nav">
						<ul>
							<li><a href="#one" class="active">О сайте</a></li>
							<li><a href="#two">Доступные карты WM</a></li>
							<li><a href="#three">Преймущества WM карт</a></li>
							<li><a href="#four">О себе</a></li>
						</ul>
					</nav>
					<div id="header_footer">
						<a id="webmoney" href="" ></a>
						<a id="ok" href=""></a>	
						<a id="fb" href=""></a>
						<a id="vk" href=""></a>
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					
					<!-- One -->
						<section id="one">
							<div class="container clearfix">
							<div  class="logo"><img src="images/logo.png"></div>
							<div class="h1_top">Продажа карт WebMoney разных номиналов.</div>
							<div class="h1_top">У нас лучшие цены!</div>
							<p>Укажите ваши контактные данные для связи</p>
							<input type="text" id="name" placeholder="Ваше имя" onfocus="this.placeholder=''" onblur="this.placeholder='Ваше имя'")>
							<input type="text" id="phone" placeholder="Ваш телефон" onfocus="this.placeholder='+7 (___) ___-__-__'" onblur="this.placeholder='Ваш телефон'">
							<a href="" class="button">Заказать звонок</a>
	
							</div>
						</section>

					<!-- Two -->
					<div class="clearfix">
						<section id="two">							
							<div class="container">
							<div class="h1_second">Доступные карты WebMoney</div>
							<div class="cards">
							<div class="card">
								<img src="images/1000wmr.png" class="card_img">
								<a href="" class="order_button">Заказать карту</a>
							</div>
							<div class="card">
								<img src="images/5000wmr.png" class="card_img">
								<a href="" class="order_button">Заказать карту</a>
							</div>
							<div class="card">
								<img src="images/10000wmr.png" class="card_img">
								<a href="" class="order_button">Заказать карту</a>		
							</div>
							</div>
							<div class="h1_center">Оплатить с помощью сервиса:</div>
							<div id="robocassa"><a href=""></a></div>
							</div>
						</section>
					</div>
					<!-- Three -->
					<div class="clearfix">
						<section id="three">
							<div class="container clearfix">
							<div class="h1_third">Преймущества WM карт</div>
								<div class="advantages">
									<img src="images/icon1.png" height="182" width="182" alt="">
									<div class="advantages_h1">Пополняй мгновенно</div>
									<p>Пополнение нужного кошелька<br> (Z, R, E, U) происходит<br> мгновенно, без лишних усилий</p>
								</div>
								<div class="advantages">
									<img src="images/icon2.png" height="182" width="182" alt="">
									<div class="advantages_h1">Плати безопасно</div>
									<p>В расчете не участвуют<br> наличные деньги, платеж<br> обезличен для получателя</p>
								</div>
								<div class="advantages">
									<img src="images/icon3.png" height="182" width="182" alt="">
									<div class="advantages_h1">Оплачивай просто</div>
									<p>Для оплаты услуги, товара<br> - просто оплати картой нужного номинала</p>
								</div>	
							</div>
						</section>
					</div>
					<!-- Four -->
						<section id="four">
							<div class="container">
							<div class="h1_four">О себе</div>
							<p class="bigtext">Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую, как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую близость всемогущего, создавшего </p>	
							</div>
						</section>
					
				
				</div>
			<!-- Footer -->
			<section id="footer" class="clearfix">
				<img src="images/logo_mini.png" height="67" width="310" alt="">
				<p class="footer_text">Webmoney. Вывод WMR наличными. Обналичить WMR быстро.<br> Как пополнить WMR кошелек.</p>	
				<p class="footer_text1">© Fresh WebMoney. Все права защищены.</p>
			</section>
			</div>	

		</div>
	</body>
</html>