<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width = device-width, initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css" />
	<link href="css/media.css" rel="stylesheet">
	<title>Дом чудес - сказочный мир для вашего ребёнка!</title>
</head>
<body>
<!-- START HEADER -->
<header class="clearfix">
	<div class="wrapper clearfix">
		<div class="logo_section">
			<img src="img/logo.png" alt="Alt">
			<div class="contact_link">Единый контакт-центр:   <span>+7 (495) 204-28-54</span></div>
			<a href="#" class="mail_link">info@domchudes.com</a>
			<div class="color_buttons">
				<a href="#">Кабинет родителя</a>
				<a href="#" class="open_modal">Заказать звонок</a>
			</div>
		</div>
		<div class="header_right_section">
			<div class="social_wrap">
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
			</div>
			<div class="clearfix"></div>
			<ul>
				<li><span><img src="img/top_icon1.png" alt="Alt"></span><a href="#">Детские центры</a>
					<ul>
						<li><a href="#">На Мичуринском пр-те</a></li>
						<li><a href="#">На Ракетном б-ре (вднх)</a></li>
					</ul>
				</li>
				<li><span><img src="img/top_icon2.png" alt="Alt"></span><a href="#">Методический отдел</a></li>
				<li><span><img src="img/top_icon3.png" alt="Alt"></span><a href="#">Франшиза</a></li>
			</ul>
			<ul>
				<li><span><img src="img/top_icon4.png" alt="Alt"></span><a href="#">Агентство праздников</a></li>
				<li><span><img src="img/top_icon5.png" alt="Alt"></span><a href="#">Творческие мастерские</a></li>
				<li><span><img src="img/top_icon6.png" alt="Alt"></span><a href="#">Летние и сезонные лагеря</a></li>
				<li><span><img src="img/top_icon7.png" alt="Alt"></span><a href="#">Родительский клуб</a></li>
				<li><span><img src="img/top_icon8.png" alt="Alt"></span><a href="#">Калейдоскоп детских проектов</a></li>
			</ul>
			<div class="toggle_menu">
				<a href="#menu" id="toggle"><span></span></a>
			</div>
		</div>
		<ul class="breadcrumbs">
			<li><a href="#">Агентство Праздников Дом Чудес</a><span>/</span></li>
			<li><a href="#">Программы Агентства праздников</a><span>/</span></li>
			<li><a href="#">Пиратские приключения или в поисках клада</a></li>
		</ul>
	</div>
</header>
<!-- END HEADER- -->
<div class="clearfix"></div>
<!-- START DIV-1 -->
<section class="div-1 clearfix">
	<section class="wrapper">
		<header>
			<h1>ПИРАТСКИЕ ПРИКЛЮЧЕНИЯ<br>или В ПОИСКАХ КЛАДА</h1>
		</header>
		<p>Романтика морских приключений. Корсары, флибустьеры, джентльмены удачи. Риск и благородство. Поиск сокровищ и фантастических артефактов. Вот, что привлекает маленьких пиратов! Всё это вы найдёте в нашей костюмированной программе Пиратские приключения.</p>
		<img src="img/main_knife.png" alt="Alt">
		<h3>Берегитесь родители, после праздника у вас дома появится <br>
		<span>МАЛЕНЬКИЙ ПИРАТ!!!</span></h3>
	</section>
</section>
<!-- END DIV-1 -->


<!-- START DIV-4 -->
<section class="div-4">
	<section class="wrapper">
		<header>
			<h1>фото программы</h1>
			<img src="img/scull.png" alt="Alt" class="scull">
		</header>
		<img src="img/bg-div-4.png" alt="" class="div-4-img">
	</section>
</section>
<!-- END DIV-4 -->
<!-- START DIV-15 -->
<section class="div-15 clearfix">
	<section class="wrapper">
		<header>
			<h2>У вас есть вопросы?</h2>
		</header>
		<p>Узнайте подробнее о наших программах, акциях и об аниматорах позвоните нам по тел +7 (495) 204-28-54, напишите на по электронной почте <a href="#">info@domchudes.com</a>, или заполните форму обратной связи и наш менеджер свяжется с вами в удобное для вас время:</p>
		<form id="form30">
			<p><input type="text" name="name" placeholder="Введите Ваше имя" /></p><!--
			--><p><input type="text" name="mail" placeholder="Введите Ваш телефон или e-mail" /></p><!--
			--><p class="both"><input type="submit" name="Ok" value="Отправить заявку" /></p>
			<input type="hidden" name="formData" value="Заявка с сайта Агентство праздников ДЧ - Пиратская вечеринка - Вопросы">
		</form>
	</section>
</section>
<!-- END DIV-15 -->
<div class="sokrovishe_bg clearfix">
	<section class="wrapper clearfix">
		<div class="s_block">
			<p>Под руководством морского волка, побывавшего в разных передрягах, но не растерявшего чувства юмора и детского задора, ребята отправляются на поиски сокровищ. Их ждут конкурсы, загадки и головоломки, испытания в ловкости,
			силе и смекалке, ну и конечно пиратские сокровища.</p>
			<span>Все их старания будут вознаграждены и они станут настоящими пиратами!!!</span>
		</div>
	</section>
</div>
<!-- START DIV-9 -->
<div class="div-9 clearfix">
<section class="wrapper">
	<header>
		<h1>ВАРИАНТЫ НАШЕГО ПРЕДЛОЖЕНИЯ</h1>
	</header>
	<div>
	<div class="bl">
		<h3 class="f">Classik</h3>
		<h4>Программа 2 часа</h4>
		<p>Из них 1,5 часа анимационная программа, шаромоделирование, тематическое оформление зала и сервировка стола, музыкальное наполнение, чайный стол, персональный менеджер вашего праздника.
</p>

	
	<div class="pr_block">
	<hr>
	<div class="price">15 00 руб.</div>
	</div>
	</div>
	<div class="bl">
		<h3 class="s">Premium</h3>
		<h4>Программа 3 часа</h4>
		<p>Тематическое оформление зала с элементами декораций, чайный стол, сопровождение праздника, музыкальное наполнение, пиратская мастерская (на выбор: роспись футболок, декор рамок, гелиевые свечи, магнит на холодильник), частичный аквагримм, частичное костюмирование, шаромоделирование, гелиевые шары 10 штук, тематическая сервировка стола, сервировка фуршетного стола для родителей.

</p>
		<div class="pr_block w_sp">
	<hr>
	<div class="price">19 000 руб. <br><span>+ набор на ребенка для мастерской</span></div>
	</div>
	</div>
	<div class="bl">
		<h3 class="t">VIP</h3>
		<h4>Программа Продолжительность от 4 часа </h4>
		<p>Программа -квест, шоу ( на выбор: мыльных пузырей, бумажная вечеринка, школа юного бармена) фото или видео сьемка, тематическое оформление места проведения праздника, аквагримм, частичное костюмирование, призы для участников, пиратская мастерская ( на выбор: роспись футболок, декор рамок, гелиевые свечи, магнит на холодильник), пиратская дискотека.
</p>
<div class="pr_block">
	<hr>
	<div class="price">28 000 руб.</div>
	</div>
	</div>
	</div>

</section>
</div>
<!-- END DIV-9 -->
<!-- START DIV-8 -->
<section class="div-8 clearfix">
	<section class="wrapper">
		<header>
			<h1>ВИДЕО ПРАЗДНИКА</h1>
		</header>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/VKyCq0S0Q5k" frameborder="0" allowfullscreen></iframe>
		<p>Подпишитесь на наш youtube канал:<br />
			<a href="https://www.youtube.com/c/domchudes" target="_blank">https://www.youtube.com/c/domchudes</a>
		</p>
	</section>
</section>
<!-- END DIV-8 -->
<!-- MAP -->
<div id="map57503e832bd7d">
	<section class="wrapper">
		<div class="map_inside">
			<div class="title">Места где можно<br />провести праздник:</div>
			<p>м. ВДНХ Ракетный бул-р д. 17</p>
			<p>м. Университет Мичуринский пр-т д. 21 корп. 4</p>
			<p>м. Выхино, м.Новокосино, ул.Т.Макаровой д. 8</p>
			<p>м. ВДНХ Ярославская улица, кафе «Соната»</p>
			<a href="#" class="open_modal">Отправить заявку</a>
		</div>
	</section>
</div>
<!-- END MAP -->
	<div class="div-20">
		<section class="wrapper">
			<h1>Вы можете дополнить <br>свой праздник</h1>
			<div class="circles_wrap clearfix">
				<div class="circles_block">
					<img src="img/prazdnik_img1.png" alt="Alt">
					<div class="title">Пиратская мастерская</div>
				</div>
				<div class="circles_block">
					<img src="img/prazdnik_img2.png" alt="Alt">
					<div class="title">Аквагримм</div>
				</div>
				<div class="circles_block">
					<img src="img/prazdnik_img3.png" alt="Alt">
					<div class="title">Фото и видео сьемка</div>
				</div>
				<div class="circles_block">
					<img src="img/prazdnik_img4.png" alt="Alt">
					<div class="title">Торт</div>
				</div>
				<div class="circles_block">
					<img src="img/prazdnik_img5.png" alt="Alt">
					<div class="title">Бумажная вечеринка</div>
				</div>
				<div class="circles_block">
					<img src="img/prazdnik_img6.png" alt="Alt">
					<div class="title">Гелиевые шары</div>
				</div>
			</div>
			<div class="desc_circles">И многое другое Вы <a href="#">найдете сдесь</a></div>
		</section>
	</div>
<!-- START DIV-15 -->
<section class="div-15 clearfix action_bg">
	<section class="wrapper">
		<header>
			<h2>АКЦИЯ ДНЯ! </h2>
		</header>
		<p>Закажите пакет «Премиум» и получите 1 кг <br>праздничного торта в подарок!</p>
		<form id="form31">
			<p><input type="text" name="name" placeholder="Введите Ваше имя" /></p><!--
			--><p><input type="text" name="mail" placeholder="Введите Ваш телефон или e-mail" /></p><!--
			--><p class="both"><input type="submit" name="Ok" value="Отправить заявку" /></p>
			<input type="hidden" name="formData" value="Заявка с сайта Агентство праздников ДЧ - Пиратская вечеринка - Акция">
		</form>
	</section>
</section>
<!-- END DIV-15 -->
<!-- START DIV-5 -->
<section class="div-5 clearfix">
	<section class="wrapper">
		<header>
			<h1>ПОЧЕМУ ОБРАЩАЮТСЯ в наше АП?</h1>
			<div class="subtitle"><span>АП ДЧ</span> - направление большого детского проекта <span>Дом Чудес</span></div>
			<h3>Мы поможем, когда праздник нужно организовать срочно! <br>Мы знаем рецепт хорошего праздника!</h3>
		</header>
		<div>
		<figure>
			<img src="img/yellow_cirlce1.png" alt="Alt">
			<figcaption>Индивидуальный подход к организации праздника</figcaption>
		</figure>
		<figure>
			<img src="img/yellow_cirlce2.png" alt="Alt">
			<figcaption>Собственная школа<br> ведущих и аниматоров </figcaption>
		</figure>
		<figure>
			<img src="img/yellow_cirlce3.png" alt="Alt">
			<figcaption>Качественный<br> реквизит </figcaption>
		</figure>
		</div>
		<div>
		<figure>
			<img src="img/yellow_cirlce4.png" alt="Alt">
			<figcaption>Более 5 лет организуем<br> детские праздники </figcaption>
		</figure>
		<figure>
			<img src="img/yellow_cirlce5.png" alt="Alt">
			<figcaption>Эксклюзивные программы</figcaption>
		</figure>
		<figure>
			<img src="img/yellow_cirlce6.png" alt="Alt">
			<figcaption>Доступные цены</figcaption>
		</figure>
		</div>
	</section>
</section>
<!-- END DIV-5 -->
	<div class="reviews_bg clearfix">
		<section class="wrapper">
			<h1>отзывы наших клиентов</h1>
			<ul class="bxslider1">
				<li>
					<div class="review_block clearfix">
						<img src="img/review_photo.png" alt="Alt">
						<div class="review_text">
							<div class="title">Ольга Иванова и Михаил</div>
							<div class="subtitle">День Рождение Михаила, 6 лет </div>
							<p>Каждый год, на протяжении многих лет, мы отмечаем дни рождения сыновей с Нарнией. Каждый год ребята нас радуют! Вчера отметили 9-ти летие сына в загородном комплексе Кампа. Состоялся выездной футбольный матч Манчестер сити, любимой команды сына. Ведущие отлично подготовились к празднику и все викторины были посвящены, конечно же, любимой команде. Девчонки, которые были у нас на празднике, тоже не скучали, они разучили синхрончик и выступали с танцем черлидеров в группе поддержки. Всем было весело! Спасибо за праздник!</p>
						</div>
					</div>
				</li>
				<li>
					<div class="review_block clearfix">
						<img src="img/review_photo.png" alt="Alt">
						<div class="review_text">
							<div class="title">Ольга Иванова и Михаил</div>
							<div class="subtitle">День Рождение Михаила, 6 лет </div>
							<p>Каждый год, на протяжении многих лет, мы отмечаем дни рождения сыновей с Нарнией. Каждый год ребята нас радуют! Вчера отметили 9-ти летие сына в загородном комплексе Кампа. Состоялся выездной футбольный матч Манчестер сити, любимой команды сына. Ведущие отлично подготовились к празднику и все викторины были посвящены, конечно же, любимой команде. Девчонки, которые были у нас на празднике, тоже не скучали, они разучили синхрончик и выступали с танцем черлидеров в группе поддержки. Всем было весело! Спасибо за праздник!</p>
						</div>
					</div>
				</li>
			</ul>
		</section>
	</div>
	<div class="animators_wrap">
		<section class="wrapper">
			<h1>АНИМАТОРЫ (ПЕРСОНАЖИ)</h1>
			<h3>Предлагаем Вашему вниманию <span>огромный выбор</span> персонажий для любого праздника! <br>Вы, Ваш ребенок и Ваши гости останетесь безгранично довольны!</h3>

			<ul class="bxslider2">
				<li>
					<div class="animators_wrap clearfix">
						<div class="animators_block">
							<img src="img/animator_img1.png" alt="Alt">
							<div class="title">Железный человек</div>
						</div>
						<div class="animators_block">
							<img src="img/animator_img2.png" alt="Alt">
							<div class="title">Алиса в стране Чудес</div>
						</div>
						<div class="animators_block">
							<img src="img/animator_img3.png" alt="Alt">
							<div class="title">Индейцы</div>
						</div>
						<div class="animators_block">
							<img src="img/animator_img4.png" alt="Alt">
							<div class="title">Гарри Поттер</div>
						</div>
					</div>
				</li>
				<li>
					<div class="animators_wrap clearfix">
						<div class="animators_block">
							<img src="img/animator_img1.png" alt="Alt">
							<div class="title">Железный человек</div>
						</div>
						<div class="animators_block">
							<img src="img/animator_img2.png" alt="Alt">
							<div class="title">Алиса в стране Чудес</div>
						</div>
						<div class="animators_block">
							<img src="img/animator_img3.png" alt="Alt">
							<div class="title">Индейцы</div>
						</div>
						<div class="animators_block">
							<img src="img/animator_img4.png" alt="Alt">
							<div class="title">Гарри Поттер</div>
						</div>
					</div>
				</li>
			</ul>
		</section>
	</div>
<!-- START DIV-15 -->
<section class="div-15 clearfix order_bg">
	<section class="wrapper">
		<header>
			<h2>Хотите заказать праздник?</h2>
		</header>
		<p>Узнайте подробнее о наших программах, акциях и об аниматорах позвоните нам по тел +7 (495) 204-28-54, напишите на по электронной почте <a href="#">info@domchudes.com</a>, или заполните форму обратной связи и наш менеджер свяжется с вами в удобное для вас время:</p>
		<form id="form32">
			<p><input type="text" name="name" placeholder="Введите Ваше имя" /></p><!--
			--><p><input type="text" name="mail" placeholder="Введите Ваш телефон или e-mail" /></p><!--
			--><p class="both"><input type="submit" name="Ok" value="Отправить заявку" /></p>
			<input type="hidden" name="formData" value="Заявка с сайта Агентство праздников ДЧ - Пиратская вечеринка - Праздник">
		</form>
	</section>
</section>
<!-- END DIV-15 -->
	<section class="wrapper">
		<h1>Мы в соц. сетях:</h1>
		<div class="big_social_wrap">
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
			<a href="#"></a>
		</div>
	</section>

<!-- START FOOTER- -->
<footer id="footer">
	<div class="wrapper clearfix">
		<div class="logo_section">
			<img src="img/logo.png" alt="Alt">
			<div class="contact_link">Единый контакт-центр:   <span>+7 (495) 204-28-54</span></div>
			<a href="#" class="mail_link">info@domchudes.com</a>
			<div class="color_buttons">
				<a href="#">Кабинет родителя</a>
				<a href="#" class="open_modal">Заказать звонок</a>
			</div>
		</div>
		<div class="header_right_section">
			<div class="clearfix"></div>
			<ul>
				<li><span><img src="img/top_icon1.png" alt="Alt"></span><a href="#">Детские центры</a>
					<ul>
						<li><a href="#">На Мичуринском пр-те</a></li>
						<li><a href="#">На Ракетном б-ре (вднх)</a></li>
					</ul>
				</li>
				<li><span><img src="img/top_icon2.png" alt="Alt"></span><a href="#">Методический отдел</a></li>
				<li><span><img src="img/top_icon3.png" alt="Alt"></span><a href="#">Франшиза</a></li>
			</ul>
			<ul>
				<li><span><img src="img/top_icon4.png" alt="Alt"></span><a href="#">Агентство праздников</a></li>
				<li><span><img src="img/top_icon5.png" alt="Alt"></span><a href="#">Творческие мастерские</a></li>
				<li><span><img src="img/top_icon6.png" alt="Alt"></span><a href="#">Летние и сезонные лагеря</a></li>
				<li><span><img src="img/top_icon7.png" alt="Alt"></span><a href="#">Родительский клуб</a></li>
				<li><span><img src="img/top_icon8.png" alt="Alt"></span><a href="#">Калейдоскоп детских проектов</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- END FOOTER -->
<!-- MODAL1 -->
<div class="overlay" id="overlay" style="display:none;"></div> 
    <div class="nonebox" id="nonebox"> 
     <a class="box-close one" id="box-close" href="#"></a>
		<div class="modal_h1">Заказать звонок</div>
		<form id="form10">
			<input type="text" name="name" placeholder="Ваше имя" class="main_input" required>
			<input type="text" name="phone" placeholder="Ваш телефон" class="main_input" required>
			<input type="text" name="mail" placeholder="Ваш E-mail" class="main_input" required>
			<input type="submit" value="Отправить" class="submit_main">
			<input type="hidden" name="formData" value="Заявка с сайта Дом чудес">
		</form>
    </div> 
<!-- END MODAL1 -->
<!-- MODAL5 -->
<div class="overlay" id="overlay5" style="display:none;"></div> 
    <div class="nonebox" id="nonebox5"> 
     <a class="box-close one" id="box-close5" href="index.html"></a>
		<center><p class="success"><span>Спасибо за заявку!</span><br>
    В ближайшее время наш<br> менеджер Вам перезвонит<br>
    <a href="index.html">Спасибо</a></p></center>
    </div> 
<!-- END MODAL5 -->
<div id="menu">
	<ul>
		<li><a href="#">Детские центры</a></li>
		<li><a href="#">Методический отдел</a></li>
		<li><a href="#">Франшиза</a></li>
		<li><a href="#">Агентство праздников</a></li>
		<li><a href="#">Творческие мастерские</a></li>
		<li><a href="#">Летние и сезонные лагеря</a></li>
		<li><a href="#">Родительский клуб</a></li>
		<li><a href="#">Калейдоскоп детских проектов</a></li>
	</ul>
	<div class="close">×</div>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="js/SmoothScroll.js"></script>
<script src="js/map.js"></script>
<script src="js/ajax_form.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>